[2020-04-07 11:35] mnuttall opened #1254 "Session invalidation"
The end of a web session is usually triggered by one of the following two events:

    The user logs out
    The user remains idle for a certain amount of time and the application automatically logs him/her out.
    In cases where these functionalities are not implemented properly are prone to session replay where an attacker gains access to session tokens (e.g.: cookies) and replays the session t

[2020-04-07 11:40] mnuttall opened #1255 "Cross Site Request Forgery vulnerability"
Cross-Site Request Forgery (CSRF) is an attack that forces an end user to execute unwanted actions on a web application in which they're currently authenticated.
CSRF attacks specifically target state-changing requests, not theft of data, since the attacker has no way to see the response to the forged request.

A specific CSRF attack is detailed in https://github.ibm.com/IBMCloudPak4Apps/icpa-secu

[2020-04-07 11:48] AlanGreene commented on #1247
Not a problem, and please don't feel obligated to take it all on yourself. If you want to carve it up and just address specific pieces that's absolutely fine.

Yes that's it exactly. The reason I called it out is that we have a separate list view for ClusterTasks, they're not included with Tasks, so we would have 2 places to trigger the creation of TaskRuns. We could potentially list both `kind`s

[2020-04-07 12:16] AlanGreene commented on #1248
@serg-bs thanks for reporting this. I haven't been able to reproduce in my environments. I don't have access to a Rancher-bashed environment but based on the error I don't think that should matter.

- What Tekton Pipelines version are you running?
- What version of Chrome are you seeing this with?
- When you say you see the same error in Firefox, do you mean the stack trace in the dev console? Or

[2020-04-07 12:42] AlanGreene commented on #1250
X-XSS-Protection is considered flawed and obsolete, the recommendation is generally to use Content-Security-Policy instead (tracked in https://github.com/tektoncd/dashboard/issues/1049).

Chrome removed their XSS Auditor (which was controlled by the X-XSS-Protection header) in version 78
https://www.chromestatus.com/feature/5021976655560704

Firefox has stated no intention to support this header
h

[2020-04-07 12:58] MohamedTalhaoui commented on #1018
Hi,
thanks for the update.
Unfortunately I cannot see the ZenHub board but looking forward for more updates

[2020-04-07 13:02] a-roberts commented on #1247
@JustinKuli good points, my two cents especially as you mention being new and having to relearn React - it'd be easiest to copy and paste the existing PIpelineRun creation code and do the same thing for TaskRuns and have a side-task to do the refactor job (and perhaps that work could be split amongst multiple people).

Regarding ClusterTasks, I think having a chooser (like we do for secret types:

[2020-04-07 14:22] serg-bs commented on #1248
What Tekton Pipelines version are you running?
v0.11.0
What version of Chrome are you seeing this with?
71.0.3578.98
When you say you see the same error in Firefox, do you mean the stack trace in the dev console? Or are you seeing something on the page?
My internet connection not fast. I press F5 and saw same error for a little lite in chrome, but it was replaced with right content. Console have n

[2020-04-07 14:49] AlanGreene commented on #1248
The error points to some of the browser native internationalisation APIs, specifically Intl.DateTimeFormat which has known issues or limitations on older browsers. We use this to format the times and dates displayed on this page as well as other places in the dashboard.

Chrome 71 was released December 2018. Would it be possible to update to a newer version and re-test? Preferably the latest, but

[2020-04-07 15:29] JustinKuli commented on #1247
@AlanGreene I think we're imagining different things for where to create the TaskRuns. Currently PipelineRuns are created from the PipelineRuns page, not the Pipelines page, so I was going to base the work here off of that. In which case, I think the modal would have some way to choose either, and I think @a-roberts's suggestion to use a chooser would make the most sense to keep the experience cle

[2020-04-07 15:45] AlanGreene commented on #1247
Ah yes my bad, I was working on something else related to the Tasks and ClusterTasks pages recently so that was stuck in my head 😆 ignore me...

That sounds good 👍

[2020-04-07 16:05] #1193 closed

[2020-04-07 16:59] eddycharly opened #1257 "Import resources using self-contained pipeline run ?"
https://github.com/tektoncd/dashboard/blob/ef5e0a574bcd0b77a563d51e9be7886f60d5b89e/src/containers/ImportResources/ImportResources.js#L161-L241

Wouldn't it be better to use a pipeline run with embedded resource spec, pipeline spec and task spec (thus creating a self contained pipeline run) instead of relying on multiple resources and pre existing pipeline/task ?

[2020-04-07 18:57] #625 closed

[2020-04-07 19:42] eddycharly opened #1258 "Wrong log format ?"
https://github.com/tektoncd/dashboard/blob/f6568713d1e81f64c74c715a47079e7614282099/pkg/endpoints/dashboard.go#L62

Shouldn't it be `logging.Log.Infof("Dashboard is in read-only mode: %t", asBool)` instead ?

[2020-04-07 22:18] eddycharly commented on #1258
@AlanGreene what’s your opinion on this one https://github.com/tektoncd/dashboard/issues/1257 ?

I could open a PR if you’re ok with it.

[2020-04-07 22:26] AlanGreene commented on #1258
I'll take a look now and respond over there

[2020-04-07 22:34] AlanGreene commented on #1257
Yes I think this makes sense, and it has previously been discussed in https://github.com/tektoncd/dashboard/issues/469

At the time we were waiting for Pipelines to support `resourceSpec`, but since it does now I think we should be able to go ahead with it.

@a-roberts any concerns? Any impact on Kabanero if we modify / potentially remove `pipeline0`?

[2020-04-07 22:46] #1258 closed

[2020-04-08 06:29] serg-bs commented on #1248
Thanks. It helps

[2020-04-08 06:36] eddycharly commented on #1257
Ok, i will wait a little to be sure everyone is ok and will take care of it.

Thanks.

[2020-04-08 10:01] eddycharly opened #1261 "Add support for configurable triggers and pipeline namespaces"
The namespace where Pipelines and/or Triggers is deployed is hard coded in a few places, see below for an example:

https://github.com/tektoncd/dashboard/blob/f6568713d1e81f64c74c715a47079e7614282099/pkg/endpoints/dashboard.go#L112

This makes it difficult to deploy the dashboard in a different namespace than `tekton-pipelines` (it works but a few things are failing).

[2020-04-08 10:02] eddycharly commented on #1261
/assign

[2020-04-08 10:26] AlanGreene commented on #1248
Great to hear! Closing this issue now. Thanks.

[2020-04-08 10:26] #1248 closed

[2020-04-08 11:22] #1233 closed

[2020-04-08 11:30] AlanGreene opened #1263 "When a PipelineRun is in progress ensure the TaskTree renders the full set of Tasks"
# Expected behavior
I expect to see the full set of Tasks reflected in the TaskTree regardless of the status of the PipelineRun.

# Actual behavior
When a PipelineRun is in progress we don't currently render all Tasks in the TaskTree, instead only showing those for which we have details of a TaskRun.

# Additional Info
Related: https://github.com/tektoncd/dashboard/issues/932

We did briefly have

[2020-04-08 12:00] a-roberts commented on #1257
Nope no concerns, it's definitely a good change to make 👍

[2020-04-08 12:02] eddycharly commented on #1257
👍
/assign

[2020-04-08 12:24] #1249 closed

[2020-04-08 12:24] #1067 closed

[2020-04-08 13:39] a-roberts opened #1264 "Check we really can show beta specific resources"
We've still got v1alpha1 references in our Go code, let's make sure we can display any beta specific Tekton resources OK.

Related: https://github.com/tektoncd/experimental/pull/503#issuecomment-610938922

[2020-04-08 14:01] #368 closed

[2020-04-08 14:04] AlanGreene commented on #596
I've started introducing `tkn-`-prefixed classnames in some recent changes. It's short and recognisable (matches the CLI name).

[2020-04-08 14:18] AlanGreene commented on #892
Closing this, also see #538 for related info.

We now surface more useful errors in case of a task relying on one of these secrets failing.

Also worth mentioning that PipelineResources are remaining in alpha for now, and may be removed / rewritten in a future Tekton release. The alternative approach using Tasks does not use the annotations added to Secrets created by the Dashboard, so further exp

[2020-04-08 14:18] #892 closed

[2020-04-08 14:26] #1068 closed

[2020-04-08 14:27] #1070 closed

[2020-04-08 14:44] AlanGreene commented on #1264
Also related: https://github.com/tektoncd/dashboard/issues/1206

[2020-04-08 14:47] AlanGreene commented on #1252
We definitely have inconsistent Content-Type headers in responses, for example sometimes logs are return with a JSON type, other times plain text.

We'd need to make sure any change to add `nosniff` doesn't break things.

[2020-04-08 14:55] mnuttall commented on #1250
Sounds good, let's do that.

[2020-04-08 14:55] #1250 closed

[2020-04-08 15:33] AlanGreene commented on #1253
For this one the dashboard is deployed at the root of the domain so `path=/` is both correct and appropriate.

[2020-04-08 15:33] #1253 closed

[2020-04-08 16:10] a-roberts opened #1266 "Add Tekton Dashboard roadmap.md (and link to community one)"
See https://github.com/tektoncd/community/pull/77#issuecomment-603324351, and under the same PR you can see your at the time approved roadmap items - so this one could do with revisiting and getting in here

[2020-04-08 16:18] a-roberts commented on #1264
Copying what I accidentally mentioned on another issue 👀

I'm wondering if https://github.com/tektoncd/catalog is the best option as it's now version tagged (e.g beta vs not) is the best way to do this, see https://github.com/tektoncd/catalog/blob/v1beta1/golang/build.yaml which mentions workspaces

[2020-04-09 10:04] Megan-Wright opened #1269 "Can't delete pipeline resources"
# Expected behavior
I should be able to delete pipeline resources in the dashboard

# Actual behavior
I get `the server could not find the requested resource (error code 500)`

# Steps to reproduce the problem

1. Create a pipeline resource
2. Try to delete it

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

0.11.1

- Tekton Triggers version:

0.4.0

- Tekton Dashboard version:

[2020-04-09 10:06] Megan-Wright opened #1270 "Taskruns can still be deleted in the read-only dashboard"
# Expected behavior
On the read-only dashboard I should not be able to create or delete any resources

# Actual behavior
I can still delete taskruns

# Steps to reproduce the problem

1. Install the read-only dashboard
2. Try to delete a taskrun and observe that this works successfully

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

0.11.1

- Tekton Triggers version:

0.4.0

-

[2020-04-09 10:11] a-roberts commented on #1240
Yeah definitely seeing with the 0.6.1 release candidate on OpenShift, not on Docker Desktop

[2020-04-09 10:18] a-roberts commented on #1240
Gonna bet this is due to existing secrets (on OCP, in the install namespace) not having .accessToken then, see
![image](https://user-images.githubusercontent.com/12814972/78885038-cee1cc00-7a53-11ea-94fe-4f6bc0742da8.png)

and we need an if defined check, so the forEach is likely https://github.com/tektoncd/dashboard/blob/master/src/containers/Secrets/Secrets.js#L240

[2020-04-09 10:20] CarolynMabbott opened #1271 "Intermittent error - Secret view after creation is wrong"
# Expected behavior
I see the secrets in the namespace i just created

# Actual behavior
I see a secret in a different namespace

# Steps to reproduce the problem

1. Go to http://localhost:9097/#/namespaces/tekton-pipelines/secrets
2. Create a secret in any other namespace

# Environment
- Kubernetes Platform:

docker

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard ve

[2020-04-09 10:32] Megan-Wright commented on #1269
/assign

[2020-04-09 10:50] CarolynMabbott opened #1272 "No notification on rerun pipelinerun from pipelineruns page"
# Expected behavior
I get a notification

# Actual behavior
I dont get a notification

# Steps to reproduce the problem

1. Rerun a pipelienrun from the pipelineruns page
2.
3.

# Environment
- Kubernetes Platform:

docker

- Tekton Pipelines version:

0.11.1
- Tekton Triggers version:

- Tekton Dashboard version:

0.6.1
# Additional Info

[2020-04-09 11:24] AlanGreene commented on #1270
I couldn't reproduce the successful deletion, it was blocked by RBAC. Can you check the roles in your environment to make sure you don't somehow have 'delete' for tekton.dev/taskruns?

PR open to hide the actions in the UI at least.

[2020-04-09 13:41] CarolynMabbott opened #1276 "Sidenav doesnt auto update for triggers install / uninstall"
# Expected behavior
Sidenav updates

# Actual behavior
Doesnt update

# Steps to reproduce the problem

1. Install triggers
2.
3.

# Environment
- Kubernetes Platform:

docker
- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

0.6.1
# Additional Info

[2020-04-09 14:05] CarolynMabbott opened #1277 "Secrets page errors when adding a new sa like installing triggers"
# Expected behavior
It doesnt error

# Actual behavior
It errors

# Steps to reproduce the problem

1. Be on secrets page on all namespaces
2. Install triggers
3.

# Environment
- Kubernetes Platform:

docker

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

0.6.1

# Additional Info
Error below is what I see

<img width="1394" alt="Screenshot 2020-04-09 at 15 0

[2020-04-09 14:09] AlanGreene commented on #1021
If we can try increasing the timeout on the ingress controller that would be great. If there's not a setting specifically for `wss` then it would be the `https` timeout.

In the meantime I'm testing some changes on the dashboard to reduce the impact of the reconnect on the UI. Hopefully it'll make it a little more transparent to the user even if they do hit this, so far it's looking promising.

[2020-04-09 14:12] AlanGreene commented on #1277
Sounds like https://github.com/tektoncd/dashboard/issues/1202 which was fixed...

How are you installing the dashboard? Is it from the prerelease or a local dev build?

[2020-04-09 14:15] AlanGreene commented on #1276
If we want to do this, one option would be to add a websocket handler for CRDs and detect when any of the triggers CRDs are added / deleted.

[2020-04-09 14:20] CarolynMabbott commented on #1277
@AlanGreene yeah i thought it was fixed, I have installed 0.6.1 dashboard today and im still getting the error

[2020-04-09 14:23] AlanGreene commented on #1272
Related: https://github.com/tektoncd/dashboard/issues/1178

Normally in Carbon you would not display a notification for adding an item to a table. Since you're already on the page where the item will appear this is usually considered sufficient.

If there's a long delay before the item is added, or the item will appear on a different page, then a notification is appropriate to confirm the user's a

[2020-04-09 16:06] #1269 closed

[2020-04-09 17:35] #1270 closed

[2020-04-09 17:43] AlanGreene commented on #1133
Confirmed this is fixed in carbon-components-react 7.11.0 (carbon-components 10.11.0) which was just released.

I'll hold off on updating until after the dashboard 0.6.1 release so we have more time to test for any other potential regressions or changes.

[2020-04-09 21:09] AlanGreene commented on #1133
Carbon rolled back the release after reports of issues from multiple users... hopefully won't be too long before they fix those issues and release it again. I'll keep an eye on their release announcements and internal Slack channels so we're prepared to test it out when it lands.

[2020-04-09 23:33] AlanGreene commented on #1277
I haven't been able to reproduce this.

- Was this an existing environment that you updated to 0.6.1 or a clean install?
- If existing, was Triggers previously installed?
- Did you install using one of the YAML files from the pre-release at https://github.com/tektoncd/dashboard/releases/tag/v0.6.1 or build it yourself from source?

Anything else that might help to narrow it down?

[2020-04-10 22:42] oiricaud opened #1282 "If you delete a pipeline before deleting webhook associated to pipline, it causes pipeline to run, despite pipeline not existing"
# Expected behavior
As a user, I should be able to delete a webhook that is associated to a pipeline that does not exist, but instead I get `Check the webhook(s) existed and both the dashboard and extension pods are healthy.`

# Actual behavior
As a user I am currently not able to delete a webhook associated with a pipeline that does not exist.

# Steps to reproduce the problem

1. Create pipeline

[2020-04-11 00:51] davissp14 opened #1283 "Feature Request - Ability to bind Workspaces"
It would be really nice to be able to configure a workspace prior to creating a PipelineRun within the dashboard.

I understand that triggers can be used to do this automatically through events, but for folks who want to manually kick something off through the dashboard, this would be pretty useful.

[2020-04-11 00:56] AlanGreene commented on #1282
Hi @oiricaud, thanks for reporting.

This was fixed in the 0.5.3 dashboard + webhooks extension releases, closing as a duplicate of  https://github.com/tektoncd/dashboard/issues/1137.

---

This wasn't easy in older releases. You can get the image URL from the dashboard pod, e.g.:
[code]

If you open the gcr.io URL in your browser you'll see the corresponding version tag listed:
![image](https://u

[2020-04-11 00:56] #1282 closed

[2020-04-11 14:20] AlanGreene commented on #1283
I agree it would be nice to be able to manually create runs using workspaces.

We're currently working on introducing the ability to manually create a TaskRun, similar to the existing functionality for PipelineRuns. As part of this we're likely to revisit some of the PipelineRun pieces.

Some initial thoughts for anyone interested in picking this up...

Adding support for workspaces would require:

[2020-04-11 16:34] davissp14 commented on #1283
It seems a little silly that workspace definitions happen on the PipelineRun/TaskRun resource given how they are used.  Basically, you'd have to specify one-to-many workspaces, per run, and hope that the end-user is able to map the bindings correctly on each go.  It doesn't look like there' a reliable way to determine the workspace specifications/requirements by reading the pipeline.

Reference: h

[2020-04-12 19:10] bbhuston opened #1285 "v0.6.1 non-openshift k8s release looks for openshift routes and fails to display some taskruns"
# Expected behavior

The taskrun logs will properly display in the tekton dashboard.

# Actual behavior

Looks at logs of certain taskruns throws react error in tekton dashboard.  Dashboard appears to be looking for openshift networking despite being a standard k8s install.

# Steps to reproduce the problem

1. kubectl -n tekton-pipelines apply -f https://github.com/tektoncd/dashboard/releases/dow

[2020-04-14 08:05] CarolynMabbott commented on #1277
It was a clean install
Triggers wasnt installed previously
I installed latest of everything(pipelines,  dashboard and triggers)

[2020-04-14 08:21] a-roberts commented on #1285
Thanks for the report @bbhuston! For the OpenShift route problem, yeah you're right and there's an issue for resolving it here https://github.com/tektoncd/dashboard/issues/778

Your TaskRun problem is more serious, I'll see if I can take a look today, @AlanGreene @steveodonovan  FYI 👀

[2020-04-14 08:47] a-roberts commented on #1285
I see it,

[code]

so the TaskRun itself runs fine and is reported as doing so in the dash

TaskRun details
[code]

Adding this as a bug and something to hold up the 0.6.1 release for I say, thanks again

[2020-04-14 09:26] CarolynMabbott commented on #1271
Can get a continuous solid reproduce by:
1. Going to : `http://localhost:9097/#/namespaces/tekton-pipelines/secrets`
2. Create a secret called `a` in `tekton-pipelines` with everything being `a` and do not patch
3. Create s secret in `default` using everything as `a` and do not patch

[2020-04-14 10:09] a-roberts commented on #1285
@AlanGreene I could do with some help on this one, so I've got
[code]

That gives me a max stack size problem though and breaks the other TaskRuns not using resource spec (but if I add a print, I do get the data appearing). Looks like breaking down the params by resource spec is a little trickier than I thought...

[2020-04-14 13:03] a-roberts commented on #1285
@AlanGreene and I had a good look into this one, documenting what we've came up with for transparency - we could do with overhauling the way we handle steps, their ordering, and tasks, to be able to accomodate for the different step types (e.g. inline with a resourceSpec and with unnamed steps) - potentially to go into 0.7.0 as that may end up being a big piece of work.

Short of an overhaul we ca

[2020-04-14 15:18] CarolynMabbott commented on #1271
managed to reproduce on openshift as well as docker desktop

/kind bug

[2020-04-14 18:04] AlanGreene commented on #1285
PR open to address this: https://github.com/tektoncd/dashboard/pull/1287

Issue is related to use of unnamed steps + pipeline resources. Since pipeline resource init steps are considered in the counting order by pipelines when naming unnamed steps, our assumption to start naming of these steps at 0 (based on their position in the spec steps) was not valid and led to no matching status being found

[2020-04-14 18:56] AlanGreene commented on #1283
Depending on your specific use cases, if you're looking for a way to template the creation of runs you may be interested in [Tekton Triggers](https://github.com/tektoncd/triggers/tree/master/docs).

templates. Put another way, this allows events to both model and instantiate
themselves as Kubernetes resources. In the case of `tektoncd/pipeline`, this
makes it easy to encapsulate configuration into

[2020-04-14 19:24] mtamboli commented on #1105
@a-roberts I agree that it will be good to have just `Finish` button. If a user selected sa accounts that  cab be applied otherwise just create the secret without sa. Current design is confusing and most users are select sa account which does not get associated with the secret as `patch` is not noticed. I discussed with some other team member who have used secret and they seem to agree with having

[2020-04-14 20:37] davissp14 commented on #1283
I actually opened up a related issue shortly after I opened up this one.  Thank you!

[2020-04-15 08:16] CarolynMabbott commented on #1271
/assign

[2020-04-15 09:42] a-roberts commented on #1285
Fix for this is now merged, @bbhuston please give it a go (I'm publishing the 0.6.1 release now which will have the fix, or you can check out our nightly builds or build from master) and close this out if you're good 🤞

[2020-04-15 10:52] a-roberts commented on #1105
@mtamboli yeah, I think it's right to have another go around the loop for this given the amount of times we've had reports, so let's open this up for any design discussions in particular around how we can improve on this while still abiding by the Carbon guidelines where it makes sense to

@AlanGreene FYI, I know you've left a comment above but I'm wondering if there's something we can display tha

[2020-04-15 12:38] AlanGreene commented on #1105
I'm not aware of any way to get access to the selected rows from outside the DataTable component so I think our only option is to move the finish button down to the table header as a regular toolbar action, which would be replaced by the batch actions toolbar when rows are selected.

![image](https://user-images.githubusercontent.com/2829095/79337670-d30f5d00-7f1d-11ea-8392-c6228cea601a.png)

User

[2020-04-15 12:51] CarolynMabbott opened #1290 "Cant install releases into a namespace other than tekton-pipelines"
# Expected behavior
I can install a release into any namespace

# Actual behavior
It errors when I try and kubectl apply the dashboard release
[code]
# Steps to reproduce the problem

1. Try install dashboard 0.6.1 release into a namespace other than tekton-pipelines
2.
3.

# Environment
- Kubernetes Platform:

docker

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard ver

[2020-04-15 14:08] a-roberts opened #1291 "0.6.1 release candidate - constant unknown (get serviceaccounts) messages in logs"
# Expected behavior
Our logs should be a joy to behold - they're littered with this though, every second
[code]

likely we have an informer somewhere for ServiceAccounts that's behaving differently on OpenShift

# Actual behavior
[code]

# Steps to reproduce the problem

1. Install the 0.6.1 release candidate for OpenShift
2. Install Tekton through the OpenShift Pipelines operator (I've used versi

[2020-04-15 14:55] AlanGreene commented on #1291
Missing `watch` here? https://github.com/tektoncd/dashboard/blob/f30b1e66c7b62b407994e60079211e0c38feff3c/base/200-clusterrole.yaml#L22

[2020-04-15 14:59] AlanGreene commented on #1290
Is this a duplicate of https://github.com/tektoncd/dashboard/issues/930?

[2020-04-15 16:11] a-roberts commented on #1291
Nice catch @AlanGreene, @CarolynMabbott has tested this out on her OCP install and confirmed the problem's gone

I'll update our release yaml now 👍

[2020-04-15 17:29] bbhuston commented on #1285
@a-roberts @AlanGreene BOOM!  Just tested the example against your latest release candidate install and it works perfectly!  Thanks a million for the rapid response on this.  Closing this issue now.

[2020-04-15 17:29] #1285 closed

[2020-04-15 17:59] AlanGreene commented on #1277
Just tried this again on a brand new environment:
- OpenShift 4.3 (CodeReady Containers 1.8)

Steps:
- Installed pipelines 0.11.1 [release.notags.yaml](https://github.com/tektoncd/pipeline/blob/master/docs/install.md#installing-tekton-pipelines-on-openshift)
- Installed dashboard 0.6.1 [openshift-tekton-dashboard-release.yaml
](https://github.com/tektoncd/dashboard/releases/download/v0.6.1/openshi

[2020-04-15 19:38] mtamboli commented on #1105
@AlanGreene Having only one action after sa accounts are selected will help. Can we rename "Patch"  to "Finish" in that case too?

 If you go for the 2nd option, it would be good to have the default to select the checkbox to associate the service accounts. Dashboard does not allow you to associate secrets to the service accounts afterwards so it is better if used does not miss this option.

[2020-04-15 20:17] davissp14 commented on #1283
Here's a link to the related issue: https://github.com/tektoncd/pipeline/issues/2372

[2020-04-15 20:42] #1290 closed

[2020-04-16 09:00] a-roberts commented on #1226
Thanks @chhsia0 for the PR for this!

Let's see if

/assign @chhsia0

works, you're not available from the assignee dropdown. I've been unable to reproduce this personally...

[2020-04-16 10:28] CarolynMabbott commented on #1277
@AlanGreene Having a look now as can reproduce
In console I get following error:
[code]
When I look at where it went wrong it's here:
`        serviceAccount.secrets.forEach(secretInServiceAccount => { `

[code]

[2020-04-16 10:34] AlanGreene commented on #1277
same fix as in the Secret container should do the trick so,

`(serviceAccount.secrets || []).forEach(secretInServiceAccount => {`

[2020-04-16 11:14] #1226 closed

[2020-04-16 12:32] CarolynMabbott commented on #1277
/assign

[2020-04-16 12:44] #1277 closed

[2020-04-16 13:26] AlanGreene commented on #1021
We've just landed a change on master that makes the loading state much less disruptive, it will be available in the next nightly build.

@afrittoli it would still be great if we could increase the connection timeout on the ingress to reduce the number of requests we're making to the dogfooding and robotcat clusters.

[2020-04-16 14:01] #1050 closed

[2020-04-16 15:28] a-roberts commented on #1291
Actually, yeah we need this change going into master 😄

[2020-04-16 15:35] mnuttall commented on #1254
One option is to see whether a switch to https://github.com/oauth2-proxy/oauth2-proxy could provide an alternative solution to this problem.

[2020-04-16 15:35] mnuttall commented on #1046
One option is to see whether a switch to https://github.com/oauth2-proxy/oauth2-proxy could provide an alternative solution to this problem.

[2020-04-16 15:35] mnuttall commented on #1044
One option is to see whether a switch to https://github.com/oauth2-proxy/oauth2-proxy could provide an alternative solution to this problem.

[2020-04-16 16:09] a-roberts commented on #1291
(closing for real, actually merged to master now 🐑 )

[2020-04-16 16:09] #1291 closed

[2020-04-17 08:51] a-roberts commented on #1277
Let's get this one into 0.6.1 as well, thanks @CarolynMabbott and @AlanGreene

[2020-04-17 09:35] christopherfrieler commented on #1198
Finally found the time to retest this with version 0.6.1. Works perfectly. 👍

[2020-04-17 10:22] #1049 closed

[2020-04-17 10:47] CarolynMabbott opened #1299 "Changing namespaces on namespaced Secrets url changes from access token to password"
# Expected behavior
I can change from namespace docker to namespace default when access token is selected and it stays on access token
So same behaviour as when it doesnt have /namespace/default in the url

# Actual behavior
It changes from access token to password when namespace is changed on the left

# Steps to reproduce the problem

1. go to http://localhost:9097/#/namespaces/default/secrets
2

[2020-04-17 12:27] CarolynMabbott opened #1300 "Changing namespace to All Namespaces while on create secret cancels create secret"
# Expected behavior
Can change to all namespaces on the left while crating a secret without it cancelling my create secret and taking me back to secrets page

# Actual behavior
When I change to all namespaces on the left to all namespaces while on a url which contains /namespaces/default then it cancels my create secret

# Steps to reproduce the problem

1. http://localhost:9097/#/namespaces/defau

[2020-04-17 13:50] AlanGreene commented on #1300
I think we really need to start moving towards the new design where the namespaces dropdown is only present on the list views. Having it on the details / create views is causing too many problems as we've been adding targeted workarounds for each instance and that approach just doesn't scale in the long term.

[2020-04-17 13:51] AlanGreene commented on #1299
Related https://github.com/tektoncd/dashboard/issues/1121

[2020-04-17 16:09] AlanGreene commented on #350
Related https://github.com/tektoncd/dashboard/issues/327

[2020-04-17 16:21] AlanGreene commented on #1133
Still waiting for carbon-components 10.11.0 and carbon-components-react 7.11.0 to be re-released...

[2020-04-20 10:06] CarolynMabbott commented on #1300
I agree, I've found alot of issues where changing namespace causes issues and breaks things

[2020-04-20 10:09] a-roberts commented on #1206
Gonna close, not planning to do anything of the sort yet until it's proven we have to 👀

[2020-04-20 10:09] #1206 closed

[2020-04-20 10:10] a-roberts commented on #1240
Merged so closing

[2020-04-20 10:10] #1240 closed

[2020-04-20 10:12] a-roberts commented on #1204
@ncskier is this fixed now? I noticed https://github.com/tektoncd/pipeline/issues/2323 is now closed 👀

[2020-04-20 10:18] a-roberts commented on #594
Now sitting under src/components so closing this

[2020-04-20 10:18] #594 closed

[2020-04-20 10:42] a-roberts commented on #469
Being addressed now as part of https://github.com/tektoncd/dashboard/issues/1257 so let's close in favour of that where it's being worked

[2020-04-20 10:42] #469 closed

[2020-04-20 11:10] shibumi opened #1303 "Post https://tekton-pipelines-webhook.tekton-pipelines.svc:443/defaulting?timeout=30s: context deadline exceeded"
# Expected behavior

A tekton dashboard deployment should work as expected:

`curl -L "https://github.com/tektoncd/dashboard/releases/download/v0.6.0/tekton-dashboard-release.yaml" -o tekton-dashboard-0.6.0yml`
`kubectl apply -f tekton-dashboard-0.6.0.yml`

# Actual behavior

[code]

# Steps to reproduce the problem

1. Deploy Tekton Pipelines 0.11.2 as mentioned in the installation guide
2. Deplo

[2020-04-20 11:32] a-roberts commented on #1303
Hey @shibumi thanks for the report! 0.6.0 is the Triggers 0.3.1 supported release, can you see if you get the same error with 0.6.1 please? I plan to be removing the pre-release tag shortly unless anyone raises an issue in the next few hours, we think it's good to go and that's the one where we can display Triggers 0.4 objects (as the API group has changed)

[2020-04-20 11:38] shibumi commented on #1303
Hi @a-roberts same behavior. What I did is:
[code]

any idea how I can debug this further?

[2020-04-20 11:50] a-roberts commented on #1303
Yeah, so installing Triggers isn't mandatory (we work without it), with regards to the issue going on there

If you have a look at the webhook pods in the tekton-pipelines namespace (so, there'll be a tekton-webhook pod as well as a tekton-controller one), if you get those logs - do you see anything interesting? Perhaps some RBAC or unknown field error? Anything of that nature?

My suspicion is, i

[2020-04-20 12:01] shibumi commented on #1303
`k logs po/tekton-pipelines-webhook-6cd9bff9f6-kcbhp -n tekton-pipeline`
[code]

This is just a short snippet from it.. I've tested the dashboard and it's there and working, it's just weird that the deployment failed. What is missing now?

[2020-04-20 12:13] a-roberts commented on #1303
So do you have the Pipeline called pipeline0, or the Task?

I think this is what errored and so you won't be able to use the import resource functionality, I would have a look in the tekton pipelines controller pod to see if the clues actually lie there instead

[2020-04-20 12:30] AlanGreene commented on #1021
Verified the fix for the loading states is working on robotcat with the latest nightly build, will close this issue once 0.6.1 is deployed on dogfooding and verified there too.

[2020-04-20 12:48] a-roberts commented on #1261
Merged so closing, thanks for this @eddycharly!

[2020-04-20 12:48] #1261 closed

[2020-04-20 13:03] a-roberts commented on #1105
Code change ideas (to discuss on today's Dash WG call, and I'll edit this comment with feedback), I've added a few

1) move the finish button down to the table header as a regular toolbar action, which would be replaced by the batch actions toolbar when rows are selected (details in Al's comment)
2) Opt in to patch or not (details in Al's comment)
3) Make it mandatory to patch (since we don't have

[2020-04-20 13:21] Megan-Wright commented on #1303
[code]
@a-roberts Just tried with pipelines 0.11.2 triggers 0.4.0 and dashboard 0.5.3 then 0.6.1 on top of that so shouldn't be any left over resources causing problems I don't think :eyes:

[2020-04-20 13:30] a-roberts commented on #1303
Thanks @Megan-Wright, so I don't see this should hold up the 0.6.1 release then atm, I am curious to see what the error is though so let's keep this open

[2020-04-20 14:18] AlanGreene commented on #1105
Discussed on WG:

Vote for 1, provides cleanest experience of these options and simple to implement.
Maybe worth reviewing 3 at a later stage for further improvement.

[2020-04-20 15:45] ncskier commented on #1204
Looks like it might be fixed now... although I wasn't able to reproduce the error on my system, so I can't verify that it was fixed.

@hanczaryk would probably have to try to verify, but he was using the OpenShift Operator (which does not have the fix yet).

[2020-04-20 16:00] AlanGreene commented on #1271
Discussed with Carolyn on Slack. This is another of the grab-bag of namespace related issues that keep rearing their heads. As discussed on today's Working Group call I'm gathering all of these issues together so we can get a better picture of the pain points and hopefully address them in a single consistent manner.

For this specific issue my current best suggestion would be to extract the Create

[2020-04-20 17:06] AlanGreene opened #1304 "Overhaul the namespace dropdown global filter UX"
Our current UX for the global namespace filter has lead to a number of issues that cause user frustration, bugs, or nasty workarounds in the code.

Tracking them here under a single issue so we can attempt to address these issues in a better and more consistent manner that's easier to maintain without the need for messy workarounds.

Current:
- ~~Can't see created secret depending on globally sele

[2020-04-20 18:38] AlanGreene commented on #1300
Related to https://github.com/tektoncd/dashboard/issues/1271, could be addressed by moving Create Secret to a separate URL addressable page.

Tracking the overhaul of the namespaces filter in https://github.com/tektoncd/dashboard/issues/1304 and linked to this issue so we still have the detail.

[2020-04-20 18:38] #1300 closed

[2020-04-20 22:14] shibumi commented on #1303
@a-roberts is pipeline0 a pod? I have the following resources:
[code]

[2020-04-20 22:29] AlanGreene commented on #1303
`pipeline0` refers to the Pipeline and Task created by the Dashboard install and used for the 'Import Tekton Resources' feature.

- `pipeline.tekton.dev/pipeline0`
- `task.tekton.dev/pipeline0-task`

You can find these in the namespace where the Dashboard is installed, `tekton-pipelines` by default.

[2020-04-20 23:24] AlanGreene commented on #37
Basic label-based filtering implemented. No current plan to add the more advanced filter dropdown from the designs above although we can revisit in future if we change how we're using the Kubernetes APIs to give us more flexibility in this area.

[2020-04-20 23:24] #37 closed

[2020-04-20 23:29] AlanGreene commented on #232
This could be an interesting one to watch: https://github.com/tektoncd/experimental/tree/master/results

[2020-04-21 00:07] AlanGreene commented on #843
Not currently needed, we can reopen if this changes in a future pipelines version.

[2020-04-21 00:10] AlanGreene commented on #930
@CarolynMabbott is this resolved by https://github.com/tektoncd/dashboard/pull/1262#issuecomment-616409266 ?

[2020-04-21 07:05] shibumi commented on #1303
I don't see this resources, but I can see these CRDs:

[code]

is there a way to show them? If I do `kubectl get taskruns` I get nothing in the namespace, so it's them what is missing and couldn't be created.

[2020-04-21 07:17] shibumi commented on #1303
@a-roberts ok I don't know what happens, but I tried applying the dashboard again, after deploying a simple ingress for it, and not it works. I can see the pipeline0 and pipeline0-task in the dashboard now.  My ingress looks like this:
[code]

Is it possible, that this ingress solved my problem? Is this maybe 'rancher' related? We are using rancher as Kubernetes plattform.

Just one thing is odd,

[2020-04-21 07:22] shibumi commented on #1303
Sorry for the, double posts:

Ok `k get task.tekton.dev -A` works, the pipeline0-task is there now. I think tekton should be usable from now on. I have no idea what was going on here.

[2020-04-21 08:14] a-roberts commented on #1303
Yeah, they should (and I see in your later post they now do)

I haven't tested on rancher personally (the core Dashboard team works mainly on Docker Desktop or OpenShift), I don't think adding an Ingress manually fixes anything - your pods looked stable at the time but it's as though the webhooks service was unreachable.

I'm thinking it's more to do with your cluster set up or networking at this

[2020-04-21 08:26] CarolynMabbott commented on #930
Im not sure if it is because to get the dashboard to install in a different namespace I had to manually edit the `namespace:tekton-pipelines` to default to install and check that it still worked to detect versions

I have the latest code and when I try and install to a different namespace by adding `-n default` on the end I still get a similar but slightly shorter error
[code]

[2020-04-21 09:45] a-roberts opened #1310 "Add OpenShift support for our release pipelines"
# Expected behavior
I should be able to run the release pipeline on OpenShift 4.x

# Actual behavior
It's only known to work on Docker Desktop and (very probably) Google Cloud

# Steps to reproduce the problem

1. Run the release pipeline on OpenShift
2. See
[code]
from the PipelineRun

# Environment
- Kubernetes Platform:
OpenShift

- Tekton Pipelines version:
Any, but i'm using 0.11.2

- Tekton

[2020-04-21 11:32] a-roberts commented on #1310
Almost there

![image](https://user-images.githubusercontent.com/12814972/79861267-08a7c080-83cc-11ea-8b4e-afb8b88e899b.png)

build step completes now, we're using the Docker socket though

[code]

so suppose I'll have to switch it out for buildah (and hope that works a treat on Docker Desktop, or we have another folder for OpenShift resources).

I'll pause this while I respin 0.6.1 now to pick up

[2020-04-21 11:44] #124 closed

[2020-04-21 11:46] AlanGreene commented on #1246
Updated on dogfooding and ran successfully. Resulting 'nightly' build is now deployed to both robotcat and dogfooding :tada:

![image](https://user-images.githubusercontent.com/2829095/79862526-21b17100-83ce-11ea-9d12-f645f6fa0ffb.png)

[2020-04-21 11:46] #1246 closed

[2020-04-21 11:52] AlanGreene commented on #1021
Verified on dogfooding! 🎉

[2020-04-21 11:52] #1021 closed

[2020-04-21 13:45] Megan-Wright commented on #1105
/assign

[2020-04-21 14:22] a-roberts opened #1311 "Dashboard CSP prevents webhooks-extension from loading"
# Expected behavior
The webhooks extension should load

# Actual behavior
[code]
See https://github.com/tektoncd/experimental/issues/521

# Steps to reproduce the problem

1. Install RC4 or later of the dashboard/extension
2. Click webhooks tab

# Environment
- Kubernetes Platform:
OpenShift

- Tekton Pipelines version:
0.11.2

- Tekton Triggers version:

- Tekton Dashboard version:
0.6.1 rc3 and

[2020-04-21 15:08] mtamboli commented on #1105
Had discussion with @a-roberts with Solution #1 approach. Personally, I would have liked the "Finish" button after selecting sa accounts too. But I understand that "Patch" is more appropriate to match the underlying action. Since we are removing the "Finish" in case of selecting sa accounts, there should not be confusion for the user as there is only one action (Click "Patch") to complete the task

[2020-04-21 16:05] a-roberts commented on #1311
Merged so closing

[2020-04-21 19:50] AlanGreene commented on #1257
Merged and included in latest nightly, closing. Thanks @eddycharly!

/close

[2020-04-21 19:50] #1257 closed

[2020-04-21 20:24] AlanGreene commented on #1266
✅ Strong +1. It should be easy for a user to navigate between related resources for more details as well as surfacing some info directly in the PipelineRun and TaskRun views

✅ Strong +1. Currently missing sidecars, retries, better display of conditions, results, Task details on TaskRun/PipelineRun view. We should probably call out at least a few of these explicitly.

❓ This one's tricky. Our curr

[2020-04-21 20:42] AlanGreene commented on #1183
@a-roberts any action required here or ok to close?

[2020-04-21 20:46] AlanGreene commented on #1133
carbon-components@10.11.1 and carbon-components-react@7.11.1 published

Some breaking changes compared to our current 10.10.1/7.10.1 that we'll need to account for when updating, also potentially some style / behaviour changes that we may want to review (e.g. DataTableSkeleton style changed, possibly some change in behaviour with DataTable overflow menus).

[2020-04-21 20:48] AlanGreene commented on #1031
Closing in favour of https://github.com/tektoncd/dashboard/issues/1304 which is tracking a single consistent approach to resolving these namespace-related issues.

[2020-04-21 20:48] #1031 closed

[2020-04-21 20:48] AlanGreene commented on #975
Closing in favour of https://github.com/tektoncd/dashboard/issues/1304 which is tracking a single consistent approach to resolving these namespace-related issues.

[2020-04-21 20:48] #975 closed

[2020-04-22 08:48] a-roberts commented on #1183
We're beginning to get access to OCP 4.4 clusters now through colleagues so this is still something worth being picked up

[2020-04-22 21:39] rnapoles-tktn opened #1319 "The ServiceAccount field in Import Tekton resources from repository is no longer optional"
**Problem:
The ServiceAccount field in Import Tekton resources from repository is identified as optional:
![image.png](https://images.zenhubusercontent.com/5db346d5b0111c0001df287a/68608b98-4134-4762-b33b-5cbb7b4e289f)

If you do NOT select a Service Account, then the corresponding pipelineRun will fail with:
`error: the path "/workspace/git-source/<APPLY-DIRECTORY>" does not exist`

**Versions:**

[2020-04-23 12:35] a-roberts commented on #1319
Yeah this is an interesting one, my guess is when no SA is specified it'll try default which won't have permissions, or pipeline if installed through the operator

I propose removing the optional part anyway because why would you want to be importing resources without knowledge of the service account that'll be used. For the short term I've added a note in the 0.6.1 release about this.

[2020-04-23 12:36] a-roberts commented on #1303
Going to close as it's been a few days and confident there isn't code we can add to improve it, but if anyone else sees this please do comment and let us know

[2020-04-23 12:36] #1303 closed

[2020-04-23 12:39] a-roberts commented on #1213
Gonna close this one as I don't think there are any issues now (so the root issue is actually resolves and it was the pesky flag), happy for anyone to followup with the suggestions Andrea made above as well

[2020-04-23 12:39] #1213 closed

[2020-04-23 19:42] rnapoles-tktn commented on #1183
Tested, found https://github.com/tektoncd/dashboard/issues/1319

[2020-04-23 19:42] rnapoles-tktn commented on #1183
/close

[2020-04-23 20:27] AlanGreene commented on #1183
/close

[2020-04-23 20:27] #1183 closed

[2020-04-24 14:27] AlanGreene commented on #843
Looks like this is being revisited

[2020-04-27 12:09] a-roberts commented on #1319
https://github.com/tektoncd/dashboard/pull/1320#issuecomment-619933247 latest discussion here, think we should hold off on this one until there's consensus, @eddycharly makes a good point. Added to the WG agenda for today.

[2020-04-27 13:52] rhd-gitops-functional commented on #1319
Had a ponder over this

[code]

so that's likely due to permission problems on the default service account that gets used on OpenShift, but in theory a user could configure this in such a way for it to work I'm sure. So the optionalness really is a thing (and you don't need to provide one on Docker Desktop).

I'm wondering if we instead do nothing on this, or perhaps add a tooltip - something to m

[2020-04-27 13:54] a-roberts commented on #1319
Had a ponder over this

[code]

so that's likely due to permission problems on the default service account that gets used on OpenShift, but in theory a user could configure this in such a way for it to work I'm sure. So the optionalness really is a thing (and you don't need to provide one on Docker Desktop).

I'm wondering if we instead do nothing on this, or perhaps add a tooltip - something to m

[2020-04-27 14:25] a-roberts commented on #1319
Discussed on the WG call, @AlanGreene mentioned there is a ConfigMap that lets you specify the default ServiceAccount so making it mandatory doesn't make sense. Instead we can go with a Tooltip that calls out this feature and we can mention to users that it'll need sufficient permissions to create PipelineRuns and PipelineResources.

[2020-04-27 14:27] AlanGreene commented on #1319
default-service-account: https://github.com/tektoncd/pipeline/blob/eb26f85613d8fc73091ac5974bf0f44c0883592f/config/config-defaults.yaml#L43

also referenced in the install doc:
https://github.com/tektoncd/pipeline/blob/d882a824febdf766b45dbf99278ad0fb27432d65/docs/install.md#customizing-basic-execution-parameters

[2020-04-27 15:20] a-roberts commented on #1319
Simpler approach at https://github.com/tektoncd/dashboard/pull/1326

[2020-04-28 08:53] Megan-Wright commented on #1105
/close

[2020-04-28 08:53] #1105 closed

[2020-04-28 12:59] a-roberts commented on #1310
Update on this one, pushed the latest progress to my branch, see https://github.com/tektoncd/dashboard/compare/master...a-roberts:openshiftrelease?expand=1

The lcokdown.py script we use makes use of a Docker client via the Docker socket, so this is going to be a problem on OpenShift. Perhaps I can use buildah instead to list the images, but for now I've omitted this step just to see what happens

[2020-04-29 07:44] a-roberts opened #1328 "Should we default to the Tekton catalog for importing resources?"
We've had the import resources function for a while now, and I thought of this while thinking how we can support Tekton itself and its ecosystem (so ideally there'll be a Task/Pipeline for everything, and the centralised place for them right now is the catalog, which is becoming more and more mature, and why not encourage importing from there through our Dashboard).

It's likely therefore that the

[2020-04-29 07:56] a-roberts commented on #1255
I'll take a look, one suggested remedy is to:

[2020-04-29 08:25] a-roberts commented on #1254
https://github.com/openshift/oauth-proxy/ looks too inactive for our requirements and see that the project it forked from has been archived, so indeed switching to https://github.com/oauth2-proxy/oauth2-proxy could be better - I've raised https://github.com/oauth2-proxy/oauth2-proxy/issues/506 with a couple of questions. Based on the response we can then look at whether switching is going to make

[2020-04-29 08:53] eddycharly commented on #1328
What would be really nice IMO would be a sort of wizzard guiding the user through the process.

The wizzard could propose a "Import resources from Tekton catalog" option with dedicated screens.

[2020-04-29 09:32] AlanGreene commented on #1328
1. I think it's also worth keeping an eye on the progress of https://github.com/tektoncd/hub which will provide a web UI for discovering / contributing items to a catalog.

2. I wonder if there's been any discussion about the hub exposing an API that might help here...

3. People often create PVCs, ServiceAccounts, even Namespaces along with their Tekton resources, so we should probably drop the '

[2020-04-29 11:48] a-roberts opened #1330 "Dashboard versions mentioned for operator repository are old - check we can update"
https://github.com/tektoncd/operator currently mentions

[code]

These versions are soooo last year and it'd be useful to see what the latest version of the dashboard is that we can fit in here.

We know from our own testing using the OpenShift operator that Triggers 0.4.1, Pipelines 0.11.3 and Dashboard 0.6.1 is a good combination, so advocating that would be ideal.

[2020-04-29 14:20] AlanGreene commented on #1012
CLI logo is in the works: `https://github.com/cdfoundation/foundation/issues/147`

Dashboard is also mentioned in the description of that issue, does anyone know if this is actively being worked or if not how we get the ball rolling?

[2020-04-29 14:32] a-roberts commented on #1012
Not I, but worth officially asking for I think and running with

[2020-04-30 13:34] AlanGreene commented on #1255
We need a nonce on API requests that modify the system, i.e. any POST / PUT / PATCH / DELETE requests. Not sure if go-restful has any CSRF support built in or if we'd need to look into gorilla/csrf or other packages. We should avoid trying to implement something ourselves if possible.

The nonce directive on the CSP header is to allow for exceptions to rules in specific cases, for example enabling

[2020-04-30 16:00] a-roberts commented on #1255
Not seeing any mentions of nonces or csrf protection for go-restful, we've put a lot of work into the current router set up so shifting away in favour of gorilla-mux (which is easy to use with gorilla/csrf) just for this wouldn't be ideal.

gorilla/csrf seems reasonable enough to use, I've yet to figure out how to attach it our current set up though (snooping around in pkg/router/router.go looking

[2020-04-30 22:24] AlanGreene opened #1340 "Need to differentiate between Conditions and regular TaskRuns in PipelineRun view"
# Expected behavior
It should be clear from looking at the PipelineRun view when a TaskRun has failed.

# Actual behavior
Failed Conditions look like failed TaskRuns which can be a little confusing, especially if the PipelineRun has completed successfully.

# Additional Info
We should consider how best to differentiate Conditions from other TaskRuns. In case of success this is probably less import

[2020-04-30 23:11] jorgemoralespou commented on #865
Please, do consider this.

I work arounded it by adding to the deployment a:
[code]

And the dashboard works fine, so it really doesn't need to run as root. Please consider fixing this as it's a one liner but also a security concern.

[2020-05-01 07:18] a-roberts commented on #865
Hey @jorgemoralespou - thanks for the reminder on this one, I noticed recently there were talks around the pipelines component itself running as non-root too.

[2020-05-01 10:14] #1299 closed

[2020-05-01 10:14] AlanGreene commented on #1271
it was still showing up in queries for open issues

[2020-05-01 10:14] #1271 closed

[2020-05-01 10:15] AlanGreene commented on #1239
it was still showing up in queries for open issues

[2020-05-01 10:15] #1239 closed

[2020-05-01 10:15] AlanGreene commented on #1121
it was still showing up in queries for open issues

[2020-05-01 10:15] #1121 closed

[2020-05-03 09:10] eddycharly opened #1344 "Improve About page"
It's a rainy sunday here so.. I'm playing with the about page ;-)

I made changes to split dashboard/triggers/pipeline informations, and added extensions list.

Here's what it looks like:

![image](https://user-images.githubusercontent.com/47974576/80910186-0fb8c200-8d2e-11ea-83e0-6ac3975e258b.png)

What do you think ?

/cc @a-roberts @AlanGreene

[2020-05-04 09:38] 2020testuser opened #1345 "Tekton Dashboard Documentation"
This is not an issue. Looking for the below information . It would be good if the below information is included in detail in Tekton Dashboard github. Thanks!

1. What are the advantages for the Developer when using Tekton Dashboard  instead of using Kubernetes Dashboard or Octant?

2. What are the advantages for the Admin when using Tekton Dashboard  instead of using Kubernetes Dashboard or Octant

[2020-05-04 09:46] eddycharly opened #1346 "Is this possible to use @tektoncd/dashboard-components in an extension ?"
I'm trying to create an extension, and import the `@tektoncd/dashboard-components` in it.

I copy pasted the webhooks-extension in the experimental repo, added the `@tektoncd/dashboard-components` package, now i'm trying to get rollup to compile my extension but no luck.

Should it be possible ? If so, any example of a wroking`rollup.config.js` ?

Thanks.

/kind question

[2020-05-04 10:16] a-roberts commented on #1346
@AlanGreene @steveodonovan

[2020-05-04 10:17] a-roberts commented on #1344
Looks good, will raise on today's WG and let's get @AlanGreene's input

[2020-05-04 11:06] eddycharly commented on #1344
I think it makes sense to separate as we support different namespace per component through https://github.com/tektoncd/dashboard/pull/1262

[2020-05-04 11:19] a-roberts commented on #1344
Definitely 👍

[2020-05-04 13:29] eddycharly commented on #1346
Got something working 🎉🎉
Probably a bit hacky but at least my plugin is showing a table from `@tektoncd/dashboard-components` 😅

[2020-05-04 14:16] a-roberts opened #1347 "Tekton Pipelines 0.12 support"
# Expected behavior
We should be able to do everything we can in 0.11 with 0.12 too

# Actual behavior
Hasn't been proven, so go ahead and prove it and then let's create a 0.6.2 release 🎉  - create Tekton resources, check everything renders, can be created, and can be rerun successfully. You can keep Triggers at 0.4.0 (with a view to having 0.5.0 support in, say, Dashboard 0.6.3).

https://github.

[2020-05-04 14:50] a-roberts commented on #778
Should be fixed by https://github.com/tektoncd/dashboard/pull/1343

[2020-05-04 15:46] a-roberts commented on #778
PR going in now so closing

[2020-05-04 15:46] #778 closed

[2020-05-05 10:33] AlanGreene commented on #1344
Splitting these apart makes sense since there's more info to display for each project now 👍

I'm not sure including the extensions here gives any additional benefit over them already being listed in the nav. Maybe in future if/when we expand their capabilities and properly document their use this could make sense but for now my vote would be to leave them out.

Here's a very simple design idea I w

[2020-05-05 10:40] eddycharly commented on #1344
Do you want me to open a PR with what I have or it’s useless ?

About the extension it’s useful to show the config (the resource and api group/version behind it). This doesn’t appear elsewhere.

[2020-05-05 10:44] AlanGreene commented on #1346
It's certainly possible as you've discovered, but the `@tektoncd/*` packages are still what I'd consider alpha / pre-release, and there are a number of issues that need to be resolved before we could recommend their use more broadly.

I'd love to talk to you about how you're planning to use them so we can understand your requirements, as well as the approach you're currently taking.

[2020-05-05 10:47] AlanGreene commented on #1344
A PR would be good.

The extensions show the group/version/kind on master, this is not yet included in a Dashboard release but will be in the next one.
![image](https://user-images.githubusercontent.com/2829095/81058338-2a25a380-8ec6-11ea-970c-8bac9fb0d44f.png)

[2020-05-05 10:52] eddycharly commented on #1346
I know they are alpha packages, i have no problem with that.

It’s very useful to me as I can work on implementing the business of my extension rather than spending my time on user interface components that already exist and work well.

As I’m not a frontend guy and never touched react before it saves me a lot of time.

I’m writing an extension to display/interact with prowjobs so that I have ever

[2020-05-05 10:55] eddycharly commented on #1346
I will try to report the pain points I encountered if you want.

Some of these are related to my inexperience with rollup though.

[2020-05-05 10:59] AlanGreene commented on #1346
This would be really helpful, thanks.

[2020-05-05 11:04] #1247 closed

[2020-05-05 12:47] CarolynMabbott commented on #1252
/assign

[2020-05-05 14:09] eddycharly commented on #1344
I'll wait for this PR https://github.com/tektoncd/dashboard/pull/1348 to be merged before creating the new one because it would conflict.

[2020-05-05 15:56] Megan-Wright opened #1350 "Triggers not showing up as installed when port-forwarding the dashboard"
# Expected behavior
When I use the dashboard by port-forwarding and have triggers installed on my cluster, I should be able to view the triggers panels and it should show up as installed on the about page.

# Actual behavior
When I am using port-forward, I cannot see triggers or use any of its functionality... however when using `npm run start` to view the dashboard everything works ok (triggers 0

[2020-05-05 23:08] AlanGreene commented on #1350
Working for me on both Docker Desktop and CRC (OpenShift version: 4.3.8)

Property | Value
-- | --
InstallNamespace | tekton-pipelines
DashboardVersion | devel
PipelineVersion | v0.11.3
TriggersVersion | v0.4.0

dashboard is on master@9dc5777567e5fa26c63d8a95136ade417883f217 ("Add panelling to create TaskRuns")

1. `kubectl --namespace tekton-pipelines port-forward service/tekton-dashboard 9097:90

[2020-05-06 08:59] eddycharly commented on #1346
Here's my little feedback.

Keep in mind that i'm not a frontend developer, I probably faced issues with technologies/tooling that someone more used to it would have handled pretty easily.

### Bootstrapping

The most difficult part was bootstrapping the project, the lack of docs and the discovery of `rollup` was the main pain points.

I feel like the sample here https://github.com/tektoncd/dashbo

[2020-05-06 10:22] AlanGreene commented on #1346
That's some great feedback, thanks so much for writing it up. It looks something like the type of extension we originally envisaged using the 'kubernetes resource' extension type so you wouldn't need to write a custom frontend  / backend to expose this.

I'll add a more detailed reply to your specific points later today.

[2020-05-06 10:52] CarolynMabbott opened #1354 "No error when creating a TaskRun without a pipelineresource"
# Expected behavior
I get an error saying i need to input a pipelinereosurce
I get an error trying to post

# Actual behavior
There is no error until

# Steps to reproduce the problem

1. Go to create TaskRun
2.  Enter everything except a git-source
3.

# Environment
- Kubernetes Platform:

docker

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Addi

[2020-05-06 10:52] CarolynMabbott commented on #1354
/assign

[2020-05-06 11:59] eddycharly commented on #1346
I can imagine this very well.
On the other hand i fear it would be full of limitations, for example things like extensions that do not depend of a particular kubernetes resource, extensions that depend on more than one resource, etc...

I didn't check but are resources declared as kubenetes resource extensions automatically tracked and made available in the react store ?

Also, as most of the code

[2020-05-06 12:18] 2020testuser opened #1355 "Tekton Dashboard read-only install issue"
# Expected behavior
As an admin user,  installation of Tekton Pipeline  and Tekton Dashboard read-only in Kubernetes must be successful and non-admin users must be able to launch and view their Pipelines in  Tekton Dashboard.

# Actual behavior
As an admin user,  installing Tekton Dashboard read-only (and the plain yaml as well)  in Kubernetes  resulted in an  error.

# Steps to reproduce the pro

[2020-05-06 12:54] 2020testuser commented on #930
@AlanGreene Is this issue resolved? I'm running into the same issue. Tried installing different versions of the Dashboard by passing the namespace (used only by non-admin user) and no luck. More details on this issue would be very helpful and I will close my other issue if duplicate.

[2020-05-06 13:28] CarolynMabbott opened #1356 "Error when pressing x on Task "Select Task""
# Expected behavior
It doesnt break

# Actual behavior
It breaks

# Steps to reproduce the problem

1. go to create taskrun
2. select a kind, namespace and a task
3. press x on the task

# Environment
- Kubernetes Platform:

docker

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Additional Info
![Screenshot 2020-05-06 at 14 24 48](https://user-image

[2020-05-06 13:40] AlanGreene commented on #1355
How are you installing the dashboard? This looks very similar to the breaking change mentioned in
 but that's not included in a release yet so should only be encountered on master or using a nightly build: https://github.com/tektoncd/dashboard/pull/1327

In this case the deployment would need to be deleted before applying the new version.

You mentioned dashboard v0.6.1 in the description.
- Was t

[2020-05-06 13:54] CarolynMabbott commented on #1356
/assign

[2020-05-06 13:54] a-roberts commented on #1255
@AlanGreene's been running with this one using a simplified approach from what I had 🥳

[2020-05-06 13:56] a-roberts opened #1357 "Test with Triggers 0.5"
We should be able to display and interact with all Tekton Triggers 0.5 resources, under this issue confirm we can

The same goes for the webhooks extension as we've always done complimentary releases (any issues found should be raised at that repository)

Release notes https://github.com/tektoncd/triggers/releases/tag/v0.5.0

[2020-05-06 18:45] AlanGreene commented on #1346
Warning, big walls of text ahead 😆

This is definitely a big gap. The two extension mechanisms were never properly documented as we switched focus to more 'core' dashboard + Tekton features before we fully fleshed out the extensions and their capabilities. The use of `rollup` in the heavier of the two extension models was to provide the simplest approach for developers to build an ES module that c

[2020-05-06 19:25] 2020testuser commented on #1355
@AlanGreene , I installed Tekton Dashboard by following the steps in  the link -https://github.com/tektoncd/dashboard
 I tried with the latest version. Since, it didn't work, tried to install the previous version and no luck.
`
kubectl apply --filename https://github.com/tektoncd/dashboard/releases/download/v0.6.1/tekton-dashboard-release.yaml`
Let me know if you need any additional information. T

[2020-05-06 19:51] AlanGreene commented on #1355
From the error in the issue description it looks like you had either a nightly build or a local build from master installed at some point which contains the change from #1327. As I mentioned above this introduces a breaking change.

[code]

These labels are not present in any released dashboard version.

To resolve this error please delete the dashboard deployment and you should then be able to re

[2020-05-06 20:10] eddycharly commented on #1346
Big thanks for the detailed answer 👍

I understand that it is quite early to use and that things might change a lot in the future. Anyway it was great fun and i learnt a lot, can't wait to see this mature.

What i had in mind was something like:

[code]

something along those lines, instead of writing my own functions:

[code]

Strange, it failed when i didn't add my own, i will try again and let

[2020-05-06 20:10] a-roberts opened #1358 "Check release pipeline is locking down images OK"
For the 0.6.1.1 release I've just done, oauth-proxy still had the :latest tag and not a pinned one (so, the full sha256 digest).

Under this item, run the release pipeline and see what's going wrong (hint, it'll be to do with lockdown.py...).

[2020-05-06 21:47] jieyu opened #1360 "Deeplink does not work after auth redirect due to the use of URL fragment based routing"
We put tekton dashboards behind a reverse proxy that performs OIDC based authentication flow. When a new user clicks a link to a pipeline run from the github commit status (e.g., `https://<cluster_url>/tekton/#/namespaces/default/pipelineruns/xxx`), the proxy will perform OIDC login flow. Once the OIDC login finishes and succeeds, the browser will redirected to the original URL. However, after the

[2020-05-06 22:38] AlanGreene commented on #1360
Which browser(s) are you seeing this behaviour in? I've seen problems in some browsers in the past not properly preserving the fragment on redirects, depending on number or redirects, number of domains involved, etc.

@a-roberts have you seen anything like this with the oauth-proxy on OpenShift?

---

Some background on the use of URL fragment for our routing... There are a number of reasons we us

[2020-05-06 22:53] jieyu commented on #1360
@AlanGreene I am using chrome

[2020-05-06 23:12] AlanGreene commented on #1360
Can you reproduce this using another application (even just a simple http server with a static page) behind your OIDC proxy in place of the dashboard? This would help to narrow down where the cause lies.

I suspect one of the redirects in your login flow includes its own fragment (including state, token, or similar) which would override the original fragment on the target URL, but it would be good

[2020-05-06 23:54] jieyu commented on #1360
I launched a simple nginx server behind the proxy (Ingress) and put it under `/nginx`. And then, I typed the following URL in the browser:
[code]
Once the redirect finishes, i can see that the `#foobar` part is dropped
[code]

I'll try to see if I can reproduce using a different oidc proxy

[2020-05-07 04:54] jieyu commented on #1360
xref: https://github.com/elastic/kibana/issues/18392#issuecomment-384120359

I think this issue in kibana is related to this problem

[2020-05-07 08:39] a-roberts commented on #1360
No, we've been testing as we go on OpenShift, including with the pull request monitor task for the webhooks extension, since OpenShift 3.11 and we include a PipelineRun link in the comment that works 🤔

[2020-05-07 12:39] a-roberts commented on #1346
@eddycharly FYI, awesome points and if you can I encourage to join our
 https://github.com/tektoncd/community/blob/master/working-groups.md#dashboard!

I'm sure @AlanGreene would love to talk to you there as well

[2020-05-07 13:41] eddycharly commented on #1346
@a-roberts thank you for the suggestion, I could try to join next Monday (I’m working from home with young kids so i can’t be sure) 😄

Do I have to register or something ?

[2020-05-07 13:47] a-roberts commented on #1346
That would be great! Nope, you don't, all of the Tekton Working Group calls (linked to from the community) are free for anyone to join, contribute to and leave whenever they feel convenient to (the links are under the community repo for the notes and such)

[2020-05-07 15:45] Megan-Wright opened #1362 "Import resources fails on OpenShift"
# Expected behavior
 When accessing the dashboard using my OpenShift cluster I should be able to import resources successfully

# Actual behavior
Import resources fails without even running the pipeline

<img width="1654" alt="Screenshot 2020-05-07 at 16 44 15" src="https://user-images.githubusercontent.com/52741262/81315289-0c9d3900-9082-11ea-9223-1ea4a22c1450.png">

# Steps to reproduce the prob

[2020-05-07 15:47] eddycharly commented on #1362
I changed a lot of things in the import resources process, i will have a look.
/assign

[2020-05-07 15:53] #1255 closed

[2020-05-07 15:54] Megan-Wright opened #1363 "Triggers resources display errors on Openshift"
# Expected behavior
I should be able to view triggers resources without an error

# Actual behavior
An error appears on every trigger resource page (TriggerBindings, ClusterTriggerBindings, TriggerTemplates and EventListeners)

# Steps to reproduce the problem

1. Access the dashboard from an OpenShift cluster
2. Try to view triggers resources
3. Observe this error:
<img width="1671" alt="Screensh

[2020-05-07 16:03] eddycharly commented on #1363
@Megan-Wright is this with dashboard master ?

[2020-05-07 16:22] eddycharly commented on #1362
It looks like it's an issue with the service account:
[code]

Did you use a service account for importing the resources ?

[2020-05-07 16:56] 2020testuser commented on #1355
@AlanGreene , So,  if an admin user (who only have access to tekton pipeline namespace) can only install the dashboard, can non-admin user use it? If so, could you provide details on how the non-admin user can access the dashboard? Can we have the dashboard running forever (may be similar to a service)? More details would be helpful. Thanks!

[2020-05-07 17:07] AlanGreene commented on #1355
Did deleting the deployment and re-installing resolve your issue?

For your other questions:

Yes. There are a number of ways users can access the dashboard, which one you use depends on your specific requirements. See the README for details of accessing it via `kubectl proxy` and `kubectl port-forward`: https://github.com/tektoncd/dashboard/#accessing-the-dashboard

You may also choose to expose

[2020-05-07 17:39] eddycharly commented on #1362
Tried again with pipelines `v0.11.0` and didn't face the issue.
Pipelines version : v0.11.0
Dashboard version : master
Repo : https://github.com/tektoncd/catalog
Directory: buildah
Service account: tekton-dashboard

[2020-05-07 18:57] jieyu commented on #1360
@a-roberts so the link works with unauthenticated users (meaning it requires a full oidc connect login flow)?

[2020-05-08 12:46] MohamedTalhaoui commented on #1018
Hi,
any update ?

[2020-05-08 21:18] jieyu commented on #1360
I was able to reproduce this using another proxy (ambassador's oauth2 integration) with auth0 as IDP. Here are the steps:

* Launch a kubernetes cluster (we're using 1.16.8) on AWS
* Install ambassador ingress
[code]
* Integrate ambassador with auth0. You can following this tutorial here: https://www.getambassador.io/docs/latest/howtos/sso/auth0/

[code]
* Install an ingress for the tekton dashboa

[2020-05-08 21:47] 2020testuser commented on #1355
@AlanGreene , Thanks Much! Since, other users were using the pipeline, I didn't do any reinstall yet. Slated for the weekend work. Will let you know.

[2020-05-09 18:59] 2020testuser commented on #1355
@AlanGreene - Below are my test results. Could you please let me know what I'm missing.

1. Deleted  the dashboard deployment  and uninstalled  tekton-dashboard from pods and other places in Kubernetes.
2. As an admin user , installed tekton-dashboard in namespace tekton-pipelines.
3. Performed the steps in 'Optionally set up the Ingress endpoint' in [link](https://github.com/tektoncd/dashboard#op

[2020-05-11 08:43] Megan-Wright commented on #1362
oh that's my bad completely, I thought I was on pipelines 0.11.0 but turns out I was on 0.12.0.. I've updated the issue now - you're right it's working fine for me on 0.11.0 as well

[2020-05-11 14:26] eddycharly commented on #1018
I made a step in this direction here: https://github.com/tektoncd/experimental/pull/536

Pipelines don't need to be deployed in each namespace, a single instance of pipelines should be ok.
On the other hand, dashboard would need to be deployed multiple times.

It's probably not technically difficult to implement but how to make this available to the end user ?

[2020-05-11 14:26] #1346 closed

[2020-05-11 14:32] a-roberts commented on #1018
Hey @MohamedTalhaoui and @eddycharly, I brought this up on the working group call today - it's something we should call out as a feature to add to our roadmap I think.

I agree, it'd need to be a "can have multiple installs of the Dashboard" implementation, so a good first step would probably be to have Roles and RoleBindings everywhere as a version (ideally through kustomize), or we somehow lay d

[2020-05-11 14:34] eddycharly commented on #1018
@a-roberts yep I heard that ;)
We can still use ClusterRole but use RoleBinding instead of ClusterRoleBinding.

[2020-05-11 14:40] eddycharly commented on #1018
I wouldn’t create the roles programmatically, it would require the backend to have permissions to create roles, I would prefer to avoid that for security reasons.

[2020-05-11 14:41] a-roberts commented on #1018
Ah, didn't realise you were listening in! Doesn't ClusterRole require cluster-admin permissions to install? Happy to be mistaken and that would simplify things.

I'm wondering as this was brought up here (definitely a related issue): https://github.com/tektoncd/dashboard/issues/1355 and it'd be great if addressing this issue removes any cluster admin necessities. +1 on avoiding doing things progra

[2020-05-11 14:46] eddycharly commented on #1018
I think it's like other resources, RBAC decides if one is allowed or not to operate ClusterRoles.

Anyway i don't think the requirement here is to let users install the dashboard themself, it would probably installed by someone in the ops team who has the necessary permissions to do so.

Once installed, it should show resources from a single namespace, not the whole cluster.

I could have misunder

[2020-05-11 14:52] eddycharly commented on #1018
Issue https://github.com/tektoncd/dashboard/issues/1355 is not related, it's a breaking change in Deployment label selectors (those are immutable).

I wrote it in the description of the PR (https://github.com/tektoncd/dashboard/pull/1327)

But AFAIK this was not released yet, the user is probably trying to install master.

[2020-05-11 14:54] eddycharly commented on #1355
Are you trying to install from `master` ?

The behavior you're experiencing was introduced here: https://github.com/tektoncd/dashboard/pull/1327

Upgrading an already deployed release will not work, you will need to delete the `Service` and `Deployment` before deploying the new version.

[2020-05-11 14:58] a-roberts commented on #1018
I see, yeah the reason I figured it's related is that they, by the sounds of it, don't have permissions to install the Dashboard in their cluster, but they do have permissions to install things into their own namespace, and so by implementing this feature, if we went down the `On the other hand, dashboard would need to be deployed multiple times.` route) then they'd benefit.

But indeed, everythin

[2020-05-11 15:02] AlanGreene commented on #1355
If the non-admin users cannot access the tekton-pipelines namespace you would need to expose it via ingress instead as they won't be able to use the proxy or port-forward methods.

Bear in mind that if you're installing the dashboard in read-write mode (default), any user who can access the dashboard can perform actions with the same permissions as the ServiceAccount used by the dashboard. This me

[2020-05-11 15:05] AlanGreene commented on #1018
https://github.com/tektoncd/dashboard/issues/1355 is related, there are 2 issues discussed:
- 1 is a known breaking change related to recently added labels, the user has resolved this issue
- 2 is related to providing non-admin users access to the dashboard without giving them cluster-wide access

[2020-05-11 15:06] MohamedTalhaoui commented on #1018
Exactely.
The goal is the ops provision the dashboards (1 per namespace, 1 namespace per team).
Then each team have access to its own dashboard showing its own pipelines.

[2020-05-11 15:12] eddycharly commented on #1018
I guess we’re talking about strong isolation here, not just ui presentation, otherwise the drop down in the side nav would be enough 😄

Such a setup will probably require admin rights at some points, chances are that it will require to configure an ingress with authentication, register dns records, ssl certificates...

[2020-05-11 15:14] eddycharly commented on #1018
Do you mean preventing them from creating resources in any namespace of the cluster ?

[2020-05-11 15:19] eddycharly commented on #1018
Then each team have access to its own dashboard showing its own pipelines.

Ok so install is not an issue, Ops team has admin privileges in the cluster right ?

If that's correct, the only thing left is limiting the actions scope of the dashboard backend to a single namespace.

[2020-05-11 16:09] #1344 closed

[2020-05-11 16:21] MohamedTalhaoui commented on #1018
I confirm Install is not an issue for my use case.

[2020-05-11 16:58] AlanGreene commented on #1360
If you can customise the start page for the oauth flow you could persist the URL fragment in a cookie or sessionStorage, then on the callback page read the value back and redirect to the dashboard with the fragment appended.

[2020-05-11 20:32] jieyu commented on #1360
@AlanGreene hum, how does that work if i provide a link directly from the github commit status that the users will click for their PRs?

[2020-05-11 20:32] tam512 opened #1367 "Pipelineruns in Tekton dashboard show incorrect status for each step"
# Expected behavior
When running a pipelinerun in Tekton dashboard,  the status for each step run in the pipelinerun should report correctly

# Actual behavior
Tekton dashboard does not report status for the steps in a pipelinerun correctly

For example, in Kabanero 0.9.0-rc.2, run pipeline nodejs-express-build-deploy-pl in Tekton dashboard. It failed at step `image-digest-exporter-pndfj` and othe

[2020-05-11 22:28] AlanGreene commented on #1360
If the user is already authenticated they should be taken directly to the correct page, no changes needed.

If they're not authenticated they should be directed to the start page of your oauth flow (with the fragment still in the URL), this is the same behaviour as today. The choices available from this point depend on your particular setup and what config or other changes you're allowed / willing

[2020-05-11 22:37] eddycharly commented on #1018
There are still some details to be worked on but it should be pretty straight forward.

My recommended setup would be as follows:
- create the tekton-pipelines namespace and install pipelines in it (the same instance will be shared by all teams, pipelines doesn’t support multi tenancy yet)
- create the tekton-dashboards namespace and install dashboards in it (one dashboard instance per team but al

[2020-05-11 22:54] JustinKuli commented on #1367
I was able to recreate this in my cluster (manually creating a PipelineRun for https://developer.ibm.com/tutorials/tekton-triggers-101/ and sending the image to an incorrect registry address). It fails at the image-digest-exporter "step", which I think is created as part of the image PipelineResource.

I wasn't able to quite figure out the cause (and I think I'll need some help from someone else),

[2020-05-11 23:12] eddycharly commented on #1360
Isn’t it possible to use a special maker like `/—/` in the url and parse that ?
Something like `https://domain/—/path` ?

[2020-05-11 23:24] AlanGreene commented on #1367
This is the cause alright. Due to issues in earlier pipeline versions (order of step status was unreliable) we had to order the steps ourselves in the dashboard and ran into a number of 'interesting' cases. Tekton Pipeline actually marks unexecuted steps as failed, so we override that as you've found to display them as 'Not run'. This works fine in most cases, but in this specific scenario it's th

[2020-05-12 10:50] MohamedTalhaoui commented on #1018
How would you bind a dashboard instance to a specific namespace ?
Also, to have strong isolation we are also deploying different EventListerner for each team to listen to git webhook, so a git push in team A repo does not trigger a pipeline on team B. Waht would be your advice here ?

[2020-05-12 10:52] AlanGreene commented on #1360
I'm generally not a fan of introducing and relying on magic values in URLs as they often introduce problems of their own.

Just as a point of comparison, the Kubernetes dashboard also uses hash-based routing for similar reasons and has the same issue with oauth / oidc providers.

[2020-05-12 11:23] eddycharly commented on #1018
Something along those lines `dashboard --tenant-namespace team1`, it's not currently supported but it's the idea.

Regarding your tiggers question i don't know triggers well enough, sorry.

[2020-05-12 11:34] JustinKuli commented on #1367
/assign

I don't think I have permissions to assign myself, but I will be working on this.

[2020-05-12 12:39] ssvinoth22 commented on #692
Anyupdate on this? Do we have a plan to implement login to tekton dashboard?

[2020-05-12 12:55] a-roberts commented on #692
Hey all, so we've added a section on authentication and authorization in our roadmap here https://github.com/AlanGreene/dashboard/blob/a783793c6e77653971e2efc4ae3a34d3ea5b4325/roadmap.md, design ideas would be welcome in this space - we're hearing that folks are looking for this, I think the next logical step would be to flesh this one out some more.

@eddycharly has started contributing lots as s

[2020-05-12 13:01] #1266 closed

[2020-05-12 13:07] AlanGreene commented on #692
Also some related discussions happening in other issues, for example: https://github.com/tektoncd/dashboard/issues/1018

I have a slightly 'outside the container' (_sic_ 😉) approach I've prototyped (still early days but may be worth exploring more for some use cases) and could demo at the dashboard working group if folks are interested.

[2020-05-12 13:09] a-roberts commented on #692
I'd be interested yeah, and we can share some screenshots/gain feedback whenever you're ready with the folks here

[2020-05-12 14:08] eddycharly commented on #1018
I began working on this, splitting RBAC for now.
/assign

[2020-05-12 16:46] a-roberts commented on #1358
No longer seeing this, just done a 0.6.1.2 release - was likely user error on my part

[2020-05-12 16:46] #1358 closed

[2020-05-12 17:59] JustinKuli commented on #1367
Finally traced back to where the steps were changing, and with a very small tweak I improved things in my case (still need to reproduce the original situation, since it was slightly different).

Change (1 line): https://github.com/JustinKuli/dashboard/commit/711bde37e5087a4dcc19daf4557e7fb119eb9a1f

Before:
![tekton-1367-pre](https://user-images.githubusercontent.com/44813129/81728393-62922800-945

[2020-05-12 18:14] eddycharly commented on #1362
Can we close the issue or you need to check in more depth ?

[2020-05-12 18:49] AlanGreene commented on #1367
Yeah we'll end up with the same issue for most (all?) other init step failures where they'll be displayed at the end of the list and other steps will be marked as failed even though they didn't run. That was the original issue reported last year that we were attempting to work around by sorting etc.

[2020-05-12 19:21] JustinKuli commented on #1367
Ok, so steps like "git-source" need to be at the front of the array when they fail, but this "image-digest" step needs to be at the end. Combining them all into "init steps" seems to be part of the issue.

Just to confirm, putting in a bad git source with my fix gives this (which is not desired):
![tekton-1367-bad-git-source](https://user-images.githubusercontent.com/44813129/81736185-2ebcff80-946

[2020-05-12 19:28] AlanGreene commented on #1367
Right, that's it exactly. Ideally we would just use the order provided in the status if it's reliable now given the recent changes in Pipeline 0.12 or possibly master...

[2020-05-13 10:45] a-roberts opened #1373 "0.6.1.2: can't create/modify/delete resources, invalid CSRF token provided error (API route 404s with kubectl proxy)"
# Expected behavior
I should be able to create/modify/delete resources when accessing the dash through the kube proxy

# Actual behavior
Failed to create *resource name* with invalid CSRF token error consistently - gonna be the same for deletes, updates, etc too

# Steps to reproduce the problem

Easiest one:
1. Try to create any secret
2. Observe the error
3. All is well in port-forward mode, pro

[2020-05-13 10:47] a-roberts opened #1374 "0.6.1.2 - SA and Secrets page that should be hidden in read-only mode can be accessed through URL still"
# Expected behavior
If in read-only mode, we're omitting them from the sidenav atm but they can still be accessed through the URL

# Steps to reproduce the problem

1. Access /secrets or /serviceaccounts for example - you can still, as we're not conditionally creating the URL route/path I assume

# Environment
- Kubernetes Platform:
Using Docker Desktop here, likely any

- Tekton Pipelines version

[2020-05-13 10:49] a-roberts opened #1375 "0.6.1.2 - IsOpenShift on About page reports false (on OpenShift)"
# Expected behavior
Should return true

# Actual behavior
Returns false

# Steps to reproduce the problem

1. Install the 0.6.1.2 release candidate (todo check master)
2. Navigate to About page

# Environment
- Kubernetes Platform:
OpenShift 4.3

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:
0.6.1.2 release candidate

# Additional Info
As with related issues,

[2020-05-13 10:56] a-roberts commented on #1373
![image](https://user-images.githubusercontent.com/12814972/81804130-8f097b00-9510-11ea-9ccb-59542e494715.png)

Spoke with @alangreene about this, we're missing the API prefix, the token retrieval is done to

![image](https://user-images.githubusercontent.com/12814972/81804179-9f215a80-9510-11ea-9402-2c80

[2020-05-13 11:23] AlanGreene commented on #1374
Ah so the routes are still registered. There's no content returned from the APIs but we should still clean this up since it could cause confusion if someone hits an old link and gets an incomplete page.

[2020-05-13 11:24] AlanGreene commented on #1373
Missing API root prefix on the request, testing the fix now. Thanks for catching this.

[2020-05-13 12:30] Megan-Wright commented on #1375
/assign

[2020-05-13 12:33] JustinKuli commented on #1367
I haven't checked Pipelines 0.12, because I don't think Kabanero is planning to take that release.

Part of the issue is the the `updateUnexecutedSteps` function: currently if functions by labelling the "first" error step to be Failed and all later steps to be Not Run. That would be correct if the steps were in perfect order, but they are not (currently all "init" steps are placed first). I tried

[2020-05-13 14:31] JustinKuli commented on #1367
I'll look at the state of things in Pipeline 0.12 today.

[2020-05-13 14:56] #1373 closed

[2020-05-13 15:03] a-roberts commented on #1375
I had doubts about the PipelineRun URL being correct for the webhooks extension due to this but it's all good, so the next step is to debug this with a view to it being more of an inconvenience than anything, on this release stream.

[2020-05-14 11:52] JustinKuli commented on #1367
It doesn't seem resolved in Pipeline 0.12 based on my tests.

https://github.com/tektoncd/pipeline/issues/2029 is related, and when that is resolved we might be able to use it. The issue is summarized well there:

https://github.com/tektoncd/pipeline/pull/2455 seems like a good possibility for fixing it, but I haven't checked it myself yet.

I realized that the step logs might provide a reliable w

[2020-05-14 12:10] 2020testuser commented on #1355
@AlanGreene - Sorry. Revisiting this issue again.

 Regarding your below note on read-write mode, if I install in read-only mode as admin user and configure ingress, can all non-admin users access Dashboard in read-only mode?

I really need namespace-scoped dashboards as this is what meet our needs. Could you please let me know when this would be available?
Thanks!

[2020-05-14 12:23] eddycharly commented on #1355
Right, read-only vs read-write is an install choice not depending on the user accessing the dashboard. Same for all.

This is currently being worked on here https://github.com/tektoncd/dashboard/pull/1371. This needs review and testing but most of the things have been implemented.
Hopefully it will be available in a not so distant future 🤞

[2020-05-14 15:43] 2020testuser commented on #1355
@eddycharly - Thanks!

Even if I install in read-only  mode (which needs admin user to install) ,still the  non-admin user  need to have access to the 'tekton-pipeline' namespace to view the Tekton dashboard. Could you please confirm? Is there any way to grant 'read-only' access to a namespace ? If so, for time-being, I can grant read-only access to the 'tekton-pipeline' namespace so they can view

[2020-05-14 16:42] eddycharly commented on #1355
Not sure about your setup, you should have an ingress to allow incoming traffic to the dashboard. Are you talking about `kubectl port-forward` ?

What are you trying to do exactly ?

[2020-05-15 11:02] #1356 closed

[2020-05-15 12:01] JustinKuli commented on #1367
Got the logs into the right place and made some progress here:
![tekton-1367-use-logs1](https://user-images.githubusercontent.com/44813129/82048156-1b877b00-9682-11ea-8610-b58d1a72e28e.png)

[2020-05-15 14:11] a-roberts opened #1384 "Follow-up on release pipeline on OpenShift work (lockdown.py)"
# Expected behavior
I shouldn't have to manually lockdown image shas (say, for oauth-proxy) when I run the Dashboard release pipeline on OpenShift

# Actual behavior
I do, because a step was removed due to it relying on using a Docker socket

# Steps to reproduce the problem

1. Run the Dashboard release pipeline on OpenShift (see https://github.com/tektoncd/dashboard/pull/1336/files)
2. Check the

[2020-05-15 19:17] 2020testuser commented on #1355
@eddycharly -

I'm trying to configure ingress for Tekton Dashboard (in read-only mode) , so non-admin users can at least view their pipelines.
This is what I'm trying to do.

 As an admin user, I installed Tekton Dashboard in read-only mode in Tekton Pipeline namespace. I'm trying to set Ingress using the below steps in [link ](https://github.com/tektoncd/dashboard/#optionally-set-up-the-ingress-

[2020-05-15 20:14] eddycharly commented on #1355
I'm not sure if the link you're referring to applies in your case.

Are you sure you have a public ip address accessible on internet ?

The idea here is that you configure an `Ingress` in your cluster. The ingress itself does nothing, you will need an ingress controller to make the ingress useful (nginx-ingress for example).
Do you have an ingress controller installed ?
Is your ingress controller

[2020-05-17 21:12] dghubble opened #1386 "dashboard requires secrets access in all namespaces"
Run dashboard with `READ_ONLY` true and a Tekton pipelines scoped to a single namespace. The aim of this usage style is that `dashboard` should provide a read-only view of `Tasks`, `TaskRuns`, `Pipelines`, and `PipelineRuns` (that reside in a single namespace) and view those pod logs. Nothing more.

# Expected behavior

Dashboard (read-only) should not require access to secrets, service accounts,

[2020-05-17 23:14] eddycharly commented on #1386
Yes this is currently being worked on here https://github.com/tektoncd/dashboard/pull/1371

I agree with most of your comments but that’s not limited to read only, this makes sense to limit the scope of actions in a read write deployment too.

Also note that ClusterRole does not mean whole cluster access, it’s driven by the Binding (RoleBinding vs ClusterRoleBinding).

[2020-05-17 23:26] dghubble commented on #1386
Awesome @eddycharly :tada: Agreed, all or most of these seem like accesses they're not needed in either mode and would be nice across the board.

Thanks for the detail. I guess I should clarify, the calls being attempted appear to be for secrets at cluster scope and I'm knowingly not providing any binding to a ClusterRole that would give it secrets list, etc.

[2020-05-18 09:18] Megan-Wright opened #1387 "npm run build_ko taking upwards of 5 minutes to complete"
# Expected behavior
I should be able to build the dashboard code in a (relatively) short amount of time

# Actual behavior
Every time I try to build the dashboard using `npm run build_ko` it is taking upwards of 5 minutes to complete... this definitely didn't used to happen - it used to take a minute at the most.

# Steps to reproduce the problem

1. Run `npm run build_ko` on the dashboard code
2.

[2020-05-18 09:46] a-roberts commented on #1375
No longer seeing this on 0.6.1.3 and later so closing

[2020-05-18 09:46] #1375 closed

[2020-05-18 10:00] AlanGreene commented on #1387
[code]

Ran both `npm run build` and `npm run build_ko` (only difference should be the output location) a number of times each, getting pretty consistent results about 1.5-2mins.

This is on a mid-2015 MacBook Pro with 2.5GHz quad core i7 and 16GB RAM
node v10.19.0

Tested against dashboard master @ 901237a8ffb4d298c4841122d6440884dd9ae1f9

Can you watch the node process in Activity Monitor to det

[2020-05-18 13:50] #1374 closed

[2020-05-18 13:50] #1133 closed

[2020-05-18 14:58] AlanGreene opened #1388 "Run dashboard as a client application"
# Expected behavior
I would like to have a dashboard experience running as a client app without requiring a new service running in my cluster. This should also ensure the application is only running with the permissions that I have in the cluster.

# Actual behavior
The Dashboard currently requires a service running in the cluster, and provides the same level of access to all users, i.e. all users

[2020-05-18 19:48] AlanGreene opened #1392 "Some pages not rendering consistently"
# Expected behavior
All pages in the dashboard should render consistently.

# Actual behavior
Seeing intermittent issues with Triggers pages and YAML views (click 'i' icon on Pipelines or Tasks lists) where the page will flash on screen briefly, then the content disappears leaving only the nav + header.

# Steps to reproduce the problem

1. Navigate to any of the Triggers resources, extensions, or

[2020-05-19 07:33] AverageMarcus commented on #1388
This approach would be in addition to the existing deployed service option, right?
I like to run the dashboard in my cluster (behind an auth proxy) so I can access the results from my phone while on the go.

---

How do you propose it handles lack of permissions? For example, if I only have read access to PipelineRuns.

[2020-05-19 09:01] CarolynMabbott opened #1395 "Pressing `x` on Pipeline in Create Pipelinerun should clear the page"
# Expected behavior
It clears the pipeline related options below

# Actual behavior
It doesnt

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

# Additional Info

[2020-05-19 09:01] CarolynMabbott commented on #1395
/assign

[2020-05-19 09:18] AlanGreene commented on #1388
Yes this would be in addition to the current model.

We already have a read-only mode for the deployed service, so I would expect it to behave in the same way by disabling any items the user does not have permission to use, e.g. Import Resources, Create PipelineRun, etc.

The permissions handling needs to be more fine grained than what we have today, maybe using SubjectAccessReview / SelfSubjectAc

[2020-05-19 15:27] #1392 closed

[2020-05-19 19:33] AlanGreene commented on #596
Remaining unprefixed styles:

- [ ] packages/components:
  - [ ] KeyValueList
  - [ ] PipelineRuns
  - [ ] RunHeader
  - [ ] Spinner (animation)
  - [ ] Step
  - [ ] Task
  - [ ] Trigger
- [ ] src/scss:
  - [ ] CreateRun
  - [ ] Triggers
- [ ] src/components:
  - [ ] App
  - [ ] CreateSecret
  - [ ] Definitions
- [ ] src/containers:
  - [ ] EventListener
  - [ ] ImportResources
  - [ ] PipelineRun

[2020-05-19 19:47] eddycharly opened #1404 "Command line arguments should be documented"
# Expected behavior

We have docs for supported command line arguments.

# Actual behavior

No docs available.

# Additional Info

I will take care of this.

/assign

[2020-05-19 19:57] 2020testuser commented on #1355
@eddycharly - Sorry for delayed reply. Cluster is on Linux VM and I'm accessing the cluster from my machine using kubectl. I'll retry again and get back on this. Thanks for all your help.

[2020-05-19 20:07] eddycharly commented on #1355
Ok, don't hesitate if you need more help.
Setting up an ingress should not need kubectl at all.

[2020-05-19 21:04] 2020testuser commented on #1355
@eddycharly - Sorry.I meant  using kubectl commands to deploy to Kubernetes (my pipelines). Looking forward to your documentation. For now, will retest and get back. Thanks!

[2020-05-20 11:01] jpds opened #1405 "Constant "JSON.parse: unexpected character" errors"
# Expected behavior

I'm able to view output in Tekton Dashboard pages.

# Actual behavior

I've deployed Tekton Pipelines v0.12.1 and Tekton Dashboard v0.6.1.4 and on every single page I view on the dashboard I get:

[code]

# Steps to reproduce the problem

1. Deploy GKE cluster (I used regular channel, version currently at 1.16.8-gke.15)
2. Deploy pipelines and dashboard:

[code]

3. Apply task

[2020-05-20 11:27] AlanGreene commented on #1405
This sounds like the APIs are returning unexpected content, potentially a HTML error page or similar.

Can you check the network tab of the browser dev tools and see if there's more information about the failure that could help?

For example, on the Pipelines page you should see a request to `/proxy/apis/tekton.dev/v1beta1/pipelines/` that returns a JSON response containing a PipelineList

![image

[2020-05-20 11:50] jpds commented on #1405
Google Cloud's Cloud Shell integration seems to hijack the requests behind a "/?authuser=0/" thing, but I do see a "200 OK GET" to `/?authuser=0/proxy/apis/tekton.dev/v1beta1/pipelines/` - the Preview section is empty.

If I manually go to the URL `/proxy/apis/tekton.dev/v1beta1/pipelines/`, I see the correct raw JSON:

[code]

[2020-05-20 11:54] jpds commented on #1405
Ah, interesting - I just removed the `/?authuser=0/` from the default [web preview](https://cloud.google.com/shell/docs/using-web-preview) URL and now I can view the pages correctly as it sends me to `/#/pipelineruns`.

[2020-05-20 12:03] AlanGreene commented on #1405
Nice find, I can reproduce it locally on other platforms by adding a query string to the URL before the fragment used for client side routing. We're not expecting a query string to be present, so when we construct the URLs for the API calls it's getting included before the API path.

Can you confirm what happens if you call the API directly with the `?authuser=0` query appended?

http://localhost:

[2020-05-20 12:04] jpds commented on #1405
This returns the JSON correctly.

[2020-05-20 12:06] AlanGreene commented on #1405
OK great. For now I think we'll just remove the query string, hopefully a simple enough change.

Thanks for reporting and finding the cause 👍

/kind bug
/assign

[2020-05-20 12:35] CarolynMabbott opened #1409 "No option to change what pipeline /taskrun to create when filter is applied"
# Expected behavior
I can change the taskrun / pipelinerun without having to close the modal and remove the filter

# Actual behavior
I have to close the modal, remove the filter than go back to the create modal

# Steps to reproduce the problem

1. have a filter on pipeline / taskrun
2. click on create
3. not be able to change pipelinerun / taskrun

# Environment
- Kubernetes Platform:

docker

-

[2020-05-20 12:46] AlanGreene commented on #1409
This is consistent with the behaviour of the Create PipelineRun page, so if we want to change this we should change both.

[2020-05-20 12:47] AlanGreene commented on #1409
This is working as designed, but I agree it would be better to default the selection to the filtered Pipeline / Task but still allow the user to change this in the dialog without having to close, remove the filter, and open the dialog again.

[2020-05-20 14:56] #1395 closed

[2020-05-20 16:46] AlanGreene commented on #1409
/assign

[2020-05-20 21:00] steveodonovan opened #1413 "Add view for taskRun details"
# Expected behavior

At the moment the taskRuns view is per step with no way to see taskRun level inputs and status outside of error cases. The goal is to allow users view taskRun level information

inputs sample

<img width="1078" alt="Screenshot 2020-05-20 at 21 55 55" src="https://user-images.githubusercontent.com/18128367/82496672-062ca980-9ae5-11ea-9a11-d168c573df26.png">

Where the taskRun h

[2020-05-20 21:06] steveodonovan commented on #1413
/assign

[2020-05-20 21:32] #1367 closed

[2020-05-20 22:37] #1404 closed

[2020-05-21 09:27] CarolynMabbott opened #1417 "Dashboard shows timed out pipelineruns / taskruns as running"
# Expected behavior
It doesnt show them as running

# Actual behavior
It shows them as running

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Kubernetes Platform:

Docker

- Tekton Pipelines version:

0.12.1

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Additional Info
This is intermittent as it shows correctly sometimes and other times does not show correctly
T

[2020-05-21 10:32] CarolynMabbott opened #1418 "Dashboard shouldn't allow timeout of 0 for PipelineRuns/TaskRuns"
# Expected behavior
We dont allow a timeout of 0

# Actual behavior
We allow it but timeout does nothing, the pipelinerun / taskrun never times out

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Additional Info

/assign

[2020-05-21 10:51] AlanGreene commented on #1417
As far as I recall this is due to the way Tekton Pipelines reports the status of the step. In some cases it doesn't get updated to reflect the fact that it was terminated.

I know there have been changes over the past few releases to address various error cases where statuses weren't being updated correctly so would need to validate whether this is still the case or if we're seeing something else

[2020-05-21 10:58] AlanGreene commented on #1418
https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md#configuring-a-failure-timeout

https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#configuring-the-failure-timeout

The Pipelines docs seem to suggest that "0" is a valid value for the timeout, so we should allow it and ensure it's sets correctly.

[2020-05-21 11:17] #1405 closed

[2020-05-21 12:35] Megan-Wright commented on #1362
This can be closed now, fixed as part of the work to get triggers 0.5.0 working with the dashboard.
/close

[2020-05-21 12:35] #1362 closed

[2020-05-21 12:36] Megan-Wright commented on #1363
Not seeing this anymore with master
/close

[2020-05-21 12:36] #1363 closed

[2020-05-21 12:38] Megan-Wright commented on #1357
/close

[2020-05-21 12:38] #1357 closed

[2020-05-21 12:53] CarolynMabbott commented on #1418
It does get set correctly

Did not realise that it had that functionality if you set it to 0
Would it be useful to add a tooltip or something similar to inform people that this functionality is available?

[2020-05-21 13:19] a-roberts opened #1419 "Look into backporting any security fixes to the 0.5.2 stream"
We've had a couple of awesome security fixes go into master and the 0.6.1.3 and 0.6.1.4 releases, so it would be useful to do the same as an older release that may be in use by customers.

Under this issue, have a look at cherry-picking the relevant security fixes so we could do, what I'm suggesting, is a 0.5.2.1.

I'm wondering if we should do it against 0.5.3 as well just because it's got a lot

[2020-05-21 13:25] jlpettersson opened #1420 "Do actions on behalf of user"
# Expected behavior

That Dashboard is a secure app and follow cloud native least privilege principles, e.g. using OIDC for authentication

# Actual behavior and proposed solutions

Apparently, the dashboard does not provide user authentication https://github.com/tektoncd/dashboard/issues/692 and may expose things that the user usually does not have access to (example https://github.com/tektoncd/d

[2020-05-21 13:27] a-roberts opened #1421 "Productivity - add AlanGreene as a releaser and eddycharly as a reviewer?"
Hey everyone, I wanted to make this in the open for transparency - I've been working a lot of other issues/projects outside of the Tekton Dashboard, and I've been unable to get as many reviews/features in as I'd have liked.

On the contrary...
@AlanGreene has been exceptionally prolific since the very start of this project and continues to come forward with awesome new ideas. Currently, only mysel

[2020-05-21 14:06] eddycharly commented on #1421
Thanks @a-roberts !

No objections on my side.
I came here mostly to contribute with the code but no problems helping in reviews too.

[2020-05-21 14:31] eddycharly commented on #1420
Thanks @jlpettersson for raising the issue.

There’s work going on to limit the scope of the dashboard to a single namespace and reduce RBAC permissions.

I wanted to implement opt-in/opt-out mechanism too but didn’t have time to work on it yet (right now we have no way to tell a service account should not be used for pipeline runs for example, one can execute a pipeline run with cluster admin rig

[2020-05-21 14:34] AlanGreene commented on #1421
1. Yes I'd be happy to share in the release fun :+1: Release docs seem pretty detailed and I've run through them locally before with the final publish steps disabled so hopefully that means I won't run into any problems once I have access. It would be good to have one of you look over my shoulder for the first release just in case though.

2. @eddycharly has been making solid contributions to the

[2020-05-21 14:37] AlanGreene commented on #1420
Also see https://github.com/tektoncd/dashboard/pull/1416 and https://github.com/tektoncd/dashboard/issues/1388 which are attempting to address some aspects of this.

There are other items too as @eddycharly has mentioned. This is an area of active development and feedback is always welcome 👍

[2020-05-21 14:42] AlanGreene commented on #1419
I think the filtering relies on https://github.com/tektoncd/dashboard/commit/ddd6c4f5d109f5d81d84388fe30a6eb22f0e51c2 for a clean cherry-pick, otherwise the list looks good to me.

[2020-05-21 14:44] AlanGreene commented on #1418
I think it's enough that it's documented in the Pipelines docs for now. Once we get the Dashboard docs on the website we can provide more user guides to point at with this type of detail since it can be hard to capture enough detail in a one line tooltip.

[2020-05-21 14:53] a-roberts commented on #1419
Good shout, updated to add

[2020-05-21 15:03] JustinKuli commented on #1367
/reopen

The improved sorting logic in #1394 should improve the experience here. By sorting the injected steps into the "normal" steps (as opposed to lumping them at the top), fewer should be incorrectly labelled. A simple example of the improvement is here: https://github.com/tektoncd/dashboard/pull/1394#issuecomment-631072056

The fix is a bit limited by the information returned from `pipeline`.

[2020-05-21 15:14] JustinKuli commented on #1367
Since this issue was found during testing of Kabanero, I think we can reopen this until it gets into a release that project can use.

As an extra note, the improvement is still not perfect. To re-sort them, we rely on timestamps from `pipeline`, which are currently only down to the second. So a failing step and a skipped step might appear to run at the same time, and we can't determine which one a

[2020-05-21 16:57] jpds opened #1423 "Dashboard showing pipeline running in the future"
# Expected behavior

Tekton seems to be saying that my currently running pipeline will be starting in the future.

NTP is enabled on the host running the pod and showing the correct time.

# Actual behavior

![tekton-in-the-future](https://user-images.githubusercontent.com/29158971/82584412-5f034d00-9b8c-11ea-8537-97939ccf5e99.png)

Note that my desktop time is UTC+1, while the server and dashboar

[2020-05-21 17:01] jpds commented on #1423
Actually, this seems to have been an issue on my desktop's end after all!

[2020-05-21 17:01] #1423 closed

[2020-05-21 18:22] AlanGreene commented on #1350
@Megan-Wright are you still seeing this?

[2020-05-21 19:03] bconey opened #1424 "Tekton dashboard About output not displaying expected TriggersVersion info"
# Expected behavior
Tekton dashboard About output should display value formatted like "0.3" for TriggersVersion

# Actual behavior
Tekton dashboard About output displays "devel" for TriggersVersion

<img width="1345" alt="image" src="https://user-images.githubusercontent.com/31766760/82595434-8c8fcc80-9b73-11ea-8f01-e5f5fc1f9d8a.png">

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Ku

[2020-05-21 20:21] JustinKuli commented on #1424
From what I understand, the dashboard searches for the triggers deployment, and then gets the version number from its labels. On OpenShift, as a backup in case it is missing the right label, it checks the container image.

I tried installing Kabanero 0.9.0 in my cluster, and I found this:
[code]

It's running the correct triggers image (v0.4.0) but the deployment is specifically labelled for devel

[2020-05-21 20:28] AlanGreene commented on #1424
@bconey how did you install Triggers and what version were you expecting? As Justin mentioned the Dashboard relies on the labels on the Triggers controller to retrieve the version information.

It's possible that a Triggers release was made that didn't properly replace the default "devel" value with the release version.

[2020-05-21 20:56] AlanGreene commented on #1204
Closing, please reopen if you're still seeing issues on the latest release.

[2020-05-21 20:56] #1204 closed

[2020-05-21 20:59] AlanGreene commented on #1264
Think it's safe to close this one now.

[2020-05-21 20:59] #1264 closed

[2020-05-21 21:03] AlanGreene commented on #1347
As far as I know our 0.6.1.4 release covers this, so closing. Please reopen if I'm mistaken.

[2020-05-21 21:03] #1347 closed

[2020-05-21 21:25] AlanGreene commented on #1029
So the limit is 1MB for the total Secret size, which is the equivalent of someone pasting in a few whole novels into the text fields.

Since this is unlikely to happen often in practice, and we do at least catch and display the error so things don't break in case someone accidentally pastes in a load of bad content, I'm closing this issue.

Happy to revisit though.

[2020-05-21 21:25] #1029 closed

[2020-05-21 22:08] anneqm commented on #1424
@AlanGreene via the openshift-pipelines-operator.   Expecting v0.4.0 per Justin's comment above.

[2020-05-22 13:16] a-roberts opened #1428 "Feature request: improve our use of labels for navigation"
Credits to @nastacio for suggesting this one - Denilson, let us know if I've missed something!

Currently, a user must know exactly what the labels are when they're about to filter, say, PipelineRuns.

What if a team doesn't know the labels they want to search on but they want to filter things at a more general level?

So for example, a `test` team project shouldn't need to know that everything th

[2020-05-22 13:23] eddycharly commented on #1428
How about an auto complete suggestion while the user is typing ?

[2020-05-22 13:29] nastacio commented on #1428
That is positive. Another possibility is a loose search, such as "node" matching small variations, such as "Node", "node-js", "nodejs".

[2020-05-22 13:30] a-roberts commented on #1428
Yeah, that would be useful too - that combined with the "not exact matching" would be a definite improvement. I'm wondering if this will be particularly expensive so we'd only want to use known labels in the store (thinking about the performance implications on a particularly busy cluster, while still wanting to get the most up to date info)

[2020-05-22 13:33] eddycharly commented on #1428
Do we need to use the backend for that ?
I felt like it was done client side.

[2020-05-22 13:36] a-roberts commented on #1428
Yeah, maybe you're right actually - I remember our use of labelSelector, at least at one time, being done through Go and we had all kinda trouble (to do with nameSelector as well); that may have been "legacy" code...

[2020-05-22 15:13] eddycharly commented on #1428
Not completely sure but i suspect this is not supported by kubernetes (https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#label-selectors)

[2020-05-22 15:30] a-roberts commented on #1428
Yeah, so wonder if we've gotta write our own custom matcher then through Go, or Javascript through objects we've found in the store (seen already for performance reasons instead of always fetching). It would be useful to mock up a quick prototype sometime to see what it is and isn't supported, and I'm sure once @AlanGreene is back from his break we'll have more insights too

[2020-05-25 12:20] AlanGreene commented on #1428
There's also this issue to surface labels in more of the details views to help with navigation / filtering: https://github.com/tektoncd/dashboard/issues/1181

We currently use the labelSelector query param to filter our API requests. This does not support partial matches (or variations as suggested above), so if we wanted to support this type of matching we would need to implement it ourselves, ei

[2020-05-25 16:48] #1409 closed

[2020-05-26 08:58] Megan-Wright commented on #1350
Nope, all looking good now 😸
/close

[2020-05-26 08:58] #1350 closed

[2020-05-26 09:10] CarolynMabbott opened #1432 "Can create a pipelinerun in a ns where that pipeline doesnt exist"
# Expected behavior
Shouldnt happen

# Actual behavior
I can create the pipelinerun

# Steps to reproduce the problem

1. Click on label in pipelines
2. Change ns to a ns which doesnt have that pipeline
3. Click on create and press create

# Environment
- Kubernetes Platform:

doc ker

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Additional Info

[2020-05-26 09:10] CarolynMabbott commented on #1432
/assign

[2020-05-26 12:22] a-roberts commented on #1421
@eddycharly has been added as a reviewer and we can follow up with the governing folks on getting @AlanGreene the credentials, let's close this one, thanks all

[2020-05-26 12:22] #1421 closed

[2020-05-26 12:24] a-roberts commented on #1418
So based on

[code]

@CarolynMabbott is this issue still valid then? Have I missed something?

[2020-05-26 12:31] a-roberts commented on #1413
PR for this is merged so let's close this

[2020-05-26 12:31] #1413 closed

[2020-05-26 12:34] a-roberts commented on #1310
https://github.com/tektoncd/dashboard/pull/1336 for this and is now merged so closing

[2020-05-26 12:34] #1310 closed

[2020-05-26 12:34] Megan-Wright commented on #1387
yeah I've been building master this morning several times and it's actually got a lot quicker (no idea what was happening, might've just been my laptop).. will close this one for now
/close

[2020-05-26 12:34] #1387 closed

[2020-05-26 12:36] AlanGreene commented on #1387
OK glad(ish) to hear 😸 If you do notice it slow down again give me a shout and we can take a look.

[2020-05-26 13:30] Megan-Wright commented on #1044
Having reinvestigated using both oauth-proxy and ouath-proxy-2 (which is seemingly not much different), opened issues, talked to people who contribute to the repos, etc. I still can't make any progress on this one... see my comment above about `cookie-expire` and `cookie-refresh`... going to unassign myself for now and see if anyone else can get any further with this.

[2020-05-26 13:30] #1432 closed

[2020-05-26 14:01] CarolynMabbott opened #1437 "Can create a taskrun in a ns where that task doesnt exist"
# Expected behavior
Shouldnt be able to

# Actual behavior
Am able to

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

# Additional Info

Identical in the issue as the issue created for pipelineruns https://github.com/tektoncd/dashboard/issues/1432

/assign

[2020-05-26 14:06] JustinKuli opened #1438 "Look at cherry-picking the improvement for displaying step status into 0.6.x"
Kabanero might want/need this in a release sooner rather than later, so it would be good to get something ready for their testing (suggested by @a-roberts).

The commit is 09d5bce, from  #1394

[2020-05-26 14:19] JustinKuli commented on #1438
My branch with b991cfc is based off of the v0.6.1.4 tag

[2020-05-26 14:29] anneqm commented on #1438
This would be a partial fix / improvement for https://github.com/tektoncd/dashboard/issues/1367.

[2020-05-26 14:37] steveodonovan commented on #936
/assign

[2020-05-26 14:42] a-roberts commented on #1438
Excellent, let's get this fully tested (so, on OpenShift and not), against the Tekton version we support on this release stream (current 0.11.x and 0.12.x) then I'll be happy to do a release.

The release process is that I'll basically check out your branch and then push it as a tag here for the Dash, kick off the release pipeline and do the usual staging work. If that testing's already been done

[2020-05-26 14:51] JustinKuli commented on #1438
/assign

Beyond installing it, clicking around and running a pipeline or two, what sort of tests would make this "fully tested"?

[2020-05-26 14:56] a-roberts commented on #1438
Yeah the coverage I'd be looking for, for this specific commit, would be:

Normal flows (import resources, creating PIpelineRuns through the panelling, and TaskRuns, and then PipelineRuns through the webhooks extension). Check nothing odd occurs for both the good path, the error path, and the pending path - so for example when the PipelineRun passes, when it fails, and when it's still running.

[2020-05-26 20:55] anneqm commented on #1438
Prefer release 0.6.1.5 for less risk  rather than 0.6.2.

[2020-05-26 21:27] JustinKuli commented on #1438
Tested on my docker desktop (kubernetes v1.16, tekton-pipeline v0.12.1):

- [x] Import Resources from github
- [x] Creating PipelineRuns through the panelling
- [ ] ~Creating TaskRuns through the panelling~ (TaskRun panelling not included in this branch)
- [ ] ~Creating PipelineRuns through the webhooks extension~ (I had my own problems with the webhooks today - probably not because of the change,

[2020-05-27 08:23] a-roberts commented on #1438
Thanks @JustinKuli and @rnapoles-tktn - that's great info to know. I'll create a 0.6.1.5 release now based off your branch Justin and once that's done we can close this out.

[2020-05-27 09:39] #1437 closed

[2020-05-27 12:57] #936 closed

[2020-05-27 14:34] rnapoles-tktn commented on #1438
After additional testing, mainly focusing on 0.11.3 pipelines and patching up from 0.6.1.4 dashboard I got the following:

[2020-05-27 14:46] a-roberts commented on #1438
AIAU the steps are supposed to be run in the order they are in your Pipeline, but there are no guarantees, @AlanGreene does this align with your findings too?

A simple https://github.com/tektoncd/pipeline/search?q=ordering&unscoped_q=ordering search like this shows there are attempts made at things being deterministic. Let's see the example Pipeline spec you're using please and we can go from the

[2020-05-27 14:49] AlanGreene commented on #1438
It's most likely a display issue in the dashboard. We already know the timestamps aren't precise enough to fully rely on them for accurate ordering, this was noted in the recent change for the image-digest-exporter step.

The steps should be executed in order though, if that's not the case then it's a pipeline bug but I think this is unlikely.

[2020-05-27 14:51] rnapoles-tktn commented on #1438
It was a manual taskRun, I wanted to cycle through specific scenarios and this makes it easy to cycle through them, in this case this is the output of the taskRun:
`apiVersion: tekton.dev/v1beta1
kind: TaskRun
metadata:
  generateName: fail-bbb-skip-image-
  annotations:
    pipeline.tekton.dev/release: devel
  selfLink: >-
    /apis/tekton.dev/v1beta1/namespaces/openshift-pipelines/taskruns/fail-

[2020-05-27 14:52] JustinKuli commented on #1438
From what I see in the full TaskRun yaml, the "startedAt" timestamps from pipelines are inconsistent... The log on step bbb does show that it went after aaa, it's just not reported well by those timestamps (which is what the "improved" code in the dashboard uses)

[2020-05-27 15:20] CarolynMabbott opened #1444 "PipelineRuns created and duration randomly just stop updating"
# Expected behavior
It is accurate and updates consistently whilst running PipelineRuns

# Actual behavior
It just randomly stops updating the duration and created
It does resume at some point but not together
Gets to the state where created was 2 mins ago and duration is 25 seconds even though it started running at creation

# Steps to reproduce the problem
I was using a pipeline created from a w

[2020-05-27 15:37] a-roberts commented on #1438
This is done and made it into the 0.6.1.5 release, let's work on anything else in new issues with master as our codebase and Tekton Pipelines master, where we should see the most improvements.

[2020-05-27 15:37] #1438 closed

[2020-05-27 15:39] Megan-Wright opened #1445 "Improve display of when expressions and retries"
# Expected behavior
If a Condition fails in my PipelineRun it should be displayed clearly on the PipelineRun details page.
Successful Conditions should not distract from other TaskRuns in the PipelineRun, especially when there are many of them. (originally reported in https://github.com/tektoncd/dashboard/issues/1574)

# Actual behavior
The failed Condition is rendered the same as a failed TaskRun

[2020-05-27 15:40] Megan-Wright commented on #1445
@AlanGreene @steveodonovan FYI

[2020-05-27 15:50] AlanGreene commented on #1445
The PipelineRun has actually passed. One of the Condition checks failed (the red item in the TaskTree) so a Task was skipped, but this doesn't affect the PipelineRun status and it was still successful.

[2020-05-27 16:09] a-roberts commented on #1445
Yeah, so that's an interesting one - think it from a dev perspective. they're gonna see loads of red builds when really things were built fine but the condition failed (maybe the condition is: was it a push to master).

@AlanGreene you may have considered this already but how about a new status (orange perhaps?), and this means the PipelineRun/TaskRun passed but, warning, one or more conditions fa

[2020-05-27 17:19] AlanGreene commented on #1445
Yeah I agree and thought we had an issue tracking that but can't find it now. I'm gonna repurpose this one.

[2020-05-27 19:35] eddycharly commented on #1276
I’ll look at it, most of the UI has been plugged on the redux store, it’s just a matter of notifying the frontend when something changes.

/assign

[2020-05-27 20:09] eddycharly commented on #232
Why not add something like `ExternalAgentLogs` in prow ?

[2020-05-27 21:10] eddycharly commented on #518
Pipeline0 was removed a while ago.
Shall we close the issue ?

[2020-05-28 08:22] a-roberts commented on #518
Yep 😄

[2020-05-28 08:22] #518 closed

[2020-05-28 10:50] AlanGreene commented on #453
PR open for the last of the strings.

There are a few remaining strings that I've deliberately omitted:

- 'key' and 'value' placeholders on Create PipelineRun and Create TaskRun label inputs
- 'secret-name' placeholder on Create Secret (UniversalFields)
- 'username' placeholder on Create Secret (PasswordType)

These inputs only accept a limited set of characters, so including translations here wo

[2020-05-28 13:22] CarolynMabbott commented on #1417
How would I be able to tell if this is a issue with the way Tekton Pipelines reports the status of the step or something else?
Should I be looking at the taskruns yaml or logs to find this?

[2020-05-28 13:26] AlanGreene commented on #1417
If you check the status tab you should see 'running' instead of 'terminated'.

You can verify this is not related to the dashboard by running `kubectl describe taskrun <name>` and looking at the step status being reported there.

[2020-05-28 13:36] eddycharly commented on #662
Being the one that asked for it, i will look into it.

/assign

[2020-05-28 13:48] #453 closed

[2020-05-28 14:09] AlanGreene commented on #1418
Closing. Feel free to reopen if there's more needed here.

[2020-05-28 14:09] #1418 closed

[2020-05-28 14:46] JustinKuli commented on #1438
Just to provide some more information about why @rnapoles-tktn's test had such an odd result: before pipeline 0.12.0, the `startedAt` timestamp can't be relied on in the way I was expecting.

https://github.com/tektoncd/pipeline/pull/2429 (released in pipeline 0.12.0) ensures that this timestamp is correctly set even when steps are skipped.

[2020-05-29 09:42] a-roberts commented on #1419
@AlanGreene I didn't spend much time resolving conflicts - wanted to get something that at least had the security problems in, but I've got something that builds, functions, and doesn't have the security issue you worked on for the 0.6.x stream.

It's at https://github.com/a-roberts/dashboard/tree/adam0521candidate so please take a look and kick the tires (this requires Pipelines 0.10.x - I'm usin

[2020-05-29 10:47] steveodonovan opened #1451 "TaskRun Failure shows invalid steps status for pipelineResource image error"
# Expected behavior

The first step ran and should not show `not run` as its status

# Actual behavior

![Screenshot 2020-05-29 at 11 42 51](https://user-images.githubusercontent.com/18128367/83251572-b2cff080-a1a1-11ea-9c8b-0358c66f47bc.png)

# Steps to reproduce the problem

Sample resources

[code]

@AlanGreene FYI

[2020-05-29 13:01] eddycharly commented on #680
Any news on this one ?
Maybe we can close it for now and reopen if this happens again ?

[2020-05-29 13:05] eddycharly commented on #681
@CarolynMabbott are you still working on this ?

[2020-05-29 13:17] CarolynMabbott commented on #681
Nope not working on this, unassigned myself last year

[2020-05-29 13:45] eddycharly commented on #793
This will probably require the pipeline to run with admin permissions (to create clusterroles, service account, etc...).

Not sure this will make things easier.

We could easily use `docker exec` commands so that everything happens in containers so the only requirement is docker.

[2020-05-29 14:01] a-roberts commented on #793
I'm happy for it to just be the build process though (static content + Go), I'm basically trying to avoid people doing

[code]

after downloading a bunch of dependencies, setting up their GOPATH (we could switch to modules as other Tekton projects have), and then providing some output.

I don't see a way for the Pipeline to "reach back" to the local file system however, to either show the built da

[2020-05-29 14:10] eddycharly commented on #793
I thought about something like (for frontend) : `docker run --rm -v ${PWD}:/work -w /work node:10-alpine npm ci && dep ensure -v && npm run lint:fix && npm run bootstrap && npm run build_ko`.

Didn't test it but it should produce all necessary files on disk without installing node, npm etc...

We could do the same thing for the backend, maybe i will try it later and let you know.

[2020-05-29 16:45] eddycharly commented on #793
This works fine:
[code]

Starting the dev server is more complicated as it needs to access the forwarded port to the backend (this means the container needs to access a port on the host).
We can probably install kubectl in the pod and port-forward from there.

It's slow as hell on mac, I can hear the filesystem crying :(

[2020-05-29 16:47] eddycharly commented on #793
Switching to go modules would be nice too !

[2020-06-01 13:36] #680 closed

[2020-06-02 09:45] AlanGreene commented on #1451
Duplicate of https://github.com/tektoncd/dashboard/issues/1367

This can happen when multiple steps executed in the same second.

pipelines 0.12 has some improvements, as does the latest code on master with improved resolution for some of the timestamps, but there's not much more we can do dashboard side at the moment.

[2020-06-02 09:45] #1451 closed

[2020-06-02 10:29] #1354 closed

[2020-06-02 12:44] #596 closed

[2020-06-03 10:23] afrittoli opened #1460 "Cannot deeplink to task / step details in pipelinerun view"
# Expected behavior
I can deeplink to task / step details in pipelinerun view

# Actual behavior
I can only link to the pipelinerun. When I select a task / step the URL is not updated, nor there is no option in the dashboard to copy a deeplink to the current view.

# Steps to reproduce the problem

1. https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-nightl

[2020-06-03 10:23] afrittoli commented on #1460
/kind feature

[2020-06-03 12:53] AlanGreene commented on #1460
I agree this is something we need, and it's being tracked in https://github.com/tektoncd/dashboard/issues/487

We made some changes to the components in the last release that should make this a little easier to implement now but there's still more work needed to complete it.

[2020-06-03 12:54] #1460 closed

[2020-06-03 20:17] #542 closed

[2020-06-05 11:49] #1221 closed

[2020-06-05 12:44] CarolynMabbott opened #1472 "Internal server error for Pipelines / Tasks / ClusterTasks page using All Namespaces"
# Expected behavior
It doesnt error and shows me info

# Actual behavior
It errors and i see no info on the pages

# Steps to reproduce the problem

1. Go port pipelines / tasks / clustertasks page when All Namespaces on the left
2.
3.

# Environment
- Kubernetes Platform:

Openshift

- Tekton Pipelines version:

0.11.3

- Tekton Triggers version:

0.4.0

- Tekton Dashboard version:

0.7.0
# Addit

[2020-06-05 12:53] AlanGreene commented on #1472
`message:conversion webhook for tekton.devv1beta1`

Shouldn't that be `tekton.dev/v1beta1` (notice the missing '/')

Not sure if that's just a display issue in the logs you posted or pointing at a possible cause?

[2020-06-05 13:02] CarolynMabbott commented on #1472
I have everything installed in the same namespace
installed pipelines + triggers through operator
Installed latest dashboard release through oc apply

That missing slash could be the problem, it's exactly the same as in the logs

[2020-06-05 13:32] #662 closed

[2020-06-05 13:41] CarolynMabbott commented on #1472
So an update, it works fine when I access pipelines and tasks when any namespace is selected on the left but when its All Namespaces it errors
Clustertasks is still broken

[2020-06-05 14:40] a-roberts commented on #1472
Carolyn's seeing this with 0.7.0 which is cut from master a few days ago, and master (which I staged a release candidate for) - holding up the release for that until this is resolved

[2020-06-05 15:16] a-roberts commented on #1472
@CarolynMabbott I don't see this with the latest release candidate or the staged one on OpenShift - do you? Can you check everything looks ok in your cluster?

[2020-06-05 17:27] eddycharly opened #1473 "Improve docs"
Docs are somewhat not well organized.

I create this issue to initiate and track efforts to improve our docs.

`/README.md`: PR -> #1476

- badges
- brief intro
- screenshot
- Start using Tekton Dashboard
  - link to `/docs/install.md`
  - link to `/docs/extensions.md`
  - link to katacoda tutorial
  - link to `roadmap.md`
  - link to create bug reports / feature request issues
- Read the docs
  -

[2020-06-05 17:38] AlanGreene commented on #1473
Yes this is something we've been meaning to get to for a while now but it kept getting pushed out and more content added.

I think we should keep the README relatively short:
- brief intro
- screenshot
- links:
  - install
  - config
  - roadmap
  - contributing / development

Both Pipelines and Triggers already take this approach, and I think it makes it easier to find the relevant information wh

[2020-06-05 17:45] eddycharly commented on #1473
I agree that the README should be short and link to dedicated pages.

I started making changes here https://github.com/eddycharly/dashboard/tree/docs

I didn't think about the website part, will look at the linked PR.

[2020-06-05 17:49] eddycharly commented on #1473
I'm going to follow pipelines layout, it looks great !

[2020-06-06 14:48] eddycharly opened #1481 "Latest release points to v0.5.3"
When deploying with:
[code]

Tekton Dashboard `v0.5.3` is deployed, not the latest one.

I would expect to get the latest release instead.

[2020-06-06 15:02] ratripathi opened #1482 "Unable to deploy as the Replica set throwing error: MutatingAdmissionWebhook"
# Expected behavior
The replica set should scale the pods with the desired instances.

# Actual behavior
Pods are not deployed and the rs shows following error:

[code]

# Steps to reproduce the problem

1. Follow this doc to get starte: https://tekton.dev/docs/getting-started/
2. Check the rs & other resources in the namespace

[code]

# Environment
- Kubernetes Platform:
OCP 4.3
Client Version:

[2020-06-06 15:06] eddycharly commented on #1482
It looks like Tekton Pipelines are not up and running, is this an issue about Tekton Dashboard or Tekton Pipelines ?

[2020-06-06 18:27] ratripathi commented on #1482
It happens  while deploying Tekton pipelines. Trying to find out the root cause.

[2020-06-08 08:36] a-roberts opened #1485 "Provide Dashboard release for Pipelines 0.13"
I staged a 0.7.0 recently to support Triggers 0.5 and there are plenty of other great enhancements and fixes. 0.13 of Pipelines was very recently made available as a release so it would be awesome if we could officially claim that 0.7.0 of the Dashboard supports this too.

There are no backwards incompatible changes or deprecation notices either. So under this task, give it a try and report back!

[2020-06-08 09:40] a-roberts commented on #1481
I'll handle this

[2020-06-08 09:43] a-roberts commented on #1481
@eddycharly can you try now please? I staged the v0.6.1.6 files

[2020-06-08 10:43] AlanGreene commented on #1482
Since this is an issue with Tekton Pipelines it should be reported over in https://github.com/tektoncd/pipeline

I don't have permissions to transfer the issue so created a new one and copied the content: https://github.com/tektoncd/pipeline/issues/2777

[2020-06-08 10:43] #1482 closed

[2020-06-08 11:03] eddycharly commented on #1481
@a-roberts Looks good !

[code]

[2020-06-08 11:34] #1481 closed

[2020-06-08 12:33] #865 closed

[2020-06-08 16:07] CarolynMabbott opened #1488 "Error when clicking on a rerun pipelinerun - Intermittent"
# Expected behavior
It doesnt error

# Actual behavior
It errors
[code]

# Steps to reproduce the problem

1. Rerun a pipelinerun
2. Click on pipelinerun that has been rerun
3.

# Environment
- Kubernetes Platform:

Docker

- Tekton Pipelines version:

0.13

- Tekton Triggers version:

0.5

- Tekton Dashboard version:

master

# Additional Info
Sometimes it works but sometimes I get this error

<i

[2020-06-09 09:51] a-roberts opened #1490 "Switch to Go modules breaks ko apply under certain conditions"
# Describe the bug
Since the switch, I (anyone else?) can't ko resolve/ko apply Dashboard resources.

[code]

# Expected behaviour

I'd love for ko apply to work again

# Steps to reproduce the bug

Tried with ko 0.2, 0.5. Go 1.13.x, Go 1.14.0.

Checkout master of the dashboard. Do the usual command pointing to Docker Desktop or OpenShift (so `kustomize build overlays/dev | ko apply -f -` or `kust

[2020-06-09 10:00] eddycharly commented on #1490
tried it with ko 0.4.0 and had no issue `kustomize build overlays/dev | ko resolve -f -`

[2020-06-09 10:00] eddycharly commented on #1490
gonna try with v0.5.0 now

[2020-06-09 10:03] Megan-Wright opened #1491 "Namespace flags for installs of pipelines and triggers don't work on Openshift"
# Describe the bug
For openshift installs of the dashboard, triggers is not being displayed and the pipelines version cannot be found, even when using flags to point to the correct namespace for both triggers and pipelines (in my case `tekton-pipelines`), instead pointing to the namespace in which the dashboard is installed (`openshift-pipelines`) to look for installs of pipelines and triggers.

#

[2020-06-09 10:05] a-roberts commented on #1490
@eddycharly yeah I've even tried with a go clean --modcache, my Go set up looks great, the ko resolve just does not switch out the image coordinates any more (which happened when my GOPATH was incorrectly configured or I hadn't set KO_DOCKER_REPO and authenticated) - all are still the same

[2020-06-09 10:12] eddycharly commented on #1490
tested it with a fresh clone out of GOAPH, ko 0.5.0 and ko 0.5.1, both work fine. investigating further...

[2020-06-09 10:15] a-roberts commented on #1490
Lemme know if you want anything (e.g. `env` output etc), feels like there's something interfering with the normal dev flow but not sure what atm - thanks for taking a look, I realise it's awkward when you're trying to make it break...wondering what other comparisons we can do.

[2020-06-09 10:16] eddycharly commented on #1490
ok, i can repro the issue if i ` kustomize build overlays/dev | GO111MODULE=off ko resolve -f -`
i think something forces `GO111MODULE=off` on your side, can you try with ` kustomize build overlays/dev | GO111MODULE=on ko resolve -f -` to force it on ?

[2020-06-09 10:19] a-roberts commented on #1490
@eddycharly same problem (I actually have GO111MODULE=on exported in my shell anyway)

This is my Kubernetes version specifically, running on the latest Docker Desktop

[code]

@mattmoor this is a long shot but when I thought of ko...I thought of you. Any pointers would be great (I'm wondering under what conditions does `ko resolve` not replace the image coordinates correctly, particularly with a

[2020-06-09 10:44] AlanGreene commented on #1490
FWIW I'm not seeing any issues either, ko 0.5.1, running it outside of GOPATH 🤷

[2020-06-09 10:44] eddycharly commented on #1490
except when `GO111MODULE=off` it seems to always work for me...
my Go version is 1.14.2, my ko version is 0.5.0, and i have no `GOPATH` env variable defined.

i don't think it is related to your kubernetes version, it looks like ko doesn't realize the `github.com/tektoncd/dashboard/cmd/dashboard` image is the current repository

[2020-06-09 10:50] a-roberts commented on #1490
Unsetting GOPATH and moving things around doesn't help either - with and without GO111MODULE being on or off

I'm on

[code]

tried with a fresh Docker Desktop cluster as well (it's the same against my OpenShift cluster mind you). My Docker creds are still good and I'm still authorised...

[2020-06-09 11:06] eddycharly commented on #1490
There are some strange ko issues like this one https://github.com/google/ko/issues/106

When updating Go

[2020-06-09 11:24] eddycharly commented on #1491
Will look at it now
/assign

[2020-06-09 12:00] a-roberts commented on #1490
Nice find, go version please? 1.14 and the latest 1.13 doesn't cut it for me (untransformed)...

[2020-06-09 12:01] eddycharly commented on #1491
Ok, it's probably an RBAC issue, changing the flags can't be enough the dashboard service account needs to be allowed to access resources in the target namespace.

The real issue here is using `RoleBinding' instead of `ClusterRoleBinding`.
I will change that to get back to `ClusterRoleBinding`, as of now we have no solution to keep runtime args and install consistent.

[2020-06-09 12:02] eddycharly commented on #1490
mine: `go version go1.14.2 darwin/amd64`

[2020-06-09 12:36] a-roberts commented on #1490
1.14.4 is the latest I could download, same problem (with/without go modules).
1.14.2 has the same problem for me, again this is all experimenting with GO111MODULE being on or off, and with directory experiments (in and outside of gopath, with gopath set and not). At this point I'm thinking I'm looking at instrumenting ko or looking for debug goodies.

[2020-06-09 12:40] eddycharly commented on #1490
Did you try rebuilding ko ?

[2020-06-09 12:41] a-roberts commented on #1490
From source? So I've been grabbing ko binaries since the go get fails, I could build it from source but it feels weird and unnecessary to do so.

[2020-06-09 12:42] eddycharly commented on #1490
Go get ko but outside of the dashboard checkout

[2020-06-09 12:58] #1491 closed

[2020-06-09 13:48] a-roberts commented on #1490
That was it, thank you! For anyone else who may find this - that means I end up using ko 0.5.1. Outside of the Dashboard repository meant I no longer had any errors with the

[code]

command.

`kustomize build overlays/dev | ko apply -f -` for this project now works.

/meow party

[2020-06-09 13:49] #1490 closed

[2020-06-09 14:14] Megan-Wright opened #1495 "About page tables don't line up correctly when namespaces differ"
# Describe the bug
When using different namespaces for installs of the dashboard, pipelines and triggers, the about page tables do not line up exactly in terms of column width:
<img width="1631" alt="Screenshot 2020-06-09 at 15 13 29" src="https://user-images.githubusercontent.com/52741262/84158475-d0377100-aa63-11ea-882c-44b892b7f16e.png">

# Expected behaviour
All the table cells should line up.

[2020-06-09 15:31] Megan-Wright opened #1498 "README needs more documentation regarding Openshift installs"
# Is your feature request related to a problem ?
It is not clear to the user how to install the dashboard on Openshift without using the operator.

# Describe the solution you'd like

We currently have this information regarding OpenShift installs:
<img width="966" alt="Screenshot 2020-06-09 at 16 22 44" src="https://user-images.githubusercontent.com/52741262/84166960-80f63e00-aa6d-11ea-88fe-c8947

[2020-06-09 15:39] Megan-Wright opened #1499 "The need to use flags when installing in different namespaces should be documented"
As part of: https://github.com/tektoncd/dashboard/pull/1398 we introduced flags for `triggers-namespace` and `pipelines-namespace`, which need to be used if you want to install the dashboard in a separate namespace to pipelines and triggers. However, this is not stated anywhere in the README and so users cannot be expected to know that these need to be used. I would suggest that we document this i

[2020-06-09 15:43] eddycharly commented on #1499
@Megan-Wright It's documented here https://github.com/tektoncd/dashboard#supported-backend-options
Once the dashboard compiled you can also `dashboard --help`.

I agree it's not very clear but we don't offer a lot of possibilities for the end user to customize the deployment, not sure if it belongs to the user docs or developer docs.

[2020-06-09 15:48] a-roberts commented on #1499
Our overwhelming install base is going to be K8s based I believe though so perhaps @Megan-Wright's thinking more in terms of setting flags through the Kubernetes yaml? Or through deployment patches to apply through kustomize, that kinda thing?

[2020-06-09 15:52] eddycharly commented on #1499
@a-roberts ah yes, at least overlays should cover the main use case.

Now it would be nice to be able to set these infos at install time (an making sure things are consistent e.g. if flag tells pipelines is in namespace X, we should apply RBAC for namespace X too).

I started writing an install script that could let us go in this direction hopefully see https://github.com/tektoncd/dashboard/pull/1

[2020-06-09 16:56] AlanGreene commented on #1495
This is standard table behaviour, layout of each table is independent.

If we want to align them we could set a consistent width for the first column on each of these tables.

[2020-06-09 16:58] AlanGreene commented on #1498
We can review this after https://github.com/tektoncd/dashboard/issues/1473 as discussed on the WG call this week.

[2020-06-09 17:26] AlanGreene commented on #1444
The times are not updated continuously, instead on a variable interval. From the react-intl [docs for FormattedRelativeTime](https://formatjs.io/docs/react-intl/components/#formattedrelativetime) (used for the Created column):

This is a fairly common pattern for relative timestamps.

@CarolynMabbott Does this match the behaviour you're seeing for the created column or are you seeing something els

[2020-06-09 18:15] AlanGreene commented on #1488
/assign

[2020-06-09 18:29] eddycharly commented on #1345
Not sure I understand your question correctly.

Tekton dashboard is showing tekton pipeline/triggers in an opinionated way, it’s built specifically for tekton business.

Other tools you mention are general purpose and allow viewing any kind of resource in a cluster.

[2020-06-09 22:22] #1488 closed

[2020-06-10 10:47] #1495 closed

[2020-06-10 11:14] eddycharly opened #1505 "Recent releases not present in the release bucket"
# Describe the bug

Manifest for recent releases are not present in the bucket.
Last one is `v0.6.0`

# Expected behaviour

All released versions can be downloaded from the gcs bucket.

/cc @a-roberts

[2020-06-10 11:37] a-roberts commented on #1485
Added a bunch of the key players to this one - so we're currently testing master but believe https://github.com/tektoncd/dashboard/pull/1503 is the only thing we need now 😄

I'll run the release notes by you folks and update this item when there's a candidate too. @rnapoles-tktn FYI.

[2020-06-10 11:39] a-roberts opened #1507 "Document single namespace visibility installs for release (experimental first)"
As discussed in this week's Dashboard weekly working group call https://docs.google.com/document/d/1bG4mbjycmFtIBezA6AJoQvaB4-v3874dhX7n-DhGAx0/edit# we should ensure whatever's included in our readme mentions single namespace installs and that it's considered an experimental feature for now - until we're happy we can remove the disclaimer.

[2020-06-10 11:47] a-roberts commented on #1505
Yeah it's an interesting one, it's not done automatically, so I think we need to document this in the tekton/README.md while that's the case. I can look at uploading the release assets manually in the meantime, although personally I think having the GitHub releases as the one source of truth is sufficient. Not clear what the bucket's for really with regards to yaml... perhaps @afrittoli and @vdeme

[2020-06-10 15:37] AlanGreene opened #1509 "CI should detect when message bundle is out of sync with the code"
# Is your feature request related to a problem ?

When `messages_<lang>.json` is out of sync with the code it can lead to missing / stale translations, or in some cases even cause functional errors up to and including preventing a content page from loading fully.

# Describe the solution you'd like

We should automatically detect in CI when the message bundle is out of sync with the code.

This co

[2020-06-11 08:59] a-roberts opened #1512 "New staged 0.7 release is empty for OpenShift"
See https://console.cloud.google.com/storage/browser/tekton-releases/dashboard/koo/mytestbucket/previous/v0.7.0, which is only five bytes - this is based on https://github.com/tektoncd/dashboard/tree/070cand4

The build job itself doesn't show problems, here's the release job
[releaserun.txt](https://github.com/tektoncd/dashboard/files/4763707/releaserun.txt)

[2020-06-11 09:01] CarolynMabbott opened #1513 "`CreateContainerConfigError` on 0.7.0 release on docker"
# Describe the bug
Dashboard pod wont go into ready state
Has error `CreateContainerConfigError` in status

# Expected behaviour
It doesnt happen

# Steps to reproduce the bug
Install 0.7.0 release on docker

# Environment details

- Kubernetes Platform:

docker

- Kubernetes or OpenShift version:

- Install mode (if on OpenShift):

- Cloud-provider/provisioner:

- Versions:
   - Tekton Dashboard:

[2020-06-11 09:10] eddycharly commented on #1512
From the logs: `open /workspace/go/src/github.com/tektoncd/dashboard/overlays/openshift-patches/flags-deployment.yaml: no such file or directory`

[2020-06-11 09:13] a-roberts commented on #1513
Worth noting this is using the latest staged release candidate at https://console.cloud.google.com/storage/browser/tekton-releases/dashboard/koo/mytestbucket/previous/v0.7.0

[2020-06-11 09:15] eddycharly commented on #1513
Released images are built with `ko` right ?

Using the config in the repo below ?
https://github.com/tektoncd/dashboard/blob/c5e6a8d35b74ee608434c5d0f206f110240da71a/.ko.yaml#L1

[2020-06-11 09:16] a-roberts commented on #1512
Yeah I'm wondering if we need a follow-up PR to do with the build Pipeline next to handle recent changes, see https://github.com/tektoncd/dashboard/blob/master/tekton/publish.yaml

[2020-06-11 09:21] a-roberts commented on #1513
Yeah should be

[2020-06-11 09:21] eddycharly commented on #1512
What was the commit id for the build ?

[2020-06-11 09:23] eddycharly commented on #1512
Ok, wrong file name, flags-patch.yaml not flags-deployment.yaml 🙃

[2020-06-11 09:24] eddycharly commented on #1512
We need to test that in presubmits...

[2020-06-11 09:28] eddycharly commented on #1512
/assign

gonna fix

[2020-06-11 10:03] 2020testuser commented on #1345
@eddycharly - Thanks!
Got tekton dashboard installed and was able to compare.

[2020-06-11 10:03] #1345 closed

[2020-06-11 10:32] a-roberts commented on #1513
@eddycharly do you think we need a

[code]

type stanza somewhere now? The now part is interesting though, I know you mention that image above and wondering if that has a new restriction (so we could fix with a non-root user, which we should do anyway IMO, or use an older version of that image if it is the problem)

[2020-06-11 10:35] eddycharly commented on #1513
We shouldn't need it at all as we're using a `nonroot` base image.
I will dive in the released image to see what happens.

[2020-06-11 11:14] #1512 closed

[2020-06-11 12:14] eddycharly commented on #1513
I fell like it's an issue when building the release image.
`kustomize build overlays/dev | ko apply -f -` runs fine locally, do you see this line `2020/06/11 14:14:14 Using base gcr.io/distroless/base:nonroot for github.com/tektoncd/dashboard/cmd/dashboard`in the release logs ?

[2020-06-11 12:22] a-roberts commented on #1513
No, attaching logs here

[releaserunbuild.txt](https://github.com/tektoncd/dashboard/files/4764692/releaserunbuild.txt)
[releaserunpublish.txt](https://github.com/tektoncd/dashboard/files/4764693/releaserunpublish.txt)

I see
[code]

[2020-06-11 12:23] eddycharly commented on #1513
That's it, it's not a nonroot image

[2020-06-11 12:24] eddycharly commented on #1513
Do you know where is the dockerfile for the `gcr.io/tekton-releases/dogfooding/ko-gcloud:latest` image ?

[2020-06-11 12:24] a-roberts commented on #1513
Right, so it's like that file addition is doing nothing - any pointers @afrittoli @vdemeester?

^^

[2020-06-11 12:38] afrittoli commented on #1513
It's in the plumbing repo. I'm on my phone now, can give you a link later if you cannot find it.

[2020-06-11 12:40] eddycharly commented on #1513
From the logs, it's ko v0.5.0 so that's fine.
Dunno why but either `.ko.yaml` is not there or `ko` ignores it.

[2020-06-11 12:44] eddycharly commented on #1513
Got it 😄

[2020-06-11 12:45] eddycharly commented on #1513
https://github.com/tektoncd/dashboard/blob/a1c6711f5692d358918b60b6cab82fda71578a8c/tekton/build.yml#L49

It's not going to copy hidden files (those that begin with a `.`) !

[2020-06-11 12:46] eddycharly commented on #1513
Ping @a-roberts

[2020-06-11 13:00] afrittoli commented on #1513
https://github.com/tektoncd/plumbing/blob/master/tekton/images/ko-gcloud/Dockerfile

[2020-06-11 13:08] eddycharly commented on #1513
Thank you @afrittoli we found the issue, it was not related to the image.

[2020-06-11 14:28] #1513 closed

[2020-06-11 15:37] #1509 closed

[2020-06-12 13:10] CarolynMabbott commented on #1444
It does seem to match what im seeing
However it does seem very bad when I've got a long pipelinerun going on that nothing "interesting" has happenned in the last over 10 minsutes I get this

![Screenshot 2020-06-12 at 14 07 09](https://user-images.githubusercontent.com/32342288/84505764-39aebe00-acb6-11ea-8579-1ae0f0c77001.png)

Maybe we could add some code to update the duration time in between i

[2020-06-12 14:13] a-roberts opened #1518 "Trigger description column doesn't expand or fully show the data"
# Describe the bug
I expect to see all of the Trigger description info

![image](https://user-images.githubusercontent.com/12814972/84511845-0b81ac00-acbf-11ea-8e2f-8e630aec7856.png)

# Expected behaviour

Either provide a means to expand this or show it in full (eering on the side of expanding, with an ellipsis + scrollable aspect like I'm sure we do elsewhere)

# Steps to reproduce the bug

I'm

[2020-06-12 16:12] ebaek commented on #842
/assign

[2020-06-15 11:10] AlanGreene commented on #1518
/assign

[2020-06-15 12:48] AlanGreene commented on #1473
All of the items in the description are complete/merged thanks to excellent work by @eddycharly

Closing this issue, any remaining doc updates are tracked in more specific issues, e.g. https://github.com/tektoncd/dashboard/issues/1498 and https://github.com/tektoncd/dashboard/issues/1507

[2020-06-15 12:48] #1473 closed

[2020-06-15 16:04] #1518 closed

[2020-06-16 07:22] tomhau01 commented on #327
We have users viewing logs live so having a "follow" feature would be super convenient. Think of it like a console type of view :)

[2020-06-16 11:58] AlanGreene opened #1523 "Update to the current Node.js LTS"
Update to the current Node.js LTS (v12.x) and ensure all of our dev tooling is appropriately updated.

Our current version (v10) entered maintenance mode on 2020-05-19. [Node.js v14 enters active LTS in October 2020](https://github.com/nodejs/Release#release-schedule), so we should start moving now to reduce the effort of jumping from our current use of v10.x.

We've already [identified one set of

[2020-06-16 14:38] #949 closed

[2020-06-16 15:42] a-roberts commented on #1485
Done! Closing, thanks all

[2020-06-16 15:42] #1485 closed

[2020-06-16 15:43] a-roberts opened #1526 "Support Triggers 0.6"
I noticed @dibyom mentioned in Slack that Triggers 0.6.0 is scheduled for release on June the 22nd.

Here's the milestone https://github.com/tektoncd/triggers/milestone/7. So under this issue it would be useful to try master of the Dashboard with the latest version of Triggers (and potentially every time we see something important is changed), check that our Trigger pages all render OK, and look f

[2020-06-17 14:36] Megan-Wright commented on #1526
/assign

[2020-06-17 23:38] #1523 closed

[2020-06-18 11:50] AlanGreene commented on #1215
Putting this on ice pending changes to how project docs are surfaced on the website, see `https://github.com/tektoncd/website/issues/140` for more

[2020-06-18 13:28] AshCripps opened #1534 "Allow creating a SSH access secret in the UI"
# Is your feature request related to a problem ?
Some private repos require SSH access instead of password access and you cannot create a SSH secret in the UI requiring you to create manually.

# Describe the solution you'd like

The ability to create a SSH secret like you can make a password/access token secret within the UI

# Describe alternatives you've considered

# Additional context

[2020-06-18 14:31] AlanGreene commented on #1498
https://github.com/tektoncd/dashboard/blob/master/docs/install.md#installing-tekton-dashboard-on-openshift

Currently includes a note about non-operator installs and the required dashboard flags:

The Pipeline and Triggers docs already provide their own install instructions so I don't think we need to duplicate them here.
However, reading back over this I think the wording / structure could be twe

[2020-06-18 22:47] bitsofinfo opened #1538 "Parameter values for tasks should properly render new lines"
When viewing a taskrun, the input paramter values just render out as a super long single line. Values with `\n` new lines in them should render with such in the UI

[2020-06-19 00:01] AlanGreene commented on #1538
Thanks for reporting. We have code to handle this in some places but must have missed a few.

Can you provide more details about where you're seeing this? URL path, screenshots, etc.

[2020-06-19 00:15] AlanGreene commented on #1472
Hasn't been reported by anyone else and we've since released 0.7.0. Feel free to reopen if you do encounter it again.

[2020-06-19 00:15] #1472 closed

[2020-06-22 13:09] CarolynMabbott opened #1549 "PipelineRun with status of `PipelineRunCouldntCancel`has no status icon"
# Describe the bug

I have no status icon for my pipelinerun

![Screenshot 2020-06-22 at 14 03 58](https://user-images.githubusercontent.com/32342288/85290662-450da080-b491-11ea-85d4-0260957085a2.png)
# Expected behaviour

I have a cancelled status

# Steps to reproduce the bug

Rerun a pipelinerun
Stop the pipelinerun that was rerun

# Environment details

- Kubernetes Platform:

Docker
- Kuberne

[2020-06-22 18:41] AlanGreene opened #1550 "Add support for specifying git revision on Import Resources form"
# Is your feature request related to a problem ?
Import Resources is currently hardcoded to import from the `master` branch of the repository specified. This means users cannot reference Tekton resources from other branches or take advantage of standard git versioning approaches (e.g. tags) to maintain their pipeline definitions when used with this feature.

# Describe the solution you'd like
The

[2020-06-22 18:48] AlanGreene opened #1551 "Rename the 'directory' input on Import Resources to reflect the actual functionality"
# Is your feature request related to a problem ?

The 'Repository directory' input and its helper text suggest that the value must point to a directory, however this is not the case. If the value provided is the path to a file it will also work, and can be very useful, e.g. in the case of the [tektoncd/pipeline examples](https://github.com/tektoncd/pipeline/tree/master/examples/v1beta1/pipelinerun

[2020-06-22 18:55] AlanGreene opened #1552 "Update Import Resources to support use of generateName"
# Is your feature request related to a problem ?

Import Resources currently fails on some of the examples in tektoncd/pipeline, e.g. https://github.com/tektoncd/pipeline/blob/c42657bb747566a0efc75d6cbd39a8dcdab4272e/examples/v1beta1/pipelineruns/pipelinerun-results-with-params.yaml#L4

This is due to the use of `generateName` which requires `kubectl create` instead of `kubectl apply`.

# Describe

[2020-06-23 09:06] a-roberts commented on #1526
@Megan-Wright completed this a while back, while there's no official release yet, folks could pick up master and enjoy the benefits. Closing 😸

[2020-06-23 09:06] #1526 closed

[2020-06-23 10:10] AlanGreene commented on #1549
@CarolynMabbott can you share the Pipeline you used to reproduce this? I'm not seeing it, did you have to wait for a particular point before stopping the run to get this status?

The PipelineRun would also be extremely useful: `kubectl get -o yaml pipelinerun <name>`

The only situation I can see where we wouldn't have an icon is if the PipelineRun:
- has `status == 'Unknown'` and `reason` is some

[2020-06-23 10:32] CarolynMabbott commented on #1549
@AlanGreene Its the simple-pipeline from the pipeline hotel
https://github.com/pipeline-hotel/example-pipelines/blob/master/triggers-resources/config/github/simple-pipeline/simple-pipeline.yaml

I just pressed rerun on the pipelineruns page and waited a few seconds and pressed the stop pipelinerun

I also got the same error yesterday from the buildah-pipeline and the simple-pipelines when i was us

[2020-06-23 10:47] AlanGreene commented on #1549
OK so it's the first case, `status: Unknown, reason: PipelineRunCouldntCancel`, and there's no `completionTime`:

[code]

It does look like a pipeline issue alright. I wonder if it will eventually timeout...

Did you delete a TaskRun while the PipelineRun was in progress or was the only action to run and then cancel it? Issue related to deletion of TaskRun while PipelineRun in progress: https://gi

[2020-06-23 11:03] CarolynMabbott commented on #1549
That explains why the duration keeps increasing

It hasnt timed out so far, got one at 22 hours 32 mins
Might never time out

I havent done anything to it like deleting. List of things I done:
I imported from pipelines hotel, set up a webhook and it got triggered and kicked off a pipelinerun

Some pass, the ones which didnt pass after a while i just stopped and got this error

It seems to be that

[2020-06-23 14:50] AlanGreene commented on #1154
Closing this since there's no further action here for the Dashboard. If you did find a solution that worked for you it would be great if you could share in case others may find it useful.

Current Dashboard releases support Pipelines v0.11 - 0.13.

[2020-06-23 14:50] #1154 closed

[2020-06-23 14:59] AlanGreene commented on #925
Since the last discussions on this topic we have made significant updates to the UI, including taking on some pretty substantial Carbon updates. These have altered both the user experience as well as some of the underlying DOM structure and Carbon's use of ids.

Closing as there's no current plan to implement the remainder of the changes as described in this issue.

[2020-06-23 14:59] #925 closed

[2020-06-23 15:02] AlanGreene commented on #930
@2020testuser sorry this one slipped through the cracks. Did you resolve your issue?

Closing this as we haven't had other reports, and we've since updated a number of aspects of our config and install story.

If you're still seeing issues let us know (probably best to open a new issue) and we can take a look.

[2020-06-23 15:02] #930 closed

[2020-06-23 15:09] AlanGreene commented on #1355
Closing as there doesn't appear to be any additional action required for the Dashboard. Let me know if I'm mistaken.

[2020-06-23 15:09] #1355 closed

[2020-06-23 15:18] AlanGreene commented on #1386
The Dashboard no longer displays Secrets or ServiceAccounts in read-only mode, and does not attempt to watch those resources. Logs should be much cleaner since the latest 0.6.1.x release and further improved in 0.7

[2020-06-23 15:18] #1386 closed

[2020-06-23 15:21] AlanGreene commented on #1424
Closing this as there's nothing further for the Dashboard to do. It's displaying the value declared by the Triggers install.

@JustinKuli @bconey did you resolve your issue? If so it might be helpful to others to share details of the fix.

[2020-06-23 15:21] #1424 closed

[2020-06-23 16:34] #1538 closed

[2020-06-24 08:50] dghubble opened #1564 "v0.7.0 image tag references a possibly broken image"
# Describe the bug

The dashboard v0.7.0 manifests refer to image `gcr.io/tekton-releases/github.com/tektoncd/dashboard/cmd/dashboard@sha256:9ba9c755e868942143868dbbc7a0d9ab29241014833dd0a7ac6156d66e45fe9b`. This image works ok and seems like the one the team tested and intended for release.

The [gcr.io](https://console.cloud.google.com/gcr/images/tekton-releases/GLOBAL/github.com/tektoncd/dashbo

[2020-06-24 09:05] dghubble commented on #1386
Thanks! No longer seeing the secrets and service account list attempts anymore in v0.7.0 with read-only mode. List services is still there, but I'll ignore for now.

[2020-06-24 09:07] a-roberts commented on #1564
I think I know why, I did a test release for @eddycharly for https://github.com/tektoncd/dashboard/pull/1537 and I used the same version tag (v0.7.0) instead of something arbitrary, like `mycooldebugversion` 😄

I can kick off the normal release pipeline again with this version tag (v0.7.0) to override that, with the one it should be.

[2020-06-24 09:11] dghubble commented on #1564
Since that image sha unusably borked, sounds reasonable to me if you point it at the intended sha. Can't see any complaints :+1:

[2020-06-24 09:12] a-roberts commented on #1564
Yeah, my bad - I hadn't appreciated the clobber (if my theory is correct), so hopefully in around 15 minutes time - i just kicked off the pipeline again), that image on GCR will be the correct one. Thanks for spotting this, will post an update once resolved (or borked)

[2020-06-24 09:49] a-roberts commented on #1564
Can you try gcr.io/tekton-releases/github.com/tektoncd/dashboard/cmd/dashboard@sha256:1d70cf5eb39f5b892d3bf0f1007aca6d3e84ecbe48dc2716ff473b52338a135d now? From https://console.cloud.google.com/gcr/images/tekton-releases/GLOBAL/github.com/tektoncd/dashboard/cmd/dashboard?gcrImageListsize=30 with the v0.7.0 tag

[2020-06-24 10:02] dghubble commented on #1564
That image works for me now. Many thanks and cheers for v0.7.0!

[2020-06-24 11:22] AlanGreene commented on #1445
Found the original issue: https://github.com/tektoncd/dashboard/issues/1340
Closed it as a duplicate and linked to this one.

[2020-06-24 11:22] AlanGreene commented on #1340
Tracked in https://github.com/tektoncd/dashboard/issues/1445

[2020-06-24 11:22] #1340 closed

[2020-06-24 19:34] #1551 closed

[2020-06-25 19:16] bitsofinfo opened #1570 "PipelineRuns should show parameters"
Using latest version: PipelineRuns, when I click on a PipelineRun, i see its taskruns + their params.... but I don't see the params for the PipelineRun itself.

[2020-06-25 21:55] AlanGreene commented on #1570
Thanks for raising this request. It's something we're planning to do as part of a larger set of changes to the PipelineRun / TaskRun pages including https://github.com/tektoncd/dashboard/issues/487, https://github.com/tektoncd/dashboard/issues/762, better integration of Triggers, etc.

Some of this work is already in progress. I'll update the issue with designs etc. as soon as they're ready.

[2020-06-25 23:28] Tomcli opened #1571 "Is there a swagger/openapi spec for the dashboard api definition?"
/questions

We are trying to understand the api definition of the tektoncd/dashboard. There was a swagger for the dashboard api definition few months ago. Has the swagger definition been moved to a different directory or deprecated? Thank you.

[2020-06-26 01:36] AlanGreene commented on #1571
As far a I recall we never merged the swagger definition. There was some discussion and a PR open but we ended up taking a different approach and removed most of the dashboard's custom APIs. See https://github.com/tektoncd/dashboard/issues/42 for some of the related discussion, issues, and PRs.

We have a small number of remaining custom APIs documented at https://github.com/tektoncd/dashboard/blo

[2020-06-26 18:56] Tomcli commented on #1571
We are trying to build a Tekton nodejs service based extension and we want to reuse the kubernetes API in the main server. The information we need is actually available in the dashboard backend, so we think we don't have to implement the k8s client in nodejs to do the same job.

[2020-06-26 19:49] AlanGreene commented on #1571
The dashboard may change how it accesses the kubernetes API in future so I would advise against relying on the proxy.

The extension frontend JS code has access to the main dashboard's redux store and also to some of the redux actions used to make API calls: https://github.com/tektoncd/dashboard/blob/f1c1e465065c47816fab216b32fc8b7120537ec9/src/containers/Extension/Extension.js#L56-L57

Can you pr

[2020-06-26 19:50] bitsofinfo opened #1574 "feature: ability to hide/show conditional tasks in pipelinerun view"
I have a lot of conditions in my pipelinerun. 90% of the time the pipelines run fine and I don't care about seeing all the conditional tasks, all I care about are the tasks that actually do the work. Would be nice to have a toggle switch in the UI to hide conditional based tasks, and just leave the rest. Having to wade through all the conditional tasks in the view just clutters things imho

[2020-06-26 21:34] Tomcli commented on #1571
The information we would need is the pipelineruns yaml and some custom CRD extension yaml we are going to add. Since the pipelineruns and extension api are available, we are hoping to reuse them if possible.

[2020-06-26 22:49] AlanGreene commented on #1571
For the PipelineRuns:

You can call `actions.fetchPipelineRuns({ filters, namespace })` from your extension's frontend code. This will make the API request to get the data, then process and store it in the dashboard's redux store so it's available to all parts of the dashboard for realtime updates.
- `namespace` is optional
  - if not specified, it will request PipelineRuns for all namespaces
  -

[2020-06-26 22:55] AlanGreene commented on #1445
Updated to include https://github.com/tektoncd/dashboard/issues/1574
We should handle these together in a sensible way.

[2020-06-26 22:57] AlanGreene commented on #1574
Thanks for the request @bitsofinfo, I agree that our current display of Conditions needs to be improved. We're already tracking a very closely related enhancement in https://github.com/tektoncd/dashboard/issues/1445 so I've updated that to include the concern about heavy use of Conditions and will close this one as a duplicate.

Feel free to add any additional thoughts or suggestions on that issue

[2020-06-26 22:57] #1574 closed

[2020-06-26 23:10] Tomcli commented on #1571
Thanks @AlanGreene, but if we want to do some extra processing with the yaml in our backend code, then it's recommended for us to build it using our own backend client?

[2020-06-26 23:13] AlanGreene commented on #1571
Depending on what processing you need to do, it may be possible to do it in the frontend.

If you do need to do this processing in the backend then yes you would need to build it using your own client.

[2020-06-27 02:11] bitsofinfo commented on #1445
also agree with the note in the op about non-firing conditions being flagged as the color red. Makes it a bit misleading.

[2020-06-27 22:27] eddycharly opened #1577 "Error with sample pipeline run output-pipeline-run"
# Describe the bug

When running the sample pipeline run https://github.com/tektoncd/pipeline/blob/master/examples/v1beta1/pipelineruns/output-pipelinerun.yaml,

Clicking on the task `then-check`:

![image](https://user-images.githubusercontent.com/47974576/85933270-8fe64880-b8d5-11ea-8015-a6489c1b8984.png)

The error `Error loading page children.split is not a function` appears:

![image](https:/

[2020-06-27 22:35] eddycharly commented on #350
Related #1576
/assign

[2020-06-30 04:45] bitsofinfo opened #1580 "TaskRun parameters truncation, should be able to see full value"
Long TaskRun parameters are truncated. Would be nice to be able to see the full literal value

![image](https://user-images.githubusercontent.com/1743646/86084442-280d3a80-ba5a-11ea-9b7a-6565b41d4c94.png)

[2020-06-30 10:24] #1577 closed

[2020-06-30 10:27] AlanGreene commented on #1571
Closing since the question about API documentation has been answered. Feel free to join us on the [tektoncd slack](https://github.com/tektoncd/community/blob/master/contact.md#slack) or open a new issue if you have any more questions.

[2020-06-30 10:27] #1571 closed

[2020-06-30 19:43] AlanGreene commented on #1580
The full value is displayed in a tooltip on hover:
![image](https://user-images.githubusercontent.com/2829095/86169874-33bc3800-bb12-11ea-8512-12580bb592e3.png)

We have also made some changes in [v0.7.1](https://github.com/tektoncd/dashboard/releases/tag/v0.7.1) (currently available as a pre-release for testing) to improve the display of params, including multiline and array params.

[2020-06-30 20:38] eddycharly opened #1583 "Being able to view logs after the underlying pod/node has been deleted"
# Describe the solution you'd like

It would be nice to be able to use the dashboard to view logs in the context of pipeline runs / taskruns after the underlying pod/node has been deleted.

Currently the logs are not visible once the pod is no more in the cluster.

# Describe alternatives you've considered

Collecting logs can easily be done outside of the dashboard.
Those logs could be made avail

[2020-06-30 21:16] AlanGreene commented on #1583
This one has come up a few times alright.
Duplicate of https://github.com/tektoncd/dashboard/issues/232

[2020-06-30 21:16] #1583 closed

[2020-07-01 13:06] bitsofinfo commented on #1580
yeah not super natural to hover over and wait for a tooltip, its not intuitive that is there. any way to make some kind of expander control or little icon to bring up the full detail please.

[2020-07-01 17:03] AlanGreene commented on #1505
Just took a look at this since I did the v0.7.1 release. It turns out the files are being uploaded, just to the wrong location.

Instead of going to `dashboard/previous/v0.7.1` in this instance they were added at `dashboard/latest/previous/v0.7.1`
`latest` shouldn't be included in the path here, so we need to update our publish pipeline to fix this, while still allowing us to target a test bucket

[2020-07-02 09:24] eddycharly commented on #232
/assign
Related PR https://github.com/tektoncd/dashboard/pull/1586

[2020-07-02 10:33] #487 closed

[2020-07-02 11:51] AlanGreene commented on #1505
Should we adopt a similar pattern to the Pipelines release? There's a `releaseAsLatest` param that controls whether the manifests also get copied into the `latest` folder: https://github.com/tektoncd/pipeline/blob/08ac72c3c4be11330d9f909b7519a4788d46ad90/tekton/publish.yaml#L20

This would allow us to run a release without updating references to `latest` if we wanted.

[2020-07-02 12:09] a-roberts commented on #1505
Yeah, awesome idea and catch, +1

[2020-07-03 08:29] dghubble commented on #1564
@a-roberts I see this issue on `v0.7.1`, `0.7.1-rc1`, and `sha256:4c1d0c9d3bd805c07f57ae6974bc7179b03d67fa83870ea8a71415d19c261a38`. Debug logs look normal, nothing unusual compared with v0.7.0. But every path returns a 404 page not found. Rolling back to v0.7.0 solves it. Another problem in image publishing?

Also, `sha256:3cb4da36deda733d00096d4409fb9573b809c7c1ec238844b4a64452f18c7a46` works, w

[2020-07-03 14:16] a-roberts commented on #1564
@AlanGreene ^^

[2020-07-06 09:56] AlanGreene commented on #1564
@dghubble I'm not seeing an issue with those images. How are you installing the dashboard, i.e. which release manifest / command are you using?

Are you manually updating the image reference in an older release manifest perhaps? If so, we made a change in 0.7.1 to the location of the static resources for the front end. This is configured via the **`--web-dir`** arg to the dashboard container, the

[2020-07-06 19:11] dghubble commented on #1564
Using manifests with read-only and single-namespace mode (similar to `tekton-dashboard-release-readonly.yaml`, but with stricter RBAC and constraints for our purposes).

Changing the `--web-dir` argument fixed it, thanks! I do check the release notes or for a changelog when upgrading but hadn't noticed the change in your examples. Is there a reason users supply the path to what seems to be an inte

[2020-07-06 19:11] #1564 closed

[2020-07-06 19:28] AlanGreene commented on #1564
Can you share more details about the customisations you make to the RBAC? We've recently introduced a new installer script (still experimental / work in progress) that should help with many common customisations to the dashboard install, so it would be interesting to see what other cases people are addressing themselves so we can either consider including them or even just documenting common patte

[2020-07-06 19:44] eddycharly commented on #1564
+1 from me, i don't know of any use case that require changing it

[2020-07-06 19:50] dghubble commented on #1564
Sure, if you're interested. Plain Kubernetes manifests are managed in version control (across all kinds of workloads and clusters). Helm and templating aren't used. Customizations include seccomp profiles and using an RBAC policy that can be more strict by forbidding features that are not used in this case. Also adds a custom oauth2 sidecar and makes minor mods to labels and pod/mount names (mainl

[2020-07-06 20:03] eddycharly commented on #1564
@dghubble thanks for your feedback.

I thought about using `Roles` instead of `ClusterRoles`, I think it's doable and will give it a try. If it works it will be easy to do with the installer script but was a lot harder before when we used kustomize/overlays.

Now you can use `installer build` to generate the manifests with your custom params, it should be easier that writing manifests from scratch

[2020-07-06 23:20] dghubble commented on #1564
Yeah, I appreciate the efforts on installation approaches, I know a lot of folks prefer generation or templating.

For the usage style I described, across our managed workloads, its been helpful to have the source of truth be raw manifests for auditing and mass edit tooling, with occasional comparison against what individual project's generation tools would produce. So I'm maybe not the best candi

[2020-07-07 14:00] zops opened #1601 "When creating "taskrun", Hope to support the "spec.workspaces" option."
Dashboard：
When creating "taskrun", Hope to support the "spec.workspaces" option.

[2020-07-07 14:02] AlanGreene commented on #1601
Thanks for the request @zops, this is already tracked in https://github.com/tektoncd/dashboard/issues/1283
Closing this as a duplicate.

[2020-07-07 14:02] #1601 closed

[2020-07-07 18:00] bitsofinfo opened #1602 "feature: need way to obfuscate or hide task/pipeline params that contain sensitive data"
feature: need way to obfuscate or hide task/pipeline params that contain sensitive data

right now all the params are just displayed in the UI, need a way to identify and not show certain task/pipeline params if they contain data that should not be viewable to anyone in the dashboard view.

[2020-07-07 20:28] JustinKuli opened #1603 "Dashboard unaccessible on OpenShift after replacing the default ingress certificate"
# Describe the bug

We get a `500 Internal Error` page when trying to access the Tekton dashboard in our OpenShift cluster. We recently replaced the default ingress certificate in our cluster according to this procedure: https://docs.openshift.com/container-platform/4.3/authentication/certificates/replacing-default-ingress-certificate.html

Logs from the `oauth-proxy` container show:
[code]

# Exp

[2020-07-07 20:29] JustinKuli commented on #1603
/assign

[2020-07-07 20:40] JustinKuli commented on #1603
This issue seems the most similar: https://github.com/openshift/oauth-proxy/issues/73, but it doesn't have a full explanation of resolving the issue. The issue here is that the OpenShift oauth server is at a `*.apps.` address which has had its certificate changed, and the oauth-proxy container does not trust something in the certificate authority chain.

There is an `--openshift-ca` argument for t

[2020-07-07 21:38] AlanGreene commented on #1602
Kubernetes Secrets are a standard approach to storing and referencing sensitive information. A common pattern is for a param to contain the Secret name, then use this to reference the Secret as needed.

See for example the [slackmessage tasks](https://github.com/tektoncd/catalog/blob/7a481c53c58ddde60390d7723d52fc33247996cd/slackmessage/send-to-channel-slack.yaml#L26) in the catalog.

[2020-07-07 21:43] avinashsingh6 commented on #1603
Label was.serviceability

[2020-07-07 21:50] AlanGreene commented on #1603
@JustinKuli can you elaborate a little more on where you see the bug with the dashboard? From reading the issue and the Slack conversation this looks more like a configuration issue with the oauth-proxy than anything to do with the dashboard itself.

[2020-07-07 22:01] bitsofinfo commented on #1602
I get that, but this is a in-flight value coming through via an inbound POST triggering a pipeline, I have to pass this value as a param into my pipeline.

[2020-07-07 22:07] JustinKuli commented on #1603
@AlanGreene I agree it's really just an oauth-proxy configuration issue. But in the openshift yamls we supply here, we configure the oauth-proxy container: https://github.com/tektoncd/dashboard/blob/master/overlays/patches/openshift/deployment-patch.yaml

So, I want to at least document this to help users.

I don't have a cluster with this exact problem right now, but I can reach out to see if I c

[2020-07-07 22:12] AlanGreene commented on #1602
How are you triggering the PipelineRun? Using some custom mechanism or via Tekton Triggers?

If you can expand further on your use case we may be able to suggest an alternative approach, or at least understand the use case better and determine if / how we can address this in the Dashboard.

[2020-07-07 23:58] bitsofinfo commented on #1602
a) there is a form in an app where an operator inputs a single use token

b) this token is transmitted from an app, embedded in a json POST, over TLS to a tekton triggers eventlistener endpoint

c) this token is relayed into a task via params which uses it for a one-time use to authorize itself against something it needs to invoke

d) I suppose a custom interceptor could be coded to grab this toke

[2020-07-08 09:20] a-roberts commented on #895
I raised a point about https://stackoverflow.com/questions/62771252/execute-maven-based-end-to-end-tests-and-display-result-in-tekton-dashboard/62791025#62791025 in Slack and @AlanGreene's linked to this issue as something we may want to revisit

[2020-07-08 09:49] dictyo commented on #895
The creator of the ticket is on board, too :) Hi folks, thanks for your helpful reaction! As my knowledge of Tekton will get more I hope I'll be able to contribute a bit in return.

[2020-07-08 10:00] a-roberts commented on #1420
@jlpettersson  with the oauth example work and namespace only installs, do you think some of this is being addressed? Perhaps @eddycharly could provide an update, there's still the question of using the Tekton dashboard service account as opposed to a user's (perhaps we'd allow running with a certain kubeconfig)?

[2020-07-08 10:26] jlpettersson commented on #1420
That keeps the scope to a single project, yes. But this also introduces UX problems and maintainability problems.

For a larger enterprise - that has compliance requirements - I would like to have access to e.g. to the 5-6 projects that I am involved in - in a single user interface. An Ops person, would only like to need to maintain a single Dashboard app - with its RBAC, upgrades and more.

Large

[2020-07-08 13:58] AlanGreene commented on #895
/assign @stevesoaress

[2020-07-09 17:01] dankraemer commented on #842
Hi, just adding my two cents here.
My team is migrating the CI/CD infrastructure to Tekton and the number of PipelineRuns is increasing fast.
We have noticed that the `PipelineRuns` page is getting slower, the main problem seems to be because it is retrieving all pipelineruns:
![image](https://user-images.githubusercontent.com/3615003/87068760-705ff180-c1ec-11ea-8830-84f5f9930460.png)

[2020-07-09 17:33] dankraemer opened #1608 "Dashboard JS packages size are not optimized"
# Describe the bug
When the dashboard is initialized, the JS packages seem too big and take too long to load.
![image](https://user-images.githubusercontent.com/3615003/87071660-e49c9400-c1f0-11ea-9c99-11a07e94818b.png)

# Expected behaviour

React builder suggests some strategies to reduce JS packaging size.

[2020-07-09 18:59] AlanGreene commented on #1608
This is something we're actively working on, the most recent release 0.7.1 makes some progress in reducing the size of the static resources:
![image](https://user-images.githubusercontent.com/2829095/87079817-89819600-c21e-11ea-8483-e41ed1461e4d.png)

There are more changes to come to reduce these even further.

[2020-07-13 09:42] AlanGreene commented on #1608
Closing since this is an ongoing effort and recent releases / nightly builds have made good progress. The vendor bundle has been reduced from 5.4MB in 0.7.0 to 3.1MB in 0.7.1 and even further to 1.7MB in the latest nightly builds.

There have also been minor reductions in some of the other bundles, most notably the CSS.

Further planned improvements and optimisations are tracked in issues related

[2020-07-13 09:42] #1608 closed

[2020-07-13 09:51] ClouDevops101 opened #1619 "Ability to rerun a TaskRun"
# Hi am missing a rebuild button to launch the previous task with the same previous parameters?
Like this :
<img width="1183" alt="Capture d’écran 2020-07-13 à 11 26 12" src="https://user-images.githubusercontent.com/15829825/87289721-4b75c200-c4fd-11ea-91b4-c81965d70886.png">

Each time i check the dashboard and the task or pipeline is failing, i try to restart the same Task with the same paramet

[2020-07-13 10:58] AlanGreene commented on #1619
@LinuxArchitects thanks for the feature request. This is already supported on PipelineRuns today.

On the PipelineRuns list:
![image](https://user-images.githubusercontent.com/2829095/87296969-92fd4d80-c4ff-11ea-9b78-fc046b2b812d.png)

It's also available in the header of the PipelineRun details page, see the 'Rerun' button:
![image](https://user-images.githubusercontent.com/2829095/87297019-ac9e9

[2020-07-13 12:21] #1549 closed

[2020-07-13 19:50] eddycharly commented on #350
/close

Fixed by https://github.com/tektoncd/dashboard/pull/1578

[2020-07-13 19:50] #350 closed

[2020-07-13 19:52] eddycharly commented on #327
There was some changes/improvements around logs recently.
It would be nice to get this one too !

[2020-07-13 20:28] AlanGreene commented on #327
Agreed this would be really nice, and with the streaming changes should also give a better UX.

@stevesoaress is currently working on some [changes to the processing and display of the log content](https://github.com/tektoncd/dashboard/issues/895) so I think it would be a good idea to hold off on implementing this until those changes stabilise to avoid conflicts / rework.

[2020-07-15 20:59] dankraemer commented on #1608
@AlanGreene, Thanks for the update!

[2020-07-17 12:12] #1603 closed

[2020-07-24 10:02] #1047 closed

[2020-07-27 14:30] bitsofinfo opened #1641 "0.8.0: Last TaskRun in PipelineRun view is non-existant, can't view logs"
this started as of v0.8.0, works fine with v0.7.1

pipelines: 0.14.2
triggers: 0.6.1

The last TaskRun displayed in the PipelineRun view displays a ID that does not exist, and I can't view logs for it.

![image](https://user-images.githubusercontent.com/1743646/88554047-015c0880-cff4-11ea-9a13-2616073c0c18.png)

![image](https://user-images.githubusercontent.com/1743646/88553895-ce197980-cff3-11ea

[2020-07-28 10:27] AlanGreene commented on #1641
From the screenshot this looks like it may be related to the rendering of conditions. The latest nightly build includes a fix for display of conditions, can you try that and see if it resolves your issue?

If not, can you provide a simplified pipeline that reproduces the issue so we can debug it further?

[2020-07-30 13:01] bitsofinfo commented on #1641
appears fixed by 0.8.2, thanks!

[2020-07-30 13:01] #1641 closed

[2020-07-30 13:03] bitsofinfo commented on #1445
any rough eta when this feature might be out? everyone on my team that sees the dashboard, gets immediately confused by the red/green, where the red is just "conditions" "failures"

[2020-07-30 18:21] mlbiam commented on #692
If you could replicate (or even borrow?) the Kubernetes dashboard's approach of either using a passed in header and/or supporting pass through of impersonation headers you'll save yourself quite a bit of development.  Direct OIDC support would be great, but if you don't already have a strong session management capability this is likely to be the hardest part to implement and the most likely to be

[2020-08-10 14:37] AlanGreene opened #1670 "Dashboard should not require cluster-admin role by default"
# Is your feature request related to a problem ?

As raised by @nikhil-thomas on August 10th Dashboard Working Group: https://github.com/tektoncd/operator/issues/131

A default Tekton Dashboard install should not require cluster-admin role. This is currently required for Dashboard extensions since we use an [`aggregationRule`](https://github.com/tektoncd/dashboard/blob/8acf15acc6c17a5ee972394a21f5

[2020-08-12 16:12] a-roberts commented on #1445
One thing to note, I believe this is the main issue we're using for tracking this, @AlanGreene correct me if I'm wrong, this was pointed out on the working group call today when I gave our update:

Quoting @dibyom
Conditions and condition checks are eventually going away in TEP-007: https://github.com/tektoncd/community/blob/master/teps/0007-conditions-beta.md

So unfortunately for @bitsofinfo thi

[2020-08-12 16:38] AlanGreene commented on #1445
@a-roberts yes this is the right one.

I had been planning to move conditions checks and retries into their owning TaskRun in the UI to reduce the clutter in the TaskTree component, but with Conditions going away and custom Tasks possibly supporting sub-pipelines we may need to revisit this and come up with a different design.

I'll review the colour option as a short-term solution to reduce confu

[2020-08-12 17:15] #395 closed

[2020-08-12 19:17] #492 closed

[2020-08-12 19:17] #496 closed

[2020-08-12 22:19] #757 closed

[2020-08-13 06:24] #929 closed

[2020-08-13 09:26] #997 closed

[2020-08-13 09:26] #995 closed

[2020-08-13 09:26] #1010 closed

[2020-08-13 09:46] AlanGreene commented on #572
We should do another review to make sure all cases are covered, and only then close this.

/remove-lifecycle rotten
/reopen

[2020-08-13 09:49] AlanGreene commented on #995
@afrittoli is this still needed or are we OK with leaving the issue closed?

[2020-08-13 09:50] AlanGreene commented on #733
/remove-lifecycle rotten
/reopen

[2020-08-13 09:50] AlanGreene commented on #866
/remove-lifecycle rotten
/reopen

[2020-08-13 09:50] AlanGreene commented on #846
/remove-lifecycle rotten
/reopen

[2020-08-13 09:51] AlanGreene commented on #773
/remove-lifecycle rotten
/reopen

[2020-08-13 10:45] AlanGreene commented on #937
/remove-lifecycle rotten
/reopen

[2020-08-13 13:37] AlanGreene commented on #805
/remove-lifecycle rotten
/reopen

[2020-08-13 13:38] AlanGreene commented on #776
/remove-lifecycle rotten
/reopen

[2020-08-13 13:38] AlanGreene commented on #775
/remove-lifecycle rotten
/reopen

[2020-08-13 13:39] AlanGreene commented on #762
/remove-lifecycle rotten
/remove-lifecycle stale

[2020-08-13 15:39] AlanGreene commented on #966
/remove-lifecycle rotten
/reopen

[2020-08-13 15:40] AlanGreene commented on #803
/remove-lifecycle rotten
/reopen

[2020-08-13 15:41] AlanGreene commented on #965
/remove-lifecycle stale
/reopen

[2020-08-13 15:43] AlanGreene commented on #846
/remove-lifecycle stale

[2020-08-13 15:43] AlanGreene commented on #937
/remove-lifecycle stale

[2020-08-13 17:54] AlanGreene commented on #727
/remove-lifecycle stale

[2020-08-13 17:54] AlanGreene commented on #708
/remove-lifecycle stale

[2020-08-13 19:32] #1178 closed

[2020-08-13 20:01] AlanGreene commented on #675
/remove-lifecycle stale
/lifecycle frozen
/reopen

[2020-08-13 20:02] AlanGreene commented on #1191
/remove-lifecycle stale
/reopen

[2020-08-13 20:02] AlanGreene commented on #1181
/remove-lifecycle stale
/lifecycle frozen
/reopen

[2020-08-13 21:33] #817 closed

[2020-08-13 21:33] #845 closed

[2020-08-13 22:34] #1251 closed

[2020-08-13 23:34] #1272 closed

[2020-08-14 03:37] #1328 closed

[2020-08-14 07:38] #1254 closed

[2020-08-14 07:38] #1360 closed

[2020-08-14 09:21] AlanGreene commented on #1018
/remove-lifecycle stale
/remove-lifecycle rotten
/reopen

[2020-08-14 09:24] AlanGreene commented on #1304
/remove-lifecycle stale
/remove-lifecycle rotten
/reopen

[2020-08-14 09:25] AlanGreene commented on #972
/reopen

[2020-08-14 09:27] AlanGreene commented on #1012
/reopen

[2020-08-14 09:30] AlanGreene commented on #843
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-08-14 09:34] AlanGreene commented on #1283
/remove-lifecycle stale
/remove-lifecycle rotten
/reopen

[2020-08-14 09:36] AlanGreene commented on #1263
/remove-lifecycle rotten
/reopen

[2020-08-14 09:36] AlanGreene commented on #984
/remove-lifecycle stale
/reopen

[2020-08-14 09:38] AlanGreene commented on #1127
/remove-lifecycle stale
/remove-lifecycle rotten
/reopen

[2020-08-14 09:44] AlanGreene commented on #885
/remove-lifecycle stale
/reopen

[2020-08-14 10:43] AlanGreene commented on #1388
/remove-lifecycle rotten
/reopen

[2020-08-14 12:41] #1384 closed

[2020-08-14 13:27] AlanGreene commented on #1428
/remove-lifecycle rotten
/reopen

[2020-08-14 13:42] #1276 closed

[2020-08-14 14:43] #1419 closed

[2020-08-14 14:43] #681 closed

[2020-08-14 14:43] #793 closed

[2020-08-14 14:58] AlanGreene commented on #1417
/remove-lifecycle rotten
/reopen

[2020-08-14 16:45] #1044 closed

[2020-08-14 16:45] #1046 closed

[2020-08-14 16:48] AlanGreene commented on #932
/remove-lifecycle rotten
/reopen

[2020-08-14 16:48] AlanGreene commented on #1252
/remove-lifecycle rotten
/reopen

[2020-08-14 19:46] #1444 closed

[2020-08-14 22:16] AlanGreene commented on #1215
/remove-lifecycle rotten
/reopen

[2020-08-14 22:46] #1534 closed

[2020-08-15 00:41] AlanGreene commented on #1550
/remove-lifecycle rotten
/reopen

[2020-08-15 00:41] AlanGreene commented on #1552
/remove-lifecycle rotten
/reopen

[2020-08-15 01:07] AlanGreene commented on #1570
/remove-lifecycle rotten
/reopen

[2020-08-15 04:49] #232 closed

[2020-08-15 06:49] #1498 closed

[2020-08-15 07:49] #842 closed

[2020-08-15 11:44] bitsofinfo commented on #1580
/reopen
/remove-lifecycle rotten

[2020-08-15 11:45] bitsofinfo commented on #1602
/remove-lifecycle rotten
/reopen

[2020-08-15 11:52] AlanGreene commented on #1505
/remove-lifecycle rotten
/reopen

[2020-08-15 11:53] AlanGreene commented on #1420
/remove-lifecycle rotten
/reopen

[2020-08-15 11:55] AlanGreene commented on #895
This is in progress. We have a new LogFormat component which handles additional ANSI codes and also makes URLs clickable. It should be enabled for the next release.

/remove-lifecycle rotten
/reopen

[2020-08-15 11:56] AlanGreene commented on #1507
/remove-lifecycle rotten
/reopen

[2020-08-15 11:59] AlanGreene commented on #327
/remove-lifecycle rotten
/reopen

[2020-08-15 11:59] AlanGreene commented on #1619
/remove-lifecycle rotten
/reopen

[2020-08-16 14:10] AlanGreene commented on #232
Logs can be persisted externally and displayed in the dashboard after the pods have been deleted by following https://github.com/tektoncd/dashboard/blob/master/docs/walkthrough/walkthrough-logs.md

[2020-08-17 09:28] stepanselyuk commented on #821
I got (after  upgrading Jenkins X)

[code]

[2020-08-19 12:47] barthy1 opened #1686 "dev README has outdated information"
# Describe the bug

I try to install latest dashboard on my k8s cluster. I use master branch for it. I followed the https://github.com/tektoncd/dashboard/blob/master/docs/dev/README.md#build-yaml-manifests and https://github.com/tektoncd/dashboard/blob/master/docs/dev/README.md#build-yaml-manifests for Plain Kube.
I've got errors like
[code]
when  I tried to run `kustomize build overlays/dev`

# E

[2020-08-19 13:52] AlanGreene commented on #1686
@barthy1 good catch, thanks for opening the issue. The instructions for using `kustomize` have been replaced by the new installer script: https://github.com/tektoncd/dashboard/blob/master/docs/dev/README.md#build-and-deploy-with-the-installer-script

We'll need to remove the outdated instructions on using `kustomize` and `ko`

[2020-08-19 15:25] AlanGreene commented on #1686
/assign

[2020-08-20 08:33] #1686 closed

[2020-08-20 11:47] #895 closed

[2020-08-24 13:44] yuzliu commented on #1420
Hi we also want to limit the UI dashboard for different namespace. Is there any work planned for it?

[2020-08-24 13:54] AlanGreene commented on #1420
@yuzliu Limiting the dashboard to a single namespace is being tracked in a different issue: https://github.com/tektoncd/dashboard/issues/1018

It's currently available as an experimental feature, you can find some documentation here: https://github.com/tektoncd/dashboard/blob/master/docs/dev/installer.md#installing-for-single-namespace-visibility
and there's an issue open to improve the documentat

[2020-08-24 19:00] vidheer opened #1693 "Ability to open cucumber test reports from Tekton dashboard"
# Describe the bug

I am using cucumber for end-end testing. How can i display those generate "cucumber-html-reports" in tekton dashboard?

![image](https://user-images.githubusercontent.com/29453310/91083951-2d7da000-e619-11ea-9f52-ad9e600be670.png)

# Environment details

- Kubernetes Platform: AWS - EKS
- Kubernetes  version: 1.17
- Cloud-provider/provisioner: EKS

- Versions:
   - Tekton Dashb

[2020-08-24 19:08] vidheer commented on #1693
Found a similar thread in [stackoverflow](https://stackoverflow.com/questions/62771252/execute-maven-based-end-to-end-tests-and-display-result-in-tekton-dashboard), but i think this is bit different, @a-roberts please suggest

[2020-08-25 07:32] #1505 closed

[2020-08-25 14:59] AlanGreene commented on #1693
The Dashboard does not support displaying content such as Cucumber test reports. One option mentioned in the Stack Overflow post is to publish the report to some external location in your task (e.g. S3) and output a link to this location in the logs.

With the recent update to the log viewer included in our 0.9.0 release URLs are now clickable and will open in a new tab/window.

An alternative mig

[2020-08-26 04:23] yamaken1343 opened #1697 "Dashboard can be developed on Windows"
# Is your feature request related to a problem ?

Currently, developing Tekton Dashboard on Windows requires some file modifications.
There is a Linux dependency on the npm script.
So when running on Windows, it gets stoped during the bootstrap process at `npm ci`.

# Describe the solution you'd like

I want to be able to develop the front end even on Windows.

Dependencies can be resolved by dyna