[2019-09-04 17:06] #491 closed

[2019-09-04 17:07] adunderwood opened #492 "In-App Analytics"
# Expected Behavior

Opt-in analytics that allow us to learn more about a user's behavior when using the app.

# Actual Behavior

None.

# Steps to Reproduce the Problem

n/a

# Additional Info

Data collection presents challenges because we most likely can't just put a Google Analytics tracker or the equivalent in the dashboard, but the usage metrics would still be helpful from a design perspecti

[2019-09-04 18:07] AlanGreene commented on #492
It would probably help the discussion if we could define (even loosely) some examples of the type of questions we're trying to answer, or of the usage metrics that would be most helpful from a design perspective, e.g. frequency / time spent on particular pages, position of item in list interacted with, etc. Likewise, if there are classes of metrics we're not interested in, calling them out explici

[2019-09-05 01:59] adunderwood commented on #492
Sure, thanks. That's exactly it. To add to that I would say that there is also another dimension of providing the analytics that are already collected by Tekton to the end user as well, which I don't have designs for. Here is a list of what I thought of for specific metrics to gather. Please feel free to suggest more (or fewer) of them.

- Navigation links (who clicked on which and how many). This

[2019-09-05 08:58] dibbles opened #493 "Incorrect service account listing on Import Tekton Resources page"
# Expected Behavior

Pipeline0 runs in the install namespace and can import resources into a target namesapce.  A field exists where you select the service account the pipelinerun should run under, this should list service accounts in the install namespace not the target namespace.

# Actual Behavior

A listing of service accounts in the target namespace is supplied and problems then occur trying

[2019-09-05 13:38] a-roberts commented on #469
Note that the create pipelinerun code is changing to use the frontend/K8s proxy API now, so for whoever picks this up take a look at ImportResources.js.

There's a resource creation.then block and then the creation of the PipelineRun occurs.

We should make sure the resource exists first (potentially waiting a second before we go to create the run) or implement a poll/wait for loop - I can't think

[2019-09-05 13:43] AlanGreene commented on #488
We now expand the first step by default, so the remaining work is to identify the first failing step and select that if present.

Moving this issue back to the backlog to prioritise some other work. Anyone else feel free to pick it up in the meantime.

[2019-09-05 15:15] a-roberts commented on #493
PR https://github.com/tektoncd/dashboard/pull/495

[2019-09-05 16:13] adunderwood opened #496 "On-boarding Guide for New Users"
# Expected Behavior

I would like to look into creating an on-boarding guide for new users. The github documentation is very good and well-maintained but what I am hoping for is to find and address a quick win for the user so that they understand quickly what they can use the dashboard for. Something that when they first fire up the product they can see it in action.

Important note: I am not prop

[2019-09-05 16:28] adunderwood opened #497 "Troubleshooting Guide for New Users"
# Expected Behavior

When a user gets an error, there is a guide or document to help them resolve that error.

# Actual Behavior

User gets an error and searches for it on the internet with mixed results.

# Steps to Reproduce the Problem

1. Hit an error in the product
2. Don't know how to fix it
3. ??

# Additional Info

All error messages in the product to be searchable, either within our own d

[2019-09-05 17:24] adunderwood opened #498 "Tekton cat should say meow when clicked on"
# Expected Behavior

Cats say meow.

# Actual Behavior

The cat does not meow.

# Steps to Reproduce the Problem

1. Click on or hover over the Tekton cat
2. Observe no meow

# Additional Info

This is a very serious issue that should be addressed with the most urgent response time.

Honestly just a tooltip on hover that says "meow" would solve the problem.

[2019-09-05 18:20] AlanGreene opened #499 "Ensure stale resources are not merged to the redux store"
# Expected Behavior
The resources presented in the dashboard should be the latest versions available in the cluster.

# Actual Behavior
There's a possibility that a race condition between the REST APIs and websocket events could result in a resource in the redux store being overwritten with an older version resulting in stale data being presented to the user.

# Additional Info
The reducers should

[2019-09-05 18:48] AlanGreene opened #501 "Fetch fresh data when websocket connection is re-established"
# Expected Behavior
After recovering from a network disconnect or similar interruption to updates, the front end should catch up on any missed events and ensure the displayed resource is the latest version available.

# Actual Behavior
If the websocket connection is dropped / interrupted, and the front end misses resource updates, it will potentially continue to display stale data until a websocke

[2019-09-05 19:00] AlanGreene opened #503 "Investigate and resolve PropTypes warnings in dev mode"
# Expected Behavior
The browser console should only show genuine warnings / errors.

# Actual Behavior
There are currently a number of PropType warnings (most/all appear to be from Carbon) that can make it more difficult to spot genuine issues during development / testing.

# Steps to Reproduce the Problem

1. Start the dashboard in dev mode (`npm start`)
1. Load the dashboard in your browser (any

[2019-09-06 13:31] Megan-Wright opened #505 "Patch more than one service account to each secret"
### Expected Behaviour ###
We should be able to patch more than one service account when creating a secret within the secrets panel.

### Actual Behaviour ###
The secrets modal only allows for patching one service account per secret created.

[2019-09-06 13:33] Megan-Wright opened #506 "Notification for deleting secrets"
### Expected Behaviour ###
A notification should appear on deleting a secret to confirm that the secret has been deleted.
### Actual Behaviour ###
When a secret is deleted via the dashboard there is no notification.

[2019-09-06 18:26] vtereso commented on #506
This is also being tracked here: https://github.com/tektoncd/dashboard/issues/269.

[2019-09-06 20:16] vtereso commented on #496
Maybe this could see some overlap with the website that is underway. Last WG ([video link](https://drive.google.com/file/d/1pGPbK4M3Z3yMjgeNmVWSARIP6VccZ-ah/view)), some tutorial based stuff was demonstrated.

[2019-09-09 12:54] sarveshtamba commented on #456
Hi @a-roberts,
As posted above, following two commands produce the below results(both executed after starting `kubectl proxy` as mentioned in `DEVELOPMENT.md`):-

[code]

Not sure if the second command actually makes use of the kubectl proxy.

Do I still need to setup Ingress end-points? I tried to set it up, but I faced issues in step "Retrieve a publicly available IP address":-
`ip=$(ifconfig |

[2019-09-09 13:17] a-roberts commented on #456
Hey @sarveshtamba, not officially, but Node.js and Go both run a treat on Power (at least on Power 8 LE AFAIK), there'd only potentially be an issue with native calls that haven't been ported for modules but we're hardly using anything particularly unpopular!

Regarding the IP, check what your ifconfig does return without anything else: in our case at IBM we're on a 9. internal network and that co

[2019-09-09 13:45] CarolynMabbott commented on #505
Will need to complete #320 before this can be started, PR for 320 is almost done

[2019-09-09 13:46] CarolynMabbott commented on #505
/assign

[2019-09-09 13:46] Megan-Wright commented on #505
/assign

[2019-09-09 13:46] carlos-logro commented on #269
/assign

[2019-09-09 14:49] skaegi opened #509 "Dashboard UI for Triggers"
I think the trigger work solves a really critical problem -- mapping events to pipelineruns and resources. This issue is to look at what we might do to formally add it to the dashboard and also integrate it in with any pipelineruns and pipelineresources the trigger template creates in response to an event.

[2019-09-10 09:04] dibbles commented on #498
repeated clicking should make it hiss ....

[2019-09-10 09:09] a-roberts commented on #505
👍 I see this being a very common use case (e.g. if teams are sharing the same Docker repo and wants to use the same credentials, or pulling from the same GitHub)

This could instead be done as part of the service account panelling effort and thus would be worked on as part of https://github.com/tektoncd/dashboard/issues/366, so to confirm is the suggestion here to allow the multiple addition secre

[2019-09-10 09:13] a-roberts commented on #469
Note that Carlos' code isn't merged yet so this still can't/shouldn't be picked up yet

[2019-09-10 13:12] bconey opened #511 "Password in clear text displayed on Secrets page"
# Expected Behavior
After creating a secret, it would be displayed on the Secrets panel but the annotations displayed would not include sensitive information such as password in clear text; somehow those could be filtered out.

# Actual Behavior
The secret is displayed in the secrets panel with the password is in clear text.

# Steps to Reproduce the Problem

1. Ran the command `oc apply -n <names

[2019-09-10 15:04] a-roberts commented on #511
Also see https://github.com/tektoncd/dashboard/issues/399, I noticed this too but never with secrets made through the dashboard

What I see:

![image](https://user-images.githubusercontent.com/12814972/64624723-fcde2f80-d3e2-11e9-941d-1b1f0cbd3d75.png)

Note the first one was made through panelling and the second was not.

They're both basic auth too

[code]

Here are the secrets

[code]

and the

[2019-09-10 15:32] a-roberts commented on #511
![image](https://user-images.githubusercontent.com/12814972/64627933-6a408f00-d3e8-11e9-98b1-9a91ac330214.png)

As a result of
[code]

in SecretsTable.js.

@AlanGreene @steveodonovan can I get your thoughts please before I create a PR? This smells a bit hacky to me and was really quick to do!

[2019-09-10 15:49] AlanGreene commented on #511
I wonder if instead of skipping the `last-applied-configuration` we should instead just show the `tekton.dev/*` ones or some other subset? Also, if we do add a yaml view (as we already do with some of the other resources, and are considering doing globally), this would display the full state of the resource, the same as running `kubectl get secret mySecret -o yaml`

Should we always treat annotati

[2019-09-10 16:14] a-roberts commented on #511
@AlanGreene good suggestions, I'm in favour of only displaying `tekton.dev/*` annotations here, there aren't any other annotations here we particularly care for (it's already quite unwieldy when there's lots of annotation text as seen in the above screenshot) and I agree a full yaml view as I've seen for a PipelineRun makes sense to view more information.

We don't have a way to filter secrets (ye

[2019-09-10 22:08] arzarif commented on #232
Seems like the linked ticket has been closed in favor of standard pod log collection practices. Given that centralized log collection can vary from implementation to implantation, what recourse would the dashboard have as far as being able to present historical data?

[2019-09-11 08:36] a-roberts commented on #511
@bconey fixed with https://github.com/tektoncd/dashboard/pull/512, please reopen if I'm mistaken or there's a better approach!

[2019-09-11 08:36] #511 closed

[2019-09-11 08:40] a-roberts opened #513 "TestExtensionRegistration is still (still!) flaky"
# Expected Behavior
It should reliably pass
# Actual Behavior

See https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_dashboard/512/pull-tekton-dashboard-unit-tests/1171461781227311105/
which mentions

[code]

@Megan-Wright and I have already been in this test - I resolved a duplicate extension key issue (so there's only one being registered), and Megan's increased the tim

[2019-09-11 13:23] a-roberts opened #515 "pipeline0: mismatching types error with latest Tekton Pipelines on OpenShift"
# Expected Behavior
pipeline0 should work fine

# Actual Behavior
See
[code]

# Steps to Reproduce the Problem

1. Install the latest version of Tekton Pipelines
2. Install the Tekton Dashboard and try to import resources, e.g. from https://github.com/pipeline-hotel/example-pipelines.git
3. Observe
[code]

Problem likely in pipeline0.yaml (which is in the hotel and as part of the dashboard install

[2019-09-11 13:57] sarveshtamba commented on #456
@a-roberts I set the IP correctly by tweaking the command slightly as below:-

`ip=$(ifconfig | grep netmask | sed -n 2p | cut -d ' ' -f10)`

[code]
Still not able to access the dashboard, getting a `404 page not found` error.

[2019-09-11 14:05] a-roberts commented on #515
https://github.com/tektoncd/pipeline/issues/1298 the cause (shout out to @akihikokuroda and @vdemeester ❤️ ), so the fix in the meantime should be to add the type fields

[2019-09-11 14:54] a-roberts commented on #456
Interesting, our images aren't multiarch ones so I'm wondering how the container's running well!

if you're getting an exec format error - for your scenario you're going to have to either docker build and push the images manually and have these used, or `ko apply` (remembering to `npm run build_ko` for the static content)

The 404 typically means there's no static content to serve or you're hiting

[2019-09-11 15:52] a-roberts commented on #515
Spoke with @ncskier about this, I edited my pipeline0 (Pipeline) and pipeline0-task (resources that are provided at install time with our Tekton Dashboard) to include `type: string` and all is well. I'll add these types into our files now and the hotel, which arguably should be demolished as I'd rather not add types everywhere.... 😄

[2019-09-11 16:48] kimholmes commented on #505
In a previous design review, it was stated that the requirement should be to let the user patch Service Accounts only during Secret Creation. So, here is the proposed user flow:
![CreateSecret1](https://user-images.githubusercontent.com/21316329/64717244-e6db7800-d491-11e9-84ec-d005ba481cad.png)
![CreateSecret2](https://user-images.githubusercontent.com/21316329/64717295-08d4fa80-d492-11e9-843c-fa

[2019-09-11 17:14] #499 closed

[2019-09-11 17:14] #501 closed

[2019-09-11 18:42] kimholmes commented on #509
It might be helpful to define what at trigger is. Sounds like it's an "event." Can we list some examples of such events? What is a "trigger template?"

Based on this description, it sounds like we will need a page with a table containing said triggers. What descriptive columns will be needed on the table? Based on that, we can figure out what this page would link to within the dasbhoard.

Also, ba

[2019-09-11 18:52] AlanGreene opened #517 "Remove styles and other code related to status containing "Build""
# Expected Behavior
Tekton Pipelines has been updated to remove references to "Build" / "Building" etc. in favour of "Run" / "Running", to better reflect its flexible nature, as it supports more use cases than just building things. The Dashboard should take this opportunity to clean up any duplicate / redundant code.

# Actual Behavior
Some references to "Build" / "Building" remain in the dashboar

[2019-09-11 18:52] ncskier commented on #505
@kimholmes thanks for adding your designs 🙂

Since this issue is only about patching a Secret to multiple ServiceAccounts, I think that the only relevant design would be this one: https://user-images.githubusercontent.com/21316329/64717299-0b375480-d492-11e9-88d6-e873e5fe9850.png 👍

Also, I think we only patch the Secret as a normal secret at the moment (not as an ImagePullSecret), so we won't nee

[2019-09-11 19:06] kimholmes commented on #505
@ncskier Thanks! I'll plan to add issues where we can track new issues.

[2019-09-11 21:16] ncskier commented on #509
The triggers here refer to the Triggers project: https://github.com/tektoncd/triggers. The work is still in-progress (and pre-alpha), so the Custom Resources (EventListener, TriggerBinding, and TriggerTemplate) are still changing as we develop them.

When we prioritize this work item and someone picks it up, then I will be happy to help create the specifications for how the Dashboard should deal w

[2019-09-12 07:21] sarveshtamba commented on #456
I had successfully built and deployed tektoncd dashboard image locally on ppc64le by making the following changes to the existing `Dockerfile` and `gcr-tekton-dashboard.yaml` file to use the locally built tekton dashboard image for ppc64le:-
[code]
Following are the image details:-
[code]
Also, made sure tecktoncd pipeline is deployed and tekton-pipelines namespace is created prior to dashboard de

[2019-09-12 08:46] a-roberts opened #518 "Add a test for pipeline0 (into e2e tests or compatibility)"
# Expected Behavior
We should have a test that kicks off pipeline0 and imports resources - this is the "backend" of our import resources functionality. Ideally on OpenShift as well as Prow 😄

# Actual Behavior
We don't have this as part of https://github.com/tektoncd/dashboard/pull/425/files or https://github.com/tektoncd/dashboard/tree/master/test, which means that https://github.com/tektoncd/das

[2019-09-12 14:29] #515 closed, assigned to a-roberts

[2019-09-13 08:35] a-roberts commented on #456
Hey there, logs look good to me and your bundle size does too 😄 so perhaps it's the WEB_RESOURCES_DIR variable in the .yaml that's a problem, how about setting it to `/go/src/github.com/tektoncd/dashboard/web`? In your inspector (say using Google Chrome) what issues do you see reported?

Also see https://github.com/tektoncd/dashboard/blob/6b36ddf3f872c7f23eb4d2de12aede2175c4beb4/Dockerfile - notic

[2019-09-13 12:10] sarveshtamba commented on #456
Hi @a-roberts ,

It worked! :)
I changed the following value in `config/release/gcr-tekton-dashboard.yaml`

[code]
Thanks a ton for the response and the suggestions! You made my day!

[2019-09-13 12:23] a-roberts commented on #456
Great, thank you so much for your continued perseverance! This works for the following reasons.

When we use `ko` to build and push the image (instead of doing a Docker build and push like you are doing), the created container has the `WEB_RESOURCES_DIR` set pointing to `/var/run/ko/web`.

Why this location? Well, this folder is available in the image when you do the `ko apply` command *assuming w

[2019-09-13 12:47] sarveshtamba commented on #456
@a-roberts very much happy to close this one, appreciate your patience! Thanks once again.

[2019-09-13 12:47] #456 closed

[2019-09-16 10:21] a-roberts opened #522 "Publish 0.2.0 Tekton Dashboard and Webhooks Extension release"
Things to do:

- [x] Wait for Tekton Pipelines 0.7 to go live
- [x] Release notes and credits
- [x] Security checks (Node.js modules, base images if any)
- [x] Check release pipeline works (does, with 0.5.2)
- [x] Create tags on GitHub for each repository (Tekton Dashboard and Webhooks Extension)
- [x] Stage release using `tkn` so yaml files and images are available to test
- [x] Test the staged r

[2019-09-16 10:26] a-roberts commented on #522
I've tested the latest of everything we have so far (Tekton Pipelines/Dashboard/Webhooks Extension from their respective master branches ) using Docker Desktop, moving on to OpenShift 3.11 next.

For the testing here's what I've done:
- Unit tests (go & npm)
- Importing Tekton resources through the UI
- Run a simple git clone and Docker build/push pipeline pointing to a GHE repository through a we

[2019-09-16 10:53] a-roberts opened #524 "Fix accessibility issue: no aria text for namespace selection"
# Expected Behavior
An accessibility assessment tool (I've used the IBM DAP tool) should report no accessibility problems

# Actual Behavior
There's one
![image](https://user-images.githubusercontent.com/12814972/64952478-5d082200-d878-11e9-9823-2deaf3ce1cff.png)
this is for the namespace dropdown on the left

# Steps to Reproduce the Problem

1. Run the IBM DAP tool (note this may be IBMer specif

[2019-09-16 11:02] steveodonovan opened #525 "Make name configurable in the external pipelineRuns component"
# Expected Behavior

Consumers should be able to dynamically generate names. Should default to run name.

# Actual Behavior

static pipelineRun name field is used at the moment.

[2019-09-16 11:02] steveodonovan commented on #525
/assign

[2019-09-16 12:03] steveodonovan opened #526 "Add extra parameters for the pipelineRuns link url in the external compnent"
# Expected Behavior

Extra parameters should be accepted. Annotations or labels might be better parameters as they're a natural extension point for the resource definitions.

[2019-09-16 12:03] steveodonovan commented on #526
/assign

[2019-09-16 12:28] a-roberts opened #527 "Secrets table batch action bar visible in Safari"
# Expected Behavior
It shouldn't be 😄

# Actual Behavior
I see this testing the latest Tekton Dashboard in Safari

![image](https://user-images.githubusercontent.com/12814972/64957855-b9257300-d885-11e9-9528-3763d7f11a83.png)

# Steps to Reproduce the Problem

1. Install the latest Tekton Dashboard code (in my case I've used Docker Desktop)
2. Port-forward the Tekton Dashboard pod
3. Navigate to t

[2019-09-16 12:30] a-roberts commented on #527
See https://github.com/tektoncd/experimental/issues/128

[2019-09-16 14:07] kimholmes commented on #509
Need to begin design work on this by the end of September.

[2019-09-16 14:43] bconey opened #528 "Dashboard webui not rendering on Firefox 60.9.0esr"
# Expected Behavior
Dashboard should render on Firefox 60.9.0esr(64bit) on macOS Mojave Version 10.14.6 and show Pipelines, TaskRuns, etc.

# Actual Behavior
Tekton dashboard does render on the FireFox 60.9.0esr(64-bit) installed on macOS Mojave Version 10.14.6 - receiving error `Error loading Pipelines Forbidden` message when viewing the dashboard

<img width="1081" alt="image" src="https://user-

[2019-09-16 14:44] a-roberts commented on #528
Thanks @bconey for reporting this, what platform did you install this on so we can rule out any RBAC issues? Any errors reported from the Tekton Dashboard pod?

@dibbles has observed this too I think and had to clean out a bunch of Firefox related data (obviously not ideal)

[2019-09-16 15:31] bconey commented on #528
@a-roberts Installed on Openshift 3.11 and no errors were logged in the Tekton Dashboard pod's log at the time the page was rendered

[2019-09-16 20:10] mii-w commented on #366
Update:
<img width="934" alt="Screen Shot 2019-09-16 at 4 04 13 PM" src="https://user-images.githubusercontent.com/51759906/64989862-7fac3200-d89c-11e9-827b-578052b94ab0.png">
<img width="935" alt="Screen Shot 2019-09-16 at 4 04 24 PM" src="https://user-images.githubusercontent.com/51759906/64989867-820e8c00-d89c-11e9-9245-f398f9d3eefe.png">
<img width="1079" alt="Screen Shot 2019-09-16 at 4 04 42

[2019-09-16 20:20] mii-w commented on #368
/assign

[2019-09-16 20:22] mii-w commented on #368
I am sorry, I did not see this sooner. I wanted to add the design label.

[2019-09-16 20:25] mii-w commented on #368
Current thoughts on organizing the page framework:
<img width="754" alt="Screen Shot 2019-09-16 at 4 23 03 PM" src="https://user-images.githubusercontent.com/51759906/64990766-745a0600-d89e-11e9-836a-b3b52607f494.png">

Opened left menu:
<img width="915" alt="Screen Shot 2019-09-16 at 4 23 41 PM" src="https://user-images.githubusercontent.com/51759906/64990774-7623c980-d89e-11e9-82e0-e81c640c0174.

[2019-09-16 20:33] mii-w commented on #505
<img width="928" alt="Screen Shot 2019-09-16 at 4 32 50 PM" src="https://user-images.githubusercontent.com/51759906/64991322-ab7ce700-d89f-11e9-8261-440d69861229.png">
<img width="926" alt="Screen Shot 2019-09-16 at 4 32 59 PM" src="https://user-images.githubusercontent.com/51759906/64991324-acae1400-d89f-11e9-9ec1-80159035771b.png">

[2019-09-16 21:03] ncskier commented on #505
@mii-w I don't think the wording "Patch Service Accounts onto "SecretName" is exactly accurate; it also sounds sort of confusing. This view is adding a Secret to a number of ServiceAccounts (the ServiceAccount contains the name of the Secret). So, I think a better title would be something like: `Add Secret to Service Accounts` or `Add to Service Accounts` (if you don't like the word `add`, then ma

[2019-09-17 06:35] qibobo opened #529 "failed to rebuild"
I created a pipeline run in the dashboard.
 One build of my pipeline was failed, then I clicked the rebuild button, but it is failed with the error message:
`An internal server error occurred when rebuilding this PipelineRun: check the dashboard and extension pod logs for details`

This is my pipeline repo: https://github.com/appsody/tekton-example
I found the error log in dashboard container :

[

[2019-09-17 08:45] a-roberts commented on #529
Hey @qibobo, what's your Tekton Dashboard version please and what's your version of Tekton Pipelines itself?

`trigger` isn't a field any more on PipelineRun, see https://github.com/tektoncd/dashboard/commit/e968bb77bf7e5afe7d7c44147cd0a8aeea53e95d#diff-2a268056787157d73c4168498850de86L562 where it was removed from the Tekton Dashboard codebase

[2019-09-17 08:46] a-roberts commented on #524
This is even the case with http://react.carbondesignsystem.com/?path=/story/dropdown--default, issue raised (linked to above)...

[2019-09-17 08:51] qibobo commented on #529
@a-roberts
Below is the cmd I used to install Tekton and its dashboard:
[code]

[2019-09-17 09:31] qibobo opened #530 "how to install dashboard in minishift"
I tried 2 ways that introduced in the dashboard readme to install tekton to minishift

**way 1**
oc apply --filename https://github.com/tektoncd/dashboard/releases/download/v0.1.1/openshift-tekton-dashboard.yaml --validate=false
After deployment, I check the service and expect there is a port 9097, but there is only a port export 443
[code]
Then I tried to forward the port:
`oc --namespace tekton-

[2019-09-17 10:40] a-roberts commented on #529
Ah, that'll be your problem then - you're installing the latest version of Tekton which doesn't use the triggers field and the 0.1.1 release of the Tekton Dashboard which does use the trigger field (as it was used in Tekton 0.5.2)

Please use either master of our Tekton Dashboard code (e.g. our nightly builds) or Tekton 0.5.2

[2019-09-17 12:31] a-roberts commented on #530
Hey @qibobo, for way 1 instead of using port-forward, can you access the route instead? `kubectl get routes -n *your install namespace*` and then visit that URL in your browser

[2019-09-17 19:00] a-roberts commented on #527
Merged so closing

[2019-09-17 19:00] #527 closed

[2019-09-18 11:47] carlos-logro commented on #321
/close

[2019-09-18 11:47] #321 closed

[2019-09-18 13:13] a-roberts commented on #493
Merged so closing

[2019-09-18 13:13] #493 closed

[2019-09-18 13:15] a-roberts commented on #469
Carlos' stuff is merged, note that I'm sure this isn't specific to our Tekton Dashboard code either, seeing this testing our latest everything on OpenShift 3.11:

[code]

Resulting in

![image](https://user-images.githubusercontent.com/12814972/65151784-b01bd980-da1e-11e9-89fd-54cbd394ff5e.png)

[2019-09-18 15:12] a-roberts commented on #529
Going to close this, lemme know/reopen if I'm mistaken please and you're still seeing this after trying the above, thanks

[2019-09-18 15:12] #529 closed

[2019-09-19 08:53] sarveshtamba commented on #456
Hi @a-roberts ,

The following changes are required for ppc64le:-

[code]

How do I proceed to submit these changes to the repo to support ppc64le?
Create separate files for ppc64le - e.g. Dockerfile-ppc64le & gcr-tekton-dashboard-ppc64le.yaml - and update the README to include steps for ppc64le?

[2019-09-19 12:31] a-roberts commented on #456
Hey @sarveshtamba, good question and points, soo a few things

1) It would be great for Tekton itself to be running on Power, there's no story for that atm AFAIK (obviously as we're makers of Power systems at IBM, we have our own interests in this, but whether or not it will be community maintained is another question - have to think about access to systems for example, it's a similar story for No

[2019-09-19 16:45] carlos-logro commented on #269
/close

[2019-09-19 16:45] #269 closed

[2019-09-20 11:13] AlanGreene commented on #525
Delivered in https://github.com/tektoncd/dashboard/pull/532

[2019-09-20 11:13] #525 closed

[2019-09-20 11:17] AlanGreene commented on #526
Delivered in https://github.com/tektoncd/dashboard/pull/532

[2019-09-20 11:17] #526 closed

[2019-09-20 12:57] dibbles opened #537 "Import resource does not work if pipeline0 not in target namespace"
# Expected Behavior

pipeline0 should only need to be in the install namespace, and should be able to import resources into a target namespace

# Actual Behavior

Error occurs: Unable to load PipelineRun details: CouldntGetPipeline
Pipeline default/pipeline0 can't be found:pipeline.tekton.dev "pipeline0" not found

# Steps to Reproduce the Problem

1. Import resources into an alternative namespace

[2019-09-20 16:58] ncskier commented on #509
Here's an overview of the Triggers resources at the moment (the project is still in development, so it is subject to change). Much of this information is re-iterated from the [Triggers README's](https://github.com/tektoncd/triggers).

## Overview
The Triggers project enables users to set up Tekton PipelineRuns/TaskRuns that will execute (start running) when an event is received. A common example u

[2019-09-20 17:12] mtamboli opened #538 "Validation of secrets created in dashboard"
# Expected Behavior
In Tekton Dashboard -> Creating secrets
It would be nice to have validation for the secrets entered. Currently, you can enter incorrect user/password or server URL and the secret is created successfully. It would be nice to have the option to validate them. It could also be a separate option after creation or at the time of submit.
Especially with the URL, it has happened that

[2019-09-22 15:17] akihikokuroda commented on #413
/close

[2019-09-22 15:17] #413 closed

[2019-09-23 09:30] a-roberts commented on #522
Update on this, Tekton 0.7's now available, I've done some testing as mentioned above but occupied with the move to triggers atm

[2019-09-23 10:49] dibbles commented on #537
/assign

[2019-09-23 12:47] maxveit opened #539 "Rebuild a PipelineRun leads to an error in the Dashboard"
# Expected Behavior
"Rebuild" of an PipelineRun leads to the execution of a rebuild.

# Actual Behavior
"Rebuild" of an PipelineRun leads to an error:
[code]

# Steps to Reproduce the Problem
1. Fresh install of Kabanero
2. Create a Git Resource, I used the following:
[code]
3. Create a Docker Resource, I used the following (ImageStream created beforehand):
[code]
4. Create a PipelineRun with the

[2019-09-25 00:32] gpaul opened #541 "Dashboard error when transitioning to next task"
# Expected Behavior

When I'm viewing a PipelineRun, and the current task finishes, a new task is added to the UI and its output shown.

# Actual Behavior

When I'm viewing a PipelineRun, and the current task finishes, then the entire screen goes white and my chrome console reports the following stacktrace:

[code]

# Steps to Reproduce the Problem

1. Appears to be, just view a pipelinerun and wa

[2019-09-25 00:32] gpaul commented on #541
I believe this is on tekton nightly, as of yesterday.

[2019-09-25 06:23] sarveshtamba opened #542 "Platform support for tektoncd/dashboard on PowerPC64LE"
As mentioned in "https://github.com/tektoncd/dashboard/issues/456#issuecomment-533108203", opening this issue for adding platform support for tektoncd/dashboard on PowerPC64LE.

I was able to deploy tektoncd/dashboard on PowerPC64LE with the following changes for ppc64le:-

[code]
@a-roberts @mnuttall please help in adding platform support for tektoncd/dashboard on PowerPC64LE.
Thanks a lot in adv

[2019-09-25 06:24] sarveshtamba commented on #456
@a-roberts @mnuttall opened a new issue "https://github.com/tektoncd/dashboard/issues/542" to take forward the platform support for tektoncd/dashboard on PowerPC64LE.

[2019-09-25 08:41] a-roberts commented on #522
Retesting of our latest code is beginning now, we've only got one bug (so far!) that we can definitely resolve for this particular release which is https://github.com/tektoncd/dashboard/issues/537

[2019-09-25 08:41] dibbles opened #543 "Add ability to take default values when creating secret in tekton dashboard"
@tam512 commented on [Mon Sep 23 2019](https://github.com/tektoncd/experimental/issues/256)

# Expected Behavior
when create a new secret in the tekton dashboard, the `Server URL` text box shows greyed out url https://github.com.  If I want to use the same url, I need to retype the exact same url in the text box.  Please add the capability for users to take the default url or modify the existing d

[2019-09-25 08:42] dibbles commented on #543
Have moved this issue to dashboard repo.

[2019-09-25 08:50] a-roberts commented on #537
Merged so closing

[2019-09-25 08:50] #537 closed

[2019-09-25 08:54] a-roberts commented on #522
@CarolynMabbott and @Megan-Wright have agreed to carry out manual testing on Docker Desktop now that @dibbles's fix is in, I'll be looking at the testing on OpenShift (while we do have plenty of good unit tests our coverage isn't perfect 😸 ).

We'll be creating webhooks and thus PipelineRuns for repositories on GitHub enterprise, checking they can be deleted OK, that all Tekton Dashboard component

[2019-09-25 10:39] AlanGreene commented on #513
Another: https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_dashboard/545/pull-tekton-dashboard-unit-tests/1176805492756844544/build-log.txt

[2019-09-25 10:53] a-roberts opened #546 "Secrets creation: input error displayed with a space in the name but 405 if at the end"
# Expected Behavior
We should display an invalid input error whenever there's invalid input instead of throwing a bad request error

# Actual Behavior
We get a bad request error when the secret name has a space at the end (but not when it's in the middle)

# Steps to Reproduce the Problem

1. Create a secret with a space at the end of the name

# Additional info
Reported by @Megan-Wright and @Caro

[2019-09-25 12:39] Megan-Wright opened #548 "Secret creation: Cannot type in server URL field after the 10th server url"
Expected Behaviour:
We should be able to add as many server URLs for one secret as we would like.

Actual Behaviour:
When creating a secret, the UI allows for seemingly unlimited server URLs to be added for one secret. However, after the 10th server url, it is not possible to type a URL into the field.
Up to "tekton.dev/git-9" we can edit both of the fields for each server URL, however after this

[2019-09-25 12:57] CarolynMabbott opened #549 "Namespace on the left in dashboard overwrites namespace in the create secret modal"
When creating a secret the namespace on the left overwrites the namespace when you select namespace when creating a secret
This means that it does not fetch secrets for the namespace selected in the create secret, only for the namespace on the left

Below shows me attempting to create a secret in namespace tekton-pipelines when in the left is in namespace car

![Screenshot 2019-09-25 at 13.55.25.p

[2019-09-25 14:43] a-roberts opened #550 "Update tekton/ resources for building/publishing to work with Tekton 0.7"
Noticed a few problems trying to use tkn 0.3.1 with Tekton 0.7 trying to publish 0.2.0 of the Tekton Dashboard

- ( instead of { should be used in all of our Tekton resources
- Fix up the docs (grammatical errors/typos, not clear you must keep the service account key somewhere safe, not just in an easily thrown away release.json)
- File extensions should all be .yaml not a mixture of .yml and .yam

[2019-09-25 15:19] Megan-Wright opened #551 "Cannot scroll up/down on view of yaml on Google Chrome only"
Expected Behaviour
When viewing a pipeline's etc. YAML on the dashboard on google chrome I should be able to scroll up and down to view the entire code.

Actual Behaviour
I can scroll from side to side to view the extent of the YAML content but cannot scroll up and down, even though there is clearly more of the YAML that I am unable to see.

[2019-09-25 15:20] CarolynMabbott opened #552 "Errors when creating a PipelineRun when namespace is not selected"
Get the error of `Error retrieving Pipeline information` when trying to create a PipelineRun on the dashboard.
This appears to be because I haven't selected a namespace yet.
Should it be where I can select a Pipeline and then it lists in the namespaces above what namespaces have this Pipeline?
Or should the Pipeline dropdown not be displayed until a namespace has been selected

![Screenshot 2019-0

[2019-09-25 15:26] CarolynMabbott opened #553 "Unclear error message on create PipelineRun"
I tried creating a PipelineRun and received the following error, it doesnt tell me anything about why the request is bad and why received a 404

Also the logs don't give any helpful reasons why

Maybe we could have better error checking / error responses when things go wrong

![Screenshot 2019-09-25 at 16.23.31.png](https://images.zenhubusercontent.com/5cfe69e3171db04ec3637b76/1b09f692-8c46-4e51-8

[2019-09-25 15:29] CarolynMabbott opened #554 "Timeout box in Create PipelineRun should have validation"
# Expected Behavior

When i try and type something into timeout that is not a valid option it tells me that its not valid

# Actual Behavior

I can type meow into the the timeout and it responds with a 404 error instead of a error where cannot press submit

# Steps to Reproduce the Problem

1. Type meow into the timeout box on the create PipelineRun page
2. Observe no error
3. Click submit and wat

[2019-09-25 15:39] CarolynMabbott opened #555 "Timeout in Create PipelineRun does not work"
# Expected Behavior

Adding a timeout to the Create PipelineRun works. Works if you have a timeout of 0 but any other number fails

# Actual Behavior

Adding a timeout to Create PipelineRun brings up an error of
[code]
Also brings up an error `{"level":"error","msg":"Error: an error on the server (\"unknown\") has prevented the request from succeeding"}` in the dashboard logs

# Steps to Reproduce

[2019-09-25 16:07] mii-w commented on #35
Wireframe Diagram Design Demo
[Diagram Design.zip](https://github.com/tektoncd/dashboard/files/3653602/Diagram.Design.zip)

[2019-09-25 16:14] CarolynMabbott opened #556 "Console errors when looking at pipelinerun logs in dashboard"
# Expected Behavior

There are no console errors or log errors when watching logs for a failed pipelinerun

# Actual Behavior
There are console errors and log errors when watching logs for a failed pipelinerun (May also be on a working pipelinerun, will check to confirm)

# Steps to Reproduce the Problem

1. Create a pipelinrun which will fail
2. Click on the task straight away
3. Watch the consol

[2019-09-25 16:26] CarolynMabbott opened #557 "No error displayed when trying to create a secret that already exists"
# Expected Behavior
Shouldnt able to create the same secret twice, shouldnt be able to click submit button and it goes through

# Actual Behavior
Can create the secret but returns 400 error

# Steps to Reproduce the Problem

1. Create a secret or already have one existing
2. Try and recreate exact same secret
3. Receive 400 error

# Additional Info
We already display the error in the log so we sho

[2019-09-25 16:31] CarolynMabbott opened #558 "Number of characters in secret name can be 253 not less than 253"
# Expected Behavior
Can not have a secret name with 253 characters

# Actual Behavior
Can create a secret with 253 characters

# Steps to Reproduce the Problem

1. Create a super long secret name with 253 characters (111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111

[2019-09-25 16:35] CarolynMabbott opened #559 "Error messages on secrets creation page are unhelpful"
# Expected Behavior
An error message tells me what is wrong

# Actual Behavior
Error message tells me Bad Request with no information

# Steps to Reproduce the Problem

1. Create a duplicate secret on the secrets page
2. Watch as an error appears saying Error Bad Request

# Additional Info
This is when creating a duplicate secret, other bad error messages also exist in the secrets creation page

[2019-09-25 18:56] aadeshpa opened #560 "Kabanero Pipelinerun pod in Tekton Dashboard does not show log error of pv.yaml missing which is pre-requisite of Kabanero"
# Expected Behavior
Kabanero Pipelinerun requires `pv.yaml` to be applied before pipelinerun happens.
If end user has not applied this resource and if webhook triggers the pipelinerun , in Tekton dashboard user should see error message for missing `pv.yaml` resource in that cluster.

Hence expected behavior is to see some error message for pv.yaml missing.

# Actual Behavior
In Tekton dashboard pi

[2019-09-25 18:58] aadeshpa commented on #560
Somehow the above Possible solution mentioned should be utilized to surface the error message to the end user in the Tekton Dashboard instead of just infinite loading of the pod without any log message.

[2019-09-25 19:04] aadeshpa commented on #560
This issue was created as a result of the issue : https://github.com/kabanero-io/kabanero-pipelines/issues/63
which was created under Kabanero-pipelines team by SVT team.

[2019-09-25 20:39] mnuttall commented on #560
The problem here isn't so much 'failure to apply pv.yaml' - Tekton provides no such file. The general failure is to configure https://kubernetes.io/docs/concepts/storage/dynamic-provisioning/ or in its absence, to create a set of PersistentVolumes adequate for Tekton's PersistentVolumeClaims to pick up. One suggestion in conversation with the team raising this was to

[2019-09-25 21:04] mnuttall commented on #560
@aadeshpa the need for persistent storage is covered in https://github.com/tektoncd/pipeline/blob/master/docs/install.md#configuring-tekton-pipelines. Does this meet your needs?

[2019-09-26 09:52] dibbles opened #561 "Viewing a pipelinerun changes left menu to 'Pipelines""
# Expected Behavior

When viewing a pipelinerun, the left menu should stay on PipelineRuns

# Actual Behavior

The left menu changes to Pipelines

# Steps to Reproduce the Problem

1. Go to PipelineRuns
2. Select a PipelineRun (see left menu change to pipelines)
3.

# Additional Info

[2019-09-26 10:13] #383 closed

[2019-09-26 10:13] #385 closed

[2019-09-26 10:13] #397 closed

[2019-09-26 10:13] #401 closed

[2019-09-26 10:22] AlanGreene commented on #551
Which Chrome version are you seeing this in? Are you on macOS / Windows?

Testing latest dashboard code (master) with Chrome 77.0.3865.90 on macOS I cannot reproduce this. I am able to scroll the entire right portion of the page vertically as expected.

![image](https://user-images.githubusercontent.com/2829095/65680704-68fd9c00-e04f-11e9-94f5-54f1d3b2acc6.png)

Are there any errors in the browser

[2019-09-26 10:25] dibbles commented on #552
/assign

[2019-09-26 10:30] AlanGreene commented on #556
404s are expected if you're attempting to view logs for a step that hasn't begun to execute yet (as in the case of a PipelineRun/TaskRun that has just been created) since the container for that step will not be available.

These particular console errors are generated by the browser in response to a network error, they are not coming from our code.

Once the step begins and the container is create

[2019-09-26 10:30] #556 closed

[2019-09-26 10:32] AlanGreene commented on #561
Duplicate of https://github.com/tektoncd/dashboard/issues/142#issuecomment-499579502

This a known issue due to the URL scheme we use for the front end.

[2019-09-26 10:32] #561 closed

[2019-09-26 10:47] AlanGreene opened #562 "JS string substr is considered legacy and should be avoided"
# Expected Behavior
We should not use legacy / deprecated language features, especially where an alternative exists.

# Actual Behavior
https://github.com/tektoncd/dashboard/blob/master/src/containers/SecretsModal/SecretsModal.js uses the JS string `substr` function. Instead it should use `substring`

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/substr

[2019-09-26 10:48] AlanGreene commented on #541
/assign

[2019-09-26 10:49] AlanGreene commented on #541
Thanks for reporting this, I've reproduced the issue and am working on a fix.

[2019-09-26 10:54] CarolynMabbott commented on #556
This may not be a simple 404 error. I'm getting repeated 404 error message when staying on the page which are showing the same error message as above
Not refreshing the page or anything and im getting this
[code]

The 36 main is just the number of error messgaes its currently at, it hasnt stopped increasing whilst im still on the page

[2019-09-26 11:09] AlanGreene commented on #556
The log container polls every 4 seconds until the step is complete, so you will continue to see errors as long as the container is unavailable. Can you verify in your cluster whether the container exists or not?

[2019-09-26 11:17] AlanGreene commented on #541
It looks like some of the changes from https://github.com/tektoncd/dashboard/pull/463 were lost during the refactoring effort of https://github.com/tektoncd/dashboard/pull/494

Should have a fix shortly.

[2019-09-26 11:51] CarolynMabbott commented on #556
The pod running the pipelinerun is stuck in intit:Error
`pipeline0-run-1569495787503-pipeline0-task-dd6cj-pod-38a637           0/2       Init:Error   0          45m`

The dashboard is showing:
[code]

Although the pipelinerun has failed
`pipeline0-run-1569495787503           False       Failed               46m         46m`

Checking the build describe of the pipelinerun is says it failed because

[2019-09-26 12:03] gpaul commented on #541
Thank you

[2019-09-26 12:47] AlanGreene commented on #541
Fix should be in the latest "nightly" now. Thanks again for catching and reporting this.

[2019-09-26 12:50] AlanGreene commented on #562
/assign

[2019-09-26 12:55] dibbles commented on #555
/assign

[2019-09-26 13:06] dibbles commented on #552
Fixing under: https://github.com/tektoncd/dashboard/pull/564

[2019-09-26 13:11] a-roberts commented on #552
https://github.com/tektoncd/dashboard/pull/564 now merged so closing, cheers @dibbles

[2019-09-26 13:11] #552 closed

[2019-09-26 13:36] Megan-Wright commented on #551
I'm using version 76.0.3809.132 on macOS

[2019-09-26 13:40] aadeshpa commented on #560
@mnuttall : as discussed with @kvijai82 @tseelbach  we have created a Troubleshooting guide in pipelines repository to show how to find the possible error of pv.yaml persistent volume missing in the cluster.

Please find the pull request created for Troubleshooting guide in our pipelines repo https://github.com/kabanero-io/kabanero-pipelines/pull/68

@kvijai82 @tseelbach : can you confirm if that

[2019-09-26 13:49] CarolynMabbott opened #566 "Secrets page will not allow a secret name with the name of "." or "-" or these at the start or end of the secret name"
# Expected Behavior
The secrets page says i can create a secret using any combination of characters, . or -
I should be able to create a secret called "." or "-"
I should be able to have a secret called ".123", "-123", "123.", "123-"

# Actual Behavior
I can create a secret called "." or "-" or "123-"
When press submit i get a 400 Bad Request POST error

# Steps to Reproduce the Problem

1. Create

[2019-09-26 14:17] CarolynMabbott opened #567 "Rebuild button fails intermittently (code 500 for backend, no page load for frontend sometimes)"
# Expected Behavior
I can rebuild a rebuild of a PipelineRun as many times as I want

# Actual Behavior
I tried to rebuild a rebuild of a PipelineRun and it failed after the second rebuild
I then tried to replicate this and it failed after 9 times
It may be intermittent issue

# Steps to Reproduce the Problem

1. Rebuild a rebuild of a PipelineRun
2. Issue may happen / may not happen
3.

# Additio

[2019-09-26 14:23] CarolynMabbott opened #568 "Failure to load PipelineRuns page when several have been created since first page render"
# Expected Behavior
PipelineRuns page loads perfectly every time

# Actual Behavior
I set multiple (at least 10) PipelineRuns off from a different page
I tried to go to the PipelineRuns page and it gave me a blank white screen

# Steps to Reproduce the Problem

1. Create lots of PipelineRuns at once
2. Try going to PipelineRuns page
3. Watch as it doesnt load anything

# Additional Info
This may b

[2019-09-26 14:33] CarolynMabbott opened #569 "Changing namespace when looking at a PipelineRun shouldn't bring up an error"
# Expected Behavior
Changing the namespace when looking at a PipelineRun should take me to the PipelinesRun page for that namespace
# Actual Behavior
Changing the namespace when looking at a PipelineRun brings up an error

# Steps to Reproduce the Problem

1. Look at a PipelineRun
2. Change namespaces on the left hand side
3. Error appears

# Additional Info
Also it appears that when looking at a

[2019-09-26 15:39] AlanGreene commented on #473
Delivered in https://github.com/tektoncd/dashboard/pull/494

[2019-09-26 15:39] #473 closed

[2019-09-26 15:40] AlanGreene commented on #474
Closing this as PipelineRun container is now using the packaged component.
Other issues can be created to track updating the remaining containers as needed.

[2019-09-26 15:40] #474 closed

[2019-09-26 15:42] a-roberts opened #570 "Update Pipeline0 to work with Tekton 0.6 or 0.7"
# Expected Behavior
Pipeline0 (used by import resources) should work a treat

# Actual Behavior
It doesn't because of variable interpolation (we use { for inputs params and not (, ( is required in 0.7)

# Steps to Reproduce the Problem

1. Try to import resources using the latest Tekton Dashboard and Tekton Pipelines 0.7

[2019-09-26 15:45] CarolynMabbott opened #571 "Having a "." in secret name causes errors in pipelinerun (should catch as invalid secret name)"
# Expected Behavior
PipielineRuns work as expected
# Actual Behavior
Have a secret with a "." in and causes PipelineRun to fail
# Steps to Reproduce the Problem

1. Patch a service account with a secret containing a "."
2. Try running a pipelinerun
3. Watch it fail and look at logs for everything in terminal and find it fails due to a secret volume mount with a secret containing a "."

# Additiona

[2019-09-26 15:46] AlanGreene commented on #568
Looks like it's failing when the PipelineRun is missing status

/assign

[2019-09-26 15:52] AlanGreene commented on #569
Changing namespace on both the PipelineRun and TaskRun detail pages displays an error as it's updating the namespace in the URL and no matching 'Run' is found for the updated URL. This is consistent with the behaviour on the list pages where we update the UI to filter the list to the selected namespace.

The mismatch with the highlighted nav item (Pipelines) on the PipelineRun page is known: https

[2019-09-26 15:59] a-roberts commented on #530
Closing due to inactivity

[2019-09-26 15:59] #530 closed

[2019-09-26 15:59] a-roberts commented on #542
Putting this on ice for now, plenty of bugs we're working on atm, community support much welcomed!

[2019-09-26 16:00] AlanGreene commented on #142
/assign

[2019-09-26 16:01] AlanGreene commented on #142
Current proposal is to update the URLs as described by the first option in the comment above.

[2019-09-26 16:05] AlanGreene commented on #566
Should probably be handled along with https://github.com/tektoncd/dashboard/issues/571 as it appears '.' is problematic.

[2019-09-26 16:09] a-roberts commented on #571
The expected behaviour should actually be that we catch this as invalid secret name to use with Tekton then, and they do provide the regex so I'm suspect if we're not using that

[2019-09-26 16:12] AlanGreene commented on #568
@CarolynMabbott how are you triggering the PipelineRuns used to reproduce this? Are you doing it via kubectl, the dashboard UI, or some other mechanism?

[2019-09-26 16:19] CarolynMabbott commented on #568
I had one dashboard open and just rebuilt the PipelineRun a few times using the rebuild button
On another window i had a dashboard open and refreshed it onto the PipelineRuns page

Should work with any PipelineRun, I used it with a hello-world pipeline

[2019-09-26 16:24] CarolynMabbott opened #572 "PipelineRun init errors should be displayed in the Tekton Dashboard"
# Expected Behavior
When a pipelinerun fails it should update the pipelinerun properly

# Actual Behavior
The pipelinerun fails and is stuck failing without logs  as the pod is stuck in initError state
There are no logs to explain why it has failed

# Additional Info

Not just applicable to this example, screenshot below

![Screenshot 2019-09-26 at 17 22 54](https://user-images.githubusercontent.c

[2019-09-26 16:35] dibbles commented on #555
Technically this is incorrect input, so have clarified input under https://github.com/tektoncd/dashboard/pull/574 .... I think the issue should be left open to add extra field validation for this value

[2019-09-27 09:27] a-roberts commented on #568
Verified and reviewed/merged the PR for this so closing

[2019-09-27 09:27] #568 closed

[2019-09-27 09:34] CarolynMabbott opened #577 "Should not error on rebuild of a cancelled PipelineRun"
# Expected Behavior
Should not error when try to rebuild a cancelled PipelineRun

# Actual Behavior
Rebuild a cancelled PipelineRun caused errors and did not run

# Steps to Reproduce the Problem

1. Create a PipelineRun and cancel it
2. Try to rebuild it
3.

# Additional Info
Causes this error when tried to rebuild
![Screenshot 2019-09-27 at 10 32 57](https://user-images.githubusercontent.com/323

[2019-09-27 09:37] a-roberts commented on #469
Likely could be fixed utilising https://github.com/tektoncd/pipeline/pull/1324

[2019-09-27 09:49] a-roberts commented on #524
Putting this back on the backlog, heard nothing back for the issue I raised against Carbon and focused on bug fixing atm

[2019-09-27 09:52] a-roberts commented on #567
After five rebuilds of rebuilds I hit this

[code]

And in the dashboard pod logs:

[code]

Suggesting backend wise we may be good

[2019-09-27 09:57] a-roberts commented on #567
Ok reproduced the 500 too

![image](https://user-images.githubusercontent.com/12814972/65760648-4d5cc900-e115-11e9-86e5-36bd6e29d747.png)

Logs
[code]

[code]

Could be a name clash that's causing the 500 then, so there are two issues here.

[2019-09-27 12:51] dibbles commented on #554
https://github.com/tektoncd/dashboard/pull/578

[2019-09-27 12:53] dibbles commented on #555
extra validation done under issue 554 - this can be closed

[2019-09-27 12:53] dibbles commented on #555
/close

[2019-09-27 12:53] #555 closed

[2019-09-27 13:59] a-roberts commented on #554
Merged so closing

[2019-09-27 13:59] #554 closed

[2019-09-27 13:59] a-roberts commented on #541
Merged so closing, cheers all

[2019-09-27 13:59] #541 closed

[2019-09-27 14:55] CarolynMabbott commented on #571
/assign

[2019-09-27 15:10] CarolynMabbott commented on #558
/assign

[2019-09-27 15:17] CarolynMabbott commented on #566
/assign

[2019-09-28 16:34] steveodonovan opened #580 "Cancelled TaskRuns Should have steps with finished or failed status"
# Expected Behavior

Steps within a cancelled task run should not show as `running`

# Actual Behavior

They show as running

# Steps to Reproduce the Problem

1. Cancel a pipeline run while steps are in a running state. The Running state stays

# Additional Info

[2019-09-30 09:02] Megan-Wright commented on #557
/assign

[2019-09-30 09:34] CarolynMabbott opened #581 "Cant scroll downwards after creating a secret"
I created a secret on the secrets page in the dashboard
Once i created the secret I could no longer scroll down, can scroll sideways but just not down or up
This affects not just secret page but pipelinerun page, looking at pipeline definition (noted in #551 )
Can be sorted by refreshing the page but until you refresh you are unable to scroll down the page in anything

Running this on:
master of d

[2019-09-30 09:51] a-roberts commented on #539
Hmmm, we add -r-*generated string, five chars* for rebuilds, some interesting info pertinent to this

1) the 63 char limit comes from Tekton Pipelines itself
2) based on the timestamp being added to your run I see this has been made through a webhook - we could:
    * shorten the timestamp value made with a webhook
    * trim your pipeline name or step names owing to this Tekton restriction
    *

[2019-09-30 10:25] Megan-Wright commented on #551
Covered in #581

[2019-09-30 10:25] #551 closed

[2019-09-30 11:17] AlanGreene commented on #581
`.bx--body--with-modal-open` is being left on the `<body>` tag which is setting `overflow: hidden`

looks like either Carbon or the SecretsModal isn't cleaning up properly

[2019-09-30 11:27] #562 closed

[2019-09-30 12:47] a-roberts commented on #546
Merged so closing

[2019-09-30 12:47] #546 closed

[2019-09-30 13:24] AlanGreene opened #585 "Hide params + resources on step details tab for 3rd party consumers"
Our current design for the param + resource details needs work and doesn't make much sense for 3rd party consumers as it makes too many assumptions about URLs and overall structure of the integration.

For now we'll hide these tables by default, and only enable them in the dashboard.

Updated designs for presenting this information should also take into consideration how this would be consumed by

[2019-09-30 14:07] a-roberts commented on #567
PR https://github.com/tektoncd/dashboard/pull/588

[2019-09-30 14:40] a-roberts commented on #572
I'm wondering if this can be used to remedy https://github.com/tektoncd/dashboard/issues/560

[2019-09-30 17:24] #585 closed

[2019-09-30 18:16] carlos-logro commented on #559
/assign

[2019-10-01 08:31] a-roberts opened #593 "Import resources page is missing validation (at least for GitHub repository URL)"
# Expected Behavior
We should be checking for a valid GitHub repository URL

# Actual Behavior
![image](https://user-images.githubusercontent.com/12814972/65946513-37f5e080-e42e-11e9-89e4-a9a6c6a39d54.png)

# Steps to Reproduce the Problem

1. Import resources from somewhere that isn't even remotely a valid GitHub repository URL
2. Observe the PipelineRun's kicked off fine

# Additional Info
I'm s

[2019-10-01 09:31] a-roberts commented on #581
@AlanGreene had a look to see if there are any fixes going into Carbon and noticed https://github.com/carbon-design-system/carbon/issues/3945 (perhaps you did too), so yeah based on the closer's comments:
[code]

[2019-10-01 10:01] a-roberts commented on #571
Merge in progress (lgtmed and approved) so closing

[2019-10-01 10:01] #571 closed

[2019-10-01 10:02] a-roberts commented on #558
Merge in progress (lgtmed and approved) so closing

[2019-10-01 10:02] #558 closed

[2019-10-01 10:02] a-roberts commented on #566
Merge in progress (lgtmed and approved) so closing

[2019-10-01 10:02] #566 closed

[2019-10-01 10:07] CarolynMabbott opened #594 "Consider moving SecretsModal to Components instead of container"
SecretsModal should probably be in Components instead of Container
Not urgent or affecting functionality

[2019-10-01 10:14] AlanGreene commented on #581
No I hadn't seen that, seems like they're suggesting somehow the modal is being removed before it can clean up, not sure how that would happen though.

[2019-10-01 10:15] a-roberts commented on #593
Had a look through the history, https://github.com/tektoncd/dashboard/blob/9fb0fc9c5b72932d258c90d8d7db47c669f79775/src/containers/ImportResources/ImportResources.js for the initial commit, so simple URL validation is what I suggest we do here, e.g. http or https as a prefix and at least one slash (because a user could have their own GHE rolled out somewhere at a server url such as https://myserve

[2019-10-01 11:59] AlanGreene commented on #594
The components would need to be refactored to separate the UI from all of the API / store logic and then the pure UI pieces could be moved to the components package. All of the wiring pieces would remain in containers.

[2019-10-01 12:20] AlanGreene opened #596 "CSS class names should be namespaced to avoid interference with / from 3rd parties"
# Expected Behavior
Styles provided by the dashboard components should be applied to the components as expected, and should not affect other elements on the host page. Likewise, existing styles on the host page should not unintentionally affect the components.

# Actual Behavior
In a number of places we have quite generic class names (e.g. `.spinner`) which are likely to be used by 3rd parties and

[2019-10-01 12:48] akihikokuroda commented on #228
@mnuttall Do we still want this?  We have the route for OpenShift already.  If so, the OpenShift 4.x has the ingress operator.  I believe we should use it instead of define the ingress manually.

[2019-10-01 13:55] mnuttall commented on #228
Let's close this for now.

[2019-10-01 13:55] #228 closed

[2019-10-01 13:55] #203 closed

[2019-10-01 14:13] AlanGreene opened #598 "Update TaskRun(s) views for consistency with PipelineRun(s)"
# Expected Behavior
UI and URLs should be consistent across the dashboard experience.

# Actual Behavior
PipelineRun(s) and TaskRun(s) are presented in slightly different ways, the most obvious example being selecting a Task from the list view does not display a list of TaskRuns like we do for Pipelines/PipelineRuns, instead it displays a customised version of the details view showing multiple Tas

[2019-10-01 14:14] AlanGreene commented on #142
Issue to track remaining work for Tasks/TaskRuns: https://github.com/tektoncd/dashboard/issues/598

[2019-10-01 14:14] #142 closed

[2019-10-01 14:29] a-roberts commented on #528
Hmmmmm, so I've installed from source and did a `kubectl proxy` and I can see everything fine on my **laptop** using this Firefox 60 version

![image](https://user-images.githubusercontent.com/12814972/65970079-c33a9a80-e45d-11e9-906e-efdf9ddcc531.png)

Mac OS X 10.14.6.

I deployed the latest code onto my OpenShift 3.11 cluster too just now, added the security exception, logged in when prompted,

[2019-10-01 14:36] a-roberts commented on #528
With Firefox 60 I don't see the cookie being passed in with the request (we get back 2x set-cookie in the response), in 69 it is set.

@AlanGreene any thoughts? We experienced cookie fun before...

[2019-10-01 14:56] carlos-logro commented on #553
/assign

[2019-10-01 17:43] AlanGreene commented on #528
https://github.com/tektoncd/dashboard/pull/599 should fix this 🤞 Tested locally against your environment using a local proxy and it loads as expected.

[2019-10-01 19:49] carlos-logro commented on #553
manage to replicate the problem but up to now I haven't come up with a solution. This error message I believe is coming from Kubernetes when it couldn't process the values I gave. (In my case I added random values for both `pathToResourceFiles` & `apply-directory` ) Nowhere is the frontend nor backend this string or similar is being sent or initialized.

[2019-10-01 19:49] carlos-logro commented on #581
/assign

[2019-10-01 21:00] a-roberts commented on #528
![image](https://user-images.githubusercontent.com/12814972/66000182-ce5dec80-e496-11e9-861e-a80ad02bca31.png)

verified Alan's fix, merged so closing

[2019-10-01 21:00] #528 closed

[2019-10-02 06:55] a-roberts commented on #567
Merged so closing

[2019-10-02 06:55] #567 closed

[2019-10-02 08:33] a-roberts commented on #581
Merged so closing

[2019-10-02 08:33] #581 closed

[2019-10-02 08:49] a-roberts commented on #557
Fixed by the changes Carlos made while working https://github.com/tektoncd/dashboard/issues/559, closing (works by surfacing any error that we get back from the k8s client)

@Megan-Wright 😅

[2019-10-02 08:49] #557 closed

[2019-10-02 08:55] a-roberts commented on #559
Merged so closing

[2019-10-02 08:55] #559 closed

[2019-10-02 08:57] a-roberts commented on #553
Thanks for taking a look @carlos-logro, this doesn't have to be in the 0.2.0 release

There is at least some validation, e.g:

![image](https://user-images.githubusercontent.com/12814972/66031274-f848fa80-e4fa-11e9-8208-59351cc71440.png)

and it's not quite as bad as the lack of secret creation error reporting, so happy to punt on this

[2019-10-02 09:50] CarolynMabbott opened #603 "Modal does not clear on being displayed"
When i try and create a secret with a duplicate name it should show an error in the modal so therefore i can change the name in the modal

Also when i creating a secret and it fails when i go to create a new secret it keeps all of the information in the create secret modal

[2019-10-02 10:22] a-roberts commented on #603
The second part of this `and modal does not clear on being displayed` is a bug introduced by https://github.com/tektoncd/dashboard/pull/602, we should aim to fix this for 0.2.0

[2019-10-02 11:51] a-roberts commented on #593
As we never had this anyway and it's a case of garbage in garbage out, removing the milestone mention as we want to release 0.2.0 today

[2019-10-02 12:23] CarolynMabbott opened #607 "Create PipelineRun is broken"
Create PipelineRun is broken
Try to create a PipelineRun and the following error happens
Does not matter whether a service account is selected or what pipeline is selected

![Screenshot 2019-10-02 at 13.22.00.png](https://images.zenhubusercontent.com/5cfe69e3171db04ec3637b76/9f6c211e-bb7b-4ece-8b93-42ea15d50486)

[2019-10-02 14:05] a-roberts commented on #607
Merged so closing

[2019-10-02 14:05] #607 closed

[2019-10-02 14:59] carlos-logro commented on #549
/assign

[2019-10-02 15:07] a-roberts commented on #603
Will make a new issue for displaying secret creation errors to be in the modal, closing for the modal not being cleared on display issue (as that's merged)

[2019-10-02 15:07] #603 closed

[2019-10-02 15:09] a-roberts opened #611 "Secret creation errors should show in the modal"
# Expected Behavior
Display the notification on the modal so users can easily change values and try again

# Actual Behavior
The modal closes - it's often inconvenient to reinput data though, so why not display it on the form and suggest what went wrong (e.g. a failure creating it, so I might go on to choose a different namespace) - what's the standard practice?

# Steps to Reproduce the Problem

[2019-10-02 16:04] carlos-logro commented on #548
/assign

[2019-10-03 12:22] a-roberts commented on #570
Merged so closing

[2019-10-03 12:22] #570 closed

[2019-10-03 12:40] a-roberts opened #616 "OpenShift 3.11 route access no longer works for 0.2.0 (did on 0.1.1)"
# Expected Behavior
Should be able to access the Tekton Dashboard on 3.11 via the route

# Actual Behavior
Can't, application not ready error. Not seen with 0.1.1 yaml

# Steps to Reproduce the Problem

1.  Install 0.2.0: `kubectl apply -f https://github.com/tektoncd/dashboard/releases/download/v0.2.0/openshift-tekton-dashboard.yaml --validate=false`
2. Expose route:

[code]

3. Visit in browser a

[2019-10-03 13:59] a-roberts commented on #616
Works with 0.1.1 image byyyy the way, so the yaml's fine - looking at the Go/Node web serving code next

[2019-10-03 14:46] a-roberts commented on #616
Actually it's fine, I can access the route, so can @CarolynMabbott

[2019-10-03 14:46] #616 closed

[2019-10-03 14:52] a-roberts commented on #522
Readme updates in, all done

[2019-10-03 14:52] #522 closed

[2019-10-04 10:53] a-roberts commented on #22
We've done this, merged

[2019-10-04 10:53] #22 closed

[2019-10-04 10:55] a-roberts commented on #35
@skaegi I'm having a look through issues looking for ones we can close out/reprioritise etc, thoughts on closing this out and capturing new designs (like those posted above) as part of new issues that are more specific?

This was a really early days issue that we've done a great job on - we don't want this to be open forever though 😸

[2019-10-04 10:58] a-roberts commented on #38
@skaegi this is another one we may want to now close I think, so for posterity and anyone who finds this, we support all kinds of actions for resources through our Tekton Dashboard and the Webhooks Extension now, and for any new functionality those should be new issues I reckon

Users are encouraged to take a look at our DEVELOPMENT.md doc to see the APIs we offer (and referring to Simon's specifi

[2019-10-04 10:59] a-roberts commented on #116
We're doing fine without this, I'm gonna close as not a priority but if anyone wants to work this, please reopen and have a go at it

[2019-10-04 10:59] #116 closed

[2019-10-04 11:03] a-roberts commented on #223
Let's close this because it's for two separate issues (PipelineRuns and TaskRuns) (I'm going through issues doing a good cleanup).

We have the ability to filter PipelineRuns thanks to work from @jessm12 and I'm going to make one for filtering on TaskRuns, but Icebox that and if anyone wants to pick it up that'd be great but not a big priority for us currently.

[2019-10-04 11:03] #223 closed

[2019-10-04 11:04] a-roberts opened #618 "Filter TaskRuns by label"
# Expected Behavior
We should be able to filter TaskRuns by labels just like we can for PipelineRuns (see https://github.com/tektoncd/dashboard/issues/223 for background)

# Actual Behavior
We can't

[2019-10-04 11:09] a-roberts commented on #344
Closing this, we're moving to Triggers as per Vincent's comments in the original post and excellent contributions in that area, no point in leaving this open any more as we've come to a conclusion and there's nothing actionable really

For posterity, we plan that our 0.3.0 release of the Tekton Dashboard/Webhooks Extension will include usage of Triggers instead of our sink written in Go, and we wo

[2019-10-04 11:09] #344 closed

[2019-10-04 11:11] AlanGreene commented on #38
@a-roberts we're currently implementing some of this (dropdown on resources to cancel / delete runs for example) in https://github.com/tektoncd/dashboard/pull/613

[2019-10-04 11:12] a-roberts commented on #492
Agreed this would be of great use to us, I'm gonna put this in the icebox for now (in terms of priorities we're really focused on the move to use Triggers as well as things like Tekton Pipeline currency and our test story)

[2019-10-04 11:14] a-roberts commented on #539
I'm going to see if the fix I put in for https://github.com/tektoncd/dashboard/issues/567 resolves this as I modified the behaviour to use generateName

[2019-10-04 13:43] AlanGreene commented on #513
https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_dashboard/613/pull-tekton-dashboard-unit-tests/1180113917184053249/build-log.txt

[2019-10-04 14:15] a-roberts commented on #539
@maxveit hmm can you share the microprofile pipeline please, and let us know which version of the Tekton Dashboard/Webhooks Extension you used? FYI I published 0.2.0 of both y'day and maybe this helps you

[2019-10-04 16:34] kimholmes commented on #509
First pass at triggers.
**Questions:**

- Do we need create and delete on the main list view pages?
- For the detail pages, what parts are editable, if any?
- Do the trigger components have labels?
- Should the "code" tab exist? If so, should it be called anything except "code?"

### TriggerTemplate
main:
![trigger_template_main](https://media.github.ibm.com/user/9341/files/c1f9af80-e6a1-11e9-9451

[2019-10-04 17:56] carlos-logro commented on #549
/close

[2019-10-04 17:56] #549 closed

[2019-10-04 17:57] carlos-logro commented on #548
/close

[2019-10-04 17:57] #548 closed

[2019-10-04 19:52] AlanGreene commented on #618
Just spotted this, most of the work is covered by https://github.com/tektoncd/dashboard/issues/598

All that should be left is adding the filter UI, the actions, selectors, and URL should all be hooked up once that's delivered.

[2019-10-07 08:56] a-roberts opened #625 "Look into newly found DAP violations with Tekton Dashboard"
# Expected Behavior
There should be none

# Actual Behavior
I've ran the dynamic assessment plugin tool and noticed the findings I've attached here

# Steps to Reproduce the Problem

1. Run the latest Tekton Dashboard
2. I used the IBM DAP tool (any IBMer can access said tool and then launch the scan against the running website - apologies to non-IBMers, ping me if you want the account iD and toke

[2019-10-07 09:05] a-roberts commented on #524
Oddly enough this is now fixed (verified with a rescan using the DAP tool and using Voiceover - the namespace dropdown and its elements are now read out correctly), closing

[2019-10-07 09:05] #524 closed

[2019-10-07 12:23] steveodonovan opened #626 "Feature request: Add ability to delete PipelineRuns and TaskRuns"
# Expected Behavior

There should be an option to delete pipelineRuns and taskRuns from the target cluster

# Actual Behavior

there is not

[2019-10-07 12:24] steveodonovan commented on #626
/assign

[2019-10-07 13:24] #598 closed

[2019-10-07 14:20] kimholmes commented on #35
@AlanGreene @skaegi I think it's fine to close it but we do need to track this effort somewhere. I see it as having to pieces, the design spec and the dev issue. So, it could be divided into two new issues.

[2019-10-08 13:36] #618 closed

[2019-10-08 13:41] Megan-Wright commented on #498
/assign

[2019-10-08 14:17] Megan-Wright opened #630 "PipelineRun and TaskRun pages are completely broken"
Expected Behaviour:
The PipelineRun and TaskRun pages should be working as normal

Actual Behaviour:
I cannot access either of these pages - each appears blank in the browser and results in many console errors to do with react.
Steps to Reproduce the Problem:
1. Navigate to either of the PipelineRun or TaskRun panels in the dashboard.

Additional Info:
<img width="561" alt="Screenshot 2019-10-08 a

[2019-10-09 17:57] gpaul opened #635 "PipelineRuns page fails to load"
# Expected Behavior

The PipelineRuns page should load.

# Actual Behavior

I see a blank screen.

# Steps to Reproduce the Problem

1. Create a PipelineRun that has no .status.startTime, then load the Tekton Dashboard on the PipelineRuns page.

# Additional Info

I saw the following error message in the chrome debugger.
[code]

The PipelineRun we use has definition:
[code]

Presumably, it has bee

[2019-10-10 10:03] CarolynMabbott commented on #630
/assign

[2019-10-10 10:06] a-roberts commented on #635
Hey @gpaul, this should be fixed on master but unfortunately master's got a massive problem being worked under https://github.com/tektoncd/dashboard/issues/630, do you get this issue with the 0.2.0 release we recently published?

[2019-10-10 12:24] a-roberts commented on #550
Merged so closing

[2019-10-10 12:24] #550 closed

[2019-10-10 13:59] gpaul commented on #635
Oh! I haven't tried. I will have a look. Since this is a known issue that is already fixed I will go ahead and close this issue. Thanks for the hard work on this project.

[2019-10-10 13:59] #635 closed

[2019-10-10 14:16] #498 closed

[2019-10-10 14:48] carlos-logro commented on #553
/unassign

[2019-10-10 15:09] a-roberts commented on #320
Merged so closing

[2019-10-11 09:14] CarolynMabbott commented on #630
Updated to latest master
Ran:
`npm ci`
`npm run build_ko`
`ko apply -f config`

Proxied it / port forwarded it and there was no issue
Tried on multiple different machines and its fixed when the above it run

Appears to be a dependency issue as went away when running above commands

[2019-10-11 09:19] a-roberts commented on #630
Yeah, can't reproduce either: I could before `npm ci`ing and can't afterwards, closing 😅

[2019-10-11 09:19] #630 closed

[2019-10-11 13:05] CarolynMabbott commented on #469
/assign

[2019-10-14 15:12] carlos-logro opened #638 "PipelineRun component fatally errors if no name found during loadTaskRuns"
# Expected Behavior
Suppose to render either showing error or details of the PipelineRun

# Actual Behavior
Page broken completely.
Some logs show that the page had an error fetching the PipelineRun at the beginning but apparently it later succeeded although by that time the page was already broken.
<img width="1680" alt="Screen Shot 2019-10-14 at 11 08 20 AM" src="https://user-images.githubuserco

[2019-10-14 15:31] a-roberts opened #639 "Tekton Dashboard created secrets contain no data"
# Expected Behavior
Username and password should actually have requested data in them

# Actual Behavior
Uh oh

[code]

In our code I see metadata.name and metadata.password but surely it should be `data` setting

Don't see any differentiation between userpass/access token either

# Steps to Reproduce the Problem

1. Install the latest Tekton Dashboard and try to create a secret
2. Observe that th

[2019-10-14 15:43] a-roberts commented on #638
I've been in this code before when I was in rebuild and I added hardening as sometimes the fields weren't yet coming back over the websocket, may need the same kind of fix (if it's null, just render nothing for now - just for the name - then eventually we get the data over the websocket and the component can be fulfilled)

[2019-10-14 19:39] kimholmes commented on #509
Updates to screens per last review with dev team:
- For all detail pages, I changed the "code" tab to say "YAML." I also removed the edit button as these will be uneditable.
For **TriggersTemplate** I removed the word "value" from the table headers. Also, the PLR in the Resource Template table will not be inked.
![Trigger_template_detail2](https://user-images.githubusercontent.com/21316329/6677787

[2019-10-15 08:41] a-roberts commented on #639
Spoke with @CarolynMabbott about this, I'm gonna pick this up - I'm putting down the Triggers work as this is super important to do and Carolyn will share any progress she's already got (Carolyn and Megan are going to work on our super important knative/istio known good version story which we urgently need!)

[2019-10-15 09:26] a-roberts commented on #639
Base 64 encoding the input string (username and password) gives me a nice 200 back and my secret contains the expected data. I'll verify I can run a pipeline using my private GitHub and pushing to my Dockerhub before getting the PR in.

[2019-10-15 10:31] a-roberts commented on #513
Still seeing this after a month https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_dashboard/641/pull-tekton-dashboard-unit-tests/1184052369046900736/

[2019-10-15 13:47] a-roberts commented on #639
Merged so closing

[2019-10-15 13:47] #639 closed

[2019-10-15 13:59] carlos-logro commented on #513
/assign

[2019-10-15 14:22] ncskier commented on #509
Thanks for the updates @kimholmes! I think the updated TriggerTemplate page looks really good 👍

For the EventListeners list page, I like the addition of a Status column, but I'm not sure if we'll be able to use a checkmark icon as the value. Right now, the status just indicates that a pod is running, it does not indicate whether the latest build has been successful, or something like that (which

[2019-10-15 15:20] a-roberts commented on #638
Stuck behind https://github.com/tektoncd/experimental/issues/291 going for the reproduce on my alternative set up (OpenShift cluster, my Docker Desktop set is centred around Triggers so not compromising that as we're nearly done)

[2019-10-15 15:54] a-roberts commented on #638
^^ actually all is well using the latest build (ko applying) so it might be an issue with the nightly images and I was using simple pipeline insecure. I can work on this.

[2019-10-15 18:22] aadeshpa opened #644 "If the build step in tekton pipeline fails, tekton dashboard shows the push step as green"
# Expected Behavior

- When the `build-bud` step in kabanero pipeline fails due to some reason, the `build-push` step never runs from kabanero pipelines perspective.
And same should be seen on the Tekton-Dashboard with red mark for `build-bud` step and `build-push` step.

# Actual Behavior

- When the `build-bud` step is failing the the pipelinerun, still the Tekton-Dashboard is showing that `buil

[2019-10-16 21:06] sujeilyfonseca opened #646 "Codewind unable to access Tekton Dashboard and 403 seen on OpenShift"
**Codewind version:** 0.5.0
**OS:** Red Hat Enterprise Linux 7 (64 bit)

**Che version:** 7.2.0
**Kubernetes cluster:** OKD/Openshift

**Expected Behavior:**
Tekton Dashboard should appear when using its ingress domain. Codewind should detect it and provide its endpoint URL based on the yaml file provided.

<img width="1253" alt="Screen Shot 2019-10-16 at 5 03 00 PM" src="https://user-images.githu

[2019-10-17 10:16] a-roberts commented on #638
I've done five PipelineRuns triggered from a webhook with no problems - for a case where I didn't even create a secret.

![image](https://user-images.githubusercontent.com/12814972/67000091-13a52f80-f0cf-11e9-9498-7c5f8b60ab15.png)

I would prefer for the steps to be red and not green - the build step, for example, failed with:

[code]

but that's a different issue entirely, quite possibly https:/

[2019-10-17 10:40] a-roberts opened #647 "Unable to rebuild successful PipelineRuns citing `trigger` field"
# Expected Behavior
I should be able to rebuild PipelineRuns triggered by webhooks or importing (potentially impacts just CreatePipelineRun created runs too)

# Actual Behavior
[code]

![image](https://user-images.githubusercontent.com/12814972/67001967-c4f99480-f0d2-11e9-89cf-e375dd25b354.png)

`trigger`?!

Can't rebuild my PipelineRun from a successful import resources job either:

[code]

I'm o

[2019-10-17 10:52] a-roberts commented on #646
Hmm, so regarding:

This was seen in Firefox 60 ESR and we fixed it for the 0.2.0 release.

I logged in to my OpenShift cluster, applied the yaml (0.2.0) mentioned above, and I hit the route successfully fine for the Tekton Dashboard.

And see the Route correctly mentioned at
https://tekton-dashboard-tekton-pipelines.myip.com/v1/namespaces/tekton-pipelines/endpoints

with the value

[code]

I'm in

[2019-10-17 12:09] a-roberts commented on #638
@carlos-logro I'm going to park this one in favour of OpenShift 4.2 support work for now, I've pinged you asking for more details on a reproduce - lemme know please

[2019-10-17 12:33] a-roberts opened #648 "Provide known operator install for OpenShift 4.2"
This is required for an upcoming release of Kabanero, I'll work on this.

We want to be able to install all of our dependencies through operators on OpenShift 4.2.

[2019-10-17 13:31] sujeilyfonseca commented on #646
Thanks for your prompt response! I will provide additional details to explain the problems better.

**OpenShift instructions:**
https://github.com/tektoncd/dashboard/releases/download/v0.2.0/openshift-tekton-dashboard.yaml
https://github.com/tektoncd/dashboard/releases/download/v0.1.1/openshift-tekton-dashboard.yaml

V0.2.0 and V0.1.1: Using the YAML files for Openshift clusters, the Tekton Dashbo

[2019-10-17 13:34] Megan-Wright commented on #577
/assign

[2019-10-17 22:16] ncskier commented on #644
/assign

[2019-10-18 07:28] zgfh opened #650 "Feature request: display the duration of TaskRuns and PipelineRuns"
# Expected Behavior
we can see the time of taskrun and the time of piplinerun
# Actual Behavior
no time metrics
![image](https://user-images.githubusercontent.com/11729624/67074423-aa4f1a80-f1bb-11e9-9f79-a68f5c92b543.png)

[2019-10-18 10:57] CarolynMabbott commented on #469
This cant be done yet as it requires us to be on master of tekton pipelines or next release to get that change needed to have the resourceSpec in the pipelines yaml

[2019-10-18 10:57] CarolynMabbott commented on #469
/unassign

[2019-10-18 12:51] a-roberts commented on #469
@ncskier @mnuttall  FYI too, we should discuss whether we want these changes going into master or not - I personally think they should and our master should always work with master, but I'm wary about our upcoming release for Kabanero and I'd like us to get bug fixes in without needing to maintain multiple branches... hmm.

[2019-10-18 13:24] vtereso commented on #647
/assign

[2019-10-18 14:25] a-roberts commented on #577
Merged so closing

[2019-10-18 14:25] #577 closed

[2019-10-18 15:59] steveodonovan opened #652 "Add more detail to last transition time"
# Expected Behavior

for job which runs 1 h x minutes the x information should be displayed

# Actual Behavior

its not

[2019-10-18 15:59] steveodonovan commented on #652
/assign

[2019-10-18 18:21] vtereso commented on #647
I could not reproduce this. I rebuild both the `simple-pipeline` and the `simple-manual-pipeline` and both did not have an issues. Logs:
[code]

[2019-10-18 18:21] vtereso commented on #647
<img width="1381" alt="Screen Shot 2019-10-18 at 2 17 27 PM" src="https://user-images.githubusercontent.com/22847291/67118320-a23ead00-f1b2-11e9-9b83-e71742140f73.png">

[2019-10-18 19:22] ncskier commented on #644
I raised an issue (https://github.com/tektoncd/pipeline/issues/1439) in the Pipelines repo about potentially terminating steps with an `Error` instead of `Complete` when a previous step fails with an `Error`.

Also, PR https://github.com/tektoncd/dashboard/pull/653 fixes this in the Dashboard by hiding steps that follow an error.

[2019-10-18 22:31] kimholmes commented on #650
Does this represent the amount of time it takes for the PipelineRun or TaskRun to complete? Can you elaborate on why this is important for the user?

[2019-10-18 22:52] kimholmes commented on #611
@a-roberts There is a pattern for this in Carbon. Here is a screenshot. I can send you the link in Slack.
![form_notification](https://user-images.githubusercontent.com/21316329/67132890-57379080-f1d8-11e9-8d18-fa8d70bdc258.png)

[2019-10-18 22:55] kimholmes commented on #593
See my comment in this issue about form validation. If you're using Carbon, you should get this function for free:
https://github.com/tektoncd/dashboard/issues/611

[2019-10-18 23:16] kimholmes commented on #505
FYI - This is the latest version of this screen:
![6  Secrets_Finish](https://user-images.githubusercontent.com/21316329/67133641-c5ca1d80-f1db-11e9-8740-408305655db2.png)

[2019-10-18 23:33] kimholmes commented on #488
@AlanGreene Alan, we should keep this in mind for the new diagram design work. Sounds like it will contain to this new design as well.
<img width="301" alt="image" src="https://user-images.githubusercontent.com/21316329/67134080-2195a600-f1de-11e9-91a5-d043a0d202a4.png">

[2019-10-21 03:22] zgfh commented on #650
@kimholmes  yes, you can see the jenkins and argo, it is very important when you want to optimize build time , or find which task slow down the progress of pipline
 

 

[2019-10-21 09:50] Megan-Wright opened #655 "Tooltip to stop a PipelineRun should say 'stop' instead of 'cancel' to avoid confusion"
Currently on the tooltip for a PipelineRun the options available are 'Cancel' and 'Delete'. If you click cancel, the modal displayed asks of you want to stop the current PipelineRun, which seems confusing as the options on the modal are then 'Cancel' or 'Stop PipelineRun'. Therefore the tooltip should be changed to say stop, for consistency.

Steps to Recreate the Issue:
1. Create a PipelineRun
2.

[2019-10-21 09:50] Megan-Wright commented on #655
/assign

[2019-10-21 10:07] Megan-Wright commented on #506
/assign

[2019-10-21 12:32] AlanGreene commented on #650
We don't currently display total times for PipelineRuns / TaskRuns, but I agree it would be useful to display these somewhere.

If you view the details of a PipelineRun / TaskRun and click on the status tab for a specific step of interest you can see the startedAt and finishedAt timestamps.

![image](https://user-images.githubusercontent.com/2829095/67203933-48cdbc80-f404-11e9-8fba-359e67d3852b.pn

[2019-10-21 15:00] a-roberts commented on #648
I have everything working

1) webhooks-route not needed
2) configmap already set (cool)
3) no need for those oc router things
4) member roll super important

Added install script (todo actually install the operators instead of having users to do it through UI?) at my repo

[2019-10-21 15:45] a-roberts commented on #648
I'll work on formalising my notes and adding an installation on OpenShift 4.2 docs next into our main repository.

[2019-10-22 09:56] a-roberts commented on #648
There's a problem here actually, I can't get PipelineRuns created from the (working) webhooks

[code]

The same 13 second mutation problem occurs when I apply the OpenShift install yaml with the monitor task in too. I'll investigate.

@akihikokuroda FYI, I know you've mentioned this mutation thing before and it's why we had to change something to accomodate for OpenShift.

@mnuttall FYI too.

[2019-10-22 14:41] a-roberts commented on #655
Merged so closing

[2019-10-22 14:41] #655 closed

[2019-10-22 14:41] a-roberts commented on #647
Cheers Vincent, gonna close this one then and I see you've used this to give the pipeline hotel a cleanup, thanks

[2019-10-22 14:41] #647 closed

[2019-10-22 14:43] a-roberts commented on #638
This remains parked so I'm officially unassigning myself, plenty of juicy info here though should anyone wish to take over (I'm swamped with OpenShift 4.2 work for an imminent release and it's proving challenging), I'll top of the backlog it too

[2019-10-22 15:08] carlos-logro commented on #638
@a-roberts im pretty sure after the PR I have open is merged the issue will be fixed.

[2019-10-22 15:35] a-roberts commented on #648
I no longer get the above issues on a new OpenShift 4.2 install.

Import resources doesn't work now though.

![image](https://user-images.githubusercontent.com/12814972/67303136-ebac3680-f4e9-11e9-97d7-dff319452b8a.png)

pod logs:

[code]

[2019-10-23 05:26] zgfh commented on #650
@AlanGreene thanks for help

[2019-10-23 12:17] a-roberts opened #662 "Feature request: run Task/Pipeline on certain node"
See https://github.com/tektoncd/pipeline/issues/1454 - a Tekton Pipelines user has asked if it's possible to do so through Tekton Pipelines themselves - the answer is yes

We offer a "create PipelineRun" page, and so it makes sense to enable this

https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#pod-template for TaskRun (we don't have a create TaskRun page) and https://github.com/

[2019-10-23 13:25] a-roberts commented on #593
Merged so closing

[2019-10-23 13:25] #593 closed

[2019-10-23 14:57] a-roberts commented on #646
@CarolynMabbott is going to take a look at this

[2019-10-23 15:03] CarolynMabbott commented on #646
@sujeilyfonseca Are you still getting the same problem above when using codewind?
 Have you tried using the latest release for both?

[2019-10-23 16:00] sujeilyfonseca commented on #646
Yes, I used the latest version for both: Codewind 0.5.0 and Tekton Dashboard v0.2.0

[2019-10-24 09:27] CarolynMabbott commented on #625
/assign

[2019-10-24 09:37] a-roberts commented on #539
This shouldn't happen now with the new generateName before delivered, if it's still seen with the 0.2.0 code or above please reopen this and thanks for the report

[2019-10-24 09:37] #539 closed

[2019-10-24 12:38] a-roberts commented on #648
A colleague (Tim) noticed the above problem occurs when the member roll mentions the install namespace we use for Tekton. Changed it and in my install script.

Now hitting RBAC problems using the `kabanero` namespace, e.g.

[code]

Possible that when we updated to use the proxy API for more resources, we didn't test this in OpenShift, so I'll have a look.

[2019-10-24 14:04] a-roberts commented on #648
Above was fixed by killing my pod, now I've got a green webhook, imported buildah pipeline and resources from our hotel, and I'll be testing created PipelineRuns next. I'm gonna push to my Docker registry for now and then look into pushing to the RedHat registry.

[2019-10-24 14:21] a-roberts commented on #648
![image](https://user-images.githubusercontent.com/12814972/67494882-e679f380-f671-11e9-84cd-bd5e39f55ddb.png)

hurray, so the next step is to get this all documented and prove I can push to the RedHat local Docker registry.

[2019-10-24 14:43] #644 closed

[2019-10-24 16:31] a-roberts opened #664 "Publish 0.2.1 Tekton Dashboard and Webhooks Extension release"
A few important fixes we need

1: Tekton Condition getting (RBAC) in dashboard yaml
2: PullRequest monitor task in extension yaml

Any other fixes picked up along the way are most welcome!

This will be our OpenShift 4.2 release, I've tested and verified everything works with a buildah task and we need to do a lot less at install time actually.

For background see https://github.com/tektoncd/dashb

[2019-10-24 16:32] a-roberts commented on #648
Docs https://github.com/tektoncd/dashboard/issues/648 not to be merged yet until we have a 0.2.1. release

[2019-10-24 16:38] mnuttall commented on #664
We also need some documentation about 'if you want to use buildah and OpenShift 4.2 and push to the internal registry then this is what you need to know'.

[2019-10-24 17:44] carlos-logro commented on #638
/assign

[2019-10-25 08:43] a-roberts commented on #664
This is on ice until we have all the fixes and features in that we would like.

Once this is done we can merge https://github.com/tektoncd/experimental/pull/306

[2019-10-25 12:54] CarolynMabbott commented on #625
https://github.com/carbon-design-system/carbon/issues/4461

Issue made as cant add aria-labels required for DAP violations

[2019-10-25 13:25] a-roberts commented on #646
Having a look too, wanting to cut the 0.2.1 release soon so checking there's anything we need to do on our side. Have a new 3.11 cluster to use.

[2019-10-25 13:35] ncskier commented on #323
/assign

[2019-10-25 13:42] carlos-logro commented on #513
/unassign after debug logs were merged, not closing just in case it the test keep flaking

[2019-10-25 13:42] carlos-logro commented on #513
/unassign
after debug logs were merged, not closing just in case it the test keep flaking

[2019-10-25 15:44] a-roberts commented on #646
https://github.com/eclipse/codewind-che-plugin/blob/24e9d471ea75f7e61c11746bc6b7c0cd312381fe/setup/install_che/codewind-tektonrole.yaml is looking pretty bare, @tetchels kindly helped by showing us and allowing us to use his cluster running Che and Codewind and we see the error:

[code]

Definitely a Codewind issue and not to do with our install (our serviceaccount/role/binding etc isn't in use, a

[2019-10-25 15:44] #646 closed

[2019-10-25 16:03] a-roberts commented on #513
We've not seen it in ages so I reckon we're good to close this, cheers @carlos-logro

[2019-10-25 16:03] #513 closed

[2019-10-25 21:13] ncskier opened #665 "Setup API, actions, and reducers to get Triggers resources"
This work is under epic https://github.com/tektoncd/dashboard/issues/509

Setup the API, actions, and reducers in the Dashboard to retrieve Triggers resources (`TriggerTemplate`, `TriggerBinding`, and `EventListener`) from the [proxy API](https://github.com/tektoncd/dashboard/blob/master/src/api/index.js#L84). Read the following specifications for more info about the API, actions, and reducers.

#

[2019-10-25 21:14] ncskier opened #666 "TriggerTemplates table paneling first pass"
This work is under epic https://github.com/tektoncd/dashboard/issues/509

# Expected Behavior
I expect to be able to view all of the [TriggerTemplate](https://github.com/tektoncd/triggers/blob/master/docs/triggertemplates.md) resources as a table in the Dashboard.

The columns of the table must include the following information about each TriggerTemplate:
- Name
- Namespace

Here is the latest wir

[2019-10-25 21:14] ncskier opened #667 "TriggerBindings table paneling first pass"
This work is under epic https://github.com/tektoncd/dashboard/issues/509

# Expected Behavior
I expect to be able to view all of the [TriggerBinding](https://github.com/tektoncd/triggers/blob/master/docs/triggerbindings.md) resources as a table in the Dashboard.

The columns of the table must include the following information about each TriggerBinding:
- Name
- Namespace

Here is the latest wirefr

[2019-10-25 21:16] ncskier opened #668 "EventListener table paneling first pass"
This work is under epic https://github.com/tektoncd/dashboard/issues/509

# Expected Behavior
I expect to be able to view all of the [EventListener](https://github.com/tektoncd/triggers/blob/master/docs/eventlisteners.md) resources as a table in the Dashboard.

The columns of the table must include the following information about each EventListener:
- Name
- ServiceAccount
- Namespace

Here is the

[2019-10-25 21:17] ncskier opened #669 "TriggerTemplate details paneling first pass"
This work is under epic https://github.com/tektoncd/dashboard/issues/509

# Expected Behavior
I expect to be able to view the details of a [TriggerTemplate](https://github.com/tektoncd/triggers/blob/master/docs/triggertemplates.md) resource in the Dashboard.

This panel should have two [tabs](https://www.carbondesignsystem.com/components/tabs/code/), `Details` and `YAML`.
### YAML view
The `YAML`

[2019-10-25 21:17] ncskier opened #670 "TriggerBinding details paneling first pass"
This work is under epic https://github.com/tektoncd/dashboard/issues/509

# Expected Behavior
I expect to be able to view the details of a [TriggerBinding](https://github.com/tektoncd/triggers/blob/master/docs/triggerbindings.md) resource in the Dashboard.

This panel should have two [tabs](https://www.carbondesignsystem.com/components/tabs/code/), `Details` and `YAML`.
### YAML view
The `YAML` vi

[2019-10-25 21:18] ncskier opened #671 "EventListener details paneling first pass"
This work is under epic https://github.com/tektoncd/dashboard/issues/509

# Expected Behavior
I expect to be able to view the details of an [EventListener](https://github.com/tektoncd/triggers/blob/master/docs/eventlisteners.md) resource in the Dashboard.

This panel should have two [tabs](https://www.carbondesignsystem.com/components/tabs/code/), `Details` and `YAML`.
### YAML view
The `YAML` vie

[2019-10-25 21:31] ncskier opened #672 "Navigation to Triggers resource panels"
This work is under epic #509

# Expected Behavior
I expect there to be links in the left navigation menu that will take me to each Triggers resource page ([`TriggerTemplate`](https://github.com/tektoncd/dashboard/issues/666), [`TriggerBinding`](https://github.com/tektoncd/dashboard/issues/667), and [`EventListener`](https://github.com/tektoncd/dashboard/issues/668)).

Here is the latest wireframe

[2019-10-28 09:06] #446 closed

[2019-10-28 11:55] Megan-Wright opened #673 "Multiple secrets patched to the same service account cannot be deleted at the same time"
Expected Behaviour:
I should be able to delete multiple secrets that are patched to the service account at the same time.

Actual Behaviour:
When trying to delete any more than one secret patched to one service account, only the first secret will be unpatched successfully. All secrets will disappear from the UI, as well as physically being deleted from their respective namespaces, however an error

[2019-10-28 13:16] a-roberts commented on #673
Important code

https://github.com/tektoncd/dashboard/blob/299a77c830daeb5c6f27e4cdfa03675676eaee27/src/api/index.js#L337

Note that in the test script @dibbles has that involves creating and deleting secrets for serviceaccounts, there's a while loop involving `continue` (in bash). My guess is that as we're forced to remove by index for the unpatch operation, our index is no longer what we think i

[2019-10-28 13:36] vtereso commented on #246
We should be able to close this one out? @ncskier @a-roberts

[2019-10-28 13:40] a-roberts commented on #246
Yeah let's do that

[2019-10-28 13:40] #246 closed

[2019-10-28 15:53] kimholmes opened #675 "UI Design Epic and PipelineRun Interactive Diagram Implementation"
# Expected Behavior
- A user of the Tekton Dashboard needs to find what's failed in his PipelineRun at a glance.
- A user of the Tekton Dashboard needs to drill into a failed step and quickly access the log file that corresponds to the failed attempted.
![PLRdiagram1sm](https://user-images.githubusercontent.com/21316329/67706212-c0649400-f98e-11e9-88cc-e304fb4caa5c.png)

# Actual Behavior
![Tek_Di

[2019-10-28 17:49] kimholmes commented on #675
View the high fidelity mockups at the following git links. Click on object to view associated specs:
### **PipelineRun Diagram View "Closed"**
https://kimholmes.github.io/Exported-Specs/PipelineTopology_Closed/
![PLRdiagram1](https://user-images.githubusercontent.com/21316329/67696702-b5553800-f97d-11e9-866b-97655e5f2ba9.png)

### **PipelineRun Diagram View "Open" - Node Selected**
https://kimholm

[2019-10-28 18:16] kimholmes commented on #675
### **Hover states:**
![PLR_DiagramHover](https://user-images.githubusercontent.com/21316329/67704251-218a6880-f98b-11e9-8fb2-5872dcf2f9f6.png)

### **Node selection:**
![PLR_DiagramNodeSelection](https://user-images.githubusercontent.com/21316329/67704505-9e1d4700-f98b-11e9-91fe-09dc95282773.png)

### **Accordion selection:**
![PLR_DiagramAccordionSelection](https://user-images.githubusercontent.

[2019-10-28 18:21] kimholmes commented on #675
@AlanGreene

[2019-10-29 09:02] mnuttall commented on #572
I'm not sure what's possible here - use this to investigate whether initialisation errors can be reliably detected, and meaningful messages extracted.

[2019-10-29 09:37] a-roberts commented on #673
Working on the fix now, @CarolynMabbott to work on the tests

My plan is to gather the SA names the secret's in use for, gather the index of the secret name, then remove from the end of the array iterating towards the beginning to prevent index change problems.

[2019-10-29 13:58] a-roberts commented on #673
PR https://github.com/tektoncd/dashboard/pull/678

[2019-10-29 16:54] a-roberts commented on #664
Last PR to go in is https://github.com/tektoncd/dashboard/pull/678

[2019-10-29 20:15] carlos-logro commented on #543
/assign

[2019-10-30 02:01] kimholmes commented on #509
A question for above about the possibility of listing a table for each Trigger on the EventListener detail page. How many Triggers might appear here? Need to figure out if it might be too many to fit into the UI, in which case we'll need to alter that design.

[2019-10-30 09:57] CarolynMabbott opened #679 "Error message doesn't go away on secrets page"
Error message doesnt go away on secrets page even after creating a valid secret

[2019-10-30 10:12] CarolynMabbott opened #680 "Websocket keeps failing for unknown reasons"
The websocket keeps failing and causing errors such as not refreshing the page / updating secrets page when deleting and adding secrets

This happenned when was using npm start / port forward

Scrrenshot below of the errors shown in the console (Not related to the uncaught in promise as this error happened constantly even when just refreshing a page):
![Screenshot 2019-10-29 at 16.27.25.png](https

[2019-10-30 14:14] CarolynMabbott commented on #679
/assign

[2019-10-30 17:23] a-roberts opened #681 "Follow up with unpatching of service accounts: add tests (unit & integration)"
Had to reduce test coverage to get https://github.com/tektoncd/dashboard/pull/678 in

Under this item add tests for unpatching service accounts and checking secrets are removed including across namespaces

In terms of unit tests, see:
comms.test.js
index.test.js
(get coverage back up to 90+, sitting at 89.9 atm)

In terms of integration tests:
create multiple secrets patched to multiple service ac

[2019-10-30 17:53] a-roberts opened #682 "TestExtensionRegistration still (still) flaky (again (again (again)))"
See https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_dashboard/678/pull-tekton-dashboard-unit-tests/1189597155866710018/

There are lots of related issues and @carlos-logro added debug info so have a look and see if we can fix it last 😄

[code]

[2019-10-31 10:07] a-roberts commented on #648
Merged so closing, 0.2.1 release will have the docs in for known install

[2019-10-31 10:48] CarolynMabbott commented on #681
/assign

[2019-10-31 14:39] carlos-logro commented on #638
My PR has been merged and thus unassigning myself.
/unassign

[2019-10-31 16:19] Megan-Wright opened #684 "Webhook names cannot contain "0""
Expected Behaviour:
I should be able to create a webhook with "0" in it's name.

Actual Behaviour:
This is not possible with the current name valiation

[2019-10-31 16:19] #684 closed

[2019-10-31 16:52] Megan-Wright commented on #611
/assign

[2019-11-01 10:08] a-roberts commented on #664
@mnuttall's picked this up as my Kubernetes clusters were all screwed

Concretely I saw

[code]

and the issue was, my /etc/hosts file wasn't permission 644'd

[code]

^^ after making this change all is well. So if anyone has a naff cluster and they google that error, enjoy

[2019-11-01 10:24] a-roberts commented on #543
Merge in progress so closing

[2019-11-01 10:24] #543 closed

[2019-11-01 11:47] a-roberts commented on #665
PR https://github.com/tektoncd/dashboard/pull/686

[2019-11-01 11:50] a-roberts commented on #509
PR for the API added that the panelling can leverage created 🎉

[2019-11-01 14:30] mii-w commented on #509
/assign

[2019-11-01 14:30] mii-w commented on #509
/assign

[2019-11-01 14:34] a-roberts opened #688 "Update Tekton Dashboard to work with 0.8 Tekton Pipeline"
We've blown up before (see: fatally erroring when loading the PipelineRun page) when `conditionals` were introduced.

@dibbles is working on Triggers for our 0.3.0 release and we'd like to make that our 0.8.0 Pipelines release too.

Check we don't break with any new Pipeline features 😄

See https://github.com/tektoncd/dashboard/pull/649 for background.

See https://github.com/tektoncd/pipeline/rel

[2019-11-01 15:07] mii-w commented on #668
/assign

[2019-11-01 15:10] mii-w commented on #668
<img width="737" alt="Screen Shot 2019-11-01 at 11 07 23 AM" src="https://user-images.githubusercontent.com/51759906/68034330-da0c2100-fc97-11e9-9c1d-bba3c2da7f64.png">

opened left nav
<img width="737" alt="Screen Shot 2019-11-01 at 11 10 26 AM" src="https://user-images.githubusercontent.com/51759906/68034561-3f601200-fc98-11e9-92d6-b09a6f956f5c.png">

[2019-11-01 15:11] mii-w commented on #671
/assign

[2019-11-01 15:31] carlos-logro commented on #666
/assign

[2019-11-01 16:14] AlanGreene opened #689 "Allow status reason strings to be translated"
# Expected Behavior
Status reasons displayed in the dashboard should be translatable.

![image](https://user-images.githubusercontent.com/2829095/68039793-ccb95b80-fcc4-11e9-9e1c-a4e9790669bf.png)

# Actual Behavior
The values from the status.reason are displayed directly in some locations.

- [x] StepDetailsHeader statusLabel: https://github.com/tektoncd/dashboard/blob/9f7aa92db399fd33ea83a04aa59

[2019-11-01 16:16] a-roberts commented on #447
https://github.com/tektoncd/dashboard/pull/686

still flaky, backlogging and raising priority

[2019-11-01 16:32] a-roberts commented on #447
See https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_dashboard/686/pull-tekton-dashboard-integration-tests/1190301420809621504/, happening all the time now

[code]

Under this task check out what our integration tests do, what the requests are and why they're being rejected (likely over the proxy api hence the useless message we get back - usually indicating garbage inpu

[2019-11-01 16:39] a-roberts commented on #447
[code]

Also see this

[2019-11-01 17:01] a-roberts commented on #447
Test run that may be of use to whoever picks it up properly (https://github.com/tektoncd/dashboard/pull/690, checking if yq/yq.v2 is available)

[2019-11-01 17:06] CarolynMabbott commented on #681
So far attempts are located here: https://github.com/CarolynMabbott/dashboard/tree/testAttempts

One thing that should be done soon is remove my old unused code from comms.js
Line 117 - 125 function patchRemoveSercretBody
Line 136 - 143 function patchRemoveSecret

[2019-11-01 18:26] a-roberts commented on #447
My yq change fixed nothing, very cool with anyone else picking this up

[2019-11-04 10:41] anxinyf opened #692 "Dashboard doesn't have authentication"
# Expected Behavior
Tekton dashboard maybe need authentication.

# Actual Behavior
Dashboard doesn't have authentication. In this case, anyone who knows ingress hosts name of dashboard can create tekton resources without authentication. It's not safe.

# Steps to Reproduce the Problems

1. I create an ingress for dashboard(include "hosts").
2. Sign in on browser with ingress hosts name, but there'

[2019-11-04 11:36] a-roberts commented on #664
Done, thanks @mnuttall for running with this in my time of dead clusters 🍈

[2019-11-04 11:36] #664 closed

[2019-11-04 11:36] a-roberts commented on #447
[code]

I've added a label to the PipelineRun that's failing and I see this ^^ so looking at our pipeline commands now.

[2019-11-04 11:45] AlanGreene commented on #689
We may not want to translate these, and essentially treat them as user data, or we may want to translate the most common values and fall back to the value from the resource for others.

Leaving this open for discussion.

[2019-11-04 14:17] a-roberts commented on #447
Merged and fixed so closing, see https://github.com/tektoncd/dashboard/pull/690

[2019-11-04 14:17] #447 closed

[2019-11-04 15:15] a-roberts commented on #665
Merged so closing, floodgates open

[2019-11-04 15:15] #665 closed

[2019-11-04 16:15] a-roberts commented on #688
I'll take a look at this one, first step will be to create an advanced enough Pipeline/Task to try and display the output of.

[2019-11-04 17:06] a-roberts commented on #688
It does blow up

![image](https://user-images.githubusercontent.com/12814972/68140969-99750780-ff24-11e9-92af-fb60995f573c.png)

My Tekton resources are https://github.com/a-roberts/pipeline-08-example.git

So whoever picks this up, import resources from my repository using the Tekton Dashboard, isolate what fails and look for `pipelineName` references

For convenience I did a simple `npm run star

[2019-11-04 20:21] alan-ghelardi opened #693 "Dashboard breaks when trying to access pipeline/task runs"
# Expected Behavior
The dashboard shows the pipeline/task run in question when I click over it.
# Actual Behavior
When I run a pipeline via Triggers or creating it directly via the Dashboard and click over it or over one of its task runs, an empty page is displayed. By looking at the Javascript console, I saw the following error:
[code]
The Dashboard's logs show the following entries:
[code]

# St

[2019-11-05 09:37] a-roberts commented on #693
Reproduced this OK with the following as small as possible set up:

[code]

Using Tekton 0.7 (0.8 isn't yet supported), clicking the Pipeline and Task info itself is fine (so yet to do a run).

- Created a manual PipelineRun
- Namespace tekton-pipelines (my install namespace for the Tekton Dashboard too)
- Pipeline is clj-lib
- Resource is dummy-clj-lib
- Service account is tekton-dashboard
- Time

[2019-11-05 09:57] a-roberts commented on #638
Closing due to the PR being in and we reckon this is fixed

[2019-11-05 09:57] #638 closed

[2019-11-05 10:07] a-roberts commented on #378
Strategy's in place insofar as when we npm ci, if there are any module vulnerabilities we'll npm audit fix and then do a push, there's nothing actionable here now that I want to take so I'm closing this.

[2019-11-05 10:07] #378 closed

[2019-11-05 10:13] a-roberts commented on #553
Can't reproduce this any more - tried with the following

1) invalid inputs as Carlos suggested
2) selecting a Git PipelineResource then deleting it using the command line, then clicking to Create - we get an error instead

[code]

I've noticed we get back that 404 error when the proxy when there's invalid data, but in this case I can't get it to occur from this page.

If we're going to look into

[2019-11-05 10:13] #553 closed

[2019-11-05 10:15] a-roberts commented on #692
Hey @anxinyf, good points - If you're using OpenShift we use the oauth-proxy container so you'll have to log in first to get to the Tekton Dashboard's route (using OIDC - so the same login details as for your OpenShift cluster)

The only other environment we're really known to work on is Docker Desktop which of course is only for development purposes.

So we do have authentication but only if you'

[2019-11-05 10:21] tomhau01 commented on #692
+1 on this one! At least having admin and read-only users would be a great start, thats blocking us from deploying dashboard. OIDC and different roles even better :)

[2019-11-05 10:45] a-roberts commented on #679
PR https://github.com/tektoncd/dashboard/pull/697

[2019-11-05 10:52] a-roberts commented on #682
I see, so perhaps we need to add waits inbetween each?

[code]

These must be "fire and forget" calls insofar as they're not registered on the (fake...) Kube API server yet.

[2019-11-05 11:23] a-roberts commented on #518
Not a priority so this is going in the icebox

[2019-11-05 13:04] a-roberts commented on #693
Fix is merged into master now so closing

[2019-11-05 13:04] #693 closed

[2019-11-05 15:38] mii-w commented on #509
Trigger Template
![Screen Shot 2019-11-05 at 10 03 05 AM](https://user-images.githubusercontent.com/51759906/68222066-6c723480-ffb8-11e9-8385-2a9fdd87f399.png)
![Screen Shot 2019-11-05 at 10 03 11 AM](https://user-images.githubusercontent.com/51759906/68222076-6da36180-ffb8-11e9-9828-857076753a27.png)
![Screen Shot 2019-11-05 at 10 33 40 AM](https://user-images.githubusercontent.com/51759906/68222

[2019-11-05 15:40] mii-w commented on #667
![Screen Shot 2019-11-05 at 10 01 57 AM](https://user-images.githubusercontent.com/51759906/68222211-a80cfe80-ffb8-11e9-8b9d-0e61d22f2ecb.png)
![Screen Shot 2019-11-05 at 10 02 03 AM](https://user-images.githubusercontent.com/51759906/68222221-ab07ef00-ffb8-11e9-8887-41cd114cb182.png)

[2019-11-05 15:42] mii-w commented on #669
![Screen Shot 2019-11-05 at 10 33 40 AM](https://user-images.githubusercontent.com/51759906/68222332-d7bc0680-ffb8-11e9-95b4-987125f5b82f.png)
![Screen Shot 2019-11-05 at 10 33 45 AM](https://user-images.githubusercontent.com/51759906/68222334-d985ca00-ffb8-11e9-90ca-f9985b5c31b4.png)
![Screen Shot 2019-11-05 at 10 41 56 AM](https://user-images.githubusercontent.com/51759906/68222372-e99da980-ffb8

[2019-11-05 15:43] mii-w commented on #670
/assign

[2019-11-05 15:43] mii-w commented on #670
![Screen Shot 2019-11-05 at 10 02 09 AM](https://user-images.githubusercontent.com/51759906/68222479-10f47680-ffb9-11e9-8f71-0bdd869a4384.png)
![Screen Shot 2019-11-05 at 10 44 08 AM](https://user-images.githubusercontent.com/51759906/68222613-4305d880-ffb9-11e9-8e30-0eb8b2b8cad1.png)

[2019-11-05 15:46] mii-w commented on #671
![Screen Shot 2019-11-05 at 10 45 47 AM](https://user-images.githubusercontent.com/51759906/68222725-76e0fe00-ffb9-11e9-9ab9-875c4ea691ff.png)
![Screen Shot 2019-11-05 at 10 45 47 AM](https://user-images.githubusercontent.com/51759906/68222728-78122b00-ffb9-11e9-8a14-bea5a4692073.png)
![Screen Shot 2019-11-05 at 10 45 52 AM](https://user-images.githubusercontent.com/51759906/68222736-79dbee80-ffb9

[2019-11-05 15:46] mii-w commented on #672
I think it makes more sense to have Trigger Resources grouped together under the Tekton Resources category
![Screen Shot 2019-11-05 at 10 46 45 AM](https://user-images.githubusercontent.com/51759906/68222798-9415cc80-ffb9-11e9-8181-830a23de57c2.png)

[2019-11-05 16:25] a-roberts commented on #679
Superseded by Megan's work so closing

[2019-11-05 16:25] #679 closed

[2019-11-05 17:07] mii-w commented on #672
Because Triggers and Webhooks will work together - grouped together
<img width="241" alt="Screen Shot 2019-11-05 at 12 06 42 PM" src="https://user-images.githubusercontent.com/51759906/68229215-d690d680-ffc4-11e9-9595-67b725f39f4c.png">

[2019-11-07 13:33] tomfrenken opened #704 "Secrets created through the dashboard made with no username/password data (0.2.1 release)"
# Expected Behavior
When I create a `secret` the `data` field shouldn't be empty.
# Actual Behavior
The `username` and `password` both have no value.

# Steps to Reproduce the Problem

1. Create secret through Dashboard
2. `kubectl secret/<secret-name> -o yaml`

# Additional Info
I already tried different browsers, incognito mode, reapplying the latest release, different service accounts and passw

[2019-11-07 13:36] a-roberts commented on #704
I had a look at this with Tom and couldn't reproduce this, we had a look in the inspector on Chrome and noticed our request to the proxy contained no username or password data.

Interestingly the server URL can be modified.

Interesting code is here https://github.com/tektoncd/dashboard/blob/master/src/components/SecretsModal/BasicAuthFields.js

[2019-11-07 15:55] AlanGreene commented on #580
Does https://github.com/tektoncd/pipeline/issues/1439 have any impact on this?

[2019-11-07 16:00] AlanGreene commented on #572
We added code to handle some init error cases for https://github.com/tektoncd/dashboard/issues/200
This may need to be updated to include additional classes of error that aren't currently handled.

[2019-11-07 16:04] AlanGreene commented on #569
Updated designs remove the namespace dropdown on the details pages and only surface it on the lists where it currently behaves as expected.

[2019-11-07 16:09] AlanGreene commented on #452
This is already done for the PipelineRun and child components. Closing for now. We can reopen / create new issue if other instances found that need to be updated.

[2019-11-07 16:09] #452 closed

[2019-11-07 16:39] AlanGreene opened #708 "Remove src/components"
# Expected Behavior
All pure UI components should live in `packages/components` so they get published as part of the @tektoncd/dashboard-components package

# Actual Behavior
Some components remaining in `src/components`:
- [ ] App - styles only
- [ ] CreatePipelineResource
  - [ ] GitResourceFields
  - [ ] UniversalFields
- [ ] CreateSecret
  - [ ] Form/*.js
  - [ ] styles
  - [ ] ServiceAccountS

[2019-11-07 17:21] alan-ghelardi opened #709 "Dashboard doesn't show details/logs of runs if no step names are provided"
# Expected Behavior
I can view logs of task runs associated to pipeline runs.

# Actual Behavior
Dashboard renders an anchor "Not run" for each completed task run related to a pipeline run.
# Steps to Reproduce the Problem

1. Install the files attached.
2. Create a pipeline run.
3. Click on the pipeline run created above.

# Additional Info
I can describe the resources associated to the pipeline

[2019-11-07 23:42] alan-ghelardi commented on #709
I've realized that the issue is related to the absence of names on my steps. After assigning names to all steps, the dashboard rendered them successfully.

[2019-11-08 09:42] a-roberts commented on #709
Excellent, I'm going to rename this issue then accordingly and it can be picked up as a feature to support - perhaps we say as the step name (if it's not set) - Step 1, 2, 3, 4, etc.

[2019-11-08 12:19] alan-ghelardi commented on #709
Looks good to me since the schema doesn't enforce us to provide step names. Thank you so much.

[2019-11-08 17:28] rnapoles-tktn opened #711 "Selecting a value from a drop-down field when using the keyboard is not user friendly"
Problem:
If I want to select a value from a drop-down field (namespace, service account) using the keyboard I have to press the down key many times. This is bad for accessibility.

Expected behavior:
Type the first letter of the namespace to jump to the first namesapce starting with that letter. Even better if I can type more than one letter to get as close as possible to the desired value.

Steps

[2019-11-08 18:31] AlanGreene commented on #711
This should be a relatively simple change to make, by switching the underlying component used by our TooltipDropdown from Carbon's Dropdown to [ComboBox](http://react.carbondesignsystem.com/?path=/story/combobox--default) and mapping its `label` prop to the ComboBox's `placeholder` prop. There may be some other minor tweaks required but that should cover most of it.

[2019-11-08 18:47] rnapoles-tktn opened #712 "Some field name captions are followed by colon"
Problem:
Some field name captions are followed by colon, but not all of them. In most cases a colon is NOT used.
In some cases there is inconsistency within the same dialog (Add secret dialog)

Expected behavior:
For consistency we should use the same patter for all captions.

List of captions that include a colon:
PipelineRuns > Filters:
Secrets > Add Secret > Name: , Access To: , Username: , Pas

[2019-11-08 19:35] rnapoles-tktn opened #713 "Create secret > Screen will not scroll when adding more than two server URLs. Seems like nothing happens"
Problem:
When clicking the "plus" icon to add a third (or more) Server URL the UI will not scroll to display the added pair, looks like nothing happens, you can click many times and the added rows are not displayed. If the user tries to save the secret the UI displays "Server URL required" in red, however the UI does not display the empty field or does not provide a hint that the user has to manua

[2019-11-08 19:46] rnapoles-tktn opened #714 "No error message with valuable information is presented when trying to select a service account for a namespace that does not have service accounts"
# Expected Behavior
An error message should be displayed when a namespace does not have associated service accounts
# Actual Behavior
When creating a secret, if I select a namespace that does not have associeted service accounts the service account drop-down gets enabled but it displays (in grayed out mode) "Select Service account" and does not provide a message or hint that the selected namespace

[2019-11-08 20:32] rnapoles-tktn opened #715 "The red x icon is used to delete URLs (when adding secrets) instead of a garbage can icon"
# Expected Behavior
The garbage can icon should be used to delete URLs in the Create secret dialog

# Actual Behavior
The red x icon is used to delete unwanted URLs.
The red x icon should only be used to denote that something failed, like in the PipelineRuns UI and the TaskRuns UI

# Steps to Reproduce the Problem
1. Select Secrets > Add Secret
2. The red x icon is used for the Server URL to delet

[2019-11-11 03:53] anxinyf commented on #692
@a-roberts Yeah, we are considering implementing it using OIDC for Authentication and Authorization in coding instead of dex :)

And Any other people are doing this? Maybe I can help a little too :)

[2019-11-11 10:42] a-roberts commented on #669
I'm working this, planned to implement something simple to review https://github.com/tektoncd/dashboard/pull/710 and this is where I want to really test Carlos' reusable component.

Have plenty of code for this already now.

[2019-11-11 11:31] a-roberts commented on #666
@carlos-logro I'm working on the details part of this, haven't rebased to use your table yet (but that looks good to me from the PR), and I have this so far

![image](https://user-images.githubusercontent.com/12814972/68584119-a2129400-0476-11ea-8267-ef752c7c0bd3.png)

If you've done more (this only took me < 30 minutes and I didn't implement tests) I'm happy to park this, I basically implemented

[2019-11-11 11:36] a-roberts commented on #669
Ok, implemented the overall view page and I'm now implementing the details part and incorporating the table from Carlos to help with that review

[2019-11-11 14:16] mnuttall commented on #688
https://github.com/tektoncd/experimental/pull/325 is merged and we're now using Triggers. Note that dashboard must continue to function on Tekton 0.7 until https://github.com/openshift/tektoncd-pipeline-operator supports Tekton 0.8.

[2019-11-11 15:58] ncskier opened #716 "KeyValueList component unintuitive design"
# Expected Behavior
It should be intuitive to use all of the UI components in the Dashboard.

# Actual Behavior
The KeyValueList component, introduced in the Secrets modal, has some unintuitive behavior that should be addressed. Per @AlanGreene's [comment](https://github.com/tektoncd/dashboard/pull/699#issuecomment-551082566):

<img width="441" alt="Screen Shot 2019-11-11 at 10 52 07 AM" src="http

[2019-11-11 16:18] CarolynMabbott commented on #711
/assign

[2019-11-11 16:19] a-roberts commented on #669
![image](https://user-images.githubusercontent.com/12814972/68602857-077a7b00-049f-11ea-93a6-a9db92c58fff.png)

I have this so far, working on making it so on click, we display the full template information as a prettified string.

[2019-11-11 17:40] a-roberts commented on #669
Accordion implemented, should be one giant accordion item (row width) and not two so I'll look into that tomorrow. All data being retrieved and otherwise displayed correctly.

I'll add the full YAML view as well tomorrow.

![image](https://user-images.githubusercontent.com/12814972/68608238-4f52cf80-04aa-11ea-943b-7715c88fd512.png)

[2019-11-11 19:08] ncskier opened #717 "Keep namespace column when namespace is selected from the dropdown"
# Expected Behavior
When I filter the results in a table, I expect the columns to remain the same.

# Actual Behavior
In the Dashboard list views, when I change the selected namespace to filter by namespace, the columns change (the `Namespace` column disappears).
<img width="1299" alt="Screen Shot 2019-11-11 at 1 55 26 PM" src="https://user-images.githubusercontent.com/16961496/68613171-2c192780-0

[2019-11-11 19:51] mii-w commented on #671
<img width="787" alt="Screen Shot 2019-11-11 at 2 50 53 PM" src="https://user-images.githubusercontent.com/51759906/68616269-b6648a00-0492-11ea-9d2a-4a589d05db32.png">
<img width="781" alt="Screen Shot 2019-11-11 at 2 51 05 PM" src="https://user-images.githubusercontent.com/51759906/68616273-b82e4d80-0492-11ea-8025-18e65dd9b2ab.png">

[2019-11-11 19:52] mii-w commented on #670
<img width="784" alt="Screen Shot 2019-11-11 at 2 51 43 PM" src="https://user-images.githubusercontent.com/51759906/68616333-d85e0c80-0492-11ea-84af-0de20624e828.png">
<img width="782" alt="Screen Shot 2019-11-11 at 2 51 50 PM" src="https://user-images.githubusercontent.com/51759906/68616343-da27d000-0492-11ea-9c9a-6e198626837c.png">

[2019-11-11 19:54] mii-w commented on #669
we are looking into utilizing the space better so data can be clearly displayed and accessible to the user (prevent them to do endless scrolling)

<img width="778" alt="Screen Shot 2019-11-11 at 2 51 58 PM" src="https://user-images.githubusercontent.com/51759906/68616398-f7f53500-0492-11ea-9e54-20e89ad8544c.png">
<img width="787" alt="Screen Shot 2019-11-11 at 2 52 04 PM" src="https://user-images.

[2019-11-11 20:06] ncskier commented on #323
I created an issue about automatically adding labels based on PipelineResources: https://github.com/tektoncd/pipeline/issues/1553

[2019-11-11 22:08] mii-w commented on #671
Above wires were based off discussion with design team- another variation to consider
<img width="474" alt="Screen Shot 2019-11-11 at 5 07 39 PM" src="https://user-images.githubusercontent.com/51759906/68624882-da7d9680-04a5-11ea-939f-a77b39b67496.png">
<img width="470" alt="Screen Shot 2019-11-11 at 5 07 44 PM" src="https://user-images.githubusercontent.com/51759906/68624891-dcdff080-04a5-11ea-9f

[2019-11-11 22:09] mii-w commented on #670
Above wires were based off discussion with design team- another variation to consider
<img width="471" alt="Screen Shot 2019-11-11 at 5 07 49 PM" src="https://user-images.githubusercontent.com/51759906/68624950-fc771900-04a5-11ea-87a7-4d1191a12519.png">
<img width="471" alt="Screen Shot 2019-11-11 at 5 07 53 PM" src="https://user-images.githubusercontent.com/51759906/68624954-fed97300-04a5-11ea-81

[2019-11-11 22:09] mii-w commented on #669
Above wires were based off discussion with design team- another variation to consider
<img width="468" alt="Screen Shot 2019-11-11 at 5 08 00 PM" src="https://user-images.githubusercontent.com/51759906/68624963-04cf5400-04a6-11ea-98b9-036162b76479.png">
<img width="467" alt="Screen Shot 2019-11-11 at 5 08 05 PM" src="https://user-images.githubusercontent.com/51759906/68624967-06991780-04a6-11ea-87

[2019-11-11 22:20] ncskier commented on #669
@mii-w while the Parameters are definitely important, it feels strange to have them take up the majority of the screen space.

[2019-11-11 22:36] ncskier commented on #671
@mii-w the split-window is interesting. Just to clarify, when the user selects another Trigger from the accordion list, will the right pane with `Parameters` and `Interceptor` change its content? Each Trigger has its own Interceptor & Parameters, so the YAML split-window view doesn't really make sense to me; I don't think we would want the `Parameters` and `Interceptor` window to still be there.

[2019-11-12 07:59] anxinyf opened #718 "Cannot edit Tekton resources online in dashboard"
# Expected Behavior
For every resource object like Pipeline, PipelineRun, Task, etc. a user can edit it online and then apply it with a button, not only via "Import Tekton resources from repository"

# Actual Behavior
When a user wants to create resources in dashboard, resources can only be created by "Import Tekton resources from repository".

[2019-11-12 09:45] a-roberts commented on #669
Yeah I agree, it's unlikely the user will have sooooo many of them, I'll work on adding the details and yaml buttons now and adding this into a container

[2019-11-12 10:26] Megan-Wright opened #720 "Enzyme needs to be integrated for testing purposes"
In order to test the functionality of the create secret modal we need to be able to use enzyme to set props on the modal. Specifically this is needed for testing that an error notification appears when a secret fails to be created, as there does not seem to be another way to test it as far as we can tell.

[2019-11-12 11:26] mnuttall opened #721 "Plumbing update for nightly builds"
config/latest/gcr-tekton-webhooks-extension.yaml refers to gcr.io/tekton-nightly/interceptor:latest which is not yet being published.

test/presubmit-tests.sh starts with
[code]
It is through the `plumbing` scripts that our overnight images are published to gcr. A plumbing update is required in order to publish the new `interceptor` image.

[2019-11-12 13:47] Megan-Wright commented on #715
/assign

[2019-11-12 14:05] mnuttall commented on #721
oops wrong repo

[2019-11-12 14:05] #721 closed

[2019-11-12 14:16] Megan-Wright commented on #713
/assign

[2019-11-12 14:54] kimholmes commented on #671
Agree with @ncskier. And for the layout, it will come out in the wash when we hand these to Carrie but we need to stick with the existing pattern re: the YAML should appear in a separate tab than the Details etc.

[2019-11-12 15:31] a-roberts commented on #715
Merged so closing

[2019-11-12 15:31] #715 closed

[2019-11-12 15:37] mii-w commented on #671
yeah, I can see why it wouldn't make sense, because the Parameters and Interceptor are specific to a Trigger. I also flipped the order, Interceptor on top (to keep layout kind of consistent with resource templates and Parameters)
<img width="626" alt="Screen Shot 2019-11-12 at 10 36 02 AM" src="https://user-images.githubusercontent.com/51759906/68685580-56282380-0538-11ea-868c-52d3512ce32b.png">
<

[2019-11-12 15:39] mii-w commented on #669
I agree it seemed kind of odd.. what are your thoughts on this layout?
<img width="998" alt="Screen Shot 2019-11-12 at 10 30 59 AM" src="https://user-images.githubusercontent.com/51759906/68685175-b5d1ff00-0537-11ea-9c75-08da595bb774.png">

In regards to displaying the YAML, I think we should keep it consistent throughout all.
<img width="448" alt="Screen Shot 2019-11-12 at 10 39 35 AM" src="https

[2019-11-12 15:58] rnapoles-tktn opened #723 "Text input fields only accept English characters, should accept characters of any of IBM's supported languages"
# Expected Behavior
User should be able to enter characters of any of the 10 languages supported by IBM's applications in characteds in input fileds

# Actual Behavior
Text input fields should allow users to enter non English characters.

# Additional Details
The following are the 10 languages traditionally supported by IBM applications:
- German
- Spanish
- French
- Italian
- Japanese
- Korean
-

[2019-11-12 16:08] a-roberts commented on #715
Discussed on the design call actually, delete here

![image](https://user-images.githubusercontent.com/12814972/68688442-a4ecb200-0566-11ea-866a-3994979013e6.png)

does look real funky..

[2019-11-12 17:16] AlanGreene commented on #720
Let's avoid adding enzyme if possible, I'm happy to help debug any issues with the tests in https://github.com/tektoncd/dashboard/pull/719

[2019-11-12 17:47] kimholmes commented on #611
FYI - @Megan-Wright @AlanGreene The design team can provide a mock-up of this if helpful.

[2019-11-12 20:54] ncskier opened #724 "TriggerTemplate details paneling design"
This work is under epic https://github.com/tektoncd/dashboard/issues/509

I created this issue, because there was some confusion about what design from #669 should be implemented.

The purpose of this issue is to have a place to iterate on the TriggerTemplate panels separate from the implementation issues. This way, there will be less confusion about what design should be implemented.

The initial

[2019-11-12 20:59] ncskier commented on #669
Sorry for the confusion about which design should be implemented. In an effort to clear things up, I've created a separate issue for iterating on the TriggerTemplate design work here: https://github.com/tektoncd/dashboard/issues/724

From our discussion today, it seemed like this design will be a good one for our "first pass"
![tt-details](https://user-images.githubusercontent.com/16961496/6870987

[2019-11-12 21:04] ncskier opened #725 "TriggerBinding details paneling design"
This work is under epic https://github.com/tektoncd/dashboard/issues/509

The purpose of this issue is to have a place to iterate on the TriggerBinding panels separate from the implementation issues. This way, there will be less confusion about what design should be implemented.

The initial work for this issue was done under #670.

## Additional Info
- TriggerBindings README: [triggerbindings.md]

[2019-11-12 21:06] ncskier opened #726 "EventListener details paneling design"
This work is under epic https://github.com/tektoncd/dashboard/issues/509

The purpose of this issue is to have a place to iterate on the EventListener panels separate from the implementation issues. This way, there will be less confusion about what design should be implemented.

The initial work for this issue was done under #671.

## Additional Info
- EventListeners README: [eventlisteners.md](ht

[2019-11-12 21:09] ncskier commented on #724
/assign @mii-w

[2019-11-12 21:11] ncskier commented on #670
To avoid confusion between overlapping implementation and design iterations, I've created issue #725 to track the design work, and this issue (#670) will only handle the "first pass" implementation.

If you assign yourself to this issue, please coordinate with @mii-w about which design to implement for the "first pass."

[2019-11-12 21:12] ncskier commented on #671
To avoid confusion between overlapping implementation and design iterations, I've created issue #726 to track the design work, and this issue (#671) will only handle the "first pass" implementation.

If you assign yourself to this issue, please coordinate with @mii-w about which design to implement for the "first pass."

[2019-11-13 00:05] kimholmes opened #727 "Dashboard UI Implementation for Secrets"
# Expected Behavior
The portion of the Dashboard UI for Secrets should use design patterns and components for Carbon 10 and reflect the user experience created through collaboration between Development, Design and User Research

# Actual Behavior
The actual behavior is found in the current implementation of the Dashboard UI

# Design Specs:
### Secrets Main List View
(Done)
<details>

Specs: https

[2019-11-13 00:31] kimholmes commented on #727
@AlanGreene

[2019-11-13 00:36] kimholmes commented on #611
Please see #727 for the updated design for Secrets. Note that we removed the usage of modals. The screen should appear as a new page:
![Secrets_Create_New1](https://user-images.githubusercontent.com/21316329/68722377-43870c00-0583-11ea-8c24-f90d9242c334.png)

@AlanGreene I did see this when I tried to recreate the errors (I think your build):
![Secrets_Create_Modal](https://user-images.githubuserc

[2019-11-13 01:01] AlanGreene commented on #723
kubernetes resource names can only contain a limited set of characters, specifically digits (0-9), lower case letters (a-z), `-`, and `.`. See https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names for details.

Similarly, labels and annotations have a restricted set of allowed characters (although slightly more permissive than resource names):
- [label syntax and character

[2019-11-13 01:06] AlanGreene commented on #714
Note for whoever picks this up, the ServiceAccountsDropdown (and other dropdowns) already caters for this empty state: https://alangreene.github.io/dashboard/?path=/story/serviceaccountsdropdown--empty

[2019-11-13 09:41] a-roberts commented on #669
Yep looks good

[2019-11-13 10:22] a-roberts commented on #669
![image](https://user-images.githubusercontent.com/12814972/68754822-60612500-05ff-11ea-8999-c112f06a4613.png)

here's what I've got so far, I've not added any tests to this but plan to pick up something more urgent. Lemme know if there's anything noddy I should add, otherwise I'll resume this - add tests and make the PR.

[2019-11-13 10:49] a-roberts commented on #611
@kimholmes Looks good, thanks for sharing - the error that appears as a notification appears when the request itself fails (for example when there's a secret that already exists with the same name in the name space).

We plan to get *this* in with tests before the above larger change, also if modals are being removed for secrets (going a bit meta) I assume the same principle applies for creating P

[2019-11-13 13:55] afeiszli opened #731 "Secrets page fails to render with certain manually configured secrets"
# Expected Behavior

When I click on the 'Secrets' page, it should display information

# Actual Behavior

When I click on the 'Secrets' page, it is blank.

# Steps to Reproduce the Problem

1. Install Kabanero on OCP 3.11
2. Go to the Tekton Dashboard
3. Click on the 'Secrets' page

# Additional Info
![image](https://user-images.githubusercontent.com/31018251/68769865-0d817080-05f3-11ea-9e65-5ed7

[2019-11-13 14:20] AlanGreene commented on #717
/assign

we need to keep the ability for 3rd parties to hide the namespace (IBM Cloud currently relies on this behaviour due to use of ephemeral namespaces), but agree that the dashboard should always show namespace for consistency

[2019-11-13 14:20] kimholmes commented on #611
@AlanGreene Ok. that makes sense now. And yes, it would be the same for the other scenarios as well. Thanks for the heads up.

[2019-11-13 15:10] kimholmes opened #733 "Dashboard UI Implementation for Service Accounts"
# Expected Behavior
The portion of the Dashboard UI for Secrets should use design patterns and components for Carbon 10 and reflect the user experience created through collaboration between Development, Design and User Research

# Actual Behavior
The actual behavior is found in the current implementation of the Dashboard UI

# Design Specs:
https://kimholmes.github.io/Exported-Specs/ServiceAccount

[2019-11-13 15:14] kimholmes commented on #733
@AlanGreene

[2019-11-13 16:43] carlos-logro commented on #670
\assign

[2019-11-13 16:44] carlos-logro commented on #668
/assign

[2019-11-13 16:44] carlos-logro commented on #667
/assign

[2019-11-13 18:02] AlanGreene commented on #689
Consensus so far is to leave these untranslated. We can revisit later if needed.

[2019-11-13 18:02] #689 closed

[2019-11-13 19:20] mtamboli opened #736 "Tekton dashboard is refreshing about every minute especially on VPN"
# Expected Behavior
Dashboard should not get refreshed. Talked to @a-roberts on this.

# Actual Behavior
Dashboard gets refreshed and you loose the work in progress. For example, if you are creating a webhook, you will have to restart unless you finish the task before the refresh.

# Steps to Reproduce the Problem

1. Keep the Tekton dashboard open on Chrome or safari
2. You will see refresh happe

[2019-11-13 19:31] AlanGreene commented on #736
From the screenshot it looks like your websocket connection is getting disconnected (request to ws://<host>/v1/websockets/resources). When this happens and the connection is re-established, the dashboard will make requests in the background to fetch the latest state of resources that may have changed during the disconnect. This may cause some parts of the UI to update to show the new information b

[2019-11-13 19:39] mtamboli commented on #736
I noticed this when creating webhook but pretty sure it is happening on other pages also like looking at PipelineRuns.

[2019-11-13 21:33] AlanGreene commented on #736
I managed to reproduce some issues that sound similar to what you've described on the PipelineRuns page against a local environment by disabling and re-enabling the port-forward to the dashboard service.

PR open to address those: https://github.com/tektoncd/dashboard/pull/737
Specifically this should prevent the Create PipelineRun dialog from being reset / closed on reconnect, and prevent the Pip

[2019-11-14 10:06] CarolynMabbott commented on #712
/assign

[2019-11-14 11:19] a-roberts commented on #736
@AlanGreene many thanks for the dashboard fix which is now merged, I'm not seeing anything obvious either on the extension side. On the webhook page we do a call to fetch webhooks on componentDidMount. I'm going to open a followup issue to investigate things on the webhooks extension side specifically and close this.

[2019-11-14 11:19] #736 closed

[2019-11-14 12:12] #717 closed

[2019-11-14 13:26] CarolynMabbott commented on #517
/assign

[2019-11-14 13:55] CarolynMabbott opened #741 "Update the development docs of the endpoints"
The development docs for the endpoints are incorrect
These should be updated
Would also be useful to have examples of how to use the endpoints such as what to post

[2019-11-14 14:44] CarolynMabbott commented on #711
ComboBox has a few issues in the current available release and doesnt have some needed prop features to be able to get this implemented yet
When the next version of carbon is released with the fixes in will be able to implement this

[2019-11-14 14:44] CarolynMabbott commented on #711
/unassign

[2019-11-14 21:18] AlanGreene commented on #675
@kimholmes How should we handle the hover state for expanded Tasks?

RIght now it just applies the same background fill to the whole node as when hovering in the collapsed state but it doesn't look right to me:
![image](https://user-images.githubusercontent.com/2829095/68896114-b5498c00-0722-11ea-9e53-b940d46af72e.png)

Do we want to apply this only to the line that's being hovered? Something like

[2019-11-14 21:26] kimholmes commented on #675
@AlanGreene If you're able to apply it only to the row being hovered on, that would be ideal.

[2019-11-14 21:49] AlanGreene commented on #675
Latest here: https://alangreene.github.io/dashboard/?path=/story/graph-graph--default
There are still some quirks to work out:
- excess whitespace below tasks with multiple steps
- some steps don't stretch the full width

We should have the ability to expand/collapse the tasks early tomorrow. I had hoped to have that complete today but ran into some issues.

[2019-11-15 10:41] steveodonovan opened #744 "Take status and status icon functions in pipelineRuns component"
# Expected Behavior

Allow a consumer create custom status on the pipeline Runs page

[2019-11-15 10:41] steveodonovan commented on #744
/assign

[2019-11-15 11:43] #720 closed

[2019-11-15 11:44] CarolynMabbott opened #746 "Dashboard page refreshes are jumpy when namespaces on the left are changed"
When you are on PipelineRun page when you switch the namespace on the left from `All Namespaces` (or any other) to a namespace (such as docker) which has no PipelineRuns in it refreshes in a horrible / jumpy looking way

Compared to when you change the namespace to `All Namespaces` from a namespace where there is no PipelineRuns where the transition is smooth and not jumpy

This doesnt just apply

[2019-11-15 11:56] AlanGreene commented on #680
@CarolynMabbott is this still happening? Is it only on dev builds or are you seeing it on a production build too? Is the cluster you're connecting to local or remote?

[2019-11-15 12:05] CarolynMabbott commented on #680
I havent noticed it recently but might be due to some different factors to when i noticed this originally. It was happening on dev builds, havent checked production. Using Docker Desktop

[2019-11-15 12:07] AlanGreene commented on #680
OK let's close it for now, we can always reopen if you do notice it happening again.

[2019-11-15 13:18] CarolynMabbott commented on #704
I have tried to reproduce this but couldn't using master or 0.2.1.
The sha you linked to was created on the 14th October however Adams fix didnt go in until the 15th so it possible that you may not be using the code with the fix in

[2019-11-15 13:24] tomfrenken commented on #704
Strange, I get the image when I run:
[code]
how do I receive an image with the change from Adam?

[2019-11-15 13:51] CarolynMabbott commented on #704
Fixed now, you can run the above command again and you wont have the issue anymore in the 0.2.1 release

[2019-11-15 13:51] tomfrenken commented on #704
Yub it's fixed now, thanks for fixing it!

[2019-11-15 13:51] #704 closed

[2019-11-15 14:07] ncskier commented on #727
@kimholmes how does a user remove an annotation with this design?

[2019-11-18 12:48] AlanGreene commented on #38
Closing this as we've added some functionality addressing this (e.g. ability to stop / delete PipelineRuns).
We'll open new issues for additional functionality / design updates.

[2019-11-18 12:48] #38 closed

[2019-11-18 12:49] AlanGreene commented on #652
Closing. Can revisit as part of https://github.com/tektoncd/dashboard/issues/650 if needed.

[2019-11-18 12:49] #652 closed

[2019-11-18 12:51] #35 closed

[2019-11-18 14:47] AlanGreene commented on #42
Closing this since we've removed most of our custom APIs in favour of using kube APIs directly.

[2019-11-18 14:47] #42 closed

[2019-11-18 15:28] kimholmes commented on #611
@AlanGreene @Megan-Wright
Here is the guideline (per Carbon).
1. The user has accidentally selected a namespace that already has a Secret by the same name. The user clicks "Create."
![SecretCreate1](https://user-images.githubusercontent.com/21316329/69065413-b95cfe80-09ed-11ea-9bd7-64dc50900ce8.png)

2. An error appears showing the field that must be corrected. If additional instruction is needed,

[2019-11-18 15:49] AlanGreene opened #753 "Errors on individual pages should not cause the whole dashboard to go blank"
# Expected Behavior
Any error on a page should be handled gracefully.

# Actual Behavior
There are some types of error that can cause the entire dashboard to go blank.
In these cases the only way to recover is to refresh the page or occasionally to navigate to a different URL manually via the browser address bar.

[2019-11-18 17:54] kimholmes commented on #716
@ncskier
Here is the design for "add annotation" in Secret creation:
![SecretAnnotation](https://user-images.githubusercontent.com/21316329/69075618-bb2fbd80-09ff-11ea-9835-cba0e70e7fe8.png)

1. The user can click on "Add Annotation to add another row below the current row:
![image](https://user-images.githubusercontent.com/21316329/69076124-cb946800-0a00-11ea-9748-8a2721b2b020.png)

2.![image](ht

[2019-11-18 18:47] ncskier commented on #716
Thanks @kimholmes!

[2019-11-19 10:59] CarolynMabbott commented on #680
This is still happening, running on
Docker Desktop, npm start with port forward to 9097

[2019-11-19 11:00] CarolynMabbott commented on #680
/reopen

[2019-11-19 13:16] a-roberts commented on #731
We've reproduced this fine so working on the fix now

For posterity the reproduce is:

`oc create new-basicauth github.com --password=foo`, attempt to load the secrets page and see this

[2019-11-19 13:36] a-roberts commented on #712
Merge in progress so closing

[2019-11-19 13:36] #712 closed

[2019-11-19 13:38] a-roberts commented on #744
Merged so closing

[2019-11-19 13:38] #744 closed

[2019-11-19 13:50] a-roberts commented on #506
Merged so closing

[2019-11-19 13:50] #506 closed

[2019-11-19 15:05] tomfrenken opened #756 "Feature Request: Delete PipelineResources"
# Expected Behavior
Being able to delete `PipelineRessources` through the Dashboard, just like `PipelineRuns`.

[2019-11-19 16:00] a-roberts commented on #731
Merged now so closing

[2019-11-19 16:00] #731 closed

[2019-11-19 16:27] AlanGreene commented on #723
Closing. I can't find any fields that should accept additional characters that do not.
If there are specific fields that need to be updated please add details and we can reopen this.

[2019-11-19 16:27] #723 closed

[2019-11-19 16:55] kimholmes commented on #727
FYI - They may not keep the Image Pull Secrets

[2019-11-19 17:00] a-roberts opened #757 "Investigate whether we want to have ImagePullSecret creation as well as regular secrets"
Think about the OpenShift case or private Docker registry case - let's say a customer wants to run a pipeline that will build and push to the OpenShift image registry and then deploy from it.

`secrets` get used to push
`imagePullSecrets` are used to pull

Under this task, specifically, see if you can do this with a Tekton pipeline on OpenShift now trivially, or with a private Docker registry, lev

[2019-11-19 19:20] carlos-logro commented on #688
/assign

[2019-11-19 22:07] ncskier commented on #716
@AlanGreene, looking at figure 2 there, I think we'll need to modify the `KeyValueList` shared component. There is a Dropdown in this instance, but the CreatePipelineRun modal will have a Text Input Field where the Dropdown is (https://github.com/tektoncd/dashboard/pull/699). What would be the best way to structure this shared component?

I think we could have the shared component handle the "add"

[2019-11-20 09:50] a-roberts commented on #757
Trying this out now

[2019-11-20 10:47] CarolynMabbott opened #758 "PipelineResources page changes to PipelineRun page when clicking all namespaces"
# Expected Behavior
I change namespace on the left and it stays on the page PipelineResources when i do the steps below

# Actual Behavior
When i change the namespace on the left to All Namespaces I expect it to stay on the pipeline resources page

# Steps to Reproduce the Problem

1. Click on a pipelinerun
2. Go to PipelineResources
3.  Change namespace on left to All Namespaces

# Additional Inf

[2019-11-20 10:54] CarolynMabbott opened #759 "TaskRun page changes to PipelineRun page when clicking all namespaces"
# Expected Behavior
I change namespace on the left and it stays on the page TaskRun when i do the steps below

# Actual Behavior
When i change the namespace on the left to All Namespaces it goes to PipelineRun page

# Steps to Reproduce the Problem

1. On TaskRuns click on the task (eg, pipeline0-task)
2. Change namespace on the left to All Namespaces
3.

# Additional Info
Happens when you do spec

[2019-11-20 11:27] CarolynMabbott commented on #759
/assign

[2019-11-20 13:17] #753 closed

[2019-11-20 13:19] AlanGreene commented on #759
fyi: https://github.com/tektoncd/dashboard/issues/569#issuecomment-551144646
In the updated designs the namespace dropdown will not be displayed on the detail pages

[2019-11-20 13:19] AlanGreene commented on #758
fyi: https://github.com/tektoncd/dashboard/issues/569#issuecomment-551144646
In the updated designs the namespace dropdown will not be displayed on the detail pages

[2019-11-20 13:30] CarolynMabbott commented on #759
It's not on a detail page, when you click on the task on the TaskRun page it sets the filter on the page to be the task you clicked on and changes the namespace on the left to that specific namespace. When you change the namespace on the left back to All Namespaces is when the change to PipelineRuns page happens

[2019-11-20 13:32] AlanGreene commented on #759
by 'detail page' I mean any page displaying information on a single resource (not a list)

[2019-11-20 14:39] Megan-Wright commented on #580
@steveodonovan are you still seeing this? I'm struggling to recreate it - when a pipelinerun is cancelled I'm seeing associated taskruns as cancelled as well.

[2019-11-20 14:46] ncskier commented on #727
For reference, here's the issue investigating the use of Image Pull Secrets: https://github.com/tektoncd/dashboard/issues/757

[2019-11-20 14:48] steveodonovan commented on #580
Forgot to close the issue. Fixed here https://github.com/tektoncd/dashboard/pull/592

[2019-11-20 14:48] #580 closed

[2019-11-20 15:07] CarolynMabbott commented on #758
/assign

[2019-11-20 15:30] carlos-logro opened #761 "other pages don't load when PageErrorBoundary is active"
# Expected Behavior
I should be able to go to other pages in the dashboard even if one of them failed.

# Actual Behavior
When one of the pages breaks, dashboard redirects to PageErrorBoundary and stays there even when I choose to go to another page. Refresh is needed.

# Steps to Reproduce the Problem

1. Open Dashboard
2. Go to a page with broken code
3. View PageErrorBoundary notification
4. Cl

[2019-11-20 16:32] ncskier opened #762 "PipelineRun/TaskRun YAML view"
# Expected Behavior
When my PipelineRun/TaskRun has an error like a validation error, I would like to be able to view the YAML of the PipelineRun/TaskRun to debug.

# Actual Behavior
There is no way to view the entire YAML for a PipelineRun or TaskRun. Only Tasks and Pipelines have a YAML view at the moment.

[2019-11-20 21:39] AlanGreene commented on #762
We could add a link on the list views to our generic YAML page like we have on the Pipelines and Tasks views, could even do this from the PipelineRun / TaskRun details page, but it feels like cheating and that approach was supposed to be a very short term thing.

@kimholmes do we have designs for showing the raw Tekton YAML anywhere in the recent updates? I know we discussed it briefly but can't r

[2019-11-21 12:52] AlanGreene commented on #761
@carlos-logro this should be fixed on master now, thanks for catching and reporting it

[2019-11-21 12:52] #761 closed

[2019-11-21 16:01] kimholmes commented on #611
Correction to the above screen as per our discussion in Office Hours this week:
![SecretCreateError](https://user-images.githubusercontent.com/21316329/69354555-4b634200-0c4e-11ea-8afc-2b46dd8f309a.png)

[2019-11-21 21:18] kimholmes commented on #762
@AlanGreene The only place we're surfacing the YAML in the designs is on the Service Accounts. But we can certainly add this capability. Happy to discuss.

[2019-11-22 11:11] CarolynMabbott commented on #756
/assign

[2019-11-22 14:45] Megan-Wright commented on #714
/assign

[2019-11-22 17:01] CarolynMabbott commented on #756
/status-in-progress

[2019-11-22 17:02] CarolynMabbott commented on #756
/status in-progress

[2019-11-22 17:02] CarolynMabbott commented on #756
/in-progress

[2019-11-22 17:03] CarolynMabbott commented on #741
/

[2019-11-22 17:03] #741 closed

[2019-11-22 17:04] CarolynMabbott commented on #517
/close

[2019-11-22 17:04] #517 closed

[2019-11-22 20:30] kimholmes commented on #727
Updated the specs above with the changes to the annotation design in "Create" mode.

[2019-11-25 11:31] a-roberts opened #771 ""Date modified" header should be "Date created" for Trigger resources"
We actually get the creation date and not date modified, yet we display the latter.

Under this issue fix it across all three of our Trigger resource pages.

[2019-11-25 11:46] Megan-Wright commented on #714
@rnapoles-tktn I'm struggling to reproduce this... when I install Kabanero on OpenShift and go to create a secret every namespace has associated service accounts. Was there anything else you did to get no service accounts?

[2019-11-25 14:12] AlanGreene commented on #682
Do we have next steps for this issue? It's still happening: https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_dashboard/728/pull-tekton-dashboard-unit-tests/1198963244929126400/build-log.txt

[2019-11-25 14:21] a-roberts commented on #682
Yeah it's up for anyone to take on, I think there are enough clues here so hopefully it is as simple as adding a "wait for this to be done" before doing the create/delete/recreate events - e.g with a loop that checks the resource is registered with the fake k8s client

[2019-11-25 14:59] a-roberts commented on #757
Putting on hold actually, focused on our 0.3.0 release

[2019-11-25 15:29] ncskier opened #772 "Triggers resource tables have different style than other Dashboard tables"
# Expected Behavior
I expect everything in the Dashboard to have a consistent style. In particular, I expect the tables used in the Triggers views to match the visual style of the tables in the other Dashboard views.

# Actual Behavior
The Triggers tables have a style inconsistent with the rest of the Dashboard.

Here is a comparison showing the inconsistencies between the TriggerBindings table an

[2019-11-25 15:31] AlanGreene commented on #772
All list views should be updated to use Carbon DataTable for consistency and to make use of the action toolbar and other DataTable features. This will eliminate most of the style inconsistencies between the list views as we'll no longer be using the StructuredList styles.

We have a common [Table component](https://github.com/tektoncd/dashboard/blob/master/packages/components/src/components/Table/

[2019-11-25 16:28] a-roberts commented on #671
We want to get a 0.3 release for Triggers out this week and I reckon the above wireframe looks great, so someone please pick this up and let's get working on it (assigned to the backlog)

[2019-11-25 16:30] kimholmes opened #773 "Dashboard UI Implementation for Access Token Management"
# Expected Behavior
The portion of the Dashboard UI for Secrets should use design patterns and components for Carbon 10 and reflect the user experience created through collaboration between Development, Design and User Research

# Actual Behavior
The actual behavior is found in the current implementation of the Dashboard UI

# Design Specs
At the following site, please find these six pages with sp

[2019-11-25 16:35] a-roberts commented on #714
Yeah there's always a service account in every namespace, see `Service Account Controller
Service Account Controller manages ServiceAccount inside namespaces, and ensures a ServiceAccount named “default” exists in every active namespace` from https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/

I can't reproduce it either and I'm pretty sure it's not possible unless you

[2019-11-25 16:35] #714 closed

[2019-11-25 16:49] a-roberts opened #774 "Use serviceAccountName not serviceAccount for Tekton 0.9"
We use it here for example https://github.com/tektoncd/dashboard/blob/58e63b990a48db808fa925ddf968416c524e6509/src/api/index.js#L200 - should be serviceAccountName

Under this item check for any other references relying on the field being called `serviceAccount` for TaskRuns and PipelineRuns too.

If you find a way to have this work with both 0.8 and 0.9 that'd be great 😄

[2019-11-25 16:54] a-roberts commented on #672
We have this now 🎈 here's how it looks so far

![image](https://user-images.githubusercontent.com/12814972/69560820-3ebf5080-0fa4-11ea-827a-fd1d96233bfe.png)

For any changes e.g. groupings we can raise under a new issue, otherwise closing

[2019-11-25 16:54] #672 closed

[2019-11-25 16:55] a-roberts commented on #666
Merged so closing

[2019-11-25 16:55] #666 closed

[2019-11-25 16:55] a-roberts commented on #667
Merged so closing

[2019-11-25 16:55] #667 closed

[2019-11-25 16:55] a-roberts commented on #668
Merged so closing

[2019-11-25 16:55] #668 closed

[2019-11-25 16:56] a-roberts commented on #509
Quick update on this, only the details pages to go now (I've got a PR in, @carlos-logro is working on another and then one more is up for grabs!)

[2019-11-25 17:05] kimholmes opened #775 "Dashboard UI Implementation for Pipelines and Tasks"
# Expected Behavior
The portion of the Dashboard UI for Secrets should use design patterns and components for Carbon 10 and reflect the user experience created through collaboration between Development, Design and User Research

# Actual Behavior
The actual behavior is found in the current implementation of the Dashboard UI

# Design Specs for Pipelines:
At the following site, please find these th

[2019-11-25 17:52] AlanGreene commented on #772
Also see https://github.com/tektoncd/dashboard/issues/775 for updated designs of the Pipeline(Run)s and Task(Run)s pages.

[2019-11-25 18:11] AlanGreene commented on #538
For 1, I don't think the dashboard should be responsible for validating that the credentials provided are correct. We should however ensure that any useful logs or other indicators are correctly surfaced to the user in case of tasks depending on these secrets failing. Some of this will be covered by https://github.com/tektoncd/dashboard/issues/572 and related issues.

For 2, https://github.com/tek

[2019-11-25 18:11] #538 closed

[2019-11-25 18:40] AlanGreene commented on #718
@anxinyf thank you for raising this issue, feedback and suggestions are always welcome.

We encourage use of pipeline as code due to its many advantages, including reuse, consistency, repeatability, rollback, etc. In this model, Tekton resources would be defined as a set of YAML files in one or more source control repos and applied in the target cluster either manually using kubectl, using the Imp

[2019-11-25 18:40] #718 closed

[2019-11-25 19:27] AlanGreene commented on #775
For the PipelineRun and TaskRun status columns should we include the existing status text as a tooltip on the icon / in some other way (or leave it out entirely)?

Sample status text (these come from the environment):
- All Tasks have completed executing
- PipelineRun "output-pipeline-run-r-5mljg" was cancelled
- TaskRun demo-pipeline-run-6-build-skaffold-app-k4wxt has failed
- All Steps have comp

[2019-11-25 19:48] kimholmes opened #776 "Dashboard UI Implementation for TaskRuns"
# Expected Behavior
The portion of the Dashboard UI for Secrets should use design patterns and components for Carbon 10 and reflect the user experience created through collaboration between Development, Design and User Research

# Actual Behavior
The actual behavior is found in the current implementation of the Dashboard UI

# Design Specs:
At the following site, please find these three pages with

[2019-11-26 14:43] rnapoles-tktn commented on #714
Agreed, I came across this with a manual setup (my first successful setup)
I could not replicate it with the automated Kabanero setup.

[2019-11-26 14:51] kimholmes commented on #775
@AlanGreene That's a very good question and my first intuition was to put those in a tooltip. Especially since they can be as long as the one in that last bullet. It seems like they do often have useful information. Do you agree? I am worried about the toolitp being too long though. We might need to allow a certain amount of characters and then cut it off.

[2019-11-26 15:50] AlanGreene commented on #775
I didn't actually notice the tooltip in the first PipelineRuns image yesterday, looks like you'd already thought of it 😆

Truncating the text in the tooltip is fine, the user should have enough info to know whether it's interesting or not and can still get more information by navigating to the page for the failed run.

I suspect that most of the time the status text will be relatively short and fi

[2019-11-26 16:04] Megan-Wright commented on #771
/assign

[2019-11-26 16:05] Megan-Wright commented on #771
/status-in-progress

[2019-11-26 16:08] Megan-Wright commented on #771
/in-progress

[2019-11-26 16:13] mii-w commented on #671
<img width="1025" alt="Screen Shot 2019-11-26 at 11 12 50 AM" src="https://user-images.githubusercontent.com/51759906/69651247-c907c300-103d-11ea-87a1-51da50de2350.png">

[2019-11-26 16:17] mii-w commented on #670
<img width="766" alt="Screen Shot 2019-11-26 at 11 17 17 AM" src="https://user-images.githubusercontent.com/51759906/69651628-5d722580-103e-11ea-8b54-7cc61a229c63.png">
<img width="764" alt="Screen Shot 2019-11-26 at 11 17 25 AM" src="https://user-images.githubusercontent.com/51759906/69651635-5fd47f80-103e-11ea-97cf-3ea61012b624.png">

[2019-11-26 16:24] a-roberts commented on #671
Thanks @mii-w, so for anyone who picks this up we think the above would be an awesome thing to implement first

[2019-11-26 18:08] vdemeester commented on #762
/kind bug

[2019-11-26 19:07] kimholmes commented on #762
@AlanGreene I'm interested to learn more about what you mean when you say that surfacing the YAML feels like cheating. Why was that approach supposed to be a short term thing?
Another question. Is it easy to link out to the YAML on Github?

[2019-11-26 19:20] AlanGreene commented on #762
The way we did it for Tasks and Pipelines was meant to be a short term thing, it was never meant to be the only view for those resources. We have detail views for all other resource types, but for those two we either link to a filtered list of TaskRuns or PipelineRuns associated with the selected resource, or show the raw YAML. There's no page showing a more user-friendly rendering of a single res

[2019-11-27 09:40] a-roberts opened #778 "Use backend Go code to detect OpenShift for logout button display"
We currently do it through a promise looking for the OpenShift Route API being present. We have OpenShift detection though in our Go backend code (this was added afterwards).

So Instead of always surfacing the promised rejection error in the Chrome inspector, we should call our own API and then based on the return code determine if we are on OpenShift or not and thus display the log out button ac

[2019-11-27 09:47] a-roberts opened #779 "Display versions in the meow (Tekton Dashboard, Tekton Pipelines)"
We've seen users ask about the current Tekton version running on a few occasions now and it'd be useful to display this information in our UI so users don't need to check image references to figure out what's running.

An example of how this can be done:

1) Displaying the Tekton Dashboard version is straight forward: it could be `master` or `0.2.1` for example.

For displaying an exact version nu

[2019-11-27 11:50] Megan-Wright commented on #713
/close

[2019-11-27 11:50] #713 closed

[2019-11-27 11:50] Megan-Wright commented on #771
/close

[2019-11-27 11:50] #771 closed

[2019-11-27 13:44] steveodonovan opened #780 "Log polling should stop once a step has completed"
# Expected Behavior

log polling should stop once step has completed

# Actual Behavior

It continues polling

[2019-11-27 13:44] steveodonovan commented on #780
/assign

[2019-11-27 14:43] Megan-Wright commented on #772
/assign

[2019-11-27 14:59] afrittoli opened #782 "Steps displayed after a failed one are marked as "not-run""
# Expected Behavior
Steps are marked as pass/failed/not-run matching the actual status, regardless of their order.

# Actual Behavior
If one step fails, steps displayed after that are marked as not-run even if they were executed, and logs are displayed correctly.

This is probably a side effect to the fact that steps are not displayed in order of execution to begin with, nonetheless the UI should

[2019-11-28 11:16] AlanGreene commented on #782
Backing out https://github.com/tektoncd/dashboard/pull/653 should resolve this now that tektoncd/pipeline correctly sets the status of these steps. We just need to make sure we're ok in terms of versions for our next planned kabanero supporting release.

[2019-11-28 13:39] tjololo opened #786 "Pipelineruns with conditions not displayed"
# Expected Behavior
Expecting tekton dashboard to display steps and tasks overview when I try to view a specific pipelinerun with conditions
# Actual Behavior
Page goes blank and errors is outputted to the browser console

# Steps to Reproduce the Problem

1. Working tekton controller and dashboard
2. Create a pipeline with a condition
3. Run the pipeline with a pipelinerun
4. Try to view the pipe

[2019-11-28 13:47] a-roberts commented on #782
Happy for master of dashboard to (to our best ability) work with the latest version of Tekton Pipelines, so yeah anybody who picks this up should do the backout of the commit Al refers to

Worst case scenario for Kabanero is that we cherry pick any juicy commits and remember this one incase something does come up

[2019-11-28 13:59] CarolynMabbott opened #787 "Add ability to rebuild a PipelineRun from the PipelineRuns table"
I want to be able to rerun a pipelinerun from the pipelineruns page in the 3 dot buttons
I dont want to have to click on the actual pipelinerun to press the rerun button

[2019-11-28 14:00] tjololo commented on #786
If I read the stacktrace output correctly this might be the offending line: https://github.com/tektoncd/dashboard/blob/master/packages/components/src/components/PipelineRun/PipelineRun.js#L85

The taskruns generated by the conditions return taskRun with spec.taskSpec set but not spec.taskRef

[2019-11-28 14:10] #780 closed

[2019-11-29 10:06] a-roberts opened #793 "Should we replace our build/deploy process with a Tekton pipeline?"
Instead of requiring contributors to install plenty of tools, I bet we could move to having a Tekton pipeline that builds, tests, and optionally deploys the dashboard - and given that having Tekton itself installed as a pre-req to use the dashboard, that's not an entirely weird request.

Our build and deploy process could instead be `tkn` based.

Note that this may be a crazy idea that increases o

[2019-11-29 10:15] a-roberts commented on #671
PR https://github.com/tektoncd/dashboard/pull/784

[2019-11-29 11:31] tjololo commented on #786
Sorry, seems like my deployment was using the image with tag 0.2.1.test-3 patching my deployment to image with tag: test.release.v0.2.1.take-2 / latest solved the problem.

[2019-11-29 11:31] #786 closed

[2019-11-29 13:08] AlanGreene commented on #709
Tekton Pipelines already provides a default name for unnamed steps, 'unnamed-1' for example:
![image](https://user-images.githubusercontent.com/2829095/69870786-e8565880-12a8-11ea-8dca-89d143f8e6f6.png)

I think the issue here is that we're only looking for the name in the Task. We should fall back to names from the TaskRun status if not found, but we may have some difficulties matching up the ste

[2019-11-29 13:14] #782 closed

[2019-11-29 13:42] AlanGreene commented on #779
I've seen some tools include version info in the tooltip on the logo / title, something like this:
![image](https://user-images.githubusercontent.com/2829095/69872568-a5e34a80-12ad-11ea-9efc-88e34f292063.png)

What type of version info can we access? Some formats are obviously more user friendly / useful than others
![image](https://user-images.githubusercontent.com/2829095/69871933-fbb6f300-12ab-

[2019-11-29 13:54] a-roberts commented on #779
@AlanGreene good points, yep I like the Tekton cat giving the information.

We could offer up an endpoint that would serve up the install information (e.g. the image IDs - after interrogating our own deployment information and anything else we care for).

For proper release versions, this would work if we start to tag our images with the version and we use that (instead of using the ID that comes

[2019-11-29 14:08] AlanGreene commented on #776
Is there much value in including the diagram for a TaskRun? It will only have a flat list of steps in the same order as the list on the left. The nodes on the diagram won't expand as there's no child content to display.

Would this also potentially cause confusion for users that here we're rendering steps the same way we render TaskRuns on the PipelineRun diagram?

[2019-12-02 11:25] CarolynMabbott commented on #756
/close

[2019-12-02 11:25] #756 closed

[2019-12-02 11:44] a-roberts commented on #688
At this point we want to check 0.8 Tekton is OK for the **latest** dashboard and webhooks extension code - including the monitor task, I think @carlos-logro has made all of the changes we need.

Then we could get https://github.com/tektoncd/dashboard/issues/469 in as the race condition fix for import resources.

Note https://github.com/tektoncd/triggers/issues/244 is also seen with Triggers so per

[2019-12-02 11:47] CarolynMabbott commented on #626
/assign

[2019-12-02 13:09] a-roberts opened #796 "Assess compatibility with Tekton 0.9 (Dashboard and Webhooks Extension)"
With 0.9.0 imminent we should check what works and what doesn't

Update: it's out, see https://github.com/tektoncd/pipeline/releases/tag/v0.9.0

[2019-12-02 13:10] a-roberts commented on #796
I'm going to have a look at this while my two big PRs (EventListener and TriggerTemplate details) are on hold

[2019-12-02 13:56] a-roberts commented on #796
https://storage.cloud.google.com/tekton-release-staging/pipeline/previous/v0.9.0-rc1/release.yaml @afrittoli has kindly staged this yaml, just installed it and all pods are running, so will start the testing

[2019-12-02 14:22] a-roberts commented on #774
Note serviceAccountName works in 0.8 too

[2019-12-02 14:28] afrittoli commented on #774
Yes, we try to make backward incompatible changes over two releases:
- in v0.8.0 we added `serviceAccountName` and kept `serviceAccount` too
- in v0.9.0 we are removing `serviceAccount`

[2019-12-02 14:39] a-roberts commented on #796
Ok, import resources definitely doesn't work which we know about, https://github.com/tektoncd/dashboard/issues/774 to fix

Everything else looks fine (rendering simple pipelines, logs, details, status), PipelineResources, PipelineRuns, secrets. Todo have a look at the release notes once Andrea's ready and assess (we shouldn't be unable to render any pages now as we have @AlanGreene's ErrorBoundary

[2019-12-02 16:23] kimholmes commented on #762
@AlanGreene Ok. That makes sense. If we want to be consistent with what we're doing in other parts of the design for the UI, we'd add a YAML tab on the Details view. So, there would be a Details tab and a YAML tab.
<img width="695" alt="image" src="https://user-images.githubusercontent.com/21316329/69975799-dcaba180-14f5-11ea-8b04-ceed6e5445e9.png">
<img width="1134" alt="image" src="https://user-

[2019-12-02 19:14] carlos-logro commented on #772
@Megan-Wright during the surfacing of the TriggerBindings details page I stumbled upon some nits that should be taken care of in this issue:

1) Table title has too many padding
<img width="712" alt="Screen Shot 2019-12-02 at 1 45 48 PM" src="https://user-images.githubusercontent.com/49996607/69987077-b04f4f80-150c-11ea-8f7a-71eefb83e125.png">

2) even when no batchActions or toolbar buttons are p

[2019-12-02 20:58] AlanGreene commented on #772
1. we should be using the Carbon styles as much as possible, and when overriding them ensuring we're doing so consistently across the whole dashboard, i.e. avoiding too many page-specific styles. I suspect that after removing the toolbar placeholder (see 2) it will look much better, as in the Carbon storybook.

    @kimholmes should we be following the Carbon guidelines for aligning the content ba

[2019-12-03 13:05] a-roberts commented on #688
Confirmed we're good including for the monitor task, closing this (different issues exist for exploiting 0.8 features such as resourceSpec etc)

[2019-12-03 13:05] #688 closed

[2019-12-03 13:10] plwhite commented on #692
We have a use case with multiple users with different credentials. Ideal for me would be if we did much as the K8s dashboard - i.e. user provides access token, and instead of having its own credentials, the dashboard uses the supplied token. If a user does not have the right permissions to read some of the pipelines or to create pipeline runs, then that just falls out with existing Kubernetes RBAC

[2019-12-03 13:17] a-roberts commented on #692
Yeah, this sounds good too (as well as having read only/write only versions - providing the option to have granularity through tokens and a sense of users).

Indeed we'd have RBAC set up/documented such that users in that namespace wouldn't be able to just get secrets at will for example

I think this is a story we should pursue more of, seeing plenty of interest here!

@anxinyf there's nobody wor

[2019-12-03 17:02] a-roberts opened #799 "Error loading PipelineRuns seen when a user creates a filter with too long a value"
For PipelineRuns for example, try to add a label e.g. hello:barrrrrrrbarrrrrrrbarrrrrrrbarrrrrrrbarrrrrrrbarrrrrrrbarrrrrrrbarrrrrrrbarrrrrrr

Then you'd see this error:

![image](https://user-images.githubusercontent.com/12814972/70072238-80787880-15ee-11ea-861d-6d01b163a963.png)

http://localhost:8000/#/namespaces/tekton-pipelines/pipelineruns?labelSelector=asd%3Dfoo%2Casdsadsadasdasd%3Dfooooooo

[2019-12-03 17:42] AlanGreene commented on #799
Making the same request via kube proxy we get more details:

[code]

We need to make sure labels are limited to 63 characters wherever we allow their input.

[2019-12-04 11:10] a-roberts opened #800 "PipelineRun timeout message isn't formatted on display in table"
See
![image](https://user-images.githubusercontent.com/12814972/70137755-9afe3080-1686-11ea-86e6-be6ca1699584.png)

Reproduce is to create a PipelineRun that times out

[2019-12-04 11:20] AlanGreene commented on #800
@a-roberts what's the issue here, the `"&Duration{Duration:1h0m0s,}"` piece? The status message comes from the resource directly, we don't manipulate it in any way, so this is the actual content being set by Tekton Pipeline.

[2019-12-04 11:46] CarolynMabbott commented on #779
/aasign

[2019-12-04 11:50] a-roberts commented on #800
Exactly, it'd be great to capture timeout events and display a custom message instead e.g. "failed to finish within one hour, 30 seconds" for example - instead of displaying the unmanipulated info.

So what I'm suggesting is essentially grabbing that status and manipulating it if it's a timeout - I realise that's a bit awkward mind you come to think of it (I'm not a fan of grabbing what's over the

[2019-12-04 11:51] CarolynMabbott commented on #799
/assign

[2019-12-04 13:28] a-roberts commented on #799
Merged so closing, thanks @CarolynMabbott 😹

[2019-12-04 13:28] #799 closed

[2019-12-04 14:43] CarolynMabbott commented on #626
My PR is merged for deleting TaskRuns so going to close this issue

/close

[2019-12-04 14:43] #626 closed

[2019-12-04 15:19] #796 closed

[2019-12-04 16:38] AlanGreene commented on #800
If the data (probably just the timeout value) is available in a structured format in the status or somewhere else we can easily grab we could do a better job of formatting it, however I'd be reluctant to start trying string manipulation. I wouldn't consider the message content part of the Tekton Pipeline APIs, and some of the values are actually from a level deeper still, from kubernetes itself.

[2019-12-04 16:53] carrenelloyd opened #803 "Dashboard UI Implementation for the Rail and Header Navigation"
# Expected Behavior
The portion of the Dashboard UI for the Rail and Header Navigation should use design patterns and components for Carbon 10 and from the IDE components Storybook, until Carbon inherits IDE components. It should also reflect the user experience created through the collaboration between Development, Design and User Research

This update should also include removing the blue backgr

[2019-12-04 17:44] ncskier commented on #774
/assign

[2019-12-04 18:35] carrenelloyd commented on #675
### Changes related to the current Storybook implementation
https://alangreene.github.io/dashboard/?path=/story/graph-pipelinegraph--default

### Height
**30 px - Height of 1 pipeline**
The icons + text inside the 30 pixel box should be centered vertically, meaning there should be the same amount of height above and below the text and icons.
![image](https://user-images.githubusercontent.com/53481

[2019-12-04 20:17] carrenelloyd opened #805 "Dashboard UI Implementation for Specs"
# Expected Behavior
As a user I need a UI that uses Carbon components and is consistent with other business applications that IBM produces.

# Actual Behavior
The current implementation should use consistent components across all pages of the application.

# Additional Info

### Heading and Breadcrumbs
A consistent heading and breadcrumbs can be used throughout all pages in Tekton. The use of exis

[2019-12-05 11:33] AlanGreene commented on #803
@carrenelloyd the `@hybrid-cloud/ide-components` package that provides these components is not available publicly so this is not something we can currently use in the dashboard. Is there an alternative or a plan for Carbon to adopt these components?

[2019-12-05 11:34] dibbles opened #806 ""Error: the server reported a conflict" should state more information"
# Expected Behavior

Because the secrets panel does not list "all" secrets, when a conflict exists between the name of the secret I am trying to create and a secret already existing in kubernetes with that name (which might not be shown in the table).

The error should be "A secret already exists in the namespace $FOO with name $BAR"

# Actual Behavior

The error is simply "Error:  the server repo

[2019-12-05 11:37] dibbles opened #807 "Error/Notification bar should be full page width"
# Expected Behavior

I expect the error notification bar when it appears to be as wide as the tables on the page (if not page width)

# Actual Behavior

The error bar appears to be some random width (about 70%)

# Steps to Reproduce the Problem

1.  Navigate to pipelineruns (having some pipelineruns created)
2. Delete a pipeline run using kubectl on the command line
3. Now try deleting the same pi

[2019-12-05 12:27] tomhau01 commented on #675
Do you have any estimate when this work could be available for trying out? That flow chart type of visualization of steps would be really handy.

[2019-12-05 14:48] carrenelloyd commented on #803
Let me reach out to that dev team to see how they can help.

[2019-12-05 15:40] kimholmes commented on #776
@AlanGreene I was under the assumption that we were rendering steps the same way we render them in TaskRuns on a PipelineRun. How is this different? Wouldn't the user be able to expand the Tasks and view the Steps inside?
Now that I've asked all these questions, I think it's always a positive to simplify the experience. But if we remove this diagram, would the TaskRuns be linked from the list page

[2019-12-05 17:51] AlanGreene commented on #776
If we were to render TaskRuns and steps the same way here as we do on the PipelineRun diagram we would always have exactly 3 nodes on the diagram (start, TaskRun, end) and it would look something like this:
![image](https://user-images.githubusercontent.com/2829095/70258374-0b3eac00-1784-11ea-90e4-bd5a3037fdf4.png)

There would always be a single node between start and end representing the TaskRun

[2019-12-05 20:52] AlanGreene commented on #675
@tomhau01 this is under active development, you can see the current status in the storybook https://alangreene.github.io/dashboard/?path=/story/graph-pipelinegraph--default. The PipelineGraph example uses Tekton resources (in JSON format) as input to generate the graph, so all of the basics are in place to build the data model and render the diagram.

Some updates are still needed to fully support

[2019-12-06 11:11] tomhau01 commented on #675
Thank you for the update, and I'll be happy to give it a spin once there is something to try out 👍

[2019-12-06 12:25] CarolynMabbott commented on #779
/unassign

[2019-12-06 19:01] #323 closed

[2019-12-09 11:47] EnriqueL8 commented on #572
+ 1 on this feature

[2019-12-09 12:19] AlanGreene opened #813 "Relocate label util / component"
@carlos-logro follow up to https://github.com/tektoncd/dashboard/pull/810

If the label formatting util is going to be used in any of our published components (i.e. those in `packages/components`) this code will need to be moved to `packages/utils` so they can access it.

If it's only used in containers / other internal components it can stay as-is and this issue can be closed.

This might actuall

[2019-12-09 13:21] a-roberts commented on #813
Yeah, I think that's reasonable, I'll work on making this change now and refactoring usages

[2019-12-09 13:32] a-roberts commented on #682
Had enough of this failing so I'm doing a PR now to comment it out

[2019-12-09 16:01] AlanGreene opened #815 "Triggers nav items should not be displayed when triggers is not installed"
Follow up to https://github.com/tektoncd/dashboard/pull/747#pullrequestreview-319018301

When Triggers is not installed we should not display the trigger nav items in the left side nav, i.e. EventListeners, TriggerBindings, etc.

[2019-12-09 16:10] #774 closed

[2019-12-09 19:13] kimholmes commented on #776
@AlanGreene It does make sense. I see what you mean about removing the chevron but then I wonder if we shouldn't just keep it for consistency.
You're right, we didn't give a proper representation of the diagram in the design. The two nodes are intended to be tasks but that doesn't make sense if we're in the context of a taskRun. So, you are correct!
If we decide to keep this entire view, I think w

[2019-12-09 19:46] AlanGreene commented on #776
Sounds good, thanks.

[2019-12-09 20:13] ncskier opened #816 "Cannot see ServiceAccount for Secret"
# Expected Behavior
After creating a Secret in the Dashboard and associating it with a ServiceAccount, I expect to be able to see what ServiceAccount has each of my Secrets.

# Actual Behavior
After creating a Secret in the Dashboard and associating it with a ServiceAccount, I cannot see what ServiceAccount the Secret is in. So, when I choose what ServiceAccount I want to use for my PipelineRun, I

[2019-12-09 20:20] AlanGreene commented on #816
Related: https://github.com/tektoncd/dashboard/issues/733 and https://github.com/tektoncd/dashboard/issues/727

[2019-12-10 09:29] a-roberts commented on #816
+1 on getting started for this, @enriquel8 from the Appsody project has expressed a keen interest in this too

[2019-12-10 09:30] a-roberts commented on #813
Merged so closing

[2019-12-10 09:30] #813 closed

[2019-12-10 11:42] Megan-Wright opened #817 "DataTables isSortable function doesn't work for 'computed' values"
# Expected Behaviour
We should be able to have tables that can be sorted by various values. For example: PipelineRuns should be able to be sorted by name, namespace, pipeline, last transition time, etc.

# Actual Behaviour
When sorting is enabled for DataTables (which it isn't currently due to this problem), trying to sort by any column that has a 'computed' value - e.g. a link or a date/time does

[2019-12-10 13:32] EnriqueL8 opened #819 "Rerun button should not create a new pipeline run"
# Expected Behavior
If I want to rerun a pipeline, it should rerun this existing one and not create a new one. I end up with a very large amount of pipeline runs after debugging erros.

# Actual Behavior
The rerun button creates a new pipeline run with a different generated name.

[2019-12-10 16:30] mnuttall commented on #569
I'm closing this because I _think_ it . was fixed by https://github.com/tektoncd/dashboard/commit/30a0392fce08c2d25d7c666b922c935d5c8b7dc2. @CarolynMabbott please reopen if that's incorrect.

[2019-12-10 16:30] #569 closed

[2019-12-10 17:10] AlanGreene commented on #758
Fixed by https://github.com/tektoncd/dashboard/pull/768

[2019-12-10 17:10] #758 closed

[2019-12-10 17:16] AlanGreene commented on #569
Confirmed this is fixed by https://github.com/tektoncd/dashboard/pull/768

[2019-12-10 17:17] AlanGreene commented on #759
Fixed by https://github.com/tektoncd/dashboard/pull/768

[2019-12-10 17:17] #759 closed

[2019-12-10 17:21] AlanGreene commented on #819
@EnriqueL8 thanks for opening an issue, however this is working as intended.

In Tekton, a PipelineRun is a single instance of execution of a Pipeline definition. See https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md for some more info. Rerunning an existing PipelineRun via the dashboard is a shortcut to create a new PipelineRun with the same inputs.

[2019-12-10 17:21] #819 closed

[2019-12-10 21:05] bashofmann opened #821 "TaskRuns page is broken if a TaskRun with an embedded TaskSpec is present"
# Expected Behavior
The TaskRuns page should list all TaskRuns regardless if they contain a TaskRef or an embedded TaskSpec (see https://github.com/tektoncd/pipeline/blob/master/docs/taskruns.md#specifying-a-task).

# Actual Behavior
As soon as there is a TaskRun with an embedded TaskSpec is present the dashboard throws the following error and the TaskRuns list is not displayed:

[code]

<img widt

[2019-12-10 22:57] ncskier opened #822 "Duplicate config YAML files are a pain"
# Expected Behavior
As a developer, I expect it to be easy to update the dashboard release and track changes to the pieces of the release.

# Actual Behavior
Right now it is confusing to update the release, because there are 3 files that are mostly duplicates of one another:
1. [`dev-tekton-dashboard.yaml`](https://github.com/tektoncd/dashboard/blob/master/config/dev-tekton-dashboard.yaml)
2. [`op

[2019-12-10 23:08] AlanGreene commented on #821
Thanks for the detailed report @bashofmann. This looks like a regression introduced by https://github.com/tektoncd/dashboard/pull/801/files#diff-ccd95d56ab624312e691721ff80a1260L223 earlier today. The TaskRunsList component has logic to handle this case but that component is no longer being used. I'll get a fix in to address it now.

[2019-12-10 23:25] bashofmann commented on #821
Awesome, thanks for your fast reply. While you wrote this I created my own PR to fix this, but of course happy to close this in favour of your (probably better :) ) solution, or change it to just contribute the test case for the component.

[2019-12-11 00:22] AlanGreene commented on #821
We have a set of UI components that are published as an npm package (undocumented as we're still working out some of the details) for use by 3rd parties who want to embed Tekton Dashboard functionality in their own UIs. We use these same components to build the dashboard to ensure consistency and to provide a cleaner separation between the application logic and presentation layers.

I've opened ht

[2019-12-11 11:35] bashofmann commented on #821
Just tested it and it works now perfectly. I opened https://github.com/tektoncd/dashboard/pull/826 to contribute the additional tests for the TaskRuns component.

[2019-12-11 11:35] #821 closed

[2019-12-11 11:42] AlanGreene commented on #821
Awesome, thanks again for the report and the test cases 🥇

[2019-12-11 12:03] AlanGreene opened #827 "PipelineResources container should use UI component"
Similar to PipelineRuns (caught in code review) and TaskRuns (reported by community due to functional regression), the PipelineResources container was [updated](https://github.com/tektoncd/dashboard/pull/801/files#diff-afad8773bed4504065668905981dd26dL129) to embed the Table component directly instead of using its corresponding UI component. This bypasses some of the logic already implemented in t

[2019-12-11 12:25] AlanGreene opened #829 "Ensure dashboard correctly handles inline Pipeline specs"
# Expected Behavior
The dashboard should be capable of displaying PipelineRuns containing inline Pipeline specs.
Any code / UI relating to PipelineRuns should not make assumptions about having a standalone Pipeline definition (i.e. `pipelineRef`).

# Actual Behavior
The PipelineRuns component makes assumptions about the presence of `pipelineRun.spec.pipelineRef.name` which breaks the UI in the cas

[2019-12-11 12:27] AlanGreene opened #830 "Ensure dashboard correctly handles inline PipelineResource specs"
# Expected Behavior
The dashboard should be capable of handling inline PipelineResource specs. Any code / UI relating to PipelineResources should not make assumptions about having a standalone PipelineResource definition.

For example, display of resources associated with a given TaskRun should account for this.

# Actual Behavior

# Additional Info
We had an issue with TaskRuns (including a recen

[2019-12-11 12:55] #815 closed

[2019-12-11 14:28] carlos-logro commented on #817
/assign

[2019-12-11 15:18] AlanGreene opened #832 "PipelineRuns and TaskRuns tables should include status information to help identify issues"
# Expected Behavior
The PipelineRuns and TaskRuns lists should include information to help the user identify "interesting" runs, e.g. timed out / failed, at a glance and provide links to more relevant information for further debugging.

# Actual Behavior
We currently display the status message in the table. In case of failures, this can be quite a large chunk of text. Here's an example of the Task

[2019-12-11 15:19] AlanGreene commented on #832
I've attempted to capture the slack discussion here, feel free to update if I've missed anything.

[2019-12-11 18:11] #827 closed

[2019-12-11 21:47] carlos-logro commented on #727
Based on the issue that Alan referenced aboved, the wire frames should be updated to include the service account name.

[2019-12-11 21:48] carlos-logro commented on #816
/assign

[2019-12-11 22:38] AlanGreene commented on #727
@carlos-logro I simply referenced the 2 currently open design issues related to service accounts and secrets so this request could be discussed/considered as part of that work.

There are some technical considerations we should be aware of, such as how we can identify which service accounts a given secret is patched onto? Currently the connection is one way, in the opposite direction (service acco

[2019-12-12 12:02] AlanGreene commented on #832
Code change used to generate the updated screenshots above: https://github.com/AlanGreene/dashboard/commit/11ba889d2e5c152ddff2df4d104b71a5b4be8bc7?w=1

[2019-12-12 17:40] carlos-logro commented on #727
I just checked this and I can confirm what you said about it being in an opposite direction. It can be done by building the list but its kinda inefficient given that we'll need to loop through the SAs, and during that loop iterate through each respective list of secrets. Finally we need to loop through the secrets to make the output for the table so in short to render the table properly three loop

[2019-12-12 17:51] carlos-logro commented on #727
@AlanGreene here is a draft approach:
*serviceAccounts fetched from store with reducer*
[code]

[2019-12-12 19:48] carlos-logro opened #837 "Incomplete Table Division when column contains buttons"
# Expected Behavior
Table division should go across the whole table.
<img width="1394" alt="Screen Shot 2019-12-12 at 2 43 02 PM" src="https://user-images.githubusercontent.com/49996607/70743431-b9e76d00-1ced-11ea-88f0-d29509f2c662.png">

# Actual Behavior
Division is partially across.
<img width="1386" alt="Screen Shot 2019-12-12 at 2 41 21 PM" src="https://user-images.githubusercontent.com/49996

[2019-12-13 09:33] Megan-Wright commented on #807
/assign

[2019-12-13 09:50] Megan-Wright commented on #806
/assign

[2019-12-13 11:05] mnuttall opened #839 "De-duplicate dashboard config and update release process"
Further to tektoncd/experimental#403 and tektoncd/plumbing#156 we should refactor the config/ directory to de-duplicate the 'openshift' directory.

Other things to do at the same time:
- Update our 'release 0' - nightly build - instructions to use a stable GCS url to pick up the latest config
- Split the RBAC permissions up so that we can generate a 'locked down' dashboard with no edit or delete p

[2019-12-13 12:37] steveodonovan opened #840 "PipelineRuns dashboard view has some styling issues"
# Description

Seeing the icon for a pipeline run status appear on top of the status. Also the header above the overflow menu looks off. @Megan-Wright @AlanGreene Possibly related to the move to data tables? either of you aware ? Also seeing in the storybook

![Screenshot 2019-12-13 at 12 27 54](https://user-images.githubusercontent.com/18128367/70800783-06da4a80-1da5-11ea-9694-60c83877cb4a.png)

[2019-12-13 13:29] Megan-Wright commented on #840
@steveodonovan Yep we were trying to get the move to data tables in ASAP due to it preventing other work from being done - so the styling is by no means perfect.. I'll have a go at fixing up the issues you've raised now 😸

[2019-12-13 13:29] Megan-Wright commented on #840
/assign

[2019-12-13 14:24] steveodonovan commented on #817
FYI, paging is also an important part of why this wasn't enabled. The apiserver does not support sorting natively. I suggest having this piece worked before enabling sorting

[2019-12-13 14:33] carlos-logro commented on #840
although its not the issue being tackled, I noticed this issue and included the simple solution in the PR #833

[2019-12-16 14:39] a-roberts commented on #807
Merged so closing

[2019-12-16 14:39] #807 closed

[2019-12-16 14:49] #837 closed

[2019-12-16 14:49] #840 closed

[2019-12-16 15:21] a-roberts opened #842 "Implement pagination and sorting method"
# Expected Behavior
As a Tekton Dashboard user I should be able to sort/view records without suffering from poor performance (in terms of animations and rendering) so that I don't have a dreadful and frustrating experience

# Actual Behavior
No such sorting or pagination exists
# Steps to Reproduce the Problem

1. Deploy the dashboard and create many PipelineRuns
2. There's no pagination
3. If sor

[2019-12-16 15:29] AlanGreene opened #843 "Update how we identify the correct pod to use for logs"
See https://github.com/tektoncd/pipeline/issues/1689 and associated PR for details.

TL;DR:
`.status.podName` may be removed in future. We should consider updating our strategy to identify the correct pod, i.e. by using `labelSelector` with `tekton.dev/taskRun={taskRunName}`.

[2019-12-16 16:15] AlanGreene opened #844 "Ensure consistent styling across Trigger pages"
# Expected Behavior
We should have a set of consistent styles used across all of the Trigger pages, without duplication.

# Actual Behavior
https://github.com/tektoncd/dashboard/pull/797/files#r355993142

# Additional Info
We should remove page-specific styles where possible to ensure consistency and reduce maintenance overhead. Ideally most pages would have very little specific styling applied, i

[2019-12-16 17:33] AlanGreene commented on #839
Related: https://github.com/tektoncd/dashboard/issues/822

[2019-12-17 14:31] a-roberts commented on #669
Merged so closing 🎂

[2019-12-17 14:31] #669 closed

[2019-12-17 15:00] anneqm commented on #469
@a-roberts @dibbles is this still an issue now that #688 is closed?

[2019-12-17 16:24] Megan-Wright commented on #772
/close

[2019-12-17 16:24] #772 closed

[2019-12-17 16:50] carrenelloyd opened #845 "Publish dashboard's storybook in public tekton"
# Expected Behavior
The current storybook should be publicly accessible to all developers so that users can inherit components and add new components they built easily as an open-source project.

# Actual Behavior
The current storybook is private on Alan's local server

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info
Add styleguide section to storybook (try to keep to a minimum & mos