[2019-12-17 17:04] AlanGreene commented on #845
We have an npm script that builds and deploys the storybook. By default it will publish to the remote `origin` on branch `gh-pages` which will make it available at `https://<username>.github.io/dashboard`.

This is how I've been deploying it to my fork (https://alangreene.github.io/dashboard/) so far.

Should we publish the storybook on each merge (so it always represents `master`) or only on rele

[2019-12-17 19:02] carrenelloyd opened #846 "New storybook components"
# Expected Behavior
The current storybook should have all of the custom components and patterns Tekton needs in the application so that it complies with Carbon standards. This list should be expected to grow as the application progresses over time.

# Actual Behavior
The current storybook only has a portion of the components and patterns needed in the product

# Steps to Reproduce the Problem

Her

[2019-12-17 22:36] AlanGreene opened #850 "Update list views to display created timestamp and run duration"
# Expected Behavior
List views should display the creation timestamp for each resource.
For runs (PipelineRuns / TaskRuns) they should also display the duration / execution time.

# Actual Behavior
PipelineRuns and TaskRuns display the time of the last update only.
(most) Other resources do not display any timestamps.

[2019-12-18 11:32] Megan-Wright commented on #611
/close

[2019-12-18 11:32] #611 closed

[2019-12-18 15:03] carlos-logro commented on #366
/assign

[2019-12-19 09:38] a-roberts commented on #671
@AlanGreene has approved my PR but I've just added some more feedback in response to his and I'm done for the Christmas break now, thanks all - let's get this in (and I'd like to fix the flashing datatable on hover) later 😄

[2019-12-19 15:20] Megan-Wright commented on #806
/unassign

[2019-12-27 10:29] CarolynMabbott commented on #787
/assign

[2019-12-27 12:19] CarolynMabbott opened #854 "Error message when creating pipelinerun with no timeout"
# Expected Behavior
Get a error stating what is wrong when I create a pipelinerun with no timeout

# Actual Behavior
I get this error
`Error creating PipelineRun
an error on the server ("unknown") has prevented the request from succeeding (error code 404)
`

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2019-12-27 12:27] CarolynMabbott commented on #854
/assign

[2019-12-27 13:54] CarolynMabbott opened #856 "Error when trying to rerun a PipelineRun on Tekton 0.9"
# Expected Behavior
I can rerun a pipelinerun in pipeline 0.9

# Actual Behavior
When I try and run it on my local system using Docker Desktop
An error occurs
`An internal server error occurred when rerunning this PipelineRun: check the dashboard and extension pod logs for details`

[code]

# Steps to Reproduce the Problem

1. Create a pipelinerun when using pipeline 0.9
2. Try and rerun pipeliner

[2019-12-27 13:54] CarolynMabbott commented on #856
/assign

[2020-01-02 11:00] Megan-Wright commented on #856
I've also replicated this on my machine and come across the exact same problem

[2020-01-02 12:47] AlanGreene commented on #800
Draft PR showing the status values on the tables as described above: https://github.com/tektoncd/dashboard/pull/836
Example of how this could look:
![image](https://user-images.githubusercontent.com/2829095/71667680-0e669100-2d5e-11ea-8927-ad95fa2d9e3d.png)

[2020-01-02 14:24] Megan-Wright opened #857 "Full width of secrets table body doesn't render when there are no secrets created"
Expected Behaviour: The secrets table should be consistent with the rest of the tables when there are no secrets present.

Actual Behaviour:
When a user has no secrets created, the table doesn't render the annotations column within the table body.
![Screenshot 2020-01-02 at 14.21.45.png](https://images.zenhubusercontent.com/5d25b016e0bbdc62005f7da6/868ce897-b881-4c89-ac7b-e93d6a115081)

Steps to r

[2020-01-02 14:24] Megan-Wright commented on #857
/assign

[2020-01-02 15:03] carlos-logro commented on #488
/assign

[2020-01-06 11:21] Megan-Wright commented on #806
/assign

[2020-01-06 11:29] a-roberts commented on #650
PR by Alan https://github.com/tektoncd/dashboard/issues/850 here, I've just reviewed it so should be merged shortly, thanks for this feature request let's consider it done 👍

[2020-01-06 11:29] #650 closed

[2020-01-06 12:07] AlanGreene opened #861 "PipelineRuns component should support adding custom columns"
# Expected Behavior
Consumers should be able to inject custom columns into the PipelineRuns component.

# Actual Behavior
This is not possible.

# Additional Info
Consumers may want to add additional information (such as trigger / event listener) to each run.
The dashboard itself may eventually add this information but we should allow consumers the ability to augment the table with this or other i

[2020-01-06 13:36] Megan-Wright commented on #856
[code]

[2020-01-06 14:46] #850 closed

[2020-01-06 14:46] vtereso commented on #682
/assign

[2020-01-06 16:21] CarolynMabbott commented on #856
When the Gopkg.lock file is deleted and dep ensure / npm ci / ko apply is run again then you get the following error
[code]

The apimachinery  seems to need to upgraded in the Gopkg.toml file however it is already at version = "kubernetes-1.12.6"
This might cause problems with Openshift if it is updated as Openshift uses old versions of kubernetes

[2020-01-06 18:33] #857 closed

[2020-01-07 09:51] a-roberts opened #865 "Check published dashboard containers don't run as root"
See https://github.com/tektoncd/dashboard/pull/862#pullrequestreview-339124743, @mnuttall and I suspect we need changes under the tekton directory as well so that published (through the Tekton pipeline we have) containers aren't running as root either

[2020-01-07 10:08] dibbles opened #866 "Warning required when patching service account with secret for duplicate git server"
# Expected Behavior

I "think" Tekton doesn't support a service account patched with two secrets (two different git userids) accessing the same git server.  Hence the annotation on the secrets both pointing to the same git server.

I would expect some sort of warning with confirmation button if I am patching a service account in such a way that it might cause me problems.

# Actual Behavior

You c

[2020-01-07 11:51] AlanGreene opened #868 "Left nav not showing selected resource type when viewing a single trigger resource"
# Expected Behavior
The left nav should always show the selected resource type, as it does for Pipelines, runs, etc.
![image](https://user-images.githubusercontent.com/2829095/71893450-9fb17b00-3143-11ea-8da8-0f234f25dff9.png)

# Actual Behavior
Follow up from https://github.com/tektoncd/dashboard/pull/784#pullrequestreview-339181730

When viewing a list of trigger resources (i.e. EventListeners,

[2020-01-07 13:43] a-roberts commented on #671
Merged, it's not perfect (initial approach was with accordions and they were awkward to use and style, then nested expandable datatables but this introduced horrible flashing behaviour and it's not something Carbon recommend or support) - either way we now have all the details pages, cheers all ⛱

[2020-01-07 13:43] #671 closed

[2020-01-07 13:44] a-roberts commented on #670
This is merged so closing

[2020-01-07 13:44] #670 closed

[2020-01-07 13:48] a-roberts commented on #844
Note that this may be complete now (we've just merged the last of the triggers pages so, todo, have a good check)

[2020-01-07 14:30] ncskier commented on #709
/assign

[2020-01-07 15:23] ncskier commented on #366
Is https://github.com/tektoncd/dashboard/issues/733 a duplicate of this issue?

[2020-01-07 15:46] dibbles commented on #366
looks like it to me - suggest closing one out

[2020-01-07 16:15] a-roberts commented on #829
Carlos' PR is merged for this so closing

[2020-01-07 16:15] #829 closed

[2020-01-07 16:20] a-roberts commented on #806
Merged so closing

[2020-01-07 16:20] #806 closed

[2020-01-07 18:09] AlanGreene commented on #832
Following discussion with design today we're moving the status column to the left and hiding the status reason. Personally I prefer having the reason displayed (for reasons such as 'cancelled', 'timed out', etc.) in the table but agree that having 'Failed' or 'Succeeded' displayed on most rows isn't particularly useful as that information is already conveyed by the icon.

For now we'll include the

[2020-01-07 18:49] mii-w opened #872 "View correct Namespace when Imported Resources are successful"
### Expected Behavior
_____
After importing resource, the user accesses resource in the same namespace in which the resource is created or imported in.

### Actual Behavior
___
The view currently defaults to the previous Namespace instead of using the new created or imported resource Namespace
![Screen Shot 2020-01-07 at 1.47.55 PM.png](https://images.zenhubusercontent.com/5d0143281319ca3bc1af80ed

[2020-01-07 18:53] mii-w commented on #872
@kimholmes

[2020-01-08 16:01] CarolynMabbott opened #875 "Cant create pipelinerun on Openshift and Docker using a service account"
# Expected Behavior
Can create a pipelinerun using a service account

# Actual Behavior
Can create a pipelinerun when not using a service account to run
Cant create a pipelinerun when using a service account

Applied to both create pipelinerun and import tekton resources

The page where it goes to where it says 404 not found does exist and but when you go to the page it has pipelineruns there
Can

[2020-01-08 18:31] vtereso commented on #680
Do we know if the issue is on the back-end and/or the front-end?

[2020-01-09 20:47] ncskier opened #885 "Clean up PipelineRun component and TaskRun container code"
While working on PR https://github.com/tektoncd/dashboard/pull/878, I noticed a few things about the [PipelineRun](https://github.com/tektoncd/dashboard/blob/master/packages/components/src/components/PipelineRun/PipelineRun.js) component and [TaskRun](https://github.com/tektoncd/dashboard/blob/master/src/containers/TaskRun/TaskRun.js) container code that could be cleaned up/simplified.
1. The Task

[2020-01-10 14:30] a-roberts commented on #875
This was due to mismatching Tekton Pipeline and Dashboard versions, we're gonna make the error surfaced as part of https://github.com/tektoncd/dashboard/issues/779, closing

[2020-01-10 14:30] #875 closed

[2020-01-10 14:30] #854 closed

[2020-01-10 14:35] a-roberts commented on #779
Ready to be picked up again now

[2020-01-10 23:55] carlos-logro commented on #868
/assign

[2020-01-10 23:57] carlos-logro commented on #816
merged so closing
/close

[2020-01-10 23:57] #816 closed

[2020-01-13 09:49] a-roberts commented on #856
Locking down to 0.8 (https://github.com/tektoncd/dashboard/pull/881) has fixed this - so we end up with pipelinerun_types.go which had serviceAccount in not serviceAccountName, it's serviceAccountName in 0.8 and 0.9 so closing

[2020-01-13 09:49] #856 closed

[2020-01-13 09:50] #682 closed

[2020-01-13 11:06] #832 closed

[2020-01-13 11:29] Megan-Wright commented on #247
/assign

[2020-01-13 12:48] #709 closed

[2020-01-13 14:02] CarolynMabbott opened #888 "Timing issue in Integration test"
Issue in Integration tests where the dashboard pod seems to not come up before the check `wait_until_pods_running tekton-pipelines` has completed
This leads to the issue
[code]

This causes the test to fail like:
[code]

[2020-01-13 14:02] CarolynMabbott commented on #888
/assign

[2020-01-13 14:39] a-roberts commented on #888
Merged this so closing

[2020-01-13 14:39] #888 closed

[2020-01-13 14:39] CarolynMabbott commented on #779
/assign

[2020-01-13 19:00] carlos-logro commented on #868
merged so closing.
/close

[2020-01-13 19:01] #868 closed

[2020-01-13 19:01] carlos-logro commented on #488
merged so closing
/close

[2020-01-13 19:01] #488 closed

[2020-01-14 03:55] carlos-logro commented on #451
/assign

[2020-01-14 04:02] carlos-logro commented on #505
/assign

[2020-01-14 15:42] dacleyra opened #892 "Feature Request: Validate git/docker secret in UI"
Consider a validation stage to the git/docker secret creation in the dashboard ui.

As to prevent later failure in pipeline stage during pull/push due to invalid credential.

[2020-01-14 15:48] AlanGreene commented on #892
Related: https://github.com/tektoncd/dashboard/issues/538

[2020-01-14 16:07] anneqm opened #894 "Test with and provide known operator install for OpenShift 4.3"
for an upcoming release of Kabanero (0.6.0) we need to test with OpenShift 4.3, identify and resolve any gaps, and may need to provide an operator, similar to  OpenShift 4.2 issue https://github.com/tektoncd/dashboard/issues/648.

[2020-01-14 17:49] AlanGreene opened #895 "Make URLs in logs clickable"
Being able to click on URLs in the log output would be very useful.

The ansi-to-react component we currently use to render the logs has support for this via the `linkify` prop but it has a number of bugs / limitations.

See https://github.com/tektoncd/dashboard/pull/873#issuecomment-574293426 for more.

[2020-01-15 10:37] #787 closed

[2020-01-15 17:59] rnapoles-tktn opened #900 "Can not access Tekton menu items using the keyboard with Firefox"
**Problem:**
When using Firefox (68.4.1esr (64-bit) on MacOS) I can not navigate the Tekton left menu using the keyboard.
(Works as expected on Chrome)

**Expected Result:**
User should be able to navigate the UI using the keyboard.

**Steps to reproduce:**
Use Firefox 68.4.1esr (64-bit) on MacOS to navigate to the Tekton homepage. Use the tab key to try to select all the left side menu options.
T

[2020-01-15 19:06] chmouel commented on #900
Or nevermind, @vdemeester kindly had the rights to transfer your issue on `tektoncd/dashboard`

[2020-01-15 20:40] AlanGreene commented on #895
To consider:
- https://www.npmjs.com/package/react-linkify
- or use linkify-it directly: https://www.npmjs.com/package/linkify-it
- ...?

[2020-01-16 10:43] a-roberts commented on #900
Made a new accessibility label but really I think this is about having the dashboard well tested using Selenium (@rnapoles-tktn mentioned this on our daily scrum calls at IBM we have), I'm curious if this is the case in other browsers too so it'll be great for anyone to pick this up

[2020-01-16 11:15] a-roberts opened #902 "Flaky test extension problems (timeout deleting extension)"
# Expected Behavior
Our unit tests should reliably pass

# Actual Behavior

[code]

seen with https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_dashboard/901/pull-tekton-dashboard-unit-tests/1217759636258557952/

# Steps to Reproduce the Problem

1. Run our unit tests for a PR on Prow (should be able to do this locally too)

# Additional Info
We have a long history with o

[2020-01-16 11:22] AlanGreene commented on #900
@rnapoles-tktn I can't reproduce this in either Firefox ESR (68.4.1) or latest (72.0.1). In both cases the tab key correctly moves through all of the left nav items, including Import Tekton Resources etc.

The left nav is based on the Carbon SideNav component so I'd be curious to know if you have the same issue on their storybook for this component. This might help us narrow down your issue. http:

[2020-01-16 14:46] rnapoles-tktn opened #903 "Dropdown fields use DIV tag instead of SELECT causing automation to throw UnexpectedTagNameException"
Problem:
All Dropdown fields use DIV tag instead of SELECT. This prevents the selenium automation to click the elements when trying to gain access to them by ID or xpath, and when using the SEELCT selenium class I get:
UnexpectedTagNameException: Element should have been "select" but was "div"
The dropdown is implemented this way:
![image.png](https://images.zenhubusercontent.com/5db346d5b0111c000

[2020-01-16 15:26] a-roberts opened #904 "Trigger resources not displayed on Tekton Dogfooding cluster"
# Expected Behavior
Triggers is installed and there are Trigger resources - we should display the Trigger SideNav items

# Actual Behavior
They're not seen on the cluster @afrittoli is using, he's picked up our 0.4.0 release. I see them fine on Docker Desktop and OCP 4.2. We have matching CRDs for EventListener.

Here's the detection code:
https://github.com/tektoncd/dashboard/commit/8c6db8579029c

[2020-01-16 15:53] AlanGreene commented on #903
This looks like code from the webhooks-extension: https://github.com/tektoncd/experimental/blob/b0a597ed18ed7cfda6c16488461c33675dd269b1/webhooks-extension/src/components/WebhookCreate/WebhookCreate.js

@rnapoles-tktn if you can confirm this is for the webhooks-extension we can get the issue moved over to the tektoncd/experimental repo

[2020-01-16 19:44] ncskier opened #907 "Flakey unit tests for CreatePipelineRun.test.js"
In my latest Pull Request, I saw a failure with the `CreatePipelineRun` tests even though I had not modified the `CreatePipelineRun` file. After running the unit tests again with `/test tekton-dashboard-unit-tests`, the tests passed. This indicates that the unit tests are flakey.

Here's a link to the Pull Request where I saw the test failure: https://github.com/tektoncd/dashboard/pull/906#issueco

[2020-01-16 20:37] vtereso commented on #902
/assign

[2020-01-16 20:49] vtereso commented on #902
I have tracked it down to the informer event handler not being called (~4/100 times locally).

[2020-01-16 21:17] rnapoles-tktn commented on #900
@AlanGreene I tried on the storybook for the select component and I can navigate through the options using the same browser with which I have the problem in Tekton, however, when I inspect the code, the select in tekton is not implemented the same way as in the storybook.
Tekton:
![image](https://user-images.githubusercontent.com/57016183/72563273-4ea83200-387b-11ea-9544-bf209743796c.png)

Carbon

[2020-01-17 11:51] a-roberts commented on #904
Vincent and I had a quick investigation into this yesterday with help from @afrittoli, logging what we know so far

- Testing's been done on Kubernetes 1.12 and 1.14 on our end - the dogfooding cluster runs 1.13+gke
- My suggested plan is to print any error we get in the catch when we do the request
- @vtereso thinks the apigroup URL may differ on the 1.13 version

[2020-01-17 16:09] ncskier opened #909 "TaskRun running wheel does not appear immediately"
# Expected Behavior
I expect to see something indicating that my TaskRun has started running after it is created.

# Actual Behavior
I expect the running icon to appear in front of my TaskRun immediately. Instead, there is a delay of a few seconds before the icon appears.
![Screen Shot 2020-01-17 at 10 41 21 AM](https://user-images.githubusercontent.com/16961496/72625178-4f41d680-3916-11ea-8038-8e

[2020-01-17 16:50] AlanGreene commented on #909
hrmm yeah seeing this intermittently when my cluster is a bit slow. We could add another icon for this pending state, or use the same running spinner.

[2020-01-17 19:03] AlanGreene opened #911 "Update categories for dashboard extension CRD"
See discussion in https://github.com/tektoncd/pipeline/issues/1246 for background.

Update the categories for the dashboard extension CRD:
- remove 'all'
- add 'tekton' which is used for all tekton project CRDs
- add 'tekton-dashboard' for dashboard-specific CRDs

[2020-01-17 19:17] rnapoles-tktn opened #913 "README.md - Wrong URLs in step 1 for both Install Dashboard and Install on OpenShift"
Problem:
404 error when executing:
kubectl apply --filename https://github.com/tektoncd/dashboard/releases/download/v0.4.0/dashboard-latest-release.yaml
or
kubectl apply --filename https://github.com/tektoncd/dashboard/releases/download/v0.4.0/dashboard-latest-openshift-tekton-dashboard-release.yaml --validate=false
 as the provided URLs do not exist.

Expected:
The correct URLs are:
https://githu

[2020-01-19 03:36] anxinyf opened #916 "Can not rebuild (rerun) PipelineRuns"
# Expected Behavior

Want to rerun the PipelineRun into Running status.

# Actual Behavior
After rerun a pipelinerun(origin pipelinerun is succeed) on dashboard, the new generated pipelinerun is missing .spec.serviceAccountName so that the pipelinerun is failed because of incorrect access rights.

[2020-01-19 21:48] maelvls commented on #913
I proposed a fix in #917

[2020-01-20 10:44] a-roberts opened #918 "Assess the move to Triggers 0.2 (Dashboard)"
As an end user I expect to be able to use the Tekton Dashboard with Triggers 0.2. When using the webhooks extension there's a fundamental flaw with our architecture too - a user can't create more than eight webhooks or they'll get an admission webhook timeout error (more details at https://github.com/tektoncd/triggers/issues/356)

Related webhooks issue https://github.com/tektoncd/experimental/iss

[2020-01-20 10:52] a-roberts commented on #918
Issues found when installing Triggers 0.2 after having the dashboard and extension and Triggers 0.1 already installed:

1) No displaying of Trigger resources

Failed to load resource: the server responded with a status of 404 (Not Found)
https://tekton-dashboard-tekton-pipelines.apps.ridgy.os.fyre.ibm.com/proxy/apis/apiextensions.k8s.io/v1beta1/customresourcedefinitions/eventlisteners.tekton.dev

[2020-01-20 11:16] a-roberts opened #919 "Trigger resources not displayed on OpenShift"
Surely introduced by https://github.com/tektoncd/dashboard/issues/815

On our 0.3 release, no check is made to see if the EventListener CRD is known
It is with the 0.4 release

Request details

[code]

This could be related but the k8s version is very different (1.13+gke), so assume it's different: https://github.com/tektoncd/dashboard/issues/904

There's nothing for https://tekton-dashboard-tekto

[2020-01-20 11:21] a-roberts commented on #919
Fixed with

[code]
 in the cluster role, PR coming up

[2020-01-20 11:25] a-roberts commented on #919
PR https://github.com/tektoncd/dashboard/pull/920

[2020-01-20 11:26] a-roberts commented on #918
Fix for trigger resource displaying on OpenShift https://github.com/tektoncd/dashboard/pull/920

[2020-01-20 11:27] a-roberts commented on #904
https://github.com/tektoncd/dashboard/issues/919 likely fixes this

[2020-01-20 13:09] mnuttall opened #921 "Publish latest yaml with latest image"
# Expected Behavior

Installing the latest dashboard image should use the latest yaml

# Actual Behavior

Latest images should be installable via a tekton bucket link as per the dashboard, and https://github.com/tektoncd/dashboard/pull/691#issuecomment-549633461. We've not wanted to make thhe GCS bucket API, but we should at least designate a permanent url for the latest build. The dashboard build

[2020-01-20 13:42] a-roberts commented on #913
Merge in progress, apologies all

[2020-01-20 13:42] #913 closed

[2020-01-20 13:58] a-roberts opened #922 "Assess moving up to support Tekton Pipelines 0.10"
Under this issue have a look to see what problems there are already and see if there are any opportunties to show off more new features that users now have access to

This issue's especially important because of the webhooks extension which relies on fixes delivered into master (and therefore likely the 0.10 release) around multiple SCM support

A good place is to start is to simply build the late

[2020-01-20 15:12] #560 closed

[2020-01-20 15:31] a-roberts commented on #916
Hey @anxinyf, can you share your dashboard and pipelines version please (I've just modified our issue template for future ref)?

We've seen this before when the pipeline code we were referencing in our Gopkg.toml file only had `serviceAccount` not `serviceAccountName`, I'm wondering if it's an older PipelineRun you have too

[2020-01-20 16:25] a-roberts commented on #904
@afrittoli has confirmed the fix I've got (#919) fixes the issue so I'm going to close this one - will be in our 0.4.1 release shortly, it's mildly irritating we get an unknown error back from the Proxy but it was definitely the cause

[2020-01-20 16:25] #904 closed

[2020-01-20 17:13] a-roberts commented on #919
Merged and in the 0.4.1 release I've just done, closing

[2020-01-20 17:13] #919 closed

[2020-01-20 17:21] rnapoles-tktn opened #925 "Add IDs to Web elements (Required for automation scripts)"
Problem:
Many web elements are not assigned IDs. The use of IDs provide reliability to automated test scrips so that the automation can consistently set focus on elements.

Expected:
Please add IDs to the following web elements:
Left menu:
- [x] Tekton dropdown
- [x] Pipelines menu option
- [x] PipelineRuns menu option
- [x] PipelineResources menu option
- [x] Tasks menu option
- [x] ClusterTasks

[2020-01-20 17:24] a-roberts commented on #916
This is a weird one, with master (ko applying) I noticed this error:

[code]

With 0.4.1
[code]

then
[code]
in the UI.

[code]

Notice the rebuilt run having no info. This should be looked into with both master and the 0.4.1 release, things don't look right...

[2020-01-20 18:12] carlos-logro commented on #451
/close

[2020-01-20 18:12] #451 closed

[2020-01-20 18:14] carlos-logro commented on #366
this one has been merged and #733 looks to be the hi-fidelity designs so that one should stay open for now.

/close

[2020-01-20 18:14] #366 closed

[2020-01-20 19:37] AlanGreene commented on #903
Most of the common dropdowns (e.g. namespace) used in the dashboard UI are based on the Carbon Dropdown component. You can find details here: http://react.carbondesignsystem.com/?path=/story/dropdown--default

If your automation is expecting a HTML select element then that would explain why you're running into an unexpected error.

Ideally the automation would interact with the UI as a real user d

[2020-01-20 19:37] #903 closed

[2020-01-20 20:53] AlanGreene commented on #900
@rnapoles-tktn the Tekton screenshot in your comment shows the SideNav menu and menu items, the Carbon screenshot shows the Select component. These are unrelated components.

The dashboard uses the [carbon-components-react](https://www.npmjs.com/package/carbon-components-react) component library which is published by the Carbon team, so I would expect the DOM structure of the basic components to v

[2020-01-21 14:17] CarolynMabbott opened #929 "Dashboard tells me there is a new dashboard available"
# Expected behavior
Dashboard should tell me when a new update is available
Sort of like an annoying pop up but with useful info

# Actual behavior
I have to manually check if there is a new dashboard available

# Steps to reproduce the problem

1.
2.
3.

# Environment (e.g. Docker Desktop, OpenShift)

# Tekton Pipelines version (e.g. 0.9.2, 0.8.0, master)

# Tekton Triggers version (e.g. 0.2, 0.1

[2020-01-21 14:18] CarolynMabbott commented on #929
/kind feature

[2020-01-21 14:22] CarolynMabbott opened #930 "Can't install release (0.6.1) / nightly release to a specific namespace"
# Expected behavior
Can install nightly release into any namespace

# Actual behavior
I cant install to namespace default

# Steps to reproduce the problem

1. Try to install nightly release into default namespace
2.
3.

# Environment (e.g. Docker Desktop, OpenShift)

# Tekton Pipelines version (e.g. 0.9.2, 0.8.0, master)
Nightly

# Tekton Triggers version (e.g. 0.2, 0.1, master)

# Tekton Dashboa

[2020-01-21 14:28] a-roberts commented on #916
I've checked this behaviour isn't seen on a clean 0.4.1 install
[code]

so @anxinyf please have a check with our latest 0.4.1 release and let us know more information about your environment 🤞

[2020-01-21 15:59] a-roberts opened #932 "Tasks should be sorted in Pipeline spec order not alphabetically"
# Expected behavior
Tasks should be sorted by the order they are defined in the Pipeline, not alphabetically

# Actual behavior
They're sorted alphabetically

# Steps to reproduce the problem

1. Create a PipelineRun with at least three tasks
2. Refresh the page once all tasks complete and see they're ordered alphabetically

# Environment (e.g. Docker Desktop, OpenShift)
All

# Tekton Pipelines ve

[2020-01-21 16:09] a-roberts commented on #929
Yeah, this would be cool - so how about in the corner mention that a new version of the dashboard is available and have a button that would then kube apply the latest image? Or, provide a command that lets the user do it trivially that they can copy and paste.

[2020-01-21 16:11] a-roberts commented on #918
@ncskier and I have been contemplating and testing this, so with an EventListener made with 0.1, and then with Triggers 0.2 installed, everything appears great - including TriggerTemplates and TriggerBindings.

We think there'll be a problem when we have multiple interceptors (in that they won't be picked up from the array, as you can now have multiple) and the same principle applies for bindings

[2020-01-21 16:51] a-roberts commented on #918
@kimholmes hey Kim, here's the item for assessing the Triggers 0.2 move - so once it's done, please work with @kimholmes and co on progressing this item forwards

We're thinking of doing the move to Triggers 0.2 *after* we move to Pipelines 0.10.

[2020-01-21 16:56] AlanGreene opened #933 "Copying and pasting logs should preserve line endings"
# Expected behavior
Copying and pasting logs from the run details page should preserve newlines.

# Actual behavior
For example, copying and pasting this from the tekton pipeline logs:

[code]

currently results in:

`+ ibmcloud login -a https://cloud.ibm.com -r us-south -g IKS-CDAPI endpoint: https://cloud.ibm.comLogging in with API key from environment variable...Authenticating...OK`

# Addition

[2020-01-21 20:47] ncskier commented on #918
I think Adam pretty much covered everything, but here's a summary so we can view everything at once (let me know if I missed anything):

### TriggerTemplate list & details pages
No change

### TriggerBinding list & details pages
No change

### EventListener details page
1. Multiple _interceptors_
EventListener triggers can now have multiple _interceptors_ instead of just one. So, we must display t

[2020-01-22 13:28] #911 closed

[2020-01-22 15:01] steveodonovan opened #936 "TaskRuns should have a rendering for retries"
# Expected behavior

The taskRun tree should have some output for retried taskRuns

# Actual behavior

From the dashboard pov it looks like just the one taskRun and run.

# Additional Info

Sample taskRun Resource with retries

[code]

[2020-01-22 15:08] steveodonovan commented on #936
/assign

[2020-01-22 15:26] AlanGreene commented on #936
This is something we should look at as part of / after the move to the new design for the run details page: https://github.com/tektoncd/dashboard/issues/675#issuecomment-547079284

We should work with design to figure out how to incorporate information about the retries. I'm not sure if they warrant their own item at the top level of the accordion, or if they should be surfaced in some other way.

[2020-01-22 16:43] ncskier commented on #779
It seems unnaturally difficult to figure out what version you're running (you have to use the hash). I've created issues in the Pipeline & Triggers repos to add `version` labels to the deployments:
- https://github.com/tektoncd/pipeline/issues/1919
- https://github.com/tektoncd/triggers/issues/372

Even though we aren't using the `version` label in this issue, to be proactive I think that we shoul

[2020-01-22 17:03] a-roberts commented on #779
@ncskier good points, @vdemeester FYI because of the cri-o implications (if we were to go with the tag approach as well as the digest, perhaps we need a second yaml too bc of this). So having `version` somewhere would be a real improvement.

[2020-01-22 18:12] kimholmes opened #937 "Front End Development for Triggers UI"
This issue provides front end development specifications to build the Triggers UI of the dashboard. These designs are based on UX iterations between the design and development teams and are based on previous design specs located under this Epic:

https://github.com/tektoncd/dashboard/issues/675
The design contact is @ carrenelloyd

![TriggerTemplate_Details](https://user-images.githubusercontent.c

[2020-01-22 18:35] carrenelloyd commented on #937
Please ping me on Slack with any questions.
Slack: @carrie

[2020-01-22 18:46] kimholmes commented on #937
@carlos-logro @AlanGreene

[2020-01-22 19:18] AlanGreene commented on #907
I've been hit by this a few times this week so assigning myself. Can't reproduce locally but will submit some changes I suspect will help with at least one of the failures.

[2020-01-23 11:22] CarolynMabbott commented on #779
@ncskier The tag would have been the only displayed with the method i put in in the PR. However I have changed it now to use a label instead on the deployment so it wont break on Openshift

[2020-01-23 11:54] AlanGreene commented on #509
Closing this, remaining design updates tracked in https://github.com/tektoncd/dashboard/issues/937

[2020-01-23 11:54] #509 closed

[2020-01-23 11:55] AlanGreene commented on #725
Remaining work tracked in https://github.com/tektoncd/dashboard/issues/937 for consistency across the trigger pages

[2020-01-23 11:55] #725 closed

[2020-01-23 11:55] AlanGreene commented on #724
Remaining work tracked in https://github.com/tektoncd/dashboard/issues/937 for consistency across the trigger pages

[2020-01-23 11:55] #724 closed

[2020-01-23 11:56] AlanGreene commented on #726
Remaining work tracked in https://github.com/tektoncd/dashboard/issues/937 for consistency across the trigger pages

[2020-01-23 11:56] #726 closed

[2020-01-23 13:22] a-roberts commented on #918
Assessments done so I'll make follow-up issue(s) for getting it in, keeping https://github.com/tektoncd/dashboard/issues/937 in mind

[2020-01-23 13:22] #918 closed

[2020-01-23 13:24] a-roberts opened #944 "Support Triggers 0.2 features in the dashboard"
With the assessment done, under this task go ahead and do it, so specifically we want to:

1) Install Triggers 0.2
2) Read through https://github.com/tektoncd/dashboard/issues/918 and https://github.com/tektoncd/dashboard/issues/937
3) Make the changes and test/contribute

The assessment task (#918) should include all of the changes we'll have to make. If it does turn into something many folks can

[2020-01-23 13:25] a-roberts commented on #922
Release notes https://github.com/tektoncd/pipeline/releases/tag/v0.10.0

Particular attention should be paid to the deprecation and breaking change notices 👀

[2020-01-23 16:07] a-roberts opened #945 "Upgrade integration tests to work with Tekton 0.10"
See https://github.com/tektoncd/dashboard/pull/883

We should use Tekton Pipelines 0.10, upgrade the version pulled in for our integration tests and debug/fix any problems found

[2020-01-23 16:57] a-roberts commented on #945
[code]

current problem to fix

[2020-01-24 10:35] a-roberts commented on #916
Really can't reproduce this on a supported config, @anxinyf let us know once you have more information on the reproduce please and we'll be happy to take a look

[2020-01-24 10:35] #916 closed

[2020-01-24 11:02] a-roberts opened #949 "Integration tests should trivially be able to run locally"
As part of https://github.com/tektoncd/dashboard/issues/945 I'm basically doing a trial and error debug scenario with many repeated rows on the Prow cluster when I'm sure there's a problem simply in the POST the test uses.

I should be able to run the entire e2e suite trivially on Docker Desktop

[2020-01-24 11:16] a-roberts commented on #945
PR https://github.com/tektoncd/dashboard/pull/946, problem was serviceAccount not serviceAccountName, addressed linter problems too

[2020-01-24 11:19] a-roberts commented on #922
I've actually not encountered any problems in the dashboard and I've got a green PR for the integration tests supporting that actually 0.10 is working pretty nicely (and delivers us much wanted Gitlab and multiple SCM support for the PullRequest monitor).

We could do a 0.10 Dashboard and 0.1.0 Triggers release soon I reckon, which would support the "do a release within five days" goal (let's not

[2020-01-24 11:19] #922 closed

[2020-01-24 11:47] a-roberts opened #950 "Fix Dashboard release pipeline for Kustomize"
https://github.com/tektoncd/dashboard/pull/941 has been merged so make sure the release pipeline works - this has already been done for the webhooks extension

[2020-01-24 11:51] a-roberts opened #951 "For read-only installs, capture errors (inc. RBAC) and surface in the Dashboard"
# Expected behavior
**As https://github.com/tektoncd/dashboard/pull/941 is merged we now have a read-only dashboard install available**

Unfortunately we're not catching all errors from our "write" operations (so ones that DELETE/POST/probably PUT

Under this task make sure any errors get captured and surfaced appropriately

# Actual behavior

We've noticed getting the classic `unknown` proxy erro

[2020-01-24 12:15] mnuttall commented on #822
Resolved by https://github.com/tektoncd/dashboard/pull/941

[2020-01-24 12:15] #822 closed

[2020-01-24 12:17] mnuttall commented on #839
https://github.com/tektoncd/dashboard/pull/941 is merged - we now have no duplicate yaml, and a read-only edition of the dashboard. I'll keep this issue open until I have nightly builds set up and  stable GCS URLs for the various dashboard install yamls.

[2020-01-24 12:33] AlanGreene commented on #907
Closing since #939 is merged, can reopen if we still see issues with that.

[2020-01-24 12:46] a-roberts commented on #950
I'm going to work on this as it'd be great to doc 0.5.0 release supporting Tekton 0.10 ASAP

[2020-01-24 13:18] Megan-Wright commented on #951
/assign

[2020-01-24 13:34] a-roberts commented on #951
We realise this may be a big task involving many components so @Megan-Wright will investigate and potentially create more issues to split this up as she goes

For the "side-effect" operations, I'm thinking there's

- Secret creation, deletion
- Service account patching
- PipelineRun creation, deletion, patching
- Same for TaskRun? But only surfaced through PipelineRun create page - although how ab

[2020-01-24 13:56] a-roberts commented on #950
PR https://github.com/tektoncd/dashboard/pull/952, testing

[2020-01-24 14:01] AlanGreene commented on #907
Reopening, still seeing failures in CreatePipelineRun.test.js

https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_dashboard/901/pull-tekton-dashboard-unit-tests/1220706050584350720/build-log.txt

[code]
etc.

https://github.com/tektoncd/dashboard/pull/901

[2020-01-24 14:12] a-roberts commented on #945
Merge in progress so closing

[2020-01-24 14:12] #945 closed

[2020-01-24 14:42] vtereso commented on #902
I raised an issue regarding the informers: https://github.com/kubernetes/kubernetes/issues/87472#issuecomment-577881040. It was decided to comment out the test again.

[2020-01-24 16:00] carrenelloyd commented on #727
@carlos-logro @kimholmes

Redlines for Secrets posted here: https://ibm.invisionapp.com/share/MPNZNGNZJ3E

Original high-fis here: https://ibm.invisionapp.com/share/EMNZB7QKZAT

[2020-01-24 16:38] a-roberts opened #956 "Surface proxy errors properly (starting with Dashboard logs)"
# Expected behavior
We see `unknown` and get a 404 back from the Proxy API currently, we can do better than this. We can get the bytes from the response, encode them as utf-8 and return them in the actual error - this can then be used to surface better errors

# Actual behavior
We get `unknown` in Dashboard pog logs and a 404 due to https://github.com/tektoncd/dashboard/blob/fa78c54edf7b008fa82810

[2020-01-27 09:59] a-roberts opened #960 "Augment dashboard release pipeline to include read-only yaml"
We've got one now so let's publish it (for both gcr,OpenShift) and document how users can pick it up

I'm working on this as part of https://github.com/tektoncd/dashboard/issues/950

[2020-01-27 12:03] AlanGreene opened #961 "Step details tab does not show the step definition"
# Expected behavior
The step details tab on both the PipelineRun and TaskRun pages should show the definition of the selected step (i.e. command, args, etc.)

# Actual behavior
The step details tab displays the same information as the status tab with the addition of the step id.

# Additional Info
It looks like this was introduced by #878
https://github.com/tektoncd/dashboard/pull/878#discussion_r

[2020-01-27 14:47] ncskier commented on #944
/assign

[2020-01-27 16:36] #961 closed

[2020-01-27 21:07] kimholmes opened #965 "Epic for Front End Development of Dashboard UI Designs"
# Expected behavior
Dashboard should follow best case User Experience patterns while utilizing the Carbon Design System

# Actual behavior
Currently there are several inconsistencies and UI implementations that create a less than optimal user experience.

Issues to reside under this Epic:
**Rail and Header**
https://github.com/tektoncd/dashboard/issues/803
**Create Secret Panel**
https://github.co

[2020-01-27 21:53] kimholmes opened #966 "Misc. Front End Development Specs for Dashboard Designs"
This issue should reside under the following Epic:
https://github.com/tektoncd/dashboard/issues/965

- [x] 1. ~~Remove blue background~~ Tracked in https://github.com/tektoncd/dashboard/issues/803
  <details>

  **Expected behavior** - no blue background
  ![NOblueBackground](https://user-images.githubusercontent.com/21316329/73215862-e41caf00-4122-11ea-8b83-bbb37d4662af.png)

  **Actual behavior*

[2020-01-27 22:08] AlanGreene commented on #503
PR open to update to Carbon 10.9.2 (carbon-components-react 7.9.2) with some minor code changes on our side to resolve all but 1 warning.

[code]

This may be an instance of Carbon issue 2630, so leaving for now.

I'll close this issue once the PR is merged and we can track any remaining / future warnings separately.

[2020-01-27 22:33] AlanGreene commented on #966
1. Should this wait for the [rail](https://github.com/tektoncd/dashboard/issues/803) or do we want to do something tactical in the short term? If we just remove the blue and leave the side nav as-is it looks incomplete and there's no separation between it and the content.
  ![image](https://user-images.githubusercontent.com/2829095/73218771-86a05680-4152-11ea-8e53-f8f8b35fe110.png)

2. Adding/remo

[2020-01-28 11:19] a-roberts commented on #925
Hmm, based on https://github.com/tektoncd/dashboard/issues/903 are we sure we want to do this @rnapoles-tktn @AlanGreene?

Can we really not use Selenium to select the user visible components instead?

Yeah, we could go about adding all of these IDs (I've ticked off all the trivial ones) but I'm not convinced we should - with Jest for example we use getByText where we can as opposed to getById/get

[2020-01-28 12:42] AlanGreene commented on #925
I have a few concerns:

- this automation is not run as part of our build / release process so there's nothing to catch breaking changes
- in cases where we already provide an ID to a Carbon component, it may use this as a base value and append additional content (sometimes random) to its child elements as described in some of the items above. We do not always have direct control over how Carbon u

[2020-01-28 13:07] a-roberts commented on #950
This is merged now so closing

[2020-01-28 13:07] #950 closed

[2020-01-28 13:07] a-roberts commented on #960
Merged so closing

[2020-01-28 13:07] #960 closed

[2020-01-28 14:39] a-roberts commented on #925
Thanks Alan, so @rnapoles-tktn today on our scrum mentioned (and can perhaps add more here if I've missed anything) that the issue is when there's no text to select I believe, I don't think a solution was suggested around the dropdowns though which is likely causing Rodolfo the most pain currently

Note that I'm holding off on implementing this atm until we've got a good direction to go with

[2020-01-28 15:20] kimholmes opened #969 "PipelineResources - use a consistent pattern for viewing details and YAML"
# Expected behavior
The PipelineResources should follow the same flow as the other resources in the dashboard.
**These are examples: Main View** (should follow Carbon table spec. Remove ellipse action dropdown on each row and move the actions to the header)
![PLRs_markup](https://user-images.githubusercontent.com/21316329/73276366-90f43c00-41b6-11ea-8107-9cf1199c0050.png)

Details View:
![Details_

[2020-01-28 15:26] kimholmes commented on #966
@AlanGreene I understand what you mean about needing the URL with the filter. My concern is whether or not the user will actually even know that it's there. I'm afraid if we user tested this, the user wouldn't even be aware that this function exists. It's a bit "under the covers."

Yes, I think it's totally fine to put the re-run function on the table row for the PLRs. Since it's only one action,

[2020-01-28 15:59] kimholmes commented on #944
@AlanGreene and @ncskier Per Brandon's note in this older issue:
https://github.com/tektoncd/dashboard/issues/918#issuecomment-576874153
"**Multiple interceptors**
EventListener triggers can now have multiple interceptors instead of just one. So, we must display this list of interceptors."

Does this mean the UI could turn up multiple headers per interceptor? We might need to tweak the UI if this

[2020-01-28 16:07] ncskier commented on #944
@kimholmes not multiple headers per interceptor, but yes multiple headers per EventListener. Each interceptor has its own headers, and each EventListener can have multiple interceptors. So we could have an EventListener that looks like this:
[code]

[2020-01-28 16:13] kimholmes commented on #944
@ncskier Yes, for some reason, I was under the impression that the headers were a child of the Interceptor. I hope the UI isn't confusing.

[2020-01-28 16:17] ncskier commented on #944
Yes, the headers are a child of each interceptor:
[code]

[2020-01-28 18:16] carrenelloyd commented on #733
Link to high-fi specs: https://ibm.invisionapp.com/share/MPNZNGNZJ3E

![image](https://user-images.githubusercontent.com/53481064/73292428-0d474900-41d0-11ea-8b9a-7e911b665ebd.png)

![image](https://user-images.githubusercontent.com/53481064/73292460-16d0b100-41d0-11ea-8cca-d2cd2d81cf38.png)

![image](https://user-images.githubusercontent.com/53481064/73292511-2bad4480-41d0-11ea-8cf0-cb4e43192d32.

[2020-01-28 21:55] bitsofinfo opened #972 "Dashboard should show TaskRun sidecars + their logs"
Dashboard should show TaskRun sidecars + their logs

[2020-01-29 11:16] AlanGreene commented on #972
related issue for CLI: https://github.com/tektoncd/cli/issues/655

[2020-01-29 11:18] CarolynMabbott opened #974 "Username in secrets table are displayed encoded"
# Expected behavior
Username is correct

# Actual behavior
Username is wrong
Its the encoded name

# Steps to reproduce the problem

1. Create secret
2. Look at secret on dashboard
3.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Additional Info

[2020-01-29 11:20] CarolynMabbott opened #975 "Create Secrets modal doesnt auto use namespace on left"
# Expected behavior
Create Secrets modal uses namespace on left

# Actual behavior
Have to select a namespace myself

# Steps to reproduce the problem

1. Change namespace on left
2. Open secrets modal
3.

# Environment
- Kubernetes Platform:

Docker desktop

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Additional Info

[2020-01-29 11:28] AlanGreene commented on #975
I think this was intentional, @carlos-logro maybe you can remember? If we want to change this behaviour we should do it as part of https://github.com/tektoncd/dashboard/issues/727

[2020-01-29 11:29] AlanGreene commented on #966
For 3. we should also include moving the Create buttons to the table header instead of beside the filter as discussed at our last design office hours. Updated the description above.

[2020-01-29 12:10] AlanGreene opened #976 "Update page header styles"
For consistency and to move us closer to the desired design, we should update the global styles for the h1 page header tag.

![image](https://user-images.githubusercontent.com/2829095/73355416-054ede00-4290-11ea-9833-a7d3c4330098.png)

https://ibm.invisionapp.com/share/MPNZNGNZJ3E

This translates as:
- [x] `$layout-02` (24px) margin from nav header to title (padding-top on bx--content)
- [x] `h1

[2020-01-29 12:22] AlanGreene commented on #976
@carrenelloyd I have a PR open with most of the header changes you requested.

The one piece it doesn't include is the spacing between the filter and the button. I think this is right but just wanted to confirm before I change it, should the margin between the filter input and the create button still be 48px when the filter tags are present (unless they wrap onto a new line of course)?

![image](h

[2020-01-29 13:37] #503 closed

[2020-01-29 14:02] carrenelloyd commented on #976
@AlanGreene Yes, that's correct 48 px. The filter "pillows" can go in the 48 px space. (see screen below)

I know the implementation and the high-fis don't align exactly at the moment, but in our meeting coming up this Thursday, we can discuss the strategy for the Filter moving forward. I know Carbon has a filter similar the one in our mockups that is due to come out shortly.

It would also be nic

[2020-01-29 14:20] rnapoles-tktn commented on #925
@AlanGreene @a-roberts  Regarding Alan's feedback:

- This is to implement regression test suites and will address accessibility testing at the same time
- Yes, we can use xpaths and take advantage of existing IDs (if any available) as a starting point and build up the full xpath of the target element. However if the UI changes between the element defined with an ID and the target element then the

[2020-01-29 14:31] kimholmes commented on #966
Yes! The design for these pages are spec'ed out in the following issues:
https://github.com/tektoncd/dashboard/issues/727
https://kimholmes.github.io/Exported-Specs/Secrets/Secrets_Main/

[2020-01-29 15:19] carlos-logro commented on #975
Yeah I don't remember discussing having to choose it from the left side. But sure, ill add it as part of that issue.

[2020-01-29 15:59] a-roberts commented on #956
Merge in progress so closing

[2020-01-29 15:59] #956 closed

[2020-01-29 16:10] Megan-Wright commented on #247
/close

[2020-01-29 16:10] #247 closed

[2020-01-29 16:10] a-roberts commented on #974
I really don't see this as desirable behaviour - if we wanted it to be obfuscated it would be properly done (encoding/decoding is trivial) so marking this as a bug

[2020-01-29 16:11] a-roberts commented on #921
@mnuttall does this issue change/become invalid based on @afrittoli's work now and thus can be closed? 🤔

[2020-01-29 16:20] AlanGreene commented on #975
hrmm I can't find the discussion now, but I'm pretty sure we decided that the namespace dropdown in the create secret dialog should be separate from the one in the nav.

It might make sense to have the namespace dropdown in the create UI default to the selected namespace from the nav, but I think it's still useful to allow the user to then select a different namespace without affecting other pages

[2020-01-29 16:45] ncskier commented on #944
@a-roberts @AlanGreene, how do we want to address backwards-compatibility? Since Triggers only has a few early alpha releases, we're assuming that there will be some breaking changes. So, I think that it makes sense to not worry about supporting v0.1.0 Triggers resources in the Dashboard.

I just want to verify that it is OK if my implementation of this issue will mean the Dashboard "breaks" when

[2020-01-29 17:26] AlanGreene commented on #944
What are the plans for dashboard 0.5? I see a draft release referencing triggers 0.1, do we need to get that out before bumping the triggers version?

[2020-01-29 19:09] jgawor opened #978 "Unpinned dependencies in a release"
The https://github.com/tektoncd/dashboard/releases/download/v0.4.1/dashboard_latest_openshift-tekton-dashboard-release.yaml release has a couple of unpinned dependencies:
  1. ` image: openshift/oauth-proxy:latest`
  2. `image: lachlanevenson/k8s-kubectl:latest`

[2020-01-29 21:13] AlanGreene commented on #844
Closing as there are design issues covering remaining updates

[2020-01-29 21:13] #844 closed

[2020-01-30 09:47] a-roberts opened #979 "Use unique bucket name for release pipeline"
Instead of `tekton-bucket`, use `tekton-bucket-dashboard` to reduce PipelineResource clobber chances when running on a shared cluster

[2020-01-30 09:48] a-roberts opened #980 "Update release pipeline to mention lockdown file retrieval place"
See https://github.com/tektoncd/dashboard/issues/978

While I can fix up the release we should why this happened in the first place

[2020-01-30 09:53] a-roberts commented on #944
@ncskier @AlanGreene good points, I wanted to get in @Megan-Wright's PR for the proper displaying of proxy request errors (mainly from a debug/serviceability perspective), so I suggest we do a 0.5.0 release that's for Triggers 0.1 and Pipeline 0.10.1 one shortly (see: today).

Then the 0.5.1 release is for Triggers 0.2 once that's ready, this gives folks a chance to use either Triggers version wit

[2020-01-30 10:28] a-roberts commented on #978
The deed is done - release images now pinned

[2020-01-30 10:28] #978 closed

[2020-01-30 10:35] CarolynMabbott opened #981 "Clicking on service account brings up error"
# Expected behavior
I can click on a service account and it tells me info

# Actual behavior
Get an error
<img width="1149" alt="Screenshot 2020-01-30 at 11 58 22" src="https://user-images.githubusercontent.com/32342288/73448115-13683180-4358-11ea-8064-69282720a3be.png">

# Steps to reproduce the problem

1. Go to service account page
2. Click on service account
3.

# Environment
- Kubernetes Plat

[2020-01-30 10:51] a-roberts commented on #979
Working on this at https://github.com/tektoncd/dashboard/pull/982/files, testing

[2020-01-30 13:10] a-roberts commented on #980
It does work a treat actually - just looks for the files at `previous` atm - so will document and mention that folks should grab from the `previous` directory 😄

[2020-01-30 13:28] a-roberts commented on #981
Yea, reproduced this on our 0.4.1 install too

[2020-01-30 13:34] AlanGreene commented on #981
Is this only on specific service accounts or is it affecting all? I'm not seeing it in my dev environment at the moment

[2020-01-30 13:41] AlanGreene commented on #776
Related https://github.com/tektoncd/dashboard/issues/762

[2020-01-30 13:55] a-roberts commented on #981
@AlanGreene in my case it's for anything and everything, I'm using OCP 4.2 (happy to share a cluster if you'd like to look into this one closer)

[2020-01-30 14:03] #980 closed

[2020-01-30 14:17] a-roberts commented on #972
Yeah, this sounds like a great addition, asked @vdemeester for an example and https://github.com/tektoncd/pipeline/blob/master/examples/taskruns/dind-sidecar.yaml looks suitable for working with

[2020-01-30 14:37] kimholmes opened #984 "Update flow for Pipelines and Tasks"
# Expected behavior
The interactive flow for Pipelines and Tasks should follow the same pattern as it does for other resources. Instead of Resource > Filtered List, it should follow, Resource > Details/YAML
<img width="852" alt="image" src="https://user-images.githubusercontent.com/21316329/73389341-f8d38100-42a1-11ea-8a2a-24298f5aa468.png">

Use this issue to track the design for the contents of

[2020-01-30 14:52] a-roberts opened #985 "Ensure errors are surfaced for deletion events"
# Expected behavior
I expect to see notifications appearing when resources can't be deleted successfully

# Actual behavior
@Megan-Wright thinks this is for every resource we support (it's really easy now to test as part of our read-only dashboard work)

- [ ] Secrets
- [ ] PipelineRun
- [ ] TaskRuns
- [ ] PipelineResources

# Steps to reproduce the problem
The easiest way is as follows
1. Install

[2020-01-30 15:27] ncskier commented on #944
Ok, thanks for the clarification Adam! 👍

[2020-01-30 16:29] kimholmes commented on #984
Example of Pipeline diagram. Screenshot from Alan's storybook.
<img width="475" alt="image" src="https://user-images.githubusercontent.com/21316329/73469111-d39f4b00-4353-11ea-8ac1-10c290cb724f.png">

[2020-01-30 16:49] a-roberts commented on #779
PR at https://github.com/tektoncd/dashboard/pull/983

[2020-01-30 16:51] vdemeester commented on #779
Just be aware that the annotation/label will change to `pipeline.tekton.dev/release`  instead of `tekton.dev/release` (because it's just the tekton pipeline release version)

[2020-01-30 16:52] a-roberts commented on #951
PR at https://github.com/tektoncd/dashboard/pull/986

[2020-01-30 16:52] a-roberts commented on #985
PR at https://github.com/tektoncd/dashboard/pull/986

[2020-01-30 16:53] vdemeester commented on #779
See here https://github.com/tektoncd/pipeline/pull/1894/files#diff-d56e306ce931c2991f18ef68b6b501a3R37

[2020-01-31 21:44] ncskier commented on #944
### Status update:
I can now display multiple bindings, and interceptors. Plus there are no more params. Here's a screenshot (note that I copied and pasted the interceptors, so they have the same name). I used an accordion to display the multiple interceptors for now, because it was easy and saves space. Feedback is always welcome 🙂 However, keep in mind the styles will probably change with issue

[2020-02-03 10:47] a-roberts commented on #974
Have a two line fix for this, adding a test now

[2020-02-03 14:22] a-roberts commented on #981
On OpenShift I've got the following secret patched to the SA default in kube-system:

[code]
...
[code]

notice the type.

If I add hardening and debug:

[code]

I get "No found secret" printed and thus "unknown-type" is displayed. I'm actually confused by the code we've got atm so I'll ponder.

[2020-02-03 15:14] a-roberts commented on #979
Merge in progress now so closing, @vdemeester FYI

[2020-02-03 15:14] #979 closed

[2020-02-03 15:32] a-roberts opened #990 "Secret data not populated for SA page"
# Expected behavior
I should see data for all the secret columns

# Actual behavior
![image](https://user-images.githubusercontent.com/12814972/73666169-4123e200-469a-11ea-8577-6c79521cbd3b.png)

# Steps to reproduce the problem

1. Well, I'm using https://github.com/tektoncd/dashboard/issues/981#issuecomment-581437419 but that just lets the page render - so I'm convinced the secrets displaying ne

[2020-02-03 15:34] a-roberts commented on #990
Will fix this with https://github.com/tektoncd/dashboard/pull/989

[2020-02-03 15:56] a-roberts commented on #990
Megan's going to work through this based on my branch just to get the page to render

[2020-02-03 16:58] a-roberts commented on #990
See https://github.com/tektoncd/dashboard/pull/988#issuecomment-581508472

[2020-02-04 09:48] Megan-Wright commented on #951
/close

[2020-02-04 09:48] #951 closed

[2020-02-04 09:48] Megan-Wright commented on #985
/close

[2020-02-04 09:48] #985 closed

[2020-02-04 09:51] a-roberts commented on #974
Fix merged so closing

[2020-02-04 09:51] #974 closed

[2020-02-04 09:51] a-roberts commented on #990
Decided we'll fix this with https://github.com/tektoncd/dashboard/pull/991

[2020-02-04 10:44] afrittoli opened #995 "Add release postprocessing"
# Expected behavior
After nightly releases, logs are uploaded to the bucket

# Actual behavior
The pipeline does not include the cloudevent resource as output, so post release steps are not executed.

[2020-02-04 10:44] afrittoli commented on #995
/assign @afrittoli

[2020-02-04 10:56] Megan-Wright opened #996 "Secret creation results in error notification"
# Expected behavior
 When I create a secret I should be able to see the secret added to the table and the success notification "Secret created successfully"

# Actual behavior
When I create a secret, I see this notification:
![Screenshot 2020-02-04 at 10 51 44](https://user-images.githubusercontent.com/52741262/73738626-b21bd600-473c-11ea-94ab-6985c50e6bee.png)
However, on refreshing the page, the

[2020-02-04 11:06] a-roberts commented on #996
Yeah seeing this too

[code]

[2020-02-04 11:20] a-roberts commented on #996
We've got the secret created fine in-cluster but if we print the secret object in our map, sometimes it's without the username field (so secret.username) is defined. Working on this now with Megan

[2020-02-04 11:27] a-roberts commented on #996
![image](https://user-images.githubusercontent.com/12814972/73741012-438d4700-4741-11ea-875b-b120334d0a71.png)

Also, loving the data breach error we get, making an issue for that now 😰

[2020-02-04 11:29] a-roberts opened #997 "Change your password data breach pops up when creating secrets on localhost"
# Expected behavior
It shouldn't!

# Actual behavior
![image](https://user-images.githubusercontent.com/12814972/73741148-8a7b3c80-4741-11ea-978a-54dc04e8bcd2.png)

# Steps to reproduce the problem

1. Created ten secrets while fixing https://github.com/tektoncd/dashboard/issues/996

# Environment
- Kubernetes Platform:
This is with `npm run start` connected to a running instance on OCP

- Tekton

[2020-02-04 11:51] a-roberts commented on #996
The `type` field occasionally doesn't appear as well.

[2020-02-04 11:54] a-roberts opened #998 "Deleting multiple secrets doesn't correctly rerender the page without said secrets"
# Expected behavior
Say they were deleted successfully and not display the deleted secrets

# Actual behavior
Secrets remain in the table

# Steps to reproduce the problem

1. Make several secrets, I used 15
2. Observe the notification they were deleted successfully yet they're still sitting happily in the table
3. Refresh and they're gone

# Environment
- Kubernetes Platform:

- Tekton Pipelines

[2020-02-04 12:40] a-roberts opened #999 "Created secrets don't display until page refresh"
# Expected behavior
They should!

# Actual behavior
I've seen this reliably with several already created secrets

# Steps to reproduce the problem

1. Repeatedly create any secret in the dashboard

# Environment
- Kubernetes Platform:

Any

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

# Additional info:

Potential clue, we think the secrets modal creates th

[2020-02-04 13:24] a-roberts commented on #996
https://github.com/tektoncd/dashboard/pull/1000 temp fix

[2020-02-04 13:31] a-roberts opened #1001 "Integration tests for Dashboard failing (read-only file system)"
# Expected behavior
Should pass reliably

# Actual behavior
https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_dashboard/991/pull-tekton-dashboard-integration-tests/1224662998795161600/

[code]

# Steps to reproduce the problem

1. Submit any PR

# Environment
- Kubernetes Platform:
Only seen on Prow so far

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton

[2020-02-04 13:44] a-roberts commented on #1001
kubectl apply --filename https://github.com/tektoncd/pipeline/releases/download/v0.7.0/release.yaml || fail_test "Tekton pipeline installation failed"

0.7 🤔

[2020-02-04 13:48] vdemeester commented on #1001
:thinking:

[2020-02-04 13:53] a-roberts commented on #1001
https://github.com/tektoncd/dashboard/pull/1002 testing 🤔

[2020-02-04 15:28] mii-w commented on #984
### Pipeline Detail Flow
<img width="992" alt="1" src="https://user-images.githubusercontent.com/51759906/73758286-6bc47800-4738-11ea-883f-d5f8b2d020d9.png">
<img width="868" alt="2" src="https://user-images.githubusercontent.com/51759906/73758293-6e26d200-4738-11ea-8264-cfb6000a5e83.png">
<img width="873" alt="3" src="https://user-images.githubusercontent.com/51759906/73758302-6ff09580-4738-11ea-

[2020-02-04 15:28] steveodonovan opened #1003 "Allow consumers of dasboard components to have custom timestamp logic"
# Expected behavior

Consumers can add the timestamp for pipeline runs from a field other than `metadata.timestamp`

# Actual behavior

Right now it always comes from the metadata which is an issue where the resource takes some time to apply or there is a different orchestration mechanism at work.

[2020-02-04 15:28] mii-w commented on #984
/assign

[2020-02-04 15:28] steveodonovan commented on #1003
/assign

[2020-02-04 16:12] ncskier commented on #937
I just noticed that the `Triggers | YAML` toggle menu should probably be a `Triggers` header. Instead, the toggle button should be at the top of the page, and it should read `Details | YAML` to match the toggles we have in the rest of the pages:
![Screen Shot 2020-02-04 at 11 08 08 AM](https://user-images.githubusercontent.com/16961496/73762861-aaf5c780-473e-11ea-97a4-ce939d45bc67.png)

The curren

[2020-02-04 16:48] a-roberts commented on #1001
Merged so closing

[2020-02-04 16:48] #1001 closed

[2020-02-05 10:48] a-roberts opened #1007 "PipelineRun page fails to load for Buildah pipeline (name undefined)"
# Expected behavior
Page should render correctly

# Actual behavior
[code]

![image](https://user-images.githubusercontent.com/12814972/73835310-16a26800-4805-11ea-8e1c-7fdd0368d094.png)

# Steps to reproduce the problem

1. Use our latest dashboard code and webhooks extension code (I'm using a branch from @dibbles' repo, it's a perfectly good PipelineRun), Triggers 0.2.1, Pipelines 0.10.1, on OCP

[2020-02-05 11:29] a-roberts commented on #1007
i was accessing my route Dashboard and not the latest which was on localhost:8000 - phew, closing

[2020-02-05 11:29] #1007 closed

[2020-02-05 11:34] Megan-Wright commented on #999
/assign

[2020-02-05 11:34] Megan-Wright commented on #998
/assign

[2020-02-05 11:40] a-roberts opened #1009 "Have known secrets clickable from ServiceAccounts page"
# Expected behavior
If it's a Tekton annotated secret (so one we have under the secrets page) it'd be helpful to have these linked to from the ServiceAccounts page where such secrets are displayed

# Actual behavior
As of March 2020:

No linking is done currently and we see a tiny amount of data
![image](https://user-images.githubusercontent.com/12814972/76203304-4ec70d00-61ee-11ea-979b-93c050a9d9

[2020-02-05 11:59] CarolynMabbott opened #1010 "Dashboard doesnt look like its part of Tekton"
# Expected behavior
Dashboard should look like part of Tekton

# Actual behavior
The dashboard doesn't look part of tekton

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

# Additional Info
Add the colourful Tekton cat back so we look part of Tekton
Our colour scheme looks nothin

[2020-02-05 12:18] a-roberts commented on #1010
So specifically I can think of a reversion to the coloured cat image, is there anything else in particular you're thinking of @CarolynMabbott?

@kimholmes @AlanGreene @carrenelloyd what are your thoughts on this too?

[2020-02-05 13:34] a-roberts commented on #996
Temporary fix is merged, @Megan-Wright's super PR is open that'll result in all data being known anyways which is the better approach, closing

[2020-02-05 13:34] #996 closed

[2020-02-05 13:35] a-roberts commented on #990
Fix for this is merged in that we'll only display the information we know about (just names in this case), and the Secrets page has all the details for ones we do know about, so closing

[2020-02-05 13:35] #990 closed

[2020-02-05 13:35] a-roberts commented on #981
Fix for this is now merged so closing

[2020-02-05 13:35] #981 closed

[2020-02-05 14:04] carrenelloyd commented on #1010
@a-roberts @CarolynMabbott Can you please post a screengrab of what you are referring to exactly?

[2020-02-05 14:04] kimholmes commented on #1010
@CarolynMabbott It would be helpful to understand what the Tekton color scheme is. I wasn't aware of one. I know the cat logo had colors, but beyond that, I'm not aware of a color scheme.

[2020-02-05 14:09] kimholmes commented on #937
I noticed that too. Let's discuss.

[2020-02-05 14:11] CarolynMabbott commented on #1010
https://tekton.dev/

[2020-02-05 14:16] kimholmes commented on #1010
FYI - that site is currently under construction. It's being replaced by this:
https://tekton-website-258208.firebaseapp.com/

[2020-02-05 14:18] a-roberts opened #1012 "Tekton Dashboard logo suggestion"
On the weekly working group call the **Triggers logo** was announced - looks pretty good!
![image](https://user-images.githubusercontent.com/12814972/73849604-22505780-4822-11ea-9fb0-a92fa185ee2a.png)

We could have a Tekton Dashboard logo too, my suggestion is as follows - have the Tekton cat with reading glasses on, looking at a screen or into a book displaying Tekton information (so it could be

[2020-02-05 16:07] Megan-Wright opened #1013 "Notifications errors for the dashboard only appear once"
# Expected behavior

If I try to create/delete something in the read-only version of the dashboard, I should get an error message displayed consistently.

# Actual behavior

If I try to create a PipelineRun or Resource etc, then close the error notification, when I press `submit` a second time I get no error displayed in the dashboard.

# Steps to reproduce the problem

1. Easiest way: Install rea

[2020-02-05 17:13] a-roberts commented on #1013
Here's the weird thing

![image](https://user-images.githubusercontent.com/12814972/73864750-14a6cc00-483a-11ea-90f7-2e60598aa7c7.png)

so it does enter the action, and it does have the message, so therefore it should be setting errorMessage state which is the controller of the notification being visible

If I augment render() to print the errorMessage prop I see it's always set accurately, but...

[2020-02-05 20:33] dibyom commented on #995
/area release

[2020-02-06 00:24] AlanGreene commented on #1010
Screenshot of the current content of that link for comparison, this is the current state of the new website design:
![image](https://user-images.githubusercontent.com/2829095/73895068-489fe280-4876-11ea-8c2c-2c6ff2a192e1.png)

[2020-02-06 09:51] a-roberts opened #1014 "Notifications appear on both the secrets table page and the secrets modal"
# Expected behavior
They should appear only on the modal

# Actual behavior
![image](https://user-images.githubusercontent.com/12814972/73925564-2635b580-48c6-11ea-8ab9-42cd79d5652e.png)

# Steps to reproduce the problem

1. A quick way is to use a read-only dashboard install on an RBAC enabled Kubernetes set up (such as OpenShift), then try to create a secret
2. Observe

# Environment
- Kubernete

[2020-02-06 10:47] CarolynMabbott opened #1015 "Read only dashboard shouldnt have buttons displayed"
# Expected behavior
Read only dashboard shouldnt have . buttons such as create pipelinerun
They should be grayed out / removed
Also shouldn't be allowed to access import resources as its read only

# Actual behavior
Read only can click buttons
Can go on pages like import resources

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

Read o

[2020-02-06 12:20] mnuttall commented on #921
Need to update readme for https://console.cloud.google.com/storage/browser/tekton-releases-nightly/dashboard/latest/

[2020-02-06 13:42] a-roberts commented on #842
Here's a good test case with over 3,000 PipelineResources:

![image](https://user-images.githubusercontent.com/12814972/73942109-686eef00-48e6-11ea-96ad-c2180a9d8c8f.png)

From  https://dashboard.dogfooding.tekton.dev/#/pipelineruns (@afrittoli the contact who's set this up 🎈 ) so it's definitely something to look into

[2020-02-06 13:52] AlanGreene commented on #842
https://kubernetes.io/docs/reference/using-api/api-concepts/#retrieving-large-results-sets-in-chunks

The Kubernetes API supports chunking, which would allow us to limit the number of resources loaded in a single request.

If we just load the first (large, size TBD) chunk for each type, we could ensure a more responsive UI for these cases with many resources. Obviously this means the user doesn't

[2020-02-06 14:03] MohamedTalhaoui opened #1018 "Limit dashboard visibility to a single namespace"
We have different teams and want give them different dashboard to manage their own pipelines.
Basically we are giving each team a namespace and deploy tekton pipeline and dashboard on it.
K8S RBAC provides isolation so team A cannot see team B pipelines.
The problem is that tekton dashboard needs cluster roles to list the pipelines in all namespaces.
We have tried to change the tekton-dashboard-mi

[2020-02-06 14:52] kimholmes commented on #1010
Thanks @AlanGreene Yes. My point was that we should keep the dashboard neutral. And the Carbon design system does a good job of that.

[2020-02-06 15:31] a-roberts commented on #1013
Merged so closing

[2020-02-06 15:31] #1013 closed

[2020-02-06 15:34] a-roberts commented on #1018
Yeah this is an interesting one, so can you share the pod log details please or the errors you're seeing?

I wonder if in our UI we do an all namespaces lookup first and you're getting a displayed RBAC error on the page 🤔

[2020-02-06 15:44] a-roberts commented on #1015
Yeah, +1 on this, I think not having the buttons (free up screen space) and perhaps displaying the level of permissions on the About page would be excellent

[2020-02-06 15:48] Megan-Wright commented on #1014
/assign

[2020-02-06 16:06] MohamedTalhaoui commented on #1018
Thanks for the prompt reply.
I think your assumption is correct.

here are the logs I get:

[code]

[2020-02-06 17:12] kimholmes commented on #966
@AlanGreene @carlos-logro FYI - Just added the "Create PipelineRun" panel to this issue. The spec is to move it to a full page. Thanks.

[2020-02-06 20:15] carrenelloyd commented on #937
1. Added **Details** subheader below Tabs
2. $productive-heading-02
3. 24 spacing token above and below the **Details** text

![image](https://user-images.githubusercontent.com/53481064/73974911-4334ad80-48f3-11ea-8ccf-95350838abf4.png)

![image](https://user-images.githubusercontent.com/53481064/73974888-387a1880-48f3-11ea-8b3c-12947010a93a.png)

[2020-02-06 21:14] afrittoli opened #1021 "Full page refresh disrupts the user experience"
# Expected behavior
While I use the dashboard, only parts where content changes are re-rendered

# Actual behavior
At a fixed interval, the dashboard UI is fully re-rendered, which is rather frustrating, for instance while watching logs / progress on a pipeline run.

# Steps to reproduce the problem

1. Open the dashboard, wait 1min or so
2. See also attached gzipped video

# Environment
- Kuberne

[2020-02-06 21:24] AlanGreene commented on #1021
hrmm this sounds similar to https://github.com/tektoncd/dashboard/issues/736

Have you noticed this on other pages or just when watching an active PipelineRun?

[2020-02-06 22:02] AlanGreene commented on #1021
OK seeing this on the dogfooding dashboard, pretty consistently every 34 or 35 seconds the content reloads. It's not a full page refresh, just the content section, but that doesn't make it any less disruptive or annoying for the user.

The websocket connection is being killed after 30 seconds, causing the client to reconnect and re-fetch data in case it's gone stale while disconnected. This is the

[2020-02-07 01:09] #1003 closed

[2020-02-07 09:35] CarolynMabbott opened #1024 "ServiceAccount details page should auto update"
# Expected behavior
When i create a secret and patch it to a service account / delete a secret patched to a service account the list of secrets should update
So should the yaml

# Actual behavior
I have to manually refresh

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Kubernetes Platform:

docker

- Tekton Pipelines version:

0.10.0

- Tekton Triggers version:

- Tekton Dashboard ve

[2020-02-07 10:39] CarolynMabbott opened #1025 "Clicking on labels on serviceaccounts detail page does nothing"
# Expected behavior
Clicking the label on details page of serviceaccount does something when clicked on
Was expecting it to be similar to labels on other pages where click it and it goes back to servcieaccounts page and filters them based on label

# Actual behavior
Does nothing when clicked

# Steps to reproduce the problem

1. On serviceaccounts page click on tekton dashboard
2. Click on the lab

[2020-02-07 10:57] CarolynMabbott opened #1026 "Changing namespace on serviceaccount page goes to pipelineruns"
# Expected behavior
Changing namespace on serviceaccounts page after clicking on a serviceaccount and going to serviceaccount page and then changing namespace takes you to serviceaccount page

# Actual behavior
Takes you to pipelineruns page

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard

[2020-02-07 10:57] CarolynMabbott commented on #1026
/assign

[2020-02-07 11:39] CarolynMabbott opened #1028 "Dashboard create secret error not very readable"
# Expected behavior
Error is readable and easy to understand

# Actual behavior
It is not very readable

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Kubernetes Platform:

docker

- Tekton Pipelines version:

0.10.0

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Additional Info
<img width="1605" alt="Screenshot 2020-02-07 at 11 38 04" src="https://user-images.gi

[2020-02-07 11:58] AlanGreene commented on #1025
@CarolynMabbott the updated designs remove the pill treatment from the labels and display them as plain text, this should remove the expectation that they're interactive.

Can you give an example of where we currently have labels that act as clickable navigation?

[2020-02-07 12:00] CarolynMabbott opened #1029 "Dashboard has no validation on length of username / password"
# Expected behavior
Should bring up error in modal saying secret is too long rather than a post error when username / password is beyond the limit of length

# Actual behavior
POST error with a bad error / not a good human readable error returned

# Additional Info
<img width="880" alt="Screenshot 2020-02-07 at 11 59 11" src="https://user-images.githubusercontent.com/32342288/74028020-4be3bd00-49a

[2020-02-07 13:14] CarolynMabbott commented on #1025
Was mistaking it for pipeline where you click and it brings up a filter on pipelineruns page already filtered on the pipeline name
Also as its the same as the other filters such as on pipelineruns page where you click on it and the filter removes itself and brings up other info removed by the filter to start with

Was really expecting it to do something when it was clicked on so when it didnt it f

[2020-02-07 13:32] AlanGreene commented on #1025
OK that makes sense, thanks. Since the design updates should make this a lot clearer, and some of those are already underway, I'm going to close this issue.

PR for the first part already open: https://github.com/tektoncd/dashboard/pull/1023

[2020-02-07 13:32] #1025 closed

[2020-02-07 13:50] CarolynMabbott opened #1031 "Create Pipeline resource creation doesnt auto use namespace on the left"
# Expected behavior
create pipeline resource modal to auto select namespace on the left
The user can still change it but it gets auto selected instead of `select namespace`

# Actual behavior
It doesnt

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Kubernetes Platform:

docker

- Tekton Pipelines version:

0.10.0

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Add

[2020-02-07 14:30] AlanGreene commented on #1031
See https://github.com/tektoncd/dashboard/issues/975 for related discussion

[2020-02-07 14:31] #1026 closed

[2020-02-07 14:43] CarolynMabbott commented on #975
@AlanGreene I meant for the create secret modal
Should auto use the namespace on the left in the create modal but the user can change the namespace on either
It's just annoying on openshift where you have the namespace on the left selected as tekton-pipelines and then when creating a secret in the modal you have to scroll all the way down to the namespace in the create modal

[2020-02-07 14:51] AlanGreene commented on #975
Yes I agree, that's what I meant by:

[2020-02-07 15:44] #921 closed

[2020-02-07 16:22] #944 closed

[2020-02-10 10:14] a-roberts opened #1034 "Augment about page to display Tekton Pipelines version when installed through operator"
With https://github.com/tektoncd/dashboard/pull/983 going in, we should augment this page for OpenShift Pipelines installs

# Expected behavior
We should display the Tekton Pipelines version regardless of install location

# Actual behavior
We only look for the information in the the `tekton-pipelines` namespace currently, the operator installs into `openshift-pipelines`

# Steps to reproduce the

[2020-02-10 10:19] a-roberts commented on #1034
@CarolynMabbott mentioned an interest in working on this, I didn't actually /lgtm (waiting for tests to pass) on the PR so perhaps we augment the existing PR to check

[2020-02-10 10:25] a-roberts commented on #1014
Merged so closing

[2020-02-10 10:25] #1014 closed

[2020-02-10 11:04] a-roberts opened #1035 "Flaky test: TestWebsocketResources"
# Expected behavior
Unit tests should pass reliably

# Actual behavior

[code]
seen on a pull request

# Steps to reproduce the problem

1. Create any PR that'll be built and tested by Prow - may happen locally as well though so test it there too

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:
master

[2020-02-10 12:20] afrittoli commented on #1021
I've seen refresh happening on other pages too, like the list of eventlisteners - even though there it's less disruptive (possibly because I only have a few defined).

[2020-02-10 12:23] afrittoli commented on #1021
Another aspect of this issue that makes it worse, is that if I'm looking at some details of an element of the pipeline run, the refresh brings me back to the default page for that pipelinerun, e.g.

<img width="1605" alt="image" src="https://user-images.githubusercontent.com/2205608/74149624-1a1c6180-4c00-11ea-8114-fc5d9c9c3c54.png">

is redirected back to

<img width="1605" alt="image" src="https

[2020-02-10 13:31] mnuttall commented on #1034
What about
[code]
It might be worth checking in #openshift-pipelines if this is the 'best' way to get the version of Tekton installed by that operator.

[2020-02-10 13:34] a-roberts commented on #779
Now merged (though not part of the meow - we have a dedicated page and this gives us room to display plenty more useful information too)

It'll be in the 0.5.1 release (and of course master) 😸

[2020-02-10 13:34] #779 closed

[2020-02-10 14:42] Megan-Wright commented on #842
/assign

[2020-02-10 17:25] a-roberts commented on #1015
I'll work on this, we could have a readonly label added to our read-only kustomization, pick this up piggybacking off @CarolynMabbott's changes to `cluster.go`, display the read-only value on the About page and then, when we load a page that's considered one allowing mutable operations, optionally display the batch action or not.

For the final point above ^^ my "good software developer hat" sugge

[2020-02-11 11:21] Megan-Wright opened #1036 "PipelineRuns, PipelineResources and TaskRuns tables should have batch action bars to delete multiple at once"
# Expected behavior

I should be able to delete multiple PipelineRuns, PipelineResources, and TaskRuns using a batch action bar, as with the secrets table.

# Actual behavior

I can only delete one of each of these resources at once.

# Steps to reproduce the problem

1. Create/import a resource in the dashboard that isn't a secret.
2. Try to delete more than one at once
3. You can't

# Environmen

[2020-02-11 11:31] CarolynMabbott opened #1037 "Be able to filter for specific item / feature to select in createpipelinerun modal"
# Expected behavior
Can filter to find the correct pipelineresource / namespace / pipeline / serviceaacount etc
When you have lots of resources named very similar in say pipelineresource then being able to filter these in the modal when your selecting it would be good

Would be good to be able to do this by name or even by steps / RBAC permissions

# Actual behavior
Have to scroll through

# Steps

[2020-02-11 11:40] AlanGreene commented on #1036
Duplicate of https://github.com/tektoncd/dashboard/issues/966

[2020-02-11 11:40] #1036 closed

[2020-02-12 10:16] Megan-Wright commented on #842
I've had a look into this as well - chunking with the KubeAPI seems perfectly possible however carbon doesn't currently support easy integration between pagination and data tables using react, so not sure how easy this would be to do.

[2020-02-12 10:16] Megan-Wright commented on #1035
/assign

[2020-02-12 11:27] mnuttall opened #1044 "Enforce session timeout on secure dashboard"
Secure dashboard sessions should time out after 15-30 minutes.

This can hopefully be enforced on OpenShift via a change to https://github.com/tektoncd/dashboard/blob/master/overlays/openshift-patches/oauth-proxy-in-deployment.yaml, e.g. by setting the `-cookie-expire` parameter (see https://github.com/openshift/oauth-proxy.)

[2020-02-12 13:03] mnuttall opened #1045 "Use X-Frame-Options header to prevent Clickjacking"
Dashboard should set the X-Frame-Options header in order to prevent "Clickjacking", also known as a "UI redress attack", in which an attacker uses multiple transparent or opaque layers to trick a user into clicking on a button or link on another page when they were intending to click on the top-level page.

IBM staff can find more details via https://github.ibm.com/IBMCloudPak4Apps/icpa-security/i

[2020-02-12 13:18] mnuttall opened #1046 "Account lockout and password policy enforcement"
When installed onto a vanilla OpenShift, dashboard users have an unlimited number of attempts to login, and no strong password policy is enforced. This is more likely to be an OpenShift configuration issue more than a dashboard one, burt we can at least document what an administrator can do in order to ensure that login attempts are restricted and a suitable password policy enforced.

IBM staff ca

[2020-02-12 13:25] mnuttall opened #1047 "Input sanitisation"
Requests made against the dashboard's REST API may not be thoroughly sanitised.

IBM staff should see https://github.ibm.com/IBMCloudPak4Apps/icpa-security/issues/7 for more information.

[2020-02-12 13:59] AlanGreene commented on #1045
This header should only need to be set on the root URL (that serves index.html) since all client side routes are just fragments added to that URL, e.g. `<path_to_root>/#/pipelines`, `<path_to_root>/#/about`

Unless we expect the UI to be embedded in an iframe anywhere we should just set the value to "deny"

[2020-02-12 15:28] Megan-Wright commented on #1035
Can't seem to reproduce this... @a-roberts seems to think it's only failed once or twice in the 7 months it's existed so should be ok...
/close

[2020-02-12 15:28] #1035 closed

[2020-02-12 15:52] Megan-Wright commented on #1044
/assign

[2020-02-12 16:02] a-roberts commented on #1047
Yeah, I'm hopeful there's a nice library we can use on the js side and fondly recall having code in the Microclimate space (this is more for IBMers) we could potentially leverage - so remember to sanitise at both ends (js an Go)

[2020-02-12 16:02] CarolynMabbott commented on #1047
/assign

[2020-02-12 21:07] AlanGreene commented on #1047
We should already be OK on the client side as we don't dangerously set innerHTML anywhere and React ensures strings are treated correctly for display. It's still worth double-checking but we shouldn't have an issue.

As for injecting values in direct API calls, that's something we should address where those values might be stored / transmitted elsewhere. However, if the URL is just being echoed ba

[2020-02-13 11:31] Megan-Wright commented on #1044
So I've had a look into this... the `--cookie-expire` parameter can be used, but it sets a timeout regardless of whether the user has actively been using the dashboard or not (so potentially the user could be in the middle of doing something and it could time out) instead of only timing out if they've been inactive for that period of time. Not sure if this is what we wanted or not?

[2020-02-13 11:36] mnuttall opened #1049 "Dashboard should set the Content-Security-Policy header"
The `Content-Security-Policy` header is designed to modify the way browsers render pages, and thus to protect from various cross-site injections, including Cross-Site Scripting. It is important to set the header value correctly, in a way that will not prevent proper operation of the web site. Content-Security-Policy HTTP header allows you to create a whitelist of sources of trusted content and ins

[2020-02-13 11:45] CarolynMabbott commented on #1034
Have merged a PR in to fix this so closing
/close

[2020-02-13 11:45] #1034 closed

[2020-02-13 11:46] mnuttall opened #1050 "Discourage or prevent browser cacheing of resources accessed via HTTPS"
Unless directed otherwise, browsers may store a local cached copy of content received from web servers. Some browsers cache content accessed via HTTPS. If sensitive information in application responses is stored in the local cache, then this may be retrieved by other users who have access to the same computer at a future time.

Applications should return caching directives instructing browsers not

[2020-02-13 11:59] mnuttall opened #1051 "/extensions returns internal IP addresses to client unnecessarily"
The /extensions endpoint returns objects of the form,

[code]

The internal IP addresses for extension endpoints are needed by the dashboard service, but not by web clients. Discovering the private addresses used within an organization can help an attacker in carrying out network-layer attacks aiming to penetrate the organization's internal infrastructure.

IBM staff can find more information on t

[2020-02-13 12:34] AlanGreene commented on #1050
We should prevent caching of `/v1/*` and `/proxy/*` endpoints

[2020-02-13 18:32] AlanGreene commented on #1044
Can this be used with `cookie-refresh` set to 1 hour (or similar short timeframe) to regularly revalidate and extend the session?

[2020-02-13 19:41] AlanGreene commented on #839
Are we OK to close this now or is there anything left?

[2020-02-14 00:23] AlanGreene commented on #909
Should be resolved now, we were missing an icon for the pending state before it actually starts running.

[2020-02-14 00:23] #909 closed

[2020-02-14 16:23] AlanGreene opened #1058 "Ability to download step logs"
# Expected behavior
I would like the ability to download the step logs as a file for sharing / local processing.

# Actual behavior

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

# Additional Info
I propose using an icon on the log container similar to the `CopyButton` on the C

[2020-02-15 14:53] anxinyf commented on #916
Sorry to reply so late.

The issue appeared in dashboard v0.3.0 when pipeline version was v0.8.0(from this version, serviceAccount to serviceAccountName).
And after I rerun a pipelinerun with spec.serviceAccountName, new pipelinerun is missing the serviceAccountName. But now I have upgraded dashboard version.

In pipeline version v0.8.0 or later and dashboard version v0.5.2, It's ok :)

[2020-02-15 14:57] anxinyf commented on #916
@a-roberts Sorry to reply so late.

The issue appeared in dashboard v0.3.0 when pipeline version was v0.8.0(from this version, serviceAccount to serviceAccountName).
And after I rerun a successful pipelinerun with spec.serviceAccountName, new pipelinerun is missing the serviceAccountName and always failed for git access right. But now I have upgraded dashboard version.

In pipeline version v0.8.0

[2020-02-17 09:36] a-roberts opened #1063 "Tekton Pipelines beta support"
There are changes at least [here](https://github.com/tektoncd/pipeline/pull/2035) for Tekton Pipelines itself to move up to beta, it'd be useful for the Tekton Dashboard to work with any features exclusive to the beta and to not break.

Have a look at what needs to be done (so I'd build against master, check everything continues to work fine, and then build Pipelines using the referenced commit).

[2020-02-17 11:49] Megan-Wright commented on #1044
@AlanGreene so I've tried using `cookie-refresh` but this seemingly has the same effect as `cookie-expire`, i.e when I set it to a minute the session just expired after a minute....

[2020-02-17 14:51] Megan-Wright commented on #1045
/assign

[2020-02-17 14:59] Megan-Wright commented on #843
/assign

[2020-02-17 18:39] AlanGreene opened #1064 "Need better handling of step error states"
# Expected behavior
When a step fails to run (as opposed to the command it executes failing) the user should be able to find helpful information about the cause in the dashboard.

# Actual behavior

![image](https://user-images.githubusercontent.com/2829095/74678949-5b8aaf00-51b4-11ea-880b-c3e94f9a7580.png)

![image](https://user-images.githubusercontent.com/2829095/74678935-52014700-51b4-11ea-844

[2020-02-17 18:44] #1058 closed

[2020-02-17 19:13] jgawor opened #1065 ""development" version in a release"
I see the following in https://github.com/tektoncd/dashboard/releases/download/v0.5.2/openshift-tekton-dashboard-release.yaml

[code]

The `version` field seems to be invalid for an actual release.

[2020-02-17 19:27] a-roberts commented on #1065
Updated, try now please

[2020-02-17 19:31] a-roberts opened #1067 "Augment release pipeline to spot "version: development" in releases"
I've dun' goofed a couple times now (see: https://github.com/tektoncd/dashboard/issues/1065), so add a quick *up front* check for `version: development` - or, even better, automatically extract it from the tag we are on, and then fail the PipelineRun with a helpful message.

[2020-02-17 19:38] AlanGreene commented on #907
This one just won't go away... :persevere:
https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_dashboard/1066/pull-tekton-dashboard-unit-tests/1229484850340171777/build-log.txt

<details>

[code]

</details>

@a-roberts did I see you post somewhere recently about a similar issue with tests involving the Carbon Modal?

[2020-02-17 20:00] AlanGreene commented on #1063
We'll need to update `getTektonAPI` in src/api/index.js to accept the version, defaulting to `v1alpha2` if none provided and only pass the override when required (e.g. PipelineResource APIs, maybe triggers?)

https://github.com/tektoncd/dashboard/blob/24eb823bfd4472d3fb1239dcf811d89b92f3f0a8/src/api/index.js#L91

[2020-02-17 21:01] ncskier opened #1068 "Create PipelineRun modal view extra right padding"
![Screen Shot 2020-02-17 at 3 21 12 PM](https://user-images.githubusercontent.com/16961496/74686146-941f8e00-519e-11ea-8ba0-fed077c38933.png)

Extra padding on the right side of the PipelineRun modal view.

# Environment
- Kubernetes Platform: OpenShift

- Tekton Dashboard version: master

[2020-02-17 22:05] tbe commented on #692
Maybe gatekeeper[1] may be an replacement for this in kubernetes? At least for OIDC backed clusters.

[1]https://github.com/keycloak/keycloak-gatekeeper

[2020-02-17 23:14] jgawor commented on #1065
Looks good. Thanks!

[2020-02-18 09:58] a-roberts commented on #907
I'm seeing this locally consistently now, a colleague at IBM mentioned this in Slack in response

[code]

[2020-02-18 09:59] #1065 closed

[2020-02-18 10:20] CarolynMabbott commented on #1045
/assign

[2020-02-18 10:47] AlanGreene commented on #1068
Depending on the screen sizes you're seeing this at it may be part of the Carbon design spec: https://www.carbondesignsystem.com/components/modal/style#margin-right

[2020-02-18 15:40] ncskier commented on #1068
Ok

[2020-02-18 20:21] ncskier opened #1070 "Change Namespace when viewing PipelineRun error"
# Expected behavior
When viewing the logs of a PipelineRun in Namespace `a`, I expect to be able to change the Namespace dropdown to navigate to Namespace `b` without seeing an error.

# Actual behavior
When viewing the PipelineRun logs from Pipeline0 in the `tekton-pipelines` Namespace, I changed the Namespace dropdown to `default`. Then, I got the following error message:

![Screen Shot 2020-02-

[2020-02-18 21:18] anneqm commented on #1063
on beta community call, there was discussion about move to v1alpha2 or maybe to v1beta1-rc1.
See https://docs.google.com/document/d/1JmRd0vbh2Q6Emu2DOk-LwLHfxd2V0zrN4WNawGzoNXw/edit#

[2020-02-19 13:48] AlanGreene commented on #1070
This seems to be expected behaviour since Pipeline0 doesn't exist in the default namespace. This is the same experience as if you followed a link directly to `/namespaces/default/pipelineruns/this-pipeline-run-does-not-exist`

We could possibly change the behaviour for this specific case (changing namespace in the dropdown while on the details page) to return to the PipelineRuns list. The updated

[2020-02-19 15:06] ncskier commented on #1070
Ok, good to know. It's definitely not a big problem. However, it was a little jarring as a user to see that error message.

[2020-02-19 15:49] AlanGreene commented on #1070
Yes definitely, it's good feedback. What were you originally expecting to happen when you switched namespaces? We might be able to improve this in the short term before the new designs are implemented.

[2020-02-19 16:30] ncskier commented on #1070
If I recall correctly, I was planning on navigating to the PipelineRuns list for the `default` Namespace. So, my thought process was that I would:
1. Change the Namespace to `default`
2. Click on the PipelineRuns navigation menu item

So, I actually didn't expect anything to happen 😅 I was planning on navigating to the PipelineRuns list page next.

[2020-02-19 17:05] a-roberts commented on #932
@AlanGreene do you think this'd be particularly hard to do? I've noticed we've got a sorting by time already on the TaskRuns page, for full disclosure it's being asked for as a useful feature to have for the upcoming release of the Kabanero project as there's a validate task that actually happens first, but it's displayed at the bottom

[2020-02-19 17:19] AlanGreene commented on #932
hrmm displaying them alphabetically (the current mystery behaviour we have no explicit code for...) is definitely not right, but I'm not sure if sorting by timestamp is right either as it won't be consistent across multiple PipelineRuns for the same Pipeline where some Tasks are run in parallel.

Ideally we'd display them in topologically sorted order (walk the DAG essentially), but this would tak

[2020-02-19 17:33] a-roberts commented on #932
Good points, yeah I like the idea of doing it based on the position in the Pipeline for now, I'm wary there's run after and folks needn't place things in order really but at least it'll be done in a well defined way and to some specification

[2020-02-19 18:29] jbarrick-mesosphere opened #1075 "Cannot search step logs"
# Expected behavior

When I press control + F when browsing step logs, I should be able to search over the whole log.

# Actual behavior

Control + F can only search over the logs in the current view.

[2020-02-19 20:26] AlanGreene commented on #1075
Thanks for raising this, it's a request we've had from other users too and I agree that this would be great to have. The current implementation only renders the visible lines (plus a small buffer either side) for performance reasons based on feedback from a number of users with very large logs.

For now, you can download the logs by clicking the button in the upper right corner of the log containe

[2020-02-19 20:39] jbarrick-mesosphere commented on #1075
Thanks!

We could add another button that loads the raw logs in a tab (instead of downloading)? That way the user can click into it (without needing to open a text editor) easily? I've had good luck with that on other CI systems.

[2020-02-19 21:18] anneqm commented on #932
consensus here:  prefer displaying in the order defined in the Pipeline definition rather than by timestamp.  Can we update the issue description? :)

[2020-02-19 21:46] AlanGreene commented on #1075
Great suggestion, PR here: https://github.com/tektoncd/dashboard/pull/1076

[2020-02-19 21:52] jbarrick-mesosphere commented on #1075
Awesome, thank you!

[2020-02-20 08:06] a-roberts commented on #932
Done

[2020-02-20 10:44] a-roberts commented on #932
Right, got a test Pipeline, PipelineRun and some tasks, actually fixing the code now

[code]

[code]

[code]

Indeed this gives
![image](https://user-images.githubusercontent.com/12814972/74926580-05915380-53ce-11ea-93b6-5cb8d167906c.png) currently

[2020-02-20 10:49] a-roberts commented on #999
@AlanGreene's PR [here](https://github.com/tektoncd/dashboard/pull/1042) has fixed this one well, thanks for the PR Megan although I think Al's is what we want, I'll close that PR too 😸

[2020-02-20 10:49] #999 closed

[2020-02-20 10:51] a-roberts commented on #998
Closing in favour of the work @AlanGreene has done and is merged, tested this works fine now 🎂

[2020-02-20 10:51] #998 closed

[2020-02-20 15:30] a-roberts commented on #932
I have something working, needs more testing though.

While a PipelineRun is still happening:

![image](https://user-images.githubusercontent.com/12814972/74949355-90d20f80-53f5-11ea-8eee-1e3118deeced.png)

And when it's done, it's the same.

I'm sorting on terminated.startedAt here, I've had to introduce moment for the useful before/after methods. Oddly enough I've only changed PipelineRuns here,

[2020-02-24 11:01] CarolynMabbott commented on #1046
/assign

[2020-02-24 11:01] CarolynMabbott commented on #1046
For Openshift it uses cookies to store the log in data
If you delete the cookies then try and log back in then you have to log back into openshift
Not sure if there is anything we can do about this in the dashboard configuration

[2020-02-24 14:01] steveodonovan opened #1078 "Make pipelineRun batch actions configurable"
# Expected behavior

In the pipelineRuns component you should be able to pass batch actions to the Table component

# Actual behavior

Its is not possible at the moment limiting use of the batch actions.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

# Additional Info

[2020-02-24 14:01] steveodonovan commented on #1078
/assign

[2020-02-24 14:20] mnuttall commented on #839
Finished, closing.

[2020-02-24 14:20] #839 closed

[2020-02-24 14:20] mnuttall commented on #902
Test disabled in another PR.

[2020-02-24 14:20] #902 closed

[2020-02-24 14:39] mnuttall commented on #505
Carlos: review scheduled with Alan over webex.

[2020-02-24 15:57] anneqm commented on #1063
@a-roberts do we need a similar issue for the move up to pipelines 0.11 ? That's targeted for Feb 26, with beta then in March (March 13 as of last week beta call).

[2020-02-24 16:29] anneqm opened #1080 "Upgrade to Pipelines 0.11.x"
Test with Tekton pipelines 0.11 when it becomes available and address any needed changes in the dashboard.

[2020-02-24 17:08] #969 closed

[2020-02-24 17:10] AlanGreene commented on #711
ComboBox implemented for Namespaces, Pipelines, PipelineResources, and ServiceAccounts dropdowns. This adds typeahead support displaying a filtered list of the available resources for selection.

[2020-02-24 17:10] #711 closed

[2020-02-24 17:17] a-roberts commented on #1063
Yep I think that's a good idea

[2020-02-24 17:24] #1078 closed

[2020-02-24 18:22] #900 closed

[2020-02-24 19:19] akihikokuroda commented on #1044
This may need to be set. https://github.com/openshift/api/blob/c99157bc6492218400b18cde7f66510f9ee56a9a/oauth/v1/types.go#L133 . But there is no configuration to make this set this via the proxy.

[2020-02-25 10:08] CarolynMabbott commented on #1046
There appears to be no max amount of times a user can try and log in
Have opened an issue in oauth-proxy
https://github.com/openshift/oauth-proxy/issues/155

[2020-02-25 10:13] a-roberts commented on #1063
I'll pick this up, will try out @vdemeester's super PR shortly

[2020-02-25 10:40] a-roberts commented on #1051
Yeah, not a fan of this, perhaps it's just a case of removing it from the struct? For whoever picks this up - check to see how that /extensions endpoint is used (it's fine to be an internally passed around object, I'm wondering though if the URL is needed in our Javascript code so we may need a more creative solution).

@AlanGreene @steveodonovan any thoughts here?

[2020-02-25 10:55] a-roberts commented on #1063
Upgraded my Docker Desktop version to pick up Kube 1.15.x, built and deployed perfectly with Vincent's latest commit

Checked out master of Dashboard and did a clean build, kicked the tires. Testing to do (comment will be updated with results):

1) Import resources (creating a PIpelineRun, then importing known resources in the PIpeline Hotel)
2) Creating and deleting Tekton secrets
3) Testing manu

[2020-02-25 11:10] CarolynMabbott commented on #1063
Cant check things off in your box but have tested and following things work:
Import Resources
Creating and deleting secrets
Things render okay - service accounts, secrets, task, takruns, pipelines, pipelineruns, pipelineresources
Stopping pipelineruns works okay
Deleting pipelineruns works okay

My about page isnt displaying my pipeline version on docker desktop though

[2020-02-25 12:29] AlanGreene commented on #1051
We don't use `url` in the front end code so no need to pass it back on the API. We use the `name` and `bundlelocation` to build the correct URL to load the extension JS.

[2020-02-25 13:50] a-roberts opened #1082 "Rerun doesn't work on master (citing "digest")"
# Expected behavior
A PipelineRun should rerun successfully

# Actual behavior

[code]

# Steps to reproduce the problem

1. Rerun a PipelineRun (wait for it to finish)
2. Check dashboard pod logs (you'll get a nice UI error notification too)

# Environment
Probably all

- Tekton Pipelines version:
master

- Tekton Triggers version:

- Tekton Dashboard version:
master

# Additional Info
ttps://git

[2020-02-25 13:51] Megan-Wright commented on #1082
/assign

[2020-02-26 11:40] a-roberts commented on #1063
Update on this one, https://github.com/tektoncd/dashboard/compare/master...vdemeester:bump-v1beta1 builds great, rerun works, but PipelineResources don't display (an error mentioning we can't find the requested resource appears). @CarolynMabbott has noticed the label change we use to detect the Tekton Pipelines version and I'm going to look at making the JavaScript changes next on my branch, which

[2020-02-26 13:36] CarolynMabbott opened #1085 "Get PipelineVersion for Pipelines Master errors"
Master of Pipelines has an error on the About page for gettting version of pipelines

[2020-02-26 13:36] CarolynMabbott commented on #1085
/assign

[2020-02-26 13:50] a-roberts commented on #1082
We've got a fix for this thanks to @vdemeester's draft PR for beta support, looking into testing against OpenShift next as this introduces a version upgrade for the API we use

(we can't ko apply the pipelines repository atm, so asked in openshift-pipelines)

[2020-02-26 14:53] a-roberts opened #1087 "Test Dashboard with Triggers 0.3"
# Expected behavior
@ncskier has just released triggers 0.3 🎈 so let's see what features continue to work and if any need to be added

# Steps to reproduce the problem

1. Install Triggers 0.3
2. Install master of the Tekton Dashboard

# Environment
- Kubernetes Platform:
Any

- Tekton Pipelines version:
master

- Tekton Triggers version:
0.3

- Tekton Dashboard version:
master

Follow-up issue to

[2020-02-26 14:57] arunavemulapalli opened #1088 "update oauth-proxy config to skip sign-in pop-up window"
background -

Tekton UI is protected by OpenShift OAuth server via OAuth proxy,  Current configuration always display the sign-in page "Log in with Open Shift" before reaching OAuth login page. Since "login with OAuth" is the only option, we should skip this pop-up window, and go directly to OAuth login page.  Skipping the sign-in page is useful for SSO, if OpenShift OAuth server is configured to

[2020-02-26 16:33] a-roberts commented on #1088
Yeah, sounds good! Looks like you've done the hard work - would you do the honours of creating the pull request for us please? 😸

[2020-02-26 20:25] arunavemulapalli commented on #1088
Sure

[2020-02-26 20:47] ncskier commented on #1087
I've done some testing with Triggers v0.3.0 using the Dashboard and the Webhooks Extension, and I was able to view EventListener, TriggerTemplates, and TriggerBindings properly in the Dashboard. For testing, I used the Triggers resources defined [here](https://github.com/pipeline-hotel/example-pipelines/tree/master/triggers-resources/config/github/buildah), and viewed the EventListener created by

[2020-02-26 21:02] ncskier commented on #1087
FYI @a-roberts I created the follow-up issue for webhooks extension: https://github.com/tektoncd/experimental/issues/480

[2020-02-26 23:50] #976 closed

[2020-02-27 00:26] AlanGreene commented on #843
fyi, no rush on this one currently as the change in pipelines was reverted due to a regression it caused for retries.

[2020-02-27 09:53] a-roberts commented on #1082
Fixed

[2020-02-27 09:53] #1082 closed

[2020-02-27 09:54] a-roberts commented on #1087
Thanks, yeah we want to display the Triggers version too, I'll make an issue for that and displaying 0.3 features

[2020-02-27 09:54] #1087 closed

[2020-02-27 09:55] a-roberts opened #1094 "Include installed Triggers version for About page"
Info at https://github.com/tektoncd/dashboard/issues/1087 - detect 0.1, 0.2.0, 0.2.1, 0.3.0 and master (e.g. `development`)

[2020-02-27 09:57] a-roberts opened #1095 "Display new Triggers 0.3 features"
See https://github.com/tektoncd/dashboard/issues/1087 for details

# Expected behavior
@ncskier mentions a few new additions (detailed above) so render these in the dashboard under the appropriate page

# Steps to reproduce the problem

1. Install Triggers 0.3 and the latest dashboard
2. Use the latest Triggers 0.3 features (https://github.com/tektoncd/triggers/pull/358 for ClusterTriggerBindings,

[2020-02-27 11:39] #1064 closed

[2020-02-27 12:18] AlanGreene commented on #907
PR merged to mock focus-trap, and just as that went in I spotted this Carbon PR that actually removes focus-trap-react: https://github.com/carbon-design-system/carbon/pull/5260

So once the next Carbon release goes out in a week or two we should be able to remove this mock.

[2020-02-27 12:26] #907 closed

[2020-02-27 12:42] #861 closed

[2020-02-27 13:50] Megan-Wright commented on #1095
/assign

[2020-02-27 14:12] CarolynMabbott commented on #1094
/assign

[2020-02-27 15:30] #1037 closed

[2020-02-27 15:36] AlanGreene commented on #1037
Addressed by https://github.com/tektoncd/dashboard/issues/711

[2020-03-02 13:24] dibbles commented on #1051
/assign

[2020-03-03 10:33] CarolynMabbott opened #1101 "Secret page tells you secrets are deleted successfully when trying to delete no secrets"
# Expected behavior
When press delete on batch delete secrets it doesnt come up with an notification saying secrets deleted successfully

# Actual behavior
It says secret deletes successfully

# Steps to reproduce the problem

1. Have no secrets
2. Select all in batch table
3. Press delete

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dash

[2020-03-03 10:36] Megan-Wright opened #1102 "Access token secrets don't appear in the secrets table after they've been created"
# Expected behavior

If I create a secret that uses an access token, I should then be able to view this secret in the secrets table.

# Actual behavior

The secret does not appear in the table. It does appear in the webhooks extension (if you have it installed) under the secrets you can use to create a webhook, however this doesn't seem like it would be obvious to the user unless they specifically

[2020-03-03 10:42] Megan-Wright opened #1103 "Notification for successfully patching secrets doesn't disappear"
# Expected behavior
If I create a secret, a success notification for patching the secret to the related service accounts appears. If I change to a different view on the dashboard and then change back to the secrets page, I expect this notification to have disappeared.

# Actual behavior

The notification doesn't ever disappear unless you manually refresh the page.

# Steps to reproduce the problem

[2020-03-03 10:50] Megan-Wright opened #1105 "Patch/Finish buttons when creating a secret do the same thing"
# Expected behavior

When creating a secret, I can either select no service accounts to patch and press `finish`, creating the secret as intended, or I can select service accounts to patch and press `patch`, which patches the service accounts selected to the secret. This `patch` button also finishes the process of creating the secret, and so renders the `finish` button redundant.

# Actual behavio

[2020-03-03 10:55] a-roberts commented on #1102
Discussed with @Megan-Wright, so actually this may not be a bug, just a bad user experience - we couldn't create access tokens through the Dashboard before the PR by Carlos, we think we should have an option to display access tokens created instead, or in addition to the normal password type secrets

@AlanGreene what do you think?

[2020-03-03 10:58] a-roberts commented on #1105
[code]

+1

[2020-03-03 11:08] Megan-Wright opened #1106 "Secrets can be created with neither an access token nor a password"
# Expected behaviour

When creating a secret, it should be a requirement that the secret either needs an access token or a password associated with it.

# Actual behaviour

I can create a secret with just a name and a namespace, and without selecting to have a password or access token. The secret is created as an access token secret where the access token is an empty string.

# Steps to reproduce

[2020-03-03 11:10] AlanGreene commented on #1102
Yep we should display them and allow the user to delete them. If we can display them in the current secrets table that would be great.

[2020-03-03 11:16] a-roberts commented on #1102
SGTM 👍

[2020-03-03 11:22] AlanGreene commented on #1101
So the delete button should be disabled and the modal should not be triggered if there are no secrets selected. Or even better would be to disable the 'select all' checkbox when the table is empty, I'm not sure if this is something Carbon supports.

[2020-03-03 11:26] a-roberts commented on #1095
ClusterTriggerBindings are in so only the overlays work to go

[2020-03-03 11:26] a-roberts commented on #1080
This is going to be beta so closing as work's tracked above instead (#1083)

[2020-03-03 11:26] #1080 closed

[2020-03-03 11:31] AlanGreene commented on #1105
The 'Patch' button is only displayed when (potentially multiple) service accounts are selected in the table, it would be odd and against Carbon guidelines to display the table action header with no rows selected.

Additionally, we cannot easily access details of the selected rows from outside the table component without resorting to hacks. The DataTable is responsible for performing actions relate

[2020-03-03 11:31] a-roberts commented on #505
Now merged so closing

[2020-03-03 11:31] #505 closed

[2020-03-03 11:33] AlanGreene commented on #1106
The 'Password' type radio button should probably be selected by default. That would prevent this from occurring as there's no way to unselect a radio button other than choosing another from the same group (i.e. access token).

Alternatively if we want to force the user to explicitly choose the type we could add validation on the create to ensure one option or other is chosen.

[2020-03-03 11:33] a-roberts commented on #894
No work to be done on this one, we delivered 0.5.2 and Kabanero are picking it up, all tested well on OpenShift 4.3 so closing

[2020-03-03 11:33] #894 closed

[2020-03-03 11:40] a-roberts commented on #453
Had a look through this one to check the latest status, so I see the following and updated checkboxes accordingly

https://github.com/tektoncd/dashboard/blob/master/src/containers/CreatePipelineRun/CreatePipelineRun.js now has lots of intl strings

https://github.com/tektoncd/dashboard/blob/master/src/containers/ImportResources/ImportResources.js looks good too

https://github.com/tektoncd/dashboa

[2020-03-03 11:41] AlanGreene commented on #1080
guessing that's meant to be https://github.com/tektoncd/dashboard/issues/1063

[2020-03-03 11:42] AlanGreene commented on #453
we're nearly there

[2020-03-03 11:43] a-roberts commented on #1105
Yeah, true actually, so the real question is

[code]

when clicking patch, the modal does go away (so finish does happen), so I'm gonna close this one off (it'd be weird if things were patched and then you had the option to finish, would do nothing)

[2020-03-03 13:18] a-roberts opened #1107 "Server URL value for Docker no longer provided when creating a secret"
# Expected behavior
I expected the old predefined server URL to be provided

# Actual behavior
![image](https://user-images.githubusercontent.com/12814972/75779361-61a29300-5d51-11ea-821c-96bba700eb23.png)

# Steps to reproduce the problem

1. Try to create a secret of type `password`

# Environment
- Kubernetes Platform:
Any

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashb

[2020-03-03 13:29] a-roberts opened #1108 "Incorrect Tekton annotation provided when Docker registry password is provided"
# Expected behavior
I expect the Docker annotation type to be used on the created secret

# Actual behavior
![image](https://user-images.githubusercontent.com/12814972/75780242-e346f080-5d52-11ea-80fc-0a8f74f82ecc.png)

Notice how it's a git-0 secret and not a docker-0 secret, but I wanted a Docker secret

# Steps to reproduce the problem

1. Try to create a working Docker secret patched to a serv

[2020-03-03 16:15] a-roberts commented on #1107
Had a look around

![image](https://user-images.githubusercontent.com/12814972/75795183-dc77a800-5d69-11ea-9f0e-3a8645eb5f9e.png)

this itself looks dubious

In our old code see https://github.com/tektoncd/dashboard/blob/v0.5.2/src/components/SecretsModal/UniversalFields.js and here's the logic https://github.com/tektoncd/dashboard/blob/v0.5.2/src/containers/SecretsModal/SecretsModal.js#L241

[2020-03-03 16:38] AlanGreene commented on #453
@steveodonovan pointed out that we missed some strings in the Carbon DataTable that don't follow the standard process of passing them as props, added details to the end of the description.

[2020-03-03 16:51] a-roberts commented on #1108
Fixed so closing

[2020-03-03 16:51] #1108 closed

[2020-03-03 17:00] a-roberts commented on #1107
Things are slowly creeping back to normal, I basically copied what was at https://github.com/tektoncd/dashboard/blob/v0.5.2/src/containers/SecretsModal/SecretsModal.js#L251

and my latest progress is at https://github.com/tektoncd/dashboard/compare/master...a-roberts:annotationtext?expand=1, the next step is to have it actually go back to using Git URLs correctly now, I'm attempting to copy as lit

[2020-03-04 10:00] a-roberts commented on #1107
Actually it's easier to just do what I've done at https://github.com/tektoncd/dashboard/pull/1111/files ...

[2020-03-04 10:01] Megan-Wright commented on #1102
/assign

[2020-03-04 10:12] a-roberts commented on #1107
Adding a test next

[2020-03-04 14:26] dibbles commented on #1051
Pull request in for review :- https://github.com/tektoncd/dashboard/pull/1110

[2020-03-04 18:31] Megan-Wright commented on #1095
Overlays PR merged now so closing
/close

[2020-03-04 18:31] #1095 closed

[2020-03-04 18:32] Megan-Wright commented on #843
Ok, in that case I'm going to unassign myself since there's more urgent work I'm currently doing

[2020-03-04 22:36] codersofthedark opened #1115 "unable to recognize "https://github.com/tektoncd/dashboard/releases/download/v0.5.1/tekton-dashboard-release.yaml": Unauthorized"
# Expected behavior
Dashboard should have got installed
# Actual behavior
Error: unable to recognize "https://github.com/tektoncd/dashboard/releases/download/v0.5.1/tekton-dashboard-release.yaml": Unauthorized
# Steps to reproduce the problem

1. Run: kubectl apply --filename https://github.com/tektoncd/dashboard/releases/download/v0.5.1/tekton-dashboard-release.yaml

# Environment
- Kubernetes Pl

[2020-03-05 00:30] AlanGreene commented on #1115
I just verified in a few environments (OCP, iKS, and Docker desktop) that the release is working as expected using the same URL.

From a quick search of the error message is seems like this may be due to some misconfigured auth settings on your cluster, or missing / invalid auth settings in your kubeconfig.

Can you verify you're targeting the expected context (`kubectl config current-context`)?
D

[2020-03-05 10:29] Megan-Wright commented on #1106
/assign

[2020-03-05 11:08] Megan-Wright commented on #1106
/close

[2020-03-05 11:08] #1106 closed

[2020-03-05 11:17] dibbles commented on #1103
/assign

[2020-03-05 12:16] a-roberts commented on #1085
This is being done with https://github.com/tektoncd/dashboard/pull/1104 (utilises the same mechanism for handling Triggers)

[2020-03-05 15:44] Megan-Wright commented on #1101
/assign

[2020-03-05 16:02] a-roberts commented on #1102
Merged so closing 🎉 thanks Megan, liking this approach

[2020-03-05 16:02] #1102 closed

[2020-03-05 17:02] a-roberts commented on #1107
Merged so closing

[2020-03-05 17:02] #1107 closed

[2020-03-05 18:34] a-roberts commented on #1101
Merged

[2020-03-05 18:34] #1101 closed

[2020-03-05 19:01] #1088 closed

[2020-03-06 09:46] Megan-Wright commented on #1009
/assign

[2020-03-06 11:14] AlanGreene opened #1121 "User should be able to link directly to list of access tokens"
# Expected behavior
A user should be able to follow a link directly to view a list of access tokens (including filters for namespace etc.) as with other resource types.

# Actual behavior
The access tokens are hidden behind a radio button selection on the secrets page and this selection is not reflected in the URL.

# Additional Info
https://github.com/tektoncd/dashboard/pull/1117#pullrequestrevie

[2020-03-06 19:21] #746 closed

[2020-03-06 19:32] #1015 closed

[2020-03-06 19:35] AlanGreene commented on #1028
This is fixed in recent nightlies
![image](https://user-images.githubusercontent.com/2829095/76116273-9dec2280-5fe1-11ea-9c2d-ea5e7dd31b73.png)

[2020-03-06 19:35] #1028 closed

[2020-03-06 19:36] #1051 closed

[2020-03-06 20:54] AlanGreene commented on #842
This should also include ensuring the strings for the sorting headers are extracted for translation, see https://github.com/carbon-design-system/carbon/blob/master/packages/react/src/components/DataTable/TableHeader.js and https://github.com/tektoncd/dashboard/blob/0fc671e44a103db1dcfde8b301c921fa3b8c918e/packages/components/src/components/Table/Table.js#L43 for reference.

[2020-03-09 09:57] a-roberts commented on #1009
@AlanGreene FYI, there's currently no full page details page for secrets so the plan is to introduce something basic for now (a copy of the existing detail pages, such as for PipelineResources), so that the cilckable link to get more details can be provided.

We do the same kinda thing already for EventListeners and their TriggerBindings/Templates so I'm suggesting we apply the same style as well

[2020-03-09 10:57] a-roberts commented on #1121
Yeah, so to confirm - for this one instead of thinking of a specific resource page, clicking on the access tokens link should change the URL to include a filter by type=accesstoken right? Then there's a programmatic way for anyone to easily see all of the access tokens (instead of rendering the page then clicking said button), they'd just know the tokens can be found at X location

[2020-03-09 12:10] a-roberts commented on #932
This is open now for anyone else to build upon to actually implement the displaying of steps by Spec order, I implemented by earliest startedAt time

Here's some code in use by the Dashboard as part of the IBM public cloud team offering that @AlanGreene has kindly shared that we can build upon, perhaps adding a switch to change the sorting method used:

[code]

[2020-03-09 13:52] a-roberts commented on #1009
Note that if we are to filter by name, we can use fieldSelector but IIRC there was a problem with it (perhaps not supported through the proxy, we've definitely tried something like this before) - we know labelSelector is good though and, worst case scenario, we could add labels to secrets we create as a not-ideal workaround.

[2020-03-09 14:51] AlanGreene commented on #1009
Right now very little, but I think that's OK because we've chosen to provide a simple experience around secrets that allows users to create them with the required annotation for Tekton, it's not intended to be a general purpose secrets editor / explorer.

There are other parts of the experience missing, such as the ability to edit a secret / patch it onto a ServiceAccount after exiting the create

[2020-03-09 15:20] a-roberts commented on #1009
That's true and we would then have consistency as it's what we do for other resources, so having a minimal page displaying the info (and the usual yaml view) would be good I think

[2020-03-09 20:13] AlanGreene opened #1127 "Surface optional resource description field"
# Expected behavior
Tekton resources should surface the [optional description field](https://github.com/tektoncd/pipeline/issues/993) in their details pages.

Would we also want to surface it in the list views?

Pipelines:
- [x] ClusterTasks
- [x] Conditions
- [x] PipelineResources
- [x] Pipelines
- [x] Tasks

Triggers:
- would it make sense for Triggers to add an optional description field to its

[2020-03-09 21:29] #872 closed

[2020-03-10 13:23] CarolynMabbott commented on #1046
Have tried to recontact the maintainer in oauth-proxy, just waiting on a reply

[2020-03-10 22:04] bitsofinfo opened #1129 "EventListeners, Interceptors: option to NOT show CEL interceptor details"
If a CEL interceptor handles a sensitive value (i.e. like in a comparison) its exposed in the clear in the dashboard. Might be nice to have an option to obfuscate or toggle displaying on/off interceptor details when the dashboard is installed.

[2020-03-11 10:13] a-roberts commented on #1129
Yeah this is a good idea, so a few things about how we could implement this

1) Option at install time?
2) A switch on the page itself?
3) Something more intelligent, like having a known sensitive field name and if you use that we won't display the values?

Open to more suggestions too, @AlanGreene FYI

[2020-03-11 10:14] a-roberts commented on #1103
Putting this one back on the backlog, @dibbles is off on holiday shortly and more pressing work's taking a priority atm so this one's up for anyone to grab - would be nice to get this in for the Dashboard Beta release

[2020-03-11 10:31] AlanGreene commented on #1129
If the concern is around surfacing sensitive information in the UI we would also need to disable the raw YAML view of the EventListener.

I wonder if there's any guidance in [tektoncd/triggers](https://github.com/tektoncd/triggers) on how to handle sensitive values like this?

[2020-03-11 10:45] bigkevmcd commented on #1129
One possibility, might be to add an extension function "secretValue(ns, name, key)" which would find a named secret, and return the string value.

[2020-03-11 10:51] a-roberts commented on #1129
Yeah 👍 this sounds good to me, and I'm wondering if this is specific to just using CEL style interceptors (surely not)

[2020-03-11 12:04] bigkevmcd commented on #1129
@bitsofinfo can you describe the specifics of what you're matching on?

[2020-03-11 13:15] CarolynMabbott commented on #1085
Done with #1130
/close

[2020-03-11 13:15] #1085 closed

[2020-03-11 13:34] AlanGreene commented on #1103
One approach here might be to keep the notification state in the component's local state instead of going through the redux store, that way once the component is unmounted it's gone. The notification is only needed on this page anyway.

[2020-03-11 13:41] CarolynMabbott opened #1132 "Selecting `x` in the namespace box breaks secrets page"
# Expected behavior
On create secret I tpyed in a namespace that didnt exist and clicked create
When tried to press the x in the namespace box it broke and came up with error
`Error loading page Cannot read property 'text' of null`

Inspector error is:
`ErrorBoundary.js?9c7c:68 ErrorBoundary Object
componentDidCatch @ ErrorBoundary.js?9c7c:68`

# Actual behavior

# Steps to reproduce the problem

[2020-03-11 13:44] CarolynMabbott opened #1133 "Cannot type in the all namespace box on the left"
# Expected behavior
I can type in the All namespace box on the left to find a namespace

# Actual behavior
I cant type in it

# Steps to reproduce the problem

1. Select All Namespaces box
2. Try and type in it
3.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Additional Info

[2020-03-11 14:13] CarolynMabbott opened #1134 "Import resources service accounts always shows same three service accounts"
# Expected behavior
Service accounts are shown based on namespace

# Actual behavior
They are not
They seemingly show based on tekton-pipelines

# Steps to reproduce the problem

1. Go to import resources
2. Select service accounts
3. See all the service accounts

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master

# A

[2020-03-11 14:24] AlanGreene commented on #1134
Looking at the code at least this appears to be working as designed, the `helperText` states that the ServiceAccount must be in the install namespace

https://github.com/tektoncd/dashboard/blob/3f6d8ff5208fcf4cceb0bb7700f045331f6abacd/src/containers/ImportResources/ImportResources.js#L311

[2020-03-11 14:24] #1134 closed

[2020-03-11 14:25] AlanGreene commented on #1133
I don't think this ever worked, there's code in SideNav that forces the value to 'All Namespaces' if there's no item selected.

[2020-03-11 14:28] AlanGreene commented on #1132
`handleNamespace` assumes there's always a selected item, but this is not the case when clicking the 'X' to clear the combo box
https://github.com/tektoncd/dashboard/blob/3f6d8ff5208fcf4cceb0bb7700f045331f6abacd/src/containers/CreateSecret/CreateSecret.js#L94

[2020-03-11 14:29] CarolynMabbott opened #1135 "Import resources can use wrong service account but still run successfully"
# Expected behavior
Import resources uses correct service account

# Actual behavior
Uses wrong service account

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Kubernetes Platform:

docker desktop

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Additional Info
I ran a import resources into docker using service account tekton-dashboard
T

[2020-03-11 14:32] #1135 closed

[2020-03-11 14:42] bitsofinfo commented on #1129
was thinking same thing as @bigkevmcd something that can let you inject a legit k8s secret into an expression (by name) via some little function like that.

use-case, a shared secret/string that is simply conveyed via a header between the remote hook that is calling the EventListener w/ JSON and the CEl interceptors that validate it.

[2020-03-11 14:54] dibyom commented on #1129
For secret values, we usually take a reference to a k8s secret (like in GitHub/Gtlab interceptors).

This is almost exactly what the Gitlab interceptor does...wonder if it makes sense to have a generic shared secret interceptor like that

[2020-03-11 15:26] bigkevmcd commented on #1129
@dibyom that would be fairly easy to do, the question is "what algorithm"?

Some are HMAC, some are simple constant-time string comparisons.

Something vaguely like this:
[code]
The complexity comes with `algorithm`.

[2020-03-11 15:51] dibbles opened #1136 "Secrets panelling is not clear as to how to use accesstokens"
The dashboard UI does not clearly indicate that the secret of type accesstoken is to create an opaque secret creating an access token, rather than a basic-auth secret with the token in the password field.

This will potentially confuse new users.... the design around this needs work, as if users can specify the token in the user/password situation (in place of the password) - it is not clearly ind

[2020-03-11 20:21] dacleyra opened #1137 "Can not delete webhook from UI if pipeline has been deleted"
# Expected behavior

# Actual behavior

# Steps to reproduce the problem

1. Create a webhook in the ui, using an existing pipeline
2. Delete the pipeline
3. Navigate to the webhooks page. Find that the row exists, but the entry is blank. Unable to delete it.

# Environment
- Kubernetes Platform:
Openshift 4.3.1

- Tekton Pipelines version:
openshift-pipelines-operator.v0.10.4

- Tekton Triggers v

[2020-03-11 20:38] AlanGreene commented on #1137
Thanks for raising this issue. Problems with the webhooks-extension should be reported in https://github.com/tektoncd/experimental.

This seems very similar to https://github.com/tektoncd/experimental/issues/489
@a-roberts fyi

[2020-03-11 20:45] dacleyra commented on #1137
Thanks. This looks like a duplicate, closing.

[2020-03-11 20:45] #1137 closed

[2020-03-12 09:58] CarolynMabbott commented on #1133
You used to be able to type in the namespace box in the SidaNav to find a namespace

[2020-03-12 10:15] CarolynMabbott commented on #1132
/assign

[2020-03-12 10:40] a-roberts commented on #1103
Working on this as it's what we do elsewhere, also exploring the option of simply catching the prop changing in componentDidUpdate and using clearNotification (this works in the case of the delete notifications now)

[2020-03-12 11:15] Megan-Wright commented on #1136
/assign

[2020-03-12 12:57] a-roberts commented on #1103
Merged

[2020-03-12 12:57] #1103 closed

[2020-03-12 15:05] #1132 closed

[2020-03-13 11:42] CarolynMabbott opened #1142 "Import resources page cant select `x` on namespaces box"
# Expected behavior
can press `x` on namespace sbox on import resources and it clears box

# Actual behavior
it doesnt clear

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master
# Additional Info

[2020-03-13 11:42] CarolynMabbott commented on #1142
/king bug
/assign

[2020-03-13 11:51] CarolynMabbott opened #1144 "Get 2 identical errors when creating a secret that already exists"
# Expected behavior
I only get one error

# Actual behavior
I get two which are identical

# Steps to reproduce the problem

1. Create two secrets (the second being identical to the first)

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Additional Info
It's also strange that if you click `x` on the second one th

[2020-03-13 12:03] CarolynMabbott opened #1145 "`No Secrets in namespace tekton-pipelines` under patch service account"
# Expected behavior
I get a list of service accounts to patch my secret to

# Actual behavior
I get `No Secrets in namespace tekton-pipelines`

# Steps to reproduce the problem

1. Create secret and patch in any namespace to any service account
2. Try and create identical secret in other namespace as first secret without changing namespace on the left sidenav
3. Get through to patch secret and not

[2020-03-13 12:04] #1142 closed

[2020-03-13 13:11] CarolynMabbott opened #1146 "Secrets showing patched to wrong service accounts"
# Expected behavior
Secrets view is correct when showing me what service accounts a secret is patched to

# Actual behavior
Secrets view is showing me secret is patched to two different service accounts in different namespaces

# Steps to reproduce the problem

1. Create secret in namespace (eg kube-system) and patch it to a service account (eg kube-proxy)
2. Create a secret with the same name in

[2020-03-13 13:29] CarolynMabbott opened #1147 "Secret page tells you secrets are deleted successfully when trying to delete no secrets (again)"
# Expected behavior
I am unable to delete 0 zero

# Actual behavior
I can delete 0 secrets

# Steps to reproduce the problem

1. Select a secret to delete
2. Change to a namespace that doesnt contain secret
3. Switch back to All Namespaces or that namespaces containing secret you try to delete
4. Can press delete on 0 secrets and get the success notification

# Environment
- Kubernetes Platform:

[2020-03-13 13:45] CarolynMabbott opened #1148 "Newly created secrets (regardless of type) should immediately display in the table"
# Expected behavior
If i create a password type secret, I have the password button selected when Its created so it can be seen in the table.

The same should apply for access token secrets too (so when its created have the Access Token selected so it can be seen).

If i cant see it if feels like it hasn't created.

# Actual behavior
Defaults back to the page it was on before (Password or Access To

[2020-03-13 14:33] AlanGreene commented on #1148
https://github.com/tektoncd/dashboard/pull/1126#pullrequestreview-371299672
https://github.com/tektoncd/dashboard/issues/1121

[2020-03-13 15:07] AlanGreene commented on #1133
/assign

[2020-03-13 16:44] dibyom commented on #1129
Indeed 😄  For GitLab, its just a string compare (constant time recommended). GitHub/Slack compute a HMAC of the payload and the secret.

Also, It seems like whatever changes we make here would probably go in Triggers and not in dashboard...does it make sense to move this issue to Triggers? @a-roberts @bitsofinfo ?

[2020-03-13 16:57] AlanGreene commented on #1133
Behaviour changed in Carbon 10.10, creating a pair of sandboxes to show before / after and open issue against Carbon.

[2020-03-16 11:46] Megan-Wright commented on #1146
/assign

[2020-03-16 12:13] a-roberts commented on #1144
![image](https://user-images.githubusercontent.com/12814972/76755792-679a6a00-677c-11ea-9197-afb7fd08818c.png)

on my code atm, git log being

[code]

Have the same on master, going to close unless we get a reproduce on this one, @Megan-Wright and I really can't

[2020-03-16 12:19] a-roberts commented on #1145
Yeah I see this too, and when you refresh and go through the flow again (e.g. wanting to create a secret in the namespace `default` the ServiceAccounts get listed OK

In doing the reproduce I didn't see any promise errors, here are the requests

![image](https://user-images.githubusercontent.com/12814972/76757852-56535c80-6780-11ea-8b46-fe39f7c2d490.png)

so we've definitely got a logic problem he

[2020-03-16 12:34] a-roberts commented on #1145
I see, it's retrieving the SA's in the tekton-pipelines namespace still, they're then filtered and the namespace I chose (default) != tekton-pipelines, I'll check how `serviceAccounts` is populated and passed in here.

[2020-03-16 12:44] a-roberts commented on #1145
@AlanGreene do you think creating a secret in, say, namespace `default` should change the selected namespace (on the left) to be `default`? Then the filter would return the secrets correctly

[2020-03-16 12:54] AlanGreene commented on #1145
We should already be switching namespace once a secret is created following this change https://github.com/tektoncd/dashboard/pull/1126/files

When a user creates a resource they should always end up in a state where they see it displayed without having to take additional steps (with the exception of the optional 'patch' step for secrets of course).

[2020-03-16 13:45] a-roberts commented on #1145
Good call, yep I've got that PR, definitely not seeing the selected namespace change on secret creation 🤔 that seems to only be for the close event

[2020-03-16 14:14] AlanGreene commented on #1145
ah yes good point, so we should actually be calling that earlier, once the secret is created instead of only when closing the create flow

[2020-03-16 14:28] Megan-Wright commented on #1146
/close

[2020-03-16 14:28] #1146 closed

[2020-03-16 14:55] Megan-Wright commented on #1145
@AlanGreene wouldn't both of these issues be solved by changing back to `all namespaces` after creating a secret?

[2020-03-16 15:19] AlanGreene commented on #1145
Technically yes, but they could be lost in a sea of noise, especially on busier clusters with many namespaces actively used.

If the user has explicitly chosen a namespace, we should do our best to bring them to a useful view of resources in that namespace as they're likely to want to perform other actions in that same namespace (e.g. trigger a PipelineRun)

[2020-03-16 17:22] a-roberts commented on #1129
Discussed on the WG call today, we decided for now we should hide this and @AlanGreene did we agree on removing the yaml view button too? This is until there's an awesome mechanism for changes in Triggers (so @dibyom in response to your question I think a new issue for Triggers should be raised linking to the suggestions here, and this issue remains a dashboard issue for us to handle not exposing

[2020-03-16 17:24] AlanGreene commented on #1129
yes for now, seems like the safest thing to do

[2020-03-16 17:31] AlanGreene commented on #1144
Reproduced this a couple of times just now, not 100% sure of the steps but I'll try to narrow it down and add details

[2020-03-16 17:45] AlanGreene commented on #1144
2 parts:

1. double error
  we have 2 separate props being passed to CreateSecret/Form with error messages: `errorMessageDuplicate` and `errorMessageCreated`. There should really just be one `errorMessage` that's set to the appropriate value, this way we simplify the Form code and avoid the possibility of displaying the same message for multiple reasons simultaneously.

1. not handling the duplica

[2020-03-16 17:49] #1147 closed

[2020-03-16 18:19] #1145 closed

[2020-03-16 19:09] #1045 closed

[2020-03-16 21:07] AlanGreene commented on #1115
@codersofthedark did you manage to resolve your issue? I'm closing this since I don't think there's anything to do on the dashboard side, we can reopen if that's not the case.

[2020-03-16 21:07] #1115 closed

[2020-03-17 08:50] a-roberts commented on #1136
Merged

[2020-03-17 08:50] #1136 closed

[2020-03-17 09:24] Megan-Wright commented on #1129
/assign

[2020-03-17 10:00] a-roberts commented on #1144
PR https://github.com/tektoncd/dashboard/pull/1153, thoroughly testing this now

[2020-03-17 11:00] Megan-Wright commented on #1129
<img width="1413" alt="Screenshot 2020-03-17 at 10 57 46" src="https://user-images.githubusercontent.com/52741262/76849905-35514100-683e-11ea-88fd-bb9d41e2039f.png">
@AlanGreene how does this look for now as a temporary solution until triggers implements a way of knowing whats secure and whats not?

[2020-03-17 11:04] Megan-Wright commented on #1009
/close

[2020-03-17 11:04] #1009 closed

[2020-03-17 11:26] a-roberts commented on #1144
![image](https://user-images.githubusercontent.com/12814972/76851895-0f2da000-6842-11ea-833e-8bfb81aa3956.png)

there are three kind="error" notifications here, we've got one in Secrets.js, and two in the form

Suspiciously there's also removeDuplicateErrorMessage so this is proving a pain to untangle

[2020-03-17 12:23] a-roberts commented on #1144
Removed from the 0.5.3 milestone as I'd like to get this published tomorrow to work on a beta release we can have for testing, I'm away from Friday until the 30th - this has proven trickier than I thought to fix

[2020-03-17 14:42] DenisPalnitsky opened #1154 "What version should I use with Tekton 0.9.2?"
# Expected behavior
I know what version of dashboard to use if I use Tekton 9.2

# Actual behavior
I can't see it on Readme

# Steps to reproduce the problem

1. Install Tekton 9.2
2. Try to figure out what dashboard version should you use

# Environment
- Tekton Pipelines version: 0.9.2

Tekton 0.9.2 is missing in readme section https://github.com/tektoncd/dashboard#which-version-should-i-use

[2020-03-17 14:53] a-roberts commented on #1154
Hey Denis, we unfortunately never did a 0.9.2 release, there were issues to do with PullRequest resources (supporting SCMs other than github.com for example), is there a reason you'd like to continue using 0.9.2 in particular and not move up to 0.10.1?

[2020-03-17 15:03] DenisPalnitsky commented on #1154
We want to upgrade Tekton from version 0.7, used by our application, with minimum code changes. Version 0.9.2 is the best candidate for this.

[2020-03-17 15:08] a-roberts commented on #1063
Draft release at https://console.cloud.google.com/storage/browser/tekton-releases/dashboard/adambeta/adambeta/previous/beta/?project=tekton-releases (updated to use rc2, rebased)

[2020-03-17 15:26] a-roberts commented on #1154
Ah, I see, so you could build from an older revision, https://github.com/tektoncd/dashboard/commit/3cfadda5a940eca9512abe622b0749a5c324d186 this is when the commit went in to bump us to use Tekton 0.10.

The repository at this previous commit https://github.com/tektoncd/dashboard/commit/ad58fed81e84c7b87d09e8cb81fa581e0edaab34 is my best guess at what would work for you.

IDK how familiar you are

[2020-03-17 15:55] a-roberts opened #1155 "No longer displaying the important error messages (e.g. missing secrets for a PipelineRun)"
# Expected behavior
We used to display init container logs I think - specifically the classic "128 no such device or address" problem that I believe came from git-init, so it was easy to figure out what the problem was

# Actual behavior

[code]
is the only useful log info

![image](https://user-images.githubusercontent.com/12814972/76874950-cab4fb00-6867-11ea-96f7-13590dd93c8e.png)

# Steps to re

[2020-03-17 16:43] Megan-Wright commented on #1148
/assign

[2020-03-17 19:04] gpaul commented on #1063
I've found that hitting "Re-Run" when viewing a failed pipelinerun (a `v1beta1.PipelineRun` to be exact) fails with a json decoding error.

[code]

[2020-03-18 10:00] a-roberts opened #1156 "[Beta] No TaskRuns found for this PipelineRun yet… (created PipelineRun)"
# Expected behavior
I should see PipelineRun information and logs instead of this message

# Actual behavior
I see only said message

# Steps to reproduce the problem

1. Install the dashboard beta driver from https://console.cloud.google.com/storage/browser/_details/tekton-releases/dashboard/adambeta/adambeta/previous/beta/tekton-dashboard-release.yaml?project=tekton-releases
2. Create a new Pipe

[2020-03-18 10:01] a-roberts opened #1157 "[Beta] Import resources error 500"
# Expected behavior
Should work fine
# Actual behavior

![image](https://user-images.githubusercontent.com/12814972/76948689-53cb4100-68ff-11ea-8301-b363d10ccd46.png)

# Steps to reproduce the problem

1. Install Tekton Pipelines 0.11 rc2
2. Install dashboard beta driver https://console.cloud.google.com/storage/browser/_details/tekton-releases/dashboard/adambeta/adambeta/previous/beta/tekton-dashb

[2020-03-18 10:14] a-roberts commented on #1157
Code for this is https://github.com/a-roberts/dashboard/commit/012a910274b38199a33ddd685446c96e1002fad2, pretty sure the release pipeline hasn't picked up my branch 🙄

[2020-03-18 10:19] a-roberts commented on #1156
Same comment as on https://github.com/tektoncd/dashboard/issues/1157, pretty sure the draft beta release isn't correct

[2020-03-18 11:16] a-roberts opened #1158 "[Beta] Create PipelineResource error 500s"
# Expected behavior
Should work fine

# Actual behavior
![image](https://user-images.githubusercontent.com/12814972/76955300-d22ce080-6909-11ea-81d9-8f2f52d71b99.png)

# Steps to reproduce the problem

1. Install Pipelines beta rc2
2. Install dashboard beta (e.g. by building from tekton-beta or applying from https://console.cloud.google.com/storage/browser/_details/tekton-releases/dashboard/adambe

[2020-03-18 11:19] eddycharly opened #1159 "Not working with taskSpec ?"
is it just me or the dashboard does not work with pipeline runs that declare task spec declared inline ?

[2020-03-18 11:21] CarolynMabbott opened #1160 "Changing to All Namespaces on a Secret detail page takes you to pipelineruns page"
# Expected behavior
it takes you to secrets page

# Actual behavior
takes you to pipelineruns page

# Steps to reproduce the problem

1. Be on the secret details page
2. Change namespace on the left to "All namespaces"

# Environment
- Kubernetes Platform:
Any

- Tekton Pipelines version:
Any

- Tekton Triggers version:
n/a

- Tekton Dashboard version:
master

[2020-03-18 11:21] CarolynMabbott commented on #1160
/assign

[2020-03-18 11:46] Megan-Wright commented on #1158
/assign

[2020-03-18 12:07] AlanGreene commented on #1155
If you navigate to the TaskRun details page do you see any more useful information?

[2020-03-18 12:19] AlanGreene commented on #1159
We should support inline definitions, and we've made some changes to support this in the past for inline Pipeline specs, and inline Task specs.

It's possible we've missed some cases. Can you share an example of one you're expecting to work as well as a screenshot of the behaviour you're seeing?

[2020-03-18 13:07] a-roberts opened #1162 "Check we can display inline Pipelines in a PipelineRun spec"
I'm not sure we can (this was discussed on the WG call) - so kick off a PipelineRun with a Pipeline spec and see how the Dashboard handles this

@skaegi @AlanGreene FYI, this came about when discussing https://github.com/tektoncd/pipeline/issues/2223

(If we can display them, should we call that out? Perhaps a FAQ would be useful in the main readme? Things one can see and what one can't - e.g. res

[2020-03-18 13:37] AlanGreene commented on #1162
This should work https://github.com/tektoncd/dashboard/issues/829

If it doesn't it's a bug we need to fix. I've tested with a few of the example PipelineRuns locally and it's working fine for me, https://github.com/tektoncd/pipeline/blob/master/examples/v1alpha1/pipelineruns/pipelinerun-with-pipelinespec.yaml for example

There are issues with inline Task specs tracked here https://github.com/tek

[2020-03-18 13:38] AlanGreene commented on #1159
Looks like we're not handling this well, see https://github.com/tektoncd/pipeline/blob/master/examples/v1alpha1/pipelineruns/pipelinerun-with-pipelinespec-and-taskspec.yaml for an example

[2020-03-18 13:43] eddycharly commented on #1159
Sure,
I am using prow, it is prow so there is some prow syntax here but it shouldn't really matter i guess.
[code]

When prow runs this pipeline, it apears in the dashboard
![image](https://user-images.githubusercontent.com/47974576/76966598-86d4fb00-6926-11ea-83ad-ad56482afa80.png)

but if i click on it

![image](https://user-images.githubusercontent.com/47974576/76966735-b4ba3f80-6926-11ea-9dde-

[2020-03-18 13:48] #1160 closed

[2020-03-18 14:00] a-roberts commented on #1162
Excellent, yeah I noticed your comment around inlining on the Task issue too, we've confirmed master's indeed good and so should 0.5.3 then so let's close this and it's useful info to know (so even with Tekton 0.10.1 we're good, and the Pipeline info is all under the `details` tab).

[2020-03-18 14:00] #1162 closed

[2020-03-18 14:21] CarolynMabbott opened #1164 "Error creating secrets named the same as namespaces"
# Expected behavior
I can create a secret called tekton-pipelines and not get an error

# Actual behavior

# Steps to reproduce the problem

1. Create secret called tekton-pipelines or default
2.
3.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Additional Info
It errors with
<img width="1434" alt="Screenshot 2

[2020-03-18 14:21] a-roberts commented on #1155
Hmm - I lost that PipelineRun (testing extension versions, Pipeline versions, Trigger versions) but just noticed this on pipeline0 (importing resources) as well
![image](https://user-images.githubusercontent.com/12814972/76970303-91da5c00-6923-11ea-9d8a-53304b8a335c.png)

[code]

being in the logs, and I'm not seeing these surfaced either (pod being in a 0/2 init:error state)

[2020-03-18 14:32] a-roberts commented on #1158
Fixed and delivered in the beta branch so closing

[2020-03-18 14:32] #1158 closed

[2020-03-18 14:32] a-roberts commented on #1157
Fixed and delivered in the beta branch so closing

[2020-03-18 14:32] #1157 closed

[2020-03-18 14:33] a-roberts commented on #1156
Fixed and delivered in the beta branch so closing

[2020-03-18 14:33] #1156 closed

[2020-03-18 15:53] AlanGreene commented on #1129
Discussed on slack, we'll hide all details for CEL interceptors as the filter could also contain sensitive values. Other interceptors will continue to be displayed as normal.

[2020-03-18 16:04] DenisPalnitsky commented on #1154
Building from code is the last resort for us.
What Dashboard release would you recommend for tekton 0.9.2 v0.4.1 or v0.5.0 ?

[2020-03-18 16:17] a-roberts commented on #1154
Yeah that's understandable, I would try the latest (v0.5.3) but be wary you may have issues with, at least, the rerun function - give that a go and we can update the docs if things work out well for you

[2020-03-18 16:27] DenisPalnitsky commented on #1154
Re-run does not work in 0.4.1, 0.5.0 and 0.5.3

[2020-03-18 16:40] anneqm opened #1165 "Confirm Dashboard and webhooks extension 0.5.3 with previous Triggers 0.2.1 release"
confirm that latest release of dashboard and webhooks extension is compatible with previous version of Triggers (0.2.1).

[2020-03-18 17:53] a-roberts opened #1167 "Super flaky test: CreatePipelineRun"
# Expected behavior
Should pass reliably

# Actual behavior
Fails repeatedly, see https://github.com/tektoncd/dashboard/pull/1166

# Steps to reproduce the problem
src/containers/CreatePipelineRun/CreatePipelineRun.test.js

[2020-03-19 07:22] eddycharly commented on #1159
Shall I try to open a pr or someone is already working on a fix ?

[2020-03-19 09:52] a-roberts commented on #1155
Got the nice reproduce again (it's using webhooks extension) as part of testing Triggers 0.4, so on the TaskRun I get this which I can copy in full to see it:

[code]

there's nothing anywhere in the UI surfacing  the classic real problem

[code]

which I feel is really a shortcoming now 😢

[2020-03-19 09:57] a-roberts commented on #1155
Marking this as a bug, I feel like this is really something we should be surfacing and perhaps it's due to the way init containers/steps are now handled in Tekton PIpelines, lemme know what you think @AlanGreene, it's not cool to have to look elsewhere for the real cause so I'm curious what's changed

[2020-03-19 11:44] a-roberts commented on #1165
[code]

Consistently when trying to create a webhook

Bit weird, here's where the error comes from https://github.com/tektoncd/experimental/blob/b7fdeda863f56d4d5ff82e3fbfb47cdcb0343456/webhooks-extension/pkg/endpoints/webhook.go#L474

Dashboard is sitting pretty happily though

[2020-03-19 12:08] a-roberts commented on #1165
Manually created the tekton-dashboard ingress, still getting the unknown error creating the bindings

[code]

I get the same problem if I then install 0.3.1 though, so this is weird

[2020-03-19 12:19] AlanGreene commented on #1159
If you wanted to contribute a fix that would be fantastic. I just took a quick look and it seems like this would be a great place to start: https://github.com/tektoncd/dashboard/blob/06b33899e7a14c959116c59847293630391301d1/packages/components/src/components/PipelineRun/PipelineRun.js#L114

The code is assuming there's a `taskRef` when it shouldn't.

[2020-03-19 12:21] eddycharly commented on #1159
Thanks for pointing me in the right direction.
I will try to look at it this afternoon.

[2020-03-19 13:55] Megan-Wright commented on #1164
/assign

[2020-03-19 14:05] eddycharly commented on #1159
I'm trying to run the dashboard locally, is this possible to point to a remote for fetching pipelineruns, taskruns, etc... ?

Right now, all requests go to http://localhost:8000, i would like to fetch objects from my remote tekton dashboard backend.

[2020-03-19 14:11] AlanGreene commented on #1159
In dev mode for the front end (`npm start`) we use webpack-dev-server and proxy all API requests to `localhost:9097`

Assuming your kubectl context is set to your remote cluster, you should be able to run something like this to expose your dashboard backend on port 9097 locally

`kubectl --namespace tekton-pipelines port-forward service/tekton-dashboard 9097:9097`

[2020-03-19 14:13] eddycharly commented on #1159
Awesome, works fine, thanks !
I tried changing `API_DOMAIN` in `config.json` but it was not working for some certificate related reasons.

[2020-03-19 14:28] a-roberts commented on #1165
Alright, bricked my cluster so I no longer get the knative.dev cert problems, all is well - made a webhook just fine. 0.5.3 extension and dash used, 0.2.1 triggers, didn't need to manually make that ingress as described before either

So, sniff test is done! 🎈My EventListener and the Trigger resources look good too @anneqm FYI

[2020-03-19 14:28] #1165 closed

[2020-03-19 14:31] a-roberts commented on #1155
Having a look at this now but don't expect a fix to be done as I'm unavailable until next next week after today, I'll at least learn where we're getting the info from in the process

[2020-03-19 14:54] AlanGreene commented on #1155
sharing from slack:

this is where we were grabbing the init failures

https://github.com/tektoncd/dashboard/blame/master/packages/components/src/components/PipelineRun/PipelineRun.js#L155

[2020-03-19 15:32] Megan-Wright commented on #1129
/close

[2020-03-19 15:32] #1129 closed

[2020-03-19 16:11] a-roberts commented on #1155
Sharing from Slack too,

so I've made the two variables identical (runStepsStatus equal to stepStatus):
[code]

For the failing build (no Docker secret):
[code]

So specifically I did
[code]

then my print is
[code]

If I take out the ! in !step I get to see
[code]

but then

[code]

 in the dash with a bad request happening repeatedly:

[code]

So I'm not seeing how we're getting those init conta

[2020-03-19 19:48] eddycharly commented on #1159
I think the issue starts here https://github.com/tektoncd/dashboard/blob/06b33899e7a14c959116c59847293630391301d1/src/containers/PipelineRun/PipelineRun.js#L206

What do you think ?

[2020-03-19 20:10] eddycharly commented on #1159
@AlanGreene removing the filter in the container and accounting for taskSpec in the component fixes the issue.

Now, the only thing i don't know is here, as i don't really have a taskName at hand in the case of taskSpec :
https://github.com/tektoncd/dashboard/blob/06b33899e7a14c959116c59847293630391301d1/packages/components/src/components/PipelineRun/PipelineRun.js#L165

[2020-03-19 21:04] AlanGreene commented on #1159
I have a feeling that `taskName` isn't actually used anywhere else and could be safely removed, I can double-check tomorrow (GitHub search isn't great for that kind of thing, even less so on mobile...)

[2020-03-19 21:15] eddycharly commented on #1159
I think you're right, for testing i hard coded a random `taskName` but it didn't appear anywhere on the dashboard.

[2020-03-20 01:30] danielhelfand opened #1173 "Show Step Names In TaskRun Logs"
# Expected behavior

Similar to what is available with `tkn` logs command, it would be nice to know what step is producing the logs for a TaskRun. The format for `tkn` is `[taskName : stepName]`, but perhaps just the step name makes more sense for dashboard.

Example of `tkn` logs:
[code]

# Actual behavior

Only the Task name is shown without further detail into what step is running.

# Environme

[2020-03-20 11:05] AlanGreene commented on #1159
Confirmed it's not used, safe to go ahead and remove it 👍

[2020-03-20 11:28] AlanGreene commented on #1173
The dashboard displays the logs for the selected step only, it does not have an aggregated view of logs for a TaskRun.

Do you think it would still be useful to include the step name?

[2020-03-20 13:13] bigkevmcd commented on #1129
I feel it's missing something if you can't see the CEL interceptor details.

I implemented https://github.com/tektoncd/triggers/pull/492

[2020-03-23 11:25] Megan-Wright commented on #1167
/assign

[2020-03-23 14:01] steveodonovan opened #1176 "Show taskRun status where no steps have run and taskRun is running"
# Expected behavior

The case where a taskRun has a status but no steps comes up where a taskRun is having problems creating the pod. For example referencing a missing service account.

# Actual behavior

We should feedback these kinds of errors in the pipelineRun view.

# Steps to reproduce the problem

[code]

Run the above and click into the pipelineRun view.

# Additional Info

[2020-03-23 14:01] steveodonovan commented on #1176
/assign

[2020-03-23 15:17] linkdd opened #1177 "Not able to see PipelineRun details in dashboard if using taskSpec instead of taskRef"
# Expected Behavior

The ability to see the details of a `PipelineRun` resource in the Dashboard when it was created with `generateName` and `taskSpec`.

# Actual Behavior

The Dashboard show only the following message: `No TaskRuns found for this PipelineRun yet…`

# Steps to Reproduce the Problem

1. Create a `Pipeline` using only `taskSpec` and no `taskRef`
2. Create a `PipelineRun` with `gener

[2020-03-23 15:33] linkdd commented on #1177
Woops, sorry wrong tab in my browser ^^ thank you for the transfer.

[2020-03-23 15:44] AlanGreene commented on #1177
@linkdd thanks for raising this issue, I'm going to close it as a duplicate of https://github.com/tektoncd/dashboard/issues/1159

There's a fix about to land for this today.

[2020-03-23 15:44] #1177 closed

[2020-03-23 15:45] linkdd commented on #1177
wow thank you for the reaction time :o

[2020-03-23 17:18] AlanGreene commented on #1159
PR merged, thanks @eddycharly

[2020-03-23 17:18] #1159 closed

[2020-03-23 17:49] AlanGreene commented on #1167
Finally managed to get this to fail locally:

[code]

Getting <5% failure (i.e. less than 1 in 20 runs), not sure why it's so difficult to reproduce locally or why it seems to latch onto one PR (e.g. https://github.com/tektoncd/dashboard/pull/1172) and fail repeatedly for a while before just disappearing again.

Reviewing the tests in more detail now to see if we can restructure them to get more i

[2020-03-24 09:36] CarolynMabbott opened #1178 "No notification for deleting a pipelinerun / taskrun"
# Expected behavior
I get a notification saying its been deleted

# Actual behavior
There is no message or notification

# Steps to reproduce the problem

1. delete a pipelinerun
2.
3.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Additional Info

[2020-03-24 10:52] CarolynMabbott opened #1179 "changing namespace on task page takes you to pipelinerun page"
# Expected behavior

# Actual behavior

# Steps to reproduce the problem

1.
2.
3.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Additional Info

[2020-03-24 10:52] CarolynMabbott commented on #1179
/assign

[2020-03-24 11:23] afrittoli opened #1181 "Display TaskRun and PipelineRun labels"
# Expected behavior
When looking at a TaskRun and PipelineRun I should be able to see labels associated to it.
This will greatly help filtering similar taskruns and pipelineruns.
One cool feature would be to associate a link to each label redirects to a page with the filtered list based on the key and value of that label.

# Actual behavior
Labels are not displayed at all for taskruns and pipeline

[2020-03-24 11:23] afrittoli commented on #1181
/kind feature

[2020-03-24 11:58] afrittoli commented on #1181
Similar issue for the CLI: https://github.com/tektoncd/cli/issues/831

[2020-03-24 13:16] AlanGreene commented on #800
Timeout message fixed in Pipelines https://github.com/tektoncd/pipeline/issues/2023

[2020-03-24 13:16] #800 closed

[2020-03-24 14:00] anneqm opened #1183 "Dashboard 0.5.3 test / update to work with OCP 4.4"
Dashboard version 0.5.x needs to work with Openshift OCP 4.4.

[2020-03-24 14:29] #1179 closed

[2020-03-24 17:57] danielhelfand commented on #1173
Ah, my apologies. First time using the dashboard and didn't look hard enough at where the information was. I think the current implementation makes sense for now. Thanks!

[2020-03-24 17:57] #1173 closed

[2020-03-24 18:01] AlanGreene commented on #1173
No problem at all, it's good feedback to have. Hopefully some of the design updates planned for the PipelineRun and TaskRun details pages will help make this clearer.

Maybe at some point in the future we'll have an aggregated TaskRun log view so will definitely keep this in mind.

[2020-03-25 11:38] #1155 closed

[2020-03-25 11:47] Megan-Wright opened #1186 "Cancelling secret creation leads to 'Select Namespace' in the SideNav namespace dropdown"
# Expected behavior
If I decide I no longer want to create a secret and press `cancel`, I should be returned to the secrets page in the state it was in before I pressed `create`

# Actual behavior
On pressing `cancel`, no namespace is selected in the dropdown box on the SideNav, and so no secrets are displayed in the table.
Further to this, if I then try to use any other part of the dashboard with

[2020-03-25 12:19] AlanGreene commented on #1186
Are you just referring to the empty namespace dropdown or are you actually seeing broken behaviour on the other pages?

[2020-03-25 12:20] Megan-Wright commented on #1186
I just meant the empty namespace behaviour - I'll update the description to be more clear

[2020-03-25 12:21] AlanGreene commented on #1186
Cool, fix on the way

[2020-03-25 15:12] rnapoles-tktn opened #1242 "When creating a Secret (token based) I can not set annotation to set the server URL"
**Problem:**
Can not set Server URL for secret when using token

**Versions:**
OCP 4.3 / 4.4 RC1
Pipelines v0.10.1,  Triggers 0.3.1, Dashboard and webhooks v0.5.3

**Steps to reproduce:**
Install Tekton using versions listed above
Select Secrets tab
Click the Create + button
Provide a secret name
Select NameSpace
Note that by default Password is set as Secret Type and Access to and Server URL can

[2020-03-25 15:37] rnapoles-tktn opened #1241 "Selected NameSpace is reset when cancelling creation of Secret (regression)"
**Problem:**
After cancelling the creation of a Secret the Selected NameSpace is Reset to no NameSpace Selected in the NameSpace dropdown.
Does not happen on v0.5.2

**Versions:**
Pipelines v0.10.1,  Triggers 0.3.1, Dashboard and webhooks v0.5.3
OCP 4.3 / OCP 4.4 RC1

**Steps to reproduce:**
Clean install Tekton using versions listed above
Select a namespace
Select the Secrets Tab
Click Create + b

[2020-03-25 17:27] #1186 closed

[2020-03-26 01:44] AlanGreene commented on #1181
Agreed this would be very useful. We already have the ability to filter all resource views by label either using the filter input displayed at the top of the page or via query param on the URL (both of these approaches are connected, updating one will update the other to match) e.g. `?labelSelector=tekton.dev/pipeline=demo-pipeline`, expanding where we take advantage of this existing functionality

[2020-03-26 01:57] AlanGreene commented on #1024
This needs:
- `ServiceAccount*` events added to https://github.com/tektoncd/dashboard/blob/0046d16e87d62bad9798ffa651cfaea3de823437/pkg/broadcaster/broadcaster.go#L52 similar to the `Secret*` ones
  - the ServiceAccount reducer in the frontend code already supports these events (standard functionality provided via our `reducerCreator`)
- controller added to https://github.com/tektoncd/dashboard/tr

[2020-03-26 02:37] #830 closed

[2020-03-26 10:16] MohamedTalhaoui commented on #1018
Any update or progress here ?

[2020-03-26 10:20] Megan-Wright commented on #1148
/close

[2020-03-26 10:20] #1148 closed

[2020-03-26 11:17] Megan-Wright commented on #1164
/close

[2020-03-26 11:17] #1164 closed

[2020-03-26 11:53] Megan-Wright opened #1191 "We should introduce byId for the secrets store"
We currently don't have `byId` for secrets and so shared functions in `utils.js` (such as `isStale`) that use `byId`, won't work for secrets unless we tailor the function call to be able to use the relevant part of `byNamespace` instead...

Introducing `byId` for secrets would mean they were in line with other resources we have within the dashboard and so could use shared functions much more easil

[2020-03-26 12:00] #1024 closed

[2020-03-26 13:36] AlanGreene commented on #1063
Should we also update pipeline0 and our websocket code on the back end to use v1beta1?

[2020-03-26 17:25] AlanGreene opened #1193 "Triggers API group change"
https://github.com/tektoncd/triggers/issues/332

Triggers will be changing its API group in version 0.4

We will need to update `src/api/index.js` to change `group: 'tekton.dev'` to `group: 'triggers.tekton.dev'` for the Triggers APIs once we're ready to release a dashboard version compatible with Triggers 0.4.

[2020-03-27 10:46] steveodonovan opened #1196 "Add rendering for taskRun failure in a pipelineRun where no steps have run"
# Expected behavior

Where a pipelineRun fails with no steps there should be feedback on what caused the task to fail

# Actual behavior

Without steps we can't inspect the status of the taskRun

# Steps to reproduce the problem

[code]

[2020-03-27 11:15] christopherfrieler opened #1198 "Cannot open details page for Task- or PipelineRuns"
# Expected behavior

A click on the name of TaskRun or PipelineRun in the list should lead to a page with details about this Run.

# Actual behavior
A click on the name of TaskRun or PipelineRun in the list leads to the following error:

# Steps to reproduce the problem

1. Install tekton-dashoard
2. Run the simple Hello-World-Task from [https://github.com/tektoncd/pipeline/blob/master/docs/tutori

[2020-03-27 11:18] afrittoli opened #1199 "Issue displaying certain event listeners"
# Expected behavior
I should be able to look at any event listener in the cluster

# Actual behavior
Some are [displayed correctly](http://dashboard.robotcat.tekton.dev/#/namespaces/default/eventlisteners/image-builder), but I've got [one that does not work](http://dashboard.robotcat.tekton.dev/#/namespaces/default/eventlisteners/tekton-cd).

<img width="383" alt="image" src="https://user-images.g

[2020-03-27 12:16] AlanGreene commented on #1199
Thanks for reporting, should be fixed by https://github.com/tektoncd/dashboard/pull/1195

[2020-03-27 12:38] AlanGreene commented on #1198
Hey @christopherfrieler, thanks for reporting this. The Dashboard is not yet fully compatible with the v1beta1 APIs in the Pipelines 0.11 release candidate, but we're planning a release for next week once the final 0.11 is available and it will include updates for the remaining changes.

Dashboard 0.5.3 supports Pipelines 0.10, and its v1alpha1 resources still use `spec.inputs.params` as opposed t

[2020-03-27 12:44] afrittoli commented on #1199
Great, thank you!

[2020-03-27 12:49] rnapoles-tktn opened #1240 "Error loading secrets page: cannot read property 'accessToken' of undefined"
**Problem:**
After clean install of Tekton I get `Error loading page Cannot read property 'accessToken' of undefined` when selecting Secrets > Access Token
Note that when selecting Secrets, it take a

**Versions:**
Pipelines v0.10.1,  Triggers 0.3.1, Dashboard and webhooks v0.5.3
OCP 4.4RC1

**Steps to reproduce:**
1. Install Tekton using version indicated above
2. Click the Secrets Tab
3. Click t

[2020-03-27 12:49] afrittoli opened #1200 "Cannot display pipelinerun"
# Expected behavior
I should be able to display any pipelinerun

# Actual behavior
I found at least [one pipelinerun](http://dashboard.robotcat.tekton.dev/#/namespaces/tutorial/pipelineruns/tutorial-pipeline-run-1) that does not work:

<img width="383" alt="image" src="https://user-images.githubusercontent.com/2205608/77757390-14040800-7029-11ea-9f72-27453375919e.png">

This is the pipeline from t

[2020-03-27 12:50] christopherfrieler commented on #1198
Thanks for the quick response. I'll try again with the next release.

By the way, tekton-cli seems to have a similar issue: https://github.com/tektoncd/cli/issues/817.

[2020-03-27 12:52] afrittoli commented on #1200
Uhm, probably a duplicate of https://github.com/tektoncd/dashboard/issues/1198 - however I'm using the dashboard beta release here, so I think this needs to be fixed before we can release?

[2020-03-27 13:02] rnapoles-tktn opened #1239 "User is presented with Password/Access Token radio button selection twice"
**Problem:**
The UI prompts the user twice for selection of secret type

**Versions:**
Pipelines v0.10.1,  Triggers 0.3.1, Dashboard and webhooks v0.5.3
OCP 4.4RC1

**Steps to reproduce:**
Install Tekton using versions listed above
Select Secrets Tab
Click Access Token to create an access token based secret (first prompt)
![image.png](https://images.zenhubusercontent.com/5db346d5b0111c0001df287a/d

[2020-03-27 13:07] AlanGreene commented on #1200
@afrittoli yes it's a duplicate. There are still a few changes that need to go in before we release 0.6 for the beta.

Closing this and we can keep #1198 for tracking.

[2020-03-27 13:07] #1200 closed

[2020-03-27 13:57] CarolynMabbott opened #1202 "Creating a new service account while on secrets page breaks secrets page"
# Expected behavior
Secrets page deosnt break

# Actual behavior
I add a sa and i get an error and cant see secrets

# Steps to reproduce the problem

1. Go to secrets page
2. Create a service account
3.

# Environment
- Kubernetes Platform:

- Tekton Pipelines version:

- Tekton Triggers version:

- Tekton Dashboard version:

master

# Additional Info
Can easily replicate by installing webhooks

[2020-03-27 17:03] hanczaryk opened #1204 "Pipeline run build failures shows build stage as 'Not run'"
# Expected behavior
I expect that the build stage would report 'Failed' upon my expected failure while attempting to run java-openliberty-build-deploy-pl where I'm expecting a failure due to invalid step in build.

# Actual behavior
I observe that the build stage shows 'Not Run'

![image](https://user-images.githubusercontent.com/30906029/77779993-b7551d00-7029-11ea-826b-ff631c3b1314.png)

# Steps

[2020-03-27 18:08] AlanGreene commented on #1204
In your screenshot I can see that it's showing all steps under 'build-push-task' as Not Run. This can happen for a number of reasons, most commonly if there's an error with a PipelineResource init step. We've recently made a change to the Dashboard to ensure that information is surfaced and it will be included in our next release.

Can you share an example of a Pipeline + PipelineRun that reproduc

[2020-03-27 19:47] AlanGreene commented on #1176
Is this covered by the change for https://github.com/tektoncd/dashboard/issues/1196 or is there more work needed?

[2020-03-27 21:24] hanczaryk commented on #1204
Sorry if the screenshot didn't accurately reflect that build was run.  I tried to show the status tab.  Here are the last few lines of the 'Logs' tab showing that 21 previous steps were completed successfully before encountering the user caused failure.  Tekton pipelines version is v0.10.1.

[Buildah] STEP 22: RUN causeFailure.sh
[Buildah] /bin/sh: 1: causeFailure.sh: not found
[Buildah] subproces

[2020-03-27 21:44] AlanGreene commented on #1204
hrmm ok so it looks like there are a few strange things happening here:

- the status tab in your screenshot shows an exit code of 0 for that step, so something in your step is capturing the error that's reported in the logs and causing the container to exit with  success
- since the step did in fact run it should obviously not be displayed as 'Not run'
  - I've tried a few different pipelines mys

[2020-03-29 18:43] #1199 closed

[2020-03-29 18:43] #716 closed

[2020-03-30 08:16] a-roberts opened #1206 "Update pipeline0 and backend websocket to use v1beta1"
See https://github.com/tektoncd/dashboard/issues/1063#issuecomment-604435177 for details

[2020-03-30 08:17] a-roberts commented on #1063
`Should we also update pipeline0 and our websocket code on the back end to use v1beta1?`

yeah, I'll work on this, made issue https://github.com/tektoncd/dashboard/issues/1206

[2020-03-30 11:53] hanczaryk commented on #1204
Here is the resulting oc describe taskrun java-openliberty-build-deploy-pl-run-7pn6z-build-push-tas-7wdn5.  I don't believe that I have the tekton knowledge to provide a reduced example to reproduce the behavior.  I'm using the tekton that is installed with IBM Cloud Pak for Applications 4.1.0 on OpenShift Container Platform 4.3.

[2020-03-30 12:58] AlanGreene commented on #1204
The change in https://github.com/tektoncd/dashboard/pull/1184 is related, as it should now surface the error from the PipelineResource init step `step-image-digest-exporter-mj7ch` in the list of steps in the PipelineRun view, making it clearer what's failed.

I'll try to reproduce this error with the image-digest-exporter step and see how it handles the remaining steps. We may still need some addi

[2020-03-30 13:19] a-roberts commented on #1063
Main PR made https://github.com/tektoncd/dashboard/pulls

[2020-03-30 16:31] a-roberts commented on #1206
pipeline0 changes merged, haven't needed to change anything yet for websockets (we still use v1alpha1 in lots of our Go code)

[2020-03-30 16:33] a-roberts commented on #1063
PR merged so any new bugs will be new issues, cheers all

[2020-03-30 16:33] #1063 closed

[2020-03-30 17:28] afrittoli opened #1213 "Readonly dashboard nightly release is broken"
# Expected behavior
Readonly dashboard nighly release is avaiable

# Actual behavior
Kustomize fails on the readonly release, so an empty release file is produced.

[code]

# Steps to reproduce the problem

1. It runs nightly - see for instance https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/dashboard-release-nightly-5tf8n

# Environment
- Kubernetes Platform:
GKE
[code]

[2020-03-30 17:54] AlanGreene commented on #1213
@afrittoli looks like the nightly job isn't using the latest version of https://github.com/tektoncd/dashboard/blob/master/tekton/publish.yaml

notice missing `--load_restrictor=LoadRestrictionsNone` for the dev-locked-down overlay

[2020-03-30 18:25] #1202 closed

[2020-03-30 20:55] afrittoli commented on #1213
@AlanGreene @a-roberts I updated the dogfooding cluster and re-ran and it works fine, thank you!

https://console.cloud.google.com/storage/browser/tekton-releases-nightly/dashboard/latest/previous/v20200330-b1b43fab34/?forceOnBucketsSortingFiltering=false&project=tekton-nightly

I would still consider adding the `set -o pipefail` and fixing the folder location, but I'm happy to close this one if y

[2020-03-31 10:43] a-roberts commented on #1213
Thanks @afrittoli, so would this simply be a case of adding it in https://github.com/tektoncd/dashboard/blob/e3548b579740550c841a4b32d4f3fbc5a610a9db/test/publish-images.sh? I did a search on nightly and noticed a different set up from Pipeline which uses https://github.com/tektoncd/pipeline/blob/35fbc8a47d80cec81f6c3cdf8f43629ab18bca47/hack/nightly.sh

[2020-03-31 11:13] #1094 closed

[2020-03-31 11:13] AlanGreene commented on #1094
Merged https://github.com/tektoncd/dashboard/pull/1212

[2020-03-31 11:20] a-roberts commented on #1144
Merged now so closing

[2020-03-31 11:20] #1144 closed

[2020-03-31 18:22] ncskier commented on #1204
@hanczar let me do some debugging on the cluster cluster, and I think I found out why the steps say 'Not run' 👍

The `imagename-lowercase` step is not listed in the PipelineRun/TaskRun’s `status` section... it should be there since the Task was executed (as we can see from the logs), but it isn't. The Dashboard still displays the `imagename-lowercase` step, because the Dashboard gets the list of s

[2020-03-31 22:48] AlanGreene opened #1215 "Dashboard docs on the website should be synced from the dashboard repo"
See:
- https://github.com/tektoncd/website/blob/master/content/en/docs/Dashboard/_index.md
  - this content (or something like it) should probably be added to the dashboard repo docs folder as a first step
- https://github.com/tektoncd/website/tree/master/sync/config
  - config needed to sync from dashboard docs to the website
- docs will need appropriate Hugo front matter added as comments to the

[2020-03-31 23:53] AlanGreene commented on #1075
PR open to render full logs up to 20k lines, after which we revert to the current virtualized list behaviour.

This should be sufficient for most users, re-enabling the browser-native 'find in page' (ctrl/cmd-f) functionality, and we still have the ability to open the logs in a new tab or download to search locally if required.

[2020-04-01 00:17] justinbarrick commented on #1075
Very cool 😎

[2020-04-01 01:39] k opened #1217 "Display Conditions in Tekton Dashboard"
# Expected behavior
The user would be able to tell that a condition was checked when viewing a pipelinerun

# Actual behavior
Any conditions that are checked and resulting in a task not being run are not viewable and can leave the runner confused. This is especially confusing where there are *no* tasks run in a pipeline due to conditions

# Steps to reproduce the problem

1. Create a pipeline with

[2020-04-01 07:59] #1198 closed

[2020-04-01 08:01] a-roberts opened #1218 "Apply finishing touches for beta release (Gopkg.lock/toml, APIs?)"
Pipelines Beta is now live, we currently reference rc3 in our Gopkg toml when we can instead of use 0.11.0.

In addition, we've got plenty of backend code still using v1alpha1 imports, see https://github.com/tektoncd/dashboard/blob/master/pkg/controllers/tekton/taskrun.go#L7 for example. @vdemeester remind me again please why these are OK to be alpha still, or should they change? 😸

[2020-04-01 08:02] a-roberts opened #1219 "Publish Tekton Dashboard 0.6.0 release (supporting Pipelines beta)"
Pipelines Beta is now live so let's do it, this depends on https://github.com/tektoncd/dashboard/issues/1218

[2020-04-01 09:29] vdemeester commented on #1218
I think they should change but as the controller does auto convert *and* the webhook serves both, it's "meant" to work still :stuck_out_tongue:

[2020-04-01 09:31] a-roberts commented on #1218
Yeah I haven't noticed any problems with it, so gonna keep at least for now, thanks

[2020-04-01 10:11] AlanGreene commented on #1217
This is included in recent nightly builds and will be in the 0.6.0 release, see https://github.com/tektoncd/dashboard/pull/1172#pullrequestreview-379366032

[2020-04-01 10:11] #1217 closed

[2020-04-01 10:46] a-roberts commented on #1218
Merged now so closing 🎂

[2020-04-01 10:46] #1218 closed

[2020-04-01 11:14] #1075 closed

[2020-04-01 13:03] AlanGreene opened #1221 "Add Conditions to the left nav"
# Expected behavior
All Tekton CRDs should be represented in the 'Tekton resources' section of the left nav.

# Actual behavior
Conditions are not listed, although they are rendered in the TaskRun and PipelineRun views.

# Additional Info
Follow up to https://github.com/tektoncd/dashboard/pull/1172#pullrequestreview-379366032 and https://github.com/tektoncd/dashboard/issues/1217

This should use t

[2020-04-01 13:42] AlanGreene opened #1222 "Rename Details tab"
## Proposal

Rename the 'Details' tab in our new standard resource layout to 'Overview'

## Background

The 'Details' tab in our new standard layout is misnamed as in many cases it does not show a very detailed view of the selected resource.

![image](https://user-images.githubusercontent.com/2829095/78143759-970cd000-7426-11ea-8c76-3fbb7494d13f.png)

The YAML tab provides full details of the reso

[2020-04-01 15:31] mattmoor opened #1223 "Don't properly handle K8s lifecycle"
When I run the dashboard as a Knative service this really pops out because we run with a higher default `terminationGracePeriodSeconds`.

Basically K8s sends SIGTERM to tell the dashboard to drain, and then SIGKILL after the grace period.  `knative.dev/pkg/signals` has a way of getting a channel ad a context to facilitate adhering to this.

[2020-04-01 15:57] mattmoor commented on #1223
Looks like you are using the signal package from `k8s.io/sample-controller`, which is surely an interesting dependency :)

The informers seem to take the stopCh that sets up, but nothing ever drains the HTTP servers: https://github.com/tektoncd/dashboard/blob/4faecbc65ff0c0ee58269e100468f35b1018fa12/cmd/dashboard/main.go#L102-L103

[2020-04-01 16:00] mattmoor commented on #1223
We invoke `ListenAndServe()` in a goroutine and then we see the `stopCh` file we call `server.Shutdown(context.Background())`.

[2020-04-01 16:00] mattmoor commented on #1223
I'll take a crack at this, since at this point it should be plumbing.

[2020-04-02 07:58] a-roberts commented on #1219
Done 🎈

[2020-04-02 07:58] #1219 closed

[2020-04-02 08:00] a-roberts commented on #1223
/ok-to-test

[2020-04-02 08:04] a-roberts commented on #1018
Hey @MohamedTalhaoui, sorry for taking so long to get back to you - nobody's working on this but still think it's a good idea! Not sure if you can see it but we have a ZenHub board so I've put it up the backlog as it's an interesting piece of work anyone could pick up (and most of the active developers on the Dashboard here at IBM look at said board when looking for something new to pick up).

[2020-04-02 09:12] a-roberts commented on #1223
Merged so closing

[2020-04-02 09:12] #1223 closed

[2020-04-02 09:14] hyunuck opened #1226 "Pod restarted after PipelineRun deleted."
# Expected behavior
Show status of PipelineRun

# Actual behavior
Pod restarted

# Steps to reproduce the problem

1. kubectl -n <namespace> delete -f <pipeline_run>

# Environment
- Kubernetes Platform: kubernetes cloud working on openstack.

- Tekton Pipelines version:
v0.11.0-rc4

- Tekton Dashboard version:
v0.6.0

# Additional Info
[code]

[2020-04-02 10:03] #1222 closed

[2020-04-02 10:14] a-roberts commented on #1226
Interesting file https://github.com/tektoncd/dashboard/blob/fec8e1d86e7bcc12f907face15b067aa62c68d55/pkg/controllers/kubernetes/serviceAccount.go

@hyunuck can you share the output of your `kubectl version`? I'm interested in the server version specifically. We've not seen this happen ever on OpenShift or Docker Desktop, apimachinery and the go-client versions are mentioned lots which I believe ar

[2020-04-02 10:17] a-roberts commented on #1226
Also, can you provide your PipelineRun yaml please (if there's anything remotely sensitive just omit that), I'm looking for serviceaccount mentions (or serviceaccountname, or serviceaccountnames, that kinda thing) - wondering if it's specific to your type of PipelineRun and we need to update our backend code client versions to accomodate your spec.

[2020-04-02 12:50] paolocarta opened #1227 "Change namespace for Openshift"
# Expected behavior
Openshift 4.x uses the Pipelines Operator which installs everything in the namespace openshift-pipelines by default.
Probably it's necessary to change the kustomized manifests to this namespace.

# Actual behavior
Manifests use the tekton-pipelines namespace.

# Steps to reproduce the problem

1. Try to install the dashboard.

# Environment
- Kubernetes Platform:
Openshift 4.3

[2020-04-02 14:32] AlanGreene commented on #1021
Also related: https://github.com/tektoncd/dashboard/issues/487
This should allow us to stay on the correct Task/Step/tab even when the dreaded refresh hits...

[2020-04-02 16:40] AlanGreene commented on #1021
@afrittoli @vdemeester how is the dashboard being exposed from the cluster? I wonder if perhaps it's an ingress controller killing long-lived connections. If so maybe we can adjust the threshold or make an exception for the websocket connections (wss://)

I'll still take a look at improving the dashboard handling of this though, it could happen in other scenarios such as unreliable mobile network.

[2020-04-02 19:35] AlanGreene opened #1232 "Missing tooltips on various Secret, ServiceAccount, and triggers related tables"
# Expected behavior
All table cells should have tooltips in case the data is truncated for display.

# Actual behavior
There are many cases where tooltips are not implemented.

[2020-04-02 20:43] AlanGreene opened #1233 "Update dashboard nightly build version string"
# Expected behavior
I expect to be able to tell how recent a dashboard nightly build is by looking at the version string given on the about page.

# Actual behavior
DashboardVersion is given as 'development'.

# Steps to reproduce the problem

1. Visit https://dashboard.robotcat.tekton.dev/#/about

![image](https://user-images.githubusercontent.com/2829095/78298642-99f0e900-752a-11ea-9df1-4e361670

[2020-04-02 23:46] AlanGreene commented on #1133
Fix delivered to Carbon, waiting for confirmation of which release it will be included in.

[2020-04-03 09:47] a-roberts commented on #1242
Still seeing this in v0.6.0? I may have fixed this with https://github.com/tektoncd/dashboard/commit/a2f1d4807045948b64ee7409de9a17d3af9052d3

[2020-04-03 10:06] AlanGreene commented on #1241
This is fixed in the 0.6.0 release
https://github.com/tektoncd/dashboard/issues/1186

[2020-04-03 10:06] #1241 closed

[2020-04-03 10:10] AlanGreene commented on #1239
Related: https://github.com/tektoncd/dashboard/issues/1121
This will give us a cleaner way to share the selected type between the list + create views ensuring consistency and avoiding having to duplicate this in state.

[2020-04-03 10:58] AlanGreene commented on #1242
Does the pull request resource use the Tekton annotations at all? The example in the docs shows the resource explicitly referencing the relevant secret: https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#pull-request-resource

It's the same for the cluster and storage resources.

If this is the case, then I think this is working as intended since there's no need to set these annota

[2020-04-03 12:00] a-roberts commented on #1242
Ah yes, actually that's right and this is why I added the tooltip (since you might think, oh I'll make an access token type secret for your PIpelineRuns to use, when really it's a password type one with annotations). I don't see a need for the Tekton annotations on the access tokens - if I'm wrong let's reopen this and display the additional fields, otherwise let's close this one out (@rnapoles-tk

[2020-04-03 12:00] #1242 closed

[2020-04-03 13:14] rnapoles-tktn commented on #1242
@a-roberts we need the annotations for access tokens, otherwise how can specify if the access token is for github.com or github.ibm.com ?

[2020-04-03 13:21] a-roberts commented on #1242
But those are on password type secrets (the server URL being specified as github.com vs github.ibm.com in this case) - the access token type secret doesn't use annotations

[2020-04-03 13:45] AlanGreene commented on #1167
Taking another looks at this now

[2020-04-03 14:47] AlanGreene commented on #1167
Think I have something, running in a loop now to 'verify' (as much as we can given how intermittent this has been...) 🤞

[2020-04-03 15:06] AlanGreene commented on #289
Removed Breadcrumbs component in #1230

[2020-04-03 15:06] #289 closed

[2020-04-03 16:12] ncskier commented on #1204
I created an issue in the Pipelines repo to track this: https://github.com/tektoncd/pipeline/issues/2323

[2020-04-03 16:38] AlanGreene commented on #1167
OK so I've had the full set of tests running in a loop for over 2 hours now (>200 iterations) with no failures. I did manage to get the tests to fail >50% locally by switching the tests to use the redux-connected container so I'm pretty confident at this stage that the issue is resolved.

The reason I switched to the container is to ensure consistency between the data being retrieved from the stor

[2020-04-03 17:16] #1167 closed

[2020-04-03 17:37] AlanGreene commented on #1233
`versionTag` is already being provided as a param to the `publish-images` tag so we just need to read that and do a replace of 'development' in the YAML?

[2020-04-03 18:12] #1232 closed

[2020-04-03 18:13] AlanGreene commented on #1232
it was still listed under open assigned issues at https://github.com/issues
fixed now

[2020-04-03 23:59] AlanGreene commented on #680
Is this still happening? Any pattern you can identify? e.g. only happens after running certain tasks / pipelines, happens at regular intervals, after a particular set of interactions in the UI...

The only times I've seen repeated disconnects like this are when a proxy / load balancer / ingress controller is killing long-lived connections, usually every 30 seconds or 1 minute.

The fact that you w

[2020-04-04 00:17] AlanGreene commented on #845
I propose that as a first step we publish a single version of the storybook, representing the latest release. If it proves useful for others and there's demand for it, we can consider how we would surface multiple versions (latest release + latest nightly for example).

Any developer looking to contribute would run the storybook locally anyway so I don't think there's a need to publish on every me

[2020-04-04 00:32] AlanGreene commented on #1067
Is this solved with https://github.com/tektoncd/dashboard/pull/1244?

We're already setting `versionTag` as part of the release process for the bucket location, and with the change from that PR the `publish-tekton-dashboard` task that's executed as part of the release process will automatically replace the version label.

[2020-04-04 00:34] #1196 closed

[2020-04-06 08:04] a-roberts opened #1246 "Update release pipeline to use Tekton Pipelines 0.11"
# Expected behavior
The pipeline we use to create releases (building and pushing images) should work with Tekton 0.11

# Actual behavior
We use v1alpha resources everywhere so it likely doesn't work, Todo check. Basically it's a pain do switch between beta and not (doing an entirely clean reinstall each time which often requires deleting the install namespace, I'd really rather not)

[2020-04-06 08:06] a-roberts commented on #1193
The Triggers change is in and we want master to work with master, thoughts on removing the WIP and getting this in @AlanGreene ?

[2020-04-06 08:36] a-roberts opened #1247 "Feature request - panelling for creating TaskRuns too"
@mattmoor raised an interesting point here: https://twitter.com/mattomata/status/1246824264210112515?s=21

# Expected behavior
Users should be able to create TaskRuns too

# Actual behavior
One cannot

# Additional Info
Should be a low-hanging fruit with a clear benefit and we can reuse plenty of code for creating PipelineRuns, changing out the resource types. They'd be rerunnable too just like PI

[2020-04-06 09:50] #1227 closed

[2020-04-06 12:51] serg-bs opened #1248 "PipelineRuns - Error loading page Cannot read property 'fn' of undefined"
# Expected behavior
   Then run simple pipeline I should see it in PipelineRuns
# Actual behavior
   `Error loading page  Cannot read property 'fn' of undefined`
# Steps to reproduce the problem
**you can reproduce it following step in https://www.katacoda.com/ncskier/scenarios/tekton-dashboard**
or another way
1. Install tekton `kubectl apply --filename https://storage.googleapis.com/tekton-relea

[2020-04-06 13:22] AlanGreene commented on #1193
As long as the Triggers release isn't too far off I'm happy to get this in

[2020-04-06 13:58] mattmoor commented on #1247
😍

[2020-04-06 14:05] #1176 closed

[2020-04-06 14:11] steveodonovan commented on #1196
https://github.com/tektoncd/dashboard/pull/1197

[2020-04-06 14:12] steveodonovan commented on #1176
https://github.com/tektoncd/dashboard/pull/1197

[2020-04-06 14:13] JustinKuli commented on #1247
I noticed this at the end of last week, and I'm interested in taking a look at it.

[2020-04-06 14:14] AlanGreene opened #1249 "Add version labels to Service"
# Expected behavior
I should be able to find the version labels on the Dashboard deployment and service, consistent with Pipelines and Triggers.

# Actual behavior
The labels are only available on the deployment.

# Additional Info
https://github.com/tektoncd/dashboard/pull/1244#issuecomment-608585747

[2020-04-06 14:18] a-roberts commented on #1247
Thanks @JustinKuli! I'm wondering if, implementation-wise, we want to take the existing PipelineRun creation modal and repurpose that since it's so similar (last time I checked anyway) to a TaskRun - changing the resource type and anything else that's only there for TaskRuns but not PipelineRuns.

@AlanGreene especially, curious what your take is on getting this done as cleanly as possible from a

[2020-04-06 18:45] AlanGreene commented on #1247
We should also consider support for creating TaskRuns from ClusterTasks.

From a quick scan of the existing CreatePipelineRun there's definitely a lot that's reusable, probably most of it...

Differences:
- `PipelinesDropdown` vs. Task / ClusterTask dropdown
- API - `createPipelineRun` vs. `createTaskRun`
- strings - replace Pipeline with Task / ClusterTask
- `handlePipelineChange` would need to b

[2020-04-07 03:44] JustinKuli commented on #1247
I think I should start off by saying that although this is approachable, this is bigger than I originally thought. Also it's been a while since I did any React, so I may need to brush up a bit...

I agree. I'm new here, but is there a major difference between the two? Assuming ClusterTasks are just Tasks that are available in every namespace, I think it would make sense to just handle it in the dr

[2020-04-07 11:09] mnuttall opened #1250 "Use X-XSS-Protection Header"
X-XSS-Protection header is not used in the dashboard. The "X-XSS-Protection" header forces the CrossSite Scripting filter into Enable mode, even if disabled by the user. This filter is built into most recent web browsers (IE 8+, Chrome 4+), and is usually enabled by default. Although it is not designed as first and only defence against Cross-Site Scripting, it acts as an additional layer of protec

[2020-04-07 11:15] mnuttall opened #1251 "Prevent disclosure of server-side port information where possible"
The HTTP responses to request for information about Tekton resources includes a header,
[code]
This information is not critical to the dashboard's operation and represents small but unnecessary disclosure of information that could be of use to an attacker.

IBMers with access to https://github.ibm.com/IBMCloudPak4Apps/icpa-security/issues/37 can read more about this issue.

[2020-04-07 11:20] mnuttall opened #1252 "Set X-Content-Type-Options Header"
X-Content-Type-Options header is missing in all responses of all the applications which are in scope for testing. The "X-Content-Type-Options" header (with "no sniff" value) prevents IE and Chrome from ignoring the content type of a response. This reduces exposure to drive-by download attacks and sites serving user uploaded content. It was observed that only for few post requests content type head

[2020-04-07 11:22] mnuttall opened #1253 "Insecure Path attribute"
The URL path that the cookie is valid for can be specified. If the domain and path match, then the cookie will be sent in the request. Just as with the domain attribute, if the path attribute is set too loosely, then it could leave the application vulnerable to attacks by other applications on the same server. For example, if the path attribute was set to the web server root "/", then the applicat