[2019-04-08 01:57] vincent-pli opened #2 "What's the plan, when could I try this great project?"
Thanks guys, could I know the plan, many thanks! :)

[2019-04-09 02:46] skaegi commented on #2
Well that's the first order of business -- imagine the fun of going through a zillion files adding copyright notices. New commits daily ... real actual running code coming soon.

[2019-04-09 07:33] vincent-pli commented on #2
Thanks, expect to try it asap :)

[2019-04-09 07:33] #2 closed

[2019-04-09 11:38] steveodonovan opened #4 "Update front end to handle relative paths"
At the moment if the front end app is deployed to for example `/tekton-dashboard` it will fail to load parts of the UI. Similarly this means it can't be accessed using kube proxy at its context `http://localhost:8001/api/v1/namespaces/tekton-pipelines/services/https:tekton-dashboard:/proxy/`

[2019-04-09 13:53] mnuttall opened #7 "Dashboard extension support"
It would be great if the dashboard offered an extension mechanism. 'Extensions' could be packaged behind Kube services, with labels of the form,
[code]
The extension should then be able to supply panelling into a react component on the dashboard - perhaps a new tab? - whose .js code would be able to interact with the extension via the /greatThings proxied endpoint. Extensions could support managin

[2019-04-10 10:55] #4 closed

[2019-04-10 13:29] steveodonovan opened #12 "Expose tasks as a top level construct"
Expose tasks as a top level construct with navigation to tasks and task runs.

New root navigation

![Screen Shot 2019-04-13 at 15 40 49](https://user-images.githubusercontent.com/18128367/56081297-950bc480-5e03-11e9-80b5-2a00d08bca8e.png)

Tasks view. This show all tasks.

![Screen Shot 2019-04-13 at 15 41 00](https://user-images.githubusercontent.com/18128367/56081237-eebfbf00-5e02-11e9-9837-70d

[2019-04-10 14:58] dibbles opened #13 "Automate running of go tests"
There are a number of test files for the go code, but no automation kicking off these tests.

Automated testing of the code is a pretty fundamental requirement.... this may mean working out how to integrate with prow which much of tekton seems to use already?

[2019-04-10 15:00] vdemeester commented on #13
@dibbles this is being working on by @skaegi, me and other tekton's… :angel:

[2019-04-10 15:00] skaegi opened #14 "Host front-end from back-end"
We currently host our front-end in a webpack dev server and proxy to the back-end. We need to figure out how we want our url paths to the back-end to work and then host the results of a webpack build via a mechanism like https://github.com/emicklei/go-restful/blob/master/examples/restful-serve-static.go

[2019-04-10 15:56] AlanGreene opened #15 "Fix URL handling for dev environment"
The recent change to transparently handle non-root contexts in the URL is not fully compatible with the current webpack-dev-server configuration used in the dev environment. This can lead to API requests failing as they are not being rewritten correctly.

[2019-04-10 15:59] AlanGreene opened #16 "Logs are not displayed when clicking on a step in a PipelineRun"
The front-end and back-end handling of TaskRun logs are not currently in sync and need to be aligned to ensure the new combined project works as expected. The front-end `Log` container and presentational components should be updated to handle the changed `taskrunlog` response format returned by the API.

[2019-04-10 16:02] AlanGreene commented on #16
I have a fix for this on my fork. Waiting for CLA approval before opening PR.

[2019-04-10 16:03] AlanGreene commented on #15
I have a fix for this on my fork. Waiting for CLA approval before opening PR.

[2019-04-10 18:17] seabaylea opened #18 "POST requests should return "201 Created""
Currently a `POST` request to create a new gitresource returns `204 No Content`, whereas the general best practise for successful `POST` requests is to return `201 Created` and to set the both data to the created data (ie, the POSTed data plus any additional fields like an ID that has been set).

An optional best practise is to also set the Location header to the URL that you would use to interact

[2019-04-11 09:52] a-roberts opened #22 "Document compatible versions (pipeline with dashboard) in our readme"
To avoid any surprises we should include a table of known good versions into our main readme, right at the top.

I've tested that we work with Tekton pipelines 0.2, I'd be interested to see if we work with master currently and if Tekton 0.1.

It would be *very* cool to have a compatibility table that's automatically updated, or we have public builds/tests available to all that just makes sure our

[2019-04-11 09:55] a-roberts opened #23 "Add development docs"
We should have a DEVELOPMENT.md document that's likely going to share many steps from [here](https://github.com/tektoncd/pipeline/blob/master/DEVELOPMENT.md) but with any known limitations documented, and an easy to use development cycle for anyone to follow.

Currently we've not tested this using GKE and we don't yet support ko (but these would be awesome to have!) and so any such gotchas should

[2019-04-11 10:01] a-roberts commented on #23
/assign

[2019-04-11 10:10] jessm12 opened #24 "REST API for creating PipelineRuns"
Under this issue add a REST API endpoint that will take parameters and create a new `PipelineRun` for a specified `Pipeline`

When creating a new `PipelineRun` the information that will need to be provided to the POST method is as follows:

- The name of the `Pipeline` to use for that `PipelineRun`
- Information relating to the `PipelineResources` for a `PipelineRun`, if required
- Information rel

[2019-04-11 10:11] jessm12 commented on #24
/assign

[2019-04-11 10:12] a-roberts commented on #24
/assign

I've worked on this too with @jessm12 and we should have a PR coming up soon for folks to try and test 😸

[2019-04-11 10:37] jessm12 opened #25 "Deployment should be labelled"
Under `install/tekton-dashboard-deployment.yaml`, the deployment should have a label that allows for easier manipulation of it, such as getting and deleting the deployment

[2019-04-11 11:29] a-roberts opened #28 "Add OWNERS file"
See https://github.com/tektoncd/dashboard/pull/26 - tried to approve @jessm12's PR, did so with `approve`, details from Prow gives:

[code]

We don't have such a file at https://github.com/tektoncd/dashboard/blob/master/OWNERS

Here's the one for tektoncd/pipeline though: https://github.com/tektoncd/pipeline/blob/master/OWNERS.

[2019-04-11 12:18] a-roberts commented on #25
/assign jessm12

[2019-04-11 12:18] a-roberts commented on #28
I'll add this

/assign

[2019-04-11 12:44] AlanGreene commented on #16
/assign

[2019-04-11 12:44] AlanGreene commented on #15
/assign

[2019-04-11 12:56] a-roberts commented on #13
Awesome, thanks @vdemeester!

Given that's the case I'm going to use my newfound assign powers...

/assign vdemeester
/assign skaegi

I would assign anyone else but not sure who 😄 please let us know as well if there are any gotchas so we'd know how to do this ourselves. We're just adding the Dockerfile_test now to be used.

[2019-04-11 13:00] vdemeester commented on #28
/close

[2019-04-11 13:00] #28 closed

[2019-04-11 13:23] #25 closed

[2019-04-11 13:23] a-roberts commented on #25
This is merged 😄 thanks

[2019-04-11 13:50] vtereso commented on #18
I'm working on this now as a temporary assignee since I am not yet in the group. Looking to manage the routes in a way that will make this functionality easy to apply to routes.

[2019-04-11 14:02] AlanGreene commented on #12
/assign steveodonovan

[2019-04-11 14:27] a-roberts opened #30 "Websocket test is flaky"
**dibbles fixed this, we've got assigning problems atm**

Run the Go unit tests in our Dockerfile several times in a row, sometimes you observe:

[code]

I ran this in a loop with the following straight from a stackoverflow Bash example.

**I saw the failure twice in 18 failures**, then stopped my script to make said issue.

[code]

First seen [here](https://github.com/tektoncd/dashboard/pull/19).

[2019-04-11 15:04] akihikokuroda commented on #7
I can not assign this to myself but I'll work for this.

[2019-04-11 16:17] #16 closed

[2019-04-11 17:52] akihikokuroda commented on #7
The service that has the following items is added as the back-end extension.
[code]
PR: https://github.com/tektoncd/dashboard/pull/34

[2019-04-11 18:43] skaegi opened #35 "Dashboard design that lets us navigate different objects"
The current dashboard is simple and that's ok for now but will not let us do the full range of navigation that experience says will be valuable for this sort of tool. This issue is to track some ideas on what me might do with the dashboard UI

[2019-04-11 18:46] skaegi commented on #35
One idea is to have the dashboard take on more of a look and feel similar to the Kube dashboard -- https://github.com/kubernetes/dashboard

So something like this... (note I am not a professional visual designer but I sure know some ;) that I hope will help us out...

![image](https://user-images.githubusercontent.com/541119/55983138-71f8dd80-5c68-11e9-8130-8203bd2ef933.png)

![image](https://user

[2019-04-11 18:58] pkruithofjr commented on #35
Considering using line drawings without color to avoid any confusion.  We also need to be more specific about what is being proposed.  For example, the left navigation pane from K8s?

[2019-04-11 19:41] skaegi commented on #35
This was the digital equivalent of me cutting and pasting paper on a poster board. nothing more nothing less.

The left navigation pane is directly from the Kube dashboard. For Tekton I'm thinking of  something similar but instead of "Cluster" the Headings might be:

---
Tekton
-   Pipeline
-   PipelineRun
-   PipelineResource
-   Task
-   TaskRun
---
Namespace

---
Extension Category 1 [from Serv

[2019-04-11 19:54] skaegi opened #37 "Generic sorting and filtering widgets"
We need to support something similar to ...
![image](https://user-images.githubusercontent.com/541119/55988517-10d60780-5c72-11e9-9132-4da8adcc7273.png)

[2019-04-11 20:43] pkruithofjr commented on #35
Is this what you were thinking? I was struggling a bit with what you meant by Extension Category 1 and Extension Category 2.
![tekton home@3x](https://user-images.githubusercontent.com/10145212/55991731-edfb2180-5c78-11e9-8000-123e348979a7.png)

[2019-04-11 20:44] skaegi opened #38 "Support for actions on dashboard resources"
Resources described by the dashboard should also permit "Actions". For example "deleting" a PipelineRun or "creating" a new PipelineRun from a Pipeline. To start we might use the universal kebab similar to...
![image](https://user-images.githubusercontent.com/541119/55991877-331f5380-5c79-11e9-8221-0fda66958bec.png)

[2019-04-12 04:48] skaegi commented on #35
Thanks @pkruithofjr that captures it nicely.

[2019-04-12 08:38] dibbles commented on #30
/assign

[2019-04-12 08:58] dibbles commented on #30
Adding in mutex to lock around counter updates - testing doing 20 iterations of go test -run TestPipelineRunWebsocket -v

[2019-04-12 09:09] a-roberts commented on #30
/assign dibbles

[2019-04-12 09:12] a-roberts commented on #30
/assign jessm12

[2019-04-12 10:27] #15 closed

[2019-04-12 10:50] a-roberts commented on #30
/assign @dibbles

[2019-04-12 10:53] AlanGreene opened #40 "Improve front-end state management"
The front end currently presents data from a number of APIs in most of its views. The logic required to correlate the pieces from different sources is subtly different between e.g. Pipeline and PipelineRun vs Task and TaskRun. This leads to unwanted complexity, additional maintenance overhead, and increases the risk of bugs.

So far we have used a small number of top-level container components whi

[2019-04-12 10:53] AlanGreene commented on #40
/assign

[2019-04-12 13:26] a-roberts commented on #30
/assign dibbles

[2019-04-12 13:30] a-roberts commented on #23
Done and merged now, closing, thanks to all who reviewed 🎉

[2019-04-12 13:30] #23 closed

[2019-04-12 13:35] a-roberts opened #41 "Document API definitions"
Now that we have DEVELOPMENT.md we should document our APIs. We'll want return codes, paths, any errors that can happen, and bonus points for any json snippets!

[2019-04-12 13:36] a-roberts commented on #41
/assign

I'll start on this, I have a bunch already written up from before we open sourced that I'll push as an initial commit to my branch and then let's look at making it awesome.

[2019-04-12 13:43] pkruithofjr commented on #35
Examples of pipelines for inspiration:

Jenkins Blue Ocean CI/CD pipeline: https://jenkins.io/doc/book/blueocean/dashboard/
Gitlab CI/CD pipeline: https://docs.gitlab.com/ee/ci/quick_start/
CodeFresh pipeline: https://github.com/marketplace/codefresh
Bamboo pipeline: https://marketplace.atlassian.com/apps/1212337/pipeline?hosting=server&tab=overview
TeamCity pipeline: https://www.jetbrains.com/tea

[2019-04-12 13:45] pkruithofjr commented on #35
Should we break this issue into separate issues? Info Architecture, Pipeline Design, and Dashboard Design?

[2019-04-12 13:53] dibbles commented on #30
/assign

[2019-04-12 13:54] jessm12 commented on #30
/assign

[2019-04-12 14:15] AlanGreene opened #42 "Document APIs using Swagger / OpenAPI spec"
This would allow us to provide richer documentation in a standard format, as well as interactive examples that would ease development.

Open API spec: https://swagger.io/specification/
Swagger UI example: https://petstore.swagger.io/

Something like:
[code]

will produce:
![image](https://user-images.githubusercontent.com/2829095/56046699-bdc88700-5d3b-11e9-9756-ba18f13c8260.png)

![image](https:/

[2019-04-12 14:16] AlanGreene commented on #41
In line with 'making it awesome' I think it would be useful to document the APIs as a Swagger / OpenAPI spec, new issue to track that https://github.com/tektoncd/dashboard/issues/42

[2019-04-12 14:43] dibbles commented on #30
FWIW - this has been fixed under https://github.com/tektoncd/dashboard/pull/39 .... if anyone can work out how to assign this to me or to close it as it is now done... that would be great

[2019-04-12 14:49] skaegi commented on #35
Yes absolutely we should definitely break off into separate issues... and please feel to take a crack at it. I don't want to go to far on dashboard architecture without running code but that is the area I'm probably most interested in.

This issue is primarily concerned with finding a top-level layout that will work for us. There should be separate issues covering the top banner, breadcrumbs, navi

[2019-04-12 16:10] a-roberts commented on #30
@dibbles I'll close it and once we figure out how to assign others it'll be all yours 😅  thanks for the fix

[2019-04-12 16:10] #30 closed

[2019-04-12 17:39] gorkem commented on #35
@skaegi I was looking at the dashboard and I am wondering why are you creating REST and points? Kubernetes already has an API server and tekton does everything as CRDs, wouldn't it be easier and more portable to develop the UI against kubernetes API server and tekton CRDs?

[2019-04-12 17:44] a-roberts opened #44 "Investigate ko for building"
While adding https://github.com/tektoncd/dashboard/pull/27 @vdemeester asked a question in a review comment:  `Out of curiosity, what doesn't work with ko ?`, and I've honestly not tried using `ko` before with this project.

Prove we can use `ko` to build and push and update DEVELOPMENT.md if so.

For tektoncd/pipeline I see lots of kodata folders (e.g. [here](https://github.com/tektoncd/pipeline/

[2019-04-12 18:08] aunderw commented on #35
![tekton-ui-first-pass](https://user-images.githubusercontent.com/49538964/56057138-f56f0900-5d12-11e9-8228-51f87e800fd7.png)

This is just a slight cleanup of the work @skaegi and @pkruithofjr did yesterday but I wanted to post it here just so I'm not losing artifacts. I'm still looking at the second screen with the expanding trees though. It seems like there is a design opportunity there.

[2019-04-12 18:22] pkruithofjr opened #45 "Top-level GUI layout"
Posting a proposed image of the Top-level GUI layout to begin iterating on a design.

![k8s-bw](https://user-images.githubusercontent.com/10145212/56058007-4ccea280-5d2e-11e9-87f2-fb2fca16e20c.png)

[2019-04-12 18:27] pkruithofjr opened #46 "Dashboard information architecture"
Here is a first pass at the information architecture for the dashboard.  Please provide feedback.

Tekton
- Pipeline
- PipelineRun
- PipelineResource
- Task
- TaskRun

Namespace

Extension Category 1 [from Service metadata] Knative Eventing
- Extension topic 1
- Extension topic 2

Extension Category 2 [from Service metadata] Native worker agent
- Extension topic 1
- Extension topic 2

[2019-04-12 19:52] kimholmes commented on #35
@skaegi We're going to track the design work here:
https://github.ibm.com/dev-ex/design-work/issues/200

[2019-04-12 20:00] kimholmes commented on #35
@skaegi I've created an Epic for this work in our design repo:
https://github.ibm.com/dev-ex/design-work/issues/200

It's up to Alan and Alexandra how they want to divide their work up into issues but I have UX and visual design issues to there to start.

[2019-04-12 20:01] skaegi commented on #14
/assign

[2019-04-12 20:07] skaegi commented on #44
Let's make this a priority as it lets other devs try the dashboard out easily. We also want to make it very easy to grab the latest pipeline and mix with the latest dashboard.

I'm working on #14 and need something to mix the front-end with the back-end and will take a look at using ko but feel free to assign to yourself and do this just for the back-end if you're ready.

[2019-04-12 20:17] kimholmes commented on #37
@skaegi That will baked into the final visual design. We'll be using components from the IBM Design Language.

[2019-04-12 20:37] skaegi commented on #35
I don't mind the epic there but all issues should be here plz to make things as transparent as possible and let anyone come in and contribute.

[2019-04-12 20:51] skaegi commented on #35
@gorkem that's a good question -- open an issue on that.
A couple of things...
1. When we first started talking about a UI for Tekton the notion of object persistence independent of cluster lifecycle was something we were thinking about. In a pure dashboard maybe it's overkill.
2. The API used by the UI might be tailored to include more, less, or computed information based on the resource. We prob

[2019-04-12 21:08] ncskier opened #47 "Run any pipeline endpoint"
The purpose of this issue is to provide an endpoint that creates a PipelineRun for any existing Pipeline, and to discuss how to go about implementing this endpoint.

The Pull Request for issue https://github.com/tektoncd/dashboard/issues/24 is a good start to creating PipelineRuns. But it was limited to creating specific PipelineRuns for the `Pipeline templates within our templates repository` htt

[2019-04-13 17:53] gorkem opened #50 "Does Dashboard backend need to define its own REST API"
I was looking at the dashboard and I am wondering If there is a need for REST endpoints on the dashboard backend? Kubernetes already has an API server and tekton does everything as CRDs, wouldn't it be easier and more portable to develop the UI against kubernetes API server and tekton CRDs? What is the added value of the new REST endpoints?

[2019-04-15 09:32] jessm12 commented on #47
I agree this sounds good @ncskier! 😄 I like the comment about adding verification to make things easier and more robust. I do think that it would be possible to refactor and extract from/add to the code in the PR for issue https://github.com/tektoncd/dashboard/issues/24 to fit with this more general way of working. The bulk of the code that is there at the moment is dealing with the creation of re

[2019-04-15 10:32] AlanGreene opened #51 "Add development docs for front end"
Update https://github.com/tektoncd/dashboard/blob/master/DEVELOPMENT.md to include instructions for developing / testing / running the front end code locally (i.e. outside the Tekton cluster) until https://github.com/tektoncd/dashboard/issues/14 is complete.

Some relevant content from previous front end README for reference:
<pre>
[![Build Status](buildStatusBadgeURL)](repoURL)
[![Component Story

[2019-04-15 13:37] steveodonovan opened #53 "Add Pipeline Run Cancel Selection"
Any running pipeline in the pipeline runs list will have a cancel selection at the end of the line

<img width="879" alt="Screen Shot 2019-04-16 at 17 34 39" src="https://user-images.githubusercontent.com/18128367/56227773-24b4ab80-606e-11e9-9786-a059c4be1da1.png">

When selected the actor will be presented with a modal dialog to confirm.

<img width="651" alt="Screen Shot 2019-04-16 at 17 34 58"

[2019-04-15 13:40] steveodonovan commented on #53
/assign steveodonovan

[2019-04-15 16:04] a-roberts commented on #41
Changes are now merged, closing 😄

[2019-04-15 16:04] #41 closed

[2019-04-16 08:53] dibbles commented on #46
I think it would be worth clarifying what this issue is for/how it differs from #35

[2019-04-16 08:54] dibbles commented on #45
I think it would be worth clarifying what this issue is for/how it differs from #35

[2019-04-16 13:41] #51 closed

[2019-04-16 14:01] vtereso commented on #47
I do like the idea of being able to intelligently apply Tekton/K8s resources (in the correct order) from some location so that everything is done for you sort of like Helm (Resources to PipelineRun), but I do think that being able to create CRDs as flexibly as possible is best (as long as it is valid).

[2019-04-16 14:07] a-roberts commented on #18
/assign vtereso

Vincent's done this in #48 and it's merged, closing, thanks Vincent!

[2019-04-16 14:07] #18 closed

[2019-04-16 14:45] a-roberts commented on #50
Good point, I haven't coded against the Kubernetes UI server before but I think we've done it this way so we have power over matters such as the format of certain responses (making it noddy for our frontend code to parse) and control over return codes. We also get to do any additional error handling that we may like to do.

It also lets us do things a little more advanced (I like our TaskRun logs

[2019-04-16 15:45] a-roberts commented on #44
Yeah, I'm gonna look at this now (I've been working on a compatibility tester using Travis and the runs take *ages*). https://triggermesh.com/2019/03/07/go-binaries-kubernetes-ko/ this actually looks really easy: notice the gopath style image location.

/assign

[2019-04-16 16:05] a-roberts commented on #44
I was stumped as I didn't realise the folder needed to be called `config`: we were using `config` to store frontend config files!

I've got `ko apply -f config` working fine now, pushing to my Dockerhub, so I'm updating our docs now and the webpack const definition to read from config_frontend instead of config for the json.

[2019-04-16 17:21] vdemeester opened #56 "Task's step(s) showing as success even if they are not"
If a step fails (using `tektoncd/pipeline@master`), dashboard might report it as success even though it is not (hence the task status and the pipeline status in the following screenshot)

![2019-04-16-191519](https://user-images.githubusercontent.com/6508/56230364-5e8cae80-607c-11e9-9809-1fd20ce0943a.png)

Looking at the status, it didn't look at the correct status for the step (the step exited wi

[2019-04-16 19:47] AlanGreene commented on #50
Also see https://github.com/tektoncd/dashboard/issues/35#issuecomment-482718784 (linking here so context isn't lost / conversation doesn't split)

[2019-04-16 19:47] AlanGreene commented on #14
/assign steveodonovan

[2019-04-16 23:27] akihikokuroda opened #58 "Associate credentials with service account"
Credential REST API provides CURD operation for the secrets.   The secrets must be patched into the service account used by the PipelineRun or TaskRun.  It must be done manually now.  This issue enhances the credential REST API to patch the service account automatically when the secret is created or deleted.

[2019-04-16 23:28] akihikokuroda commented on #58
Please assign this to me.  Thanks!

[2019-04-17 08:56] a-roberts commented on #58
@akihikokuroda thanks Aki for taking this on, I've pinged @vdemeester who's gonna be chasing up the assigning stuff as well as we're going to need a clear set of instructions (or just the right Prow policy?) for folks working on other repositories under our tekton org too, I'd like to then retrospectively assign others who have picked up issues), so leave that with us

[2019-04-17 09:12] steveodonovan commented on #14
/assign

[2019-04-17 09:12] vdemeester commented on #58
@akihikokuroda @a-roberts so you can use `/assign` to assign yourself (and `/assign user` to assign someone). If the bot is not happy, no big deal at least we know who works on it for the time being :wink:

/assign @akihikokuroda

[2019-04-17 09:33] a-roberts opened #60 "PUT 204 test doesn't check for all PUTs"
We think we have a test bug here.

https://github.com/tektoncd/dashboard/pull/48/files#diff-d5fa729f55b16ff94238fa6931ff4724R82

**Background**
@jessm12 and I are adding PipelineRun creation code and Jess noticed when adding a new POST endpoint, that it's tested and we don't have a fake PipelineRun or fake Pipeline. In noticing this, she's picked up the Put204 method has a double `post` check in t

[2019-04-17 09:33] a-roberts commented on #60
/assign

[2019-04-17 12:04] AlanGreene commented on #56
/assign

[2019-04-17 12:25] akihikokuroda commented on #58
PR: https://github.com/tektoncd/dashboard/pull/59

[2019-04-17 14:37] steveodonovan commented on #12
/close

[2019-04-17 14:37] #12 closed

[2019-04-18 09:33] a-roberts commented on #44
Merged a couple days ago, closing 🎉

[2019-04-18 09:33] #44 closed

[2019-04-18 13:49] a-roberts commented on #60
Now merged so closing 😄

[2019-04-18 13:49] #60 closed

[2019-04-23 10:38] AlanGreene commented on #56
Now that step name is included in task run status (https://github.com/tektoncd/pipeline/pull/657) it should be much easier to reliably match the step / status without relying on order and trying to account for init containers.

/assign

[2019-04-23 14:29] skaegi opened #67 "Surface "tekton" tagged credentials in the dashboard"
For resources in the cluster like credentials that are tagged as associated with Tekton should be surfaced in the UI. Design coming...

[2019-04-23 16:02] a-roberts commented on #24
Merged, thanks all for taking a look too 🎉 we're adding the API definition next.

[2019-04-23 16:02] #24 closed

[2019-04-23 17:00] kimholmes opened #70 "UX & Visual Design for Tekton Dashboard"
- [ ] Create the proposed user flow for a scalable UI that will house Tekton capabilities. First address pipeline view with monitoring (dashboard). Design should be scalable to include eventing etc. moving forward.

- [ ] Using the IBM DL, apply visual design to the experience outlined above.
Consider this look and feel may eventually need to wrap into the overall design of ICAP.

Linking to Simon

[2019-04-24 08:14] ffahri opened #71 "Much more detailed getting started section"
Currently at the getting started section just says build image and run it.
But if you visit the localhost:9097 url (port-forwarding) you cannot see anything.

You need to run npm install & npm start to access web ui locally

[2019-04-24 09:46] vdemeester opened #73 "Go test race conditions on `./pkg/endpoints`"
There is some data race (caught by `go test -race`) on `./pkg/endpoints`.

- on `TestLogWebsocket`
[code]

- on `TestPipelineRunWebsocket`

[code]

I disabled race detection on the CI for now (to bootstrap it), but this need to be fixed (so that we can re-enable race detections :angel: )

cc @a-roberts

See https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_dashboard/72/pu

[2019-04-24 11:03] mnuttall commented on #45
Closing this in favour of #35.

[2019-04-24 11:03] #45 closed

[2019-04-24 11:03] mnuttall commented on #46
Closing in favour of #35

[2019-04-24 11:03] #46 closed

[2019-04-24 11:07] dibbles commented on #35
Just some ideas I've been putting together ..... just images for now, probably wider than just how to navigate...

[Dibbles_Ideas.pdf](https://github.com/tektoncd/dashboard/files/3111941/Dibbles_Ideas.pdf)

@AlanGreene @kimholmes keen to discuss and be involved especially regarding extension - where I have more ideas

[2019-04-24 12:18] a-roberts commented on #73
I'll take a look at this.

[2019-04-24 12:20] AlanGreene commented on #7
/assign @akihikokuroda @AlanGreene

[2019-04-24 12:20] vdemeester commented on #13
/close

It is done !

[2019-04-24 12:20] #13 closed

[2019-04-24 13:04] mnuttall opened #75 "Install new pipelines from Git"
Extend the dashboard so that a user can specify the Git coordinates of new Pipeline, Task and other definitions that should be installed into the target namespace. We can use the API delivered under https://github.com/tektoncd/dashboard/issues/24 to run a simple `git clone / kubectl apply` pipeline to achieve this.

In this first instance, any git credentials must be set up by the user separately.

[2019-04-24 13:13] mnuttall commented on #67
Git credentials in particular need a `tekton.dev/git-n: https://github.com` type annotation.

Docker secrets that are not of type kubernetes.io/dockerconfigjson also need annotating.

- New panelling should allow users to create secrets (user/pass or token-based).
- Docker secrets should be of type kubernetes.io/dockerconfigjson in the first instance.
- Service accounts should be patched with Dock

[2019-04-24 13:21] aunderw commented on #35
Wow this is fantastic. Thanks @dibbles! Not sure about the "funky drag and drop UI" but I love how the cat plays a central role in the design. Thanks for posting it.

[2019-04-24 13:26] mnuttall commented on #75
@dibbles is helping to coordinate design efforts in this area so please work with him to pick up the latest thinking.

[2019-04-24 13:26] mnuttall commented on #67
@dibbles is helping to coordinate design efforts in this area so please work with him to pick up the latest thinking.

[2019-04-24 13:35] jessm12 commented on #75
/assign

[2019-04-24 13:58] a-roberts commented on #73
Let's see if I can assign OK now, Vincent wrote most of this code so we're going to buddy up (and if it doesn't work I get to search the repos for me saying this and retrospectively assign him)

/assign @vtereso

[2019-04-24 14:46] jessm12 commented on #75
/assign

[2019-04-24 14:57] jessm12 commented on #75
/status in-progress

[2019-04-24 15:03] dibbles opened #76 "Credentials API needs to consider taking a service account as input"
When patching secrets onto the service account, we might want to think about the fact that the user should be able to choose/specify a service account.

One reason why we might want to do this and move away from an environment variable, is because I think that you will restrict access to repositories.... this might need to be validated, but I believe you cannot have multiple secrets on a service a

[2019-04-24 15:17] jessm12 commented on #75
The below initial design that @dibbles created and posted under https://github.com/tektoncd/dashboard/issues/35#issuecomment-486177832 is where I am going to be starting from in working on this issue in terms of UI design and the proposed user flow

<img width="792" alt="Screen Shot 2019-04-24 at 16 06 39" src="https://user-images.githubusercontent.com/32932155/56671265-3ddfdc80-66ac-11e9-89cb-3d7

[2019-04-24 18:53] #70 closed

[2019-04-24 21:04] steveodonovan commented on #14
/assign

[2019-04-25 05:55] LinuxSuRen opened #79 "Cannot install dashboard by kubectl apply -f"
kubectl apply -f https://raw.githubusercontent.com/tektoncd/dashboard/...

error: unable to read URL "https://raw.githubusercontent.com/tektoncd/dashboard/...", server reported 400 Bad Request, status code=400

[2019-04-25 08:56] mnuttall opened #80 "Adjust extension context root handling"
This issue proposes a slight change to the context root handling mechanism for extensions introduced under https://github.com/tektoncd/dashboard/pull/34.

The initial design mounts a context root /foo in an extension onto /foo at the main dashboard. This could become a problem: extensions could clash with each other, or the main dashboard. Instead we propose that:
- Each extension is mounted onto

[2019-04-25 09:13] steveodonovan commented on #14
/assign

[2019-04-25 09:33] a-roberts commented on #71
Hey @ffahri, you're right, please see [this relevant issue](https://github.com/tektoncd/dashboard/issues/14) and [this PR for it](https://github.com/tektoncd/dashboard/pull/78/files): this should give you everything you need.

I'm going to review said PR now and hopefully this makes things much clearer for you, feedback welcome

[2019-04-25 09:45] a-roberts opened #81 "Push Tekton dashboard image on merge to master"
Now that we have https://github.com/tektoncd/dashboard/issues/13 in place (big shoutout to @vdemeester) for testing our code, we want to Docker build and push dashboard images: for example to gcr.io for anyone to pick up, test, experiment and use.

Important files to mention that I think will be of use: https://github.com/tektoncd/plumbing/blob/master/prow/config.yaml this denotes a "preSubmit" ta

[2019-04-25 09:52] a-roberts commented on #79
Hey @LinuxSuRen, we should make it clearer - that's part of our "Coming soon" objectives which is going to rely on https://github.com/tektoncd/dashboard/issues/81 being done (currently we do not have regular builds available, so it's rightfully failing as no such image exists there!)

For now you should do the steps just above to install the backend, and consult DEVELOPMENT.md for deploying the fr

[2019-04-25 10:09] LinuxSuRen commented on #79
Thanks for your response.

[2019-04-25 10:09] #79 closed

[2019-04-25 10:51] AlanGreene commented on #80
Given:
- extension `my-extension`
- annotation `tekton-dashboard-bundle-location: foo.2b36e73a.js`

The front end will load the JS file as:
`GET /v1/extension/my-extension/foo.2b36e73a.js`

[2019-04-25 12:11] mnuttall commented on #80
The need to serve javascript from / means that the extension won't be able to serve REST APIs from / - `tekton.dashboard.endpoints` will always have to be set to a value. I don't think that's the end of the world.

[2019-04-25 12:47] AlanGreene commented on #80
If it's easier to serve the JS from `/static` or similar that's fine too. It's a trivial change in the front end code.

[2019-04-25 13:03] a-roberts opened #82 "Move deps into dev deps for package.json"
In our package.json there's a lot that looks to me like dev dependencies (babel, webpack, eslint etc) - so this issue is to take a look at our package.json and see what can be classified as a dev dependency versus a regular one.

As a useful ref: https://github.com/CloudNativeJS/mern-workshop/blob/master/frontend/package.json

[2019-04-25 13:05] a-roberts opened #83 "Add favicon"
We're missing one, let's use the Tekton cat?

[2019-04-25 13:49] a-roberts commented on #73
/assign vtereso

[2019-04-25 13:52] a-roberts commented on #18
Retrospectively assigning @vtereso as he implemented this and he's now a member of our org.

/assign vtereso

[2019-04-25 14:08] akihikokuroda commented on #80
/assign

[2019-04-25 14:23] vdemeester commented on #80
/assign @akihikokuroda

[2019-04-25 14:46] steveodonovan opened #84 "address handlebars vulnerability"
https://nodesecurity.io/advisories/755 currently in the web project

[2019-04-25 14:46] steveodonovan commented on #84
/assign

[2019-04-25 14:56] steveodonovan commented on #84
/close

[2019-04-25 14:56] #84 closed

[2019-04-25 15:16] steveodonovan opened #86 "Allow namespace selection"
At the moment the dashboard will only show resources in the default namespace.

This effort is to track listing namespaces and selecting a namespace for the pipeline and task runs views

API `GET /v1/namespaces`

[2019-04-25 15:22] AlanGreene commented on #82
Typically the devDependencies separation is more useful for libraries consumed by others so their build / test tooling doesn't get installed when not needed. Since we're running `npm install` on this project directly they'll all get installed anyway.

However I can see an argument for keeping the separation, to make it clear what's used at dev time vs. potentially contributing content to the build

[2019-04-25 15:52] AlanGreene commented on #86
/assign @steveodonovan

[2019-04-25 15:52] AlanGreene commented on #83
/assign @steveodonovan

[2019-04-25 15:55] AlanGreene commented on #83
Probably a bit bigger than it needs to be (wrt. filesize) but here's what's used on the current tekton.dev website
https://github.com/tektoncd/website/blob/master/static/favicon.png

[2019-04-25 16:11] mnuttall opened #88 "Support for non-default namespaces"
Currently if your installation is not in default you must edit index.js:
[code]
and change 'default' to the target namespace. That's not great! Since the dashboard is expected to be deployed to the tekton-pipelines namespace it should be able to manage pipelines installed to any valid and accessible namespace on the cluster. At the very least, the user should be able to select the current namespac

[2019-04-25 16:13] mnuttall commented on #88
#86 got opened just before us!

[2019-04-25 16:13] #88 closed

[2019-04-26 08:42] a-roberts commented on #71
We merged the changes yesterday evening for this and we've verified you get the frontend now connected to the backend OK, @ffahri would you be so kind as to give this a try now please following our readme?

If you get the frontend ok can you then close this one off please? Thanks!

[2019-04-26 09:28] a-roberts commented on #73
@vtereso produced a fix for this y'day and I've tidied things up, added more comments, merged with master and resolved an import problem. I've also added the -race check back in.

https://github.com/tektoncd/dashboard/compare/master...a-roberts:websocketRacev2?expand=1 here's the code on my branch and here's the original: https://github.com/vtereso/dashboard/tree/websocketRace.

I'm going to wait

[2019-04-26 10:16] ffahri commented on #71
Thanks i can access the dashboard as well but i think https://github.com/tektoncd/dashboard/issues/14 this will solve all of this. Thanks for the quick response and good work.
Closing this issue

[2019-04-26 10:16] #71 closed

[2019-04-26 10:20] ffahri commented on #86
Hey, isn't it much more nice to user give namespace for dashboard backend. So backend list resources by giving namespace variable. (like kube dashboard)

[2019-04-26 10:29] steveodonovan commented on #86
@ffahri Yep thats the longer term plan. Haven't started this just yet though, might look to do that in the short term instead.

The design here includes the selection https://github.com/tektoncd/dashboard/issues/35

[2019-04-26 10:48] steveodonovan opened #90 "Run web project tests in PR job"
The pull request job does not run/report status for npm tests.

`npm run test:ci`

Similarly lint rules are not applied.

[2019-04-26 10:50] a-roberts commented on #81
I'll work on this, I see postSubmits are a thing, so far nothing is getting built or pushed at https://github.com/tektoncd/plumbing currently.

@vdemeester this is something we certainly want to do for the dashboard and would be great to do for of the tektoncd repositories but beyond the scope of this. So I can work on this, how can I get access to the plumbing repository or how can I configure my

[2019-04-26 11:28] AlanGreene opened #91 "Dashboard should display real time updates to status of resources"
For example:
- when viewing a list of PipelineRuns:
  - new PipelineRuns should be added to the list dynamically
  - the status of the displayed PipelinesRuns should be updated in real time
- when viewing a single PipelineRun:
  - TaskRun / step status should be updated in realtime
  - logs should be updated in realtime
- etc.

The back end should provide a websocket connection which publishes eve

[2019-04-26 12:02] #82 closed

[2019-04-26 12:21] a-roberts commented on #81
Raised in the #plumbing channel today, mentioned it'd be awesome to have this for pipeline too and maybe cli. Also discussed with @vdemeester a plan for next week to tackle this together.

One caveat is, I don't have an account on gcr.io and so I'm not sure whose account we'll use and whose would be billed! We've also got to be careful with access control (with Travis there's the notion of secret

[2019-04-26 13:52] kimholmes commented on #83
Do we have an .svg file of the cat anywhere?

[2019-04-26 13:57] #83 closed

[2019-04-26 15:58] steveodonovan commented on #14
/close

[2019-04-26 15:58] #14 closed

[2019-04-26 16:24] AlanGreene commented on #56
@vdemeester issue should be resolved now, let me know if you still get any unexpected step status.

[2019-04-26 16:45] AlanGreene commented on #90
As a start we should run:

[code]

It would also be good to:
[code]

[2019-04-26 17:47] carlos-logro commented on #67
I'm going to tackle this issue, can't assign it to me though!

[2019-04-26 19:51] vtereso commented on #91
Currently there is a websocket that ONLY delivers Create/Update/Delete information on PipelineRuns, but it will be simple enough to send all the data through a single socket. What are all the events that we wish to send?

[2019-04-26 22:29] AlanGreene commented on #91
Yes that's the one I've been using for testing/experiments so far and it's working great 👍

We should probably approach this as a series of steps. I'd suggest:
1. move the existing PipelineRuns websocket from `/v1/websocket/pipelineruns` to `/v1/websocket`
1. enable front end support for real time updates of PipelineRuns (code mostly complete, just needs a little cleanup and tests) using that webs

[2019-04-29 09:07] dibbles opened #98 "404 returned at localhost:9097 on master"
Following install instructions in readme for master (at commit 170fa38f0bc2065a376aa272cf758a01dc31dcbb) ..... after portforwarding, we just get a 404 in the browser.

@AlanGreene ?

[2019-04-29 09:18] dibbles commented on #98
hmmm - thought it might be because i did not change the web resource dir (not documented) ... but when changing to  value: /go/src/github.com/tektoncd/dashboard/web .... i get the favicon but no page content

[2019-04-29 09:21] a-roberts commented on #98
Logging what I've done: followed DEVELOPMENT.md on the commit hash 816fde0a745cb402817469c8c024d1d926bc9884 which involved  npm install, npm run build_ko, ko apply -f config then a port-forward.

I repeated these steps on master too and all is ok

Discussed with @dibbles who's suggested it may be a problem in our main README.md.

We are following the "non-ko" path which mentions docker building, r

[2019-04-29 09:28] dibbles commented on #98
Docs issue ... need to set web resource dir to ./web.

/assign

[2019-04-29 09:50] a-roberts commented on #81
Adding potentially useful resources here as well

https://github.com/kubeflow/kubeflow/blob/master/prow_config.yaml#L187 here we see a postSubmit pushing to gcr.io

https://github.com/kubeflow/testing/commit/3a7e4ff5d910a4ecd8be2000cbdddfc8b9ca9b46 shows service account permission changes for the kubeflow project

We'll need to do at least 1) and possibly 2) for our https://github.com/tektoncd/plu

[2019-04-29 11:58] steveodonovan commented on #98
See my comment here https://github.com/tektoncd/dashboard/pull/99#issuecomment-487550701

[Shouldn't need to set that value](https://github.com/tektoncd/dashboard/blob/master/Dockerfile#L34)

[2019-04-29 12:24] Gl4di4torRr opened #100 "documentation for deploying/installing to openshift"
Does documentation exist on how to deploy/install this on openshift?

[2019-04-29 12:30] dibbles commented on #100
Documentation does not currently exist for installing on openshift ..... currently mostly only really been tested/developed with docker desktop.  Testing does need to be broadened and docs created for multiple providers.

[2019-04-29 12:41] Gl4di4torRr commented on #100
@dibbles cool - i will play around with the running the dashboard locally and then try and push it to openshift. Maybe I can work on some docs for you all :)

[2019-04-29 13:29] a-roberts commented on #98
For anyone else following - we discussed this on Slack - we do indeed need it as we're not using `ko` for the "docker build, push, edit and kubectl apply" case. so we don't get the `/var/run/ko/web`files that's referenced in our deployment yaml.

Stephen raised a good question as to whether or not we want to have a separate deployment file now for Docker installs vs ko installs, and points out we

[2019-04-29 13:29] #98 closed

[2019-04-29 15:08] vtereso commented on #100
I have okd set up on a VM so I will also checking this as well. Will update this issue with my findings.

[2019-04-29 19:20] akihikokuroda commented on #76
I'll work for this.

[2019-04-29 19:20] akihikokuroda commented on #76
/assign

[2019-04-29 19:39] akihikokuroda commented on #76
I assume that this requires the association between the service account and the secret persisted.  Is it OK to have one config map that have a map of the service account and the secret?

[2019-04-30 08:26] dibbles commented on #76
I'm not sure why you would need a config map .... I'm simply saying that during secret creation there should be an input field (possibly optional) for the service account to patch with the secret.

I don't believe we need to persist any information ... the information will end up persisted on the patched service account ..... ??? Maybe i'm not understanding your point.

[2019-04-30 10:13] akihikokuroda commented on #76
The credential api supports the delete operation as well as create.  It needs to know the service account to unpatch when it deletes the secret.

[2019-04-30 11:06] akihikokuroda commented on #76
Another way is that we can go through all service accounts for the namespace and unpatch the secret.  This may not be too bad.

[2019-04-30 12:38] akihikokuroda commented on #76
How about putting the service account name in the label?

[2019-04-30 13:26] #56 closed

[2019-04-30 15:28] akihikokuroda commented on #76
/status in-progress

[2019-04-30 17:50] bobcatfish commented on #67
/assign @carlos-logro

[2019-04-30 18:40] akihikokuroda commented on #76
PR for this: https://github.com/tektoncd/dashboard/pull/107

[2019-05-01 10:53] mnuttall commented on #50
Hi @gorkem the best reason I can give for the REST API is that we want the dashboard to work against clusters that do not expose the kubernetes API, or keep it very locked down. We don't currently have a plan to run a single dashoard against multiple clusters, and expect to use in-cluster securtity (service accounts and role bindings) to restrict what the dashboard is able to do on that cluster. T

[2019-05-01 10:53] #50 closed

[2019-05-01 11:00] mnuttall opened #108 "Web panelling for 'manually create a pipelinerun'"
We have a REST API that supports the manual creation of pipelineruns.

The parameters that a user must provide will be specific to the pipeline they're creating a run for - luckily they're all defined in the pipeline.

The UI will need to obtain and parse the desired pipeline before populating the fields that need user entry.

[2019-05-01 15:04] gorkem commented on #50
@mnuttall I think exposing the kube api server and defining REST APIs are different concerns. For instance the backend for OpenShift's dashboard proxies the API calls to API server without implementing new REST APIs, therefore uses an internal end point to eliminate the need for exposing kubernetes API server.

[2019-05-01 18:20] akihikokuroda commented on #80
/close

[2019-05-01 18:20] #80 closed

[2019-05-01 18:20] akihikokuroda commented on #58
/close

[2019-05-01 18:20] #58 closed

[2019-05-01 19:10] carlos-logro opened #110 "Credential API doesn't support generic secret creation"
for example:

`kubectl create secret generic github-secret \
  --from-literal=accessToken=$GITHUB_TOKEN \
  --from-literal=secretToken=$(cat /dev/urandom | LC_CTYPE=C tr -dc a-zA-Z0-9 | fold -w 32 | head -n 1) \
  --namespace $DASHBOARD_INSTALL_NS`

This command currently can't be turned into a curl command. The POST data might have a parameter that says something like "please invent a nice random

[2019-05-02 11:12] akihikokuroda commented on #76
/close

[2019-05-02 11:12] #76 closed

[2019-05-02 11:14] akihikokuroda commented on #7
I believe that this can be closed.

[2019-05-02 11:14] akihikokuroda commented on #7
/close

[2019-05-02 11:14] #7 closed

[2019-05-03 08:48] vdemeester commented on #73
#94 is in, we can close this one !
/close

[2019-05-03 08:48] #73 closed

[2019-05-03 09:08] a-roberts opened #113 "Dockerfile_test no longer works (added -race option)"
# Expected Behavior
Dockefile_test builds and all tests pass

# Actual Behavior
[code]

# Steps to Reproduce the Problem
`docker build -f Dockerfile_test .`

# Additional Info
We need at least gcc, CGO_ENABLED=1, other deps for gcc

This was caused by https://github.com/tektoncd/dashboard/pull/94. While our tests pass, with Prow we only use `go test` and not Docker, so we need to fix our Dockerfil

[2019-05-03 10:55] a-roberts commented on #90
PR for this is [here](https://github.com/tektoncd/dashboard/pull/115), stuck from progressing and details in the PR. I could just be one word away from being done with it (assuming no test failures), depends on what @vdemeester says (I think out for the RedHat summit atm).

[2019-05-03 12:40] a-roberts commented on #90
Actually I'm running in a container with just our code, and I'm root in it, so I've continued.

https://prow.tekton.dev/log?job=pull-tekton-dashboard-tests&id=1124292059839074304 check it out.

[code]

[2019-05-03 12:44] a-roberts commented on #90
@vdemeester please take a look at how I'm using Prow, the tests run and pass but perhaps there's a neater way to install things?

[2019-05-03 12:58] a-roberts commented on #113
Merged so closing

[2019-05-03 12:58] #113 closed

[2019-05-03 13:07] a-roberts opened #116 "Add Tekton test-infra image into plumbing repo"
# Expected Behavior
https://github.com/tektoncd/plumbing/blob/master/prow/config.yaml#L173 this should reference our own Tekton test-infra image which currently doesn't exist. Said image would include Go and Node.js/npm with specific versions we care for.

# Actual Behavior
See https://github.com/tektoncd/dashboard/pull/115, I'm curling the dependencies in and modifying the path.

# Steps to Repro

[2019-05-03 13:16] akihikokuroda commented on #42
/assign

[2019-05-03 16:03] steveodonovan opened #118 "Use redux for task and pipeline runs"
# Expected Behavior
Pipeline and task run data should be pulled from the redux store instead of called on each navigation. This would facilitate event sources for updating these pages

# Actual Behavior
The pages currently fetch all data on load and maintain this in the component state. This means to catch updates we would need to poll.

[2019-05-05 18:38] steveodonovan opened #121 "Query parameters for the task runs api not working as expected"
Query parameters for the task runs api not working as expected

# Expected Behavior
- Filtering should be possible for any taskRun
- filtering should be by task name not task run name

# Actual Behavior
- fails with error for not found case, filters by run name in the successful case

# Steps to Reproduce the Problem
For the exception
1. run the query with a name which will not be found

# Additio

[2019-05-05 19:54] steveodonovan commented on #121
/assign

[2019-05-07 11:09] AlanGreene opened #124 "Remove dynamic import ponyfill once browser support improves"
# Expected Behavior
Extensions should use native support for JS dynamic import to load the extension UI.

# Actual Behavior
Due to lack of support in FF<67 and Edge we currently use a ponyfill for the dynamic import functionality.

Once browser support improves we should remove this pony fill and return to using browser native support for this feature.

https://github.com/tektoncd/dashboard/pull/1

[2019-05-07 13:04] a-roberts commented on #90
Kindly merged and reviewed now by Alan, discussed on Slack (more details on the PR) about eventually using our own image for tests with deps in, and made an issue for that at https://github.com/tektoncd/dashboard/issues/116.

Closing 😄

[2019-05-07 13:04] #90 closed

[2019-05-07 15:03] ncskier commented on #108
/assign

[2019-05-07 15:43] akihikokuroda commented on #42
PR: https://github.com/tektoncd/experimental/pull/21

[2019-05-07 17:27] akihikokuroda commented on #42
PR in dashboard repo: https://github.com/tektoncd/dashboard/pull/126

[2019-05-07 21:34] vtereso commented on #100
@Gl4di4torRr Please see the following repo: https://github.com/vtereso/okd-tekton-dashboard-install. Let me know if that helps 😄

[2019-05-08 00:41] AlanGreene opened #128 "Expose dashboard UI store and selectors to extensions"
An extension should be able to access data provided by the core dashboard UI without having to duplicate API calls, state management, etc. itself.

We should expose the following for use by the extension UI code:
- [x] the redux store
- [x] root selectors
- [x] other useful functions:
  - ~~maybe API layer?~~ No, too much risk of inconsistency, expose action creators instead so store is updated as

[2019-05-08 00:41] AlanGreene commented on #128
/assign

[2019-05-08 09:56] a-roberts opened #129 "pipeline_test.go needs refactoring (negative tests, confusing)"
While reviewing https://github.com/tektoncd/dashboard/pull/122 I came across our code in pipeline_test.go. It's in need of a refactor and very confusing to interpret, and contains *lots* of code that could be split up.

# Expected Behavior
It should be simple enough to understand the tests in pipeline_test.go.

# Actual Behavior
There are weird negative checks going on and massive methods. It's in

[2019-05-09 09:37] steveodonovan commented on #121
/close

[2019-05-09 09:37] #121 closed

[2019-05-09 14:23] steveodonovan opened #133 "Update web client to use task and pipeline runs by name parameters"
Currently the client does not pass the by name query parameters when requesting pipeline runs and task runs.

# Expected Behavior

Client should not request all task runs when showing a task run dialog given at this point we know the corresponding task.

# Actual Behavior

The client requests and receives the specified task runs.

# Steps to Reproduce the Problem

n/a

# Additional Info

[2019-05-09 14:23] steveodonovan commented on #133
/assign

[2019-05-10 11:19] AlanGreene opened #137 "HOC to handle namespace change in UI"
Investigate options to remove duplication around checking for namespace change in dashboard views, whether through introducing a higher order component or some other mechanism.

A component should be able to easily declare its need to respond to namespace change and provide some behaviour that should be triggered when this happens (e.g. make an API call / dispatch an action).

From review feedback

[2019-05-13 11:29] Gl4di4torRr commented on #100
@vtereso i am thinking about doing this with a deployment config, custom resource definition or something like that.

[2019-05-13 13:03] vtereso commented on #100
Regarding specifically the deployment of the dashboard, there is something currently in the works. As for the other pieces that that scripts automates, it uses operators, which use CRDs.

[2019-05-13 13:14] Gl4di4torRr commented on #100
@vtereso can you elaborate more on what's in the works?

Currently I am just trying to run the dashboard locally... I've succeeded with the `npm start` of the development server, but still trying to get `ko` to work properly..

[code]

However, I am new to this but high-level it would be nice to see some steps like

[code]

I am thinking out-of-the-box functionality. But by deploying the dashboard

[2019-05-13 13:30] vtereso commented on #100
Installation of the Dashboard deployment:
[code]
The npm commands are for the "front end" of the dashboard, which will eventually be served through the backend directly
A operator to install the dashboard is currently being looked into, but whether or not the prerequisites (that the above repo installs) will be included is uncertain

[2019-05-13 13:32] #86 closed

[2019-05-13 13:35] #133 closed

[2019-05-13 14:49] mnuttall commented on #100
@akihikokuroda I know you've been looking at an Operator install for the Dashboard. I know we don't have an image in `gcr.io` yet but do you have work in a fork that you can link here to show what you've been doing please?

[2019-05-13 15:52] akihikokuroda commented on #100
Here is my fork of the Tektoncd-pipeline-operator: https://github.com/akihikokuroda/tektoncd-pipeline-operator/tree/dashboard.  I added the dashboard install in the operator.  I've just changed /deploy/resoures/v0.3.1/release.yaml to include the dashboard deployment.  I hardcoded my private docker hub registry  as the dashboard image location for now.  I'll create another branch for the README upd

[2019-05-13 17:35] carlos-logro opened #141 "Credentials Endpoint"
Currently I'm creating a page in the dashboard where all the secrets already created will show up in a nice table. My problem right know is that the API's endpoints related to secrets ends with the credentials (plural) keyword which results in a 404 error. But when I use credential (singular) I get the results I want. I spoke with @mnuttall about this & he said it in past it was agreed that we'd b

[2019-05-13 17:41] akihikokuroda commented on #100
I created a PR for README update. https://github.com/openshift/tektoncd-pipeline-operator/pull/10

[2019-05-13 17:52] akihikokuroda commented on #141
Right now. All APIs except “/v1/extensions” are singular
https://github.com/tektoncd/dashboard/blob/80e6f6522bab01e359496ad97cdb3386db2d358c/pkg/endpoints/router.go#L60

[2019-05-13 18:00] Gl4di4torRr commented on #100
@akihikokuroda nice - i'll check it out

[2019-05-13 21:42] ncskier commented on #108
@mnuttall @AlanGreene
What is the overall "plan" is for namespace selection? I saw that there was recently a namespace dropdown added to the side menu. Should I use the selected namespace for my paneling, or should I have my own namespace dropdown?

Also, what is the flow for how the user should access this page to create a PipelineRun? (what link does the user click to get them to this page, and

[2019-05-14 00:17] AlanGreene commented on #137
HOC approach introduces additional renders and makes code unclear when other state / props can also trigger the same API call(s), and implementation relies on passing strings to identify functions to call (due to use of other HOC (e.g. react-redux's `connect`) making the desired functions unavailable outside the component itself without additional significant compromise).

Closing in favour of exi

[2019-05-14 00:17] #137 closed

[2019-05-14 08:15] mnuttall commented on #141
Any input here or in https://tektoncd.slack.com/archives/CHTHGRQBC/p1557821541003700 much appreciated. We'll give it a few days and see if there's any general preference one way or the other.

[2019-05-14 11:45] AlanGreene opened #142 "pipelineName segment of URL on PipelineRun view is ignored"
# Expected Behavior
If I change the pipelineName segment of the PipelineRun view URL to an invalid value (e.g. a pipeline name for which the specified pipeline run name does not exist, or the pipeline does not exist) this should result in an error.

# Actual Behavior
The pipeline name segment of the URL is ignored, using only the pipeline run name to retrieve the data displayed in the view. This c

[2019-05-14 12:26] a-roberts opened #144 "Found namespaces log message is way too verbose"
# Expected Behavior

We return a well formatted comma separated list of namespaces

# Actual Behavior
[code]

# Steps to Reproduce the Problem

1. Deploy the dashboard (I've used it with an extension but you should get this in the logs accessing the dashboard API for namespaces too) so I get:
[code]
for example

# Additional Info
In https://github.com/tektoncd/dashboard/blob/de69c4c1d0527a29b59625

[2019-05-14 13:50] ncskier commented on #108
Update: I just talked with Mark about the namespace selection, and we agreed to use the "global" namespace that was recently introduced.

[2019-05-14 19:11] AlanGreene commented on #40
Core work complete, any additional work will be tracked separately.

[2019-05-14 19:11] #40 closed

[2019-05-15 12:12] CarolynMabbott commented on #144
/assign

[2019-05-15 12:13] CarolynMabbott commented on #144
/status in-progress

[2019-05-15 13:55] ncskier opened #146 "API Endpoints must return 204 when they return no content on success"
The front-end expects that if it receives any success HTTP code other than 204, then the response has content. If a response has no content and a code other than 204, the front-end will throw an error trying to parse the response as a JSON:
[code]
(https://github.com/tektoncd/dashboard/blob/master/src/api/comms.js#L28)

So, we must update all API endpoints to return code 204 when they succeed and

[2019-05-15 20:18] AlanGreene opened #149 "TaskRun API returning 502 when environment contains TaskRun with inline Task spec"
# Expected Behavior
Requests to `GET /v1/namespaces/<namespace>/taskrun/?name=<taskname>` should return the list of TaskRuns matching the specified Task name.

# Actual Behavior
Returns a 502 if a TaskRun with an inline Task spec (i.e. no standalone Task definition) exists in the namespace.

# Steps to Reproduce the Problem

1. Apply a Task + TaskRun (e.g. `kubectl apply -f https://raw.githubuserc

[2019-05-16 10:27] steveodonovan commented on #149
/assign

[2019-05-16 13:58] vtereso commented on #146
Currently, there is https://github.com/tektoncd/dashboard/blob/master/pkg/endpoints/routes_test.go#L122, that ensures all registered PUT routes return 204. These are the only routes that should return 204 atm IIRC. Is there another case that is not covered?

[2019-05-16 14:07] ncskier commented on #146
Thanks @vtereso, I wasn't aware of the `routes_test.go`.
To clarify, I was making a generalization above, that the front-end requires a 204 status any time there is no content. So, if PUT requests already adhere to this, then that is great. However, I think the main problem is the POST operations that create resources and returning 201 when successful. The problem is that these POST operations ret

[2019-05-16 14:22] vtereso commented on #146
I believe https://github.com/tektoncd/dashboard/issues/18 outlined the best practice to have POST requests return 201 and since `PUT`s modify resources in place (we don't allow create on `PUT`s) there isn't really a necessity to have a `content-location` header so 204 followed by 200 seems the best practice at least according to the spec. Not sure if we want to have the front end match the current

[2019-05-16 14:24] ncskier commented on #146
@AlanGreene what are your thoughts? We talked offline about using status code 204's, but maybe we should have an open discussion about this?

[2019-05-16 14:32] AlanGreene commented on #146
I discussed this with @jessm12 yesterday and provided her with an approach to handle these correctly in the front end code. I believe she's implementing that change to handle the 201 response from the POST APIs, including providing access to the response headers. 200 / 204 will continue to be handled as they are already.

[2019-05-16 14:43] ncskier commented on #146
Ok. That will also affect issues https://github.com/tektoncd/dashboard/issues/108 and https://github.com/tektoncd/dashboard/issues/67 for front-end paneling that involves POST requests with  201 return codes (FYI @carlos-logro).

@AlanGreene can we close this issue, and we will use @jessm12's fix which will be introduced with her PR for issue https://github.com/tektoncd/dashboard/issues/75?

[2019-05-16 14:46] AlanGreene commented on #146
If @jessm12 wants to break off the change for the response handling into a separate PR I'd be more than happy to merge that to unblock anyone working on other tasks consuming POST APIs.

[2019-05-16 15:21] jessm12 commented on #146
I can create a PR with just that small change now 🙂

[2019-05-16 15:54] aunderw commented on #35
Updated user flows for discussion

[tekton-flow.pdf](https://github.com/tektoncd/dashboard/files/3187912/tekton-flow.pdf)

[2019-05-16 16:01] jessm12 commented on #146
https://github.com/tektoncd/dashboard/pull/153 PR here, though seeing what Alan mentioned here https://tektoncd.slack.com/archives/CJ62C1555/p1558022103266500 on running the tests

[2019-05-16 16:02] ncskier commented on #108
Here are a couple of approaches to how the user should access my Create PipelineRun page.

### Option 1: button in the PipelineRun list
In this approach, the Pipeline option on the Create PipelineRun page would be pre-populated with the Pipeline ref. So, in this example it would be  pre-populated with `pipeline0`
![createPipelineRun1](https://user-images.githubusercontent.com/16961496/57868361-d87

[2019-05-16 16:06] vtereso commented on #91
Have we completed 1/2?

[2019-05-16 16:09] AlanGreene commented on #91
I don't think there's been any work done on this. We should discuss 'filtering / subscription to subset of event types' before we do anything in this area as we probably don't want the client dealing with a total firehose of all events from the cluster...

[2019-05-16 16:14] mnuttall commented on #141
Ant change to APIs will need to ensure function is maintained across the go, go tests, javascript, javascript tests, and the scripting in https://github.com/tektoncd/experimental/tree/master/webhooks-extension/test plus anywhere else things are used.

[2019-05-16 16:16] vtereso commented on #141
/assign

[2019-05-16 18:57] dacleyra opened #156 "Dashboard webui did not render on Firefox 60.6.1esr"
# Expected Behavior

Dashboard webui does render on Chrome 74.0.3729.157
RHEL 7.6 x86_64

# Actual Behavior

Dashboard webui did not render on Firefox 60.6.1esr
RHEL 7.6 x86_64

# Steps to Reproduce the Problem

0. Deploy operator from Aki's fork, which includes the dashboard https://github.com/akihikokuroda/tektoncd-pipeline-operator/tree/dashboard
1. `kubectl -n tekton-pipelines port-forward tek

[2019-05-17 01:01] AlanGreene commented on #156
Can you provide more information about the behaviour you're experiencing?

Do you get a blank page? Are there any warnings / errors in the browser console? We delivered a fix for an issue affecting older browsers (including Firefox ESR) 10 days ago. The dashboard image referenced in that operator branch (akihikokuroda/backend:v64) is 14 days old so does not contain the fix.

Can you reproduce the

[2019-05-17 01:38] AlanGreene opened #158 "node.js unit test failures are being ignored by PR build"
# Expected Behavior
A failure in the node.js unit tests should cause the PR build to fail.

# Actual Behavior
PR builds are passing even when node.js unit tests fail.

[2019-05-17 01:38] AlanGreene commented on #158
/assign

[2019-05-17 02:15] AlanGreene commented on #108
Personally I'd prioritise option 2, and also consider adding it to the Pipeline list as described in https://github.com/tektoncd/dashboard/issues/38

For option 1 I'm concerned the nav could get a bit busy with all the create options added (Pipeline, PipelineRun, Resource, Credential, etc.). We should definitely have something easily accessible that doesn't require navigating through multiple laye

[2019-05-17 10:03] mnuttall opened #160 "Can access tokens work in Tekton pipelineruns?"
In https://github.com/tektoncd/experimental/blob/master/webhooks-extension/test/setup_webhook_simple_test.sh we only use an accesstoken to create webhooks. Our github-repo-access-secret is username/password.

https://github.com/tektoncd/pipeline/blob/master/docs/auth.md does not mention access tokens at all.

Use this issue to answer these questions:
- Can a github accesstoken be used to check out

[2019-05-17 10:15] mnuttall opened #161 "Dashboard integration test: create a pipelinerun"
Further to https://github.com/tektoncd/dashboard/commit/f6d370645391107a2ea2e57c84f2e27f472a4f6b we have support for 'e2e' or 'integration' tests - tests that run against a deployed dashboard.

Use this to create a first basic 'sniff' test:
- Creating a pipelinerun should make something happen - e.g. build and deploy a simple ksvc, check it's running.

[2019-05-17 10:41] #158 closed

[2019-05-17 10:51] AlanGreene commented on #149
Verified the change fixes the issue 👍 Thanks

[2019-05-17 10:51] #149 closed

[2019-05-17 13:03] dacleyra commented on #156
Working in new image provided by @akihikokuroda
thanks

[2019-05-17 13:03] #156 closed

[2019-05-17 13:25] ncskier commented on #108
Ok, thanks for the feedback Alan. I'll put a button in the PipelineRun list.

[2019-05-17 13:37] AlanGreene opened #166 "Add support for 'all namespaces' option"
Current UI only displays resources from a single namespace at a time, controlled by the namespace dropdown in the side nav.

We should add an 'all namespaces' option to the dropdown so that a user can choose to view all resources of a given type (e.g. Pipeline, TaskRun, etc.) defined in the cluster regardless of namespace.

- Option 1:
  - front end makes an API call per namespace to get the reque

[2019-05-17 14:08] mnuttall opened #167 "Stop filtering credentials"
Currently credentials.go filters secrets with the filter `tekton-dashboard=true`. This isn't useful; it means that users creating credentials manually have to add that label. Change credentials.go to return as credentials all secrets in the target namespace that look like credentials.

Currently this is all secrets of type `k8s.io/api/core/v1/SecretTypeBasicAuth`. We might extend this to `opaque`

[2019-05-17 14:09] vtereso opened #168 "Extension endpoint annotation split convention"
Currently, the `"tekton-dashboard-endpoints"` annotation value (if exists) is [split](https://github.com/tektoncd/dashboard/blob/master/pkg/endpoints/router.go#L165) using `.`, which seems like a peculiar convention since `PATH` uses `:` and space/comma appearing seemingly more readable. The main reason this seem like an oddity was from the [tests](https://github.com/tektoncd/dashboard/blob/master

[2019-05-17 14:29] vtereso commented on #168
According to https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/#syntax-and-character-set, it seems that there should only be a limitation on the key side?

[2019-05-17 15:22] a-roberts opened #169 "Pipeline0 should accept a folder name parameter"
**Background**

We currently have folders in the hotel and our pipeline0 relies on resources to apply being in the `config` folder. We should remove this restriction.

We could start with just having one arbitrary parameter for now, because we want our "pipeline0" pipeline, at https://github.com/pipeline-hotel/example-pipelines, to be able to apply arbitrary yaml for a repository: including folder

[2019-05-17 17:50] vtereso commented on #129
/assign

[2019-05-19 02:47] gorkem commented on #35
Is the idea is to show `ClusterTasks` under the `Tasks` in these designs?

[2019-05-19 17:49] steveodonovan opened #172 "Dashboard client is not resilient to inline taskRuns"
# Expected Behavior
Client should be able to load any task run under any circumstances.

# Actual Behavior
Where an inline task run is in the store, the client fails to load the requested task run. This is caused by an earlier call to get all task runs.

# Steps to Reproduce the Problem

PRE- must have inline task runs on the cluster.
1. Navigate to a pipeline run which has completed
2. Navigate b

[2019-05-19 17:49] steveodonovan commented on #172
/assign

[2019-05-20 09:57] CarolynMabbott commented on #161
/assign

[2019-05-20 09:58] CarolynMabbott commented on #161
/status in-progress

[2019-05-20 12:45] #172 closed

[2019-05-20 12:50] Gl4di4torRr commented on #100
@akihikokuroda are you expecting the dashboard to be in the `tekton-pipelines` namespace? After deploying the tekton operator, I do not see the dashboard. Maybe I used the wrong config?

[2019-05-20 15:03] ncskier commented on #146
@jessm12 are we able to close this issue now that the PR's merged? 👍

[2019-05-20 15:14] akihikokuroda commented on #100
Yes, but not yet.  The image of the Tekton dashboard must be published first so the the pipelines operator can pull and install the dashboard.

[2019-05-20 15:17] jessm12 commented on #146
/close

[2019-05-20 15:17] #146 closed

[2019-05-20 20:10] steveodonovan commented on #166
Backend api will be `.../v1/namespaces/*/<resource>`

However one issue here `.../v1/namespaces/*/<resource>/<resourceName>`  will be invalid. A namespace must be provided when requesting a specific resource by name. The above will return an 404 and the message `an empty namespace may not be set when a resource name is provided` This is coming from the pipelineClient, not our application. Querypar

[2019-05-21 11:21] AlanGreene commented on #166
Updated description to include example of how this is handled by the kube API server.

[2019-05-21 15:32] #118 closed

[2019-05-22 15:16] carlos-logro opened #178 "Add namespace field to credentials"
Currently our struct in credentials.go does not include the namespace it was created in. For the upcoming `all namespaces` option in the sidebar dropdown to work we need the namespace field to be specified in the returned value.

[2019-05-22 16:01] vtereso commented on #166
The all namespaces option should be specific to get all CRD routes?

[2019-05-22 16:14] mnuttall commented on #167
It probably makes sense for me to pick this up after #160.

[2019-05-22 20:57] carlos-logro opened #179 "make deleteCredential endpoint send 204 status code"
This needs to be done in order for the frontend not to break when checkStatus function in src/api/comms.js interprets the response status.

[2019-05-23 13:06] mnuttall commented on #160
A: no.

[2019-05-23 13:06] #160 closed

[2019-05-23 13:07] mnuttall commented on #167
Picking this up. To do:
- cut all references to access tokens and docker secrets out of credentials.go
- stop filtering secrets by tekton-dashboard=true

[2019-05-23 14:13] vtereso commented on #179
/assign

[2019-05-23 14:24] vtereso commented on #179
https://github.com/tektoncd/dashboard/pull/181

[2019-05-23 14:25] vtereso commented on #129
https://github.com/tektoncd/dashboard/issues/179

[2019-05-23 14:40] vtereso commented on #166
I favor anything except for the additional routes where we `(drop the /namespaces/{name})`

[2019-05-23 14:44] vtereso commented on #179
/close

[2019-05-23 14:44] #179 closed

[2019-05-24 13:22] vtereso commented on #129
/close

[2019-05-24 13:22] #129 closed

[2019-05-24 15:48] Gl4di4torRr opened #184 "dockerfile failing to create image: error: running 'apk add curl git'"
# Expected Behavior
`docker build .` to complete successfully
# Actual Behavior
[code]

# Steps to Reproduce the Problem

1. Run `docker build .`

[2019-05-24 15:56] Gl4di4torRr commented on #184
It helps to get off VPN.

[2019-05-24 15:56] #184 closed

[2019-05-24 20:24] vtereso commented on #166
Updates @steveodonovan @AlanGreene ?

[2019-05-27 10:31] steveodonovan opened #190 "Add navigation to view task and pipeline definitions"
# Expected Behavior

The dashboard should contain a view of pipeline and task resources

# Actual Behavior

This navigation does not currently exist

[2019-05-27 10:31] steveodonovan commented on #190
/assign

[2019-05-28 13:47] carlos-logro commented on #67
#185

[2019-05-28 17:26] Gl4di4torRr commented on #100
@akihikokuroda @vtereso i have opened https://github.com/tektoncd/dashboard/pull/189 which installs the dashboard using a build and deploy template. works easily for me on openshift/minishift.

[2019-05-28 19:03] ncskier opened #195 "Carbon Design System Modal is not working properly with the dashboard UI Shell"
# Expected Behavior
Here is the codesandbox link to a primitive example of what is expected from the Modal component: https://codesandbox.io/embed/carboncomponentsreact-7zzqn
![Screen Shot 2019-05-28 at 2 56 41 PM](https://user-images.githubusercontent.com/16961496/58504538-d4466880-8158-11e9-91b6-6d443b97e73d.png)

# Actual Behavior
There are a few things that went wrong when I tried using the Mo

[2019-05-28 19:23] AlanGreene commented on #195
I can reproduce the same issue in a codesandbox once I load the styles for the UI Shell header + content: https://codesandbox.io/s/carboncomponentsreact-vxg18

I'd suggest checking the Carbon repo / slack to see if this is a known issue or if there's a suggested solution.

[2019-05-29 12:27] AlanGreene commented on #166
@vtereso we're going with the `*` approach for now to unblock the front end work and to avoid making multiple requests from the browser. https://github.com/tektoncd/dashboard/pull/174

[2019-05-29 13:28] Gl4di4torRr commented on #100
@akihikokuroda @mnuttall since #189 was merged, do you want to close this or leave it open until the operator does the full install?

[2019-05-29 20:29] ncskier opened #198 "UI crashes when showing a PipelineRun with a PipelineResource error"
# Expected Behavior
When I selected the link to view my PipelineRun that had failed, I expected it to show the logs view where I could debug what went wrong with my PipelineRun.
![Screen Shot 2019-05-29 at 4 19 27 PM](https://user-images.githubusercontent.com/16961496/58588406-9404ea00-822d-11e9-802a-8332f3ac3f2b.png)

# Actual Behavior
Instead, my view went completely blank, and I got some errors

[2019-05-30 09:51] #141 closed

[2019-05-30 10:24] jessm12 opened #200 "Git resource logs are not surfaced so Pipeline fails with no logs"
# Expected Behavior
If there is a problem in accessing the Git repo that has been defined in the Git `PipelineResource` (this is reported in one of the init containers that runs before any defined tasks for mounting resources) this should be surfaced in the `PipelineRun` details/logs to show what went wrong e.g. credentials weren't valid or the repo doesn't exist

# Actual Behavior

What is actual

[2019-05-30 13:19] vtereso commented on #178
This is a no go IIUC since the push is to remove Credential and use native secrets?

[2019-05-30 16:40] carlos-logro commented on #195
After doing some testing here is what I have concluded:

1. The header and side nav areas are not grayed out, and the only way to make this happen is if the modal is opened within the App or index.html file.

2. The modal is centered in the entire Content element when it should be centered in the viewport. To fix this i had to specify a viewport height by either 88.6vh or calc(100% - 7rem)
*7rem b

[2019-05-31 13:02] jessm12 commented on #198
/assign

[2019-05-31 13:03] jessm12 commented on #198
/status in-progress

[2019-05-31 15:53] ncskier commented on #161
I spoke with @CarolynMabbott and @vtereso about the specification in this issue:

Since we are creating tests for the dashboard, which is not dependent on Knative, this test should use a sample app with a normal Service and Deployment instead of a Knative Service. This change will also simplify the work for setting up tests because we will not need to install Knative and Istio.

@mnuttall is this

[2019-06-03 08:56] mnuttall commented on #167
Closed by https://github.com/tektoncd/dashboard/pull/183

[2019-06-03 08:56] #167 closed

[2019-06-03 09:00] mnuttall commented on #110
Closed by https://github.com/tektoncd/experimental/pull/30

[2019-06-03 09:00] #110 closed

[2019-06-03 20:21] carlos-logro commented on #195
@AlanGreene found out the reason behind this behavior & its because `<main class="bx--content">` has the style `transform: translate3d(0, 0, 0);`. I omitted it in the inspector & did not see any changes apart from the modal being viewed how we want to. I attached some pictures:

the first one is how it currently looks. With the style mention above applied and also specifying some height & padding

[2019-06-04 08:46] mnuttall opened #203 "Third party tools integration"
Third party tools running on or connected to a cluster where Tekton is installed may wish to discover and link to the Tekton dashboard. This could be done by:

- Extending the dashboard installer-operator to include an Ingress entry
- Add a GET /ingress method to the dashboard which will return the external (Ingress) URL by which the dashboard can be accessed. The dashboard service is currently la

[2019-06-04 10:18] AlanGreene commented on #195
That particular value is often used as a sort of performance hack by bumping the affected element to its own layer for GPU-accelerated animation. If interaction / animations are still smooth I'd be ok with disabling it, a note to the Carbon folks would be good as I'm sure others will hit this if they haven't already.

[2019-06-04 13:21] carlos-logro commented on #195
awesome!! where can I contact the Carbon folks?? Ill update my modal & remove the style so it looks good when that value is disabled.

[2019-06-04 13:26] AlanGreene commented on #195
The Carbon monorepo is at https://github.com/carbon-design-system/carbon and I see you've already mentioned the issue to them on Slack

[2019-06-04 15:34] carlos-logro commented on #178
@mnuttall should we go ahead and implement this?

[2019-06-04 19:15] vtereso opened #206 "Fix container prefix in Tekton"
As mentioned by @AlanGreene, Tekton recently changed the container prefix. Since this is an unexported field, everything relying upon this will break and needs to reflect the recent [change](https://github.com/tektoncd/pipeline/commit/3d87e2e18174f1d7b088bdd14065d5f06ef86462).

[2019-06-04 19:16] vtereso commented on #206
/assign

[2019-06-04 20:26] carlos-logro commented on #200
/assign @carlos-logro

[2019-06-05 12:06] a-roberts commented on #81
@vdemeester has conquered this one and people can now pull from

`gcr.io/tekton-nightly/dashboard:latest`

We should get this documented somewhere next, thank you Vincent!

[2019-06-05 12:13] jessm12 commented on #75
Changes merged in: https://github.com/tektoncd/dashboard/pull/182

/close

[2019-06-05 12:13] #75 closed

[2019-06-05 12:20] a-roberts commented on #81
Discussed this with @mnuttall, we agree it would be super cool to have a `latest.yaml` file now (e.g. as a GitHub release) that anyone can just pick up and use, and we document in our readme - that should all be under a new issue, so I'm going to close this.

/meow

[2019-06-05 12:20] #81 closed

[2019-06-05 12:23] mnuttall opened #211 "Update README to install latest docker image"
A dashboard image `gcr.io/tekton-nightly/dashboard:latest` built from the last good build on master is now available for download.

- Add a new kube.yaml document that installs the latest image
- Make this yaml available via a GitHub release of dashboard
- Update the installation section of the Readme to indicate that users can `kubectl apply -f https://url.to.released.kube.yaml`

[2019-06-05 12:25] mnuttall opened #212 "Investigate Ingress options on minishift, OKD and OpenShift"
This is part of Epic #203 in which we want to help other tools find and link to the Tekton dashboard.

A Tekton Dashboard Operator is under development in https://github.com/openshift/tektoncd-pipeline-operator/pull/14 and https://github.com/akihikokuroda/tektoncd-pipeline-operator/tree/dashboard.

Once installed on a 'real' cluster we can expect the Dashboard to be typically accessed via Ingress.

[2019-06-05 15:01] vtereso commented on #211
/assign

[2019-06-05 15:42] ncskier commented on #169
Hi @a-roberts, I might be misunderstanding your proposal, but I think what you are proposing already exists. Pipeline0 has an `apply-directory` parameter (https://github.com/tektoncd/dashboard/blob/master/config/pipeline0.yaml#L13) which specifies the directory from which resources will be applied. It's used in the task here:
[code]
(https://github.com/tektoncd/dashboard/blob/master/config/pipelin

[2019-06-05 16:29] jessm12 commented on #198
https://github.com/tektoncd/dashboard/pull/214 PR to fix this, may want to do a more functional change than this in the future

[2019-06-05 16:35] carlos-logro commented on #200
After investigating the reason behind the logs not being shown, I found out that some of the steps are being filtered in the `PipelineRun` container when the `loadTaskRuns` fn is called:

[code]

The filtering part is done with the help of the stepsStatus util fn:

[code]

 Apparently the filtered steps were the ones containing the errors logs so to show all the steps I just made this simple edit

[2019-06-06 09:48] dibbles opened #215 "Dynamic discovery of extensions with a listener"
# Expected Behavior

We shouldn't need extensions to be running before the dashboard pod starts.  We should be able to start up some extension when the dashboard is already running and the dashboard should find the extension.

The dashboard looks for service with the relevant annotation in order to register the extension, this could be replaced with a listener that discovers new extensions/updates

[2019-06-06 14:23] carlos-logro commented on #178
/assign @carlos-logro

[2019-06-06 14:55] AlanGreene commented on #200
The `Step` component already has support for multiple states other than success / error, see the storybook for details https://alangreene.github.io/dashboard/?path=/story/step--default
We just need to ensure the correct props are being provided.

As far as I remember the reason for using the `taskSteps` instead of the `taskRunSteps` was so that we could display entries in the tree before the corre

[2019-06-06 15:17] vtereso commented on #211
https://github.com/tektoncd/dashboard/pull/216

[2019-06-06 16:52] carlos-logro commented on #195
/assign @carlos-logro

[2019-06-06 16:55] AlanGreene commented on #142
Options:
- update URLs to that a pipeline run would be accessed at `/namespaces/:namespace/pipelineruns/:pipelineRunName` instead of the current `/namespaces/:namespace/pipelines/:pipelineName/runs/:pipelineRunName`
- update PipelineRun component to check the pipelineName matches the pipeline ref name in the PipelineRun (somewhere around here would work https://github.com/tektoncd/dashboard/blob/7

[2019-06-06 17:45] carlos-logro commented on #195
/close

[2019-06-06 17:45] #195 closed

[2019-06-06 19:56] vtereso commented on #215
/assign

[2019-06-06 20:12] ncskier commented on #166
@AlanGreene @steveodonovan the latest PR for this issue has broken the "Import Tekton resources" page. When the "All Namespaces" option is selected, we can't allow the user to create any Tekton resources (because they fail to be created). Right now the "Import Tekton resource" page does not provide the user with any feedback in this failure case. We could probably solve this problem by displaying

[2019-06-06 21:09] AlanGreene commented on #166
The import page should have a namespace dropdown, that was the approach we discussed for this and other panels including the extensions. I missed its absence during reviews, my bad.

I've already discussed this with Carlos in relation to the secrets work and changes needed to the APIs to support 'all namespaces'.

[2019-06-06 21:11] ncskier commented on #166
Ok... so the namespaces dropdown in the Side Nav is only for Read operations? Then each Create operation page will need to have its own namespace dropdown?

[2019-06-06 22:32] AlanGreene commented on #166
Exactly, that was the reason for the creation of the NamespacesDropdown component.
The dropdowns used elsewhere can default to the value selected in nav where that makes sense.

[2019-06-07 10:56] jessm12 commented on #212
/assign

[2019-06-07 10:58] mnuttall opened #222 "'Rebuild' button"
https://github.com/tektoncd/dashboard/issues/108 introduces a means to manually kick off PipelineRuns. Whether triggered by webhook or manually, 'run that build again' is a common need - were those test failures timing related? Was that just a network blip?

A 'rebuild' button needs,
- the values of any parameters provided to the previous run
- any PipelineResources created for the previous run

I

[2019-06-07 12:53] mnuttall opened #223 "Filter PipelineRuns and TaskRuns"
Issue https://github.com/tektoncd/experimental/issues/47 calls for the ability to filter PipelineRuns and TaskRuns by git repository and branch.  This issue calls for a more general ability to filter PipelineRuns and TaskRuns by whatever labels may be on them.

If started before experimental-47, this issue may render that unnecessary. Either way, please coordinate with anyone that may be working o

[2019-06-07 12:54] #166 closed

[2019-06-07 13:39] carlos-logro commented on #200
I propose we keep the logic it has right now but double check the taskRunSteps array to see if one of the elements has an error & if that so then include in the task tree if not then omit it like its been doing. what do you guys think??

[2019-06-07 15:03] a-roberts commented on #169
Hey @ncskier - yeah, @jessm12 actually added it as a parameter, we can close this (and I made the issue title far too general when really I was looking for it to be used in pipeline0).

Let's close this 😄.

[2019-06-07 15:03] #169 closed

[2019-06-07 16:10] a-roberts commented on #211
https://github.com/tektoncd/dashboard/pull/216 is now merged, closing 😄

[2019-06-07 16:10] #211 closed

[2019-06-07 16:10] a-roberts commented on #198
Merged, closing 🎉

[2019-06-07 16:10] #198 closed

[2019-06-07 16:18] a-roberts commented on #100
Hey @Gl4di4torRr, thanks for your work on this - the docs are good and will certainly be of use! Let's close this out so it isn't lingering forever. You've titled this to be specifically around documentation and an operator doing the full install can be worked on outside of this.

🎉

[2019-06-07 16:18] #100 closed

[2019-06-10 08:36] a-roberts commented on #222
I'll work on this.

In terms of design here's what I'm thinking - and it's as simple as possible intentionally.

1) Add a "Rebuild" button with a typical "replay" arrow button on the create PipelineRun page
2) Store the PipelineRun API call (literally the request and body) when a build is performed for the manual build case so that the next rebuild click creates the exact same PipelineRun again

I

[2019-06-10 09:18] a-roberts opened #227 "Dev instructions won't give you pipeline0"
# Expected Behavior
pipeline0 should be applied at install time (for both in the dev lifecycle and when people just want to install a release).

# Actual Behavior
It's not, we just say, due to https://github.com/tektoncd/dashboard/commit/0f41e89ff63a5b4ef97961871ee34a9d1d3c9c50, to `ko apply` a certain file and not the `config` folder.

# Steps to Reproduce the Problem

1. `ko apply` as per instal

[2019-06-10 09:59] AlanGreene commented on #91
/assign @steveodonovan

[2019-06-10 10:00] mnuttall opened #228 "Extend Tekton Dashboard operator to create Ingress endpoint on OpenShift"
Further to https://github.com/tektoncd/dashboard/issues/212 and the work to create a Tekton Dashboard operator in https://github.com/openshift/tektoncd-pipeline-operator/pull/14 and https://github.com/akihikokuroda/tektoncd-pipeline-operator/tree/dashboard, this issue extends the Tekton Dashboard Operator so as to optionally create an Ingress endpoint for the dashboard.

The address of the Ingress

[2019-06-10 10:57] mnuttall opened #229 "Add /ingress REST API"
This is closely related to issues #212 and #228: add a /ingress REST endpoint with a GET method that reports the configured Ingress endpoint for the dashboard.

[2019-06-10 13:28] akihikokuroda commented on #228
/assign

[2019-06-10 18:28] alhazred opened #232 "Would like to see old logs at least for 24 hours past"
# Expected Behavior
Possibility to view all pipelines/logs at least for the current day and the previous one

# Actual Behavior
only when related pods are live

# Steps to Reproduce the Problem

1. jx start pipeline foo
2. would like to see logs for any run for a day for example
3. "Unable to fetch log" or even "Error loading pipeline run  "Not Found" for old runs after some time

# Additional Inf

[2019-06-10 19:58] akihikokuroda commented on #228
I'll add the following ingress.  The <proxy IP> is replaced by the ProxyIP in the Install CRD for the dashboard during the install by the operator.

[code]

[2019-06-10 23:32] AlanGreene commented on #232
https://github.com/tektoncd/pipeline/issues/107 is tracking a proposal that may be of interest for persistence of logs

[2019-06-11 05:26] alhazred commented on #232
It seems like solid approach, thanks

[2019-06-11 09:02] a-roberts commented on #227
Merged so closing

[2019-06-11 09:02] #227 closed

[2019-06-11 09:04] a-roberts commented on #144
Thanks @CarolynMabbott, closing 😄

/meow cheese

[2019-06-11 09:05] a-roberts commented on #144
/meow sunglasses

[2019-06-11 09:05] #144 closed

[2019-06-11 09:51] steveodonovan commented on #128
https://github.com/tektoncd/dashboard/pull/208/files#diff-64a5de7597cee66f6619d7f39d684e8eR237 to be cleaned up once url selectors are in place

[2019-06-11 10:12] jessm12 opened #235 "Minishift dashboard install instructions unclear"
Came across when working #212

# Expected Behavior

For it to be trivial to install the dashboard on Minishift following the instructions at https://github.com/tektoncd/dashboard#install-on-minishift

# Actual Behavior

In attempting to install the dashboard on Minishift following these instructions I have hit a few problems and haven't yet managed to install and access the dashboard successfully.

[2019-06-11 10:31] a-roberts commented on #178
This is now merged, thanks @carlos-logro 😄

/meow sunglasses

[2019-06-11 10:31] #178 closed

[2019-06-11 13:01] a-roberts commented on #222
I've mocked this up today including the API call.

Unfortunately this isn't going to work for any PipelineRun with the existing createPipelineRun API until we have https://github.com/tektoncd/dashboard/issues/47 implemented which would be awesome to do under https://github.com/tektoncd/experimental/issues/19 - **unless** I implement a new API endpoint, which I'm cool with doing.

Said new API endp

[2019-06-11 13:20] vtereso commented on #168
This will be addressed in an upcoming PR the related delimiter.

[2019-06-11 13:22] vtereso commented on #47
To document in this issue, there is an ongoing effort related to the experimental/eventing side of Tekton and once merged, this should more or less be available out of the box.

[2019-06-11 13:25] Gl4di4torRr commented on #235
@jessm12 I walked back through the steps... I found two items that were an issue.

1. `build.yml` should be `build.yaml`
2. There is no [trigger](https://docs.openshift.com/container-platform/3.5/dev_guide/builds/triggering_builds.html) on the [build config](https://github.com/tektoncd/dashboard/blob/master/config/templates/build.yml) so I had to manually click the build button to start a build.

[2019-06-11 13:36] jessm12 commented on #235
Thanks @Gl4di4torRr that's great! I just noticed the `trigger` issue when I was investigating what was going on and trying to understand all the different resources that are created 😅

[2019-06-11 13:38] steveodonovan opened #237 "Surface pipeline and task websocket events"
# Expected Behavior

Task and pipelines should have real time updates in the client

# Actual Behavior

a refresh is needed to pick up changes

[2019-06-11 13:38] steveodonovan commented on #237
/assign

[2019-06-11 13:41] Gl4di4torRr commented on #235
@jessm12 yep! i'll clean up my git history later today so we can get the PR merged and this issue resolved.

[2019-06-11 15:58] jessm12 opened #240 "Document permissions setup for resources access by Dashboard"
Came across while investigating #212

# Expected Behavior

Our docs should advise users how to setup the required access control to allow them to run the dashboard and see their Tekton resources in the UI

# Actual Behavior

In order to view Tekton resources through the dashboard, the service account that it is running under must have the relevant permissions against it to access Tekton resources

[2019-06-11 17:00] AlanGreene opened #241 "Reduce duplication of redux-related code per resource type"
We currently have a number of reducers following an (almost?) identical pattern:
- resource ids stored by namespace
- full resource store by id
- reducers handle fetch/error cases including exposing a 'loading' state
- selectors + actions to interact with these from components (fetch collection / single resource)

In each of these, the only difference is the action type, which is derived from the

[2019-06-12 09:08] a-roberts commented on #222
This now works on my branch. **I'm currently adding a timestamp to the end of the PipelineRun name to make it unique and clearing the resource version so a new one is generated**. Next step is to add tests and to get the icon actually rendering.

For anyone interested in following you can take a look at my branch [here](https://github.com/a-roberts/dashboard/tree/adam-rebuild-button). I'll report

[2019-06-12 15:13] steveodonovan opened #245 "Add tasks top level"
# Expected Behavior

Tasks should be navigable from the side nav of the dashboard

The view should be list of task runs -> task tree view of a single task

# Actual Behavior

it is not

# Steps to Reproduce the Problem

[2019-06-12 15:14] steveodonovan commented on #245
/assign

[2019-06-12 21:00] #237 closed

[2019-06-12 21:00] #190 closed

[2019-06-13 10:52] jessm12 commented on #212
The current dashboard install on Openshift/Minishift includes an Openshift `route` resource which defines an ingress endpoint e.g. `tekton-dashboard-openshift-pipelines-operator.192.168.64.2.nip.io`

I tested the install on Minishift, raised the issues that I came across - docs changes are required to make this install trivial, and was able to access the dashboard successfully

Our Go code is curr

[2019-06-13 14:09] ncskier opened #246 "Back-end to create a PipelineResource"
Implement a POST API endpoint for creating a PipelineResource.

PipelineResources are now viewable in the front-end (https://github.com/tektoncd/dashboard/pull/234). A new API endpoint is required for front-end paneling to create new PipelineResources.

[2019-06-13 14:16] akihikokuroda commented on #212
I looked at the ingress of the Openshift, too.  Yes, the Openshift seems to provide the certificate signed by the CA in the Openshift.  I believe that's good enough.

The route is the old way to route the external request into the services in the Openshift cluster.  I believe we should use the standard ingress instead of the route.

[2019-06-13 14:19] ncskier opened #247 "Front-end paneling to create a PipelineResource"
Add paneling to create a new PipelineResource.

This issue depends on issue https://github.com/tektoncd/dashboard/issues/246.

PipelineResources are now viewable in the front-end (#234). Use the back-end API endpoint from issue https://github.com/tektoncd/dashboard/issues/246 to create paneling for creating a new PipelineResource.

[2019-06-13 14:20] akihikokuroda commented on #212
I'm putting the ingress definition in https://github.com/tektoncd/dashboard/issues/228#issuecomment-500571598 to the operator.  If I have to tweak, please let me know.

[2019-06-13 14:33] jessm12 commented on #212
Sounds good @akihikokuroda! Perhaps once the operator is ready to go we can doc it and then we may not need to keep the current install yaml files that we have for openshift at https://github.com/tektoncd/dashboard/tree/master/config/templates

Is the operator ready to try out from your fork?

[2019-06-13 14:56] akihikokuroda commented on #212
I have 2 separate branches that must be combined.  One for the dashboard and the other for the ingress.  Both must be merged together to make them work.  So they don't work yet :-(
Here are the branches for your reference:
https://github.com/akihikokuroda/tektoncd-pipeline-operator/tree/dashboard
https://github.com/akihikokuroda/tektoncd-pipeline-operator/tree/ingress

[2019-06-14 15:14] jessm12 opened #253 "Import Tekton Resources panel errors on latest image"
# Expected Behavior

The import Tekton resources panel renders as expected

# Actual Behavior

Using the latest nightly install image or `ko apply` of latest code and accessing the Import Resources page of the dashboard leads to an error
![Screenshot 2019-06-14 at 15 59 10](https://user-images.githubusercontent.com/32932155/59519155-26102200-8ebf-11e9-8201-1d68c821a343.png)
and the page fails to r

[2019-06-14 15:48] steveodonovan opened #254 "Expose taskRuns in dashboard side nav"
# Expected Behavior

TaskRuns should be in the side nav allowing users to navigate to a list of task runs and from there to a single task run

![Screenshot 2019-06-14 at 16 47 20](https://user-images.githubusercontent.com/18128367/59521408-1d6e1a80-8ec4-11e9-9a76-ae0babd4aa6e.png)

# Actual Behavior

This selection is not available

[2019-06-14 16:21] ncskier commented on #253
/assign @ncskier

[2019-06-14 16:21] ncskier commented on #253
I have recreated this error, and it looks like the error was introduced with commit `50a006ca7d5179ecb549e79fd7bcd1ae06160550`

[2019-06-14 18:59] ncskier commented on #253
It looks like the recent change to generalize "namespaced reducers" is the source of the error. On the Import Tekton Resources page, the error is generated from the serviceAccounts reducer, so I have created a small PR to fix this problem. However, we might need some additional work done in another PR assuming the other "namespaced reducers" have a similar bug.

[2019-06-14 19:34] ncskier opened #257 "Bug: PipelineRuns show running indefinitely"
# Expected Behavior
I expect the UI to show that my PipelineRuns have terminated when the PipelineRuns have terminated.
# Actual Behavior
Instead, the UI shows the status as running even after my PipelineRuns have terminated.
![Screen Shot 2019-06-14 at 3.18.44 PM.png](https://images.zenhubusercontent.com/5cc0668def180a20792767af/b860031c-22ec-4c74-9c82-c508b0ecf0f1)
[code]
![Screen Shot 2019-06-1

[2019-06-17 09:21] #253 closed

[2019-06-17 10:27] jessm12 commented on #257
@ncskier I followed the steps above and wasn't able to reproduce this problem 🤔for me everything looks as expected
![Screenshot 2019-06-17 at 11 25 19](https://user-images.githubusercontent.com/32932155/59597888-c8fcb200-90f2-11e9-81b7-5d27c84bc2f4.png)
![Screenshot 2019-06-17 at 11 25 41](https://user-images.githubusercontent.com/32932155/59597897-cd28cf80-90f2-11e9-96a9-068ba87a3533.png)

[2019-06-17 13:32] steveodonovan commented on #257
@ncskier Could you send on the actual pipelineRun yaml on the cluster ?

[2019-06-17 13:40] ncskier commented on #257
[code]

[2019-06-17 14:14] steveodonovan commented on #257
Just to clarify it's the above that determines that a pipeline run has terminated and its status is showing running. Looks like it could be a tekton issue. Maybe check the logs for the controller, looks like it might have failed to update the status for some reason. Might be worth checking the status for the individual tasks too.

[2019-06-17 14:24] ncskier commented on #257
Ok, my mistake. I'll close the issue.

[2019-06-17 14:24] #257 closed

[2019-06-18 11:39] AlanGreene opened #261 "Display PipelineResource secrets"
PipelineResources of type `cluster` and `storage` have optional `spec.secrets` that can reference Kubernetes secrets to be applied to the resource.

These should be displayed on the PipelineResource view along with the existing `spec.params`

[2019-06-18 11:42] AlanGreene opened #262 "Display ClusterTasks in the dashboard"
https://github.com/tektoncd/pipeline/blob/master/docs/tasks.md#clustertask

- New top-level nav item for ClusterTasks (similar to Tasks)
- Update existing code for TaskRuns to support them
  - store with Tasks or separately? Either way containers will need to be updated to filter / combine the correct data.

[2019-06-18 15:48] steveodonovan commented on #262
Going for ClusterTasks as a top level navigation

/assign

[2019-06-18 18:32] #254 closed

[2019-06-19 13:26] vtereso commented on #215
https://github.com/tektoncd/dashboard/pull/259

[2019-06-19 15:23] steveodonovan opened #267 "Add proxy rest api which will delegate calls to kube apiserver set up restricted service account"
There has been a few issues opened asking why we aren't using the kube api server. Exposing the actual kube apiserver and handling credentials client side is a little too heavy. Also the kube api server does not provide all the functionality we need. Also there would be cross origin request issues. Proposed solution is to use a proxy in place of some of our back end api calls.

Large caveat to thi

[2019-06-19 15:36] steveodonovan commented on #267
/assign

[2019-06-19 15:50] carlos-logro opened #269 "Add websocket eventing when secret is created"
# Expected Behavior
When a secret is created the websocket should be fed eventing for creating, updating & deleting secrets.

# Actual Behavior
Currently, there is no eventing in the websocket for this particular case. When creating a secret through the API & getting a successful status code then the fetchSecrets action is called to access the API & get the new list of secrets. For deleting we jus

[2019-06-19 17:52] vtereso commented on #269
/assign

[2019-06-19 18:16] AlanGreene opened #272 "Fix text wrapping / overflow issues on run view"
# Expected Behavior
Long run / step names should be truncated to prevent wrapping and/or overlap with other content. A tooltip should also be provided containing the full name on hover.

# Actual Behavior
Long names wrap over multiple lines, overflowing their containers and overlapping other content on the page making it difficult to read / interact with.

[2019-06-19 21:02] vtereso commented on #246
@steveodonovan has an [outstanding PR](https://github.com/tektoncd/dashboard/pull/268) to add a proxy to the kube api, which allows us to leverage its functionality rather than adding things into the dashboard.

[2019-06-19 21:06] carlos-logro commented on #247
/assign @carlos-logro

[2019-06-19 21:12] carlos-logro commented on #247
@AlanGreene after seeing the front-end for the pipelineResources, I assume that this issue can be done with an add button & a modal form just like all the other work that has been done right?

[2019-06-19 21:37] steveodonovan commented on #245
/close

[2019-06-19 21:37] #245 closed

[2019-06-20 10:50] a-roberts commented on #161
Merged so closing 🎉

[2019-06-20 10:50] #161 closed

[2019-06-20 12:49] #272 closed

[2019-06-20 12:51] #261 closed

[2019-06-20 12:56] AlanGreene commented on #241
Leaving secrets / credentials as they are for now since there's quite a bit of active work in that area and would likely cause conflicts. Once that settles we can revisit and apply the new pattern to these.

[2019-06-20 14:01] akihikokuroda commented on #228
PR in the openshift/pipeline-operator https://github.com/openshift/tektoncd-pipeline-operator/pull/46

[2019-06-20 16:01] AlanGreene commented on #247
Is there a design for this or description of the intention? There are a number of different PipelineResource types with their own sets of required and optional fields so this could be quite a complex UI depending on how it's approached
 https://github.com/tektoncd/pipeline/blob/master/docs/resources.md

[2019-06-20 17:30] carlos-logro commented on #247
@AlanGreene don't think there is a design at the moment. And as for a description of the intention probably @ncskier can give us a better overview.

Now, I had in mind something similar to the add new secret modal where with a some inline logic based on the users inputs components appear or disappear to fully get all the necessary information for the particular resource the user chose.

[2019-06-20 18:25] akihikokuroda commented on #228
Issue adding the dashboard to the operator: https://github.ibm.com/swiss-cloud/swiss-planning/issues/97

[2019-06-21 09:57] jessm12 commented on #229
/assign

[2019-06-21 13:33] carlos-logro commented on #247
since this issue is not priority at the moment, ill be unassigning myself

/unassign @carlos-logro

[2019-06-21 13:48] a-roberts opened #277 "Developers should use `npm ci` when installing the dashboard from source"
# Expected Behavior
package-lock.json should be adhered to

# Actual Behavior
We suggest `npm installing`. We should suggest Node.js 10.x I believe and `npm ci` instead so our package-lock.json is taken into account.

@dibbles noticed bold font styling and a scrollbar on the delete dialog for the extension when using Node 12 with a newly generated package-lock.json as a result of npm installing

[2019-06-21 15:15] #241 closed

[2019-06-24 09:37] CarolynMabbott commented on #240
/assign

[2019-06-24 09:37] CarolynMabbott commented on #240
/in-progress

[2019-06-24 09:38] CarolynMabbott commented on #240
/status in-progress

[2019-06-25 10:07] a-roberts commented on #240
@steveodonovan and I were discussing Openshift/Minishift permissions just now, he's pointed out his changes [here](https://github.com/tektoncd/dashboard/pull/268/files#diff-6ce617087fa9cd260ef0f682b7602619R1) should certainly be of use - I'd try running with said cluster role/binding etc

[2019-06-25 10:07] steveodonovan commented on #240
@CarolynMabbott We might have some overlap here. This access is a prerequisite for the proxy. Complete in the PR below but still needs testing on openshift

https://github.com/tektoncd/dashboard/pull/268/files#diff-6ce617087fa9cd260ef0f682b7602619R1

[2019-06-26 10:40] a-roberts commented on #222
This has been implemented for a while, waiting on https://github.com/tektoncd/dashboard/pull/259 as it introduces lots of test improvements I need to pick up (otherwise routes_test.go reliably fails for unrelated reasons when I ignore my new rebuild route). Added tests too.

[2019-06-26 20:07] ncskier commented on #257
I updated my Docker for Desktop from the latest `Stable` release, to the latest `Edge` release, so now it's running kube version `v1.14.3`, and I no longer see the problem documented in this issue.

[2019-06-27 10:07] a-roberts commented on #267
This is now complete and merged, thanks @steveodonovan!

[2019-06-27 10:07] #267 closed

[2019-06-27 16:40] AlanGreene opened #289 "Update Breadcrumbs component to remove hardcoded labels for base paths"
The Breadcrumbs UI component currently has a hardcoded map of URL path segments to display labels https://github.com/tektoncd/dashboard/blob/74f79c7d8b28c54b21ab7eb8ddb0fc9d136baaa1/src/components/Breadcrumbs/Breadcrumbs.js#L48-L56

This should be refactored so that either the map is no longer required or so it can be obtained from some central route config to avoid the need for Breadcrumbs to be

[2019-06-27 17:04] AlanGreene opened #290 "Update front end to consume kube APIs where appropriate"
The front end code currently uses the REST APIs provided by the back end.
Now that https://github.com/tektoncd/dashboard/pull/268 has been merged we should begin migrating the front end APIs to use the APIs provided by the kube API server where possible / appropriate.

- [x] cancelPipelineRun
- [ ] createCredential
- [ ] createPipelineRun
- [ ] deleteCredential
- [x] getClusterTask
- [x] getCluste

[2019-06-28 10:00] CarolynMabbott opened #292 "Minishift install deploy yaml doesn't have Pipeline0"
Minishift install instructions point to config/templates/deploy.yaml but this doesn't include Pipeline0 in the yaml. This then means import tekton resources from repository doesnt work.

I noticed when i installed tekton on minishift and it didnt get pipeline0 it gave me this error when I tried to Import and Apply
`:9097/v1/namespaces/tekton-pipelines/pipelineruns/:1 Failed to load resource: the s

[2019-06-28 12:26] a-roberts commented on #229
Now merged https://github.com/tektoncd/dashboard/pull/293 - closing 😄

[2019-06-28 12:26] #229 closed

[2019-07-01 09:51] mnuttall commented on #232
Hi @alhazred thank you for raising this. The dashboard currently shows logs for as long as the associated PipelineRun and TaskRun objects exist. Deleting those objects deletes the logs. If tektoncd/pipeline#107 leads to a general persistence mechanism then we'll have to decide whether or not dashboard should use it.

[2019-07-01 12:12] #262 closed

[2019-07-01 12:13] #91 closed

[2019-07-01 12:17] a-roberts opened #298 "Dashboard provided ClusterRole has insufficient permissions for webhook extension"
# Expected Behavior
I should be able to exercise all functionality from the webhooks extension via the dashboard's service account.

# Actual Behavior
I can't: we have errors retrieving namespaces for example and we can't create the ConfigMap for webhooks.

# Steps to Reproduce the Problem

1. Deploy the latest dashboard and extension code
2. Try to create a webhook, selecting a namespace
3. Obser

[2019-07-01 12:28] a-roberts commented on #298
I'll add the ConfigMap and secret create permission, then need to refresh the release as well as it'll be defined there.

The ConfigMap is attempted to be made when we select an amespace, which triggers a get all webhooks in namespace call...

[2019-07-01 13:03] a-roberts commented on #298
I have a fix for this and I've verified I see no errors and all is well. PR coming up.

[2019-07-01 13:10] CarolynMabbott commented on #292
/assign

[2019-07-01 13:10] CarolynMabbott commented on #292
/status in-progress

[2019-07-01 14:38] AlanGreene opened #300 "Incorrect content-type response header on API calls via proxy"
# Expected Behavior
API calls made via the dashboard proxy should include the correct response headers, in particular the Content Type, as this is required by the front end code to correctly parse responses.

e.g.
API calls to the kube APIs that return JSON should set `content-type: application/json` response header.

API calls to kube APIs that return plain text should set the value to `text/plai

[2019-07-02 15:03] poloHex opened #303 "Error loading pipelines"
HI guys,

after installed the dashboard followed the guide. when i entered the dashboard i find it can't load any pipelines.
 there's an error: Error loading pipelines Unexpected token < in JSON at position 0

and i can only find the "default" namespace in the "Namespace" list. other namespace lost.

[2019-07-03 09:56] steveodonovan commented on #303
Hi @poloHex, I tried to reproduce this but can't. Could I ask what kubernetes version are you running on ? Also Is this a completely fresh install or did you have the dashboard running in the cluster previously ? And lastly are you accessing the dashboard through kube proxy, port forward or another means ?

After a recent change the dashboard is now expected to run in the tekton-pipelines namespac

[2019-07-03 10:01] CarolynMabbott opened #305 "ClusterTasks Error box is different coloured"
If you get the error box on the ClusterTasks tab the error box is black and red instead of red and a lighter red on other tabs

[2019-07-03 12:02] AlanGreene commented on #305
@CarolynMabbott good catch. The `InlineNotification` component used on that page is missing the `lowContrast` prop if you'd like to open a PR to add it.

[2019-07-03 12:29] mnuttall commented on #228
https://github.com/openshift/tektoncd-pipeline-operator/pull/46#issuecomment-504021247 states,

And indirectly references https://github.com/tektoncd/community/issues/26, the proposal to create an 'upstream' Tekton operator in the Tekton org. @akihikokuroda we should talk about what if anything we can do in the meantime.

[2019-07-03 12:50] dibbles opened #306 "Bad helper text on Import Tekton resources panel"
# Expected Behavior

Help text on the "Namespace" field along the lines of "The namespace in which the the resources will be created"

# Actual Behavior

Text currently reads: "The namespace that the pipelinerun applying resources will run under"

# Steps to Reproduce the Problem

1. Click on Import Tekton resources

# Additional Info

[2019-07-03 14:36] a-roberts commented on #298
Merged, so closing

[2019-07-03 14:36] #298 closed

[2019-07-03 15:35] a-roberts commented on #292
Merged so closing

[2019-07-03 15:35] #292 closed

[2019-07-03 15:37] CarolynMabbott commented on #305
/assign

[2019-07-03 18:57] vtereso commented on #168
This is now exported as [ExtensionEndpointDelimiter](https://github.com/tektoncd/dashboard/blob/e98a147f0e465baf488e9c9a86ed7c956256ac1e/pkg/router/router.go#L46).

[2019-07-03 18:57] #168 closed

[2019-07-03 18:58] vtereso commented on #215
Merged.

[2019-07-03 20:09] ncskier commented on #108
PR https://github.com/tektoncd/dashboard/pull/295 completes this issue
/close

[2019-07-03 20:09] #108 closed

[2019-07-04 00:03] AlanGreene commented on #300
Resolved by https://github.com/tektoncd/dashboard/pull/302

[2019-07-04 00:03] #300 closed

[2019-07-04 09:25] jessm12 commented on #212
/close
@akihikokuroda has been working on this for the operator, I don't think there's anymore work left for me to do here so closing

[2019-07-04 09:25] #212 closed

[2019-07-04 14:51] poloHex commented on #303
the k8s version is 1.12, never installed before, i create an route for the service and access it via
the route.

[2019-07-04 15:02] poloHex commented on #303
error output:
WebSocket connection to 'ws://teykton-dashboard.cdbf250cf1f9044c3bbd734c9bf43fc5b.cn-shanghai.alicontainer.com/?spm=5176.2020520152.0.0.16bc16ddtvZyFl/v1/websockets/resources' failed: Error during WebSocket handshake: Unexpected response code: 200

Unchecked runtime.lastError: The message port closed before a response was received.

[2019-07-04 15:12] poloHex commented on #303
now i can confirm that it works with kubectl proxy but didn;t work with the route.

but for history tasks, seems it can't get the history, it showed "Unable to fetch log"

[2019-07-08 09:03] jessm12 commented on #277
/assign

[2019-07-08 09:45] jessm12 commented on #277
https://github.com/tektoncd/dashboard/pull/317

[2019-07-08 09:56] #305 closed

[2019-07-08 10:45] steveodonovan opened #318 "Surface Cluster Task Events"
# Expected Behavior

Dashboard should display real time updates for cluster tasks

# Actual Behavior

it doesn't given cluster task events are not sent over the /resources websocket

# Additional Info

[2019-07-08 10:45] steveodonovan commented on #318
/assign

[2019-07-08 11:38] #318 closed

[2019-07-08 14:36] AlanGreene opened #320 "Update front end credentials APIs to consume kube APIs"
Continuation of https://github.com/tektoncd/dashboard/issues/290

The front end code currently uses the REST APIs provided by the back end.
Now that #268 has been merged we should begin migrating the front end APIs to use the APIs provided by the kube API server where possible / appropriate.

This issue is to track the following APIs:
- [ ] createCredential
- [ ] deleteCredential
- [ ] getCredenti

[2019-07-08 14:41] AlanGreene opened #321 "Update front end create pipeline run API to consume kube API"
Continuation of https://github.com/tektoncd/dashboard/issues/290

The front end code currently uses the REST APIs provided by the back end.
Now that #268 has been merged we should begin migrating the front end APIs to use the APIs provided by the kube API server where possible / appropriate.

This issue is to track the following APIs:
- [ ] createPipelineRun

Also:
- [ ] delete any unused backend

[2019-07-08 14:45] AlanGreene commented on #290
Issues open for remaining APIs:
- credentials: #320
- createPipelineRun: #321

[2019-07-08 14:45] #290 closed

[2019-07-09 08:50] jessm12 commented on #277
/close

[2019-07-09 08:50] #277 closed

[2019-07-09 10:02] CarolynMabbott opened #322 "Pipelines Status of the pipelinerun does not auto refresh if there is multiple running"
Noticed whilst running multiple PipelineRuns of the same pipeline on Minishift.

In the Pipelines tab after creating multiple PipelineRuns via the "Create PipelineRun" button the Status of the PipelineRuns does not auto refresh / update. It stays stuck on
`Not all Tasks in the Pipeline have finished executing`

Even once the PipelineRuns have finished executing which is shown if you go the Pipelin

[2019-07-09 10:03] #53 closed

[2019-07-09 10:06] jessm12 opened #323 "Ability to add filtering labels when manually creating PipelineRuns"
In order to achieve https://github.com/tektoncd/dashboard/issues/223 filtering of `PipelineRuns`, we need for the dashboard UI to allow users to add labels to their manual PipelineRuns.

We could suggest some pre-canned ones that they would be likely to want such as repository or branch but otherwise we should leave it open to them to apply whichever labels they wish to filter by.

Under this issu

[2019-07-09 10:21] CarolynMabbott opened #324 "Error Messages should be consistent"
The error messages should be consistent throughout the dashboard. Some tabs when failing to get the resources have the text `Failed to Fetch` and some have `"Failed to fetch"`
Also some have the name correctly like `Error loading PipelineResources` and some have name inncorrectly like `Error loading cluster tasks`

ClusterTasks has a X on the error to close it but the others dont, if the close but

[2019-07-09 10:29] CarolynMabbott opened #325 "If a Pipeline is deleted, a PipelineRun containing the removed Pipeline gives a blank screen"
When a Pipeline is deleted the PipelineRun containing the Pipeline remains. When this is clicked, this gives a blank white page with no errors or text.
Even after going back via the browser back button the page is still a blank white page

Would be good to have an error message or something similar on the page instead of it being blank.

Error from the console after clicking on a PipelineRun conta

[2019-07-09 10:29] jessm12 opened #326 "Filter by label on the PipelineRuns panel"
In order to achieve https://github.com/tektoncd/dashboard/issues/223 filtering of `PipelineRuns` we must allow label filters to be selected on the `PipelineRuns` table view.

Relies on https://github.com/tektoncd/dashboard/issues/323 for `PipelineRuns` that are manually created through the dashboard UI and https://github.com/tektoncd/experimental/issues/140 for experimental extension triggered `Pi

[2019-07-09 11:24] castlemilk opened #327 "Show latest logs and/or follow feature"
In the Pipeline/Task log view a large number of logs can be produced, which can become unwieldy as a user scrolls.

Would be nice from a UX perspective to either have a fixed height & scrollable window for logs that can be set to follow mode (showing latest logs as they are recieved), or a tick-box to show latest logs first.

Additionally, it might be worth investigating an optimised mechanism for

[2019-07-09 12:32] mnuttall opened #328 "Missing permissions for Secrets"
The secret management panel, appearing soon, shows up the need for some extra permissions when running outside of a permissive environment such as Docker Desktop.

- Creating secrets fails due to the lack of ability to 'patch' servicaccounts
- Deleting secrets fails due to the lack of ability to 'delete' secrets

These roles appear in two files; gcr-tekton-dashboard.yaml and dev-tekton-dashboard.y

[2019-07-09 15:44] AlanGreene commented on #323
If labels are only applied to pipeline runs manually created via the dashboard, how would we provide filtering for runs triggered via webhooks or other mechanisms?

[2019-07-09 15:59] jessm12 commented on #323
https://github.com/tektoncd/experimental/issues/140 is open to address the extension/webhooks case, this issue is purely around the work that is required for the manual creation panel and comes under wider issues (https://github.com/tektoncd/experimental/issues/37, https://github.com/tektoncd/dashboard/issues/223)

[2019-07-09 16:37] mi-wang commented on #35
Wireframes that I showed in today's meeting:
https://ibm.invisionapp.com/share/3GNZ28C986U

[2019-07-09 16:48] AlanGreene commented on #200
/assign

[2019-07-09 17:02] AlanGreene commented on #323
Bear in mind pipeline runs can be triggered via other mechanisms too, not just via the dashboard (inc. extension). It might be worth beginning a discussion with the broader community in slack as I'd imagine this may be of interest for the CLI and potentially others. One option might be to have the labels added similar to how the existing `tekton.dev/*` labels are added to various resources (e.g. `

[2019-07-09 17:27] AlanGreene commented on #206
/assign

[2019-07-09 17:29] AlanGreene commented on #206
Once https://github.com/tektoncd/pipeline/issues/1027 is resolved we can remove the hardcoded prefix and read the container name from the container status.

Until then, change the prefix to reflect the value used in the Tekton 0.5 release.

[2019-07-10 08:34] jessm12 commented on #323
That's true! It would definitely be good to start a discussion like you say to get other ideas on the topic.  Perhaps we could bring it up at a working group meeting to start some discussion also.

[2019-07-10 10:15] steveodonovan opened #331 "Tie Resources and Parameters into step views"
# Expected Behavior

TaskRun views should have navigation for parameters and resources attached to the taskRun

# Actual Behavior

They don't

-----

Still unsure of design. New tabs in the run views for now

[2019-07-10 10:15] steveodonovan commented on #331
/assign

[2019-07-10 12:51] a-roberts opened #334 "Dashboard integration tests are disabled (can't find hello world deployment, PV problem)"
# Expected Behavior
Integration tests should pass

# Actual Behavior
Nope, see

[code]

# Steps to Reproduce the Problem

1. Create a non-breaking PR and expect the tests to pass!

# Additional Info
I'll work on this...

[2019-07-10 14:27] a-roberts commented on #334
https://prow.tekton.dev/log?job=pull-tekton-dashboard-integration-tests&id=1148957804720033794 with instrumentation

[code]

I was really hoping to see a create pipelinerun call - we've delivered backend code changes so I'm gonna check our code next. Was hoping this to be a simple PV/disk space problem with our project on gcr 😅

[2019-07-10 14:51] a-roberts commented on #334
[code]

We never progress past this, so actually it may be a space/PV problem after all, which was my initial hunch...

@bobcatfish @vdemeester I think we have three avenues to investigate
1) temporarily disable these tests
2) check that we're not leaving any resources lingering and thus consuming disk space indefinitely for each run
3) check we have sufficient disk space

I'm inclined to go with

[2019-07-10 15:24] a-roberts commented on #334
I've disabled these tests for now but we should pick this issue up and resolve it at the infra layer next unless the problem is 2)

Gonna unassign myself and set it back to the backlog while I work my other issues in the meantime, 🤞 it's just a case of increasing the quota

[2019-07-11 11:48] gcharters opened #339 ""Import Tekton resources" requires `.` for directory"
# Expected Behavior

Should be able to leave it blank.  The description says, "Repository directory (optional)".  When I'm importing from a github repo and the yaml files are in the root I should be able to leave this field blank.

As an aside, I also found the description a little confusing.
"The path from which resources will be applied at the specified repository" could just say something like.

[2019-07-11 11:50] AlanGreene commented on #324
/assign

[2019-07-11 12:05] AlanGreene commented on #324
@CarolynMabbott I can't seem to find / reproduce any errors with the `failed to fetch` messages, they are not provided by the front end code. Can you provide an example of where these can be seen?

[2019-07-11 12:07] AlanGreene commented on #325
/assign

[2019-07-11 12:09] #200 closed

[2019-07-11 12:09] #206 closed

[2019-07-11 13:35] CarolynMabbott commented on #324
Easiest way to bring up the errors is to port forward the dashboard, go to localhost:9097, then stop portforwarding the pod. Then click on the different tabs
The code may be located in the code around the `src/containers/ClusterTasks/ClusterTasks.js` location

[2019-07-11 13:38] AlanGreene commented on #324
@CarolynMabbott I have done that, and see the following (with my changes from the PR linked above)
![image](https://user-images.githubusercontent.com/2829095/61055414-56c57780-a3e9-11e9-8b47-ada575bfc0fc.png)

However I cannot find any scenario for any of the views that yields a `failed to fetch` error message. That string does not appear anywhere in the dashboard code, and I cannot find it anywhe

[2019-07-11 13:45] CarolynMabbott commented on #324
I haven't come across that error that you got about the GatewayTimeout. Is that a PR that got added in very recently? If so, that may be why I get the error and you dont

![Screenshot 2019-07-11 at 14 40 32](https://user-images.githubusercontent.com/32342288/61055930-68f3e580-a3ea-11e9-9ad1-fb3c6204078f.png)

![Screenshot 2019-07-11 at 14 44 17](https://user-images.githubusercontent.com/32342288/6

[2019-07-11 13:55] AlanGreene commented on #325
Unable to reproduce this

I deleted a Pipeline that has a number of PipelineRuns (pipeline0)
![image](https://user-images.githubusercontent.com/2829095/61056572-7e1d4400-a3eb-11e9-802d-02694ab7bd18.png)

When I select one of the PipelineRuns from the list it renders and I can see all of the details as expected:
![image](https://user-images.githubusercontent.com/2829095/61056661-ab69f200-a3eb-11e9-

[2019-07-11 14:01] AlanGreene commented on #324
The `Gateway Timeout` message is coming from the browser (response status text on the failed request), I suspect your `Failed to fetch` is too so there's not really anything we can do about that if the casing is inconsistent in different scenarios.

I do see that some of the error messages are surrounded in quotes though, I'll address that.

[2019-07-11 14:15] CarolynMabbott commented on #324
I have a feeling that it may be somewhere in the code because the error message i get for PipelineResource is correctly formatted as it says `PipelineResources' whereas the others are not formatted correctly like the PipelineRuns error message

![Screenshot 2019-07-11 at 15 10 49](https://user-images.githubusercontent.com/32342288/61057971-44017180-a3ee-11e9-9112-b6ccf23b558c.png)

[2019-07-11 14:16] a-roberts commented on #222
Merged, closing

[2019-07-11 14:16] #222 closed

[2019-07-11 14:21] AlanGreene commented on #322
Can you provide the pipeline yaml used to reproduce this? I've tried with a number of pipelines in my dev environment, including pipeline0, and cannot reproduce this.

The status is updated as expected both on the PipelineRuns page and on the Pipelines page filtered to show the runs for the selected Pipeline.

Do you mean that clicking on the nav to view the PipelineRuns page shows them as complet

[2019-07-11 14:24] AlanGreene commented on #324
I think we may be talking about 2 different things here.

- For the casing of `pipeline runs` vs `PipelineResources`, I have a PR open above addressing that
- You mentioned in the description that some message have `Failed to fetch` while others have `Failed to Fetch`. This is not something we control as that text is coming from the browser.

There's also the issue of inconsistent use of quotes ar

[2019-07-11 14:40] CarolynMabbott commented on #324
I maybe did try to address too many different issues in one issue, I thought they were all possibly very closely related in the same few files

[2019-07-11 15:02] CarolynMabbott commented on #325
@AlanGreene I have just redone the steps I did the other day to get the error and it appears to have been fixed since then

[2019-07-11 15:02] #325 closed

[2019-07-11 18:48] AlanGreene commented on #303
A version of tektoncd/pipeline shortly after the 0.4 release introduced a backwards incompatible change to the container names that affected the dashboard's ability to load logs: https://github.com/tektoncd/pipeline/pull/818
This change is now released in 0.5, and yesterday we updated the dashboard to reflect this.

[2019-07-11 21:33] vtereso opened #344 "[Proposal] Remove Dashboard Extensions"
**NOTE** The following proposal discusses potentially removing our past work. This can be a sensitive subject, so please read through the entire proposal before forming an opinion

For background, it was mentioned in a previous meeting that extensions might be the wrong vehicle to accomplish the "additional" functionality we have been looking to "inject" into the dashboard (specifically GitHub web

[2019-07-12 11:52] #331 closed

[2019-07-12 11:52] #324 closed

[2019-07-12 13:07] AlanGreene commented on #215
@dibbles @vtereso can this be closed or is there more work remaining? Are we planning any updates to notify the front end of changes to extensions?

[2019-07-12 13:17] AlanGreene commented on #327
Thanks for the feedback and suggestions @castlemilk, they're much appreciated.

We're currently working on some significant design updates for the details view (which includes the logs) and will keep these in mind.

[2019-07-12 17:39] AlanGreene opened #347 "Improve performance of log rendering"
# Expected Behavior
UI should remain responsive even when loading large logs.

# Actual Behavior
With larger logs (over a few thousand lines), the UI begins to
struggle processing the content for display and becomes quite sluggish.
In extreme cases it can cause the browser tab to become completely
unresponsive for long periods.

# Steps to Reproduce the Problem

1. view the logs for a PipelineRun

[2019-07-15 08:24] mnuttall commented on #344
This proposal is blocked behind https://github.com/tektoncd/experimental/issues/40.

[2019-07-15 10:29] Megan-Wright commented on #339
/assign

[2019-07-15 10:32] Megan-Wright commented on #339
<img width="1379" alt="Screenshot 2019-07-15 at 10 35 23" src="https://user-images.githubusercontent.com/52741262/61210302-fb023380-a6f3-11e9-811a-7d423b61f5a9.png">

We observed that a pipeline run was kicked off but the above was reported in its logs. The fix will be to update pipeline-0 to apply resources from "."
PR here: https://github.com/tektoncd/dashboard/pull/349 (pending CLA)

[2019-07-15 10:54] a-roberts commented on #235
@CarolynMabbott suggests we can close this now as we've merged https://github.com/tektoncd/dashboard/pull/338 and I agree, let us know if it's still unclear and we'll reopen - thanks all 🎈

[2019-07-15 10:54] #235 closed

[2019-07-15 11:03] steveodonovan opened #350 "Investigate Using watcher api through proxy for streaming logs"
Kube api server supports http streaming. This ticket is to prototype using this through the api proxy for logs and possible other events.

[2019-07-15 11:03] steveodonovan commented on #350
/assign

[2019-07-15 13:12] CarolynMabbott commented on #22
/assign

[2019-07-15 14:42] vtereso commented on #215
I don't have close permissions, but I believe it should be fine to do so. @dibbles is out until Wednesday IIRC

[2019-07-15 14:46] a-roberts commented on #334
Once the Tekton pipelines 0.5.1 release is available we should enable said tests again, I think this is related to/caused by what's mentioned [here](https://github.com/tektoncd/pipeline/issues/1068)

[2019-07-15 14:56] AlanGreene commented on #215
We can always reopen / create a new one if needed 👍

[2019-07-15 14:56] #215 closed

[2019-07-15 19:00] mi-wang commented on #35
latest Invision link-> https://ibm.invisionapp.com/d/main#/console/15348721/319165802/preview
to see the updated troubleshooting click on Tekton logo twice, it will bring you to this screen:
![1](https://user-images.githubusercontent.com/51759906/61241278-39f2b200-a711-11e9-9044-43e75898e8ac.png)

to take you back to old version click the header

[2019-07-16 08:50] jessm12 commented on #328
/assign

[2019-07-16 09:08] a-roberts commented on #334
I've enabled the tests again and now unit tests fail - I don't see us even entering the e2e tests. See https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_dashboard/352/pull-tekton-dashboard-unit-tests/1151049336096821249/build-log.txt which mentions:

[code]

My branch is master with the tests enabled (see https://github.com/tektoncd/dashboard/pull/352/files). We may have a flaky tes

[2019-07-16 09:26] a-roberts opened #353 "TestExtensionRegistration occasionally times out"
# Expected Behavior
This test suite should reliably pass

# Actual Behavior
It doesn't, see https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_dashboard/352/pull-tekton-dashboard-unit-tests/1151049336096821249/build-log.txt - I then did a /retest for an unrelated PR and it passed

Happened again for https://github.com/tektoncd/dashboard/pull/351 - so there's a problem cleanly getting

[2019-07-16 09:26] a-roberts commented on #334
^^ passed with a /retest, so I'm gonna raise an issue for

[code]

and we're safe to enable the integration tests again. Problem was indeed caused by the problem in Tekton pipelines 0.5.0 - thanks to Christie for the 0.5.1 release so fast 😄.

https://github.com/tektoncd/dashboard/issues/353 I raised this to track the flaky extension registration test.

[2019-07-16 12:06] a-roberts commented on #334
Enabled once again, closing

[2019-07-16 12:06] #334 closed

[2019-07-16 16:57] aunderw commented on #223
Here is a PDF of the search/filter flow:

[search-scenario-github.pdf](https://github.com/tektoncd/dashboard/files/3398203/search-scenario-github.pdf)

[2019-07-16 16:58] aunderw commented on #326
Here is a PDF of the search/filter flow:

[search-scenario-github.pdf](https://github.com/tektoncd/dashboard/files/3398221/search-scenario-github.pdf)

[2019-07-17 09:44] jessm12 commented on #328
PR here https://github.com/tektoncd/dashboard/pull/355, tested with POST and DELETE calls and works 🙂

[2019-07-17 11:41] AlanGreene opened #356 "Sort run list views by start time"
# Expected Behavior
Runs should be displayed with the most recently created at the top for a consistent and helpful user experience.

# Actual Behavior
Runs are displayed in an inconsistent order depending on how they're returned from the API.

# Additional Info
tektoncd/cli recently implemented sorting in the PipelineRun and TaskRun list commands.

Sorting by start time (instead of update time) i

[2019-07-17 12:10] jessm12 commented on #326
Maybe https://material-ui.com/components/chips/ could be an option to use here 🙂

[2019-07-17 12:23] Megan-Wright commented on #353
/assign

[2019-07-17 12:26] jessm12 commented on #353
/assign

[2019-07-17 12:26] jessm12 commented on #326
/assign

[2019-07-17 12:45] jessm12 commented on #223
UI issue https://github.com/tektoncd/dashboard/issues/326 in progress

[2019-07-17 13:12] AlanGreene commented on #326
@jessm12 Carbon provides http://react.carbondesignsystem.com/?path=/story/tag--filter but it looks like there's an issue with the storybook at the moment. I've posted in #carbon-react to let them know.

[2019-07-17 13:30] jessm12 commented on #326
@AlanGreene I was looking for filtering in carbon but couldn't find it anywhere as the storybook is broken and it's not listed there properly like you say, thanks for raising that 😅is this the right filtering that you're referring to? https://www.carbondesignsystem.com/patterns/filtering/#selecting-filters

[2019-07-17 13:37] AlanGreene commented on #326
The UI samples provided in that pattern are more for predefined filters where a user simply selects from a list. Our approach requires additional input so I wouldn't worry too much about the UI presentation in that particular pattern, although some of the other recommendations are still valid (e.g. ability to reset / clear filters).

[2019-07-17 15:01] aunderw commented on #326
This is the same scenario I posted yesterday except that it includes example results as well as a more explicit example of how filters could be passed by the URL.

[tekton-search-and-filter-results.pdf](https://github.com/tektoncd/dashboard/files/3402275/tekton-search-and-filter-results.pdf)

[2019-07-17 15:52] jessm12 commented on #326
Thank you for those @aunderw 😄

[2019-07-18 08:39] jessm12 commented on #328
/close
Merged into master 🚀

[2019-07-18 08:39] #328 closed

[2019-07-18 11:56] #356 closed

[2019-07-18 11:58] #347 closed

[2019-07-18 16:10] mnuttall opened #363 "Create a first Dashboard release with tagged docker images"
We'd like to have a release of dashboard to accompany the next Tekton release. Work with @dlorenc to understand what's needed so that we have a stable, released image in gcr.io that we can address in the same way as the pipeline release does, e.g. `gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/webhook@sha256:496e36b8723a668ac3531acc26512c123342da7827c10386b571aa975d6a47e7`

Document what

[2019-07-18 21:06] dacleyra opened #364 "Dashboard 403 on tekton-dashboard deployed to own namespace on OKD 3.11"
# Expected Behavior

Dashboard is accessible after deployment on OKD 3.11

# Actual Behavior

403

# Steps to Reproduce the Problem

1. OKD 3.11 cluster
2. Install to my own namespace
[code]
3. Create a route to access dashboard
[code]
4. Accessing dashboard via Route (or port-forward) results in 403 back from tekton-dashboard itself

# Additional Info

Fix by adding to ClusterRole
[code]

[2019-07-22 08:03] dibbles opened #366 "service account panelling in the UI"
Further to the management of secrets, we should look at managing service accounts, specifically as we will be wanting to patch the service accounts with the secrets and potentially (I guess) remove (unpatch) secrets from the service accounts.

Presumably we should also allow for the creation and deletion of service accounts.

[2019-07-22 08:05] dibbles commented on #366
@kimholmes - for awareness @mnuttall thought this would indeed be useful.  I don't appear to have sufficient privileges to add labels

[2019-07-22 12:41] #128 closed

[2019-07-22 12:47] AlanGreene commented on #303
@poloHex did the update above resolve your issue loading logs?

[2019-07-22 15:28] mii-w opened #368 "Dashboard framework"
How can we keep the entire dashboard maintain a cohesive look and feel throughout entire experience?
_________________________________________________________________________________________________
How will the page be organized based on information shown? Is it categorized under global or within the page?
- filter bar
- create/import button

Currently there are 'Create' and 'Import' for differen

[2019-07-22 15:29] mi-wang commented on #368
I am unable to add assignees/labels :(

[2019-07-23 08:13] dibbles opened #370 "HTTPS support - via Ingress"
Given that extensions and the dashboard do/could deal with confidential data (i.e secrets), then we should be communicating over https rather than http.

[2019-07-23 11:55] steveodonovan opened #371 "Add custom resource extensions"
### Resource type extensions

Extensions shouldn't need to be pieces of UI in other services. One use case would be to have a rendering of a custom resource in the cluster. To do this extensions should be defined as their own resources. These resources will be read on start up and tell the dashboard the have a rendering for these under extensions. They will be exposed under the get extensions endp

[2019-07-23 11:56] steveodonovan commented on #371
/assign

[2019-07-23 15:41] a-roberts commented on #353
https://github.com/tektoncd/dashboard/pull/367 is now merged, closing

[2019-07-23 15:41] #353 closed

[2019-07-23 15:42] a-roberts commented on #339
Fixed by https://github.com/tektoncd/dashboard/pull/349 which is now merged, closing

[2019-07-23 15:42] #339 closed

[2019-07-23 15:44] a-roberts commented on #363
@dlorenc @vdemeester @bobcatfish this is something we'd love to be able to do, what should we do/try for our first dummy release please?

We'll need a fixed image that we can reference in our GitHub release, which we know how to do - do we literally just docker build and push with, say, a 1.0 tag on gcr through the Prow SA?

How is this done for tektoncd/pipeline so we can follow along, are there

[2019-07-23 16:49] mi-wang commented on #366
working on it!

[2019-07-23 16:49] kimholmes commented on #366
Related:
https://github.com/tektoncd/experimental/issues/53
https://github.com/tektoncd/experimental/issues/38

[2019-07-24 09:08] a-roberts opened #372 "Use InlineNotification for rebuild notification"
# Expected Behavior
The rebuild notification can now be an inline one with an onClick event for the action that links to the new PipelineRun - this is desirable as it'll be full div width as opposed to just a toast that appears at the top of the page covering only a fifth of it

The subtitle will say the existing text

Have a play at http://react.carbondesignsystem.com/?path=/story/notifications--

[2019-07-24 10:04] a-roberts opened #373 "Ingress endpoint needs an error check (else panics)"
# Expected Behavior
We're getting a go panic if there's no ingress endpoint, so add a check to see if it's nil

# Actual Behavior
[code]

# Steps to Reproduce the Problem

1. Try to access v1/namespaces/tekton-pipelines/ingress without an ingress
2. Observe the crash

# Additional info
https://github.com/tektoncd/dashboard/blob/master/pkg/endpoints/cluster.go#L58 fix to go here

[2019-07-24 15:40] a-roberts opened #374 "Document OpenShift install instructions (dashboard)"
# Expected Behavior
We should document that we work a treat on OpenShift 3.11.

# Actual Behavior
We don't mention it - only Minishift.

# Steps to Reproduce the Problem

1. Check through our readme - realise OpenShift steps are missing, but actually all is well

# Additional Info
I've done the testing on OpenShift 3.11, as has @dacleyra, and @CarolynMabbott has tested us on Minishift, including w

[2019-07-24 15:46] a-roberts commented on #370
Some ideas, notes and questions for how to implement this...

Users provide a certificate/keypair that we mount in and listenAndServeTLS on from our main Go restful server.

Could we provide scripting to make this easier?
Would letsencrypt be of use?
How do other dashboard-like services use it?
What yaml changes would be required to have it mounted in?
Users are required to manage the cert for the

[2019-07-24 15:49] a-roberts commented on #240
I've tested this on OpenShift and all is well with roles I've added for the extension and that we've modified for the dashboard, gonna close this off, cheers all

[2019-07-24 15:49] #240 closed

[2019-07-24 15:57] a-roberts commented on #228
So it's all in one place and on GitHub, @akihikokuroda:

https://github.com/openshift/tektoncd-pipeline-operator/pull/24 do we need to rebase or close this OR should we start work with https://github.com/tektoncd/operator (this is surely the upstream Tekton operator right)?

I'm chasing it up because I believe with the "kabanero" project, a lot of installs are expected to be operator based includi

[2019-07-24 16:52] akihikokuroda commented on #228
I've been waiting for https://github.com/openshift/tektoncd-pipeline-operator/pull/23 merged.  (https://github.com/openshift/tektoncd-pipeline-operator/pull/23#issuecomment-512185635)  The https://github.com/tektoncd/operator repo is still empty and there is a pull request that copies in the contents.  Once the code is copied and my pull request is merged, I will update the my pull requests for th

[2019-07-25 08:46] a-roberts commented on #374
This shouldn't require much work so I'm going to set up a new stack today and install the dashboard and extension, updating the readme, the script from Carolyn and likely fixing https://github.com/tektoncd/dashboard/issues/364 (with the code Dan's kindly provided) along the way

[2019-07-25 10:02] a-roberts opened #375 "Add get ingress permission to ClusterRole"
# Expected Behavior
We should be able to get ingress endpoints on potentially locked down clusters e.g. on OpenShift

# Actual Behavior
https://github.com/tektoncd/dashboard/blob/master/config/release/gcr-tekton-dashboard.yaml doesn't mention the ability to get Ingress

# Steps to Reproduce the Problem

1. Try to get Ingress on OpenShift 3.11, see

[code]

Note that in this case, the user is curli

[2019-07-25 10:40] a-roberts commented on #363
Here's some juicy info from @vdemeester, who's mentioned we may need to fiddle with permissions and the like too. This is a good place to start:
https://github.com/tektoncd/pipeline/tree/master/tekton
https://github.com/tektoncd/pipeline/pull/1095

[2019-07-25 11:33] AlanGreene opened #376 "Use container name from step status if available"
https://github.com/tektoncd/pipeline/issues/1027 add the container name to the step status.

We should use this value when present for retrieving logs instead of constructing the container name from the step name and hardcoded prefix. This will ensure we remain compatible if the container name structure is changed in future.

[2019-07-25 12:02] a-roberts commented on #364
@dacleyra I had a look at this, installed the latest dashboard and ran these commands

[code]

Create and chmod `expose.sh` with the following in:

[code]

Access at http://tekton-dashboard.myhostname.foo.com/#/pipelines - no problems, no RBAC issues reported in logs

Here's my scc:

[code]

How about yours? I don't expect OKD to be more locked down than OpenShift so wondering if I need to add the

[2019-07-25 12:52] a-roberts opened #378 "Implement strategy for handling CVEs in dashboard code"
@dibbles and I have been considering our release strategy and came up with the following actions (some we can implement immediately as secure best practices). It'd be useful to get some feedback here and some of these tasks are directly actionable as well.

- Ensure PRs fail when npm audit fails (can action now)
- Ensure repository owners are emailed for CVEs: leverage GitHub email notifications t

[2019-07-25 13:31] AlanGreene commented on #378
I'd be reluctant to fail PR builds based on `npm audit` due to the number of false positives / reports that don't apply to specific use of flagged packages.

For notifications are you referring to GitHub Security Alerts? https://help.github.com/en/articles/about-security-alerts-for-vulnerable-dependencies

[2019-07-25 13:46] Megan-Wright opened #379 "Implement consistency across UI tables"
<h1>Expected Behaviour</h1>
All of the tables within dashboard should have a consistent look in terms of style, colours and position on the page.

<h1>Actual Behaviour</h1>

![Screenshot 2019-07-25 at 14.42.55.png](https://images.zenhubusercontent.com/5d25b016e0bbdc62005f7da6/1c19350a-0a1d-411f-8ff1-c448a6af223f)

VS:

![Screenshot 2019-07-25 at 14.43.22.png](https://images.zenhubusercontent.com/5

[2019-07-25 13:53] a-roberts commented on #378
Hmm, good point, yeah they'll be treated on a case by case really so I'm not sure about definitely failing the build...

Yep, GitHub security alerts - so we need to see what has to be done for us to get them 🤔

[2019-07-25 15:13] Megan-Wright commented on #379
/assign

[2019-07-25 15:25] a-roberts commented on #374
PR https://github.com/tektoncd/dashboard/pull/380

[2019-07-26 10:33] #376 closed

[2019-07-27 08:59] castlemilk opened #383 "FR: responsively rendered updates to pipeline status"
It would be nice if the status of `Task`/`PipelineRun` was more up-to-date when changes occur. I couldn't see any polling occurring to check if updates had occurred in the given tasks for a `PipelineRun`.

Potentially use something like `redux-sagas`, polling the required API's and reconcile pipeline/task updates in the UI. Alternatively a websocket based approach could be used to push updates to

[2019-07-29 10:12] AlanGreene commented on #383
@castlemilk the dashboard does use a websocket to receive updates to the status of the resources which should be reflected in the UI. This currently includes all Tekton resources, as well as secrets and namespaces.

You should see a ws connection to `/v1/websockets/resources`.

If you're not seeing these updates as expected can you provide more details about your environment?

- which platform? (G

[2019-07-29 10:53] a-roberts commented on #374
Merged so closing

[2019-07-29 10:53] #374 closed

[2019-07-29 11:00] AlanGreene commented on #322
@CarolynMabbott are you still seeing this issue?

[2019-07-29 11:30] CarolynMabbott commented on #322
Not seeing this issue anymore while running on latest dashboard and pipelines so closing the issue

[2019-07-29 11:30] #322 closed

[2019-07-29 11:33] castlemilk commented on #383
Hi @AlanGreene,

I'm enabling ingress into the dashboard via istio with the following vs:

[code]

I can see successful websocket connections via logs but cannot see updates occuring reliably when tasks transition from `Waiting` to `Running`. I'm having to refresh the browser to see updates.

This is what would be shown without manually updating:

![image](https://user-images.githubusercontent.com

[2019-07-29 11:40] CarolynMabbott opened #384 "Dashboard role is missing permission to create Knative services (RBAC)"
Came across this error whilst trying to create a service via a pipelinerun
It doesnt create the service and displays this message in the install-new step in deploy

[code]

[2019-07-29 12:01] CarolynMabbott opened #385 "Sometimes tasks page doesnt auto update with pass / failure"
This appears to be intermittent as sometimes it happens and sometimes it doesn't

Had a pipelinerun open on the tasks it was running
It didnt update to say it had passed the tasks it was running and didnt update to the next step of the pipelinerun to deploy-simple

Also didnt update when it completely failed

It appears to be stuck on podsinitialising / Status of Not Run

 ![Screenshot 2019-07-29

[2019-07-29 12:45] AlanGreene commented on #385
Looks similar to https://github.com/tektoncd/dashboard/issues/383

[2019-07-29 12:54] AlanGreene commented on #383
Looks like we may have an intermittent issue here, also reported in https://github.com/tektoncd/dashboard/issues/385

I haven't seen this myself, gathering more info

[2019-07-29 13:05] CarolynMabbott commented on #385
@AlanGreene
I'm using:
Running on Minikube
Latest dashboard / pipelines
Accessing via Chrome
Port forwarded the pod
Kubernetes Client v = "v1.11.1"
Kubernetes Server v ="v1.15.0"

[2019-07-29 16:06] a-roberts commented on #384
Yeah, definitely missing from the dashboard and extension role, I think it's perfectly valid for us to be able to create kservices through both the dashboard (using its SA) and the extension (using its SA)

[2019-07-29 16:44] akihikokuroda commented on #370
I assume that the user access to the dashboard via the ingress.  Is this about between the user and the ingress or the ingress to the dashboard?  The OpenShft ingress gets the default certificate signed by the OpenShift cluster by default.

https://docs.openshift.com/container-platform/4.1/authentication/certificates/replacing-default-ingress-certificate.html

[2019-07-29 16:47] akihikokuroda commented on #370
For the OpenSift, the ingress must be created by the Ingress Operator instead of the kubernetes' way.  https://docs.openshift.com/container-platform/4.1/networking/ingress-operator.html

[2019-07-29 16:49] akihikokuroda commented on #228
I have to update to use the Ingress operator instead of the kubernetes' way.  https://docs.openshift.com/container-platform/4.1/networking/ingress-operator.html

[2019-07-29 18:33] dlorenc commented on #363
Yep, prow *should* have all the permissions you need. If you run into issues there let me know.

[2019-07-30 10:06] a-roberts opened #387 "Add Ingress for dashboard"
# Expected Behavior
We could have an ingress rule that's named `tekton-dashboard`, offered up at our get Ingress API (specifically, `v1/namespaces/tekton-pipelines/ingress`).

Once https://github.com/tektoncd/dashboard/pull/386 is merged, users would be able to programatically find our Ingress endpoint from our API.

With the changes I'm proposing there'll be an Ingress endpoint even if:
a) the op

[2019-07-30 10:07] a-roberts commented on #387
I'll work on this and the patch command now

[2019-07-30 12:10] a-roberts opened #389 "TestExtensionRegistration is still flaky"
# Expected Behavior
Our tests should be reliable and pass conistently

# Actual Behavior
See https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_dashboard/388/pull-tekton-dashboard-unit-tests/1156162276311437312/, timed out again

[code]

# Steps to Reproduce the Problem

1. Run our unit tests, perhaps repeatedly

# Additional Info

[2019-07-30 12:29] mnuttall commented on #370
@akihikokuroda will we get this for free as part of the work you're doing to make he Dashboard installable as an addon via the Tekton Operator?

[2019-07-30 12:32] mnuttall commented on #370
If picking this up after #388 but before we have Ingress-via-Operator, follow the docs in Aki's link above to add OpenShift-HTTPS-Ingress support to the interim Ingress added under 388.

[2019-07-30 13:37] a-roberts commented on #387
Merged so closing 😄

[2019-07-30 13:37] #387 closed

[2019-07-30 15:16] a-roberts commented on #375
This is now merged, closing

[2019-07-30 15:16] #375 closed

[2019-07-30 15:17] a-roberts commented on #373
Now merged, closing

[2019-07-30 15:17] #373 closed

[2019-07-30 15:18] a-roberts commented on #269
@vtereso and @carlos-logro, is there anything we still need to do for this or can we close?

[2019-07-30 15:18] a-roberts commented on #364
Merged so closing, cheers @dacleyra for bringing this up and providing the yaml

[2019-07-30 15:18] #364 closed

[2019-07-30 15:49] a-roberts commented on #363
Thanks Dan, so I've forked the repo and had a play (see https://github.com/a-roberts/pipeline/tree/freshmaster/tekton); replacing mentions of `pipeline` with `dashboard`. It's not clear what to do next though - I'd be happy with just pushing to my own Dockerhub, e.g. through something running on GKE from a Prow job, and then eventually gcr.io/tekton-releases I think.

There are lots of todos unfor

[2019-07-30 15:58] vtereso commented on #269
It can be closed.

[2019-07-30 16:13] a-roberts commented on #363
^^ notes added above that should prove useful, I'm "all over" this one but out Thursday and have a half day Friday, and this is a really hot item so I'm cool with anybody else picking it up or wanting to buddy up.

[2019-07-30 16:52] mi-wang commented on #366
Invision link:
https://ibm.invisionapp.com/share/J7NZ50VTXBZ

[2019-07-30 17:19] ncskier commented on #47
This issue was covered/completed by issue https://github.com/tektoncd/dashboard/issues/108

[2019-07-30 17:19] #47 closed

[2019-07-30 18:10] carlos-logro commented on #67
/close

[2019-07-30 18:10] #67 closed

[2019-07-31 10:06] AlanGreene commented on #269
I don't see any handling for secret-related websocket events in the front end, this would still need to be added. Is there another issue tracking this?

[2019-07-31 13:34] vtereso commented on #269
Ah, I was reading this very literally "websocket should be fed", which sounded like backend, but fair point. I am not sure about that side @AlanGreene

[2019-07-31 21:00] mii-w commented on #35
Lastest Invision Link:
https://ibm.invisionapp.com/share/X4NZ57VC5FR

[2019-08-01 09:46] CarolynMabbott opened #394 "Wrong label text displayed on docker secret username input"
When creating a secret on the secrets page there is the option for Docker Registry secret
The field Email should not be called Email, it should be called Username as if you enter a email address then this causes the docker push stage to fail as it requires a username to log in

[2019-08-01 12:13] mnuttall opened #395 "HTTPS support: to the REST endpoint"
Further to https://github.com/tektoncd/dashboard/issues/370 we'd like to be able to offer an HTTPS connection all the way to the REST API in the dashboard.

We need to be able to use cluster-signed certificates eventually. Start off under this task by demonstrating the creation and use of a self-signed certificate for HTTPS.

We also need to understand the interaction between an Ingress secured un

[2019-08-01 12:30] mnuttall opened #396 "Authentication: OIDC integration"
Further to #370 and #395 many users will wish to require a login to access the dashboard.

Get this working first on OpenShift. It is not clear if Ingress/Routes can be configured to require and prompt for OIDC authentication, or if this must be performed by the dashboard itself.

[2019-08-01 14:01] akihikokuroda commented on #370
I couldn't make the TLS work with the ingress for the dashboard so far but I could make it work with the route in the OpenShift.

`oc create -f route.yaml`

contents of the route.yaml is:
[code]
For this TLS, the certificate signed by the OpenShift cluster is used.
![certificate1](https://user-images.githubusercontent.com/16141898/62299610-43835600-b443-11e9-9914-5eb7037f9316.png)
![certificate2](

[2019-08-01 15:59] carlos-logro commented on #370
/assign

[2019-08-01 19:51] akihikokuroda commented on #396
Here is my understanding for OpenShift.
1. OpenShift has the OAuth server but doesn't have the OIDC OP.
1. At lease one of the identity providers must be configured for the OAuth server (https://docs.openshift.com/container-platform/4.1/authentication/identity_providers/configuring-htpasswd-identity-provider.html)
1. The dashboard needs to implement the OAuth flow.

[2019-08-01 20:05] carlos-logro commented on #370
@a-roberts @mnuttall

with the help of @akihikokuroda & @vtereso i managed to replace the the current CA with a HTTPS one in OpenShift. here are the steps I took:

*pre-requisites*
1) Tekton-pipelines installed in OpenShift
2) dashboard installed in OpenShift
3) dashboard cloned

*Steps:*
1) delete the current route if one is created
`oc delete route <{route name}> -n tekton-pipelines`

2) create

[2019-08-01 20:13] carlos-logro commented on #370
<img width="501" alt="Screen Shot 2019-08-01 at 4 12 25 PM" src="https://user-images.githubusercontent.com/49996607/62324332-4304b280-b477-11e9-9904-1e72a554c03d.png">

[2019-08-02 09:12] CarolynMabbott opened #397 "Deleted pipelineruns / taskruns do not get removed from the dashboard unless manually refresh the page"
Deleted pipelineruns and taskruns do not automatically get removed from the dashboard even after switching to different tabs in the dashboard
The dashboard must be manually refreshed for these deleted pipelineruns / taskruns to be removed from the dashboard

This should be changed so that the pipelineruns / taskruns tab in the dashboard gets updated without the need to manually refresh the page

[2019-08-02 14:02] AlanGreene commented on #397
These should be automatically removed and I verified in my environment that this does happen, I suspect this is similar / related to the other intermittent issues reported:
- https://github.com/tektoncd/dashboard/issues/385
- https://github.com/tektoncd/dashboard/issues/383

So far I have been unable to reproduce these myself, although I suspect the websocket connection is being dropped in some ca

[2019-08-02 16:03] mii-w commented on #35
Updated Invision Link:
https://ibm.invisionapp.com/share/X4NZ57VC5FR

Please let me know if any links are broken or if you have any comments/feedback would be greatly appreciated!

[2019-08-02 17:39] kimholmes commented on #366
@dibbles Here is Michelle's updated design for Service Accounts:
https://ibm.invisionapp.com/share/QXNZ5IT8SR2#/screens

[2019-08-03 00:23] mii-w commented on #366
Updated Invision Link:
https://ibm.invisionapp.com/share/QXNZ5IT8SR2

[2019-08-05 08:03] dibbles commented on #366
@mii-w there could be multiple imagePullSecrets I think, therefore I think these would need to be in a table per the other secrets (i.e 2 table, one "Secrets" and one "ImagePullSecrets")

[2019-08-05 10:00] a-roberts opened #399 "Full annotation including password is printed on secrets page"
# Expected Behavior
String data password should be starred out. Arguably the username/email should be too.

# Actual Behavior
It's not, I've just made a Docker secret manually, it's picked up by the dashboard and now my password is there for all to see! I'd like to demo the dashboard at an upcoming event and revealing my Docker password to all isn't great.

# Steps to Reproduce the Problem

1. Cre

[2019-08-05 10:29] a-roberts commented on #399
The username and password fields are part of data and not a stringData annotation, i made this using a script and not through the UI. Spoke with @mnuttall and we agree it's user error so closing, phew 😂

[2019-08-05 10:29] #399 closed

[2019-08-05 13:16] a-roberts opened #400 "Create secrets panel is too short (hard to select last SA)"
# Expected Behavior
It should be easy to pick any service account from the dropdown

# Actual Behavior
It's a nightmare to choose the last service account because the modal isn't tall enough, literally end up selecting the last one then using the down arrow. Here I'm trying to choose `tekton-webhooks-extension` as my service account from the dropdown - it's not visible.

![image](https://user-imag

[2019-08-05 19:37] akihikokuroda commented on #396
I found that this can be used to enable the login for the dashboard.
https://github.com/openshift/oauth-proxy
I could make the OpenShift login screen pop-up when I access to the dashboard.

[2019-08-05 19:37] akihikokuroda commented on #396
/assign

[2019-08-06 10:55] dibbles commented on #394
/assign

[2019-08-06 11:02] a-roberts opened #401 "Created PipelineRun isn't immediately displayed when made through UI"
# Expected Behavior
My new PipelineRun should immediately appear on the page

# Actual Behavior
If I create a PipelineRun using the form, I get notified where I can find my new PipelineRun's info. I'm on the PipelineRuns page and I have to refresh to see my new run.

# Steps to Reproduce the Problem

1. Create a PipelineRun
2. Observe no details visible yet
3. Refresh, observe they are

![image](h

[2019-08-06 11:06] a-roberts opened #402 "Retrieving logs isn't reliable (at least for PipelineRuns)"
# Expected Behavior
I should reliably be able to get the pod logs for, say, a PipelineRun

# Actual Behavior
![image](https://user-images.githubusercontent.com/12814972/62535728-102a3800-b844-11e9-93aa-b4b02e9f7130.png)

[code]

[code]

# Steps to Reproduce the Problem

1. Install the latest release of Tekton pipelines, the dashboard (from source) and the webhooks extension
2. Create a simple Pipe

[2019-08-06 11:43] AlanGreene commented on #402
In your `k logs` command I see you're still using the `build-step-` container prefix. Is this a run that was created on an older Tekton version? If so this is expected behaviour.

The `build-` prefix was dropped in pipeline v0.5, so I'd expect to see `step-` for containers created on a recent version. The dashboard also checks for the container name in the step status to ensure we stay in sync wit

[2019-08-06 12:24] a-roberts commented on #402
Phew, yeah the above was from Jess' set up and that's from an older run 😅

I'll see if I can reproduce this now on the latest with my own set up, otherwise I'll close, thanks for taking a look

[2019-08-06 12:35] a-roberts commented on #402
Closing, all is well with my set up using the latest Tekton and our code. At least anyone who encounters this can read the above and figure out why their logs may not be retrieved! Thanks Alan, closing

[2019-08-06 12:35] #402 closed

[2019-08-06 13:24] akihikokuroda commented on #396
The oauth-proxy works as the sidecar of the dashboard.  I'll update the deployment of the dashboard.  It will be only for the OpenShift.  I'll create another directory in the config directory and place the updated dashboard yaml file.

[2019-08-06 13:54] a-roberts commented on #394
Merged so closing

[2019-08-06 13:54] #394 closed

[2019-08-06 15:13] carlos-logro commented on #306
/assign

[2019-08-06 15:14] carlos-logro commented on #400
/assign

[2019-08-06 15:56] akihikokuroda commented on #396
PR for this: https://github.com/tektoncd/dashboard/pull/406
The OpenSjhift doesn't have the OIDC provider.  It has the Oauth server.  This PR provides authentication to access the dashboard by utilizing the Oauth server.

[2019-08-06 16:43] AlanGreene commented on #401
Refresh shouldn't be necessary, looks similar to https://github.com/tektoncd/dashboard/issues/397

[2019-08-07 09:49] mnuttall commented on #395
Iceboxing this since https://github.com/tektoncd/dashboard/pull/406 gives us everything that we need for now.

[2019-08-07 10:32] mnuttall opened #409 "Rework /ingress for OpenShift"
Issue https://github.com/tektoncd/dashboard/issues/387 added a /ingress API which returns the 'host' value of an Ingress called 'tekton-dashboard' in the requested namespace.

PR https://github.com/tektoncd/dashboard/pull/406 adds HTTPS and OAuth support, and creates a `Route` called `tekton-dashboard` - but not an `Ingress`. The 'Host/Port' field of the Route contains the information that we woul

[2019-08-07 13:01] mnuttall commented on #384
Hi @CarolynMabbott thank you for raising this issue. The `tekton-dashboard` service account is not intended to be used to create and run arbitary Tekton pipelines. It's not a bug that it cannot create kservices.

[2019-08-07 13:01] #384 closed

[2019-08-07 13:04] a-roberts commented on #370
Thanks Carlos for the above, we have Aki's work that's on OpenShift too using their certificate so I'm wondering if we can repurpose what you've documented above as part of a "local" story (I would like us all to be using https locally instead of just on OpenShift really, especially for demos).

While OpenShift 3.11 is our only real platform of importance rn for Kabanero, I still think having it s

[2019-08-07 14:39] akihikokuroda commented on #396
/close

[2019-08-07 14:39] #396 closed

[2019-08-07 15:54] a-roberts commented on #363
See https://github.com/tektoncd/dashboard/pull/408

@mnuttall and I worked with @vdemeester today to get a draft release of the Tekton Dashboard and webhooks extension created. I've added the release notes/attributions/feature list for both components and we're planning to include three assets.

The main dashboard yaml for all to use, one yaml for use with OpenShift only with HTTPS, and one for th

[2019-08-07 18:52] akihikokuroda opened #411 "Can not logout from the dashboard"
# Expected Behavior
The user should be able to logout from the dashboard.

# Actual Behavior

There is no UI function to logout from the dashboard.

# Steps to Reproduce the Problem

1. Install the dashboard with login on OpenShift
2. Access to the dashboard and login (OpenShift login screen)
3. There is no way to logout

# Additional Info

I can logout by hitting at

[2019-08-07 20:24] akihikokuroda commented on #409
/assign

[2019-08-07 20:27] akihikokuroda commented on #409
I'll create a new endpoint '/externalEndpoint'.  It will return an array of the endpoints.  The element of the array will have the URL and type of the endpoint.  The first element of the array is the default endpoint.

[2019-08-08 08:17] mnuttall commented on #411
- We'd like to be able to log out.
- Ideally, the 'log out' option should only be displayed once a user has logged in. This could perhaps be achieved by setting a 'login enabled' environment variable on the dashboard deployment in openshift-tekton-dashboard.yaml.

[2019-08-08 08:26] mnuttall commented on #409
Hi @akihikokuroda thanks for picking this up.
- Please can we make endpoint '/endpoints' - you're returning an array, and as per https://github.com/tektoncd/dashboard/blob/master/DEVELOPMENT.md we tend to use plurals. I should have thought of that when writing the issue.
- Please be sure to contact the https://www.eclipse.org/codewind/ team who I believe are expecting to consume this API as early

[2019-08-08 09:41] a-roberts commented on #363
All done - published, added release notes, documented in master readmes too, thanks everyone!

[2019-08-08 09:41] #363 closed

[2019-08-08 13:54] a-roberts commented on #411
For anyone who does pick it up (I was tempted to but doubt I'll have time this week), I figured we'd get an env var when logged in and if set, we'd indeed display the component with the current url + /oauth/sign_out as on the target link.

I installed on minishift, logged in, I added
[code]

in main.go and ko applied, **we don't get any built-in var of use to us, so it would indeed need to be set

[2019-08-08 14:24] mnuttall opened #413 "Lock down supporting images in dashboard release"
The https://github.com/tektoncd/dashboard/releases/download/v0.1.0/openshift-tekton-dashboard.yaml contains some image coordinates that should be locked down. For example,
[code]
and
[code]

Ideally we need a way (a script?) of determining the tags - ideally shas - of the currently supported supporting images levels at the point of producing a release.

This work should ideally be performed as par

[2019-08-08 14:32] a-roberts commented on #411
I'm gonna code what I can and push it to my own branch - maybe it'll be done in time, or anybody else can pick it up and continue in my absence (I'm out next week and we all are tomorrow afternoon).

[2019-08-08 19:48] akihikokuroda commented on #409
PR: https://github.com/tektoncd/dashboard/pull/414

[2019-08-08 19:48] carlos-logro commented on #306
/close

[2019-08-08 19:48] #306 closed

[2019-08-09 12:21] akihikokuroda commented on #409
/close

[2019-08-09 12:21] #409 closed

[2019-08-09 12:32] ziheng opened #416 "TaskRun page becomes blank when the namespace or resource are deleted"
# Expected Behavior
Task run page should be persisted regardless of the running status

# Actual Behavior
The page becomes to blank

# Steps to Reproduce the Problem

1. Trigger a task run from IBM DevOps pipeline
2. open the view of the task run
3. wait until the run finishes

# Additional Info
![Screenshot 2019-08-09 at 13 31 44](https://user-images.githubusercontent.com/9008867/62779078-0efa448

[2019-08-09 12:38] a-roberts commented on #411
Pushed the latest code to my branch linked to in a previous comment, status as follows

- Renders log out button at the top right with a link to /oauth/sign_out (need to test on openshift)
- Boilerplate for test code added
- Detection code todo through index.js: detecting openshift namespace or some other resource

Happy for anyone else to pick this up in my absence please, going back on the backl

[2019-08-09 12:55] AlanGreene commented on #416
The cause here is that the corresponding namespace and resources are deleted after the run completes. Dashboard should be resilient to this and just display a notification that the resource has been deleted / redirect to the PipelineRuns / TaskRuns list instead of falling over and displaying a blank page.

[2019-08-09 13:09] AlanGreene commented on #371
Initial implementation delivered and documented, closing. Enhancements can be handled in a separate issue.

[2019-08-09 13:09] #371 closed

[2019-08-09 16:15] carlos-logro commented on #321
/assign

[2019-08-11 06:49] sdaschner opened #417 "Possibility to view / describe Tekton resources"
It would be very helpful if there was a way to see the details of resources, such as tasks or pipelines, similar to the Kubernetes dashboard.

Right now, for example, when selecting a task, we only have the information for the specific taskruns available, not the general description of that task, unless I'm missing something.

This might be related to #38, with actions such as delete/edit/view YAM

[2019-08-11 20:43] kimholmes commented on #366
In our last design review, it was mentioned that we may not want to include the ability to "CREATE" service accounts. Can we confirm whether or not this is a requirement.
@dibbles @mnuttall

[2019-08-12 14:52] akihikokuroda commented on #413
/assign

[2019-08-12 14:53] akihikokuroda commented on #413
I'll add sha for these 2 examples.  How about the dashboard image?

[2019-08-12 15:35] akihikokuroda commented on #413
PR: https://github.com/tektoncd/dashboard/pull/418
adding sha for these 2 images

[2019-08-12 15:50] carlos-logro commented on #400
/close

[2019-08-12 15:50] #400 closed

[2019-08-12 18:20] AlanGreene commented on #417
Hi @sdaschner, thanks for raising this issue. If you're looking for a raw YAML view of the Task / Pipeline resources, you can click on the info icon to the right of the entry on the list view.

![image](https://user-images.githubusercontent.com/2829095/62887524-547e7200-bd35-11e9-9514-b89f8a74c5d5.png)

![image](https://user-images.githubusercontent.com/2829095/62887684-a7f0c000-bd35-11e9-864f-497

[2019-08-13 14:02] Megan-Wright commented on #320
/assign

[2019-08-13 14:16] mnuttall commented on #413
Hi @akihikokuroda beyond determining the SHAs for the current release, I wrote,

I think what we'd like is to have :version tags on the images in the yaml in git, and then :sha tags when we produce releases. Is there a way to efficiently pull the :tagged images and determine their SHAs via script? It obviously happens for the Tekton images but I'm not sure where the code is that does that.

[2019-08-13 14:32] carlos-logro commented on #370
/close

[2019-08-13 14:32] #370 closed

[2019-08-13 21:38] andgoldin opened #423 "Dashboard pod crashes"
# Expected Behavior

When following [Vic Iglesias](https://github.com/viglesiasce)'s [tekton workshop](https://github.com/viglesiasce/tekton-workshop), the dashboard remains running.

# Actual Behavior

After a short period of time, the browser displays the following:
[code]

# Steps to Reproduce the Problem

1. Follow the instructions for the [Tekton Workshop in Qwiklabs](https://events.qwiklabs.

[2019-08-14 10:36] jessm12 opened #424 "Rebuild doesn't copy labels from the PipelineRun that is being rebuilt"
# Expected Behavior
All labels from the original `PipelineRun` are copied onto any rebuild of it
# Actual Behavior
The labels are not copied. I noticed this problem particularly when using the webhooks-extension and trying to delete all `PipelineRuns` for a given webhook as the rebuilds were not also deleted due to them not having the relevant labels.
# Steps to Reproduce the Problem

1. Create a

[2019-08-15 19:41] kimholmes commented on #37
Working on this user flow. Would love feedback:

**Default state:**
![TektonFilter1](https://user-images.githubusercontent.com/21316329/63121298-1326d600-bf72-11e9-8846-b5bb06a8651e.png)

**Hover state:**
![TektonFilter2](https://user-images.githubusercontent.com/21316329/63121318-1f129800-bf72-11e9-8a67-c185a454ad96.png)

**Click state:**
![TektonFilter3](https://user-images.githubusercontent.com

[2019-08-16 12:29] a-roberts commented on #424
See https://github.com/tektoncd/dashboard/blob/master/pkg/endpoints/pipeline.go#L567, I thought I had handled this, should have added a test case and working code! 😭

[2019-08-16 12:47] AlanGreene opened #433 "Flaky unit test: TestExtensionRegistration"
# Expected Behavior
Unit tests should pass consistently.

# Actual Behavior
TestExtensionRegistration fails intermittently. Re-running the tests usually passes.
This has affected 2 PRs today that did not touch the back end code.
- https://github.com/tektoncd/dashboard/pull/432
- https://github.com/tektoncd/dashboard/pull/430

# Additional Info
https://storage.googleapis.com/tekton-prow/pr-logs/pul

[2019-08-16 12:49] AlanGreene commented on #389
Still an issue: https://github.com/tektoncd/dashboard/issues/433

[2019-08-16 12:49] AlanGreene commented on #433
Duplicate of https://github.com/tektoncd/dashboard/issues/389

[2019-08-16 12:49] #433 closed

[2019-08-16 14:10] akihikokuroda commented on #413
Automated adding sha tag to external images: PR: https://github.com/tektoncd/dashboard/pull/434

[2019-08-19 11:14] CarolynMabbott opened #437 "Support Tekton Pipelines 0.6.0"
Tekton Pipelines 0.6.0 is incompatible with the current dashboard
There are a number of breaking changes such as triggers and changes to the file github.com/tektoncd/dashboard/vendor/github.com/tektoncd/pipeline/pkg/apis/pipeline/v1alpha1

[2019-08-19 11:14] CarolynMabbott commented on #437
/assign

[2019-08-19 13:49] a-roberts commented on #437
Carolyn's actively working this, we've fixed the parameter passing now for created PipelineRuns and removed the trigger type, the next step is to focus on remaining errors in pipeline.go. Carolyn's suggested we create a new 0.2.0 release that supports Tekton Pipelines 0.6 while keeping our 0.1.x line as the one supporting Tekton 0.5.2.

We'd obviously need to test the compatibility with the webhoo

[2019-08-20 10:09] CarolynMabbott opened #440 "Rebuild button can error for an already rebuilt PipelineRun"
Tried to rebuild a PipelineRun and got an error
It may be because it was a rebuild of a rebuild
This was on 0.6.0 pipelines

[code]

May be a more unique timestamp is needed

[2019-08-20 12:51] jessm12 commented on #37
Thanks for these designs @kimholmes! 😄The current implementation that I have is filtering only on label (labelKey:labelValue) and there is no dropdown functionality. I think the dropdown could be a great enhancement to add to the filtering down the line.

One question I do have is would the intention be to populate these filters in the dropdown by doing a lookup on all Pipeline Runs to find all of

[2019-08-20 12:54] jessm12 commented on #326
https://github.com/tektoncd/dashboard/issues/37 @kimholmes has linked some additional designs here with comments 🙂Though these extra features for the `PipelineRuns` filtering have not been implemented under this issue there could definitely be scope to enhance this feature in the future

[2019-08-20 17:58] vtereso commented on #321
I picked up this issue from Carlos, but didn't realize there was still front-end work to be done. To migrate to the proxy url, the git pipelineresouce used within [pipeline0](https://github.com/tektoncd/dashboard/blob/master/config/pipeline0.yaml), will need to be created ahead of time. Someone feel free to finish up the work I have done on [my branch](https://github.com/tektoncd/dashboard/pull/43

[2019-08-20 18:19] mii-w commented on #366
Thank you for the feedback! Just came back from vacation! :)

![Screen Shot 2019-08-20 at 2 17 46 PM](https://user-images.githubusercontent.com/51759906/63373142-61aee880-c355-11e9-8752-a34912f88800.png)
![Screen Shot 2019-08-20 at 2 17 55 PM](https://user-images.githubusercontent.com/51759906/63373144-6378ac00-c355-11e9-931b-0bd5a4480345.png)
![Screen Shot 2019-08-20 at 2 18 00 PM](https://user-i

[2019-08-21 09:27] Megan-Wright commented on #320
PR Here: https://github.com/tektoncd/dashboard/pull/441

[2019-08-21 09:54] jessm12 commented on #326
PR for this is here https://github.com/tektoncd/dashboard/pull/427 😄

[2019-08-21 09:55] jessm12 commented on #424
/assign

[2019-08-21 12:39] mnuttall commented on #368
Hi @mii-w can you try writing '/assign' in a comment please? What labels would you like added?

[2019-08-21 14:55] vtereso commented on #269
To complete this issue: Add front-end handler to the websocket for secret notifications.

[2019-08-22 12:24] jessm12 commented on #424
https://github.com/tektoncd/dashboard/pull/445 the fix 😄

[2019-08-23 08:32] jessm12 commented on #424
Merged so closing 🚀
/close

[2019-08-23 08:32] #424 closed

[2019-08-23 08:40] jessm12 commented on #372
/assign

[2019-08-23 10:38] mnuttall opened #446 "Extend SHA substitution in release automation to openshift yaml"
https://github.com/tektoncd/dashboard/pull/434 causes the `release.yaml` generated by the `/tekton` automation to updated so as to substitute `:latest` tags for the sha256 values of those images on the day.

Under this issue, extend the use of this substitution to create a new release artifact from config/openshift/openshift-tekton-dashboard.yaml with its :latest images also updated to sha256 valu

[2019-08-23 11:19] CarolynMabbott opened #447 "Integration tests consistently fail"
The integration tests are flaky
A integration test which passed then failed after a README change got pushed to github
There is something wrong with the reliability of the integration tests

`I0823 10:54:53.062] error: unable to forward port because pod is not running. Current status=Pending
`

Was the output of one integration test, the dashboard pod may not always be coming up correctly or take

[2019-08-23 14:39] mii-w commented on #366
Service Account Main View
<img width="867" alt="Screen Shot 2019-08-23 at 10 35 53 AM" src="https://user-images.githubusercontent.com/51759906/63600615-e6864600-c591-11e9-867b-ebd524ce3b20.png">

Detailed view of specific Service Account
<img width="869" alt="Screen Shot 2019-08-23 at 10 36 03 AM" src="https://user-images.githubusercontent.com/51759906/63600712-13d2f400-c592-11e9-8f70-7db83bcdee55

[2019-08-27 05:25] stobias123 opened #450 "Extension development sample fails."
# Expected Behavior
Run through docs on extension, create resources.

# Actual Behavior
The example service/image deployed return the error

[code]

# Steps to Reproduce the Problem
[code]

Click `tekton_dashboard_extension` link

[code]

[2019-08-28 10:42] AlanGreene opened #451 "Remove duplicate Run.scss"
https://github.com/tektoncd/dashboard/pull/449 creates a presentational component for the PipelineRun which uses styles from Run.scss (which it now provides at `packages/components/src/components/PipelineRun/Run.scss`)

Some of the other containers also use the same styles, so we now have duplication between this file and the existing `src/components/Run/Runs.scss`

We should expose the styles fro

[2019-08-28 12:19] AlanGreene opened #452 "URLs should be configurable in @tektoncd/dashboard-components"
# Expected Behavior
A 3rd party consuming the components provided by @tektoncd/dashboard-components should be able to override the default URLs used for navigation.

# Actual Behavior
This is not possible, links use the dashboard URL format (e.g. clicking on pipeline name in the PipelineRuns list component).

# Additional Info
Anywhere a component generates a URL used for navigation, we should all

[2019-08-28 12:40] AlanGreene opened #453 "All strings displayed in the UI should be externalised"
# Expected Behavior
It should be possible to customise / translate all strings displayed in the UI (excluding user data or error messages provided by the environment).

# Actual Behavior
Many strings are still hard-coded in the components instead of using `react-intl`.

# Additional Info
We have begun extracting strings as described, this process should be completed and all new strings added using

[2019-08-28 12:42] a-roberts commented on #437
This is merged so closing, creating a new release for it can be done outside of this issue

[2019-08-28 12:42] #437 closed

[2019-08-28 12:42] a-roberts commented on #411
PR at https://github.com/tektoncd/dashboard/pull/454

[2019-08-28 12:44] a-roberts commented on #320
Carolyn's going to partner up with Megan on this one, we're figuring out how to do the patching/unpatching of the service account through the Kube frontend API atm

[2019-08-29 12:59] sarveshtamba opened #456 "Unable to access tekton dashboard on ppc64le via browser"
Successfully built tekton dashboard on ppc64le:-
[code]

Made the following change to the `config/release/gcr-tekton-dashboard.yaml` file in order to use the locally built tekton dashboard image:-
[code]

Made sure tecktoncd pipeline is deployed and tekton-pipelines namespace is created.

Deployed the dashboard using the following command:-
[code]
The following kubernetes resources are created:-
[

[2019-08-29 15:38] AlanGreene commented on #303
Closing stale issue

[2019-08-29 15:38] #303 closed

[2019-08-29 15:43] AlanGreene commented on #417
@sdaschner I hope the info above was helpful. If you had something else in mind we'd love to hear your thoughts. Closing this for now but we can reopen if needed.

[2019-08-29 15:43] #417 closed

[2019-08-29 15:54] a-roberts commented on #456
Hey there, so to see if I can understand this right you can access it fine using the proxy, but not otherwise? This is intended behaviour if so, you can optionally set up an ingress endpoint (we document this to help out)

I'm interested in the Chrome debugger's console output and I'd check to see if you built the static resources ok before pushing up your code (building a webpack bundle that we g

[2019-08-29 15:56] AlanGreene commented on #456
Hi @sarveshtamba, thanks for reporting your issue. Which instructions did you follow to build the dashboard locally?

If you just want to install one of our pre-built images you can follow the instructions from the README, but if you want to build it yourself locally you can follow https://github.com/tektoncd/dashboard/blob/master/DEVELOPMENT.md. Either way you should not need to modify the releas

[2019-08-29 15:56] a-roberts commented on #447
Pending usually means we've got an unsatisfied requirement (often a PV issue) so whoever picks this up, I'd look at adding or improving our error reporting to include PVs and describing the pod

[2019-08-29 16:05] a-roberts commented on #423
Hey @aldgodlin, thanks for reporting this and glad we made it into a workshop! We've never seen this issue on openshift, minishift or docker desktop, when you say "a short time", how long are we talking? I'm keen to go for the reproduce given access to a cluster

@vtereso FYI, there's a juicy looking error here too

[2019-08-29 18:21] vtereso commented on #423
@a-roberts I'll make a quick patch regarding the panic.

[2019-08-30 09:45] a-roberts commented on #423
Thanks Vincent, willing to give this a go! @andgoldin can you please run with this once you get a chance? It's a really benign change so I'll get it merged and hopefully gets you further - please let us know how you do progress

[2019-08-30 09:55] a-roberts commented on #411
Merged so closing

[2019-08-30 09:55] #411 closed

[2019-08-30 10:04] #423 closed

[2019-08-30 10:47] a-roberts commented on #440
Hmmm, I can't reproduce this on my set up

[code]

That's with Tekton 0.5.2 and our latest dashboard code

I moved up to Tekton 0.6.0, rebuilt the same run (including rebuilds and just clicking rebuild on the original) and noticed no problems

FWIW this is on Docker Desktop

[2019-09-02 09:14] a-roberts commented on #440
I really can't reproduce this no matter what Tekton version or environment, I'm closing until we know more/can reproduce it ever again (please reopen if you ever can!)

[2019-09-02 09:14] #440 closed

[2019-09-02 09:24] a-roberts commented on #389
Having a look at this now, my plan is to run it multiple times and potentially extend that timeout period again, recording duration times as well to see if we're really on the boundary and figuring out what takes potentially ages.

[2019-09-02 15:37] a-roberts commented on #389
PR https://github.com/tektoncd/dashboard/pull/467

[2019-09-03 08:29] jessm12 commented on #326
/close

[2019-09-03 08:29] #326 closed

[2019-09-03 08:52] dibbles opened #469 "Import resource errors under race condition"
# Expected Behavior

Import of pipeline resources should create pipelineresources, create pipelinerun, execute successfully.

# Actual Behavior

Although the dashboard log has the resources being created in order, presumably due to some async nature, the resources are not always created in k8s in the correct order, in such a situation the pipeline run then fails stating that the pipelineresource d

[2019-09-03 08:55] dibbles opened #470 "Rebuild button does not provide feedback if an existing notification is on page"
# Expected Behavior

Clicking the rebuild button for a pipelinerun should trigger a rebuild and provide information/redirection to said pipelinerun

# Actual Behavior

In the case a notification already exists on the page, such as seen in issue #469, clicking rebuild provides absolutely no feedback, even though it has successfully triggered a rebuild.

# Steps to Reproduce the Problem

1. Recreate

[2019-09-03 09:36] a-roberts commented on #470
Had a quick look through the code while waiting for another PR to be reviewed, some notes before I get a PR created.

https://github.com/tektoncd/dashboard/blob/master/src/containers/PipelineRun/PipelineRun.js#L231 notice here that on getting a PipelineRun error (as in Duane's case as per the linked to issue), we only display this notification and no others. The rebuild button component is still d

[2019-09-03 10:38] steveodonovan opened #471 "Only show the cancel pipelineRun functionality where available"
# Expected Behavior

If cancel function isn't passed to pipelineRuns component don't show cancel button

# Actual Behavior

Cancel button is always available

[2019-09-03 10:38] steveodonovan commented on #471
/assign

[2019-09-03 10:40] steveodonovan opened #473 "Take rebuild button as a param in pipelineRun component"
# Expected Behavior

Consumers of the pipelineRun component should be able to supply their own rebuild button

# Actual Behavior

The instance from the dashboard is reused.

[2019-09-03 10:41] steveodonovan opened #474 "Update core dashboard containers to reuse packaged components"
# Expected Behavior

We should not maintain 2 versions of the components and core dashboard should reuse the ones packaged for publishing

[2019-09-03 10:41] steveodonovan commented on #474
/assign

[2019-09-03 10:41] steveodonovan commented on #473
/assign

[2019-09-03 10:42] steveodonovan opened #475 "Add Key to Log component being consumed across containers"
# Expected Behavior

Key should be supplied

# Actual Behavior

it is not and logs may not be loading for the selected task

[2019-09-03 10:42] steveodonovan commented on #475
/assign

[2019-09-03 12:18] dibbles opened #476 "PipelineRun link on status table does not work for openshift"
# Expected Behavior

The link in the status table on the pull request is supposed to navigate into the dashboard.

# Actual Behavior

The link is not the correct URL, it is using the default localhost rather than the openshift route.  Clearly the endpoints REST endpoint is going wrong somewhere - looks like the sink is getting a malformed URL response, possibly due to trying to access http at port

[2019-09-03 12:18] dibbles commented on #476
/assign

[2019-09-03 12:25] a-roberts opened #477 "pipelinerun0 fails: duplicate target-namespace is appended to params"
# Expected Behavior
pipeline0 should work so we can import apply resources

# Actual Behavior
We append target-namespace twice through pipeline.go code, see:

[code]

# Steps to Reproduce the Problem

1. Try to import resources from a repo using pipeline0

[2019-09-03 12:36] a-roberts commented on #389
Merged so closing

[2019-09-03 12:36] #389 closed

[2019-09-03 12:55] a-roberts opened #479 "No Tekton dashboard pods appear when Istio isn't available (?)"
# Expected Behavior
Pods should come up for the dash regardless of Istio services being present

# Actual Behavior
No pods for the dashboard appear when Istio isn't present, using master, using Docker Desktop

[code]

# Steps to Reproduce the Problem

1. Don't have istio installed, starting state is as follows

[code]

2. `ko apply -f config` to install the dashboard, from master, being in your $G

[2019-09-03 13:05] a-roberts commented on #379
^^ PR merged so closing

[2019-09-03 13:05] #379 closed

[2019-09-03 13:13] a-roberts commented on #479
To get around this, I wanted to delete the tekton-pipelines namespace. I couldn't as my githubsource was forever being deleted. Unfortunately I ended up resetting my Docker Desktop Kubernetes cluster completely. Then, in a clean state, I can install the dashboard and all is well.

So we don't require Istio (as suspected), and my guess is I had an Istio injected namespace (although getting it as ya

[2019-09-03 13:13] #479 closed

[2019-09-03 13:15] a-roberts commented on #477
PR https://github.com/tektoncd/dashboard/pull/478, verified this works manually now

[2019-09-03 13:40] CarolynMabbott opened #480 "Dashboard doesn't allow secret creation containing 0, error message shows incorrect info"
I want to create secret Batman10 but I get the following error

![Screenshot 2019-09-03 at 14.38.06.png](https://images.zenhubusercontent.com/5cfe69e3171db04ec3637b76/d13537d1-893f-41e8-99fa-a907b4498641)

It happens regardless of where the 0 is in the secret

A user should be allowed to have a secret with 0 in the name

[2019-09-03 13:42] #477 closed

[2019-09-03 13:53] a-roberts commented on #470
To attempt to reproduce this I modified pipeline.go to create PipelineResources incorrectly (incorrect names).

Then on using the import functionality, I see the error, but I never see the Rebuild button for the same error Duane's reporting.

When using the 0.1.1 release image with Tekton 0.5.2 I noticed that for a failed PipelineRun we do see the Rebuild button. So I believe we no longer get the

[2019-09-03 13:53] #470 closed

[2019-09-03 14:04] a-roberts commented on #480
PR https://github.com/tektoncd/dashboard/pull/481

[2019-09-03 14:42] #416 closed

[2019-09-03 15:01] a-roberts commented on #450
I'll have a look at this now on Docker Desktop

[2019-09-03 15:46] a-roberts commented on #450
Reproduced the problem, PR at https://github.com/tektoncd/dashboard/pull/483

[2019-09-03 16:15] AlanGreene opened #487 "TaskRun / PipelineRun tabs should be URL addressable"
# Expected Behavior
A user should be able to follow a link directly to the logs/details tab for a given step in a TaskRun / PipelineRun.

# Actual Behavior
The tabs of the TaskRun / PipelineRun views are not currently URL addressable so the user must first follow a link to the TaskRun / PipelineRun in question and then select the relevant task + step from the task tree on the left to view more inf

[2019-09-03 16:26] AlanGreene opened #488 "TaskRun / PipelineRun view should show one step expanded by default"
# Expected Behavior
When following a link to a TaskRun / PipelineRun, the user should be presented with useful information without requiring additional action, specifically we should ensure that one step is expanded by default.

The most useful would likely be the first failed step (if any), otherwise the first step available.

# Actual Behavior
When the page loads the user is presented with a mos

[2019-09-03 17:22] AlanGreene commented on #289
This component will likely be removed in the upcoming design updates. Moving to icebox for now but will probably close once those updates start landing and we confirm it's no longer needed.

[2019-09-03 17:39] ncskier commented on #366
Discussed this offline, and documenting here. The ServiceAccounts page should have the following responsibilities.

Users can:
- see the "secrets" and "image pull secrets" that have been patched to the ServiceAccount
- patch/unpatch existing Secrets

Users can NOT:
- create/delete ServiceAccounts

FYI @mii-w

[2019-09-04 08:40] a-roberts commented on #480
Fixed and merged so closing

[2019-09-04 08:40] #480 closed

[2019-09-04 08:46] a-roberts commented on #476
@dibbles fixed this as part of https://github.com/tektoncd/experimental/pull/214 which is now merged, closing

[2019-09-04 08:46] #476 closed

[2019-09-04 10:22] a-roberts commented on #450
@stobias123 changes now merged into master so closing this, thanks for reporting it!

[2019-09-04 10:22] #450 closed

[2019-09-04 10:47] jessm12 commented on #372
Merged https://github.com/tektoncd/dashboard/pull/472
/close

[2019-09-04 10:47] #372 closed

[2019-09-04 13:19] #471 closed

[2019-09-04 13:19] AlanGreene commented on #475
PR https://github.com/tektoncd/dashboard/pull/485

[2019-09-04 13:19] #475 closed

[2019-09-04 17:05] s0s-app opened #491 "In-App Analytics"
# Expected Behavior

Opt-in analytics that allow us to learn more about a user's behavior when using the app.

# Actual Behavior

None.

# Steps to Reproduce the Problem

n/a

# Additional Info

Data collection presents challenges because we most likely can't just put a Google Analytics tracker or the equivalent in the dashboard, but the usage metrics would still be helpful from a design perspecti