[2022-03-11 13:42] AlanGreene commented on #2324
Interesting. Do your Tasks have many steps? Are they short-lived or longer running?

Would it be possible to share your colleague's script or provide more details about what it does / how often it runs? This would help narrow down the types of change that could be most beneficial for your use case, and provide a baseline for comparison of any performance improvements we might make.

[2022-03-11 13:56] rouke-broersma commented on #2324
The taskruns have about 5-10 steps and run depending on the type (split by namespace) of taskrun between 1 and 30 minutes. The majority of taskruns are of a shorter duration (couple minutes at most) and only once in a while do we have a taskrun that runs for up to 30 minutes.

@maartengo could you provide the details about your modifications

[2022-03-12 02:50] TianxiangShen commented on #2323
Thanks for the reply, I remember Tekton Results doesn't support Pod's Specs storage right, please correct me if I'm wrong.

[2022-03-18 13:23] AlanGreene commented on #2324
Thanks, this should be very helpful in trying to reproduce the issue and testing any potential improvements.

[2022-03-18 14:00] AlanGreene commented on #2324
Initial testing with https://github.com/tektoncd/dashboard/pull/2327 shaves ~.5s off 3s load time for 1300 TaskRuns (<1MB) so at least it's heading in the right direction… I'll need to increase the number of resources and have some in progress to get a proper feel for what impact this might have for your use case but at least it's not slower 😄

I'll see if I can publish a test release later today

[2022-03-18 15:28] AlanGreene commented on #2324
Published test release `pagination-test-20220318`:
- [release](https://storage.googleapis.com/tekton-releases/dashboard/pagination-test-20220318/previous/pagination-test-20220318/tekton-dashboard-release.yaml)
- [release-readonly](https://storage.googleapis.com/tekton-releases/dashboard/pagination-test-20220318/previous/pagination-test-20220318/tekton-dashboard-release-readonly.yaml)
- [release-op

[2022-03-18 15:51] maartengo commented on #2324
Good news! Although the page load time is still ~5 seconds, the page is actually responsive afterwards! This is a huge improvement over the regular freezes we used to have.

[2022-04-05 17:17] AlanGreene commented on #2094
Promotion of TEP-0058 fields to beta and deprecation of the `PipelineRunCancelled` status are being tracked in https://github.com/tektoncd/pipeline/issues/4611

Similar issue to this one tracking CLI plans: `https://github.com/tektoncd/cli/issues/1553`

[2022-04-07 07:25] drriguz opened #2335 "Support grouping pipelineRuns"
# Is your feature request related to a problem ?
My understanding of tekton is, the pipelines is supposed to be reused by multiple projects(unlike Jenkins or travis ci, each project/repository owns a pipeline). The problem is that there's currently no way to view the CI status in projects level, users are not able to find there projects easily.

In Jenkins, there's monitor that shows the latest st

[2022-04-07 09:06] AlanGreene commented on #2335
Thanks for the feature request @drriguz. As you mentioned this would need to be customised by the user and different users may have different needs or expectations for how runs should be grouped or displayed. This will need some design exploration but is something we may consider in the future.

[2022-04-08 02:02] drriguz commented on #2335
Thanks for your detailed explaination, that totally make sense. So as you mentioned, currently the dashboard is highly coupled with the Kubernates API, will it be considered to add a real backend(I guess currently the backend is just a proxy of Kubernates APIs) for the dashboard? Furtuer more, if there's backend the the APIs could be exposed for the user, and uses might have a chance to build a cu

[2022-04-08 10:18] AlanGreene commented on #2335
The Dashboard originally provided its own custom APIs but we switched to proxying the Kubernetes API for a number of reasons including flexibility, reducing the maintenance overhead, and the ability to take advantage of Kubernetes RBAC for auth.

Realistically I think we're unlikely to switch back again anytime soon. At a minimum this would mean having to implement auth ourselves, and the back end

[2022-04-11 02:04] drriguz commented on #2335
Thanks @AlanGreene , I got it. It seems that using Kubernates API is a more native approach 👍

[2022-04-17 20:33] AlanGreene commented on #2287
This is still something we want to do .
/lifecycle frozen

[2022-04-17 20:34] DrissiReda commented on #2287
@AlanGreene is it a priority? If not, when do you think it’s going to be handled.

[2022-04-19 00:06] williamlfish commented on #2094
@AlanGreene what are your thoughts on a 3 option radial btn situation in the overlay that essentially offers a trimmed down version of the descriptions above? None of them are default and the submit btn is disabled until one is selected?

- "Stop Gracefully " - Let the running tasks complete, execute finally.
- "Cancel Gracefully" - Stop all tasks, execute finally.
- "Cancel" - Stop everything, do

[2022-04-19 11:12] AlanGreene commented on #2094
Yes I think radio buttons make sense here, at least we have room to explain the difference between the options in the modal.

With radio button groups one radio button should always be selected by default, in this case I think it would be the 'Cancel' option which is equivalent to our current behaviour. It probably makes sense to persist the user's choice in localStorage so we can remember it next

[2022-04-20 12:56] AlanGreene opened #2340 "Update to support TEP-0100: Embedded TaskRuns and Runs Status in PipelineRuns"
[TEP-0100](https://github.com/tektoncd/community/blob/main/teps/0100-embedded-taskruns-and-runs-status-in-pipelineruns.md) proposes changes to `PipelineRun` Status to reduce the amount of information stored about the status of `TaskRun`s and `Run`s to improve performance, reduce memory bloat and improve extensibility. See https://github.com/tektoncd/pipeline/issues/3140 and the [TEP](https://githu

[2022-04-20 17:19] AlanGreene opened #2341 "Move Dashboard Katacoda content into docs"
We're removing the Katacoda tutorials for a number of reasons, primarily due to difficulties providing an up-to-date Kubernetes environment compatible with recent Tekton releases.

We should adapt the content from the Dashboard tutorial and make it available in our docs instead. Any use of `PipelineResources` should be replaced.

Any remaining references to Katacoda should be removed from the Dash

[2022-04-21 17:02] christianvogt commented on #675
Is this visualization available in the dashboard or when is it planned?

The [OpenShift Console](https://github.com/openshift/console) and the [Tekton Pipelines VSCode Extension](https://github.com/redhat-developer/vscode-tekton) have visualizations. It would be great if a single pipeline visualization library could be shared amongst all 3 tools by creating a separate reusable library.

[2022-04-21 17:13] AlanGreene commented on #675
I wasn't aware of the preview diagram provided by the VSCode extension, I'll have to take a look at that. Thanks for sharing.

The visualisation is not currently available in the Dashboard but we have revisited this issue recently (~1 month) and the latest design explorations using [Carbon Charts](https://github.com/carbon-design-system/carbon-charts) to fit with the Carbon design language used th

[2022-04-21 23:56] number5 commented on #675
@AlanGreene just FYI,  https://54h4e.csb.app/ is broken
[code]

[2022-04-22 09:32] AlanGreene commented on #675
@number5 thanks for the heads up, looks like an intermittent issue with the Codesandbox environment itself. We haven't changed the code in over a month and it's working for me at the moment. I did hit that error above a couple of times and it looked like Codesandbox hadn't fully installed the dependencies or was having trouble reading from the filesystem.

I'll try to narrow it down and open an is

[2022-04-22 09:59] rouke-broersma commented on #2324
@AlanGreene Is there a way to move forward with this change? It would be very useful to us :)

[2022-04-22 10:44] AlanGreene commented on #2324
I haven't had time to work on this recently but will pick it up again soon. The existing PR needs a bit of cleanup and some tests, then we should be able to apply the same changes to PipelineRuns. I'll update the PR by middle of next week 🤞

[2022-04-22 14:44] AlanGreene commented on #2324
I've updated the PR with a quick first pass at adding pagination to all list pages. I'll finish cleaning it up early next week and make sure all tests are passing before marking it ready for review.

[2022-04-22 14:53] #2323 closed

[2022-04-22 14:55] AlanGreene commented on #2268
Closing as this is not something we're currently planning to add. We may revisit this in future.

[2022-04-22 14:55] #2268 closed

[2022-04-22 14:57] AlanGreene commented on #2313
Hi @taechonkim, is this something you're still planning to work on? If not that's absolutely fine 😸, please unassign yourself so somebody else can pick it up.

[2022-04-22 23:47] taechonkim commented on #2313
@AlanGreene Sorry, I haven't been able to work on it yet because I've been busy with other things. I'll finish it by the end of this month. 😭 Thanks for reminding me :)

[2022-04-23 12:00] taechonkim commented on #2313
@AlanGreene Hey I've finished work on this issue (https://github.com/tektoncd/dashboard/pull/2345), plz review the PR :) thank you!

[2022-04-23 12:05] taechonkim commented on #2261
@AlanGreene Hi, I wonder about the progress of the design work. If the work is done, I want to contribute this issue.

[2022-04-23 13:43] AlanGreene commented on #2293
This is something we'll be addressing as part of the PipelineRun details page redesign. Freezing so it doesn't get auto closed.

/lifecycle frozen

[2022-04-23 13:47] AlanGreene commented on #2261
It's in progress. We'll share details here / issue #2306  as soon as it's ready to implement.

[2022-04-25 14:13] #2341 closed

[2022-04-26 12:38] AlanGreene commented on #2324
Client-side pagination is now available on all list pages in the latest nightly release, e.g.  https://storage.googleapis.com/tekton-releases-nightly/dashboard/previous/v20220426-14cce744d6/tekton-dashboard-release.yaml

Thanks again @rouke-broersma @maartengo for reporting the issue and helping to validate the change.

This will be included in the next Dashboard release, v0.26.0 due May 5 - 10.

[2022-04-26 13:03] rouke-broersma commented on #2324
That's awesome thank you!

[2022-04-27 15:25] williamlfish commented on #2094
So radio buttons and having "Cancel" as default, along with saving the user choice all sound good to me.

Labeling is still a bit it of a head scratcher though. Is the intent of cancel+finally, and stop+finally to stop and cancel a pipeline gracefully? If so, it feels appropriate to use that wording. Perhaps something like

- Cancel ℹ️
- Cancel Gracefully ℹ️
- Stop Gracefully ℹ️
with the ℹ️  some

[2022-04-28 09:45] AlanGreene commented on #2094
Yes Graceful Termination is available in Pipelines v0.35 👍

Absolutely, changing the strings is cheap so go ahead with the rest and we can iterate on the labels / tooltips for the UI.

My main problem at the moment is with 'cancel' vs. 'graceful' as both of the 'cancel' options interrupt any currently running non-finally tasks which I wouldn't consider 'graceful'. I'd also be hesitant to use langu

[2022-05-06 15:34] #2243 closed

[2022-05-08 21:54] morningspace commented on #1283
Any update for this issue? Really looking forward to this feature. Without specifying workspace, it looks the manually kicking off PipelineRun or TaskRun feature is not really useful in many cases.

[2022-05-09 16:27] AlanGreene commented on #2293
When we address this we should review https://github.com/tektoncd/pipeline/pull/4829 and TEP-0103. This makes additional useful information available regarding the reason for a task being skipped.

[2022-05-14 00:09] #2324 closed

[2022-05-16 17:53] AlanGreene commented on #1215
Reorganised the docs and updated links so they'll work both on GitHub and on the website: https://github.com/tektoncd/dashboard/pull/2368

PR open to add the sync config to the website repo: https://github.com/tektoncd/website/pull/383

For now it includes the main readme, tutorial, install, and extension docs. Walkthrough are excluded for now and will need to be reviewed / cleaned up separately i

[2022-05-19 07:01] Ben-Mark opened #2373 "logs are not streaming/updating in realtime"
# Describe the bug
when I open a taskRun, the logs aren't streaming in real time, i see the logs only when the step is completed

# Expected behaviour
I expect the logs to be streamed and updated in real time , out of the box..

# Steps to reproduce the bug
install the latest tekton dashboard version ...

# Environment details

- Kubernetes Platform:
aws eks (managed)
- Kubernetes or OpenShift ver

[2022-05-19 09:52] sagaraivale opened #2374 "Tekton pipeline should support a task with an drop-down option."
# Is your feature request related to a problem ?

Suppose, my tekton pipeline consists of cascade connection of multiple builds and deploy tasks. Now, I need to build/deploy only one task from the pipeline, then there should be a drop-down task option. Where users can select one specific build app and next deploy that app to a specific env etc.

# Describe the solution you'd like

There will be an

[2022-05-19 11:02] AlanGreene commented on #2373
Can you share more details about how you installed the Dashboard and how you're accessing it? e.g.:
- which release manifest / install method did you use?
- any customisations to RBAC / the Dashboard deployment?
- are you accessing via `kubectl port-forward`, `kubectl proxy`, Ingress, etc.?

I haven't been able to reproduce the problem with v0.25 or newer on Kubernetes 1.21 - 1.23.

[2022-05-19 11:10] AlanGreene commented on #2374
Thanks for the feature request @sagaraivale but I'm not quite sure I follow what you're asking for. Can you elaborate on your use case and/or provide an example of how you expect a user to use this in the Tekton Dashboard? It would also be helpful if you used the feature request issue template, I've updated the description to include it.

Tekton `Pipeline` resources define a graph of `Task`s to ex

[2022-05-19 13:12] Ben-Mark commented on #2373
I use my own custom install via dockerfile, instead of the ko/go docker creation/deployment
the dashboard has a cluster-admin role connected to its serviceAccount
I'm accessing via kubectl portforward only

All other functionalities are working great except for the logs streaming in real time
Do I need any other component for that requirement ?

[2022-05-19 16:43] Ben-Mark commented on #2373
**I can confirm that the link you sent shows that the logs are streaming in in real-time.**
I went further and debugged the fetchLogs function, it has streaming enabled
but still from the dashboard, i see the react skeleton loader waiting for the logs to load

I'll dig more, I'll probably get to the root cause

soon to update

[2022-05-20 03:57] Ben-Mark commented on #2373
Got some progress,

It appears that via the localhost:9097/api/v1... I'm able to see the logs streaming but not via localhost:8000/api/v1...

When the dashboard executes that via the proxy through for example from my dev webserver on localhost:8000/api/v1
The logs are not seen, and the browser is loading until all of the logs are there..

Given this new progress I'm focused now on the proxy area w

[2022-05-20 15:18] AlanGreene commented on #2373
@Ben-Mark I've opened a PR to resolve the issue with log streaming via the webpack-dev-server: https://github.com/tektoncd/dashboard/pull/2376

Let me know if that works for you.

[2022-05-23 14:41] #2247 closed

[2022-05-23 14:57] #2373 closed

[2022-05-24 19:30] #1215 closed

[2022-05-27 16:48] #2374 closed

[2022-06-20 16:09] AlanGreene commented on #2335
Closing as this is not something we're currently planning on implementing, we may revisit this in future.

[2022-06-20 16:09] #2335 closed

[2022-06-21 11:43] Fabian-K opened #2390 "Custom Trigger Information for PipelineRuns"
# Is your feature request related to a problem?

Since [0.27.0](https://github.com/tektoncd/dashboard/releases/tag/v0.27.0) the PipelineRun list shows trigger information in case the run was created using tekton triggers. This is cool, however not all PipelineRuns are created via triggers. I´m thinking of cron jobs (although there is an example of how to do that via triggers as well) or any other

[2022-06-21 12:16] AlanGreene commented on #2390
Thanks for the feature request @Fabian-K. Can you please update the description to use the feature request issue template provided? https://raw.githubusercontent.com/tektoncd/dashboard/main/.github/ISSUE_TEMPLATE/feature-request.md

This helps us to understand the motivation behind a request, the problem it's addressing, alternative that might be considered, etc.

This template should be presented

[2022-06-23 18:53] abayer commented on #2340
This is a dependency of https://github.com/tektoncd/pipeline/issues/4954.

The new `embedded-status` feature flag, with `full` as the default value, is in Pipeline v0.35.0 and later.

[2022-07-07 09:51] #2094 closed

[2022-07-08 15:05] AlanGreene commented on #2340
This is done and has been included in nightly builds for about a week. It will be included in the next Dashboard release (v0.28.0) next week.

[2022-07-08 15:05] #2340 closed

[2022-07-20 10:13] libratiger commented on #1693
I also have this requirements, it there any progress in the cored dashboard I can use. thanks!

[2022-07-22 14:02] AlanGreene commented on #2261
This is still something we want to do, freezing it so it doesn't get auto-closed.
/lifecycle frozen

[2022-07-22 20:17] AlanGreene commented on #2306
This is still very much something that is planned. Freezing so it doesn't get automatically closed.
/lifecycle frozen

[2022-07-27 09:45] jasperjonker commented on #1283
I am also curious, would be extremely helpful to trigger pipelines from the dashboard

[2022-07-28 18:04] afrittoli opened #2410 "Support pipeline matrix feature"
# Is your feature request related to a problem ?

This is related to a new pipeline feature - [tekton matrix](https://tekton.dev/docs/pipelines/matrix/).
Matrix requires support for minimal status, which already implemented.
Dashboard today however only displays the first `TaskRun` in a matrix:

<img width="822" alt="image" src="https://user-images.githubusercontent.com/2205608/181605935-5c9158ff-

[2022-08-02 10:07] AlanGreene commented on #2410
Thanks for the feature request @afrittoli and for adding the link in #2306.

I think we'll have to tackle this one in at least 2 phases:
1. show all related `TaskRun`s in the `PipelineRun` view
1. improve the display so that all `TaskRun`s for the same matrix are visually grouped or otherwise connected

I'm hoping that 1 should be relatively straightforward to implement but will need to experiment

[2022-08-04 10:31] TomHart opened #2411 "Dashboard Deployment Crashes: Error while proxying request"
# Describe the bug
The Tekton Dashboard Deployment crashes, seemingly when a Pipeline is running, but not narrowed down the exact thing that triggers the crash yet.

# Expected behaviour
Doesn't crash

# Steps to reproduce the bug
Unsure yet

# Environment details

- Kubernetes Platform:
k3s- Kubernetes or OpenShift version:

- Install mode (if on OpenShift):
Running on a local RPi 4
- Cloud-provi

[2022-08-04 15:27] AlanGreene commented on #2410
Some very rough testing for the first phase using the example at https://github.com/tektoncd/pipeline/blob/main/examples/v1beta1/pipelineruns/alpha/pipelinerun-with-matrix.yaml

Before:
![image](https://user-images.githubusercontent.com/2829095/182885283-908f798f-cd06-4891-8595-9036124512b1.png)

After:
![image](https://user-images.githubusercontent.com/2829095/182884695-e9a9869c-21af-4d4a-bb0a-8e

[2022-08-11 06:43] hillbun opened #2412 "Is is possible to embed dialog box and features of extensions within tekton dashboard?"
I install of automatiko-approval-task, an extension of tekton (https://github.com/automatiko-io/automatiko-approval-task)

Is is possible to embed dialog box and features of extensions within tekton dashboard?  tekton resource or extension menus.

[2022-08-11 06:49] mswiderski commented on #2412
essentially this would mean to have more advanced support for custom tasks as automatiko-approval-task is an implementation of custom task.
What we are looking for is to have some standard contract that implementation of custom tasks could provide so dashboard could render it to make the interaction with these tasks more integrated.

I think there were some points on the roadmap to tackle it but n

[2022-08-11 10:49] AlanGreene commented on #2412
Thanks for raising this feature request.

Custom task support is being tracked in https://github.com/tektoncd/dashboard/issues/1970, however no real work has been done on this so far. As you mentioned and as discussed on that issue, a solution for this would likely require custom task developers to provide content to handle display of their runs.

If you have a proposal or any suggestions please a

[2022-08-11 10:49] #2412 closed

[2022-08-11 10:53] AlanGreene commented on #2411
Closing as I have been unable to reproduce the issue and have seen no other reports of this happening.

Feel free to reopen with additional details if it happens again.

[2022-08-11 10:53] #2411 closed

[2022-08-11 11:11] mswiderski commented on #1970
Thanks @AlanGreene for linking to this issue.

One approach I was thinking about was to rely on already existing dashboard extension for custom task that could provide at least the basic view over the custom task. Essentially when pipeline run view is opened in dashboard the custom task extension could be loaded.

If I am not mistaken dashboard already can look at `Run` resource that represents th

[2022-08-15 17:02] AlanGreene commented on #1970
Thanks for the interest and suggestions.

It could but currently does not.

Last week I started working on some simple versions of the list + resource details pages for the Run resource. Initially this will be something similar to the PipelineResources page, providing a basic list of resources, and the details page for a single resource showing basic metadata + params + some other fields common to

[2022-08-16 13:16] mswiderski commented on #1970
Looking forward to see how this will play out. thanks for the details

I believe this is the ultimate goal, so users can consider the pipeline run details page as the main entry point, which I think is already that for "normal" tasks.

Could you provide more info on this? Maybe some links to see what it is and how to enable that?

Fully agree with that, though there will be for sure some that woul

[2022-08-18 16:19] AlanGreene commented on #1970
https://github.com/tektoncd/community/blob/main/teps/0100-embedded-taskruns-and-runs-status-in-pipelineruns.md
It reduces the volume of status information recorded in the PipelineRun by avoiding duplicating the TaskRun status, instead using child references to the TaskRun resources. This also reduces the frequency of updates to the PipelineRun resource, especially for Pipelines with many Tasks. Yo

[2022-08-19 06:31] mswiderski commented on #1970
This is the extension I was referring to https://github.com/tektoncd/dashboard/blob/main/docs/extensions.md

I already have an implementation of it for approval tasks and it works really well. You can see an example [here](https://github.com/automatiko-io/automatiko-approval-task/blob/main/img/2.png).

So the idea I had was to link to that extension from the pipeline run details page based on the

[2022-08-19 09:36] AlanGreene commented on #1970
Ah I understand now, thanks. What does a Run resource look like for your approval task?

This is the UI in the latest nightly build showing a Run resource for the [`wait-task`](https://github.com/tektoncd/experimental/tree/main/wait-task), there's some more work in progress so this isn't the final form yet:
![image](https://user-images.githubusercontent.com/2829095/185590478-fb8f7b79-72ab-4d23-8c8

[2022-08-19 12:35] mswiderski commented on #1970
I am running on the latest released version of the dashboard so don't have that yet.

What's the procedure to install the nightly one? I noticed that images are in gcr so is it enough to just update the xml used for the releases? Currently use this one https://github.com/tektoncd/dashboard/releases/latest/download/tekton-dashboard-release.yaml

[2022-08-19 12:48] AlanGreene commented on #1970
Sorry I wasn't clear, I meant what does the YAML of the Run resource look like (e.g. the output of `kubectl get run <run-name> -oyaml`, to see if / how labels and other fields from your custom task are surfaced on the Run resource.

If you want to install the Dashboard nightly release you can find the release manifests in GCS, e.g.: https://storage.googleapis.com/tekton-releases-nightly/dashboard/

[2022-08-19 12:52] mswiderski commented on #1970
thanks, will provide you that hopefully today and will also try the nightly build too!

[2022-08-19 13:09] mswiderski commented on #1970
So here it is

[code]

and how it looks like on the UI end

![image](https://user-images.githubusercontent.com/904474/185625182-9c8bfe6f-eac2-45d8-9bf9-c937e1ba04b8.png)

[2022-08-19 14:21] AlanGreene commented on #1970
hrmm, thanks for that. It confirmed what I suspected about the labels.

I wonder if labels from the custom task should be propagated to the Run, similar to how labels from a Task / Pipeline are propagated today. This would certainly simplify things from the Dashboard's perspective as we could read info from the Run resource for display in the PipelineRun without having to resolve and retrieve cust

[2022-08-24 06:47] mswiderski commented on #1970
so that would be used to present data from within the Pipeline Run details, right? From my perspective (which could be really biased ;)) having a link to extension provided by custom task would be ideal.

And speaking about extension, what kind of enhancements we could make there? Currently it is very limited to what it can display. It does not even show spec or status information. Could we make t

[2022-08-24 10:30] AlanGreene commented on #1970
Yes the labels could be used as a source of additional information, however I'm not suggesting they would be the only information used / displayed. I agree that allowing a custom task to provide its own custom UI is useful in many cases, we would still need to agree on a mechanism to communicate the correct URL to the Dashboard and other clients consuming / displaying these resources.

[2022-08-24 12:45] afrittoli opened #2421 "Lack of rate-limiting controls"
# Describe the bug

From the Tekton security audit:

# Expected behaviour

# Environment details

- Versions:
   - Tekton Dashboard: v0.24

[2022-08-24 21:37] AlanGreene commented on #2421
Given the Dashboard in full read-write mode should never be exposed publicly and should always be deployed behind a reverse proxy for authentication anyway, it could be argued that `kubectl`, `tkn`, and other clients are also affected by this issue.

For read-only mode there's less of a concern as new runs / related resources cannot be created in this mode, however large numbers of concurrent requ

[2022-08-25 10:34] mswiderski commented on #1970
could we rely on the control that the custom resource always uses label with the name of the run?

[code]

that way knowing the run name we could easily link to the custom resource with label selector. Would that bring any value?

[2022-08-30 23:33] srisek opened #2427 "Display error page when the request to the dashboard contains X-HTTP-Method, X-HTTP-Method-Override, or X-Method-Override in request"
Is there a way to read to the incoming request to the dashboard and restrict / display an error page when the request header contains PUT , DELETE set @ any of the -HTTP-Method, X-HTTP-Method-Override, or X-Method-Override set in the request. This will address one of the issues that got reported on Fortify Web inspect scans where the tekton dashboard was able to process the request instead of erro

[2022-08-31 09:05] afrittoli opened #2428 "Document release processes for Dashboard"
Document what the release process looks like:

- the release manager role
- how version numbers are used and their meaning
- the release frequency
- the steps to perform a major and a minor release

Include the links to existing / new documents in the issue.

[2022-08-31 10:25] AlanGreene commented on #2427
Thanks for raising this issue @srisek. Can you share more details about the issue you're encountering? Is the issue just that this is being flagged by a security scan or have you found an actual bug in how the Dashboard behaves?

Use of HTTP method override is valid in a number of scenarios and many applications respond appropriately. If the Dashboard is handling these headers and behaving correct

[2022-08-31 11:20] afrittoli opened #2429 "OpenSFF Best Practices Badge Program for Dashboard"
Achieve the [OpenSFF Best Practices Badge](https://bestpractices.coreinfrastructure.org/en).
Add the badge to the main project README.

[2022-09-02 09:14] hillbun opened #2432 "can dashboard display pipelinerun tasks diagram similar to gitlab pipeline?"
can dashboard display pipelinerun tasks diagram similar to gitlab pipeline?

[2022-09-02 09:34] AlanGreene commented on #2432
Not yet but it's on the roadmap and we have some work already done and tracked in https://github.com/tektoncd/dashboard/issues/675

You can find some examples of the most recent explorations in https://54h4e.csb.app/
![image](https://user-images.githubusercontent.com/2829095/188110565-e2b15edd-ff2f-4a60-b60a-42adc133743c.png)
![image](https://user-images.githubusercontent.com/2829095/188110632-230

[2022-09-02 10:31] #2432 closed

[2022-09-04 07:02] gsgs-libin opened #2434 "dashboard logout redirect url error"
According to this document: https://github.com/tektoncd/dashboard/blob/main/docs/walkthrough/walkthrough-oauth2-proxy.md

cliek logout redirect to : http://auth.127.0.0.1.nip.io

but normal should be：http://tekton-dashboard.127.0.0.1.nip.io

[2022-09-04 08:40] AlanGreene commented on #2434
Thanks for opening this issue @gsgs-libin. Can you clarify what the problem is?

Are you talking about this section in the walk-through? https://github.com/tektoncd/dashboard/blob/main/docs/walkthrough/walkthrough-oauth2-proxy.md#configuring-dashboard-logout-url

The URL provided is correct, the `/oauth2/sign_out` endpoint is provided by the oauth2-proxy which is accessed at `auth.127.0.0.1.nip.io

[2022-09-05 01:24] gsgs-libin commented on #2434
in my case:

oauth url : tekton-oauth.meitu.com
dash url : tekton-dashboard.meitu.com

1. sign in is ok

![企业微信截图_43c29e3d-18f0-4504-9a18-ad266d8d9032](https://user-images.githubusercontent.com/22513159/188342755-cf0dadec-8a90-4501-965f-0b2849b15aac.png)

2.when logout, and sign again , it will return 404 page (in oauth url)

![企业微信截图_69ae4d87-2bab-413b-bbf5-07114da6986d](https://user-images.githu

[2022-09-05 08:28] AlanGreene commented on #2434
If you want to redirect to the Dashboard login again after completing the logout process you will need to instruct the oauth2-proxy that this is what you want by adding the redirect parameter on the logout URL, for example:

`https://tekton-oauth.meitu.com/oauth2/sign_out?rd=https%3A%2F%2Ftekton-dashboard.meitu.com`

Closing the issue and re-labelling as this is not a bug with the Dashboard, rathe

[2022-09-05 08:28] #2434 closed

[2022-09-05 16:21] marniks7 opened #2437 "Edit and Run"
# Is your feature request related to a problem ?

CI can be used not only for automated operations, but to run any task that user might need.

E.g. I would like to run E2E tests (pipeline) manually with some parameters. They can fail.
It is nice to be able to change one (few) parameters and rerun it once again.
Or another operation, e.g. download backup, upload backup or run deploy.

Tekton can be

[2022-09-05 17:45] AlanGreene commented on #2437
Thanks for the feature request @marniks7. I think this makes a lot of sense and would be great to add. However, as you mentioned I also have some concerns about missing support in the existing Create PipelineRun UI, particularly for workspaces, but also array params.

Adding a 'Rerun with parameters' (naming might need some work, 'parameters' is an overloaded term) makes it more likely that users

[2022-09-06 00:04] marniks7 commented on #1283
Hi,
- [List](https://tekton.dev/docs/pipelines/workspaces/#specifying-volumesources-in-workspaces) of sources to support: PVC, ConfigMap, Secrets, `emptyDir`, VolumeClaimTemplate, projected (alpha), csi (alpha).
- Features: [subPath](https://tekton.dev/docs/pipelines/workspaces/#persistentvolumeclaim) for PVC,
What the use cases for subPath we have? not sure how users should understand what to put

[2022-09-06 01:47] gsgs-libin commented on #2434
thank you,it works, is my configuration error!

[2022-09-06 07:31] AlanGreene commented on #1283
Yes we would need to either apply a filter to the Secret endpoints to return only the basic metadata, provide a custom endpoint specifically for this purpose (and block the default endpoint), or provide free-text input for the Secret name in the UI instead of providing a dropdown list from which the user would select.

[2022-09-09 10:31] AlanGreene opened #2452 "Update React Router to v6"
Update react-router / react-router-dom to the v6 releases. This will likely be a breaking change for consumers of the Dashboard's `@tektoncd/dashboard-components` and `@tektoncd/dashboard-utils` packages and will need to be managed carefully.

See the documentation for details of the changes:
https://reactrouter.com/en/main/upgrading/v5

There is a compatibility layer that should make the update p

[2022-09-09 14:40] AlanGreene commented on #2261
Closing as the PipelineRun, TaskRun, and Run (Custom Task) pages now support the same set of actions as the overflow menus on their respective list pages.

[2022-09-09 14:40] #2261 closed

[2022-09-12 02:50] marniks7 commented on #2437
@AlanGreene , I was thinking about this feature and has another proposal:
`Edit YAML and Run` - this is reliable and advanced solution, which will allow to edit YAML, so user will achieve 'whatever floats user boat'.

One more option `Edit and Run` (just renamed Rerun with Parameters)
To make it reliable it will require deep YAML analyze backend vs UI: comparison for all supported fields by UI. In

[2022-09-15 04:05] jbg opened #2465 "v0.29.x has a regex in the `vendors` chunk which causes a `SyntaxError` in Safari"
# Describe the bug

After upgrading from `v0.28.0` to `v0.29.1`, the Tekton Dashboard fails to load in Safari 16 (a blank page is shown). Disabling cache doesn't help. I haven't tried other browsers.

The following error appears in the JS console:

[code]

Downgrading to `v0.29.0` does not help, but downgrading to `v0.28.0` resolves the problem.

`vendors.4cad84fe7cb5fd068c1a.js` is minified and t

[2022-09-15 04:07] jbg commented on #2465
The issue is probably the lookbehind, which is [not supported by any version of Safari yet](https://caniuse.com/js-regexp-lookbehind).

[2022-09-15 08:53] AlanGreene commented on #2465
Thanks for reporting this @jbg. We had a similar issue earlier in the year and put a fix in place to pin the affected dependency to a supported version: https://github.com/tektoncd/dashboard/pull/2300

That fix is still in place but either doesn't appear to be working any more or this is now coming from a different package. I'll take a look later today, hopefully an easy fix and we'll publish a pa

[2022-09-15 09:39] #2465 closed

[2022-09-15 09:44] AlanGreene commented on #2465
A new patch release with the fix should be available in about an hour, I'll post here once it's ready.

[2022-09-15 10:21] AlanGreene commented on #2465
https://github.com/tektoncd/dashboard/releases/tag/v0.29.2

Let us know if you run into any more issues.

[2022-09-16 16:54] AlanGreene commented on #2437
A YAML input to create a run or edit and rerun an existing one sounds good to me as an escape hatch for unsupported features in the UI or if someone just has a blob of YAML somewhere already that they want to execute.

Can you elaborate on what you mean by this?

[2022-09-18 03:16] jbg commented on #2465
Thanks, it works great!

[2022-09-20 00:26] marniks7 commented on #2437
`unsupported features in the UI` are inevitable, we cannot keep up with all backend alpha features and different backend \ UI versions can be used.
Nevertheless, in order to support `Edit and Run` (without YAML as input), we need to be able to understand if ALL fields in current yaml are supported by current UI or not.
For example, list of supported fields can be described as those:
- `apiVersion`

[2022-09-21 17:10] AlanGreene commented on #2437
I think a good starting point would be to always present the option to switch to 'YAML mode'. That would unblock users who want to use features not currently supported in the UI, and buy us time to figure out the best approach to handle this (new UI, comparison of supported features, detect when UI doesn't support a used feature, etc.).

[2022-09-23 14:53] afrittoli commented on #2429
FYI @tektoncd/dashboard-maintainers - anyone available to drive this to completion?

[2022-09-27 03:10] amyb12345 opened #2495 "Docker Extension for Tekton Dashboard"
# Is your feature request related to a problem ?

No, Docker Extension users have been reaching out to us as they'd like to see an extension for Tekton Dashboard in our Marketplace.

# Describe the solution you'd like

Docker Extensions are a way to integrate additional functionality and tools into Docker Desktop. Developers using Docker Desktop have been requesting that an extension be built for

[2022-09-27 09:28] AlanGreene commented on #2495
Thanks for the feature request @amyb12345. Can you share some more details to help us understand what users are looking for here?

- What features / functionality are users expecting to see in such an extension?
- How is the extension expected to be used in their use case / workflow?
- What are the benefits of an extension over the current development environment?

If possible it would be great to

[2022-09-27 11:44] AlanGreene commented on #2495
Can you please also clarify the following requirements I've found in the Docker Desktop Extensions documentation:

Reading this it sounds like a Tekton Dashboard extension would need to provide an entirely new UI to comply with these requirements, or at the very least invest significant effort in producing and maintaining a custom theme compatible with the Docker Desktop Extension styleguide.

Hav

[2022-09-28 00:52] amyb12345 commented on #2495
@AlanGreene  I've reached out to the users requesting this extension and asked them to contribute to this issue answering the questions that you've outlined above!  I definitely agree that we'll have a better end product if they contribute rather than having me act as a relay!

As for the request, it is not driven by Hacktoberfest.  In product, we have a link for users to make suggestions on what

[2022-10-02 20:19] afrittoli commented on #2429
[![CII Best Practices](https://bestpractices.coreinfrastructure.org/projects/6543/badge)](https://bestpractices.coreinfrastructure.org/projects/6543)

[2022-10-03 03:02] marniks7 commented on #2437
Hi @AlanGreene,
Could you please check the solution. If no objections - I can implement it.

### Create PipelineRun (TaskRun, Run) as YAML
1. Generate models for Tekton Run(s) from CRDs or OpenAPI schema using [kubernetes-models-ts](https://github.com/tommy351/kubernetes-models-ts)
2. Leave only fields that are supported by UI?!
3. Change `CreatePipelineRun.js` to use those models
4. Use [Monaco-E

[2022-10-04 14:36] AlanGreene commented on #2429
Remaining sections:

- Basics
  - > The project MUST provide reference documentation that describes the external interface (both input and output) of the software produced by the project.

    We have documentation for the Dashboard API + extensions, and the getting started tutorial describes the core features of the UI. Is this sufficient?
- Quality
  - PR open to add golangci-lint https://github

[2022-10-04 16:36] AlanGreene commented on #2428
See https://github.com/tektoncd/pipeline/pull/5586 for reference.

We currently maintain a list of releases at https://github.com/tektoncd/dashboard/blob/3e024f742d957bea83f23c0f2fb8a38ebb4b9b6c/docs/README.md#which-version-should-i-use and document legacy releases in https://github.com/tektoncd/dashboard/blob/3e024f742d957bea83f23c0f2fb8a38ebb4b9b6c/docs/legacy-releases.md. We'll need to update t

[2022-10-05 07:36] pawelkopka commented on #675
Hi, is there any eta?

[2022-10-07 09:32] AlanGreene commented on #2452
Recent React Router v5 releases have some fixes for React 18 compatibility so we should try updating React first and see how that goes.

Our previous attempt at updating React Router using the compatibility layer ran into some issues but with most other dependencies now updated, and assuming the React 18 update works as expected, it's time to try this again.

If the compatibility layer doesn't wor

[2022-10-10 09:09] #2428 closed

[2022-10-12 04:47] gsgs-libin commented on #1283
In my pipeline, different tasks use different workspaces and serviceaccounts, so hopefully UI will be able to support it as well.
like this:
[code]

[2022-10-12 16:53] WTPascoe opened #2526 "Log persistence documentation is out of date and configuration does not work with current version of operator"
I am unable to helm install 3.6.0 of the logging operator on EKS running Kubernetes 1.23 - this fails with the following. Not unexpected since this release is 2 years old now :)

[code]

Installing `3.17.9` with helm works correctly, but as soon as the ClusterFlow is created with the config at https://github.com/tektoncd/dashboard/blob/main/docs/walkthrough/walkthrough-logs.md , the logging-operat

[2022-10-16 14:42] AlanGreene commented on #2526
Thanks for raising this issue @WTPascoe. I've reclassified it as a documentation issue since it's not a bug with the Dashboard.

The walkthrough specifies the versions of the tools used, including the Kubernetes version known to work (currently 1.21). Running through the walkthrough as provided works as expected.

A PR to update the instructions to use more current versions, or to change it to poi

[2022-10-21 13:51] AlanGreene commented on #2452
PR #2542 opened to add the compatibility layer and start migrating to the new API. All routes have been converted to use the compatibility layer, including hooks from the new API.

Remaining:
- convert `<Route children>` to `<Route element>`
  - header already using this approach and working as expected, only minor inconvenience was that the `children`  render prop approach is no longer supported

[2022-10-26 07:42] chmouel opened #2552 "tekton-dashboard: is forbidden: violates PodSecurity"
# Expected behavior

cannot run dashboard

# Actual behaviour

Deployment shows this

[code]

# Steps to reproduce the bug

1. Installed kind, with 1.24 server, 1.25 client
2.installed dashboard from  	https://storage.googleapis.com/tekton-releases/dashboard/latest/tekton-dashboard-release.yaml

3. % k get deployments.apps -n tekton-pipelines tekton-dashboard -o yaml

# Additional info

- Kubernet

[2022-10-26 12:57] AlanGreene commented on #2552
@chmouel Thanks for reporting this. I haven't been able to reproduce the issue so suspect there's a version / config difference at play.

The Dashboard dev scripts have been using Kubernetes 1.24 for a while now and I haven't seen this issue before.

This is what I'm using locally at the moment: https://github.com/tektoncd/dashboard/blob/0c6041f19c73b14e9608d0f95048ef86fbe49eff/scripts/prepare-kin

[2022-10-26 13:25] AlanGreene commented on #2552
Ah I see the label `pod-security.kubernetes.io/enforce: restricted` was added to the `tekton-pipelines` namespace in Pipeline master recently: https://github.com/tektoncd/pipeline/pull/5652/files#diff-d98ea73731da6e49a8552d6917d796aab6613198b269eda1b4bbfb4b53d90111R22

To unblock yourself you could temporarily remove that label:
`kubectl label namespace tekton-pipelines pod-security.kubernetes.io/

[2022-10-26 13:29] chmouel commented on #2552
No worries I'll wait for the update thanks for investigating

[2022-10-26 13:40] AlanGreene commented on #2552
Doesn't look like this is going to be the quick fix I hoped for, I'll need to dig into it more but likely won't have time until tomorrow at the earliest.

[code]

[2022-10-26 14:58] AlanGreene commented on #2552
TIL: SecurityContext and PodSecurityContext overlap in their supported fields but are not the same…

This seems to do the trick but will need more testing tomorrow.

[code]

[2022-10-27 16:43] AlanGreene commented on #2552
The next nightly release will have the change above. Doc and walk-through updates to follow…

[2022-10-30 10:45] AlanGreene commented on #2495
Closing due to lack of feedback from users. We may revisit this in future.

[2022-10-30 10:45] #2495 closed

[2022-11-01 14:10] AlanGreene commented on #2552
Fix released in https://github.com/tektoncd/dashboard/releases/tag/v0.30.0

[2022-11-01 14:10] #2552 closed

[2022-11-05 13:52] CJCShadowsan commented on #2552
Just a heads-up - This also exists inside tekton-triggers. I'll go and raise an issue now...

[2022-11-05 14:02] CJCShadowsan commented on #2552
https://github.com/tektoncd/triggers/issues/1479 refers

[2022-11-22 14:10] AlanGreene commented on #2410
This is something we still want to do, freezing so it doesn't get auto-closed.
/lifecycle frozen

[2022-11-22 18:47] darktempla opened #2595 "Kubernetes Managed Fields - Hide"
# Feature request

When viewing a Tekton resource (Task, Pipeline etc) in the UI using the YAML tab hide the `managedFields` attributes.

This would also have an option in the `Settings` section to choose if you wish to hide or not.

# Use case

Makes the UI cleaner.
Removes noise.

# Alternatives

Rather than hiding I have seen other apps just collapse the `managedFields` into a single line which

[2022-11-22 19:18] AlanGreene commented on #2595
Thanks for raising this issues @darktempla. We've already made a number of changes in v0.29.0 and v0.30.0 to remove `managedFields` anywhere we display YAML. What version of the Dashboard are you seeing this on?

[2022-11-22 19:30] darktempla commented on #2595
Ah okay right thanks for the prompt reply @AlanGreene.
So I thought I was running the latest and greatest.
Seem if you install via the Tekton operator by default is not using the latest version of the dashboard.

I will install the latest version and enjoy this feature. Thanks.

<img width="703" alt="image" src="https://user-images.githubusercontent.com/4919068/203404086-f0e7196b-1808-4847-af78-7e

[2022-11-22 19:30] #2595 closed

[2022-11-22 19:37] AlanGreene commented on #2595
Ah ok, glad to help 😸

[2022-11-23 19:19] JeromeJu opened #2598 "v1 Release Dashboard Support"
### Feature request

V1 CRDs are released in https://github.com/tektoncd/pipeline/pull/5579 and this issue tracks down the according requests for the v1 support in dashboard.

[2022-11-23 19:20] JeromeJu commented on #2598
/help wanted

[2022-11-23 19:20] JeromeJu commented on #2598
/help

[2022-11-23 23:16] AlanGreene commented on #2598
The Dashboard will move to requesting v1 Pipeline resources when the minimum supported Pipeline release serves v1 resources, so that's likely another 3 or more releases.

When the time comes the actual code change should be relatively small, updating the default version used on requests from `v1beta1` to `v1` in src/api/utils.js getTektonAPI, and overriding this for any resources remaining at `v1b

[2022-11-24 12:08] AlanGreene commented on #2421
We should document an example for this, I'll try to put something together before end of year.
/lifecycle frozen

[2022-11-24 12:26] afrittoli commented on #2598
I think it may be confusing for users, if they install the latest pipeline and dashboard, convert their resources to v1 and see the v1beta1 resources through the dashboard.

Is it possible to customise the behaviour of dashboard based on the version of pipeline installed?
If so, dashboard could start displaying `v1` resources if the version of pipeline installed is at least the one where we start

[2022-11-24 13:19] AlanGreene commented on #2598
It's the same process we followed for the move from `v1alpha1` to `v1beta1`. The conversion works in both directions, so no matter which version we choose it may cause confusion for some users, for example If I'm still using `v1beta1` resources I might be surprised to see them as `v1` in the Dashboard.

Maybe, but it would not be a simple task. The Dashboard currently assumes it's dealing with a s