[2020-08-26 09:20] AlanGreene commented on #1697
Thanks for the issue @yamaken1343, can you share more information about the steps / commands that are failing on Windows?

Examples of the commands you're running and the error output would be very helpful.

[2020-08-26 09:52] eddycharly opened #1698 "When streaming logs, if the connection is closed it doesn't take care of reconnecting"
# Describe the bug

When streaming logs, if the connection is closed (potentially because no activity during a while) it doesn't take care of reconnecting.

# Expected behaviour

The connection reconnects, polls the logs again and restarts streaming.

# Steps to reproduce the bug

Run a job that doesn't write to the stream for a long time.

# Environment details

- Kubernetes Platform: kubernetes

[2020-08-26 09:52] eddycharly commented on #1698
/assign

[2020-08-27 02:17] cezarguimaraes opened #1702 "Rerunning a pipeline ignores taskRunSpecs"
# Describe the bug

`PiepelineRuns` triggered through the Dashboard do not mirror the original `PipelineRun`'s `taskRunSpecs`.

If I had to guess, this is related to the fact that one can't specify `taskRunSpecs` when creating a `PipelineRun` through the Dashboard either.

# Expected behaviour

The pipeline run triggered via a rerun should have the same `taskRunSpecs` as the original one.

# Steps

[2020-08-27 08:38] yamaken1343 commented on #1697
## Errors in `npm ci`

Errors in `npm ci`, the following errors occurred.
The user only runs `npm ci`.
Then `lerna ERR! npm run prepare stderr: 'NODE_ENV' is not recognized as an internal or external command, operable program or batch file.` occurred.

We think the cause is as the following.
When `npm-ci` is running, `npm run bootstrap` is executed after the module installation is finished.
In the

[2020-08-27 12:47] eddycharly commented on #1702
Thanks for reporting the issue @cezarguimaraes .

It looks like we need to clear the `tekton.dev/pipeline` label when creating the rerun, the `PipelineRun` gets created but immediately deleted by the pipeline controller.

@vdemeester is there a requirement that the `tekton.dev/pipeline` label matches the name of the pipeline run ?

[2020-08-27 12:47] eddycharly commented on #1702
/assign

[2020-08-27 13:46] vdemeester commented on #1702
`tekton.dev/pipeline` should be automatically added to the controller based on the pipeline it runs. So I don't think it has to match the name of the pipeline run, it doesn't even need to be there. I think deleting it when re-running (and thus copying the run spec) is a good fix :+1:

[2020-08-27 13:49] eddycharly commented on #1702
The question is more like, can it cause trouble if it is present and set to a value that references another pipeline run ?

In this case it looks like it is set to a reference of another pipeline run that is in failed state, the pipeline run gets created and immediately deleted right after (maybe the label confuses the controller ?).

[2020-08-28 07:17] vdemeester commented on #1702
Yep it might confuse the controller :sweat:

[2020-08-28 07:18] eddycharly commented on #1702
Thanks ! That’s good to know.

[2020-08-28 11:21] #1698 closed

[2020-08-28 12:23] #1702 closed

[2020-08-28 12:39] AlanGreene commented on #1693
Closing as this is not a feature that will be supported by the core dashboard.

[2020-08-28 12:39] #1693 closed

[2020-08-28 12:55] AlanGreene commented on #1697
@yamaken1343 thanks so much for the detailed update.

1. cross-platform support for the npm scripts
  I will update this to ensure we're correctly setting environment variables in a cross-platform compatible way

2. line endings
  as you mentioned, this can be resolved using git config
  https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#:~:text=core.autocrlf
  git recommends setting

[2020-08-28 12:56] AlanGreene commented on #1697
/assign

[2020-08-28 13:18] yamaken1343 commented on #1697
Thanks @AlanGreene.
The thing is, I already have the code to solve 1.
Could you assign it to me?
It's on the company's computer, so I will create a PR after Monday.

[2020-08-28 13:49] AlanGreene commented on #1697
Sorry I didn't see your message until after I opened the PR: https://github.com/tektoncd/dashboard/pull/1707

Is this similar to the change you made?

[2020-08-28 14:20] yamaken1343 commented on #1697
No problem.
I used `run-script-os`, but that would be redundant.
I think your code is cleaner!

[2020-08-31 14:33] eddycharly opened #1708 "Steps are not ordered correctly and message is therefore incorrect"
# Describe the bug

In the exemple below, `make-package` should come after `make-unit-tests`:
![image](https://user-images.githubusercontent.com/47974576/91731782-962fc400-eba7-11ea-83cd-a9c9835d1950.png)
The `make-unit-tests` step actually failed and the `make-package` step didn't run at all.

In the screen shot, it looks like the opposite.

[2020-08-31 15:06] eddycharly commented on #1708
But time stamps on the pipeline run status are not ordered correctly, maybe it's an issue with pipelines. IIRC i'm using v0.11 or somethings like this.

[2020-08-31 16:32] AlanGreene commented on #1708
This is a known issue with older version of Tekton Pipelines. It's fixed by https://github.com/tektoncd/pipeline/pull/2455 which is included in v0.13.0 or later.

[2020-08-31 19:09] eddycharly commented on #1708
Thanks, i will try updating our Tekton Pipelines deployment.

[2020-09-01 09:17] #1697 closed

[2020-09-01 15:26] cocktailer commented on #1303
I am getting the same error while adding a task.

kubectl apply -f https://storage.googleapis.com/tekton-releases/pipeline/previous/v0.15.2/release.yaml
 kubectl apply --filename https://storage.googleapis.com/tekton-releases/dashboard/previous/v0.9.0/tekton-dashboard-release.yaml
kubectl apply -f https://storage.googleapis.com/tekton-releases/triggers/previous/v0.7.0/release.yaml
![Screenshot 202

[2020-09-03 08:26] mfuxi commented on #692
I would suggest maybe starting with the most simple approach and it's to give the user the ability to add local users to support some sort of control who can access the dashboard and afterwards implement [dex](https://github.com/dexidp/dex/blob/master/Documentation/kubernetes.md) maybe similar how it was done in [ArgoCD](https://github.com/argoproj/argo-cd/) where you can access the application wi

[2020-09-08 11:48] eddycharly opened #1713 "Add theming support"
This issue tracks the addition of theming support to the Tekton Dashboard.

Right now, the Tekton Dashboard uses a somewhat dark theme, it would be nice to be able to switch between light and dark themes.
Ideally, the theme chosen by the user should be recorded so that the Dashboard always show the same theme when started.

There was no previous work around this feature but i'm sure @AlanGreene wi

[2020-09-08 11:56] eddycharly opened #1714 "Add PipelineRun diagram support"
This issue tracks the addition of PipelineRun diagram support to the Tekton Dashboard.

Right now, the Tekton Dashboard does not show the `PipelineRun` diagram.
The diagram view could be displayed in a separate tab.

There was some [previous work in this area](https://github.com/tektoncd/dashboard/issues/675), some components already exist to extract/show a digram.
They will probably need to be up

[2020-09-08 12:02] AlanGreene commented on #1713
The Carbon Design System which provides the base components used by the Dashboard does not currently have full theme support, not all components are fully using the Carbon colour tokens and there are issues around dynamically switching themes. The theme is built into the component styles and not easily separated. We're using [Gray 10](https://www.carbondesignsystem.com/guidelines/color/usage) with

[2020-09-08 13:14] shinji62 opened #1715 "External logs not working"
Hello,
I follow and use the exact same provided example to use with the logging-operator last version  but it doesn’t work.

I am wondering if the provided yaml are correct, not sure the escaping on the ‘ouputs’ one is correct, and if there is any step that wasn’t share.

Error is the config is not valid .. so I am really wondering was is wrong ..

I   Guess @eddycharly worked on this topic.
Thank

[2020-09-08 13:23] eddycharly commented on #1715
Hey, let me try, maybe the `logging-operator` helm chart changed something...

[2020-09-08 13:25] eddycharly commented on #1715
@shinji62 at what point are you having troubles ?

[2020-09-08 13:30] shinji62 commented on #1715
Pretty much when I apply the S3 config  the operator just complain the configuration is not valid then the fluentd pod is failing and that’s all.

[2020-09-08 13:34] eddycharly commented on #1715
I observe an issue too `2020-09-08 13:32:59 +0000 [error]: config error file="/fluentd/etc/generated.conf" error_class=Fluent::ConfigError error="Missing <match> sections in <label @ee48ddc4afe13369031ac8183198a19b> section"`

[2020-09-08 13:35] eddycharly commented on #1715
breaking change from the `v3.6.0` https://github.com/banzaicloud/logging-operator/releases/tag/3.6.0

Breaking changes ⚠️ outputRefs is now deprecated!
For clarity we introduce:

use globalOutputRefs for ClusterOutputs
use localOutputRefs for Outputs

[2020-09-08 13:40] eddycharly commented on #1715
I will update the walkthrough, you can use `3.5.0` until then.

[code]

[2020-09-08 13:40] shinji62 commented on #1715
That could be the issue ...

[2020-09-08 15:24] AlanGreene commented on #1708
@eddycharly have you had a chance to test this with a newer Tekton Pipelines version?

[2020-09-08 15:39] eddycharly commented on #1708
Not yet, will do my best to do it tomorrow.

[2020-09-10 06:58] eddycharly commented on #1670
Closing, not getting feedback in the operator issue.

[2020-09-10 06:58] #1670 closed

[2020-09-10 11:06] #1715 closed

[2020-09-13 00:42] mhaddon opened #1722 "Allow PipelineRuns created by PipelineRun -> Create to embed ownerReference information."
### Feature request

For compatibility with ArgoCD it will need to know the owner of created resources: https://github.com/tektoncd/pipeline/issues/3202

Otherwise they will be automatically pruned.

### Use case

Either as a default when creating a pipelinerun or a tickbox option.

[2020-09-15 13:53] bkmeneguello opened #1723 "Sometimes PipelineRun view fails with "Error loading page e.sort is not a function""
# Describe the bug

As far as I could understand, Condition checks sometimes don't have "status":
![image](https://user-images.githubusercontent.com/1322552/93218912-27bf3a00-f741-11ea-98b7-826dffe512db.png)

This causes the [sortStepsByTimestamp](https://github.com/tektoncd/dashboard/blob/44df2f3b16913009e2d11b76309b10ad04c83563/packages/components/src/components/TaskTree/TaskTree.js#L54) to fail

[2020-09-21 15:58] AlanGreene commented on #1723
@bkmeneguello thanks for reporting and for your investigation. Is this consistently reproducible? Are you only seeing this while the PipelineRun is in progress or are you also seeing it once it's complete?

I can intermittently reproduce something similar by opening the PipelineRun details page immediately once a new PipelineRun is created and am currently testing a fix for this. Any additional in

[2020-09-21 15:58] AlanGreene commented on #1723
/assign

[2020-09-23 10:55] AlanGreene commented on #1723
This should be fixed by https://github.com/tektoncd/dashboard/pull/1724 which is included in the latest nightly release. Feel free to reopen the issue with additional details if you're still seeing it.

[2020-09-23 10:55] #1723 closed

[2020-09-25 02:03] kobaji opened #1727 "Implement i18n for tekton dashboard"
Hi.
We believe that it's meaningful to internationalize the Dashboard, which will make Tekton easier to use for non-native people.
For this reason, we [proposed internationalization](https://app.slack.com/client/TJ45YV83X/CHTHGRQBC/thread/CHTHGRQBC-1597822056.045700) in Slack before.
Thank you for your response at that time.
We create this issue according to your reply.

There are two things we wa

[2020-09-25 10:43] AlanGreene commented on #1727
1. we don't have a formal translation process documented for the community but can certainly improve the existing development docs to include more information about the expected format etc. Thank you for the links to those other processes, I'll review them and see what makes sense to include for the dashboard.

2. we already have https://github.com/tektoncd/dashboard/blob/master/src/nls/messages_j

[2020-09-26 07:05] didier-durand opened #1729 "number of steps in pipeline runs view"
Hello,

Possible to add the number of steps executed in pipeline run view?

I'd see it for example before or after "Duration" in screenshot below. Maybe they should be displayed as X/Y where X is the number of successful steps and Y the total.

Thanks!

Didier

<img width="1413" alt="image" src="https://user-images.githubusercontent.com/2927957/94332653-40e4a800-ffd7-11ea-887f-b6ca1c9094b2.png">

[2020-09-28 10:09] sunnoy opened #1730 "how container logs though websocket to webui"
i see this code
https://github.com/tektoncd/dashboard/blob/e27e89b430d96fc04f72d0b76b576cb1365e7e56/pkg/controllers/utils/controller.go#L28

it just give channel obj ，not container logs

[2020-09-28 11:36] AlanGreene commented on #1729
Thanks for the request @didier-durand. We already provide this information in a number of places.
![image](https://user-images.githubusercontent.com/2829095/94427054-695ed480-0186-11eb-9ebd-2221eb2a5e9d.png)

This is the same message displayed on the PipelineRun details page
![image](https://user-images.githubusercontent.com/2829095/94427205-9f03bd80-0186-11eb-9115-1499215f2008.png)

The message c

[2020-09-28 11:54] AlanGreene commented on #1730
@sunnoy we do not use the websocket connection to retrieve the logs. Instead there are 2 modes available:

1. by default the UI polls the logs API by periodically making a GET request to the logs endpoint for the container while the step is in progress and the logs view is open

2. streaming mode makes a long-lived GET request to the logs endpoint with the [`follow` query param](https://kubernetes

[2020-09-28 14:03] didier-durand commented on #1729
Hi @AlanGreene,

I have seen that I can zoom on a PipelineRun via a click to get a list of tasks that were run as part of this pipeline. It's ok when you have a few pipelines. But, when you've many of them, you want a synthetic view of each pipeline at top level. That's why I believe that the PipelineRuns view should also provide the total number of tasks and the successful ones at top level in th

[2020-09-28 14:42] AlanGreene commented on #1417
Fixed in pipelines 0.16.0 (PR 3088)

[2020-09-28 14:42] #1417 closed

[2020-09-29 02:29] sunnoy commented on #1730
so we use websoket publish obj to webUI  useing display ？
i am new  golanger
one more thing，the broadcaster design is so beautiful ！
think you answer ！

[2020-09-29 08:14] Fabian-K opened #1731 "Extensions for cluster-scoped CRD should ignore the namespace selector"
# Describe the bug

We have registered a cluster-scoped CRD to the dashboard. This works fine as long as the Namespace selector in the menu on the left is set to "All Namespaces". When a namespace is selected and we navigate to the Extension, it shows an error because it tries to load all CRD instances for the selected namespaces (404 is returned by the api server in that case).

# Expected behavi

[2020-09-29 08:15] Fabian-K opened #1732 "Extensions for cluster-scoped CRD should ignore the namespace selector"
# Describe the bug

We have registered a cluster-scoped CRD to the dashboard. This works fine as long as the Namespace selector in the menu on the left is set to "All Namespaces". When a namespace is selected and we navigate to the Extension, it shows an error because it tries to load all CRD instances for the selected namespaces (404 is returned by the api server in that case).

# Expected behavi

[2020-09-29 08:18] #1732 closed

[2020-09-29 10:39] AlanGreene commented on #1730
Yes we use the websocket to send the Tekton / other Kubernetes resource updates to the UI, so for example [the PipelineRun controller](https://github.com/tektoncd/dashboard/blob/e27e89b430d96fc04f72d0b76b576cb1365e7e56/pkg/controllers/tekton/pipelinerun.go#L28) will send updates to the UI for any PipelineRun resource that is created, deleted, or updated.

Glad I could help! 😸

/close

[2020-09-29 10:39] #1730 closed

[2020-09-29 13:18] AlanGreene commented on #1731
Thanks for reporting, I'm taking a look at this now and have a partial fix. I'm testing the remaining changes now and should have a PR ready later today / tomorrow.

/assign

[2020-09-29 15:37] #1731 closed

[2020-09-29 18:57] AlanGreene commented on #1552
/assign

[2020-09-30 10:13] #1580 closed

[2020-09-30 10:31] AlanGreene commented on #1602
Secrets should be used for any sensitive information. Passing the values as params is insecure as they're exposed in clear text in a number of places and users with read access to the PipelineRuns, TaskRuns, containers, etc. by any means (e.g. kubectl, tkn) can easily view them.

Closing as this is not something the dashboard will address.

[2020-09-30 10:31] #1602 closed

[2020-09-30 10:36] #965 closed

[2020-09-30 12:51] eddycharly commented on #1708
Let's close this, i didn't have a chance to test it and probably won't come back to it anyway.

/close

[2020-09-30 12:51] #1708 closed

[2020-10-01 11:32] #1552 closed

[2020-10-02 11:42] drsm79 opened #1743 "Clarify that repository URLs must be hosted on github when importing them"
# Describe the bug

I can paste a valid URL to a repository hosted on, e.g. gitlab, and the UI fails to import with "Please submit a valid URL". There is nothing to say that the repo must be hosted on github, but that's the _actual_ requirement:

https://github.com/tektoncd/dashboard/blob/9a0a888603386f6655ba8d9a90365c1bae701963/src/containers/ImportResources/ImportResources.js#L55-L57

# Expected

[2020-10-02 12:55] AlanGreene commented on #1743
@drsm79 thanks for reporting this. When the Import Resources functionality was added we only supported GitHub, however I no longer see any reason for this restriction and have successfully imported your sample Pipeline on a modified dashboard build.

I'll make the required updates and open a PR shortly.

/assign

[2020-10-02 18:01] AlanGreene commented on #1743
PR open to remove the GitHub restriction from the UI validation since the Git PipelineResource now actually supports other providers, not just GitHub: https://github.com/tektoncd/dashboard/pull/1744

[2020-10-02 18:05] AlanGreene commented on #572
I think it would be a good idea to consider this along with https://github.com/tektoncd/dashboard/issues/972 and https://github.com/tektoncd/dashboard/issues/1445 to ensure we provide a good experience and don't introduce too many different mechanisms for accessing errors / logs.

[2020-10-02 18:05] AlanGreene commented on #972
I think it would be a good idea to consider this along with https://github.com/tektoncd/dashboard/issues/572 and https://github.com/tektoncd/dashboard/issues/1445 to ensure we provide a good experience and don't introduce too many different mechanisms for accessing errors / logs.

[2020-10-02 18:05] AlanGreene commented on #1445
I think it would be a good idea to consider this along with https://github.com/tektoncd/dashboard/issues/572 and https://github.com/tektoncd/dashboard/issues/972 to ensure we provide a good experience and don't introduce too many different mechanisms for accessing errors / logs.

[2020-10-02 18:07] drsm79 commented on #1743
Nice one :)

[2020-10-02 18:11] AlanGreene commented on #675
Next steps:
- review compatibility with current pipelines releases
  - any impact on how links in the DAG are constructed based on new features?
  - probably OK to ignore Conditions since they're deprecated and being replaced by 'when expressions'
  - how should we display retries? Worth considering this along with https://github.com/tektoncd/dashboard/issues/1445, may have some impact
- resolve s

[2020-10-02 18:17] AlanGreene commented on #708
Updated description with current content.

The folders containing only styles should be relatively simple to address, we can move these to `src/scss` and ensure any references are correctly updated.

The content in `src/components/CreateSecret` should most likely be moved to `src/containers/CreateSecret` as a first step, any reusable components that make sense extracted to `packages/components`, a

[2020-10-02 18:18] AlanGreene commented on #727
No further work planned for either secrets or service accounts at the moment. We can revisit these designs in future if this changes.

/close

[2020-10-02 18:18] #727 closed

[2020-10-02 18:19] AlanGreene commented on #733
No further work planned for either secrets or service accounts at the moment. We can revisit these designs in future if this changes.

/close

[2020-10-02 18:19] #733 closed

[2020-10-02 18:19] AlanGreene commented on #773
No further work planned for either secrets or service accounts at the moment. We can revisit these designs in future if this changes.

/close

[2020-10-02 18:19] #773 closed

[2020-10-02 18:25] AlanGreene commented on #932
Revisiting the comment above, relevant piece for sorting in Pipeline spec order:
[code]

The line:
`return runs.length === holder.length ? holder : runs;`
is problematic, as when the additional TaskRuns due to Conditions are present this can result in a lot of reordering while the PipelineRun is in progress and is quite annoying for users.

We should review the order in PipelineRun.status.taskRuns

[2020-10-02 18:33] AlanGreene commented on #885
1. Where possible we should remove code that sorts / filters tasks or steps and instead rely on Pipelines to provide accurate information. This should allow us to simplify quite a bit in these 2 components and make it easier to extract common code.

2. There have been a number of changes made to the PipelineRun / TaskRun and their child components that may affect this.
It may be possible to remove

[2020-10-02 19:12] AlanGreene commented on #1304
The following 2 items will be addressed by PR https://github.com/tektoncd/dashboard/pull/1745:
- Create PipelineResource not using globally selected namespace: #1031
- Create Secret not using globally selected namespace: #975

[2020-10-02 19:16] AlanGreene commented on #1619
The rerun TaskRun API should be handled via the frontend rather than following the existing pattern used by rerun PipelineRun (which will be moved to the frontend code soon). We already have all of the necessary information available on the page where the action is being triggered.

[2020-10-02 20:18] #1743 closed

[2020-10-05 00:18] kobaji commented on #1727
Thank you very much for your kind advice, @AlanGreene !!

Our team are thinking of implementing this feature.
Hope we could issue a PR within a few weeks.

Should you have any requests for us (for example: discuss before starting implementation), please suggest me.
Thanks a lot.

[2020-10-05 14:37] AlanGreene commented on #1619
/assign

[2020-10-07 12:56] #1619 closed

[2020-10-07 13:30] AlanGreene commented on #327
Design notes:
- default behaviour: should it follow logs by default, and stop when the user scrolls or should it be opt-in?
- should there be some UI control to toggle the following?
- if there is a UI control, when should it be displayed and where should it be located? Should it affect just the current logs or persist globally?
- review common patterns in existing solutions for reference.

Invest

[2020-10-07 13:41] AlanGreene commented on #497
The dashboard project now provides a series of walkthroughs to guide users in setting up the dashboard for some common scenarios, including setting up a fully working test environment using kind that has Pipelines, Triggers, and Dashboard installed and ready to go.

Since this issue was created we've improved the dashboard's error handling, surfacing more useful information to the user in case of

[2020-10-07 13:41] #497 closed

[2020-10-07 13:53] AlanGreene commented on #1127
We now have details pages for all of the listed resource types so there's nothing preventing us from adding this.

In fact, it was already added for Conditions in https://github.com/tektoncd/dashboard/pull/1465#issuecomment-638843622
The way it was implemented should automatically surface this field for other resource types too if present.

Verify and close...

/assign

[2020-10-07 13:53] AlanGreene commented on #1215
/lifecycle frozen

[2020-10-07 13:58] AlanGreene commented on #1304
PR #1745 was merged and is included in the Dashboard 0.10 release.
The only remaining items for this issue now are:
- move the namespace dropdown to the list page header (i.e. don't display it on details pages)
- clean up the redirect code in SideNav

[2020-10-07 14:07] AlanGreene commented on #1550
Import Resources is currently using a git PipelineResource. We may want to consider removing this and moving to an alternative implementation given PipelineResources are still alpha and may be deprecated and removed in a future Pipelines release.

There's a [`git-clone` Task](https://github.com/tektoncd/catalog/tree/master/task/git-clone) in the catalog that was designed as a replacement for the g

[2020-10-07 14:48] AlanGreene commented on #1127
Confirmed this was addressed by #1745 and is available in Dashboard v0.7 or later.

/close

[2020-10-07 14:48] #1127 closed

[2020-10-08 09:48] jtestard opened #1752 "Cleanup completed pipeline and tasks runs through dashboard"
# Is your feature request related to a problem ?

My dashboard is growing very large (lots of completed tasks) and I have no way to clean it up.

# Describe the solution you'd like

I'd like a way to delete all completed tasks runs and pipeline runs.

# Describe alternatives you've considered

I know there must be a formula to do this through `kubectl` but I haven't spent the time to construct it.

[2020-10-08 10:50] eddycharly commented on #1752
Hi @jtestard !
It’s not really a dashboard specific issue. I think we have an example of cleaning up script in the plumbing repo. Let me check...

[2020-10-08 10:54] jtestard commented on #1752
My point is if someone uses only the tekton dashboard, this is one of the
tasks that quickly becomes necessary

Le jeu. 8 oct. 2020 à 12:50, eddycharly <notifications@github.com> a écrit :

[2020-10-08 11:10] eddycharly commented on #1752
Couldn’t find it, maybe @afrittoli knows the answer better ;)
At some point it will be an issue for every component. No cleanup means longer reconciliation time at startup etc... but I agree that it manifests quickly with the dashboard.

[2020-10-08 11:13] jtestard commented on #1752
In general, at my company we are using tekton as early adopters because we are excited by the technology, but we are facing a number of problems that make tekton not quite "production-ready" yet. Happy to chat more about this. This issue is one of them.

[2020-10-08 11:19] AlanGreene commented on #1752
Similar requests have come up before. The `tkn` CLI provides some help for this. For example:

`tkn pr delete -p <pipeline-name> --keep 2`

would delete all PipelineRuns of the specified Pipeline, keeping only the 2 most recent ones.

This is the approach used in our plumbing repo, see https://github.com/tektoncd/plumbing/blob/698db03c9f9888c46a7219d9a40c6b2f24763d51/tekton/resources/cd/cleanup-te

[2020-10-08 11:30] eddycharly commented on #1752
IMO, tekton is un opinionated and you should not expect tekton to do things other than what it is supposed to do.

Some will use the dashboard while others won’t, some will want to keep everything around while some need some sort of garbage collection. Tekton won’t do anything on your back, maybe it should be more clear so that users don’t get surprised.

We often see similar requests though and i

[2020-10-08 11:30] eddycharly commented on #1752
IMO, tekton is un opinionated and you should not expect tekton to do things other than what it is supposed to do.

Some will use the dashboard while others won’t, some will want to keep everything around while some need some sort of garbage collection. Tekton won’t do anything on your back, maybe it should be more clear so that users don’t get surprised.

We often see similar requests though and i

[2020-10-08 13:11] jtestard commented on #1752
This is interesting to us.

Getting out of scope for this issue, but as long as there's an ecosystem in which add-ons can thrive, we could build our own for this kind of purpose as well.

[2020-10-13 10:58] AlanGreene opened #1755 "Wrong highlight colour on running task when selected and blurred"
# Describe the bug

When a PipelineRun is running and the user selects a currently running Task in the UI,
it is highlighted with a blue background. When focus moves to another element (e.g.
clicking on a step within that Task), the background changes to a light grey making the
pipelineTaskName very difficult to read.

![image](https://user-images.githubusercontent.com/2829095/95852169-39e5c580-0d

[2020-10-13 11:25] AlanGreene opened #1756 "Update readme with links to v0.10.1 release"
Update the ['Read the docs'](https://github.com/tektoncd/dashboard#read-the-docs) section of the readme to include an entry for v0.10.1

[2020-10-13 11:37] sunnoy opened #1758 "question：how dashboard proxy request to kubernetes apiserver in code ？"
i see the code
https://github.com/tektoncd/dashboard/blob/8b1f04a48fcb116352a17afa84ca9fc9efd8bcd5/pkg/utils/proxy.go#L10

it is just http client methed and how to handle x509: certificate?

thks

[2020-10-13 11:54] #1755 closed

[2020-10-13 13:23] AlanGreene commented on #1752
Assigning to @steveodonovan to implement the batch delete piece of this.

[2020-10-13 14:07] AlanGreene commented on #1758
The Dashboard uses `k8s.io/client-go/rest` as the REST client with `InClusterConfig` by default.

https://github.com/tektoncd/dashboard/blob/abbd6c1cd29b3d08c515c813c8db2be5db360a4f/cmd/dashboard/main.go#L124

Here's an example showing the approach from the kubernetes/client-go repo: https://github.com/kubernetes/client-go/blob/60a0346672170c8e9f65795fb33e41527980c583/examples/in-cluster-client-co

[2020-10-13 15:28] AlanGreene opened #1759 "Logs fail to display when they contain multiple consecutive carriage return characters"
# Describe the bug

If log content contains multiple consecutive carriage return ('\r') characters
this causes the LogFormat component to fail with the following error:

[code]

# Expected behaviour

Logs should display correctly.

# Steps to reproduce the bug

# Environment details

- Kubernetes Platform:

- Kubernetes or OpenShift version:

- Install mode (if on OpenShift):

- Cloud-provider/pro

[2020-10-13 16:14] AlanGreene commented on #1759
Fix merged, will be included in next published `@tektoncd/dashboard-components` package (likely tomorrow) and also included in next dashboard release.

/close

[2020-10-13 16:14] #1759 closed

[2020-10-13 16:17] AlanGreene opened #1761 "Missing list styles on delete modals"
# Describe the bug

The list of selected resources on the Delete PipelineResources
and Delete Secrets modals is missing styling.

![image](https://user-images.githubusercontent.com/2829095/95887582-edfd4580-0d77-11eb-9fd8-1203c2ec122e.png)

# Expected behaviour

It should look like this:
![image](https://user-images.githubusercontent.com/2829095/95887608-f786ad80-0d77-11eb-85c6-e37c455ba1a8.png)

[2020-10-13 16:33] AlanGreene commented on #966
Batch delete for PipelineRuns and TaskRuns will be added as part of https://github.com/tektoncd/dashboard/issues/1752, this addresses part of item 3.

[2020-10-13 16:42] AlanGreene opened #1763 "Remove unnecessary CSP exceptions introduced for webhooks-extension"
Remove the `script-src: blob:;` and `style-src: 'unsafe-inline';`
exceptions from the production CSP value.

These were originally added in https://github.com/tektoncd/dashboard/pull/1312
to work around an issue with the webhooks-extension build.

Since the webhooks-extension is deprecated, and unsupported with
dashboard builds later than 0.7, these exceptions are no longer
required and can be saf

[2020-10-14 02:44] sunnoy commented on #1758
think a lot !
i see the code
1 init httpclient transport
https://github.com/tektoncd/dashboard/blob/abbd6c1cd29b3d08c515c813c8db2be5db360a4f/cmd/dashboard/main.go#L124
2 init endpoints.Resource.HttpClient
https://github.com/tektoncd/dashboard/blob/abbd6c1cd29b3d08c515c813c8db2be5db360a4f/cmd/dashboard/main.go#L143
3 proxy reqest by Resource.HttpClient
https://github.com/tektoncd/dashboard/blob/abb

[2020-10-14 02:44] #1758 closed

[2020-10-14 10:08] AlanGreene commented on #1743
This is included in the [Dashboard 0.10.0 release](https://github.com/tektoncd/dashboard/releases/tag/v0.10.0)

[2020-10-14 10:09] AlanGreene commented on #1619
This is included in the [Dashboard 0.10.1 release](https://github.com/tektoncd/dashboard/releases/tag/v0.10.0)

[2020-10-14 10:23] AlanGreene commented on #1763
Change merged and will be included in the next Dashboard release (likely 0.11)

/close

[2020-10-14 10:23] #1763 closed

[2020-10-14 10:24] AlanGreene commented on #1761
Change merged and will be included in the next Dashboard release (likely 0.11)

/close

[2020-10-14 10:24] #1761 closed

[2020-10-14 13:14] AlanGreene commented on #1552
This is included in the [Dashboard 0.10.0 release](https://github.com/tektoncd/dashboard/releases/tag/v0.10.0)

[2020-10-14 13:14] AlanGreene commented on #1731
This is included in the [Dashboard 0.10.0 release](https://github.com/tektoncd/dashboard/releases/tag/v0.10.0)

[2020-10-14 13:57] AlanGreene commented on #866
This is still valid and would be a nice first issue for someone looking to contribute to the dashboard.

https://github.com/tektoncd/dashboard/blob/master/src/components/CreateSecret/ServiceAccountSelector.js would be a good place to start as it presents the UI to select the ServiceAccount being patched and already has some error handling. This could probably be expanded to add the warning describ

[2020-10-14 14:00] AlanGreene commented on #805
We no longer use breadcrumbs in the Dashboard headers, and much of the common layout is handled by the application shell and the ResourceDetails component.

Button styles and placement for buttons (and other controls) in the header will need to be taken into account for https://github.com/tektoncd/dashboard/issues/1304

[2020-10-14 14:07] AlanGreene commented on #775
This issue is still valid. We're introducing batch delete for PipelineRuns and TaskRuns, and should have the same for both Pipeline and Tasks for consistency.

Items specific to TaskRuns are tracked in https://github.com/tektoncd/dashboard/issues/776

[2020-10-14 14:10] AlanGreene commented on #762
This issue is still valid. We need to revisit the proposed designs to take into account recent additions to Pipelines and Triggers and determine a sensible way to connect resources from these two projects in the UI. The outcome of that review may have some impact on the 'Details' tab, but the YAML view is still useful and should be added for consistency with other resource types that already have

[2020-10-14 14:18] AlanGreene commented on #803
We've since added our own custom styles following Carbon guidelines overriding the SideNav colours to use a dark theme while using Carbon's gray 10 theme for the rest of the content on the page.

The SideNav component does provide an `isRail` prop but its behaviour doesn't match the design above. We should revisit the `@hybrid-cloud/ide-components` to see if it's available yet or whether the Carbo

[2020-10-14 14:31] AlanGreene commented on #846
- Page Title Header - should be extracted from ResourceDetails and also consider https://github.com/tektoncd/dashboard/issues/805
- YAML file component - we have a `ViewYAML` component that used for the YAML tab on ResourceDetails as well as some other locations in the UI. Further enhancements to this could include syntax highlighting.
- Logs component - our logs component has some known issues wi

[2020-10-14 14:34] AlanGreene commented on #937
We should also consider how a user will navigate between Triggers resources and the resulting Pipelines resources.
This has come up a number of times, most recently in https://tektoncd.slack.com/archives/CHTHGRQBC/p1602508229019000. Although that question was initially focused on the Pipeline visualisation it makes sense to consider how it would affect navigation and the presentation of the Trigge

[2020-10-14 14:46] AlanGreene commented on #1729
Note to self / future developers: Also relevant here is some of the previous discussion / design exploration around presentation of the status and status message: https://github.com/tektoncd/dashboard/issues/775 and other issues. This might be a good opportunity to revisit this and see what additional information would make sense here and how best it can be displayed without making the list views

[2020-10-14 14:48] AlanGreene commented on #1191
This one would be nice to have for consistency with other resource types but is relatively low priority at the moment since the Secrets functionality is not under active development and the current structure is not causing any problems.

[2020-10-14 14:51] AlanGreene commented on #1181
If adopting the ResourceDetails component for the common layout already used by most of the other resource types we still need to consider third-party consumers of the @tektoncd/dashboard-components, in particular the `PipelineRun` component which incorporate the header. In the ResourceDetails view this header would be separate from the TaskTree and other elements of the page.

There may be a tran

[2020-10-14 15:01] AlanGreene commented on #1018
We need to review the current state of this feature and determine next steps. It seems like there may be some issues: https://tektoncd.slack.com/archives/CHTHGRQBC/p1602167113007100

Waiting for more details from the user.

[2020-10-14 15:09] AlanGreene commented on #1263
1. review current behaviour (with particular focus on ordering) with latest versions of Dashboard + Pipelines
1. update PipelineRun component to accept Pipeline as prop
1. reduce the number of Tasks being loaded to only those relevant for the PipelineRun
1. use Pipeline prop to build the correct Task order (also see https://github.com/tektoncd/dashboard/issues/932)

We also need to consider how re

[2020-10-14 15:12] AlanGreene commented on #984
This issue is still valid and has quite a bit of overlap with similar issues tracking general updates for consistency across resource types.

Batch actions (delete) for Pipelines and Tasks will follow the same functionality which is currently being implemented for PipelineRuns and TaskRuns and already in place for PipelineResources and Secrets.

Both Pipelines and Tasks now use the common Resource

[2020-10-14 15:27] AlanGreene commented on #1252
We've done additional work on the logs APIs so it would be good to revisit this and determine whether it's safe to enable the header now.

[2020-10-14 15:31] AlanGreene commented on #1507
Depends on the completion of https://github.com/tektoncd/dashboard/issues/1018 / should be handled alongside that issue.

We've had a [report](https://tektoncd.slack.com/archives/CHTHGRQBC/p1602167113007100) of a user running into trouble trying this recently so it would be great to provide some troubleshooting / diagnostic steps as part of the documentation.

[2020-10-14 15:49] AlanGreene commented on #1722
We could potentially use similar controls to those for adding labels in the Create PipelineRun/TaskRun UI, although this may not be the best solution, especially if we need to handle non-string values as this could get complex quite quickly.

I'd also be reluctant to add a raw JSON / YAML input field for the user to enter the entire ownerReferences block, although maybe this could be an option in

[2020-10-14 15:58] AlanGreene commented on #1713
One of the Carbon issues tracking related changes: `https://github.com/carbon-design-system/carbon/issues/6223`

[2020-10-14 16:03] AlanGreene commented on #1283
Moving the Create TaskRun UI to a full-page experience as we've already done for Create PipelineResource and Create Secret should be happening very soon: https://github.com/tektoncd/dashboard/issues/966

Once this is done we'll have more space to work with and may make some further layout changes to the existing Create PipelineRun / TaskRun UI. These would allow us to provide a cleaner and more us

[2020-10-15 09:47] AlanGreene opened #1766 "Warning appearing in console when viewing storybook"
The `showRoots` field in preview.js is deprecated and instead
should be configured in manager.js instead. However, the default
value in Storybook 6 is true so it can be left out entirely.

Warning appearing in browser console:
parameters.options.showRoots is deprecated and will be removed in Storybook 7.0.
To change this setting, use `addons.setConfig`. See https://github.com/storybookjs/storybook

[2020-10-15 10:30] AlanGreene opened #1768 "Wrong styles and label for steps when a PipelineRun or TaskRun is cancelled"
# Describe the bug

Dashboard displays cancelled steps as 'Failed'.

See the git-source init step in this example which is also using blue for the icon + status label.
![image](https://user-images.githubusercontent.com/2829095/96111780-9676eb00-0ed9-11eb-817d-520a44447767.png)

# Expected behaviour

Steps cancelled as a result of a PipelineRun / TaskRun being cancelled or timed out should be displ

[2020-10-15 11:08] AlanGreene opened #1770 "ClusterTask details not updating consistently in real time"
# Describe the bug

When viewing the details page for a ClusterTask I expect it to update in realtime as updates are made on the cluster.
This is not happening consistently, some updates appear, others do not until I refresh or navigate away and back to the page.

# Expected behaviour

# Steps to reproduce the bug

# Environment details

- Kubernetes Platform:

- Kubernetes or OpenShift version:

[2020-10-15 11:09] AlanGreene opened #1771 "Extensions not updating consistently in realtime"
# Describe the bug

I expect extensions to update in realtime as updates are made on the cluster. This is not the case,
some changes are reflected in the UI but others require a refresh or page navigation to display.

# Expected behaviour

# Steps to reproduce the bug

# Environment details

- Kubernetes Platform:

- Kubernetes or OpenShift version:

- Install mode (if on OpenShift):

- Cloud-prov

[2020-10-15 11:33] AlanGreene commented on #1771
Turns out this has the same underlying cause as https://github.com/tektoncd/dashboard/issues/1770, PR open to address it

[2020-10-15 11:33] AlanGreene commented on #1770
Turns out this has the same underlying cause as https://github.com/tektoncd/dashboard/issues/1771, PR open to address it

[2020-10-15 11:37] AlanGreene commented on #1768
This behaviour was introduced in Pipelines v0.16.0 and is present in any support Dashboard version. PR open with a fix.

[2020-10-15 11:39] AlanGreene commented on #1766
/kind cleanup

[2020-10-15 11:57] AlanGreene commented on #1770
Checked previous versions and this has been present since v0.1 🙈 Tests updated to prevent similar issues in future.

[2020-10-15 11:59] AlanGreene commented on #1771
Checked previous versions and looks like this has been present since realtime updates for extensions were introduced in v0.7.1. Tests updated to prevent similar issues in future.

[2020-10-15 12:23] AlanGreene opened #1773 "Success notification for Import Resources can appear off screen"
# Describe the bug

When the 'Advanced configuration' section of Import Resources is open, or when viewing in a small window, the success notification displayed after successfully triggering the import PipelineRun can be displayed off screen. This can result in the user clicking the Import button multiple times as there's no visible indication on screen that anything has happened.

# Expected beha

[2020-10-15 12:27] AlanGreene commented on #1773
/remove-kind bug

[2020-10-15 12:33] AlanGreene opened #1775 "Update TaskTree design"
Extracted from https://github.com/tektoncd/dashboard/issues/1445#issuecomment-672984164

Update the design of the TaskTree component to:
- reduce use of heavy block colours
- make it easier to see status of multiple TaskRuns / steps
- etc.

Here's a rough mockup of the proposed design:
![image](https://user-images.githubusercontent.com/2829095/96123551-e14d2e80-0eea-11eb-8f53-ffad4a3c0a14.png)

Th

[2020-10-15 12:33] AlanGreene commented on #1775
/kind design

[2020-10-15 23:59] AlanGreene commented on #1768
Fix merged and will be included in next release
/close

[2020-10-15 23:59] #1768 closed

[2020-10-16 00:24] AlanGreene commented on #1770
Fix merged and will be included in next release
/close

[2020-10-16 00:24] #1770 closed

[2020-10-16 00:24] AlanGreene commented on #1771
Fix merged and will be included in next release
/close

[2020-10-16 00:24] #1771 closed

[2020-10-16 00:50] AlanGreene commented on #1766
/close

[2020-10-16 00:50] #1766 closed

[2020-10-18 23:28] AlanGreene commented on #1773
/label good-first-issue

[2020-10-18 23:28] AlanGreene commented on #1773
/label "good first issue"

[2020-10-19 11:17] AlanGreene opened #1778 "StatusIcon component should provide its own styles"
The StatusIcon component doesn't currently provide any styles, instead it is left up to the consumer to provide styles.

This leads to duplication and inconsistency as the component is consumed in a number of different places, e.g.:
- DetailsHeader
- Graph
- PipelineRuns
- TaskRuns
- etc.

Instead of this, the StatusIcon component should provide its own base styles that can then be easily overridd

[2020-10-19 11:17] AlanGreene commented on #1778
/assign

[2020-10-19 11:49] AlanGreene commented on #1778
This will also help with transition to the new design for the TaskTree component tracked in https://github.com/tektoncd/dashboard/issues/1775

[2020-10-19 11:49] AlanGreene commented on #1778
/kind cleanup

[2020-10-19 15:41] AlanGreene commented on #1778
`Task` and `Step` components were using their own implementations and will be migrated to use the updated `StatusIcon` component.

`Graph` is using its own implementation and will be left as-is for now.

[2020-10-20 04:00] aii-ssvinoth22 opened #1780 "Error in Evenlistener page in Dashboard"
# Describe the bug

Click EventListeners--> <Name>
getting below error
`Error loading page

Expected "triggerTemplateName" to match "[^\/]+?", but received ""
 `

# Expected behaviour

# Steps to reproduce the bug

# Environment details

- Kubernetes Platform:

- Kubernetes or OpenShift version:

- Install mode (if on OpenShift):

- Cloud-provider/provisioner:

- Versions:
   - Tekton Dashboard:

[2020-10-20 07:38] didier-durand commented on #1729
@AlanGreene : I have seen the PipelineRun visualisation that you prepare. It is clearly a good thing to show a pipeline as a DAG. My point is different and complementary: basically, I suggest to add a time axis to the DAG in order to see how long after start a Task X was started and how much it lasted.

That is the reason of my analogy with distributed trace spans

![distributed-trace](https://use

[2020-10-20 09:18] AlanGreene commented on #1780
@aii-ssvinoth22 thanks for reporting. Can you share the EventListener that produced this error?

[2020-10-20 10:09] aii-ssvinoth22 commented on #1780
It is when click on viewing each listener.

[2020-10-20 10:09] aii-ssvinoth22 commented on #1780
I've only one listener running, when I click on that got this error

[2020-10-20 10:34] AlanGreene commented on #1780
Can you share the EventListener resource you're using to reproduce the issue? This would be very helpful in debugging. I suspect you may be using a Triggers feature that was introduced in 0.9 which is not yet supported by the Dashboard.

[2020-10-20 12:38] AlanGreene opened #1781 "Add support for Triggers 0.9"
# Is your feature request related to a problem ?

Dashboard should support current release of Triggers. The [Triggers 0.9 release](https://github.com/tektoncd/triggers/releases/tag/v0.9.0) introduces some breaking changes as well as some new deprecations that the Dashboard should account for.

# Describe the solution you'd like

Dashboard should support display of EventListeners using these new fe

[2020-10-20 12:38] AlanGreene commented on #1781
/assign

[2020-10-20 13:02] AlanGreene commented on #1778
PR merged consolidating the various status icons (with the exception of the graph components) to use the `StatusIcon` component and the styles it now provides. This required 2 small overrides for specific use cases to adjust the icon size / positioning, but these will be removed in future changes for #1775.

/close

[2020-10-20 13:02] #1778 closed

[2020-10-20 15:49] AlanGreene commented on #1781
PR #1782 should address most of the relevant changes in the Triggers 0.9 release. Once that has been merged and we've had enough time to complete testing we'll prepare a new Dashboard release with support for Triggers 0.9.

[2020-10-21 11:47] AlanGreene opened #1784 "TaskRunDetails component doesn't handle missing status gracefully"
# Describe the bug

The TaskRunDetails component displays the `taskRun.status`
in the status tab. However, if the status is not available for
any reason, it instead displays the 'undefined' YAML tag.

![image](https://user-images.githubusercontent.com/2829095/96715444-7b095580-139b-11eb-8c0f-7b4d66002370.png)

# Expected behaviour

The component should have some fallback value to display
when the

[2020-10-21 11:47] AlanGreene commented on #1784
/assign

[2020-10-21 12:43] AlanGreene commented on #1781
This will be available in the next nightly build and also the next Dashboard release which should be coming in <1 week

[2020-10-21 12:43] AlanGreene commented on #1781
/close

[2020-10-21 12:43] #1781 closed

[2020-10-21 17:41] AlanGreene commented on #1784
Some issues with test infra at the moment, once that's resolved the PR should be merged.
I'll publish a new set of npm packages once this change is merged.

[2020-10-21 17:45] AlanGreene commented on #1775
`StatusIcon` component has been updated and provides 2 styles: default and 'inverse'.
The inverse style currently uses a white fill and is intended for use on the block colour backgrounds.
With the new design this can switch to the outline style instead. May need a minor update to remove the [exclusions](https://github.com/tektoncd/dashboard/blob/36c0d2f1ecfb938c50373585cff719175018dd63/packages/c

[2020-10-21 18:42] AlanGreene commented on #1784
PR merged
/close

[2020-10-21 18:42] #1784 closed

[2020-10-22 12:44] AlanGreene opened #1786 "Adopt Storybook Essentials"
Make better use of the changes introduced in Storybook 6 to organise the stories and make them more useful to developers.

- Switch from the legacy `@storybook/addon-knobs` to use the new Controls / args feature.
- Use the backgrounds addon instead of custom decorators

More info: https://storybook.js.org/docs/react/essentials/introduction

[2020-10-22 12:44] AlanGreene commented on #1786
/assign

[2020-10-22 13:30] AlanGreene opened #1788 "Cancelled runs cannot be rerun"
# Describe the bug

Cancelled TaskRuns or PipelineRuns cannot be rerun, instead they are immediately cancelled.

Reported in Slack: https://tektoncd.slack.com/archives/CHTHGRQBC/p1603329231042300

# Expected behaviour

It should be possible to rerun a cancelled TaskRun or PipelineRun.

# Steps to reproduce the bug

# Environment details

- Kubernetes Platform:

- Kubernetes or OpenShift version:

[2020-10-22 13:30] AlanGreene commented on #1788
/assign

[2020-10-22 13:32] AlanGreene commented on #1788
The same issue was fixed recently in the CLI: https://github.com/tektoncd/cli/issues/1200
The approach taken there should also work for the Dashboard.

[2020-10-22 15:00] AlanGreene commented on #1775
/assign

[2020-10-23 16:05] kyledwilson opened #1790 "Dashboard displays task steps incorrectly after step failure"
# Describe the bug

During a pipelinerun, if a task fails then occasionally the steps will appear in the wrong order. Additionally, the wrong step will be marked as failed even though it has not ran yet. The step that actually failed is marked as not run yet.

# Expected behaviour

During a pipelinerun, if a task step fails then that step should be marked as failed and appear in the correct order

[2020-10-25 09:23] faust64 commented on #1248
Hi,

I'm having similar issues, running Chrome 83 (chromium, debian buster).
Both TaskRuns and PipelineRuns page would fail to load:

![tekton-dashboard-fn-undefined](https://user-images.githubusercontent.com/211675/97103207-46eba880-16ab-11eb-8db2-ced51b13a3df.png)

tekton-dashboard: 0.10.1
tekton-pipelines: 0.17.1
tekton-triggers: 0.8.1

The other pages work just fine.
Any clue what's wrong? Sti

[2020-10-27 11:52] AlanGreene commented on #1790
This is a known issue with older Pipelines releases. Pipelines 0.12 and newer use higher resolution timestamps for the step status among other changes to help ensure the steps can be ordered correctly. Previous issue with links to a number of the relevant Pipelines issues: https://github.com/tektoncd/dashboard/issues/1367

Can you try upgrading to a newer Pipelines version and see if that resolves

[2020-10-27 13:32] AlanGreene commented on #1788
PR #1789 open with a fix. This will be included in the next Dashboard release.

[2020-10-27 13:34] AlanGreene commented on #1786
PR #1787 open with the required changes to adopt the essential addons and add the basic config for affected stories e.g. background colours.

[2020-10-27 13:44] AlanGreene commented on #1775
I have the initial updates mostly complete but will hold off on the PR until after the next Dashboard release to avoid holding up getting some important fixes out (e.g. rerunning cancelled runs https://github.com/tektoncd/dashboard/issues/1788)

[2020-10-27 13:51] AlanGreene commented on #1775
Some focus states still need to be updated, e.g. selected step, but otherwise it's nearly there.
![image](https://user-images.githubusercontent.com/2829095/97310451-282c1400-185b-11eb-83b3-13897881eb6b.png)

I've made some changes to StatusIcon size and positioning.

This first pass maintains the existing behaviour of only having a single TaskRun expanded at a time. A future update will add the ch

[2020-10-27 13:52] AlanGreene commented on #1729
Thanks for the additional information, that helps to understand a possible use case for something like this.

[2020-10-27 13:55] AlanGreene commented on #1445
The design update mentioned above is being tracked in https://github.com/tektoncd/dashboard/issues/1775 and is currently in progress. Once the initial updates are merged we can start tackling the changes for retries. I would suggest holding off on making changes for Conditions since they're deprecated.

[2020-10-27 14:03] AlanGreene commented on #1263
This would benefit from https://github.com/tektoncd/dashboard/issues/885 as the code that currently sources and combines the required data for the TaskTree component is difficult to understand and modify. There are too many custom representations of the data in use, this needs to be simplified so we can more easily separate the definitions from the runtime information.

[2020-10-27 14:13] AlanGreene commented on #675
If this can't be resolved using the current approach, it may be worth considering alternative layout algorithms, or possibly changing the Node design (removing the expand/collapse behaviour) if this is contributing to the problem.

One pattern that seems to be pretty common is having a simplified summary of the child nodes displayed permanently, with more detailed information displayed in a toolti

[2020-10-27 14:20] AlanGreene commented on #1012
There's been some activity on the CD Foundation issue linked above, let's see how it goes 🤞 😸

[2020-10-27 14:22] AlanGreene commented on #972
This might also benefit from some of the updates being made for https://github.com/tektoncd/dashboard/issues/1775.

[2020-10-27 14:27] AlanGreene commented on #708
First step is a quick one for anyone interested in helping out here:
- move styles from `src/components/App` and `src/components/Definitions` to `src/scss`
- update references to these files
- test that everything still looks good

A follow up step that would also be nice to cross off the list:
- resolve duplication of styles that are present in both `src/components/Definitions` and `packages/comp

[2020-10-27 14:29] AlanGreene commented on #932
Also relevant: https://github.com/tektoncd/dashboard/issues/1445
If we move display of retries under a single entry for the TaskRun this would also help simplify the UI for users as well as reducing issues due to sorting.

[2020-10-27 14:30] AlanGreene commented on #1215
We should revisit this soon and start surfacing more Dashboard docs on the website.

[2020-10-27 14:49] AlanGreene opened #1791 "Move Create PipelineRun to full page UI"
From #966

See Create PipelineResource as an example of how we've done this before: https://github.com/tektoncd/dashboard/pull/1591

URL and path for routing are already defined: https://github.com/tektoncd/dashboard/blob/2972da110ff1226b45990c5d6fb563f86b22141b/packages/utils/src/utils/router.js#L118

It's important to ensure the page title is correctly updated once it's move to its own page, see

[2020-10-27 14:49] AlanGreene commented on #966
Tracking 5. in https://github.com/tektoncd/dashboard/issues/1791

[2020-10-27 14:51] AlanGreene opened #1792 "Move Create TaskRun to full page UI"
From #966 (showing Create PipelineRun as an example)

See Create PipelineResource as an example of how we've done this before: https://github.com/tektoncd/dashboard/pull/1591

URL and path for routing are already defined: https://github.com/tektoncd/dashboard/blob/2972da110ff1226b45990c5d6fb563f86b22141b/packages/utils/src/utils/router.js#L181

It's important to ensure the page title is correctly

[2020-10-27 14:52] AlanGreene commented on #966
Similar issue for Create TaskRun since we didn't have that functionality when 5. was written: https://github.com/tektoncd/dashboard/issues/1792

[2020-10-27 14:53] AlanGreene commented on #966
Closing as the remaining items are already tracked in other issues linked above.

/close

[2020-10-27 14:53] #966 closed

[2020-10-27 15:02] AlanGreene commented on #1445
From the [Carbon color usage guide](https://www.carbondesignsystem.com/guidelines/color/usage/) the most appropriate colour appears to be `$support-03` which is used for warnings.

In Carbon's gray 10 theme this is  `$yellow-30` or `#f1c21b`
We'll need to test for colour contrast etc.

Alternative colours if this doesn't work out are:
- `$yellow-20` (`#fdd13a`)
- `$orange-40` (`#ff832b`) - seems a

[2020-10-27 15:05] AlanGreene commented on #1791
/kind cleanup

[2020-10-27 15:05] AlanGreene commented on #1791
/kind design

[2020-10-27 15:05] AlanGreene commented on #1792
/kind cleanup
/kind design

[2020-10-27 15:20] AlanGreene opened #1793 "Reduce warnings in unit test output"
The logs for the frontend unit tests contain a lot of noise which can make it difficult to debug test failures.

Most of the warnings come from common components so they're repeated many times.

Including some of the most frequent examples for reference, but this is not an exhaustive list:

[code]

[code]

[code]

[code]

[code]

[code]

Some of these may point at changes required in the component

[2020-10-27 15:20] AlanGreene commented on #1793
/kind cleanup
/area testing

[2020-10-27 15:27] AlanGreene opened #1794 "Update Log stories to include example showing `downloadButton`"
Update Log.stories.js to include an example showing use of the `downloadButton` prop.

In the Dashboard we use a LogDownloadButton container for this purpose, which is tied to specific APIs / data. The example given in the storybook should be simple and generic so 3rd party consumers of the Dashboard components can use it as a reference to build and integrate their own.

[2020-10-27 15:28] AlanGreene commented on #1794
/area api
/kind documentation

[2020-10-27 15:32] AlanGreene commented on #1752
There's now an example in the experimental repo with documentation showing how to use a CronJob to clean up completed runs. This is based on the approach from plumbing that I described above.

https://github.com/tektoncd/experimental/tree/721e8c4ec2848a609e436b2c392712b64d1cc792/pipeline/cleanup

[2020-10-27 15:42] AlanGreene opened #1795 "Publish updated npm packages"
Publish new versions of the `@tektoncd/dashboard-components` and `@tektoncd/dashboard-utils` packages.

Changes since last version: https://github.com/tektoncd/dashboard/compare/1c87b85d8d67674cce2d630a5f810832c7c44e56...master

The StatusIcon update is one consumers have been asking about for a while now so this will be great to get out.

The TaskRunDetails update is a relatively small change tha

[2020-10-27 15:42] AlanGreene commented on #1795
/assign

[2020-10-27 15:45] AlanGreene opened #1796 "Update DetailsHeader stories to use `type` prop"
Depends on https://github.com/tektoncd/dashboard/issues/1786

Update the DetailsHeader component stories to surface the `type` prop in the controls, should be possible to use an enum type control / array of string values.

This will show the difference between the `step` and `taskRun` variants, in particular differences between StatusIcon + label handling.

[2020-10-27 15:45] AlanGreene commented on #1796
/area api
/kind documentation

[2020-10-27 15:46] AlanGreene commented on #1796
/assign

[2020-10-27 15:48] AlanGreene commented on #1795
/kind misc

[2020-10-27 15:49] AlanGreene commented on #1794
Hold until https://github.com/tektoncd/dashboard/issues/1786 is complete to avoid conflicts.

[2020-10-27 16:42] AlanGreene opened #1797 "Update Node.js to v14 LTS"
Update the Node.js version used in our test scripts to the LTS version (v14.15) and update the engines section in package.json files to reflect this too.

Node.js v14 enters LTS today with the release of v14.15 and will remain the active LTS version until October 2021, after which it will go into 'maintenance' mode until April 2023 when it will no longer be supported.

https://nodejs.org/en/blog/r

[2020-10-27 16:42] AlanGreene commented on #1797
/assign

[2020-10-27 16:43] AlanGreene commented on #1797
/kind misc

[2020-10-28 10:36] AlanGreene commented on #1795
/assign @steveodonovan

[2020-10-28 11:04] Fabian-K opened #1800 "The menu entry for Extensions for cluster-scoped CRD should always be visible"
# Describe the bug
We have registered a cluster-scoped CRD to the dashboard. The extension is displayed as long as the Namespace selector in the menu on the left is set to "All Namespaces" or to the namespace of the Extension CR instance.

# Expected behaviour
The menu entry for cluster-scoped resources should always be visible.

# Additional Info
This is a follow up for https://github.com/tektonc

[2020-10-28 11:05] Fabian-K commented on #1731
Thanks for taking care of this so quickly 👍

[2020-10-28 11:54] AlanGreene commented on #1795
/close

[2020-10-28 11:54] #1795 closed

[2020-10-28 12:07] AlanGreene commented on #1800
This should be a simple fix. We already have code in place to detect when the Dashboard is installed in single namespace mode so it should be safe to make the non-namespaced API call if the `tenantNamespace` is not set instead of falling back to the globally selected namespace from the UI.

I'll test this out now and open a PR. We'll include the fix in the release that's due in the next couple of

[2020-10-28 12:15] AlanGreene commented on #1756
/close

[2020-10-28 12:15] #1756 closed

[2020-10-28 12:27] AlanGreene commented on #1263
/kind design

[2020-10-28 12:27] AlanGreene commented on #776
/kind design

[2020-10-28 12:27] AlanGreene commented on #775
/kind design

[2020-10-28 12:27] AlanGreene commented on #675
/kind design

[2020-10-28 13:25] AlanGreene commented on #1304
Another related item is https://github.com/tektoncd/dashboard/issues/1800 however a fix for that removes the global namespace selector's influence. It's still worth recording the original impact here though for a more complete picture of the impact of the current global namespace selector design.

[2020-10-28 13:25] AlanGreene commented on #1788
/close

[2020-10-28 13:25] #1788 closed

[2020-10-28 13:59] AlanGreene commented on #1797
/close

[2020-10-28 13:59] #1797 closed

[2020-10-28 14:24] AlanGreene opened #1803 "Update e2e tests to use latest Pipelines and Triggers releases"
Update e2e tests to use the latest Pipelines and Triggers releases. These are the versions that will be supported by the next Dashboard release.

- Pipleines: 0.17.2
- Triggers: 0.9.1

In future we may move to using the 'latest' tag, but for now we'll update these manually to ensure we don't block PRs unnecessarily while working on compatibility updates / fixes.

[2020-10-28 14:24] AlanGreene commented on #1803
/assign

[2020-10-28 14:24] AlanGreene commented on #1803
/area testing
/kind misc

[2020-10-28 14:29] AlanGreene commented on #1800
Fix is merged, it'll be included in the next nightly build (~3am UTC) and also the next release.

/close

[2020-10-28 14:29] #1800 closed

[2020-10-29 13:48] AlanGreene opened #1809 "Enable testing local UI changes against a remote backend with self-signed cert"
Update the webpack devserver proxy config to relax the checks made on the remote proxy endpoints.

This will allow developers to more easily test their changes against remote environments.

[2020-10-29 13:48] AlanGreene commented on #1809
/assign
/kind misc

[2020-10-29 14:51] AlanGreene commented on #1800
Fix is available in Dashboard v0.10.2

[2020-10-29 14:51] AlanGreene commented on #1788
Fix is available in Dashboard v0.10.2

[2020-10-29 14:51] AlanGreene commented on #1781
This is included in Dashboard v0.10.2 which is now available

[2020-10-29 14:51] AlanGreene commented on #1768
Fix is available in Dashboard v0.10.2

[2020-10-29 14:51] AlanGreene commented on #1759
Fix is available in Dashboard v0.10.2

[2020-10-29 14:52] AlanGreene commented on #1755
Fix is available in Dashboard v0.10.2

[2020-10-29 14:53] AlanGreene commented on #1780
Dashboard v0.10.2 is available now with support for Triggers 0.9.
Closing this issue. If the new release doesn't resolve your issue please feel free to reopen it and provide additional details to help reproduce it and debug further.

/close

[2020-10-29 14:53] #1780 closed

[2020-11-02 19:55] #1790 closed

[2020-11-03 11:15] AlanGreene commented on #1809
/close

[2020-11-03 11:15] #1809 closed

[2020-11-03 11:49] AlanGreene commented on #1803
/close

[2020-11-03 11:49] #1803 closed

[2020-11-03 14:06] AlanGreene commented on #1786
Initial PR merged, closing this issue as remaining items are being tracked in other linked issues.

/close

[2020-11-03 14:06] #1786 closed

[2020-11-04 10:43] AlanGreene commented on #1796
/close

[2020-11-04 10:43] #1796 closed

[2020-11-04 11:50] AlanGreene commented on #1775
PR #1806 with the initial design update is merged, will check it out on robocat after the next nightly deploy.

The next step is to support expanding multiple TaskRuns at the same time so the user can see summary of step status without having to switch between them.

[2020-11-06 14:14] JPEWdev opened #1815 "Dashboard requires optional pipeline arguments to be specified"
# Describe the bug

When creating a PipelineRun in the dashboard, the UI will not let me create the pipeline unless I specify an value for a an optional empty Pipeline argument

# Expected behaviour

I should be able to create the PipelineRun without specifying a value for the optional argument and it will default to the empty string

# Steps to reproduce the bug

1. Create a Pipeline with an opti

[2020-11-06 15:11] #1752 closed

[2020-11-06 15:27] AlanGreene commented on #1815
Thanks for reporting the issue. I've reproduced it locally and confirmed it only appears to be affecting params where the default value is an empty string, thanks for narrowing it down. Fix on the way 👷

[2020-11-06 18:11] AlanGreene commented on #1794
I'll do this after https://github.com/tektoncd/dashboard/pull/1814 is merged since I've changed how both the Log container and the LogDownload button are wired up.

/assign

[2020-11-09 11:12] #1815 closed

[2020-11-09 11:42] AlanGreene commented on #885
PR #1814 starts to address these issues, and subsequent changes should be a lot simpler as a result.

1. now relies on Pipelines to provide correct step order in TaskRun.status (Pipelines 0.17+), but still maintains a small amount of code to sort TaskRuns. This can be revisited later.

2. `stepsStatus()` has been removed, and clearer separation between definitions and runtime data maintained acros

[2020-11-09 11:44] AlanGreene commented on #572
Once #1814 is merged init step container details will always be displayed, not just in case of error.

[2020-11-09 11:45] AlanGreene commented on #572
/assign

[2020-11-10 12:05] #572 closed

[2020-11-10 13:29] #1794 closed

[2020-11-10 19:50] AlanGreene commented on #762
/kind design

[2020-11-11 10:35] #885 closed

[2020-11-11 13:23] #1775 closed

[2020-11-17 16:23] wingyplus opened #1833 "Displaying sidecar log on dashboard"
# Is your feature request related to a problem ?

Currently, when sidecar has a problem and terminate abnormally, it'll not know until I use kubectl to log the pipeline and see what's going on with the sidecar. For example, I've a docker task set up which use dockerd as a sidecar, when I setup sidecar incorrectly (such as setting incorrect flag), dashboard will display something like this screensh

[2020-11-17 17:54] AlanGreene commented on #1833
Thanks for the feature request @wingyplus. This is already being tracked in https://github.com/tektoncd/dashboard/issues/1833 so I'll close this one as a duplicate.

[2020-11-17 17:57] wingyplus commented on #1833
@AlanGreene your mentioned is this issue. The correct one is #972

[2020-11-17 18:00] AlanGreene commented on #1833
Yes that's the correct one, I updated my comment just after I posted it. Sorry for the confusion.

[2020-11-17 18:02] wingyplus commented on #1833
@AlanGreene thanks for your inform.

[2020-11-17 19:03] sickyoon opened #1835 "Display pending task on pipelinerun view"
# Is your feature request related to a problem ?

Pipelinerun only displays completed tasks and the currently running task.
This can be an issue if you want to know how many pending tasks are left in the pipeline.

# Describe the solution you'd like

Display pending tasks in the pipelinerun view

# Describe alternatives you've considered

Resort to look at pipeline yaml file to see what tasks are

[2020-11-17 19:09] AlanGreene commented on #1835
Thanks for the feature request @sickyoon, this is already tracked in https://github.com/tektoncd/dashboard/issues/1263 so I'm closing this as a duplicate.

[2020-11-17 19:09] #1835 closed

[2020-11-18 08:54] wwu-cx opened #1836 "Websocket-Connection does not work in safari"
# Describe the bug

Console logs

`Refused to connect to wss://tekton.example.com/v1/websockets/resources because it does not appear in the connect-src directive of the Content Security Policy.`

# Expected behaviour

PipelineRun View should refresh automatically

# Steps to reproduce the bug

View a PipelineRun in safari browser.

# Environment details

- Versions:
   - Tekton Dashboard:
      v0

[2020-11-18 10:36] AlanGreene commented on #1836
Thanks for reporting. It looks like this is a Safari bug as detailed in https://github.com/w3c/webappsec-csp/issues/7 and https://bugs.webkit.org/show_bug.cgi?id=201591

I'll test out the proposed workaround and evaluate whether this is something we can add to the default configuration.

[2020-11-18 14:49] #1836 closed

[2020-11-18 15:25] AlanGreene commented on #1793
PR opened to disable the fetch-mock warnings https://github.com/tektoncd/dashboard/pull/1838

After those, the noisiest remaining warnings relate to the `href` and `tabIndex` props of the Carbon Tab component. These props are deprecated, but we're not actually setting them anywhere in our code, so some investigation needed to determine if this is something that needs to be resolved by Carbon, or i

[2020-11-18 19:22] AlanGreene commented on #1793
PR #1838 produced a huge reduction in log output, ~4000 lines down to ~2000 for the same set of unit tests. This should make it much easier to spot and debug genuine issues.

I'll do another pass of the remaining warnings under our control to see if we can suppress them too before closing out this issue.

[2020-11-19 08:09] AlanGreene commented on #1836
@wwu-cx thanks again for raising this. It's fixed in the [v0.11.1 release](https://github.com/tektoncd/dashboard/releases/tag/v0.11.1) which is available now.

[2020-11-19 15:06] JPEWdev opened #1840 "Show separate icon if no tasks are running in a pipeline run"
# Is your feature request related to a problem ?

If a lot of pipeline runs have been queued up in a cluster with insufficient resources to process all of them, it's hard to tell which are actually executing a task and worth investigating

# Describe the solution you'd like

If none of the tasks in a pipeline run are currently executing, show a different icon instead of the in-progress spinner. Th

[2020-11-23 13:28] AlanGreene opened #1842 "Investigate removing most use of redux in the front end"
Redux is not really necessary for most of our state since most slices of state are only used on a small number of pages in very specific contexts. Very little state is common to the bulk of the application, we could probably reduce this to just the install properties, extensions, namespaces, and maybe one or two other slices.

Our current use leads to performance issues when a page has been left o

[2020-11-25 21:05] amoravek opened #1848 "ARM64 support"
# Is your feature request related to a problem ?

I cannot use the dashboard on ARM64 clusters

# Describe the solution you'd like

docker images built for ARM64 platform

# Describe alternatives you've considered

build from source is complicated

[2020-11-26 11:07] AlanGreene commented on #1848
Now that `ko` supports multi-arch builds this should be doable.

/assign

[2020-11-26 11:48] AlanGreene commented on #1848
Previous related issue https://github.com/tektoncd/dashboard/issues/542
Docker image could be built for other platforms by e.g. `docker build --no-cache --build-arg GOARCH=ppc64le .`

This will still be an option for users to target additional platforms, however I'm hoping the change in #1849 will allow us to publish multi-arch images so this step is no longer needed for the most common ones at le

[2020-11-26 12:45] AlanGreene commented on #1848
The next nightly build (~3am UTC) should publish a multi-arch image supporting:

- `linux/amd64`
- `linux/arm`
- `linux/arm64`
- `linux/ppc64le`
- `linux/s390x`

[2020-11-27 10:31] AlanGreene commented on #1848
Multi-arch images are live 🎉

[code]

@amoravek the nightly builds now produce multi-arch images so you should be able to run the dashboard on arm64. The standard manifest for the latest nightly build is available at https://storage.cloud.google.com/tekton-releases-nightly/dashboard/latest/tekton-dashboard-release.yaml (or change the filename to match the version you normally use).

[2020-11-27 10:32] #1848 closed

[2020-11-27 11:06] amoravek commented on #1848
Great, thank you. I've used this image and it works: gcr.io/tekton-nightly/github.com/tektoncd/dashboard/cmd/dashboard:latest

[2020-12-01 17:10] AlanGreene commented on #805
Addressing this as part of https://github.com/tektoncd/dashboard/issues/1304

[2020-12-02 09:36] tomhau01 commented on #692
/remove-lifecycle stale

[2020-12-02 09:44] AlanGreene commented on #692
This is on the roadmap
/lifecycle frozen

[2020-12-02 13:09] #805 closed

[2020-12-02 13:09] #1304 closed

[2020-12-02 16:14] AlanGreene commented on #803
We can achieve something close to this by switching between the `isFixedNav` and `isRail` props depending on whether the SideNav is expanded or collapsed. PR incoming.

[2020-12-03 12:08] #803 closed

[2020-12-07 12:49] AlanGreene commented on #1714
Closing this issue, the visualisation work is still being tracked in #675

[2020-12-07 12:49] #1714 closed

[2020-12-09 15:33] AlanGreene commented on #1842
This could also simplify our efforts if we want to consume historical data from https://github.com/tektoncd/results in future. Something to consider / discuss...

[2020-12-10 11:51] AlanGreene opened #1868 "Filter runs by status"
# Is your feature request related to a problem ?

https://tektoncd.slack.com/archives/CHTHGRQBC/p1607596449075000

# Describe the solution you'd like

Parts of the IBM Cloud Continuous Delivery Pipeline are built on top of the Dashboard components. We’ve implemented some filtering there for similar use cases:
![image](https://user-images.githubusercontent.com/2829095/101768567-a2e48200-3add-11eb-8

[2020-12-11 19:19] #1868 closed

[2020-12-15 10:27] #932 closed

[2020-12-15 10:27] #1263 closed

[2020-12-15 13:13] AlanGreene commented on #776
Only remaining item here is the visualisation which is being tracked in #675

[2020-12-15 13:13] #776 closed

[2020-12-22 22:45] jlpettersson commented on #1420
/remove-lifecycle rotten

[2020-12-28 07:26] qiuxin opened #1880 "Dashboard does NOT work"
Hi There，
I run Tekton on a virtual machine in the Cloud. I use KIND to set up a local K8S cluster.
I execute each command depicted in https://tekton.dev/docs/dashboard/. But I can NOT connect to the dashboard from my laptop via “Public IP address: Port No（8080 or 9097）”.  Some help!
[code]
Many thanks in advace!

Best,
Robert Q

[2020-12-28 07:52] qiuxin commented on #1880
[root@VM-0-10-centos ~]# tkn version
Client version: 0.15.0
Pipeline version: v0.19.0
Dashboard version: v0.12.0

[2020-12-28 23:52] jordanbailes commented on #1880
Are you making sure to follow one of the steps in the usage section (e.g. port-forwarding)?

If you try port-forwarding, what do the port-forwarding logs say? Do you get logs similar to these?

[code]

[2020-12-30 04:18] qiuxin commented on #1880
The following is the print information when I run that command.   I try to visit "Cloud IP address:9097" via chroma on my laptop, the website return "  (111) Connection refused, The remote host or network may be down. Please try the request again."  Anything else I  should do to make it work?

‘‘’
[root@VM-0-10-centos ~]# kubectl --namespace tekton-pipelines port-forward svc/tekton-dashboard 9097:

[2020-12-30 04:40] qiuxin commented on #1880
My MacBook firewall is shutdown. The port(8080,9097) policy of Cloud Virtual Machine is set to be available(open) for all IP address visits.

[2021-01-04 10:42] AlanGreene commented on #1880
If using the `port-forward` command above you would access the Dashboard on `localhost:9097` as described in the docs, NOT using your cluster's public IP address.

If you wish to provide access to the Dashboard to other users without them needing to use either the `kubectl proxy` or `kubectl port-forward` options you can implement that using an Ingress. See [Accessing the Dashboard > Using an Ingr

[2021-01-04 10:42] #1880 closed

[2021-01-05 10:41] AlanGreene commented on #1727
Some progress has been made here, see for example recent updates to the Japanese translations and the contribution of a style guide https://github.com/tektoncd/dashboard/pull/1879 with specific guidance for formatting, non-translatable content, etc. in the Japanese string bundle.

/lifecycle frozen

[2021-01-05 14:20] AlanGreene commented on #327
/lifecycle frozen

[2021-01-06 06:23] kobaji commented on #1727
As being [commented](https://github.com/tektoncd/dashboard/pull/1808#discussion_r514165025) in #1808 , Dynamic import should be implemented to i18n, but we are struggling with this implementation.
Hopefully we could let you know the problems concerning this within a few days.

[2021-01-06 13:19] AlanGreene opened #1884 "Missing error handling for cancelling a run"
We're missing error handling for cancelling a run :see_no_evil:

https://github.com/tektoncd/dashboard/blob/266f8030f92a3d321ba648b1d97512f8c2280dfe/src/containers/PipelineRuns/PipelineRuns.js#L115

_Originally posted by @steveodonovan in https://github.com/tektoncd/dashboard/pull/1877#discussion_r552587809_

[2021-01-06 14:30] #775 closed

[2021-01-07 13:41] #984 closed

[2021-01-07 16:51] AlanGreene commented on #846
Closing since we have pure UI components (included in the storybook) for the pieces that make sense, and relatively simple combinations of those components + some additional wiring for the remainder.

/close

[2021-01-07 16:51] #846 closed

[2021-01-07 21:34] #708 closed

[2021-01-08 12:15] #1773 closed

[2021-01-08 13:47] #1791 closed

[2021-01-08 20:59] AlanGreene commented on #1191
Depending on the exact approach we take this may actually be superseded by https://github.com/tektoncd/dashboard/issues/1842 which is looking at significantly reducing our use of redux

[2021-01-11 10:28] #1792 closed

[2021-01-11 18:07] AlanGreene commented on #1793
PR open to remove most of the remaining warnings: https://github.com/tektoncd/dashboard/issues/1893

The only warnings left after that change are for a missing `key` prop in the LogFormat component in a few places mostly related to handling ANSI escape sequences and links. Resolving this warning is not trivial and could have negative consequences on the parsing. The warning is safe to ignore in th

[2021-01-12 10:49] #1793 closed

[2021-01-12 15:21] AlanGreene commented on #1570
This is still something we want to do, freezing so it doesn't get auto-closed.

/lifecycle frozen

[2021-01-12 15:53] AlanGreene commented on #1507
This is still something we'd like to do, freezing so it doesn't get auto-closed.
/lifecycle frozen

[2021-01-12 15:53] AlanGreene commented on #1428
This is still something we'd like to do, freezing so it doesn't get auto-closed.
/lifecycle frozen

[2021-01-12 15:53] AlanGreene commented on #1018
This is still something we'd like to do, freezing so it doesn't get auto-closed.
/lifecycle frozen

[2021-01-14 09:11] kobaji commented on #1884
Hi @AlanGreene and all,
I thought I should implement it in the same way as the following part, but is it correct?

https://github.com/tektoncd/dashboard/blob/266f8030f92a3d321ba648b1d97512f8c2280dfe/src/containers/PipelineRuns/PipelineRuns.js#L127-L139

If so, our team would try this issue.

[2021-01-14 09:13] kobaji commented on #1727
I was trying implementing Dynamic Import following an [advice from community](https://github.com/tektoncd/dashboard/pull/1808/files#r516583792) and studying React, but something seemed to be wrong.

If you had any advice or support, I would be very grateful.

In the advice's case, what imported dynamically is a component, not a json file. In my understanding, only in importing a component dynamica

[2021-01-14 10:18] AlanGreene commented on #1884
@kobaji yes a similar approach to that would be good 👍

[2021-01-15 02:57] kobaji commented on #1884
My team would like to work on this issue.
The document [process.md](https://github.com/tektoncd/community/blob/master/process.md#assigning-yourself-an-issue) says non collaborators like me cannot assign myself, but I'll try to assign haha.

/assign @kobaji

[2021-01-15 11:41] AlanGreene commented on #1727
Taking a look at this now...

1. yes that's right, React.lazy would only be used when loading a React component
2. hrmm the dynamic import should work, perhaps there's some webpack config missing or that needs to be updated. Let me see if I can figure it out and I'll post my findings here.

[2021-01-15 12:06] AlanGreene commented on #1727
This works reasonably well: https://github.com/AlanGreene/dashboard/commit/abaac5772f11301a2a0ccb78cd40d6db07bdb9c0

There's some work remaining, such as checking `locales.supported` as mentioned in https://github.com/tektoncd/dashboard/issues/1727#issuecomment-698859714

We should only load a message bundle for a supported locale in a production build, if the browser locale is not supported we sh

[2021-01-15 14:40] ziheng commented on #866
/assign @ziheng

[2021-01-18 15:30] AlanGreene commented on #1388
CSRF protection updated to be compatible so that's no longer a concern, and #1907 sets fallback values for properties such as 'ReadOnly' when we detect we're in client mode so that more of the UI is available by default. If the user doesn't have the required permissions to perform a given action we'll surface the error to them.

The next steps would be to improve:
- detection of Triggers install
-

[2021-01-19 10:40] qiuxin commented on #1880
Hi Alan,
I install "NGINX Ingress controller" in my cluster itemized below:
'''
[root@VM-0-10-centos ~]# POD_NAME=$(kubectl get pods -l app.kubernetes.io/name=ingress-nginx -o jsonpath='{.items[0].metadata.name}')
[root@VM-0-10-centos ~]# kubectl exec -it $POD_NAME -- /nginx-ingress-controller --version
-------------------------------------------------------------------------------
NGINX Ingress c

[2021-01-19 11:11] AlanGreene commented on #1880
@qiuxin if you want to make the Dashboard available via your public IP, the value of `DASHBOARD_URL` in the example above (and in the ingress configuration) should be a valid domain name that resolves to that public IP. If you don't have access to such a domain you can use the freely available https://nip.io/ service or something similar, in that case you would have `DASHBOARD_URL=150.109.193.157.

[2021-01-19 12:59] qiuxin commented on #1880
I buy a domain name(www.robertqiu.net) and make sure the domain name attached to my cloud virtual machine. You can visit
http://www.robertqiu.net:8080/view/test to double check as well. But still no luck when I visist http://www.robertqiu.net, I throught the dash board will come out when I visist http://www.robertqiu.net. The following is the configuration for ingress.

`[root@robertqiu ~]# DASHBO

[2021-01-19 13:05] qiuxin commented on #1880
More informaiton for troubleshooting.
`[root@robertqiu ~]# kubectl get ing -n tekton-pipelines`
`Warning: extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress`
`NAME               CLASS    HOSTS               ADDRESS      PORTS   AGE`
`tekton-dashboard   <none>   www.robertqiu.net   172.18.0.2   80      4h28m`

[2021-01-19 13:10] AlanGreene commented on #1880
Is the Dashboard running and available?
`kubectl get svc tekton-dashboard -n tekton-pipelines`

When you run the kubectl port-forward command can you access the Dashboard at http://localhost:9097 ?
`kubectl -n tekton-pipelines port-forward svc/tekton-dashboard 9097:9097`

Have you followed the steps in the ingress controller troubleshooting guide that I linked in my last comment? https://kubernete

[2021-01-19 13:12] qiuxin commented on #1880
[root@robertqiu ~]# kubectl describe ing tekton-dashboard -n tekton-pipelines
Warning: extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress
Name:             tekton-dashboard
Namespace:        tekton-pipelines
Address:          172.18.0.2
Default backend:  default-http-backend:80 (<error: endpoints "default-http-backend" not found>)
Rules:
  H

[2021-01-19 13:14] qiuxin commented on #1880
[root@robertqiu ~]# kubectl get svc tekton-dashboard -n tekton-pipelines
NAME               TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)    AGE
tekton-dashboard   ClusterIP   10.109.36.184   <none>        9097/TCP   23d
[root@robertqiu ~]#

[2021-01-19 13:15] qiuxin commented on #1880
[root@robertqiu ~]# kubectl get ing -n tekton-pipelines
Warning: extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress
NAME               CLASS    HOSTS               ADDRESS      PORTS   AGE
tekton-dashboard   <none>   www.robertqiu.net   172.18.0.2   80      4h40m
[root@robertqiu ~]#

[2021-01-19 13:16] qiuxin commented on #1880
[root@robertqiu ~]# kubectl get pods --namespace tekton-pipelines
NAME                                           READY   STATUS    RESTARTS   AGE
tekton-dashboard-56c78f485b-p9mtc              1/1     Running   0          23d
tekton-pipelines-controller-5cdb46974f-4qqc4   1/1     Running   0          23d
tekton-pipelines-webhook-6479d769ff-rnn42      1/1     Running   0          23d
[root@robertqi

[2021-01-19 13:54] qiuxin commented on #1880
I guess this is probably the reason. I do NOT follow the instructions in the link:https://kind.sigs.k8s.io/docs/user/ingress/#ingress-nginx
Instead, I install the NGINX controller in the way itemized below:
`[root@VM-0-10-centos~]# helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx`
`"ingress-nginx" has been added to your repositories`
`[root@VM-0-10-centos ~]# helm repo update

[2021-01-20 08:21] kobaji commented on #1727
Thank you very much for your helpful support @AlanGreene !!
Our team will be trying checking `locales.supported` .

Thank you again!

[2021-01-20 09:12] qiuxin commented on #1880
I restore my virtual machine and reinstall everything. The way I install Nginx follows https://kind.sigs.k8s.io/docs/user/ingress/#ingress-nginx.   But still no luck.

`[root@VM-0-3-centos ~]# kubectl wait --namespace tekton-pipelines \`
`>   --for=condition=ready pod \`
`>   --selector=app.kubernetes.io/component=controller \`
`>   --timeout=90s`
`pod/tekton-pipelines-controller-769bcc6996-cgjbq

[2021-01-22 01:22] rivlinp opened #1914 "Show a graph view of pipeline in dashboard"
# Is your feature request related to a problem ?

Currently in tekton dashboard `v0.13.0` for pipelines you dont see a graph like view of what the pipeline would do. You can see this option in projects like circleci or openshift

<img width="937" alt="Screen Shot 2021-01-21 at 8 20 37 PM" src="https://user-images.githubusercontent.com/791799/105432759-48832900-5c26-11eb-85ff-9828a5928b45.png">

#

[2021-01-22 10:22] AlanGreene commented on #1914
Hey @rivlinp, thanks for the feature request. We've already done some work on this and are tracking it in https://github.com/tektoncd/dashboard/issues/675. I'll be updating that issue in the next few weeks with the current plans / new design and we hope to pick it up again soon.

Closing this as a duplicate.

[2021-01-22 10:22] #1914 closed

[2021-01-22 11:33] AlanGreene commented on #675
Potential updated design:
![image](https://user-images.githubusercontent.com/2829095/105485336-a0f90b80-5ca4-11eb-83a1-e3c9513ce6fe.png)

It's more compact and slightly less likely to have unwanted edge crossings.

This requires only a small config change to the current graph code and some minor style tweaks.

Current POC keeps the expanding Task behaviour from the original:
![image](https://user-

[2021-01-22 14:26] AlanGreene opened #1915 "Update go deps"
Update go deps for tektoncd/pipeline, triggers, and plumbing (maybe?), see `go.mod` etc.

The k8s deps can probably also be updated, Tekton Pipelines 0.20 now requires min. kubernetes 1.17

We need to test and ensure the Dashboard still works with the updated versions and will likely need to remove some older Tekton project versions from our compatibility chart.

[2021-01-25 15:27] AlanGreene commented on #1445
Many parts of this are still needed / wanted. Freezing so it doesn't get auto-closed.

/lifecycle frozen

[2021-01-25 16:59] didier-durand commented on #1729
@AlanGreene : any progress / decision regarding the implementation of this use case? Best,Didier

[2021-01-26 16:37] Fabian-K opened #1918 "Error handling/display when using the external logs feature"
Hi,

I just configured our dashboard to use the '--external-logs' feature 🥳. In case the external logs service fails, it currently displays something like `{"timestamp":"2021-01-26T16:22:30.182+00:00","path":"/logs/site-it-mobile/uiveri5-sapitcloud-m7ktl-uiveri5-2sh4x-pod-tq6ts/step-find-uiveri5-config","status":500,"error":"Internal Server Error","message":"","requestId":"df3c9584-16"}`. Visually

[2021-01-27 09:57] AlanGreene commented on #1918
@Fabian-K what version of the Dashboard are you seeing this on? Is your log service returning a non-200 response status when it fails to retrieve the logs?

[2021-01-27 10:29] Fabian-K commented on #1918
Thanks for the quick reply! We are currently using `v0.12.0`.

I think in this case it ran into a timeout, I´d have to double-check. I can see the following log output of tekton dashboard:

[code]

[2021-01-27 12:33] AlanGreene commented on #1918
Thanks for the extra detail. I've confirmed that the client code wasn't correctly handling some error cases, including timeouts, and have a PR with a fix: https://github.com/tektoncd/dashboard/pull/1919

Once that's merged it'll be available in the following nightly release. We may also schedule a 0.13.1 patch release in the next week or so and bundle a few other fixes.

[2021-01-27 13:54] #1918 closed

[2021-01-28 12:36] IamGabrielWu opened #1923 "authenication and user management in dashboard"
# Is your feature request related to a problem ?

Now everyone has access to dashboard can do everything they want. This is not expected. I hope there could be an authentication so users need to authenicate then sign in and also I hope we can manage users with different permissions, like roles or groups.

Role User for viewing logs.
Role Admin for create taskrun/tasks/pipelines/pipelineruns --

#

[2021-01-28 12:44] AlanGreene commented on #1923
Thanks for the feature request @IamGabrielWu. This is something we're already tracking in a number of issues related to authentication and more granular permissions etc. See for example:

- authentication https://github.com/tektoncd/dashboard/issues/692
- single namespace visibility https://github.com/tektoncd/dashboard/issues/1018
- run as a client via `kubectl proxy` https://github.com/tektoncd/

[2021-01-28 12:44] #1923 closed

[2021-01-28 13:30] AlanGreene commented on #1428
From Slack: https://tektoncd.slack.com/archives/CHTHGRQBC/p1611838472022800

When I'm deep-linked to a PipelineRun screen, is there a way to navigate to the Pipeline from it?  I'm looking at https://dashboard.dogfooding.tekton.dev/#/namespaces/tektonci/pipelineruns/check-pr-labels-l2n98?pipelineTask=check-kind-label linked from a Github status check and ideally I'd like to get to the pipeline so I

[2021-01-28 13:35] sbwsg commented on #1181
An extension of this idea: it might be nice to also link to the Task / Pipeline referenced by label (or a filtered view of Task / Pipeline).  At the moment if I'm deep-linked to a PipelineRun page I'm not able to easily navigate to the Pipeline that the PR is built from.  Ideally I'd like to get to it so that I can refer back to what the PipelineRun is "supposed" to do in the event that it either

[2021-01-29 20:25] k commented on #1388
Can this be added to tekton cli? It would be good to tell developers to only install one tool and then they can access the dashboard and automatically uses their kubeconfig

[2021-02-01 10:18] AlanGreene commented on #1388
It could be added as an optional plugin and that should work today with the way both pieces are currently set up (add a symlink from `~/config/tkn/plugins/tkn-dashboard` to the client so it can be run as `tkn dashboard` instead of `tkn-dashboard`) but I'm not sure if it would make sense to include it by default.

[2021-02-01 13:07] AlanGreene commented on #1915
Thinking about this some more, I wonder if it would make sense to switch to `k8s.io/client-go/dynamic` for Pipelines and Triggers resources instead so we're less tightly coupled to their releases?

[2021-02-03 13:37] AlanGreene opened #1930 "Remove Secrets and ServiceAccounts functionality"
## Request

Remove the `Secrets` and `ServiceAccounts` functionality from the Dashboard.

## Reasoning

- Current support is incomplete
  - only supports creating basic-auth secrets with Tekton annotations for git / docker
  - can only patch Secret onto ServiceAccount during Secret create flow
  - no ability to remove Secret from ServiceAccount (apart from automatic removal when deleting a Secret

[2021-02-03 14:10] AlanGreene commented on #1191
Secrets functionality may be going away soon so this may no longer be required. Track discussions / plan at https://github.com/tektoncd/dashboard/issues/1930

[2021-02-03 14:14] AlanGreene commented on #866
Already reached out to @ziheng on Slack to let him know about possible impact on this task. Posting here too.

Secrets functionality may be going away soon so this may no longer be required. Track discussions / plan at https://github.com/tektoncd/dashboard/issues/1930

[2021-02-03 14:34] AlanGreene commented on #1930
Brought this up on the general Tekton working group today asking for feedback. Let's see what response we get in the next week or so.

[2021-02-05 16:44] AlanGreene commented on #1915
Dependency on the Pipelines and Triggers clients has been removed, we're now using the dynamic informers for these resources.

Next up are the k8s deps. Pipelines 0.21 and Triggers 0.12 are moving to 0.19.7 (supports kubernetes 1.18+), we should follow suit for consistency. Holding off on making this change until https://github.com/tektoncd/dashboard/issues/1930 is done since that removes quite a

[2021-02-08 04:28] kobaji commented on #1884
/assign @watanabeyk , my fellow.

[2021-02-08 04:29] kobaji commented on #1884
/assign @watanabeyk , my fellow.

[2021-02-08 04:30] kobaji commented on #1884
/assign @kobaji

[2021-02-08 19:58] AlanGreene commented on #762
This is still something we want to do. Freezing to prevent it from auto-closing
/lifecycle frozen

[2021-02-09 10:51] AlanGreene commented on #1930
Proceeding with removal for 0.14 release.

[2021-02-09 13:50] #1930 closed

[2021-02-09 15:50] AlanGreene commented on #866
#1931 is merged, closing this as obsolete.
/close

[2021-02-09 15:50] #866 closed

[2021-02-09 15:51] AlanGreene commented on #1191
#1931 is merged, closing this as obsolete.
/close

[2021-02-09 15:51] #1191 closed

[2021-02-10 02:33] so0k opened #1939 "Disable websockets"
# Websockets fail and clog logs

we use Pritunl Zero as SSO Proxy for several internal services, it is deployed as a Pet instance
logs are clogged  with errors due to tekton-dashboard websocket errors and we'd like to disable websockets

on Client:

[code]

on Pzero instance:

[code]

on tekton-dashboard Backend:

[code]

# Describe the solution you'd like

to reduce spam in pritunl Zero logs, we'

[2021-02-10 11:02] AlanGreene commented on #1939
Thanks for the feature request @so0k.

I'm not familiar with Pritunl, but this post seems to be an exact match for the error you're receiving https://docs.pritunl.com/discuss/5e79f47ddfb35e01fb100523. It may be worth posting more details there or on a new thread to see if there's additional guidance to help you resolve the error.

The Dashboard is intended as a realtime view of the current state o

[2021-02-11 12:14] AlanGreene commented on #1012
Logo assets are available at https://github.com/cdfoundation/artwork/tree/main/tekton/additional-artwork/tekton_dashboard

/close

[2021-02-11 12:14] #1012 closed

[2021-02-11 16:27] steveodonovan commented on #1915
/assign

[2021-02-11 16:47] AlanGreene commented on #1012
and it's now used on the About page https://github.com/tektoncd/dashboard/pull/1940

[2021-02-15 18:32] #1915 closed

[2021-02-16 09:31] patsevanton opened #1942 "Error loading PipelineRuns Not Found"
Hello! Thanks for TektonCD
I try install TektonCD by article https://docs.ventuscloud.eu/docs/tutorials/tekton-pipelines

[code]
![image](https://user-images.githubusercontent.com/10828883/108044059-fe963300-706b-11eb-9e92-0194c4c704dc.png)
![image](https://user-images.githubusercontent.com/10828883/108044092-06ee6e00-706c-11eb-91e0-e5bcf2ac7395.png)

- Kubernetes Platform:
Yandex Cloud
- Kubernet

[2021-02-16 13:01] AlanGreene commented on #1942
@patsevanton thanks for reporting this. It looks like that article is quite old and many of the instructions are no longer valid.

To install the latest release of Tekton Pipelines, the correct command is:
`kubectl apply --filename https://storage.googleapis.com/tekton-releases/pipeline/latest/release.yaml`

(notice the addition of 'pipeline' in the URL)

Once you have the latest Pipelines and Das

[2021-02-17 02:35] patsevanton commented on #1942
Thanks!

[2021-02-17 02:35] #1942 closed

[2021-02-17 12:52] fiunchinho opened #1943 "Show TaskRun results when clicking on a TaskRun"
When clicking on a TaskRun I can see two columns: parameters and status. I think it'd be useful to add a third column to show the Tekton `results` (if any) that the `TaskRun` created for other tasks to consume.

[2021-02-17 12:55] AlanGreene opened #1944 "Ensure PipelineRuns created in pending state are handled correctly"
Related: https://github.com/tektoncd/pipeline/pull/3522 and [docs](https://github.com/tektoncd/pipeline/blob/master/docs/pipelineruns.md#pending-pipelineruns)

Since Tekton Pipelines 0.21 a `PipelineRun` can be created with status `PipelineRunPending` and will not begin executing until the status is updated.

Verify this is handled correctly in the Dashboard and that we display a suitable status s

[2021-02-17 12:58] AlanGreene commented on #1943
Thanks for the feature request @fiunchinho, I agree this would be useful. It falls under the 'currency' section of our roadmap to ensure the Dashboard surfaces relevant information about all Tekton Pipelines features to the user. I don't see an existing issue tracking this so thanks again for opening one.

[2021-02-17 13:06] fiunchinho opened #1945 "Show duration time next to `TaskRun` name when clicking on `PipelineRun`"
Currently I have to click on a `TaskRun` to see how much time it took to run. Not sure if this would sound helpful to others, but I'd find useful that when clicking on a `PipelineRun`, I would see the list of `TaskRuns` with the amount of time it took to run next to its name.

[2021-02-17 16:03] JPEWdev commented on #1840
/remove-lifecycle stale
This would still be a really useful feature

[2021-02-22 16:13] #1884 closed

[2021-02-24 01:04] hb-chen opened #1954 "Event listeners detail page, Error loading page Cannot read property 'join' of undefined"
# Describe the bug

http://{host}/#/namespaces/default/eventlisteners/xxx
event listeners detail page get this error

# Expected behaviour

no error

# Steps to reproduce the bug

# Environment details

- Kubernetes Platform:
  - Rancher
- Kubernetes or OpenShift version:
  - v1.19.7
- Versions:
  - Tekton Dashboard:
    - v0.14.0
  - Tekton Pipelines:
    - v0.20.0
  - Tekton Triggers:
    - v0.1

[2021-02-24 01:50] AlanGreene commented on #1954
Thanks for reporting. Can you share details of the EventListener you're seeing this with? Either a copy of the resource or a description of the fields you're using would be very helpful.

[2021-02-24 03:21] hb-chen commented on #1954
This is my el, binding and template yaml. Used github interceptor.
[code]

[2021-02-24 12:11] #1954 closed

[2021-02-24 12:18] AlanGreene commented on #1954
Fix merged and will be available in the next nightly build. Thanks again for reporting this @hb-chen 😸

[2021-02-25 11:58] AlanGreene commented on #843
Closing since there's no sign of this changing anytime soon. We can reopen if needed.

[2021-02-25 11:58] #843 closed

[2021-02-25 12:44] AlanGreene commented on #1550
Another approach to using the git-clone Task without having to ship it with the Dashboard would be to use [Tekton Bundles](https://github.com/tektoncd/pipeline/blob/master/docs/pipelines.md#tekton-bundles), however support for this is currently disabled by default in Tekton Pipelines https://github.com/tektoncd/pipeline/issues/3661. There's also a feature request to have Tasks from the catalog aut

[2021-03-01 09:35] soulseen opened #1961 "extension the service resource successfull, but how can I create service on dashboard"
I followed the doc https://github.com/tektoncd/dashboard/blob/master/docs/extensions.md extension the service resource success, but how can I create a service use dashboard.
I can not find any create button on the dashboard.

[2021-03-01 10:03] AlanGreene commented on #327
We should keep this simple and follow by default, stopping when the user scrolls. This shouldn't require any additional dependencies.

[2021-03-01 10:06] AlanGreene commented on #1961
The Tekton Dashboard does not provide the ability to create a Service via the UI, its main focus is to provide a view of and ability to manipulate Tekton resources.

Can you provide some more information about what you're trying to achieve?

[2021-03-01 17:31] #1944 closed

[2021-03-02 14:54] AlanGreene commented on #937
/lifecycle frozen

[2021-03-03 12:44] afrittoli commented on #1943
Same for pipeline runs please 🙏
The release pipeline now produces results with links to the release:
[code]

But the results are not visible via the dashboard.

[2021-03-03 15:56] AlanGreene commented on #1943
PR open to display results for TaskRuns: https://github.com/tektoncd/dashboard/pull/1965
We'll include this in the v0.15 release which should be available next week.

Doing the same at the PipelineRun level will take a little more work as we don't have equivalent tabs *yet*... Maybe something we can try to tackle for v0.16. See https://github.com/tektoncd/dashboard/issues/1570 and https://github.c

[2021-03-03 17:27] #1727 closed

[2021-03-03 17:32] AlanGreene commented on #1727
Thanks to @kobaji @rudeigerc @yamaken1343 @kkosaka and everyone else who has contributed translations or code changes to support this 🎉

[2021-03-03 23:19] kobaji commented on #1727
Thanks to helpful supports by @AlanGreene our team could commit.
Thank you very much.

[2021-03-05 19:19] AlanGreene opened #1969 "Update release pipeline to use workspaces and results"
Remove use of PipelineResources, switching to Tasks with workspaces and results instead.

See [tektoncd/pipeline](https://github.com/tektoncd/pipeline/blob/0a08cdca1290423fe176e9facd2e7d9396a7c65c/tekton/release-pipeline.yaml) and [tektoncd/operator](https://github.com/tektoncd/operator/blob/e12d59a388f11c906ae359b74f339797d29db495/tekton/operator-release-pipeline.yaml) release pipelines for examp

[2021-03-05 19:40] AlanGreene opened #1970 "Add support for Custom Tasks"
# Is your feature request related to a problem ?

Dashboard should support displaying (at least) all resources provided by the core Tekton projects.

It does not currently display Custom Tasks (Run CRD) in any useful manner.

# Describe the solution you'd like

Add support for displaying / interacting with Custom Tasks (Run CRD) https://github.com/tektoncd/community/blob/main/teps/0002-custom-task

[2021-03-05 19:43] AlanGreene opened #1971 "Add support for missing Triggers resources"
# Is your feature request related to a problem ?

Dashboard should support displaying (at least) all resources provided by the core Tekton projects.

It does not currently display the following Triggers CRD:
- [ ] [Trigger](https://github.com/tektoncd/triggers/blob/main/docs/triggers.md)
- [ ] [ClusterInterceptor](https://github.com/tektoncd/triggers/blob/main/docs/clusterinterceptors.md)

# Descr

[2021-03-05 19:54] AlanGreene opened #1972 "Syntax highlighting for YAML display"
# Is your feature request related to a problem ?

Large blocks of YAML can be difficult to scan quickly.

# Describe the solution you'd like

Add syntax highlighting for the `ViewYAML` component to make it easier to read.

We could use something like [`react-syntax-highlighter`](https://www.npmjs.com/package/react-syntax-highlighter) to achieve this. It's already used by [tektoncd/hub](https://git

[2021-03-09 09:20] 06kellyjac commented on #1713
/remove-lifecycle stale

Theming is still important

[2021-03-09 16:10] AlanGreene commented on #1842
This should be one of the next big changes we make as it enables a number of interesting possibilities and integrations.
/lifecycle frozen

[2021-03-10 21:25] AlanGreene commented on #1943
TaskRun results have been included in the nightly builds for a few days now and will be included in the Dashboard v0.15 release later this week.

@afrittoli I'm moving the remaining work for PipelineRun results to #1570 as both require the same foundation.

[2021-03-10 21:25] #1943 closed

[2021-03-10 21:26] AlanGreene commented on #1570
Updated title + description to also cover PipelineRun results as requested in https://github.com/tektoncd/dashboard/issues/1943#issuecomment-789688924 and by a number of users on Slack.

[2021-03-10 21:29] #1961 closed

[2021-03-11 07:39] hprateek43 opened #1978 "Pagination in Tekton Dashboard UI"
# Is your feature request related to a problem ?
Tekton UI becomes unresponsive if a large number of pipelineruns or taskruns exist in a namespace.

We use tekton to run github checks for our org. We create close to 200 pipelineruns everyday, and even more task runs in a common namespace. The tekton UI takes a long time to load, and crashes and becomes unresponsive on a frequent basis. The solutio

[2021-03-11 07:39] hprateek43 commented on #1978
@bobcatfish cc

[2021-03-11 10:30] AlanGreene commented on #1978
Thanks for the feature requet @hprateek43. We agree that this is very important and it's come up a number of times in the past and been discussed at length at various working group meetings. Ultimately we're limited by the Kubernetes API in terms of the level of sorting / filtering we can provide, see previous issue tracking this here https://github.com/tektoncd/dashboard/issues/842

When the numb

[2021-03-11 10:30] #1978 closed

[2021-03-11 14:57] stevesoaress opened #1980 "Add Collapsable Log Sections"
# Is your feature request related to a problem ?

Provide the ability for job logs to be divided into sections that can be collapsed or expanded.  Travis and Gitlab CI have good examples.

# Describe the solution you'd like

Sample raw job log:
[code]

This example would create 1 collapsible job section. The difference in timestamps would display the time taken to run the commands in the section.

[2021-03-11 16:28] afrittoli commented on #1970
I wanted to create this feature request... but it's already there :)
A first step here would be to able to display a `Run`.
I'm not sure we want to be display the specific custom tasks, as they're experimental.

If there's a way display them based on the CRD alone, we could do that, or support some kind of plugin mechanism to support them?

For things like task loops or pipelines in pipelines, we

[2021-03-11 18:10] #1550 closed

[2021-03-11 18:28] AlanGreene commented on #1970
@afrittoli you mentioned on the Tekton working group this week that you were working on updating some of our existing CI jobs to use custom tasks. Can you point me at an example of some of those so I can get a feel for how they're being used in practice and how we might display something useful to the user?

[2021-03-11 21:26] afrittoli commented on #1970
This is an example of a task loop: https://dashboard.dogfooding.tekton.dev/#/namespaces/tekton-ci/pipelineruns/plumbing-unit-tests-flfmk?pipelineTask=clone-repo&step=clone

[2021-03-11 22:01] AlanGreene commented on #1970
Thanks for the link. Looking at another [example](https://dashboard.dogfooding.tekton.dev/#/namespaces/tekton-ci/pipelineruns/plumbing-unit-tests-2ps97?pipelineTask=unit-tests&step=unit-test&view=logs) where the task loop actually ran I see that we're actually already retrieving the relevant `TaskRuns` from the cluster but because the Dashboard client code isn't aware of custom tasks it just uses

[2021-03-12 10:06] Hokwang opened #1982 "performance issue"
Hi,

I have some(?) tr, prs.
[code]
I think this is quite small numbers.

when access dashboard first, it is pr page. here's few seconds waiting.
and then I click tr page. chrome shows below alert message.
![image](https://user-images.githubusercontent.com/1247030/110924251-2c1d8600-8365-11eb-8ce9-da3e5c79d45c.png)

I edited dashboard deployment resources like
[code]
but it does not work.

If you

[2021-03-12 12:08] AlanGreene commented on #1982
Thanks for raising this issue. It's a known problem at the moment, see this comment from yesterday for more details: https://github.com/tektoncd/dashboard/issues/1978#issuecomment-796636018

The Tekton Results project will give us more flexibility in querying the resources than the existing Kubernetes API which does not support pagination or advanced filtering.

Closing this for now, integration o

[2021-03-12 12:08] #1982 closed

[2021-03-15 15:57] AlanGreene commented on #1980
Thanks for the feature request @stevesoaress. I'm not sure if this is something that makes sense to implement specifically for the Dashboard. One of the reasons I think GitLab and Travis can do this is that they control the full end to end experience and can manipulate the log content to inject their magic strings at the desired boundaries (command, stage, etc.) to be displayed by their own UI whi

[2021-03-16 16:26] stevesoaress commented on #1980
I think this would have to be specific to the Tekton dashboard client and not other clients or tools like Jenkins X.  Adding collapsible sections shouldn't be mandated and would benefit users that want to easily navigate in the tekton dashboard log viewer.

Github Actions seems to support something similar as well but there doesn't seem to be a standard approach /format. https://github.com/actions

[2021-03-22 23:10] AlanGreene commented on #1420
This is still something we want to do. Freezing so it doesn't get auto closed.
/lifecycle frozen

[2021-04-12 12:21] AlanGreene opened #2000 "Refactor containers to be functional components"
Refactor the [containers](https://github.com/tektoncd/dashboard/tree/main/src/containers) to be functional components so that we can use the React Hooks API.

This is a pre-requisite for [adopting `react-query`](https://github.com/tektoncd/dashboard/issues/1842) and other libraries which only provide a Hooks-based API.

- [x] About
- [x] App
- [x] ClusterTasks
- [x] ClusterTasksDropdown
- [x] Clus

[2021-04-12 12:22] AlanGreene commented on #1842
This is currently blocked by #2000 which is in progress.

[2021-04-12 12:30] #1939 closed

[2021-04-12 12:34] #1722 closed

[2021-04-20 15:17] jmcshane opened #2007 "Add tab for clusterinterceptors"
# Is your feature request related to a problem ?

Triggers v0.13 introduced the ClusterInterceptor kind, I would like to see the list of interceptor types currently deployed in the cluster

# Describe the solution you'd like

A simple list of ClusterInterceptors currently installed in the cluster, with a view similar to the ClusterTriggerBindings

# Describe alternatives you've considered

You cou

[2021-04-20 15:22] jmcshane commented on #2007
ah! sorry for the duplicate @AlanGreene. I missed that one when i searched through the issues

[2021-04-20 15:26] AlanGreene commented on #2007
No worries. It's good to make sure these things are captured so I'd rather have too many issues than too few 😅

[2021-04-23 15:18] #1971 closed

[2021-04-28 15:53] wingyplus commented on #1972
I've tried it with the atom dark theme.

<img width="1667" alt="Screen Shot 2564-04-28 at 22 20 13" src="https://user-images.githubusercontent.com/484530/116429267-ee6eb100-a86f-11eb-8058-0c1edc5f54f4.png">

After I try to fix the background color to match with previous output. It become:

<img width="1673" alt="Screen Shot 2564-04-28 at 22 50 43" src="https://user-images.githubusercontent.com/484

[2021-04-29 11:21] AlanGreene commented on #1713
https://github.com/tektoncd/dashboard/pull/2016 introduces the foundational work required to support theming (CSS custom properties), and includes some previews of how things could look based on our current design token use.

More work required to complete this but it should be a lot simpler for someone to pick up once that PR is merged.

[2021-04-29 20:09] houshengbo opened #2017 "Port-forwarding works, but the ingress does not work for dashboard"
# Describe the bug

I am using the kubernetes service on dosker-desktop locally.
I install the dashboard with the command `kubectl apply -f https://github.com/tektoncd/dashboard/releases/download/v0.16.1/tekton-dashboard-release.yaml`

I install the nginx with `kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.45.0/deploy/static/provider/cloud/deploy.yaml`.

[2021-04-29 20:55] houshengbo commented on #2017
Problem solved. We have to be aware the `escape` before $2 and $1, when saving the content into yaml files.
It works differently with the `cat` command.

[2021-04-29 20:55] #2017 closed

[2021-05-02 11:03] AlanGreene commented on #1388
/lifecycle frozen

[2021-05-05 05:52] kuznero commented on #2017
@houshengbo, can you please provide a working example of an ingress?

[2021-05-05 17:43] AlanGreene commented on #1980
Closing this since it would be Dashboard specific, require changes to the way logs are produced in users' steps (not always possible or desired), and produce unwanted noise in the logs for other clients.

[2021-05-05 17:43] #1980 closed

[2021-05-06 16:49] AlanGreene commented on #2000
@wingyplus that would be great, thank you

[2021-05-07 05:18] wingyplus commented on #2000
@AlanGreene I just see that Tasks container lack of tests and storybook. Do we need to add tests (and storybook) before begin refactoring it?

[2021-05-07 07:04] kuznero commented on #2017
When ingress looks like this, it does not seem to work:

[code]

One difference though with the original setup above is that I am accessing it on the port - `localhost:7080/tekton/dashboard`.

[2021-05-07 07:51] kuznero commented on #2017
Please /reopen

[2021-05-07 09:25] AlanGreene commented on #2000
The storybook is primarily focused on developing and testing the presentational components (from `packages/components`) in isolation, so there's no need to add an entry for a page-level container.

Many of the containers don't currently have tests as they follow a very similar pattern and usually just interact with the redux code which is already well tested. If there are particular pieces you fee

[2021-05-07 13:40] #1252 closed

[2021-05-07 14:40] #1729 closed

[2021-05-07 16:56] wingyplus commented on #2000
@AlanGreene  Thanks for your guide. After apply `useWebSocketReconnected`, I didn't see any point to add more test to do this ^^.

And I open PR https://github.com/tektoncd/dashboard/pull/2022 for a `Tasks` component. Please kindly review. ^^

[2021-05-11 02:01] wingyplus commented on #2000
I'm working on `TaskRuns`.

[2021-05-13 11:19] cybul7 opened #2035 "Dashboard works very slow when I have more than 100 taskRuns/pipelineRuns"
# Describe the bug
When I have more than ~100 taskRuns/pipelinesRuns then dashboard works very very slow. It loads taskRuns/pipelineRuns page ~5-10 seconds.

# Expected behaviour

It should load faster.

# Environment details

- Kubernetes Platform:
 k3s
- Kubernetes version:
 v1.18.8+k3s1
- Versions:
   - Tekton Dashboard:
   v.0.16.1
   - Tekton Pipelines:
   v0.24.1
   - Tekton Triggers:
   v0.

[2021-05-13 12:18] AlanGreene commented on #2035
Thanks for reporting this issue. The loading times you're reporting certainly seem excessive for about 100 TaskRuns / PipelineRuns.

For comparison, on our [dogfooding cluster](https://dashboard.dogfooding.tekton.dev/) which we use for Tekton's own CI/CI, we have:
- ~700 PipelineRuns, loading in ~3s
- ~1700 TaskRuns, loading in <5s

Of course these times will depend on your machine's specs, your n

[2021-05-14 10:21] AlanGreene commented on #2000
@wingyplus thank you for your work on this so far. Are you still planning on contributing a PR to refactor the `TaskRuns` container? If not that's absolutely fine, just let me know so I can complete the remaining work for this issue.

[2021-05-14 10:45] wingyplus commented on #2000
@AlanGreene I've a draft pull request here https://github.com/tektoncd/dashboard/pull/2039. Just converted a few days ago but didn't test it well.

[2021-05-18 16:52] AlanGreene commented on #2000
The last PR has finally been merged 🎉 Now the real work can begin.
/close

[2021-05-18 16:52] #2000 closed

[2021-05-18 17:41] JPEWdev commented on #1840
/remove-lifecycle stale Still a valid UI request

[2021-05-20 09:42] #2035 closed

[2021-05-20 11:41] AlanGreene commented on #1969
Also need to update template for nightly release: https://github.com/tektoncd/plumbing/blob/2c1808d75b38d6fcaae0a37f5a9dda50545af4c8/tekton/resources/nightly-release/overlays/dashboard/template.yaml

See Pipelines / Triggers equivalent for reference.

[2021-05-20 11:52] nikhil-thomas commented on #1969
/assign

[2021-05-21 14:35] AlanGreene opened #2047 "Remove ClusterRole aggregationRule from default installs"
[`base/200-clusterrole-extensions.yaml`](https://github.com/tektoncd/dashboard/commit/282b291375d6b40bb9e8e6f82e00bbaa41893e31#diff-5914806ab704c5e9f84cb0f412680c12d2cab0b6938ce4243f67999206961949) defines a `ClusterRole` with an `aggregationRule` that was intended to make it easier for users of Dashboard extensions to add the additional roles required by their extension without having to edit the

[2021-05-21 14:49] AlanGreene opened #2048 "Remove the dropdown container components from the Storybook"
The Dashboard Storybook is intended as a development sandbox and showcase for the UI components provided by the `@tektoncd/dashboard-components` package.

These should be pure UI components, with no dependency on any particular data / API layer, URL scheme, etc. They should render purely based on their props.

Including the dropdown containers (`PipelinesDropdown`, `ServiceAccountsDropdown`, etc.)

[2021-05-21 15:14] AlanGreene opened #2049 "Skip to main content link navigates to different page"
# Describe the bug

Using the keyboard, tab from the browser's address bar to the page content and a 'Skip to main content' link should be displayed. Click this link and the browser is navigated to the PipelineRuns page.

![image](https://user-images.githubusercontent.com/2829095/119158122-ca0c8b80-ba4d-11eb-88fb-a38abaedb533.png)

# Expected behaviour

Clicking the link should focus the main cont

[2021-05-21 15:23] AlanGreene opened #2050 "Layout shifts when adding / removing filters on list pages"
# Describe the bug

The content below the filter shifts up / down slightly (maybe 1 or 2px) as filters are removed / added.

# Expected behaviour

Content should be positioned consistently and layout shouldn't shift as I'm using the Dashboard.

# Steps to reproduce the bug

- Navigate to https://dashboard.robocat.tekton.dev/#/pipelineruns
- In the same tab, navigate to https://dashboard.robocat.te

[2021-05-22 10:18] AlanGreene commented on #2047
Instead of removing the content we can move it behind an installer flag so there's still an easy way for users to
generate the required rbac resources, something like `--extensions-rbac`. Documentation should highlight this and describe the requirements if users want to handle it manually instead.
/assign

[2021-05-22 11:38] AlanGreene commented on #2047
Change ready and tested locally, will open PR after https://github.com/tektoncd/dashboard/pull/2053 is merged to avoid conflicts since it also modifies similar parts of the installer script.

[2021-05-22 13:11] JPEWdev commented on #1840
/remove-lifecycle stale

Still a valid request

[2021-05-24 13:55] wingyplus commented on #2048
@AlanGreene I found during open #2056 that the EventListenerContainer compile error in `Base`, `No ServiceAccount` and `No Service Type` section. I think it's because of the missing `namespace` in `match.params`. But just want to confirm that it's unexpected behaviour, then I'll submit an issue if it's a bug.

<img width="1865" alt="Screen Shot 2564-05-24 at 20 51 06" src="https://user-images.gith

[2021-05-24 14:00] AlanGreene commented on #2048
@wingyplus yes that's a bug, thanks for reporting it.

[2021-05-24 14:08] wingyplus opened #2057 "Storybook js compile error in EventListenerContainer section"
# Describe the bug

When open EventListenerContainer section in storybook, the subsection `Base`, `No ServiceAccount` and `No Service Type` show the compilation error with stacktrace like picture below:

<img width="1865" alt="Screen Shot 2564-05-24 at 20 51 06" src="https://user-images.githubusercontent.com/484530/119359796-2da7ea80-bcd4-11eb-9f28-0aa31e9197f3.png">

# Expected behaviour

The com

[2021-05-24 14:20] wingyplus commented on #2048
@AlanGreene Ok. I submitted at #2057 with including bug fix at #2058

[2021-05-24 15:22] #2048 closed

[2021-05-25 02:40] wingyplus commented on #1972
I'll pick this issue and show the prototype to see the feedback.

[2021-05-25 09:49] AlanGreene commented on #1972
Thanks @wingyplus. There's also some discussion in the Carbon Design System (which we use for our underlying base styles and components) about syntax highlighting so it might be worth checking that and keeping an eye on progress: https://github.com/carbon-design-system/carbon-website/issues/965

[2021-05-25 09:57] wingyplus commented on #1972
@AlanGreene Thanks for pointing to the issue. So we need to pause the work until that issue resolve right?

[2021-05-25 10:05] AlanGreene commented on #1972
I've added a comment to that issue asking for an update and can follow up internally in IBM if we don't hear anything back soon. Let's see if we get a response in the next couple of days and we can decide where to go from there.

In the short term we could make the syntax highlighting optional (and disabled by default) so the YAML component could still be used by 3rd party consumers of the Dashboa

[2021-05-25 10:10] wingyplus commented on #1972
That's sounds great. How about we start putting `react-syntax-hightlight` and add attribute something like `syntaxHighlightEnabled` to the `ViewYAML` to toggle the color?

[2021-05-25 11:14] AlanGreene commented on #1972
Sounds good 👍 Let's go with `enableSyntaxHighlighting` for the prop name.

[2021-05-25 11:33] wingyplus commented on #2050
I try inspecting this issue. It seems `min-height` is not enough. After I change from `2px` to `4px`. The issue is disappear.

<img width="479" alt="Screen Shot 2564-05-25 at 18 32 18" src="https://user-images.githubusercontent.com/484530/119491069-b7fd5680-bd87-11eb-9fd4-aa3bc3cd2e4d.png">

[2021-05-25 11:48] wingyplus commented on #2050
I see that it use `calc(#{$spacing-08} + #{$button-border-width})`. If I understand it correctly, `button-border-width` come from lib `carbon`, right?. Maybe it doesn't fit with filter tag?

[2021-05-25 11:59] AlanGreene commented on #2050
yes that's right, it's defined here https://github.com/carbon-design-system/carbon/blob/30d28f9e4c87d0494fc2e098dfef6a842adf88d0/packages/components/src/globals/scss/_theme-tokens.scss#L228

[2021-05-25 13:49] #2057 closed

[2021-05-25 13:55] wingyplus commented on #2050
I guess that because of tag and clear all button is quite bigger a little bit. The workaround might increase the `min-height` offset (~2px) on the `tkn--filters` can be fixed.

What do you think?

[2021-05-25 13:58] AlanGreene commented on #2050
yes that seems reasonable 👍

[2021-05-25 14:21] wingyplus opened #2062 "Clear All label filter incorrect layout when it overflow to the new line"
# Describe the bug

I found this bug during investigate #2050. The problems found when we add labels until clear all button overflow to the next line. It will be shown like this:

<img width="1148" alt="Screen Shot 2564-05-25 at 21 13 59" src="https://user-images.githubusercontent.com/484530/119513733-a96e6980-bd9e-11eb-905a-7d72661edfb8.png">

But if we add more label, it will looks like:

<img w

[2021-05-25 15:21] #2050 closed

[2021-05-26 16:24] AlanGreene opened #2064 "Update RunDropdown story for consistency with expected use"
Destructive actions in menus should typically be listed separately and clearly differentiated from other options. For consistency we place them at the bottom of the list below a divider, and you can see examples of this on both the PipelineRuns and TaskRuns pages where the 'delete' option appears last in the overflow menu.

Update the [RunDropdown story](https://github.com/tektoncd/dashboard/blob/

[2021-05-26 16:28] AlanGreene opened #2065 "Update LoadingShell to add space between the spinner and text"
The LoadingShell component is displayed while the frontend code is attempting to retrieve any required config from the backend API, loading translations, etc. Since this is the first thing users may see (however briefly) we should make sure it looks good.

Currently there's no space between the spinner animation and the 'loading' text causing it to look a little unpolished. We should add a gap, ma

[2021-05-26 16:32] AlanGreene opened #2066 "Update SCSS imports to follow guidance from the sass-loader"
Remove `~` prefix from our SCSS imports as it's no longer required / recommended.

See https://webpack.js.org/loaders/sass-loader/#resolving-import-at-rules

After removing this, verify that styles are still loaded as expected and that we don't have any visual changes.

[2021-05-26 16:34] AlanGreene opened #2067 "Update to Carbon 10.36"
Update to the latest Carbon release (10.36) once available. There's currently a pre-release available so the official release should be available in the next day or so.

https://github.com/carbon-design-system/carbon/releases

When updating we need to ensure our tests still pass and that there's no functional regression or unwanted style changes in the UI.

[2021-05-26 23:34] #2047 closed

[2021-05-27 10:52] alanmoment opened #2068 "Websocket not work when I used ELB, ALB or NLB (AWS)"
tekton-dashboard v.0.17.0

The websocket is work when I used port-forward. But other scenario not work.

**first scenario**

I setup ingress-nginx to visit dashboard. But I can't auto reload from websocket when I do something action.

PS: auto create ELB

[code]

I got error from console

[code]

**second scenario**

I also try to use ALB and NLB. But I got 502 error code when I goto dashboard. By

[2021-05-27 12:21] AlanGreene commented on #2068
Hey @alanmoment, thanks for reporting the issue. We have the same Tekton versions currently deployed to our [dogfooding cluster](https://dashboard.dogfooding.tekton.dev/#/about) on GKE with the Dashboard exposed via [ingress](https://github.com/tektoncd/plumbing/blob/bcb46a7a1a51d4be74cb887ace1421466be696ae/tekton/cd/dashboard/overlays/dogfooding/ingress.yaml). Websockets are working as expected t

[2021-05-27 12:42] alanmoment commented on #2068
Thank you to reply. Below is ingress-nginx setting:

[code]

Could you please give me some advice?

[2021-05-27 12:54] alanmoment commented on #2068
Thanks a lot. When I change `service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp`. Websocket it's work!!

[2021-05-27 12:54] #2068 closed

[2021-05-27 12:56] AlanGreene commented on #2068
Glad to hear it's working for you now.

[2021-05-27 16:31] AlanGreene opened #2069 "Add support for stopping and starting a PipelineRun created with status 'PipelineRunPending'"
# Is your feature request related to a problem ?

If I create a PipelineRun with status 'PipelineRunPending' it appears in the Dashboard but I am unable to either stop or start it. The only options available are 'Rerun' and 'Delete'. The 'Stop' option is disabled and there's no 'Start' option provided at all.

# Describe the solution you'd like

The 'Stop' option should be enabled for these pendin

[2021-05-28 15:22] AlanGreene commented on #1713
Dark mode is available as an experimental feature since v0.17.0 or nightly builds since 2021/05/05.

It can be enabled by setting a flag in the browser's localStorage: `localStorage.setItem('tkn-theme', 'dark')`
Alternatively, to respect the system light/dark theme settings set the value as follows: `localStorage.setItem('tkn-theme', 'system')`

Refresh the page to see the select theme take effect

[2021-05-31 09:56] #2065 closed

[2021-05-31 10:34] AlanGreene commented on #1969
Hey @nikhil-thomas, have you had a chance to look at updating the Dashboard release pipeline yet? No worries if you haven't, I was just wondering if you had run into any problems or had any questions about it.

[2021-05-31 11:11] #2064 closed

[2021-05-31 14:07] nikhil-thomas commented on #1969
hi, i haven't started on it yet. I shall definitely pick it up this week. 🧑‍💻 👍

[2021-06-03 11:37] #2066 closed

[2021-06-08 06:57] wingyplus opened #2083 "View yaml doesn't expand to full content of tab"
# Describe the bug

When I click status tab from task in pipeline run. I found that view yaml expand to the end of yaml content with no right padding or expand to full content of status tab content.

Screenshot capture from my local machine, test against my company cluster:

<img width="1632" alt="Screen Shot 2564-06-08 at 13 48 32" src="https://user-images.githubusercontent.com/484530/121137557-f

[2021-06-08 14:15] AlanGreene commented on #2083
The ViewYAML component uses the `bx--snippet--multi` styles from the [Carbon Design System](https://www.carbondesignsystem.com/) code snippet component, this is to ensure consistency in styling with the rest of the UI. Carbon sets a max-width of 48rem for this component.

We could choose to override this in the Dashboard styles and allow it to expand to the full width of its container.

[2021-06-08 15:28] wingyplus commented on #2083
Thanks for your guide. Let me take a look at it tomorrow. :D

[2021-06-09 22:51] AlanGreene commented on #1970
/lifecycle frozen

[2021-06-10 09:42] LyndseyBu commented on #2067
updated will be included as part of https://github.com/tektoncd/dashboard/pull/2084/files

[2021-06-10 18:25] mdreizin opened #2087 "Add support for display details of `PipelineRun` which uses `Pipeline` from Tekton Bundle"
# Describe the bug

Dashboard does not display any details of `PipelineRun` which uses `Pipeline` from Tekton Bundle:

[code]

# Expected behaviour

It would be nice to display details of such `PipelineRun`-s.

# Steps to reproduce the bug

1. Publish `Pipeline` as Tekton Bundle
2. Create a simple `PipelineRun` which will use `Pipeline` from that bundle.

# Environment details

- Kubernetes Platfo

[2021-06-10 20:31] mdreizin commented on #2087
@AlanGreene Not at all! I am looking forward to arriving that feature.

[2021-06-11 01:02] wingyplus commented on #2067
The carbon design was released to 10.37. Do we need to upgrade it?

[2021-06-11 09:27] AlanGreene commented on #2067
Hi @wingyplus. We updated to 10.36 in https://github.com/tektoncd/dashboard/pull/2084 which was merged yesterday, and I just spoke to @LyndseyBu about the 10.37 release this morning. We have a few other updates to make but will probably consider Carbon 10.37 as part of those too :+1:

Closing this issue now since the original requirement to move to 10.36 is complete.

/close

[2021-06-11 09:27] #2067 closed

[2021-06-11 11:37] #2083 closed

[2021-06-11 14:13] bitsofinfo commented on #972
/remove-lifecycle stale

[2021-06-11 14:14] AlanGreene commented on #972
This should have been linked to https://github.com/tektoncd/dashboard/issues/1445 which we'll need to tackle first, I've just added it as a blocker now.

There are a number of closely related issues that require us to revisit how we structure and display the Task / step / log details so it all works as users expect. You can see some of the discussion in https://github.com/tektoncd/dashboard/issues

[2021-06-11 14:42] AlanGreene commented on #972
freezing this so it doesn't get auto-closed since this is something we do want to add

/lifecycle frozen

[2021-06-11 14:47] wingyplus commented on #972
Thanks for your information. Let me catchup with those issues first. :)

[2021-06-14 06:19] sm43 opened #2089 "Add a configmap which contains dashboard version"
Currently, we fetch version of dashboard through labels present on the
deployments which is read by tools such as `tkn` cli and display the
version. This version may not be displayed to users if they don't have
permission to view the deployment.

So, to allow all authenticate users to fetch dashboard version, add a configmap
and necessary role to access it.

This is part of [TEP-0041](https://gith

[2021-06-14 06:19] sm43 commented on #2089
/good-first-issue
/help-wanted

[2021-06-14 06:51] cpanato commented on #2089
Can i try this one?

[2021-06-14 10:19] AlanGreene commented on #2089
@sm43 thanks for opening the issue, this was on my list but I hadn't gotten around to opening an issue for it yet 👍

@cpanato yes of course, please let me know if you have any questions.

[2021-06-14 10:27] wingyplus commented on #1445
I've try to match on real UI (I test it by changing the color on dogfood site):

`$yellow-30`:
<img width="172" alt="Screen Shot 2564-06-14 at 17 17 09" src="https://user-images.githubusercontent.com/484530/121877028-61ef5380-cd34-11eb-9ff6-b4fa531b503f.png">

`$yellow-20`:
<img width="165" alt="Screen Shot 2564-06-14 at 17 15 51" src="https://user-images.githubusercontent.com/484530/121876866-337

[2021-06-14 10:49] AlanGreene commented on #1445
If we're going with `$yellow-30` we should use the design token `$support-03` as this will ensure consistency if we ever change the underlying colour palette or if Carbon makes changes in future releases.

We should also test that it still looks OK in dark mode. This is not enabled by default yet as there are still a few improvements needed, but you can test it by setting a flag in localStorage vi

[2021-06-14 11:03] wingyplus commented on #1445
Oh, I just know how to set the dark theme. 😆 Here's on dark mode:

`$yellow-30` (or `$support-03`):
<img width="334" alt="Screen Shot 2564-06-14 at 18 00 15" src="https://user-images.githubusercontent.com/484530/121882284-8ea66980-cd3a-11eb-8a66-ef9af6cbb982.png">

`$yellow-20`:
<img width="282" alt="Screen Shot 2564-06-14 at 18 02 51" src="https://user-images.githubusercontent.com/484530/12188248

[2021-06-15 16:07] AlanGreene commented on #327
Mostafa will be working on this.

[2021-06-16 09:32] #2089 closed

[2021-06-18 12:59] AlanGreene commented on #1842
Tracking progress of remaining work…

Resources to migrate to react-query:
- [ ] install properties 🚧 #2091
- [ ] ClusterInterceptors 🚧
- [ ] ClusterTasks
- [ ] ClusterTriggerBindings 🚧
- [ ] Conditions 🚧
- [ ] EventListeners 🚧
- [ ] Extensions
- [ ] Namespaces
- [ ] PipelineResources 🚧
- [ ] PipelineRuns
- [ ] Pipelines
- [ ] ServiceAccounts 🚧
- [ ] TaskRuns 🚧
- [ ] Tasks
- [ ] Triggers 🚧
- [ ] T

[2021-06-19 16:45] lilley2412 commented on #2069
Wondering if it makes sense to not use stop and have a new action "Cancel" to be consistent with the pending pipeline functionality and status?

When a pipelineRun is in the pending state, the options are to start or cancel (and of course delete):

I actually came here looking for an a feature to _start_ a pending pipelineRun from the action menu.  Would it make sense to implement cancel and start

[2021-06-20 12:19] AlanGreene commented on #2069
Using 'Cancel' as the action name was problematic in the past as it's the same as the option to dismiss the confirmation dialog, so that's why we originally went with 'Stop', otherwise we end up with something like this:

![image](https://user-images.githubusercontent.com/2829095/122673618-1ff95e00-d1c9-11eb-8ca0-5b887ace329b.png)

I think we'll have to revisit this anyway given the new [graceful

[2021-06-20 12:28] AlanGreene opened #2094 "Add support for new graceful termination options from TEP-0058"
Add support for the new [graceful termination](https://github.com/tektoncd/community/blob/0ccd5f907bde2452f76330bf5f7bf8a0a14e8bf2/teps/0058-graceful-pipeline-run-termination.md) feature added in Pipelines v0.25 (added as alpha) which provides three different ways to terminate a PipelineRun, differentiating between 'Stop' and 'Cancel'.

There are some additional considerations here:
- feature dete

[2021-06-22 14:32] lilley2412 commented on #2069
Thanks for the context @AlanGreene , makes sense to me.  I have this implemented locally for the pipelineRun page, but not for the action menu.  Happy to finish it if someone else isn't working on it already.

[2021-06-22 14:36] AlanGreene commented on #2069
@lilley2412 that would be great, thanks 🙏

[2021-06-24 09:13] wingyplus opened #2102 "Apply bx--link to link text to make it look nicer on dark theme"
# Is your feature request related to a problem ?

Currently, if you see on dogfooding site. The link text is look harder to read in dark theme. One of example is PipelineRuns https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns. My request is want to change the link to brighter on dark mode.

# Describe the solution you'd like

After I investigating, I found that dashboard doe

[2021-06-24 11:47] wingyplus commented on #2102
Oh, I just see that it's applied on `main` branch. Maybe dogfooding doesn't apply the changes. :D

[2021-06-24 11:49] #2102 closed

[2021-06-24 13:38] briangleeson commented on #1842
/assign

[2021-06-24 13:39] briangleeson commented on #1842
Planning to look at `Extensions` refactor from the above list

[2021-06-24 14:08] AlanGreene opened #2103 "Display pod information to help users debug problems with their TaskRuns or PipelineRuns"
# Is your feature request related to a problem ?

There are a number of classes of error where we don't provide relevant information crucial to debugging.

These include a number of problems at the pod level. Surfacing this information will make it much easier for users to debug in the Dashboard UI without having to switch to `kubectl` or other tools.

# Describe the solution you'd like

Display t

[2021-06-25 23:03] hakuna-matatah opened #2105 "Taskruns when kicked off from dashboard doesn't account for workspace input like it does for params"
# Describe the bug
Taskruns when kicked off from dashboard doesn't account for workspace input like it does for params

Taskruns that contains workspaces input in it's definition will fail with "Validation failure" because we cannot give any input for taskruns that have workspaces enabled from dashboard. It gives following message:

[code]

# Expected behaviour
Taskruns should allow input for work

[2021-06-26 11:56] AlanGreene commented on #2105
Thanks for the issue @hakuna-matatah, we're already tracking this in #1283. Closing as a duplicate.

[2021-06-26 11:56] #2105 closed

[2021-07-02 06:45] t0mdev opened #2109 "Add possibility to specify workspace when creating a pipeline"
# Is your feature request related to a problem ?

We have a pipeline, which uses workspaces to allow sharing our git repository between tasks.

We would like to manually trigger this pipeline via the tekton dashboard. However, this is not possible via the /pipelineruns/create UI, because there I cannot specify a volume or volume claim.

# Describe the solution you'd like

Add the possibility to sp

[2021-07-02 10:42] AlanGreene commented on #2109
Thanks for the feature request @t0mdev, this is something we're already tracking.

Closing as a duplicate of https://github.com/tektoncd/dashboard/issues/1283

/close

[2021-07-02 10:42] #2109 closed

[2021-07-04 11:37] AlanGreene commented on #1283
This is still something we want to add, freezing so it doesn't get automatically closed.

/lifecycle frozen

[2021-07-07 10:33] AlanGreene opened #2114 "Allow creation of Pending PipelineRuns"
# Is your feature request related to a problem ?

Allow creation of a PipelineRun in Pending state via the Dashboard UI

https://tekton.dev/docs/pipelines/pipelineruns/#pending-pipelineruns

# Describe the solution you'd like

In the 'Optional values' fieldset of the Create PipelineRun page we should provide an option for the user to create the PipelineRun in Pending state.

It should be presented

[2021-07-07 13:58] AlanGreene opened #2115 "Move About to the bottom of the SideNav"
Move the link to the About page to the bottom of the SideNav component so it's positioned consistently regardless of other items that are conditionally displayed (e.g. Triggers resource links, Import resources, extensions)

In future we may add a 'Settings' page, so having this positioned consistently will be important, especially if we restore the SideNav rail behaviour when collapsed (waiting fo

[2021-07-07 15:17] AlanGreene opened #2116 "Move display of PipelineResources from StepDetails to TaskRunDetails"
PipelineResources are specified at the Task level, not at the step level, and this should be reflected in the UI.

Our current display of Input / Output PipelineResources in the StepDefinition component should be moved to a 'Resources' tab in the TaskRunDetails component, between the existing 'Parameters' and 'Results' tabs.

**Note:** the `showIO` prop in the PipelineRun component should be respe

[2021-07-13 11:24] #2049 closed

[2021-07-14 07:29] rouke-broersma opened #2128 "Readonly dashboard still has delete button"
# Describe the bug

When we deploy the tekton dashboard as readonly, TaskRuns have a delete button when you select one or more items. This delete button actually deletes the TaskRuns.

# Expected behaviour

In readonly mode nothing should be modifyable using the dashboard.

# Environment details

<html>
<body>
<div class="tkn--table" id="tkn--about--dashboard-table" style="box-sizing: border-box;

[2021-07-14 09:55] AlanGreene commented on #2128
Thanks for reporting @rouke-broersma. I do see the checkboxes on TaskRuns and have identified the bug but it looks like a purely UI issue. When I attempt to delete the TaskRuns it is blocked as expected due to missing permissions, e.g.:

[code]

Can you confirm that the TaskRuns are actually deleted when you click the button?

What Kubernetes platform are you running this on? e.g. Docker Desktop,

[2021-07-14 10:02] rouke-broersma commented on #2128
We are running on AKS and I can confirm that the delete action actually deletes the taskruns.

[2021-07-14 10:23] AlanGreene commented on #2128
Can you verify the contents of the `tekton-dashboard-tenant` ClusterRole, for TaskRuns it should only have `get`, `list`, and `watch` enabled.

[code]

How did you install the Dashboard? Was it a fresh install or an update to a previous install? If updating a previous install, was that also in read-only mode?

[2021-07-14 10:59] rouke-broersma commented on #2128
If I'm understanding the ClusterRole correctly this is the relevant part of our manifest:

[code]

The dashboard manifest was updated from:

[code]

To:

[code]

And also from v0.17.0 to v0.18.0 at the same time.

[2021-07-14 11:11] AlanGreene commented on #2128
We provide a read-only manifest in our releases to ensure the deployment args, RBAC, etc. are all properly aligned. See for example https://github.com/tektoncd/dashboard/releases/download/v0.18.0/tekton-dashboard-release-readonly.yaml or https://storage.cloud.google.com/tekton-releases/dashboard/previous/v0.18.0/tekton-dashboard-release-readonly.yaml depending on your preferred source.

However, y

[2021-07-14 12:04] rouke-broersma commented on #2128
I will do that thank you! We probably assumed setting the pod to read-only would be sufficient.

[2021-07-14 12:28] AlanGreene commented on #2128
We're actually considering moving away from the current coarse 'readonly' deployment arg and hoping to adopt more granular / fine-grained control via (Self)SubjectAccessReview requests and similar. This way folks can configure the RBAC to suit their needs and the Dashboard UI will adapt accordingly. For example, some may want to allow users `create` resources, but NOT `delete` them. This would als

[2021-07-14 13:42] AlanGreene commented on #2128
v0.18.1 is available now with the fix to hide the checkboxes / delete button

[2021-07-14 15:45] rouke-broersma commented on #2128
That's awesome!

[2021-07-14 23:37] shinji62 commented on #972
@AlanGreene Any update on this one ? We will need to do that too, and not sure how Tekton Dashboard is going to handle that.

[2021-07-15 02:25] wingyplus commented on #972
@shinji62 Currently it's still blocking by #1445. I've worked on color on that issue but I've no time to look it more on that issue at the moment.

[2021-07-15 07:39] rouke-broersma commented on #2128
The fixed dashboard hides the delete button correctly, and changing to the readonly ClusterRole fixed the api permissions! Thanks!

[2021-07-15 07:39] #2128 closed

[2021-07-15 12:19] taechonkim commented on #2116
@AlanGreene Hi I want to work on this issue, I'll appreciate to assign to me 🙂

[2021-07-15 13:43] AlanGreene commented on #2116
Thanks @taechonkim, feel free to work on this. Let me know if you have any questions.

[2021-07-18 12:26] taechonkim commented on #2116
@AlanGreene Hi Alan :) I worked on this issue at https://github.com/tektoncd/dashboard/pull/2135
It would be appreciated if you could check it out.
And, I wonder how can i trigger prow test jobs. (pull-tekton-dashboard-***-tests)
I look forward to hearing from you. :)
Thank you 🙂

[2021-07-18 15:26] taechonkim commented on #2114
@AlanGreene Hello 🙂 I'm interested in work on this feature.
I understood the requirement of the feature from https://tekton.dev/docs/pipelines/pipelineruns/#pending-pipelineruns
I think that it should added checkbox in the 'Optional values' fieldset to create Pending PipelineRuns for satisfying the feature.
And I think it should provides the feature through UI like button to start Pending Pipeline

[2021-07-18 15:29] AlanGreene commented on #2114
Thanks for your interest @taechonkim, however @LyndseyBu is already working on this feature.

[2021-07-18 15:34] taechonkim commented on #2114
@AlanGreene Oh, I just checked https://github.com/tektoncd/dashboard/issues/2069 :( Sorry.
I think I only need to implement the ability to create Pending PipelineRuns, right?

Thanks for your quick reply :)

[2021-07-18 15:47] AlanGreene commented on #2069
This was added in #2106, thanks @lilley2412
/close

[2021-07-18 15:47] #2069 closed

[2021-07-18 15:49] AlanGreene commented on #2114
As I mentioned, @LyndseyBu is working on this feature to add the option to Create PipelineRun in pending state. #2069 is a different feature and has already been completed.

[2021-07-18 16:00] taechonkim commented on #2114
@AlanGreene Sorry to bother you 😭 I'll find another issue to work on. Thank you!

[2021-07-18 16:03] AlanGreene commented on #2114
No problem at all, feel free to comment on another issue / feature that you're interested in 😸

[2021-07-19 14:21] taechonkim commented on #2115
/assign

[2021-07-20 12:03] AlanGreene commented on #2116
Closed by #2135

[2021-07-20 12:03] #2116 closed

[2021-07-20 12:08] AlanGreene commented on #327
Autoscroll was added in https://github.com/tektoncd/dashboard/pull/2119. It's included in the latest nightly builds since 2021/07/13 and will be included in the next Dashboard release (v0.19.0 due in ~1-2 weeks).

[2021-07-20 12:08] #327 closed

[2021-07-21 14:15] taechonkim commented on #2115
@AlanGreene Hi :)
I haven't found reference that you said as 'common pattern'.
Where can I find reference site that you said as 'common pattern'? (help/settings menu placed bottom)

[2021-07-21 16:54] AlanGreene commented on #2115
Where can I find reference site that you said as 'common pattern'? (help/settings menu placed bottom)

Here are some examples from popular apps / services showing either a settings / profile option at the bottom of the nav, or other useful links separate from the main navigation items.

<div>
<img alt="Twitter navigation" src="https://user-images.githubusercontent.com/2829095/126526988-a349cde7-ba

[2021-07-22 12:32] taechonkim commented on #2115
@AlanGreene Thanks for reply :)
I worked on an issue yesterday using flexbox, justify-content properties.
I checked GCP console, it uses flexbox, flow-grow properties.
Please check if (https://github.com/tektoncd/dashboard/pull/2139) you have time :) Thank you

[2021-07-26 15:02] hokadiri opened #2145 "Add timestamps fo console log"
# Is your feature request related to a problem ?
Lack of timestamps in console log makes it impossible to know how long each command run making it difficult to profile & find bottlenecks in a step

# Describe the solution you'd like
Include timestamps to console log outputs.

# Describe alternatives you've considered
Prepending each cmd line call with [moreutils](http://joeyh.name/code/moreutils/)

[2021-07-26 15:19] AlanGreene commented on #2145
Thanks for the feature request @hokadiri.

This should be relatively straightforward to add as a preference in the UI. The Kubernetes API already supports this and we just need to pass the correct query param on the request for the logs (`&timestamps=true`).

We're already working on a settings UI for dark mode, so it would make sense to include this preference in the same place.

/assign

[2021-07-28 12:28] #2114 closed

[2021-07-28 15:30] #2115 closed

[2021-07-28 20:42] mdreizin commented on #2087
Do you have any updates? :)

[2021-07-29 10:20] AlanGreene commented on #2087
No updates on this feature just yet. We're coming to the end of a major refactoring effort that touched almost every part of the application. Once that's complete we'll be reevaluating the open feature requests and this is one of the high priority items.

[2021-07-29 12:54] mdreizin commented on #2087
Thank you very much for sharing updates.

[2021-07-29 15:56] AlanGreene commented on #1713
Theme settings added in https://github.com/tektoncd/dashboard/pull/2146
Respects OS settings by default and allows user to override by explicitly choosing either light or dark theme.

[2021-07-29 15:56] #1713 closed

[2021-07-29 16:13] #2145 closed

[2021-07-30 15:49] AlanGreene commented on #1842
#2154 open to remove last remaining use of redux, once that's merged we can clean up the remaining websocket-related code.

[2021-08-05 11:26] AlanGreene commented on #2103
UI components were updated to support displaying Pod and Event information in #2110 but this is not wired up yet.

I have a change ready to switch our websocket approach from a single central firehose to individual connections per kind, created and managed by each page as needed. Once https://github.com/tektoncd/dashboard/issues/1842 is complete I'll open the PR for review (needs to be rebased and

[2021-08-05 12:33] AlanGreene commented on #1388
We should be able to revisit this once #1842 and #2103 are complete as we'll be using a new approach for the websocket connections that's directly compatible with that needed when using `kubectl proxy`.

[2021-08-05 15:17] #1842 closed

[2021-08-05 15:27] AlanGreene commented on #1842
All redux-related code is gone 🎉

Migration to the new websocket model is being done in https://github.com/tektoncd/dashboard/pull/2157 in preparation for https://github.com/tektoncd/dashboard/issues/2103

[2021-08-09 10:14] stefanhenseler commented on #692
@AlanGreene  Is this actively being worked on? For us, it would be really important to support Kubernetes RBAC for authentication and authorization. Similar to https://kiali.io/documentation/latest/configuration/authentication/token/ and https://github.com/kubernetes/dashboard/blob/master/docs/user/access-control/README.md#bearer-token. We use Pomerium, Authservice + Istio to generate tokens and p

[2021-08-09 10:21] AlanGreene commented on #692
It's one of the high priority items on the roadmap. Last week we completed a significant refactoring effort affecting the entire application that makes some aspects of this much easier to approach so we'll be revisiting it the near future to evaluate next steps.

[2021-08-09 10:24] mlbiam commented on #692
@AlanGreene i wrote the token auth for kiali and the impersonation auth for both kiali and the k8s dashboard.  where in the dashboard code would be go source where the services are handled?  all i see is main.go

[2021-08-09 13:14] AlanGreene commented on #692
If using an auth proxy in front of the Dashboard, [v0.19.0](https://github.com/tektoncd/dashboard/releases/tag/v0.19.0) (which was just released in the last few minutes) should already support passing through `Impersonate-*` and related headers so there is some basic support for using Kubernetes RBAC to control access.

Today we display all actions / navigation items (assuming the Dashboard is not

[2021-08-12 11:23] Fabian-K opened #2168 "external-logs broken since 0.19.0"
# Describe the bug

We use the --external-logs feature to retrieve logs. This was working fine, however, it stopped working after we upgraded to 0.19.0. Our log service does not seem to receive any requests any more.

Looking at the network tab of the browser, I can see a request to `proxy/api/v1/namespaces/site-tpt/pods/uiveri5-bsw6l-uiveri5-f22xp-pod-pss2b/log?container=step-uiveri5` returning 4

[2021-08-12 14:02] Fabian-K commented on #2168
We have Istio running in the cluster and expose the dashboard via a `VirtualService`

[2021-08-12 16:19] mike-sirs commented on #2168
I can confirm, we have the same issue with external logs.

[2021-08-13 10:13] #2168 closed

[2021-08-13 12:18] AlanGreene commented on #2168
Fix was merged and will be available in the next nightly build.

[2021-08-13 13:49] torrescd opened #2171 "Imposible to enter/change an array parameter thought UI"
# Describe the bug

Imposible to enter/change an array parameter thought UI.

All input changes seems to be transformed to string. (Default untouched arrays work well)

# Expected behaviour

Some way to enter/change an array parameter

# Steps to reproduce the bug

- Task with array parameter
- Change default value
- Create taskrun

# Environment details

dashboard	v0.18.1

tekton-pipelines Versio

[2021-08-13 18:14] AlanGreene commented on #2171
Thanks for opening this issue @torrescd. I'm converting it to a feature request since it's not something we've supported in any Dashboard release so far but would be a good addition.

There are a number of ways we could present this in the Create PipelineRun / TaskRun UI.
Some initial thoughts:
1. a simple textarea where each array item is entered on a separate line
2. similar to the labels / node

[2021-08-13 20:55] torrescd commented on #2171
Thank you for consider the request.

Maybe another possibility to process the array value always as a yaml array, able to be parsed. e.g.

[code]

Currently, when the default value is displayed is showing a comma-separated list, but is not able to be parsed if you enter a new list, maybe this list format working is another option.

Regards!

[2021-08-15 18:41] dippynark opened #2172 "Support displaying a subset of resources"
There are a few issues similar to this but none of them are quite suitable for our use case.

# Describe the solution you'd like

We are running a platform, using Tekton Pipelines to drive the automation, and we want to expose PipelineRun logs to each customer without them being able to see the logs of other customers. The simplest way I could see of achieving this is supporting a Tekton Dashboard

[2021-08-25 12:50] #2103 closed

[2021-08-26 14:13] mustaFAB53 opened #2180 "Tekton dashboard interactive tutorial in Katacoda fails for cluster version 1.18"
Tekton dashboard interactive tutorial in Katacoda fails for cluster version 1.18
[code]

Please upgrade the tutorial to create the cluster of required version considering latest releases

[2021-08-26 14:20] #2180 closed, assigned to nobody

[2021-08-28 20:18] Adiqq opened #2181 "Cannot set property 'source' of undefined"
# Describe the bug
Error message in `#/taskruns/create`  page after selecting `Input PipelineResources` of type `git`. It's possible to re-run this `TaskRun` from Dashboard, but it's not possible to create new `TaskRun` from this `Task` using Dashboard
[code]

# Expected behaviour

No error message, if some element cannot be handled properly, it should be possible at least to select by name withou

[2021-08-29 14:28] AlanGreene commented on #2181
Thanks for reporting the issue @Adiqq. I've reproduced it and believe I have a fix: https://github.com/tektoncd/dashboard/pull/2182

I'd also recommend switching your Task definition to use the v1beta1 API.

[code]

[2021-08-29 17:57] AlanGreene commented on #2172
Thanks for the feature request @dippynark however this is not something the Tekton Dashboard will support directly. The Dashboard relies on Kubernetes RBAC for access control, and using label selectors is not possible. A number of the reasons for this are discussed in detail in https://github.com/kubernetes/kubernetes/issues/44703, https://github.com/kubernetes/kubernetes/issues/56582, https://git

[2021-08-29 17:57] #2172 closed

[2021-08-30 13:37] AlanGreene commented on #2180
Thanks for reporting the issue @mustafa-rean, this is already being tracked in https://github.com/tektoncd/website/issues/290 and there's a PR open to pin the Tekton releases used for the tutorials to versions that will work with Kubernetes 1.18.

[2021-08-30 14:09] #2181 closed

[2021-08-31 04:57] cameronbraid opened #2183 "Upgrade from 0.18.0 to 0.19.0 results in API errors"
kubernetes v1.21.1

I had a working dashboard v0.18.0, after upgrading to 0.19.0 I get the following error :

[code]

And an example error in network dev tools

https://.../proxy/apis/tekton.dev/v1beta1/pipelineruns/

[code]

[2021-08-31 11:39] AlanGreene commented on #2183
How did you upgrade to v0.19.0?

Can you compare the role(binding)s applied on your cluster with those defined in the Dashboard release manifest?

Permission to list PipelineRuns is granted in the ClusterRole `tekton-dashboard-tenant`.

[2021-08-31 21:27] dasxx17 opened #2185 "Log Persistence Walkthrough Files Empty"
# Describe the bug

Following https://github.com/tektoncd/dashboard/blob/main/docs/walkthrough/walkthrough-logs.md, despite the files being written to the bucket, when downloading the files they are all empty.  I have tried modifying the format of the file as well to no avail, and I also enabled --stream-logs=true (not sure if this is necessary) in my dashboard deployment.  All of the FluentD logg

[2021-08-31 21:27] dasxx17 commented on #2185
CC @AlanGreene

[2021-09-01 10:48] AlanGreene commented on #2185
Thanks for reporting @dasxx17. I think this was an oversight when the external logs feature was added, it looks like the open / download links have never worked for external logs.

I'll work on a fix, should be a relatively small change 🤞

[2021-09-02 23:12] dasxx17 commented on #2185
Hi @AlanGreene not sure if this is related to the lack of the open/download links feature for external logs, but when configuring the fallback I am not seeing the logs appear again in my dashboard.  I have the external-logs flag configured as per the tutorial:
` - --external-logs=http://logs-server.tools.svc.cluster.local:3000/logs`

But I am still seeing the `Unable to fetch logs` message when br

[2021-09-03 10:10] #2185 closed

[2021-09-03 21:07] dasxx17 opened #2196 "Logs Persistence Fallback not Loading"
## Describe the bug

Not sure if this is related to the lack of the open/download links feature for external logs in v0.19.0, but when configuring the fallback I am not seeing the logs appear again in my dashboard. I have the external-logs flag configured as per the tutorial:
- --external-logs=http://logs-server.tools.svc.cluster.local:3000/logs

But I am still seeing the Unable to fetch logs mess

[2021-09-03 21:08] dasxx17 commented on #2196
CC @AlanGreene (have not tested with the latest PR, not sure the quickest way to get the API updates from HEAD without building it)

[2021-09-04 16:37] AlanGreene commented on #2196
@dasxx17 there have been a few changes to external logs since v0.18. You could try the latest nightly build which includes the fix for the open/download links: https://storage.googleapis.com/tekton-releases-nightly/dashboard/latest/tekton-dashboard-release.yaml

Let me know if that resolves the issue for you. I'll most likely be releasing v0.20 on Monday so that build should be pretty close to wha

[2021-09-06 12:08] AlanGreene commented on #2183
Closing.  If you're still seeing this feel free to reopen with additional info to help reproduce and debug the issue.

[2021-09-06 12:20] AlanGreene commented on #2196
There was an issue in at least one scenario where v0.19 wasn't correctly proxying requests to the external logs service that has since been fixed.

v0.20 is out now. I re-tested the external logs walkthrough in a clean environment with Dashboard v0.20 and it's working as expected. 🤞

If the new release doesn't resolve the problem for you we can reopen this issue.

[2021-09-06 13:25] tmshn opened #2199 "Stop exposing k8s API directly"
# Is your feature request related to a problem ?

Currently tekton-dashboard exposes the raw kuberenetes API under `/proxy`. You can fully list, get or update resources as you can do with `kubectl`, but in the name of `tekton-dashboard` service account.

While its permissions are limited by (Cluster)?RoleBindgs (I love the "readonly" version!), I believe some of them are only required by backend (

[2021-09-06 13:34] tmshn commented on #2199
Seems related: https://github.com/tektoncd/dashboard/issues/692

[2021-09-06 14:37] AlanGreene commented on #2199
@tmshn thanks for opening the issue however this is by design and we will be making further improvements to access control in the future.

As you correctly mentioned, https://github.com/tektoncd/dashboard/issues/692 is one of the related issues. The Dashboard itself will not be adding support for authentication / user profiles etc., however it does support passing through headers from an authentic

[2021-09-06 14:37] #2199 closed

[2021-09-06 15:28] AlanGreene commented on #2199
I did spot some unnecessary RBAC settings:
- Services: no longer required, I'll remove this
- ServiceAccounts: should only be required in read-write mode, I'll move them out of the base role and into the patch instead

[2021-09-06 15:30] AlanGreene opened #2200 "Remove unnecessary RBAC"
- Services: no longer required
- ServiceAccounts: should only be required in read-write mode, move them out of the base role and into the patch instead

_Originally posted by @AlanGreene in https://github.com/tektoncd/dashboard/issues/2199#issuecomment-913728867_

[2021-09-06 22:09] cameronbraid commented on #2183
I cant see a way to re-open.

Additional information :

* the manifests are the same
* I deploy using html template to file then kapp apply to deploy
* I also verified by fully removing the previous version before installing the new version rather than doing an upgrade and still have the same issue

[2021-09-06 22:21] cameronbraid commented on #2183
fyI the yaml diff when upgrading from v0.18 to v0.20 for the clusterrole is :
[code]

[2021-09-06 22:23] cameronbraid commented on #2183
I think I have found the issue.  I run istio and have an EnvoyFilter configured for authentication :

[code]

So I guess tekton dashboard (since v0.19) is seeing the authentication headers that `envoy.filters.http.ext_authz` is providing and causing the issue.  Any pointers on a way to workaround this ?

[2021-09-07 11:35] AlanGreene commented on #2183
I'm not very familiar with Istio but suspect it's forwarding the `Authorization` header to the upstream service which is then not recognized by Kubernetes and rejected. If there's a way to prevent this being forwarded that should resolve the issue. From a quick look at the Istio docs it looks like there may be some options depending on your version etc., either a Lua filter to remove the header af

[2021-09-07 12:00] AlanGreene commented on #2183
https://www.envoyproxy.io/docs/envoy/latest/api-v3/service/auth/v3/external_auth.proto

See `headers_to_remove`:

[2021-09-07 18:46] dasxx17 commented on #2196
@AlanGreene thanks for the reply.  I applied v0.20 and deleted my entire tools namespace.  I then redid the entire walkthrough verbatim (with the exception of modifying the ACCESSKEY and SECRETKEY for the S3 bucket) and am still unable to both download the log falls and have the logs fallback successfully.  All my log pods are still healthy as well as my tekton pods, and I am able to view the log

[2021-09-07 23:35] cameronbraid commented on #2183
You are correct in regards to the Authorization header.  And thanks heaps for that information as it guided me to the solution - configure the external authentication service to return a custom header : `x-envoy-auth-headers-to-remove: Authorization`

So in my case, using https://github.com/travisghansen/external-auth-server I configure my clear text `x-eas-verify-params`  config as follows :

[co

[2021-09-08 08:58] AlanGreene commented on #2183
Glad I could help 😸
/close

[2021-09-08 08:58] #2183 closed

[2021-09-08 09:50] #1972 closed

[2021-09-08 09:55] AlanGreene commented on #2196
I've been testing on IKS (1.20), OpenShift CodeReady Containers(OpenShift 4.7), and [kind](https://kind.sigs.k8s.io/) (Kubernetes 1.20 + 1.21)

I'll run through the walkthrough again on a new kind cluster with 1.18 and see how it goes

/reopen

[2021-09-08 10:29] #2200 closed

[2021-09-08 11:54] AlanGreene commented on #2196
I've just run through the walkthrough with Kubernetes 1.18 and I had to make a few changes to the ingress definitions to work with that version. Here are the steps I modified to match your versions:

- creating the cluster, specify the node image so we get Kubernetes 1.18 instead of the latest available version
[code]
- install Pipelines v0.26.0 instead of latest
  `kubectl apply -f https://storag

[2021-09-08 17:16] wingyplus commented on #1972
Wow. Finally it’s landed. 🎉

[2021-09-08 19:16] AlanGreene commented on #1972
Thank you for your work on this @wingyplus, it made finally enabling this much easier 😸

[2021-09-08 21:22] dasxx17 commented on #2196
Hi @AlanGreene thanks for the very detailed reply.  I am suspecting that there is indeed some issue with my Ingress, as I am not able to see the Logs Server with my host name.  I received a 502 and 404 for both the requests to the Dashboard external logs proxy following what you said after deleting the pod:
`https://my-host-name/v1/logs-proxy/tekton-pipelines/sample-rqgvk-gen-log-fls7q-pod-svh7r/s

[2021-09-09 09:19] AlanGreene commented on #2196
The restarting `logs-server` is definitely unexpected, check the logs for that pod to see if there's any clue as to why it's continually failing. The 502 error response makes sense if the Dashboard is unable to proxy requests to the logs-server.

When you say your minio server is running on localhost do you mean on the host machine? How are you exposing it to services running in the cluster? Can y

[2021-09-10 10:42] AlanGreene commented on #2087
As discussed today, @briangleeson and Jerh will take a look at this over the next 2 weeks to determine the current state of Dashboard support for Tekton Bundles, and options for improving this based on information already available in the TaskRun/PipelineRun.

We need to test a number of scenarios where TaskRun / PipelineRun references bundles, including:
- no definitions applied on-cluster (i.e.

[2021-09-21 13:26] AlanGreene commented on #2196
Closing as this doesn't seem to be related to the Dashboard itself or the walkthrough, but more a config / environment issue with a custom setup. If you've managed to resolve your issue and think it might be helpful to others a PR to update the walkthrough with a short note describing the problem/fix would be welcome.

[2021-09-21 13:26] #2196 closed

[2021-09-29 10:20] DrissiReda opened #2214 "SSO everything forbidden after login"
I'm deploying tekton dashboard and oauth2-proxy in kubernetes. I'm using keycloak that is inside my kubernetes cluster for sso. So the user goes through oauth2-proxy and is then redirected to tekton-dashboard after successful login. My configuration works and I can login successfully, but once I'm logged in the dashboard displays "Unauthorized" everywhere, and the logs of oauth2-proxy show this:

[2021-09-29 12:14] AlanGreene commented on #2214
This is most likely caused by an invalid bearer token being passed in the Authorization header on requests to the Dashboard upstream.

If you're not expecting the Dashboard to authenticate with the user's token instead of the Dashboard's own ServiceAccount you can prevent the proxy from forwarding the header on upstream requests. Add the command line argument `--pass-authorization-header=false` or

[2021-09-29 12:26] DrissiReda commented on #2214
thank you very much, that works, but if I use the Auth header, can I restrict access to specific namespaces for different roles? Using kubernetes `rbac`

[2021-09-29 12:44] AlanGreene commented on #2214
Yes this should be possible by modifying the default roles / bindings provided by the Dashboard, although it's not officially supported / documented yet.

The `Authorization`, `Impersonate-User`, `Impersonate-Group`, and other related headers are passed through to the Kubernetes API server to handle auth.

The Dashboard will display errors (as you've seen) for anything it is unable to access or an

[2021-09-29 15:26] AlanGreene commented on #692
That's great to hear, thanks for testing it and confirming @mlbiam. Yes I think some docs would be enough to close this one out. Would you be interested in contributing them? It doesn't have to be very detailed, even just a high level overview of the required changes so someone else could attempt to replicate it in their environment.

The remaining updates related to cleaning up the UI / handling

[2021-09-29 15:27] mlbiam commented on #692
@AlanGreene i'd be happy to!

[2021-09-30 14:13] afrittoli commented on #1970
It might be difficult or actually not possible for the dashboard to stay on top of the various custom controller.
I think a nice approach would be to build some kind of interface on the dashboard side that allows custom controller developers to maintain the dashboard components for their custom resource.
I have no idea how that would look like in practices though.

[2021-10-06 15:36] mlbiam commented on #692
@DrissiReda I didn't use oauth2-proxy.  I used OpenUnison with impersonation, so we pass the `Authorization` header of the service account of the proxy (openunison) and then embed impersonation headers to identify the user and groups.  tekton-dashboard then passes those to the API server

[2021-10-12 23:15] dmikalova commented on #2183
I was getting the same issue in [Traefik - setting ](https://doc.traefik.io/traefik/v2.0/middlewares/basicauth/#removeheader)`removeHeader: true` fixed the issue. Thanks!

[2021-10-14 22:12] #1945 closed

[2021-10-28 15:49] DrissiReda opened #2226 "Limit dashboard to some namespaces"
Is it possible to limit dashboard access to some namespaces?
I know you can limit it to a single namespace through the flag `--namespace`. But is it possible to supply multiple namespaces to watch?

[2021-10-28 16:31] #2226 closed, assigned to nobody

[2021-11-02 16:50] #2087 closed

[2021-11-03 15:11] mdreizin commented on #2087
@AlanGreene Thank you for sharing great news! we will try to use it and I let you know.

[2021-11-03 15:18] mdreizin commented on #2087
@AlanGreene I am sorry of asking. Could you please share a link where I can find nightly builds?

[2021-11-03 16:52] AlanGreene commented on #2087
No bother at all. Latest nightly is at:

- default install https://storage.googleapis.com/tekton-releases-nightly/dashboard/latest/tekton-dashboard-release.yaml
- read-only install https://storage.googleapis.com/tekton-releases-nightly/dashboard/latest/tekton-dashboard-release-readonly.yaml

[2021-11-11 03:45] love477 opened #2235 "Tekton dashboard load too slowly"
# Is your feature request related to a problem ?
Tekton dashboard pipelineRuns resource plane load too slowly: 20 seconds. The reason for this problem is the api response is too large, almost 50M. Parse so large json is difficulty for browser.
Have some methods to solve this problem？

[2021-11-11 16:19] AlanGreene commented on #2235
With responses this large it's not just the Tekton Dashboard that slows down, you'll also see slower responses using kubectl or other tools to inspect resources on the cluster. If possible you could filter the list using a set of known labels that are of interest to you so that only the matching resources are requested. Similarly, ensure you're only viewing resources for the desired namespace by u

[2021-11-12 11:49] AlanGreene commented on #2171
We still want this, freezing so it doesn't get auto-closed.
/lifecycle frozen

[2021-11-13 13:15] AlanGreene commented on #1969
This is done. Nightly releases are successfully using the new pipeline and are signed with Chains 🎉

The v0.22 release (due next week) will also use this new pipeline and be signed.

[2021-11-13 13:15] #1969 closed

[2021-11-16 19:17] mdreizin commented on #2087
@AlanGreene We have just installed released version and it works well without any issues. Thank you very much for implementing it!

[2021-11-16 19:25] AlanGreene commented on #2087
Glad to hear it's working well for you

[2021-11-18 17:25] #2235 closed

[2021-11-23 12:50] AlanGreene opened #2242 "Proxy sends invalid Header"
@triantium commented on [Tue Nov 23 2021](https://github.com/tektoncd/community/issues/565)

# Expected Behavior

An Proxyrequest with an GET Method should not have a Content-Type Header

# Actual Behavior

An GET-request with the Header "Content-Type: '' "  is sent.

# Steps to Reproduce the Problem

1. Set external-logs-server
1. Call tekton-dashboard:9097/v1/logs-proxy/namespace/pod/container w

[2021-11-23 13:07] AlanGreene commented on #2242
/kind bug

[2021-11-23 13:31] #2242 closed

[2021-11-24 12:07] AlanGreene opened #2243 "Update the design and content of the About page"
Update the design and content of the about page to provide more useful information to the user and make better use of the available space.

We should continue to provide information about the Tekton projects installed in the cluster (Dashboard, Pipelines, Triggers) as well as any particular configuration of interest, e.g. Dashboard read-only mode.

It would also be helpful to provide additional in

[2021-11-24 12:09] AlanGreene opened #2244 "Update error page"
Update and unify our current error handling to display more useful content to the user in case they hit a bad link, or try to access some feature or resource to which they do not have access.

This will be particularly useful when we make more progress on https://github.com/tektoncd/dashboard/issues/1420 and related issues.

[2021-11-26 11:29] briangleeson opened #2247 "Error state briefly shows before loading state when opening PipelineRun or TaskRun"
# Describe the bug
When opening a PipelineRun or TaskRun (and possibly other resources), the error state briefly shows on the page before the loading state takes effect, and then the pages finishes loading.

# Expected behaviour
We shouldn't render any error state when opening a resource until after all the loading has been completed

# Steps to reproduce the bug

1. Click on the link to open a Pi

[2021-12-02 17:14] jerh616 opened #2256 "Allow creation of runs from Pipelines and Tasks pages"
Users can currently create a pipeline or task run from the PipelineRuns and TaskRuns pages. In cases where the pipeline I want to create a ruin for is not on the initial dashboard page I need to go digging and it would be useful to also be able to create a run from the Pipeline or Task list pages.

This could be achieved with an icon or overflow menu on rows in the Pipelines or Tasks list pages an

[2021-12-02 17:16] AlanGreene commented on #2256
Thanks for the request, this makes a lot of sense. I've added it to our backlog.

[2021-12-02 18:16] AlanGreene opened #2257 "Improve URL addressability for PipelineRun and TaskRun Create pages"
## Problem

Today when a user clicks the 'Create' button from either PipelineRun or TaskRun list which has been filtered to display the runs for a single Pipeline or Task/ClusterTask, the create form is pre-populated with some information such as the relevant namespace and selected Pipeline / Task.

This is achieved by providing the Pipeline / Task name as a query parameter on the URL. However, if

[2021-12-03 07:14] taechonkim opened #2259 "How to use static string value as PipelineResource"
# Describe the solution you'd like

I want to use predefined string value as PipelineResource.
When I trigger Pipeline through tekton dashboard, select predefined string value as PipelineResource, then I want to use these values in PipelineRun.

For example, PepelineResource named 'resource-1' has value 'string-1'.

According to [documentation](https://tekton.dev/docs/pipelines/resources/#resource

[2021-12-03 11:06] AlanGreene commented on #2259
PipelineResources are deprecated and will be removed from Tekton PIpelines in a future release: https://github.com/tektoncd/pipeline/blob/main/docs/deprecations.md

The Dashboard only operates on the features and functionality available through the Tekton CRDs. Parameters are currently either strings or arrays, there's no support for enums for example to provide a predefined selection of options f

[2021-12-03 11:06] #2259 closed

[2021-12-03 15:26] AlanGreene commented on #2256
This depends on https://github.com/tektoncd/dashboard/issues/2257. There's a PR open to implement that feature, and once merge we can tackle this one.

[2021-12-03 16:18] AlanGreene opened #2261 "Add missing actions to details pages"
There are some actions available on the PipelineRuns / TaskRuns list pages that are not available on the details pages for a single resource of those types, e.g. delete.

- On the PipelineRun details page we currently display a 'Rerun' action in the top right corner of the header.
- On TaskRun details, this is only present for standalone TaskRuns (i.e. not part of a PipelineRun).
- We also have a

[2021-12-06 12:36] #2256 closed

[2021-12-06 12:36] #2257 closed

[2021-12-06 12:41] kamilzal commented on #2244
### **Final outcome**
Assets: **[robocat_404.svg.zip](https://github.com/tektoncd/dashboard/files/7660707/robocat_404.svg.zip)**

<img width="1312" alt="404_1" src="https://user-images.githubusercontent.com/35368089/144846077-f2f614b3-92f2-4187-adbe-79213e613361.png">
---

### **Illustration size @ 1312px width**

<img width="1312" alt="404_2" src="https://user-images.githubusercontent.com/3536808

[2021-12-06 12:48] kamilzal commented on #2243
### Final outcome
Assets:

1. **[robocat_zoom.svg.zip](https://github.com/tektoncd/dashboard/files/7660720/robocat_zoom.svg.zip)**
2.  **[pictograms.zip](https://github.com/tektoncd/dashboard/files/7660753/pictograms.zip)**

<img width="1312" alt="home_1" src="https://user-images.githubusercontent.com/35368089/144847603-00e1db36-e2db-4edd-962e-2a5834ad9e81.png">
---
</br>

### Spacing and Alignmen

[2021-12-07 09:39] gigatesseract opened #2263 "Pagination in Dashboard view"
# Is your feature request related to a problem ?
We run pipelines on a regular basis and the dashboard becomes unresponsive sometimes when there are a large number of rows to load.

# Describe the solution you'd like
Support for pagination. A given user does not have any requirement to view more than a few pipelineruns at once, in general.
We can paginate data and lazily load data from the cluster

[2021-12-07 15:09] AlanGreene commented on #2263
Thanks for raising the issue @gigatesseract, this is a popular request we've heard in the past. We agree that it's an important feature but it's not something we're going to implement at this time due to limitations of the Kubernetes API.

See https://github.com/tektoncd/dashboard/issues/1978#issuecomment-796636018 for more related discussion and details about the proposed plan. Closing for now.

[2021-12-07 15:09] #2263 closed

[2021-12-07 15:12] AlanGreene commented on #2243
PR #2264 open to implement most of this. The tiles for the docs links are slightly different in that PR but we will revisit this early in the new year to fully implement the remainder of the design.

[2021-12-13 10:53] #2244 closed

[2021-12-14 06:57] #1840 closed

[2021-12-17 06:18] waveywaves opened #2268 "Interactive debug shell for TaskRun"
# Is your feature request related to a problem ?

No, it's related to a the debug feature in Tekton Pipelines.

# Describe the solution you'd like

The UI for the debug shell would look something similar to the GCP's cloud shell.
1. Make it possible for users to run/rerun a TaskRun after enabling the following spec via a button called (rerun with debug enabled: on failure).
[code]
2. If halted at

[2022-01-10 12:28] daira opened #2276 "Times on the dashboard are too imprecise to be useful"
The PipelineRuns view has a "Created" column which says, for example, "yesterday" for any creation time between... well, I don't know exactly. Is it between 24 and 48 hours ago, or yesterday as a calendar day? In which timezone? In any case it's not very useful, and I can't see any way to get a more precise time. Even the page for the specific PipelineRun just says "yesterday" in this case.

Examp

[2022-01-10 13:03] AlanGreene commented on #2276
Thanks for raising the issue @daira and sharing your feedback and opinion.

This is how it's currently implemented. Anywhere in the Dashboard UI that a relative time is displayed, you can hover over it to see a tooltip with the full date/time.

We originally displayed the full date/time by default but switched to relative times based on overwhelming user feedback.

[2022-01-10 13:03] #2276 closed

[2022-01-10 13:08] str4d commented on #2276
An alternative could be to use "hours ago" as the metric for any relative times that would currently show up as "yesterday"; that would give 24-48x more granularity than at present, while keeping the UX spirit of the current relative time display.

[2022-01-15 18:17] AlanGreene opened #2287 "Improve UI handling of custom RBAC config"
# Is your feature request related to a problem ?

Follow up to https://github.com/tektoncd/dashboard/issues/1420

The Dashboard API (provided by the Kubernetes API server) respects the configured RBAC, whether using the Dashboard ServiceAccount (default) or via user impersonation. This means that a user accessing the Dashboard can only access and act on the resources to which they (or the Dashboar

[2022-01-19 11:17] #692 closed

[2022-01-19 11:17] #1420 closed

[2022-01-21 07:14] larhauga opened #2293 "Skipped tasks shown as pending"
# Describe the bug

Pipelines with tasks that are skipped (like due to non master branch run) is observed to have the state of pending even though it has been skipped. This issue came to us from end-users, which did not understand why the task was still pending.

![image](https://user-images.githubusercontent.com/456305/150386900-b30fce89-af87-47d5-9b7b-9a880f083bb7.png)

# Expected behaviour
We e

[2022-01-21 17:37] AlanGreene opened #2294 "Update to Node 16"
Update to active LTS version of Node, currently 16.x. As part of this we will also move to npm 8.

This update brings performance improvements for CI and local tooling, as well as opening up some interesting opportunities such as using npm workspaces instead of our current use of `lerna`.

Some dependencies we currently use are not compatible with Node 16 so we'll either need to find alternatives,

[2022-01-22 14:22] AlanGreene commented on #2293
Thanks for raising this issues @larhauga. We're currently considering a redesign of this page to improve display of a number of things including when expressions, retries, and more.

[2022-01-24 13:57] #2294 closed

[2022-01-25 10:03] disposab1e opened #2297 "Dashboard with OpenShift oauth-proxy?"
I recognized there is a lot of activity regarding oAuth (and to be honest I read them all) but did not find any solution so far. Is there a chance to get it running. Tried all available switches in oauth-proxy...

I thought the default behaviour is to use the Dashboard ServiceAccount. But whatever I do the ServiceAccount is not used... requests always come as anonymous. Without oauth-proxy the Ser

[2022-01-25 11:16] AlanGreene commented on #2297
You'll need to make sure that the proxy is either NOT forwarding the Authorization header on upstream requests to the Dashboard so that the Dashboard uses its own ServiceAccount, or ensure that the Authorization header contains a valid bearer token for your cluster as that's the value that will be passed to the Kube API server.

https://github.com/tektoncd/dashboard/blob/main/docs/install.md#acces

[2022-01-25 11:16] #2297 closed

[2022-01-25 14:09] disposab1e commented on #2297
@AlanGreene Thx for clarifiaction and having a look at oauth-proxy! Tried all available switches but with no success so far. Posted in openshift-pipelines, let's see. Thx!

[2022-01-25 19:09] doctorpangloss opened #2299 "Dashboard doesn't work on localhost with Safari"
# Describe the bug

Visiting a proxied or forwarded `localhost` path to view the dashboard shows an error in Safari:

`Refused to execute a script because its hash, its nonce, or 'unsafe-inline' does not appear in the script-src directive of the Content Security Policy.`

# Expected behaviour

You should be able to visit the dashboard in `localhost` on Safari.
# Steps to reproduce the bug

[code]

[2022-01-26 12:54] AlanGreene commented on #2299
Thanks for reporting the issue @doctorpangloss. I haven't been able to reproduce it as you described, i.e. I'm not seeing any Content Security Policy related errors. However, I did reproduce a different issue preventing the page from loading in Safari and should have a fix for that soon, related to an update in one of our transitive dependencies that's not compatible with Safari. Perhaps the same

[2022-01-26 13:49] AlanGreene commented on #2299
Fix for the issue I mentioned is available in the latest nightly build: https://storage.googleapis.com/tekton-releases-nightly/dashboard/latest/tekton-dashboard-release.yaml

Hopefully this will fix your issue too and we'll do a v0.24.1 patch release later today with this change once testing is complete.

[2022-01-26 16:30] AlanGreene commented on #2299
v0.24.1 release is out now: https://github.com/tektoncd/dashboard/releases/tag/v0.24.1

Let me know if this resolves your issue.

[2022-01-26 16:36] doctorpangloss commented on #2299
Problem solved on Safari thank you

[2022-01-26 16:36] #2299 closed

[2022-01-26 16:37] AlanGreene commented on #2299
Thanks for confirming and apologies for the disruption 🙏

[2022-01-30 02:14] taechonkim commented on #2261
@AlanGreene Happy New Year 🎉
I want to work on this issue, is there any docs about TaskRun / PipelineRun details page structure (you mentioned last line) before starting work?

[2022-01-30 11:44] AlanGreene commented on #2261
Thanks for your interest in this issue @taechonkim, however the design work for this has just started. It will likely be at least a few weeks before we have details to share and work can start on implementing the changes. I'll share more information as soon as it's available.

[2022-02-10 12:38] AlanGreene opened #2306 "PipelineRun details page design updates"
This issue will be used to track work on the new PipelineRun details page design updates. For now it serves as a central reference point for some of the existing related issues:

- diagram / visualisation: https://github.com/tektoncd/dashboard/issues/675
- YAML view: https://github.com/tektoncd/dashboard/issues/762
- sidecars: https://github.com/tektoncd/dashboard/issues/972
- labels: https://gith

[2022-02-14 20:26] ebabani commented on #1428
Hi,

When using the dashboard our team encountered similar issues with having to know the exact labels used by the tekton resources.

What we ended up doing is update the dashboard so we could set a list of labels that would be used as dropdowns for selecting those label values. This worked for us since we have a common set of labels for our resources. We also allow the filter input for any additi

[2022-02-18 20:12] ebabani commented on #1428
@AlanGreene let me know what you think of the above.

[2022-02-21 10:26] AlanGreene commented on #1428
Thanks for sharing @ebabani. We're considering a different approach that doesn't require specific configuration on the backend, and possibly a more condensed UI, maybe a richer search input UI based on the labels present in the resources.

See some of the previous explorations from https://github.com/tektoncd/dashboard/issues/223, for example (not necessarily the specific design we'll pursue):
![T

[2022-02-26 22:46] ebabani commented on #1428
The updated UI looks great! Looking forward to test that out.

For context, our team that will run/manage tekton is going to provide tools for teams to set up their pipelines, and the developers won't necessarily be Tekton experts or be familiar with every detail of their pipeline. Due to that, discoverability and making sure devs aren't overwhelmed in the UI is one of our goals. Hoping the UI rew

[2022-02-28 01:34] taechonkim opened #2313 "Is there any way to custom PipelineRun name when it's created through dashboard?"
# Is your feature request related to a problem ?
Hi :)
Is there any way to custom PipelineRun name when it's created through dashboard?
I know it's possible to custom PipelineRun name when it's created through TriggerTemplate. (through it's resourcetemplates field)
I can't find any field to enter PipelineRun name in "Create PipelineRun" modal.
I think It'll be so useful to custom PipelineRun name

[2022-02-28 10:10] AlanGreene commented on #2313
@taechonkim Thanks for the feature request. This is not currently supported but would be a useful addition if you're interested in contributing it. We should do the same thing for TaskRun to ensure consistency and it should be a relatively small change to add a new input to the 'Optional values' section.

[2022-02-28 10:43] taechonkim commented on #2313
@AlanGreene I'm interested in contributing this. please assign to me : )

[2022-03-01 11:19] hrbust-liu opened #2318 "v0.24.1 Service not support NodePort"
# Describe the bug

**[tekton-dashboard-release.yaml]
Service not deploy NodePort
I can't access it outside the cluster**

# Expected behaviour
Service yaml change to
`  ports:
    - name: http
      port: 9097
      protocol: TCP
      targetPort: 9097
  type: NodePort`

# Steps to reproduce the bug

# Environment details

- Kubernetes Platform:

- Kubernetes or OpenShift version:

- Install mode

[2022-03-01 11:50] AlanGreene commented on #2318
Thanks for opening an issue @hrbust-liu. By default the Dashboard isn't exposed outside the cluster, this is by design. However, by default we do support 3 different methods of accessing the application depending on your needs:
- `kubectl proxy`
- `kubectl port-forward`
- using an `Ingress`

These are described in more detail in the documentation at https://github.com/tektoncd/dashboard/blob/main/

[2022-03-01 11:50] #2318 closed

[2022-03-01 13:27] hrbust-liu commented on #2318
thanks

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Alan ***@***.***&gt;;
发送时间: 2022年3月1日(星期二) 晚上7:50
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [tektoncd/dashboard] v0.24.1 Service not support NodePort (Issue #2318)

Thanks for opening an issue @hrbust-liu. By default the Dashboard isn't exposed outside the cluster, this is by design. However, by default we

[2022-03-07 17:47] AlanGreene commented on #2243
Just a few small pieces remaining as described in the previous comment.
/remove-lifecycle stale

[2022-03-07 17:50] AlanGreene commented on #2247
One issue resolved by https://github.com/tektoncd/dashboard/pull/2311/files#diff-deb04a3e9f6cab68fd916aa300983e5a7f4dcc2773b7734d0b4faa306c3d338aL39
However there's still an issue with a brief error flash during the loading state on both PipelineRun and TaskRun pages.

/remove-lifecycle stale

[2022-03-11 03:26] TianxiangShen opened #2323 "Add a Fallback function to read External Pod Specs just like what we did for external log"
# Is your feature request related to a problem ?

Hi Community, I recent setup a external log server to provide logs when original logs are not available. But I noticed in most cases when pod logs are missing, the Pod's Specs are also missing (maybe due to the pod is deleted). Since now Tekton dashboard can only fetch external Logs, I think it's better to add a method to fetch External Pod Specs b

[2022-03-11 10:56] AlanGreene commented on #2323
Thanks for the feature request @TianxiangShen. The external logs support is still experimental and subject to change, so any future integration of external sources may not take the same form as the logs solution and there are other considerations in terms of caching, client processing, etc. that are not applicable to logs in the same manner.

Right now I would be reluctant to start adding support

[2022-03-11 11:08] rouke-broersma opened #2324 "UI becomes unresponsive when there are a large number of completed/running taskruns"
# Describe the bug

The browser crashes due to the amount of TaskRuns loaded at the same time

# Expected behaviour

The browser does not crash simply from opening the page

# Steps to reproduce the bug

Have ~1500-2000 completed and/or running taskruns, might probably also happen for other types

# Environment details

- Kubernetes Platform:
Kubernetes
- Kubernetes or OpenShift version:
AKS 1.22.

[2022-03-11 12:30] AlanGreene commented on #2324
Thanks for reporting this @rouke-broersma. It's a known problem when there are a large number of resources on the cluster and has been discussed many times in the past both in GitHub issues and on Slack. We're currently facing some limitations of the Kubernetes API although we do have some plans to address this.

See https://github.com/tektoncd/dashboard/issues/1978#issuecomment-796636018 for some

[2022-03-11 12:37] rouke-broersma commented on #2324
Sorry, I looked through the open issues and could not find anything.

[2022-03-11 12:38] AlanGreene commented on #2324
No problem at all. It took me a while to find them and I already knew what I was looking for 😅

[2022-03-11 12:41] rouke-broersma commented on #2324
On my end it seems like the issue is not necessarily that we have to wait a long time to get the response from the k8s api but rather it seems that the rendering of all the items is the problem. Could the pagination not be performed client side instead, so that at least the items are not all rendered?

[2022-03-11 12:45] AlanGreene commented on #2324
We tried that in the past but it didn't make a difference in terms of the perceived performance, but may be worth investigating again.

Can you share some more details about the number/size of the resources you're working with, the total response size for the list, or some examples? This could be helpful when we try to reproduce the issue and test any potential improvements.

[2022-03-11 12:52] rouke-broersma commented on #2324
The size of the taskrun response is 3MB according to google chrome and takes 12 seconds to load. This contains about 2000 items I think. I don't think it causes much problems when there are no taskruns running, but when the taskruns are running the tab becomes unresponsive and chrome tries to kill the tab. We have about 20 taskruns running at the same time as a maximum, but 10 at the same time is